@charset "UTF-8";
/* container for the calendar and the calenda config below the calendar */
@media all {
#o_cal_manage_calendars {
  float: right; 
  margin-right: 10px; 
  margin-top: 5px; 
}

#o_cal_config_below_cal_container {
	font-size: 80%;
	background: #F2F2F2;
	border: 1px solid #BFBFBF;
	padding: 6px;
	position: relative;
	overflow: hidden;
}
#o_cal_config_below_cal_container div.b_contexthelp_wrapper a.b_contexthelp {top: 0; right: 0; }

.o_cal_embedded_course_container {
	padding-top: 6px;
}

.o_cal_embedded_course_container #b_content_popup {
	position: absolute;
	top: 0;
	right: 0;
}

.o_course_run_peekview .o_cal_peekview ul li {
	list-style: none;
}

/* calendar week view styles */

#o_cal_wv_actions {
	vertical-align: middle;
	line-height: 16px;
	padding-right: 30px;
	float: right; display: inline;
	position: relative;
}

/* week navigation, prev and next button */
#o_cal_wv_nav{
	text-align: left;
	vertical-align: middle;
	line-height: 16px;
	float: left; display: inline;
	position: absolute; top: 5px; left: 5px;
}
.o_cal_wv_prev {
	width: 20px;
	height: 20px;
	background: url(move_left.png);
	background-repeat: no-repeat;
	float: left; display: inline;
}
a.o_cal_wv_prev:hover {
	background: url(move_left_over.png);
	background-repeat: no-repeat;
}
.o_cal_wv_next {
	width: 20px;
	height: 20px;
	background: url(move_right.png);
	background-repeat: no-repeat;
	float: left; display: inline;
}
a.o_cal_wv_next:hover {
	background: url(move_right_over.png);
	background-repeat: no-repeat;
}

/* calendar: height = 20px (header) + 10*20px (hours) + 10*20px (half-hours) */
#o_cal_wv { 
	padding: 0 5px 5px 5px;
	position: relative; width: auto;
}

#o_cal_wv_header_wrapper {
	padding-top:10px;
	position: relative; 
	margin-right: 15px;
	clear: both;
}
#o_cal_wv_header {
	border: 1px solid #888;
	position: relative; width: 99.5%; height: 20px;
 	margin-bottom: 2px;
 	background: #FFF;
}

.o_cal_wv_grid_wrapper {
	position: relative; border: 1px solid #888;	 background: #FFF;
	padding-bottom:1px; /* FF problem with border-bottom */
} 
.o_cal_wv_grid { 
	position: relative; width: auto; height: 600px;
	overflow: scroll ! important; overflow-x: hidden ! important;
}

/* day long events */
#o_cal_wv_daylong {
	border: 1px solid #888;
	position: relative; width: auto; overflow: visible;
	margin-bottom: 2px;
 	background: #FFF;
}
.o_cal_wv_dlday {
	border-left: 1px solid #888; 
	position: absolute; width: 13%;
 	background: #FFF;
}

/* time column */
.o_cal_wv_time { 
	position: absolute; width: 9%;
}
/* time column header row */
.o_cal_wv_legend_hours { 
	margin: 0; padding: 0; height: 20px; 
	text-align: center; color: #888;
}
/* time column time legend rows: height = 40px = 19px (content) + 1px  (border-bottom) */
.o_cal_wv_legend_hour { 
	border-bottom: 1px solid #AAA;
	margin: 0; padding: 0; height: 39px; 
}
/* content wrapper for hour labeling*/
.o_cal_wv_legend_hour div {
	padding: 3px 3px 0 3px; text-align: center; color: #888; 
	overflow: hidden; height: 16px; 
}

/* day column */
.o_cal_wv_day { 
	border-left: 1px solid #888; 
	position: absolute; width: 13%;
	border-collapse: collapse;
 	background: #FFF;
}
/* day column header row */
.o_cal_wv_legend_day { 
	margin: 0; padding: 0; height: 20px; 
}
/* content wrapper for day labeling*/
.o_cal_wv_legend_day div {
	padding: 3px 3px 0px 3px; 
	height: 15px; overflow: hidden;
	text-align: center; color: #888;
}
/* day column hour row: height = 20px = 19px (content) + 1px  (border-bottom) */
.o_cal_wv_hour { 
	border-bottom: 1px dotted #AAA;
	margin: 0; padding: 0; height: 19px; 
}
/* day column hour row: height = 20px = 19px (content) + 1px  (border-bottom) */
.o_cal_wv_half_hour { 
	border-bottom: 1px solid #AAA;
	margin: 0; padding: 0; height: 19px;
}
.o_cal_wv_half_hour:hover {background: #DCDDE0;}
.o_cal_wv_hour:hover {background: #DCDDE0;} 

/* fixed row positioning. 0-row is for time legend (9%), days are 13% each */
.o_cal_wv_row0 { left: 0;}
.o_cal_wv_row1 { left: 9%;}
.o_cal_wv_row2 { left: 22%;}
.o_cal_wv_row3 { left: 35%;}
.o_cal_wv_row4 { left: 48%;}
.o_cal_wv_row5 { left: 61%;}
.o_cal_wv_row6 { left: 74%;}
.o_cal_wv_row7 { left: 87%;}


/* background colors of holiday days and current day */
.o_cal_wv_holiday { background: #E9EAEF;}
.o_cal_wv_today { background: #fff5cc;}

/* remove right border on last day and bottom border on last hour */
.o_cal_wv_lastday {	border-right: 1px solid #888; }
.o_cal_wv_lasthour { border-bottom: 0;}


/* events */
.o_cal_wv_event_wrapper { 
	padding: 0; margin: 0;  padding-bottom: 2px;
	position: absolute; overflow: hidden; z-index: 10;
}
.o_cal_wv_event { 
	border: 1px solid;
	padding: 0; margin: 0; position: relative;
	overflow: hidden; z-index: 10;
}
.o_cal_wv_event_overflow {
	position: absolute; 
	right: 2px; 
	z-index: 20;
}	
	
/* selection hover, works not in IE6 */
.o_cal_wv_event:hover { 
	border-color: #000;
	z-index: 11;
}
/* event header and content, header has always same height */
.o_cal_wv_event_header {
	height: 1em; overflow: hidden;
	padding: 0px 2px 3px 2px;
	font-weight: bold;
	vertical-align: bottom;
}
.o_cal_wv_event_content {
	padding: 1px 2px 1px 2px;
}

/* day long events */
.o_cal_wv_devent_wrapper { 
	padding: 0; margin: 0; 
	position: relative; top: -1px; left: -1px; 
	width: auto; height: 20px;
}
.o_cal_wv_devent { 
	border: 1px solid;
	padding: 0; margin: 0; 
	position: absolute;
	width: 100%; height:19px;
	overflow: hidden;
	z-index: 11;
}
/* selection hover, works not in IE6 */
.o_cal_wv_devent:hover { 
	border-color: #000;
	z-index: 12;
}
/* day event content */
.o_cal_wv_devent_content {
	padding: 1px 2px 1px 2px;
	height: 1em;
	overflow: hidden;
}



/* calendar configuration */
.o_cal_config {
	margin: 2em 0;
	position: relative;
	padding: 5px;
}
.o_cal_manage_config {
	position: relative;
	padding: 5px;
}
.o_cal_manage_config fieldset {
	position: relative;
	display: inline;
}
.o_cal_config fieldset {
	position: relative;
	display: inline;
}
.o_cal_config_scrollwrapper {
	width: 400px;
	height: 100px; 
	overflow: scroll; 
	overflow-x: hidden; 
	border: 1px solid #BFBFBF;
	position: relative;
}
.o_cal_config_row {
	clear: both;
	padding: 2px 15px 0 0;	
}

.o_cal_config_enabled {
	position: relative;
	width: 20px; height: 16px;
	background: url(check_on.png) no-repeat;
	float: left; display: inline;
}
a.o_cal_config_enabled:hover {
	background: url(check_on_over.png) no-repeat;
}
.o_cal_config_disabled {
	position: relative;
	width: 20px; height: 16px;
	background: url(check_off.png) no-repeat;
	float: left; display: inline;
}
a.o_cal_config_disabled:hover {
	background: url(check_off_over.png) no-repeat;
}
.o_cal_config_calendar {
	border: 1px solid;
	padding: 0; margin: 0; 
	padding: 1px 6px 1px 4px;
	position: relative; 
	height: 14px; width: 200px; overflow: hidden;
	float: left; display: inline;
}
.o_cal_config_chosecolor {
	position: relative;
	width: 20px; height: 16px;
	background: url(color_picker.png) no-repeat 2px 0px;
	float: left; display: inline;
}
a.o_cal_config_chosecolor:hover {
	background: url(color_picker_over.png) no-repeat 2px 0px;
}
.o_cal_config_subscribeical {
	position: relative;
	width: 20px; height: 16px;
	background: url(calendar_ical_export.png) no-repeat 2px 0px;
	float: left; display: inline;
}	
a.o_cal_config_subscribeical:hover {
	width: 20px; height: 16px;
	background: url(calendar_ical_export_over.png) no-repeat 2px 0px;
}
.o_cal_config_remove_subscribeical {
	position: relative;
	width: 20px; height: 16px;
	background: url(calendar_ical_export_remove.png) no-repeat 0 0;
	float: left; display: inline;		
}
a.o_cal_config_remove_subscribeical:hover {
	width: 20px; height: 16px;
	background: url(calendar_ical_export_remove_over.png) no-repeat 0 0;
}
a.o_cal_config_unsubscribe {
	position: relative;
	width: 20px; height: 16px;
	background: url(calendar_remove.png) no-repeat 0 0;
	float: left; display: inline;	
}
a.o_cal_config_unsubscribe:hover {
	width: 20px; height: 16px;
	background: url(calendar_remove_over.png) no-repeat 0 0;
}

.o_cal_config_regenerate_link {
	position: relative;
	width: 20px; height: 16px;
	background: url(calendar_ical_export_regen.png) no-repeat 0 0;
	float: left; display: inline;		
}
a.o_cal_config_regenerate_link:hover {
	width: 20px; height: 16px;
	background: url(calendar_ical_export_regen_over.png) no-repeat 0 0;
}
.o_cal_config_remove_cal {
	position: relative;
	width: 20px; height: 16px;
	background: url(delete.png) no-repeat 2px 0px;
	float: left; display: inline;
}
a.o_cal_config_remove_cal:hover {
	width: 20px; height: 16px;
	background: url(delete_over.png) no-repeat 2px 0px;
}
.o_cal_config_addevent {
	position: relative;
	width: 20px; height: 16px;
	background: url(calendar_add.png) no-repeat 0 0;
	float: left; display: inline;
}
.o_cal_config_readonly {
	position: relative;
	width: 20px; height: 16px;
	background: url(calendar_add_dis.png) no-repeat 0 0;
	float: left; display: inline;	
}
a.o_cal_config_addevent:hover {
	width: 20px; height: 16px;
	background: url(calendar_add_over.png) no-repeat 0 0;
}

/* colorchooser */
#o_cal_colorchooser {
	background: #DCDDE0;
	border: 1px solid #999999;
	float: left; display: inline;
	padding: 3px;
	position: relative;
}
#o_cal_colorchooser div {
	position: relative;
	border: 1px solid #FFF; 
	margin: 5px;
	float: left; display: inline;
}
#o_cal_colorchooser div:hover {
	border: 1px solid #000; 
}
#o_cal_colorchooser a {
	position: relative;
	width: 20px; height: 20px;
	float: left; display: inline;
}
.o_cal_colorchooser_selected {
	background: url(selectedcolor.gif) no-repeat 2px 2px;
}


/* calender colors for events: must be the last thing in the file !! */
.o_cal_orange { background: #ffc266; border-color: #ff9900; color: #5D5D5D; }
.o_cal_orange .o_cal_wv_event_header {background: #ff9900;}
.o_cal_orange a { color: #5D5D5D ! important; } 

.o_cal_green { background: #66c266; border-color: #009900; color: #FFF; }
.o_cal_green .o_cal_wv_event_header {background: #009900;}
.o_cal_green a { color: #FFF ! important; } 

.o_cal_blue { background: #4d6e9f; border-color: #2e5894; color: #FFF;}
.o_cal_blue .o_cal_wv_event_header {background: #2e5894;}
.o_cal_blue a { color: #FFF ! important; } 

.o_cal_yellow { background: #ffe066; border-color: #ffcc00; color: #5D5D5D; }
.o_cal_yellow .o_cal_wv_event_header {background: #ffcc00;}
.o_cal_yellow a { color: #5D5D5D! important; } 

.o_cal_red { background: #c26666; border-color: #990000; color: #FFF; }
.o_cal_red .o_cal_wv_event_header {background: #990000;}
.o_cal_red a { color: #FFF ! important; } 

.o_cal_grey { background: #AAAAAA; border-color: #5D5D5D; color: #FFF; }
.o_cal_grey .o_cal_wv_event_header {background: #5D5D5D;}
.o_cal_grey a { color: #FFF ! important; } 

div.o_cal_gotodate div.b_form_element {margin-left:0%; margin-top:-4px; }

div.o_cal_search_subscribe {float: right; margin-right: 20px; }

div.o_cal_week_year_label {font-weight: bold;}
	
.o_cal_config_regenerate_link {
	position: relative;
	float: left; display: inline;
}
	
/* event tooltip */
.o_cal_wv_event_tooltip { display: none; }
.o_cal_tooltip_buttons { text-align: right; }
.o_cal_wv .x-tip-body div { padding: 0.2em 0; }
div.o_cal_wv_event_tooltip {}
div.o_cal_wv_event_tooltip_content { padding-top: 1em;}
div.o_cal_time { }
div.o_cal_location {}
div.o_cal_tooltip_buttons{padding-top: 1em;}
div.o_cal_links {}
			
			
/* hide the print layout */
.o_cal_wv_print { display: none; }
	
} /* end all media styles */

@media print {
	.o_cal_wv { display: none; } /* hide grid calendar */
	.o_cal_wv_print { display: block; } /* display the print view */
	#o_cal_config .b_float_right { display: none; } /* hide buttons */
	#o_cal_config_below_cal_container .b_subcolumns { display: none; } /* hide date navigation and search link */
	.o_cal_wv_print ul { list-style-type: none; margin-left: 0; }
	.o_cal_event { clear:left; margin: 0.2em 0; }
	.o_cal_wv_list * { float: left; width: 100%; } /* float all elements in order to fully include floating children */
	.o_cal_event span { padding: 0 0.4em; display: block; }
	.o_cal_date { font-weight: bold; }
	.o_cal_time { width: 25%; } 
	.o_cal_subject { width: 40%; border-left-style: solid; border-left-width: thick; }
	.o_cal_location { float: right; width: 34%; } /* Since subject has a 1px border, decrease the width of location by 1% */
	.o_cal_config_scrollwrapper { width: auto; height: auto; overflow: visible; overflow-x: visible; }
	.o_cal_config_calendar { border-width: 0; border-left-style: solid; border-left-width: thick; float: none; display: block;}
	#o_cal_config_below_cal_container { border: none; background: none; overflow: visible; }
	#o_cal_config_below_cal_container * { background: none; color: black; }
	#o_cal_config_below_cal_container fieldset { border: none; }
	#o_cal_config_below_cal_container fieldset legend { font-weight: bold; }
}