<div class="o_ep_multiartefacts">
	#if ($artefactAmnt) 
		#if ($r.available("detail.options")) 
		<div class="o_button_group o_button_group_right">
			$r.render("detail.options")
		</div>
		#end
		<div class="o_artefact_count">
			$r.translate("artefact.amount", $artefactAmnt)
		</div>
	#else
		<div class="o_info">$r.translate("no.artefacts.found")</div>
	#end
	<div class="container-fluid">
		#foreach($artefactComp in $artefactCtrlComps)
			<div class="col-sm-6">
				#set($artCtrl = "artCtrl$velocityCount")
				$r.render($artCtrl)
			</div>
		#end
	</div>
	#if ($pageLinkList)
	<ul class="pagination">
		#foreach($pageLink in $pageLinkList)
			#set($viewLink = "pageLink$velocityCount")
			<li>$r.render($viewLink)</li>
		#end
	</ul>
	#end
</div>
