<div class="panel panel-default o_artefact">
	<div class="panel-heading">
		<h4><i class="o_icon $artefact.getIcon()"> </i> $r.escapeHtml($!artefact.getTitle())
		#if ($cssClosed != "") <i class="o_icon pull-right $cssClosed"> </i> #end</h4>
	</div>
	<table class="table table-condensed table-striped"><tbody>
		#if ($artAttribConfig.get("artefact.title"))
		<tr><th>$r.translate("artefact.title")</th>
		    <td>$r.render("title")</td></tr>
		#end
		#if ($artAttribConfig.get("artefact.author"))
		<tr><th>$r.translate("artefact.author")</th>
			<td>$artefact.getAuthor().getName()</td></tr>
		#end
		#if ($artAttribConfig.get("artefact.description"))
		<tr><th>$r.translate("artefact.description")</th>
			<td>
				#if ($r.available("descriptionBtn")) $r.render("descriptionBtn") 
				#else $!artefact.getDescription() #end 
			</td></tr>
		#end
		#if ($artAttribConfig.get("artefact.date"))
		<tr><th>$r.translate("artefact.date")</th>
			<td>$r.formatDateAndTime($artefact.getCreationDate())</td></tr>
		#end
		#if ($artAttribConfig.get("artefact.source"))
		<tr>
			<th>$r.translate("artefact.source")</th>
			<td>$!artefact.getSource()</div>
		</tr>
		#end
		#if ($artAttribConfig.get("artefact.sourcelink"))
		<tr><th>$r.translate("artefact.sourcelink")</th>
			<td>$!artefactSourceLink</td></tr>
		#end	
		#if ($artAttribConfig.get("artefact.tags"))
		<tr><th>$r.translate("artefact.tags")</dithv>
	    	<td>$r.render("tagTextbox")</td></tr>
		#end
		#if ($artAttribConfig.get("artefact.tags.readonly"))
		<tr><th>$r.translate("artefact.tags")</th>
	    	<td>$!tags</td></tr>
		#end
		#if ($artAttribConfig.get("artefact.used.in.maps"))
		<tr><th>$r.translate("artefact.used.in.maps")</th>
			<td>
				#foreach($map in $maps)
					$r.render($map.component.componentName)
				#end
			</td></tr>
		#end
		#if ($artAttribConfig.get("artefact.reflexion"))
		<tr><th>$r.translate("artefact.reflexion")</th>
			<td>
				#if ($r.available("reflexionBtn")) $r.render("reflexionBtn") 
				#else $!artefact.getReflexion() 
				#end 
			</td></tr>
		#end
		#if ($artAttribConfig.get("artefact.handlerdetails"))
		<tr><th>$r.translate("artefact.handlerdetails")</th>
			<td>#if ($r.available("detailsController")) $r.render("detailsController") #end </td></tr>
		#end
	</tbody></table>
	#if ($r.visible("details.link") || $r.visible("delete.artefact") || $r.visible("choose.artefact"))
	<div class="panel-body ">
		#set($count = 0)
		#if ($r.visible("details.link")) #set($count = $count + 1) #end
		#if ($r.visible("delete.artefact")) #set($count = $count + 1) #end
		#if ($r.visible("choose.artefact")) #set($count = $count + 1) #end
		#if($count > 1) <div class="btn-group"> #end
		#if ($r.available("details.link")) $r.render("details.link") #end
		#if ($r.available("delete.artefact")) $r.render("delete.artefact") #end
		#if ($r.available("choose.artefact")) $r.render("choose.artefact") #end
		#if($count > 1) </div> #end
	</div>
	#end
</div>