<div class="panel panel-default">
	<div class="panel-heading">
		<h3><i class="o_icon $artefact.getIcon()"> </i> $r.escapeHtml($!artefact.getTitle())</h3>
	</div>
	#if($description)
	<div class="panel-body">$description</div>
	#end
	<table class="table table-condensed table-striped"><tbody>
		<tr><th>$r.translate("artefact.author")</th>
			<td>$!authorName</td></tr>
		<tr><th>$r.translate("artefact.date")</th>
			<td>$r.formatDateAndTime($artefact.getCreationDate())</td></tr>
		#if($tags)
		<tr><td colspan="2"><i class="o_icon o_icon_tags"> </i> $tags</td></tr>
		#end	
	</tbody></table>
	<div class="panel-footer">
		$r.render("small.details.link")
		#if($r.available("option.link"))
			<div class="o_ep_options">$r.render("option.link")</div>
		#end
	</div>
</div>
