<div class="container-fluid">
	#set($innerCounter = 1)
	#foreach($artefactCtrlCompLine in $artefactCtrlCompLines)
		#foreach($artefactCtrlPanel in $artefactCtrlCompLine)
			#set($specialCtrlName = "special$artefactCtrlPanel.componentName")
			#set($optionsLinkName = "optionsLink$innerCounter")
			#if($r.available($specialCtrlName))
				<div class="col-sm-12 o_artefact">
					$r.render($artefactCtrlPanel.componentName)
					<div class="o_artefact_optionslink">$r.render($optionsLinkName)</div>
				</div>
			#else
				<div class="col-sm-4 o_artefact">
					$r.render($artefactCtrlPanel.componentName)
				</div>
			#end
			#set($innerCounter = $innerCounter + 1)
		#end
	#end
</div>