<div class="panel panel-default">
	<div class="panel-heading">
		<h3><i class="o_icon $artefact.getIcon()"> </i> $r.escapeHtml($!artefact.getTitle())</h3>
	</div>
	#if($description)
	<div class="panel-body">$description</div>
	#end
	
	<table class="table table-condensed table-striped"><tbody>
		<tr><th>$r.translate("artefact.author")</th>
			<td>$!authorName</td></tr>
		<tr><th>$r.translate("artefact.date")</th>
			<td>$r.formatDateAndTime($artefact.getCreationDate())</td></tr>
		#if($tags)
		<tr><td colspan="2" class="b_with_small_icon_left b_tag_icon">$tags</td></tr>
		#end	
	</tbody></table>
</div>
<div class="b_actions b_clearfix">
	#if($r.available("option.link"))
	<div class="b_float_left">$r.render("option.link")</div>
	#end
	<div class="b_float_right"> $r.render("small.details.link") </div>
</div>