# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
indent_size = tab
indent_style = tab
insert_final_newline = false
tab_width = 4
trim_trailing_whitespace = false

[*.java]
ij_java_class_count_to_use_import_on_demand = 100

[*.yml]
indent_size = 2