.classpath
/.project
/.settings
*/target
*.sw?
*/.classpath
*/.project
*/.settings/*
*/.settings/org.eclipse.core.resources.prefs
*/.settings/org.eclipse.wst.common.component
*/.settings/org.eclipse.wst.common.project.facet.core.xml
*/.settings/org.eclipse.jdt.core.prefs
*/.settings/org.eclipse.m2e.core.prefs
*/.settings/org.eclipse.wst.jsdt.ui.*
*/.settings/org.sonarlint.*
*/.settings/.jsdtscope