
##########
#
# when you start OLAT with an empty olat.local.properties file it will start with an embedded hsqldb and 
# the userdata dir will be java.io.tmpdir. 
#
##########

tomcat.id=2
node.id=2
generate.index.at.startup=false
build.identifier=uzh71-devLocal

guidemo.enabled=true

# runtime application data directory 
userdata.dir=/home/roman/olatdata/uzh_71
# name of the repository root
folder.root=${userdata.dir}/bcroot
# temporary workspace for the running application
temp.dir=${userdata.dir}/tmp


########################################################################
# SMTP (mail) settings
########################################################################

# mail support can be disabled by leaving the following entry blank or
# setting it to the keyword 'disabled' (without quotes!)
smtp.host=speedy.frentix.com
# if required by your local SMTP you may need to provide credentials
smtp.user=
smtp.pwd=
fromemail=admin@frentix.com
# set this email to a webmaster or admin mail address in your domain
adminemail=roman.haag@frentix.com
# set this email to a support mail address in your domain
supportemail=roman.haag@frentix.com

########################################################################
# OLAT identity settings
########################################################################

# OLAT instance ID (effects a unqiue namesapce for addressable items)
# ID should be no longer than 10 characters!  This needs to be unique
# amongst nodes within a cluster, if you are not clustering then you
# can leave this value as is.
instance.id=rholat

########################################################################
# Database settings
########################################################################

# supported vendors currently include "mysql" and "postgresql"
db.vendor=mysql
db.hibernate.ddl.auto=validate
#db.hibernate.ddl.auto=update
auto.upgrade.database=false

# the name of the application database
db.name=uzh71
# the name of the OLAT database user
db.user=uzh71
# the password of the OLAT database user
db.pass=uzh71
# JDBC options (e.g., to set character channel behaviour etc.)
db.jdbc.options=useUnicode=true&amp;characterEncoding=UTF-8


# only set this if you do not want unit tests to be performed during the build
skip.unit.tests=true
# set to false if you do not require special fonts
unpack.fonts=false
# for developers set to true - velocity pages are NOT cached
olatcore.debug=true
# for developers set to false - i18n files are not cached
localization.cache=false
user.generateTestUsers=false
# When running in eclipse use "INFO, syslog, A1", for production use "INFO, syslog"
log.rootCategory = INFO, syslog, A1

# relative path to 
relpathto.src=../../../src


# if enabled then the IM Server must be running before OLAT is started!
instantMessaging.enable=false

