body.o_body {
	color: black;
	background-image: url(bg.gif);
	font-family: Verdana, Tahoma, Arial, Geneva, Helvetica, sans-serif,  SunSans-Regular;
	font-size: 11pt;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #666699;
}
.o_errorbox {
	border-collapse: collapse;
	border: 0px;
	margin: 10px;
}
.o_errorbox_header {
	background-image: url(alert.gif);
	background-repeat: no-repeat;
	padding-left: 30px;
	font-size: 14pt;
	font-weight: bold;
}
.o_errorbox_content {
	background: #F4DDB4;
	padding: 5px;
}
