/* QTIworks assessment rendering */
/************************************************************/
/* Launcher */

#launchBox {
  width: 50em;
  margin: 5em auto;
  text-align: center;
  display: none;
}

#launchBox #progressBar {
  margin: 1em;
  height: 1.8em;
  border: 1px solid #b7b7b7;
  border-radius: 1em;
  background-color: #b7b7b7;
  background-image: url(data:image/gif;base64,R0lGODlhKAAoAIABAAAAAP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJAQABACwAAAAAKAAoAAACkYwNqXrdC52DS06a7MFZI+4FHBCKoDeWKXqymPqGqxvJrXZbMx7Ttc+w9XgU2FB3lOyQRWET2IFGiU9m1frDVpxZZc6bfHwv4c1YXP6k1Vdy292Fb6UkuvFtXpvWSzA+HycXJHUXiGYIiMg2R6W459gnWGfHNdjIqDWVqemH2ekpObkpOlppWUqZiqr6edqqWQAAIfkECQEAAQAsAAAAACgAKAAAApSMgZnGfaqcg1E2uuzDmmHUBR8Qil95hiPKqWn3aqtLsS18y7G1SzNeowWBENtQd+T1JktP05nzPTdJZlR6vUxNWWjV+vUWhWNkWFwxl9VpZRedYcflIOLafaa28XdsH/ynlcc1uPVDZxQIR0K25+cICCmoqCe5mGhZOfeYSUh5yJcJyrkZWWpaR8doJ2o4NYq62lAAACH5BAkBAAEALAAAAAAoACgAAAKVDI4Yy22ZnINRNqosw0Bv7i1gyHUkFj7oSaWlu3ovC8GxNso5fluz3qLVhBVeT/Lz7ZTHyxL5dDalQWPVOsQWtRnuwXaFTj9jVVh8pma9JjZ4zYSj5ZOyma7uuolffh+IR5aW97cHuBUXKGKXlKjn+DiHWMcYJah4N0lYCMlJOXipGRr5qdgoSTrqWSq6WFl2ypoaUAAAIfkECQEAAQAsAAAAACgAKAAAApaEb6HLgd/iO7FNWtcFWe+ufODGjRfoiJ2akShbueb0wtI50zm02pbvwfWEMWBQ1zKGlLIhskiEPm9R6vRXxV4ZzWT2yHOGpWMyorblKlNp8HmHEb/lCXjcW7bmtXP8Xt229OVWR1fod2eWqNfHuMjXCPkIGNileOiImVmCOEmoSfn3yXlJWmoHGhqp6ilYuWYpmTqKUgAAIfkECQEAAQAsAAAAACgAKAAAApiEH6kb58biQ3FNWtMFWW3eNVcojuFGfqnZqSebuS06w5V80/X02pKe8zFwP6EFWOT1lDFk8rGERh1TTNOocQ61Hm4Xm2VexUHpzjymViHrFbiELsefVrn6XKfnt2Q9G/+Xdie499XHd2g4h7ioOGhXGJboGAnXSBnoBwKYyfioubZJ2Hn0RuRZaflZOil56Zp6iioKSXpUAAAh+QQJAQABACwAAAAAKAAoAAACkoQRqRvnxuI7kU1a1UU5bd5tnSeOZXhmn5lWK3qNTWvRdQxP8qvaC+/yaYQzXO7BMvaUEmJRd3TsiMAgswmNYrSgZdYrTX6tSHGZO73ezuAw2uxuQ+BbeZfMxsexY35+/Qe4J1inV0g4x3WHuMhIl2jXOKT2Q+VU5fgoSUI52VfZyfkJGkha6jmY+aaYdirq+lQAACH5BAkBAAEALAAAAAAoACgAAAKWBIKpYe0L3YNKToqswUlvznigd4wiR4KhZrKt9Upqip61i9E3vMvxRdHlbEFiEXfk9YARYxOZZD6VQ2pUunBmtRXo1Lf8hMVVcNl8JafV38aM2/Fu5V16Bn63r6xt97j09+MXSFi4BniGFae3hzbH9+hYBzkpuUh5aZmHuanZOZgIuvbGiNeomCnaxxap2upaCZsq+1kAACH5BAkBAAEALAAAAAAoACgAAAKXjI8By5zf4kOxTVrXNVlv1X0d8IGZGKLnNpYtm8Lr9cqVeuOSvfOW79D9aDHizNhDJidFZhNydEahOaDH6nomtJjp1tutKoNWkvA6JqfRVLHU/QUfau9l2x7G54d1fl995xcIGAdXqMfBNadoYrhH+Mg2KBlpVpbluCiXmMnZ2Sh4GBqJ+ckIOqqJ6LmKSllZmsoq6wpQAAAh+QQJAQABACwAAAAAKAAoAAAClYx/oLvoxuJDkU1a1YUZbJ59nSd2ZXhWqbRa2/gF8Gu2DY3iqs7yrq+xBYEkYvFSM8aSSObE+ZgRl1BHFZNr7pRCavZ5BW2142hY3AN/zWtsmf12p9XxxFl2lpLn1rseztfXZjdIWIf2s5dItwjYKBgo9yg5pHgzJXTEeGlZuenpyPmpGQoKOWkYmSpaSnqKileI2FAAACH5BAkBAAEALAAAAAAoACgAAAKVjB+gu+jG4kORTVrVhRlsnn2dJ3ZleFaptFrb+CXmO9OozeL5VfP99HvAWhpiUdcwkpBH3825AwYdU8xTqlLGhtCosArKMpvfa1mMRae9VvWZfeB2XfPkeLmm18lUcBj+p5dnN8jXZ3YIGEhYuOUn45aoCDkp16hl5IjYJvjWKcnoGQpqyPlpOhr3aElaqrq56Bq7VAAAOw==); /* Image as URL was not always loading in Chrome... never worked out why! */
  opacity: 0.3;
}

#launchBox #launchButton {
  background: none;
  border: none;
}

#launchBox #launchButton:hover {
  text-decoration: underline;
}

/************************************************************/
/* Session control */

ul.sessionControl {
  list-style: none;
  margin: 1em;
  text-align: center;
}

ul.sessionControl li {
  display: inline;
  padding: 0.2em;
}

ul.sessionControl li form {
  display: inline;
}

/************************************************************/
/* Assessment Item */
/************************************************************/

.assessmentItem {
}

.assessmentItem h1 {
  margin-bottom: 0;
}

.assessmentItem .itemStatus {
  float: right;
  display: block;
  padding: 0.3em;
  border-radius: 0.5em;
  color: white;
  font-size: 0.8em;
}

.itemStatus.ended {
  background-color: #999999;
}

.itemStatus.invalid {
  background-color: red;
}

.itemStatus.answered {
  background-color: blue;
}

.itemStatus.notAnswered {
  background-color: #ff9900;
}

.itemStatus.notPresented {
  background-color: green;
}

.itemStatus.review {
  background-color: #f52887;
}

.itemStatus.reviewNotAllowed,
.itemStatus.reviewInvalid,
.itemStatus.reviewNotAnswered,
.itemStatus.reviewNotSeen {
  background-color: #f52887;
  opacity: 0.5;
}

.itemPrompt {
  margin: 1.5em 0;
  font-style: italic;
  color: #666666;
}

#itemBody {
  margin: 1em 0;
}

/************************************************************/

.assessmentItem div.badResponse,
.assessmentItem span.badResponse {
  color: red;
  font-weight: bold;
}

.assessmentItem input.badResponse {
  border: 1px solid red;
}

/************************************************************/

.assessmentItem .infoControl input {
  margin-right: 0.5em;
}

.assessmentItem .infoControl .infoControlContent {
  display: none;
}

tr.choiceinteraction td.control {
  padding: 0.5em;
}

tr.choiceinteraction td.choiceInteraction {
  padding: 0.5em;
}

.assessmentItem .sliderInteraction {
  margin: 1em;
}

.assessmentItem .sliderInteraction .sliderVertical {
}

.assessmentItem .sliderInteraction .sliderVertical .sliderValue {
  margin: 1em 0;
}

.assessmentItem .sliderInteraction .sliderVertical .sliderWidget {
  height: 200px;
}

.assessmentItem .sliderInteraction .sliderHorizontal .sliderValue {
  text-align: center;
}

.assessmentItem div.orderInteraction div.highlight {
  border: 1px solid red;
}

.assessmentItem div.orderInteraction div.box {
  background-color: #eeeeee;
}

.assessmentItem div.orderInteraction div.box span.info {
  margin-left: 1em;
  color: #666666;
  font-style: italic;
  font-size: smaller;
}

.assessmentItem div.orderInteraction div.box.horizontal {
  margin: 0.5em 0;
  width: 100%;
}

.assessmentItem div.orderInteraction ul.horizontal {
  float: left;
  margin: 0 1em;
  padding: 1em 0;
  width: 100%;
}

.assessmentItem div.orderInteraction div.box.vertical {
  margin: 1em 0;
  width: 49%;
}

.assessmentItem div.orderInteraction div.box.vertical.source {
  float: left;
}

.assessmentItem div.orderInteraction div.box.vertical.target {
  float: right;
}

.assessmentItem div.orderInteraction ul.vertical {
  margin: 0 1em;
  padding: 1em 0;
  width: auto;
}

.assessmentItem div.orderInteraction ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.assessmentItem div.orderInteraction ul li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1em;
}

.assessmentItem div.orderInteraction ul li span.ui-icon {
  position: absolute;
  margin-left: -1.3em;
}

.assessmentItem div.orderInteraction ul.horizontal li {
  float: left;
  width: auto;
}

.assessmentItem div.orderInteraction br {
  clear: both;
}

.assessmentItem .hottext {
  font-weight: bold;
}

.assessmentItem .gap {
  font-weight: bold;
  border: 1px dashed #000;
}

/* MathEntryInteraction styling for MathAssess */
.assessmentItem .mathEntryInteraction {
  border: 1px solid #ddedfc;
  background-color: #edf1f6;
  background: linear-gradient(to top, #edf1f6 0%, #f6f9fb 100%);
  border-radius: 0.4em;
  padding: 1em;
  margin: 0.5em 0;
}

.assessmentItem .mathEntryInteraction.horizontal {
  min-height: 5em;
  width: 40em;
}

.assessmentItem .mathEntryInteraction.vertical {
  min-height: 6em;
}

.assessmentItem .mathEntryInteraction .inputPanel {
  line-height: 1em;
  text-align: left;
}

.assessmentItem .mathEntryInteraction.horizontal .inputPanel {
  width: 45%;
  float: left;
  margin: 2em 0;
}

.assessmentItem .mathEntryInteraction.vertical .inputPanel {
  padding: 0 5em;
}

.assessmentItem .mathEntryInteraction.vertical .inputPanel:before {
  content: 'Input Maths: ';
}

.assessmentItem .mathEntryInteraction .inputPanel a {
  display: block;
  float: left;
  padding: 0;
  margin: 2px 0;
  height: 1em;
  width: 18px;
  background: url(../images/help.png) center no-repeat;
}

.assessmentItem .mathEntryInteraction .inputPanel a:hover {
  cursor: help;
  background-color: transparent !important;
}

.assessmentItem .mathEntryInteraction .inputPanel input {
  margin: 0;
  padding: 0;
}

.assessmentItem .mathEntryInteraction .previewPanel {
  text-align: center;
}

.assessmentItem .mathEntryInteraction.horizontal .previewPanel {
  width: 50%;
  margin-left: 40%;
}

.assessmentItem .mathEntryInteraction.vertical .previewPanel {
  margin-top: 2em;
  min-height: 4em;
}

.assessmentItem div.upConversionAjaxControlMessage {
  width: auto;
  text-align: center;
  display: inline;
  padding: 0.5em 0 0.5em 20px;
}

.assessmentItem div.waiting {
  background: url(../images/spinner.gif) no-repeat center left;
}

.assessmentItem div.success {
  background: url(../images/accept.png) no-repeat center left;
}

.assessmentItem div.failure {
  background: url(../images/cancel.png) no-repeat center left;
}

.assessmentItem div.error {
  background: url(../images/exclamation.png) no-repeat center left;
}

.assessmentItem div.upConversionAjaxControlError {
}

.assessmentItem div.upConversionAjaxControlPreview {
  margin: 0.5em 0;
  font-size: 110%;
}

/* Help for Math Input */

.assessmentItem table.inputHelp {
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
}

.assessmentItem table.inputHelp th {
  border: 1px solid #999999;
  padding: 0.2em 0.5em;
  background-color: #cad8e5;
}

.assessmentItem table.inputHelp td {
  color: #999999;
  border: 1px solid #999999;
  padding: 0.2em 0.5em;
}

.assessmentItem table.inputHelp kbd {
  color: black;
  font-size: 100%;
  line-height: 100%;
}

.assessmentItem table.inputHelp .longComma {
  margin-right: 0.5em;
}

/* Candidate comment */

.candidateComment {
  padding: 0;
  margin: 2em 0;
  border: none;
}

.candidateComment legend {
}

.candidateComment textarea {
  display: block;
}

/************************************************************/
/* Test stuff */
/************************************************************/

/* Test Navigation */

ul.testPartNavigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.testPartNavigation li.assessmentSection {
  border: 1px solid #eeeeee;
  border-radius: 0.5em;
  padding: 0 1em 0.5em 1em;
  margin: 0.5em 0;
}

ul.testPartNavigation li.assessmentSection header {
  margin: 0 0 1em 0;
}

ul.testPartNavigation li.assessmentSection header div.rubric {
  font-style: italic;
}

ul.testPartNavigation li.assessmentSection ul.testPartNavigationInner {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.testPartNavigation li.assessmentItem {
  padding: 0.1em 0;
}

ul.testPartNavigation li.assessmentItem button {
  padding: 0.5em;
}

ul.testPartNavigation li.assessmentItem span {
  vertical-align: middle;
}

.testPartNavigation .assessmentItem .questionTitle {
	margin-right: 1em;
}

ul.testPartNavigation li.assessmentItem .itemStatus {
  display: inline;
  float: none;
  margin: 0.2em;
  padding: 0.4em;
  border-radius: 0.3em;
  margin-left: 1em;
}

/* Test Item Presentation */

ul.testPartDrilldown {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.testPartDrilldown li.assessmentSection {
  border: 1px solid #eeeeee;
  border-radius: 0.5em;
  padding: 0 1em 0.5em 1em;
}

ul.testPartDrilldown li.assessmentSection header {
  margin: 0 0 1em 0;
}

ul.testPartDrilldown li.assessmentSection header div.rubric {
  font-style: italic;
}

ul.testPartDrilldown li.assessmentSection ul.testPartDrilldownInner {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.testPartDrilldown li.currentItem {
  border: 1px solid #eeeeee;
  border-radius: 0.5em;
  padding: 0 1em;
  margin-top: 1em;
}

.testItemControl {
  margin-top: 0.5em;
}

/************************************************************/
/* Author invoker */

.authorModePanel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: auto;
  z-index: 127;
  background: white url(../../includes/images/bluegradient.png) left top repeat-x;
  border: 1px solid #ccdbf0;
  border-top-right-radius: 1em;
  padding: 1em;
  color: #666666;
  font-size: smaller;
}

.authorModePanel div {
  text-align: center;
}

.authorModePanel ul.summary {
  list-style: none;
  margin: 0;
  padding: 0;
}

.authorModePanel ul.summary li {
  margin: 0;
  padding: 0.3em 0 0.3em 24px;
}

.authorModePanel li.errorSummary {
  background: url(../../includes/images/exclamation.png) 5px center no-repeat;
}

.authorModePanel li.warnSummary {
  background: url(../../includes/images/error.png) 5px center no-repeat;
}

.authorModePanel li.infoSummary {
  background: url(../../includes/images/information.png) 5px center no-repeat;
}



