/*
*  =================================================
*   
*   CONTAINS SOME SASS VARIABLES FOR the EXAMPLE THEME
*   you can change these and compile the theme :)
*
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Nov. 2011
*
*
*   also read themes.README!
*
*  =================================================
*/

/* use default values from openolat theme */
@import "../openolat/all/_definitions.scss";

/* the base-color and variations */
$basecolor: red;
$basecolor_light : lighten($basecolor, 20%);
$basecolor_ultra_light : lighten($basecolor, 40%);

/* then we need a base-gray and some variations */
$basegray: #555;
$basegray_light: #777;
$basegray_ultra_light: #eee;

/* here you can define the two small icons used in trees:  + and - */ 
$ico_plus : '../openolat/images/tree_parent_closed.gif';
$ico_minus : '../openolat/images/tree_parent_open.gif';

/* enable business / kmu mode */
$enablebiz: false;

/* defines the body-background */
@mixin bodybg(){
	@include o-gradient4(yellow,red,blue,green);
}

$headerfont : Comic Sans, Comic Sans MS, cursive;
$defaultfont : Courier;
$defaultfontsize : 90%;


