<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<!-- This is just a minimal log4j config to get you started, for a production 
		system you can adapt it for your needs Make sure you also set the properties 
		log.dir and log.filename to match your log4j settings -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="info"></priority>
		<appender-ref ref="stdout" />
	</root>
	<logger name="org.apache.commons.httpclient">
		<level value="WARN" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.apache.pdfbox">
		<level value="FATAL" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.apache.fontbox">
		<level value="FATAL" />
		<appender-ref ref="stdout" />
	</logger>
	<logger
		name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener">
		<level value="FATAL" />
		<appender-ref ref="stdout" />
	</logger>
	
	<!-- remove the OLAT-4653
	<logger
		name="org.olat.core.logging.activity.UserActivityLoggerImpl">
		<level value="ERROR" />
		<appender-ref ref="stdout" />
	</logger>
 	-->
	<!-- 
	<logger
		name="org.hibernate.SQL">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder">
		<level value="TRACE" />
		<appender-ref ref="stdout" />
	</logger>
	-->

</log4j:configuration>
