.o_addremove_add_active {
	@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	background-color: $o-addremove-add-color;

	&:hover {
		background-color: transparentize($o-addremove-add-color, .3);
	}
}

.o_addremove_remove_active {
	@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	background-color: $o-addremove-remove-color;

	&:hover {
		background-color: transparentize($o-addremove-remove-color, .3);
	}
}
