/* Appointments module */
.o_appointment_header {
	.o_organizer {
		white-space: nowrap;
	}
	.o_description {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

.o_appointments {
	.o_organizer,
	.o_participant {
		white-space: nowrap;
	}
	
	.o_labeled_light {
		&.o_ap_status_planned {
			border-color: 		$o-ap-planned-color;
			color: 				$o-ap-planned-color;
		}
		&.o_ap_status_confirmed {
			border-color: 		$o-ap-confirmed-color;
			color: 				$o-ap-confirmed-color;
		}
	}
	
	.o_labeled {
		&.o_ap_status_planned {
			background-color: 	$o-ap-planned-color;
			border-color: 		$o-ap-planned-color;
			color: 				$o-ap-select-icon-color;
		}
		&.o_ap_status_confirmed {
			background-color: 	$o-ap-confirmed-color;
			border-color: 		$o-ap-confirmed-color;
			color: 				$o-ap-select-icon-color;
		}
	}
	
	a.o_mail {
		display: none;
	}
		
	.o_organizers:hover a.o_mail {
		display: inline;
	}
}

.o_appointments.o_peek {
	.o_main_cont {
		margin-top: 26px;
		display: flex;
		.o_main {
			margin-top: -3px;
		}
	}
	
	.o_date,
	.o_time {
		font-weight: bold;
	}
}

.o_appointments.o_topics_run {
	.o_main_cont {
		margin-top: 26px;
		display: flex;
		.o_main {
			margin-top: -3px;
		}
	}
	
	.o_date,
	.o_time {
		font-weight: bold;
	}
	
	.o_warning {
		margin-top: 5px;
		margin-bottom: 0px;
		&.o_bbb_warning {
			margin-top: 15px;
		}
	}
	.o_selected_msg {
		margin-top: 5px;
	}
	.o_button_group {
		margin-bottom: 0px;
	}
}

.o_appointments.o_topics_coach_run {
	.panel-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	@media all and (min-width: $screen-sm-min) {
		.o_topic {
			.o_row {
				display: flex;
				.o_c2 {
					flex: 50%;
					padding-left: 15px;
					padding-right: 15px;
					
				}
				.o_c2:last-child {
					display: flex;
					justify-content: stretch;
					flex-direction: column;
					.o_grow_10 {
						flex-grow: 10;
					}
					.o_button_group.o_open {
						flex-grow: 1;
						align-self: flex-end;
					}
				}
			}
		}
	}
	.o_warning {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.o_main_cont {
		margin-top: 26px;
		display: flex;
		.o_main {
			margin-top: -3px;
		}
	}
}

.o_appointments.o_list {
	margin-top: 20px;
	
	.panel {
		margin-bottom: 10px;
	}

	.o_datecomp {
		margin-top: 4px;
	}
		
	.o_date,
	.o_time {
		font-weight: bold;
		font-size: 110%;
		margin-bottom: 0.2em;
	}
	.o_time_normal {
		.o_time {
			font-weight: normal;
		}
	}
	
	.o_no_participants {
		font-weight: bold;
		font-size: 110%;
		margin-top: 0.5em;
	}
	
	@media all and (min-width: 700px) {
		.o_date.o_short {
			display: none;
		}
	}
	@media all and (max-width: 700px) {
		.o_date.o_long {
			display: none;
		}
	}
	
	.o_status_wrapper {
		position: relative;
		.o_status {
			position: absolute;
			top: 0px;
			right: 0px;
			margin-top: -16px;
			margin-right: -16px;
			
			.o_labeled {
				padding: 5px 10px;
				font-size: 80%;
			}
		}
	}
	
	.o_main_cont {
		display: flex;
		flex-flow: row no-wrap;
	}
	
	.o_buttons {
		display: flex;
		flex-flow: column-reverse;
		margin-left: auto;
		
		a:first-child {
			margin-right: -1px;
		}
		
		.btn-group {
			display: flex;
			margin-left: auto;
		}
		
		.o_button_confirm {
			background-color: 	$o-ap-planned-color;
			border-color: 		$o-ap-planned-color;
			color: 				$o-ap-select-icon-color;
		}
		
		.o_free_places {
			margin-bottom: 2px;
			margin-right: 3px;
			margin-left: auto;
			span {
				font-size: 110%;
			}
		}
	}
	
	.o_ap_planned {
		border-color: $o-ap-planned-color;
		border-width: 2px;
		box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2); 
	}
	
	.o_ap_confirmed {
		border-color: $o-ap-confirmed-color;
		border-width: 2px;
		box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2); 
	}
}

.o_appointments_create {
	.o_appointment {
		display: flex;
		flex-flow: row wrap;
		
		// Space in every screen size
		margin-top: 8px;
		&:first-child {
			margin-top: -8px;
		}
		> div {
			margin-top: 7px;
		}
		@media all and (max-width: $screen-sm-min) {
			.form-group {
				margin-bottom: 0px;
			}
		}
	}
	
	.o_icon_error {
		display: none;
	}
}