.o_assistance_accordion {
  width: 100%;

  .o_item {
    border-top: 1px solid $hr-border;
  }

  .o_item:last-child {
    border-bottom: 1px solid $hr-border;
  }

  .o_expand_collapse {
	flex-grow: 0;
 	a {
	   	padding-top: 1em;
      	padding-bottom: 1em;
		display: block;
		i {
			float: right;
		}
		
		.o_icon_details_collaps {
			display: inline;
		}
		.o_icon_details_expand {
			display: none;
		}			
		&.collapsed {
			.o_icon_details_collaps {
				display: none;
			}
			.o_icon_details_expand {
				display: inline;
			}			
		}
	}	
  }

  .o_item_content {
    margin-right: 1em;
	
    .o_text_block {
   	  	padding-bottom: 1em;
    }

    .o_components_block {
      margin-top: 1em;
      margin-bottom: 1em;
      display: flex;
      align-items: center;

      .o_components {
        margin: auto;
      }
    }
  }

  .o_context_help {
  	text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
