.o_rendertype_custom {
	.o_badge_tool_rows {
		display: grid;
		grid-template-columns: 1fr;
		@media (min-width: $screen-xs-min) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: $screen-sm-min) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (min-width: $screen-md-min) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media (min-width: $screen-lg-min) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
		gap: 10px;

		.o_badge_tool_row {
		}
	}
}