.o_rendertype_custom {
	.o_badge_tool_rows {
		display: grid;
		grid-template-columns: 1fr;
		@media (min-width: $screen-xs-min) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: $screen-sm-min) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (min-width: $screen-md-min) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media (min-width: $screen-lg-min) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
		gap: 10px;

		.o_badge_tool_row {
		}
	}
}

.o_badge_theme_area {
	display: inline-block;
	min-width: 40px;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	background-color: $brand-primary;
	color: white;
	border-radius: 4px;
	text-align: center;

	&.o_tab_left {
		margin-left: 10px;
	}
}

.o_badge_condition_line {
	margin-bottom: 10px;
}

.o_badge_row {

	legend {

		&.o_no_border {
			border: none;
		}

		&.o_small_bottom_margin {
			margin: 0 0 10px;
		}
	}

	.o_label {
		font-weight: 700;
	}

	.o_value {
		margin-bottom: 4px;
	}

	.o_download {
		margin-top: 14px;
		width: 100%;
	}

	.o_active {
		cursor: pointer;
	}

	.o_min_height {
		min-height: 200px;
	}
}
