.o_rendertype_custom {
	.o_badge_tool_rows {
		display: grid;
		grid-template-columns: 1fr;
		@media (min-width: $screen-xs-min) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: $screen-sm-min) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (min-width: $screen-md-min) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media (min-width: $screen-lg-min) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
		gap: 10px;

		.o_badge_tool_row {
		}
	}
}

.o_badge_theme_area {
	display: inline-block;
	min-width: 40px;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	background-color: $brand-primary;
	color: white;
	border-radius: 4px;
	text-align: center;

	&.o_tab_left {
		margin-left: 10px;
	}
}

.o_badge_condition_line {
	margin-bottom: 10px;
}

.o_badge_row {

	max-width: 250px;
	height: calc(100% - $line-height-computed);

	legend {

		&.o_no_border {
			border: none;
		}

		&.o_small_bottom_margin {
			margin: 0 0 10px;
		}
	}

	.o_label {
		font-weight: 700;
	}

	.o_value {
		margin-bottom: 4px;
	}

	.o_download {
		margin-top: 14px;
		width: 100%;

		a {
			width: 100%;
		}
	}

	.o_active {
		cursor: pointer;
	}

	.o_min_height {
		min-height: 200px;
	}

	.o_text_one_line {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.o_text_on_two_lines {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

.o_badge_metadata_box {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.o_badge_details_box {
	padding-top: 15px;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
}

.o_badge_details_column {
	padding: 0;

	label.control-label {
		text-align: left;
		padding-right: 0;
	}
}

.o_badge_template_edit {
	.o_description {
		.form-control {
			width: 100%;
		}
	}
}

.o_badge_wiz_summary_step {
	.o_small_badge {
		max-width: 250px;
		max-height: 250px;

		.o_image {
			max-width: 250px;
			max-height: 250px;
			width: 100%;

			img {
				max-width: 250px;
				max-height: 250px;
				width: 100%;
			}
		}
	}

	.o_badge_condition_line {
		margin-bottom: 10px;

		.o_badge_theme_area.o_tab_left {
			margin-left: 10px;
		}
	}
}

.o_badge_template_description, .o_badge_class_description {
	@media (min-width: $screen-sm-min) {
		&.o_markdown_element {
			padding-top: 7px;
		}
	}

	.milkdown {
		h1 { font-size: $font-size-h2; } // #
		h2 { font-size: $font-size-h3; } // ##
		h3 { font-size: $font-size-h4; } // ###
		h4 { font-size: $font-size-h5; } // ####
		h5 { font-size: $font-size-h6; } // #####
		h6 { font-size: $font-size-h6; } // ######

		h1, h2, h3, h4, h5, h6 {
			line-height: 1;
		}
		h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
			margin-top: 0;
		}
	}
}

.o_badge_class_description_wrapper {
	margin-bottom: 20px;

	.o_badge_class_description.o_markdown_element {
		padding-top: 0;
	}
}
