.o_breadcrumb {
	position:relative;

	/* close link, used mostly in breadcrumb wrapped in toolbar */
	.o_breadcrumb_close {
		float: right;
		position: relative;
		margin: 0 0 0 15px;
		vertical-align: middle;
		a {
			line-height: $o-toolbar-breadcrumb-line-height;
			color: $o-toolbar-close-color;
			&:hover {
				color: darken($o-toolbar-close-color, 15%);
			}
			i {
				font-size: floor($o-toolbar-breadcrumb-font-size * 1.5);
			}
			span {
				display: none;
			}
		}
		&:before {
			content: none;
		}
	}

}

.o_breadcrumb_bar {
	&.o_breadcrumb {
		.breadcrumb {
			overflow: hidden; // not perfect but ok
			padding-right: 10px;
			display: flex;
			
			>li {
				white-space: nowrap;
				@include o-add-icon-font();
				+ li:before {
					padding: 0 5px;
					color: $text-color;
					content: "#{$fa-var-chevron-right}";
				}
				&.o_breadcrumb_root,
				&.o_breadcrumb_more {
					&:before {
						content: none;
					}
					&.o_display_none {
						+ .o_first_crumb:before {
							content: none;
						}
					}
				}
				&.o_last_crumb {
					a {
						color: $text-color !important;
						font-weight: bold;
					}
				}
			}	
			.o_display_none {
				display: none;
			}
			.o_breadcrumb_close {
				margin-left: auto;
			}
		}
	}
}