/* width of calendar color indicator */
$o-cal-color-width : 20px;
$o-cal-sec-border-width: 5px;

/* calender colors for events: must be the last thing in the file !! */
.o_cal_orange { background: #ffc266; border-color: #ff9900; color: #5D5D5D; }
.o_cal_orange .fc-list-event-dot {border-color: #ffc266;}
.o_cal_orange a { color: #5D5D5D ! important; } 
.o_cal_class.o_cal_orange { border-left: $o-cal-color-width solid #ffc266;}
.o_cal_sec.o_cal_orange_sec { border-left: $o-cal-sec-border-width solid #ffc266; }

.o_cal_green { background: #66c266; border-color: #009900; color: #FFF; }
.o_cal_green .fc-list-event-dot {border-color: #66c266;}
.o_cal_green a { color: #FFF ! important; } 
.o_cal_class.o_cal_green { border-left: $o-cal-color-width solid #66c266;}
.o_cal_sec.o_cal_green_sec { border-left: $o-cal-sec-border-width solid #66c266; }

.o_cal_blue { background: #4d6e9f; border-color: #2e5894; color: #FFF;}
.o_cal_blue .fc-list-event-dot {border-color: #4d6e9f;}
.o_cal_blue a { color: #FFF ! important; } 
.o_cal_class.o_cal_blue { border-left: $o-cal-color-width solid #4d6e9f;}
.o_cal_sec.o_cal_blue_sec { border-left: $o-cal-sec-border-width solid #4d6e9f; }

.o_cal_yellow { background: #ffe066; border-color: #ffcc00; color: #5D5D5D; }
.o_cal_yellow .fc-list-event-dot {border-color: #ffe066;}
.o_cal_yellow a { color: #5D5D5D! important; }
.o_cal_class.o_cal_yellow { border-left: $o-cal-color-width solid #ffe066;}
.o_cal_sec.o_cal_yellow_sec { border-left: $o-cal-sec-border-width solid #ffe066; }

.o_cal_red { background: #c26666; border-color: #990000; color: #FFF; }
.o_cal_red .fc-list-event-dot {border-color: #c26666;}
.o_cal_red a { color: #FFF ! important; }
.o_cal_class.o_cal_red { border-left: $o-cal-color-width solid #c26666;}
.o_cal_sec.o_cal_red_sec { border-left: $o-cal-sec-border-width solid #c26666; }

.o_cal_rebeccapurple { background: #663399; border-color: #663399; color: #FFF; }
.o_cal_rebeccapurple .fc-list-event-dot {border-color: #663399;}
.o_cal_rebeccapurple a { color: #FFF ! important; }
.o_cal_class.o_cal_rebeccapurple { border-left: $o-cal-color-width solid #663399;}
.o_cal_sec.o_cal_rebeccapurple_sec { border-left: $o-cal-sec-border-width solid #663399; }

.o_cal_fuchsia { background: #FF00FF; border-color: #dd00dd; color: #FFF; }
.o_cal_fuchsia .fc-list-event-dot {border-color: #FF00FF;}
.o_cal_fuchsia a { color: #FFF ! important; } 
.o_cal_class.o_cal_fuchsia { border-left: $o-cal-color-width solid #FF00FF;}
.o_cal_sec.o_cal_fuchsia_sec { border-left: $o-cal-sec-border-width solid #FF00FF; }

.o_cal_olive { background: #808000; border-color: #636300; color: #FFF; }
.o_cal_olive .fc-list-event-dot {border-color: #808000;}
.o_cal_olive a { color: #FFF ! important; } 
.o_cal_class.o_cal_olive { border-left: $o-cal-color-width solid #808000;}
.o_cal_sec.o_cal_olive_sec { border-left: $o-cal-sec-border-width solid #808000; }

.o_cal_navy { background: #000080; border-color: #000057; color: #FFF; }
.o_cal_navy .fc-list-event-dot {border-color: #000080;}
.o_cal_navy a { color: #FFF ! important; } 
.o_cal_class.o_cal_navy { border-left: $o-cal-color-width solid #000080;}
.o_cal_sec.o_cal_navy_sec { border-left: $o-cal-sec-border-width solid #000080; }

.o_cal_maroon { background: #800000; border-color: #740000; color: #FFF; }
.o_cal_maroon .fc-list-event-dot {border-color: #800000;}
.o_cal_maroon a { color: #FFF ! important; } 
.o_cal_class.o_cal_maroon { border-left: $o-cal-color-width solid #800000;}
.o_cal_sec.o_cal_maroon_sec { border-left: $o-cal-sec-border-width solid #800000; }

.o_cal_lime { background: #00FF00; border-color: #00e200; color: #004d00; }
.o_cal_lime .fc-list-event-dot {border-color: #00FF00;}
.o_cal_lime a { color: #004d00 ! important; } 
.o_cal_class.o_cal_lime { border-left: $o-cal-color-width solid #00FF00;}
.o_cal_sec.o_cal_lime_sec { border-left: $o-cal-sec-border-width solid #00FF00; }

.o_cal_grey { background: #DDDAAA; border-color: #5D5D5D; color: #FFF; }
.o_cal_grey .fc-list-event-dot {border-color: #DDDAAA;}
.o_cal_grey a { color: #FFF ! important; }
.o_cal_class.o_cal_grey { border-left: $o-cal-color-width solid #DDDAAA;}
.o_cal_sec.o_cal_grey_sec { border-left: $o-cal-sec-border-width solid #DDDAAA; }


.o_sel_calendar_print_chooser {
	padding-right:4em;
}

.o_cal_config_enabled, .o_cal_config_disabled {
	position: relative;
	float: left; display: inline;
}

.o_cal_config_calendar {
	margin: 0 5px; 
	padding: 1px 6px 1px 4px;
	position: relative; 
	width: 200px;
	overflow: hidden;
	float: left;
	display: inline;
}

.o_cal_config_color {
	display: block;
	width: 16px;
	height: 16px;
	border-radius:8px;
}

.o_cal_colorchooser_selected:before {
	content: $fa-var-check;
}

#o_cal_colorchooser {
	div {
		border-style: solid;
		border-width: 1px;
		margin: 5px 4px;
		display: inline-block;
	}
	
	div:hover {
		border: 1px solid #333; 
	}
	
	a {
		width: 20px;
		height: 20px;
		display: inline-block;
	}
}

.o_cal_color_element {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-style: solid;
	border-width: 1px;
}
.o_cal_event_color {
	display: flex;
	align-items: center;
	margin-top: 3px;
	margin-bottom: -3px;

	:first-child {
		padding-top: 4px;
		margin-right: 5px;
	}
}

.o_cal_embedded_course_container .o_content_popup {
	top: 0;
}

.o_cal_wv_event_tooltip_content {
	.o_cal_description {
		background-color: $o-cal-desc-background-color;
		padding: 10px 7px;
		margin: 10px -7px;
	}
	.o_cal_tooltip_buttons {
		text-align: center;
		margin-top: 20px;
	}
}

.o_cal_event_managed > .fc-event-title:after, .o_cal_event_managed .fc-event-title-container:after  {
	margin-right: 4px;
	float: right;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: $fa-var-lock;
}

.o_cal_event_not_managed > .fc-event-title:after, .o_cal_event_not_managed .fc-event-title-container:after {
	margin-right: 4px;
	float: right;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: $fa-var-user;
}

.o_cal_event_livestream > .fc-event-title:after, .o_cal_event_livestream .fc-event-title-container:after {
	margin-right: 4px;
	float: right;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: $fa-var-video-camera;
}

.o_cal_event_managed.o_cal_event_livestream > .fc-event-title:after, .o_cal_event_managed.o_cal_event_livestream .fc-event-title-container:after {
	margin-right: 4px;
	float: right;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "#{$fa-var-video-camera}\00a0#{$fa-var-lock}"
}

.o_cal_event_not_managed.o_cal_event_livestream > .fc-event-title:after, .o_cal_event_not_managed.o_cal_event_livestream .fc-event-title-container:after {
	margin-right: 4px;
	float: right;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "#{$fa-var-video-camera}\00a0#{$fa-var-user}"
}

/* 
 * fullcalendar bootstrapify
 */
 .o_cal .fc {
 
	.fc-button {
		@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
		
		&.fc-button-default {
			text-shadow: none;
		}
		&.fc-button-active {
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}
	}
	
	.fc-listYear-button:before, .fc-listMonth-button:before, .fc-listWeek-button:before, .fc-listDay-button:before {
		content: $fa-var-list-alt;
		margin-right: 5px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		font-size: 80%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	table.fc-list-table .fc-list-event {
		background-color: white;
		color: #5D5D5D ! important;
		
		a, span {
			color: #5D5D5D ! important;
		}
	}
}

/*
 * Print view
 */
body.o_cal_print {
	fieldset {
		border: none;
		margin-bottom: 2em;
	}
	legend {
		font-size: 2em;
		font-weight: bold;
		span {
			display: block;
			font-size: $font-size-base;
			font-weight: normal;
		}
	}
	
	ul.o_cal_wv_list {
		list-style-type: none;
		padding: 0;
		>li {
			page-break-inside : avoid;
			margin-bottom: 2em;
		}
		.o_cal_date {
			font-size: 1.25em;
			font-weight: bold;
			padding: 0.5em 0 0.5em 0;
		}
		ul.o_cal_events {
			list-style-type: none;
			padding: 0.5em 0 0 0;
			li.o_cal_event {
				position: relative;
				left: ($o-cal-color-width + 10px);
				page-break-inside : avoid;
				clear: both;				
				margin-bottom: 1.5em;
				padding-right: ($o-cal-color-width + 10px);


				.o_cal_time {
					float: left;
					font-weight: bold;
					margin-right: 1em;
				}
				.o_cal_subject {
					font-weight: bold;
					
					p {
						margin: 0;
					}
				}
				
				.o_cal_location,
				.o_cal_description,
				.o_cal_freebusy {
					clear: both;				
				}
				
				.o_cal_freebusy {
					font-style: italic;
				}
			}
		}
	}
	/* show calendar color as a border (background color is not printed) */
	.o_cal_class {
		position: absolute;
		left: -($o-cal-color-width + 10px);
		width: $o-cal-color-width;
	}
	
	/* the calendar legend - color info */
	#o_cal_config {
		legend {
			font-size: 1.25em;
		}
		.o_cal_config_calendar {
			margin: 0;
			padding: 0;
		}
		.o_cal_config_calendar {
			position: relative;
			left: ($o-cal-color-width + 10px);
			float: none;
			padding-right: ($o-cal-color-width + 10px);
		}
	}
	
}
