/* calender colors for events: must be the last thing in the file !! */
.o_cal_orange { background: #ffc266; border-color: #ff9900; color: #5D5D5D; }
.o_cal_orange .o_cal_wv_event_header {background: #ff9900;}
.o_cal_orange a { color: #5D5D5D ! important; } 

.o_cal_green { background: #66c266; border-color: #009900; color: #FFF; }
.o_cal_green .o_cal_wv_event_header {background: #009900;}
.o_cal_green a { color: #FFF ! important; } 

.o_cal_blue { background: #4d6e9f; border-color: #2e5894; color: #FFF;}
.o_cal_blue .o_cal_wv_event_header {background: #2e5894;}
.o_cal_blue a { color: #FFF ! important; } 

.o_cal_yellow { background: #ffe066; border-color: #ffcc00; color: #5D5D5D; }
.o_cal_yellow .o_cal_wv_event_header {background: #ffcc00;}
.o_cal_yellow a { color: #5D5D5D! important; }

.o_cal_red { background: #c26666; border-color: #990000; color: #FFF; }
.o_cal_red .o_cal_wv_event_header {background: #990000;}
.o_cal_red a { color: #FFF ! important; }

.o_cal_rebeccapurple { background: #663399; border-color: #663399; color: #FFF; }
.o_cal_rebeccapurple .o_cal_wv_event_header {background: #663399;}
.o_cal_rebeccapurple a { color: #FFF ! important; }

.o_cal_grey { background: #DDDAAA; border-color: #5D5D5D; color: #FFF; }
.o_cal_grey .o_cal_wv_event_header {background: #5D5D5D;}
.o_cal_grey a { color: #FFF ! important; }

.o_sel_calendar_print_chooser {
	padding-right:4em;
}

.o_cal_config_enabled, .o_cal_config_disabled {
	position: relative;
	float: left; display: inline;
}

.o_cal_config_calendar {
	margin: 0 5px; 
	padding: 1px 6px 1px 4px;
	position: relative; 
	width: 200px;
	overflow: hidden;
	float: left;
	display: inline;
}

.o_cal_config_color {
	display: block;
	width: 16px;
	height: 16px;
	border-radius:8px;
}

.o_cal_colorchooser_selected:before {
	content: $fa-var-check;
}

#o_cal_colorchooser {
	div {
		border: 1px solid $brand-primary; 
		margin: 5px;
		display: inline-block;
	}
	
	div:hover {
		border: 1px solid #333; 
	}
	
	a {
		width: 20px;
		height: 20px;
		display: inline-block;
	}
}


/* 
 * fullcalendar bootstrapify
 */
.fc-button {
	@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
	
	&.fc-state-default {
		text-shadow: none;
	}
	&.fc-state-active {
		@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	}
}
