%o_card,
.o_card {
	border: $o-card-border;
	border-radius: $o-card-border-radius;
	
	.o_card_title {
		a {
			color: $o-card-title-color;
			@extend %o_undecorated;
		}
	}
	
	&:hover {
		border: 1px solid $o-card-hover-color;
		border-radius: 3px;
		.o_card_title {
			a {
				color: $o-card-hover-color;
			}
		}
	}
}

.o_widget {
	min-width: $o-widget-min-width;
	max-width: 2 * $o-widget-min-width - $o-widgets-gap;
	height: $o-widget-height;
	min-height: $o-widget-height;
	max-height: $o-widget-height;
	
	border: $o-widget-border;
	border-radius: $o-widget-border-radius;
	padding: $o-widget-padding;
	
	display: flex;
	flex-direction: column;
	
	.o_widget_header {
		display: flex;
		align-items: end;
		gap: 5px;
		margin-top: -$o-widget-icon-oversize;
		
		.o_widget_title {
			font-size: $o-widget-title-font-size;
			font-weight: $o-widget-title-font-weight;
			.o_widget_subtitle {
				font-size: $o-widget-subtitle-font-size;
				font-weight: $o-widget-subtitle-font-weight;
				color: $o-widget-subtitle-color;
			}
		}
		.o_widget_icon {
			font-size: $o-widget-icon-font-size;
			margin-left: auto;
		}
	}
	.o_widget_content {
		display: flex;
		margin-top: auto;
		.o_widget_main {
			.o_widget_additional {
				height: $o-widget-additional-height;
				min-height: $o-widget-additional-height;
				max-height: $o-widget-additional-height;
			}
			&.o_widget_main_text {
				.o_widget_text {
					font-size: $o-widget-text-font-size;
					font-weight: $o-widget-text-font-weight;
					&.o_widget_text_large {
						font-size: $o-widget-figure-value-font-size;
						font-weight: $o-widget-figure-value-font-weight;
					}
				}
				.o_widget_additional {
					display: flex;
					align-items: end;
					.o_widget_additional_text {
						font-size: $o-widget-text-additional-font-size;
						color: $o-widget-text-additional-color;
					}
				}
				.o_widget_radial_progress {
					display: grid;
					align-items: end;
					.o_progress {
						width: $o-radial-progress-circle-size-sm;
						height: $o-radial-progress-circle-size-sm;
						.radial-progress {
							margin: 0;
						}
						&.o_progress_passed {
							.percentage:before {
								left: 4px;
							}
						}
						&.o_progress_failed {
							.percentage:before {
								left: 8px;
							}
						}
					}
					/* Some space between progress and text */
					&:has(.o_progress) {
						margin-right: 10px;
					}
				}
			}
			&.o_widget_main_figure {
				display: flex;
				flex-direction: column;
				width: 100%;
				.o_widget_figure {
					line-height: 29px;
					.o_widget_figure_value {
						font-size: $o-widget-figure-value-font-size;
						font-weight: $o-widget-figure-value-font-weight;
					}
					.o_widget_figure_desc {
						font-size: $o-widget-figure-desc-font-size;
						font-weight: $o-widget-figure-desc-font-weight;
						color: $o-widget-figure-desc-color;
					}
				}
				.o_widget_additional {
					display: grid;
					align-items: end;
					.o_widget_progress {
						max-height: 8px;
						.progress {
							vertical-align: top;
						}
						.o_progress_label_wrapper {
							display: none;
						}
					}
				}
			}
			&.o_widget_main_link {
				display: flex;
				flex-direction: column;
				.o_widget_link {
					margin-top: auto;
					padding-bottom: 5px;
				}
			}
			&.o_widget_main_download {
				max-width: 100%;
				.o_assessment_document {
					margin: 0;
					i.o_flex_item_fix {
						margin-right: 15px;
					}
				}
			}
		}
		.o_widget_main_two_cols {
			display: flex;
			align-items: end;
		}
	}
	.o_widget_part {
		display: flex;
		flex-direction: column;
 		height: 100%;
	}
	&.o_widget_two_parts {
		@container (min-width: 530px) {
			grid-column: span 2;
		}
		display: grid;
		min-width: 100%;
		grid-template-columns: repeat(2, 1fr);
		&>div:first-child {
			border-right: $o-widget-border;
			padding-right: 20px;
		}
		&>div:nth-child(2) {
			padding-left: 20px;
		}
	}
}

.o_widgets {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	gap: $o-widgets-gap;
	container-type: inline-size;
}