/* charts (crispEdges) */
$o-d3chart-default : $brand-primary;
$o-d3chart-light : lighten($brand-primary, 15%);
$o-d3chart-dark : darken($brand-primary, 15%);

.d3chart {
	.bar { shape-rendering: crispEdges; }
	.bar_default_light { fill: $o-d3chart-light; }
	.bar_default { fill: $o-d3chart-default; }
	.bar_default_dark { fill: $o-d3chart-dark; }

	.axis { font: 12px sans-serif; }

	.axis path, .axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
}