/* charts (crispEdges) */
.d3chart {
	.bar { shape-rendering: crispEdges; }
	.bar_default_light { fill: $o-d3chart-light; }
	.bar_default, .bubble_default { fill: $o-d3chart-default; }
	.bar_default_dark { fill: $o-d3chart-dark; }
	.bar_green { fill: $brand-success; }
	.bar_red { fill: $brand-danger; }
	.bar_grey { fill: lightgrey; }

	.axis { font: 12px sans-serif; }

	.axis path, .axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	
	
	circle.bubble_green {
		fill: $brand-success;
	}
}