/* Coaching */
.o_coaching div#o_main_toolbar.o_toolbar {
	margin-top: 0px;
}

.o_coaching_search_header {
	display: flex;
	justify-content: center;
}

.o_coaching_overview {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	row-gap: 10px;
	
	.o_mega_buttons {
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	}
}

@media (max-width: $screen-xs-max) {
	.o_coaching_overview {
		grid-template-columns: 1fr;
	}
}

.o_coaching_status {
	display: grid;
	grid-template-columns: 100px auto;
	column-gap: 0.5em;
	
	.o_coaching_numbers {
		white-space: nowrap;
	}
	
	.progress {
		max-width: 100px;
	}
}

.o_coaching_completion {
	white-space: nowrap;
}

.o_eff_statement_details .o_user_infos {
	margin-top:20px;
}

.o_coaching_notifications {
	float: left;
	position: relative;
	padding: 15px 3px;
	
	.badge {
		&.o_notification_request {
			background-color: $state-danger-text;
		}
		&.o_notification_unread {
			background-color: $state-warning-text;
		}
	}
}

.o_coaching_activities {
	h4 {
		padding: 2px 14px 8px 14px;
		margin: 0 -14px;
		// same as modal-header
		color: $o-dialog-header-color;
	  	font-weight: $o-dialog-header-font-weight;
		font-family: $headings-font-family;
	  	line-height: $headings-line-height;
		border-bottom: 1px solid $modal-header-border-color;
	}
}

.o_coaching_curriculum_references.o_dropdown {
	li {
		display: flex;
		flex-direction: column-reverse;
	}

	small {
		padding: 0 15px;
	}

}

/* Dashboard */
.o_coaching_widget_course_row {
	container-type: inline-size;
	
	display: flex;
	width: 100%;
	align-items: center;
	padding: 5px;
	gap: 10px;
	
	.o_row_course {
		flex-grow: 1;
		
		overflow: hidden;
		div {
			overflow: hidden;
		}
		
		.o_course {
			display: flex;
			align-items: center;
			gap: 10px;
			.o_visual {
				height: 50px;
				width: 75px;
				flex-shrink: 0;
			}
			.o_meta {
				display: flex;
				flex-direction: column;
				.o_ext_ref {
					color: $text-muted;
					font-size: 10px;
					line-height: 12px;
					height: 12px;
					@include text-overflow();
				}
				.o_title {
					line-height: 1.2;
					font-size: 18px;
					margin: 0;
				}
			}
		}
	}
	.o_row_completion {
		width: 60px;
		flex-shrink: 0; 
	}
	.o_row_success_status {
		width: 170px;
		flex-shrink: 0; 
	}
	@container (max-width: 500px) {
		.o_row_completion,
		.o_row_success_status {
			display: none;
		}
		.o_row_course {
			.o_course {
				align-items: center;
				.o_meta {
					.o_title {
						font-size: 16px;
						white-space: wrap;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
}
.o_course_widget_icon {
	&.o_icon_coach {
		color: $o-repo-coachpublished-color;
	}
	&.o_icon_repo_status_published {
		color: $o-repo-published-color;
	}
	&.o_icon_repo_status_closed {
		color: $o-repo-closed-color;
	}
}
