/* Coaching */
.o_coaching div#o_main_toolbar.o_toolbar {
	margin-top: 0px;
}

.o_coaching_search_header {
	display: flex;
	justify-content: center;
}

.o_coaching_overview {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	row-gap: 10px;
	
	.o_mega_buttons {
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
		
		.btn.o_button_mega i.o_icon {
			width: 25px;
			min-width: 25px;
			max-width: 25px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.o_coaching_overview {
		grid-template-columns: 1fr;
	}
}

.o_coaching_status {
	display: grid;
	grid-template-columns: 100px auto;
	column-gap: 0.5em;
	
	.o_coaching_numbers {
		white-space: nowrap;
	}
	
	.progress {
		max-width: 100px;
	}
}

.o_coaching_completion {
	white-space: nowrap;
}

.o_eff_statement_details .o_user_infos {
	margin-top:20px;
}

.o_coaching_notifications {
	float: left;
	position: relative;
	padding: 15px 3px;
	
	.badge {
		&.o_notification_request {
			background-color: $state-danger-text;
		}
		&.o_notification_unread {
			background-color: $state-warning-text;
		}
	}
}

.o_coaching_activities {
	h4 {
		padding: 2px 14px 8px 14px;
		margin: 0 -14px;
		// same as modal-header
		color: $o-dialog-header-color;
	  	font-weight: $o-dialog-header-font-weight;
		font-family: $headings-font-family;
	  	line-height: $headings-line-height;
		border-bottom: 1px solid $modal-header-border-color;
	}

}