.o_vfseditor {
	.o_collabora {
		iframe {
			width: 100%;
			height: calc(100vh - 183px);
			margin-top: 10px;
			margin-bottom: 20px;
			border-width: 1px;
		}
	}
	
	&.o_web_document {
		.o_collabora {
			iframe {
				width: 100%;
				height: calc(100vh - 355px);  // editor selection is not taken
				margin-top: 10px;
				border-width: 1px;
			}
		}
	}
	&.o_web_document_edit {
		.o_collabora {
			iframe {
				width: 100%;
				height: calc(100vh - 310px); // editor selection is not taken
				margin-top: 10px;
				margin-bottom: 35px;
				border-width: 1px;
			}
		}
	}
}