.o_page_layout {

	&.o_container_block_1_cols {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 100%;
	}
	
	&.o_container_block_2_cols {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 50% 50%;
	}
	
	&.o_container_block_3_cols {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 33% 34% 33%;
	}
	
	&.o_container_block_4_cols {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 25% 25% 25% 25%;
	}
	
	&.o_container_block_5_cols {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
	
	&.o_container_block_6_cols {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 17% 16% 17% 16% 17% 16%;
	}
	
	&.o_container_block_3_rows {
		display: grid;
		grid-gap: 10px;
		grid-template-rows: auto auto auto;
	}
	
	&.o_container_block_2_1_rows {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto;
		
		div:nth-child(3) {
			grid-column-end: span 2;
		}
	}
	
	&.o_container_block_1_3_rows {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 33% 34% 33%;
		grid-template-rows: auto auto;
		
		div:nth-child(1) {
			grid-column-end: span 3;
		}
	}
	
	&.o_container_block_1_1l_cols {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 20% 80%;
	}
	
	&.o_container_block_1_2_rows {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto;
		
		div:nth-child(1) {
			grid-column-end: span 2;
		}
	}
	
	&.o_container_block_1_2_cols {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto;
		
		div:nth-child(1) {
			grid-row-end: span 2;
		}
	}
}

.o_inspector_layouts .o_page_layout {
	&.o_container_block_2_cols,
	&.o_container_block_2_1_rows,
	&.o_container_block_1_2_rows,
	&.o_container_block_1_2_cols {
		grid-template-columns: 1fr 1fr;
	}
	
	&.o_container_block_3_cols,
	&.o_container_block_1_3_rows {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	&.o_container_block_1_1l_cols {
		grid-template-columns: 1fr 4fr;
	}
}

@media (max-width: $screen-xs-max) {

	.o_page_layout {
		&.o_container_block_2_cols {
			grid-template-columns: 100%;
			grid-template-rows: repeat(2, auto);
		}
		
		&.o_container_block_3_cols {
			grid-template-columns: 100%;
			grid-template-rows: repeat(3, auto);
		}
		
		&.o_container_block_4_cols {
			grid-template-columns: 100%;
			grid-template-rows: repeat(4, auto);
		}
		
		&.o_container_block_5_cols {
			grid-template-columns: 100%;
			grid-template-rows: repeat(5, auto);
		}
		
		&.o_container_block_6_cols {
			grid-template-columns: 100%;
			grid-template-rows: repeat(6, auto);
		}
		
		&.o_container_block_2_1_rows {
			grid-template-columns: 100%;
			grid-template-rows: repeat(3, auto);
			
			div:nth-child(3) {
				grid-column-end: span 1;
			}
		}
		
		&.o_container_block_1_3_rows {
			grid-template-columns: 100%;
			grid-template-rows: repeat(4, auto);
			
			div:nth-child(1) {
				grid-column-end: span 1;
			}
		}
		
		&.o_container_block_1_1l_cols {
			grid-template-columns: 100%;
			grid-template-rows: repeat(2, auto);
		}
		
		&.o_container_block_1_2_rows {
			grid-template-columns: 100%;
			grid-template-rows: repeat(3, auto);
			
			div:nth-child(1) {
				grid-column-end: span 1;
			}
		}
		
		&.o_container_block_1_2_cols {
			grid-template-columns: 100%;
			grid-template-rows: repeat(3, auto);
			
			div:nth-child(1) {
				grid-row-end: span 1;
			}
		}
	}
}

.o_page_content_editor .o_page_layout {
	&.o_container_block_2_cols {
		>div:not(:last-child) {
			border-right: $o-editor-layout-inner-v-border;
		}
	}
	
	&.o_container_block_3_cols {
		>div:not(:last-child) {
			border-right: $o-editor-layout-inner-v-border;
		}
	}
	
	&.o_container_block_4_cols {
		>div:not(:last-child) {
			border-right: $o-editor-layout-inner-v-border;
		}
	}
	
	&.o_container_block_5_cols {
		>div:not(:last-child) {
			border-right: $o-editor-layout-inner-v-border;
		}
	}
	
	&.o_container_block_6_cols {
		>div:not(:last-child) {
			border-right: $o-editor-layout-inner-v-border;
		}
	}
	
	&.o_container_block_3_rows {
		>div:not(:last-child) {
			border-bottom: $o-editor-layout-inner-h-border;
		}
	}
	
	&.o_container_block_2_1_rows {
		>div:first-child {
			border-right: $o-editor-layout-inner-v-border;
		}
		
		>div:not(:last-child) {
			border-bottom: $o-editor-layout-inner-h-border;
		}
	}
	
	&.o_container_block_1_3_rows {
		>div:first-child {
			border-bottom: $o-editor-layout-inner-h-border;
		}
		>div:nth-child(2), >div:nth-child(3) {
			border-right: $o-editor-layout-inner-v-border;
		}
	}
	
	&.o_container_block_1_1l_cols {
		>div:first-child {
			border-right: $o-editor-layout-inner-v-border;
		}
	}
	
	&.o_container_block_1_2_rows {
		>div:first-child {
			border-bottom: $o-editor-layout-inner-h-border;
		}
		>div:nth-child(2) {
			border-right: $o-editor-layout-inner-v-border;
		}
	}
	
	&.o_container_block_1_2_cols {
		>div:first-child {
			border-right: $o-editor-layout-inner-v-border;
		}
		>div:nth-child(2) {
			border-bottom: $o-editor-layout-inner-h-border;
		}
	}
	
	&.o_ed_container>div {
		padding: $o-editor-container-slot-padding;
	}
}

.o_page_content_editor .o_page_fragment_edit.o_page_container_edit.o_fragment_edited .o_page_layout,
.o_page_content_editor .o_page_container_edit:hover .o_page_layout {
	>div {
		border-color: $o-editor-selected-border-color;
	}
}

.o_page_content_editor .o_fragment_edited .o_inspector_layouts .o_page_layout,
.o_page_content_editor .o_page_container_edit:hover .o_inspector_layouts .o_page_layout {
	>div {
		border: none;
	}
}

.o_ceditor_inspector {
	border: 1px solid $o-editor-inspector-border-color;
	background-color: white;
	min-height: 300px;
	
	h4 {
		margin: 0;
		color: $o-editor-inspector-title-color;
		margin-bottom: 5px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.o_ceditor_inspector_header {
		border-bottom: 1px solid #d9d9d9;
		padding: 10px;
	}
	
	.o_ceditor_inspector_content {
		padding: 10px;
	}
}

.o_inspector_layouts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1em;
	column-gap: 1em;
	min-width: 200px;
}

.popover .o_inspector_layouts {
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 1em;
	column-gap: 1em;
	min-width: 300px;
}

.o_inspector_layout {
	.o_page_layout {
		row-gap: 2px;
		column-gap: 2px;
		border: 1px solid $o-editor-layout-pseudo-icon-border-color;
		min-height: 66px;
	}

	.o_page_layout>div, .o_page_layout>span {
		background-color: $o-editor-layout-pseudo-icon-bg-color;
	}
	
	.active .o_page_layout>div, .active .o_page_layout>span {
		background-color: $o-editor-layout-pseudo-icon-bg-active-color;
	}
	
	>a, >a:hover {
		text-decoration:none;
	}
}




/* Editor */
.o_page_content_editor {
	.o_toolbar  	{
		border:none;
	}
	padding-bottom: 2em;
	
	.o_container_part.o_page_layout {
		grid-gap: 0;
		background-color: white;
	}
}

.o_page_fragment_edit  {
	position: relative;

	&.o_page_container_edit {
		border: $o-editor-element-border-width solid $o-editor-border-color;
		border-radius: 2px;
		margin-bottom: 4px;
	}

	&:hover, &.o_fragment_edited {
		box-shadow: 1px 1px 2px 2px #eee;
		border: 1px solid $o-editor-selected-border-color;
	}
	
	&:hover .o_page_container_tools, {
		border-bottom: 1px solid $o-editor-selected-border-color;
	}
	
	.o_page_container_tools {
		display: flex;
		justify-content: flex-end;
		align-items: stretch;
		height: $o-editor-border-width;
		line-height: 18px;
		width: 100%;
		border-bottom: $o-editor-element-border-width solid $o-editor-border-color;
		background-color: #eeeeee;
		text-align: right;
		position: relative;
		
		>a, >button {
			margin-right: 0.5em;
			color: black;
			border: none;
			background-color: transparent;
		}
		>a>span, >button>span {
			display: none;
		}
		.o_container_name {
			margin-right: auto;
		}
	}
	
	.o_page_element_tools {
		position: absolute;
		top: -36px;
		left: 10px;
		z-index: 7;
		font-size: 18px;

		
		background: white;
		border: 1px solid $o-editor-border-color;
		padding: 0;
		border-radius: $border-radius-base;
		box-shadow: $o-editor-tools-box-shadow;
		
		button[disabled] {
		    cursor: $cursor-disabled;
    		pointer-events: none; // Future-proof disabling of clicks
			@include opacity(.65);
		}
		
		>button {
			margin: 0;
			border: none;
			background: transparent;
		}
		
		>*:not(:first-child) {
			border-left: 1px solid #d9d9d9;
		}
		
		>button>span {
			display: none;
		}
		
		.o_page_drag_handle {
			cursor: grab;
		}
	}
	
	.o_page_container_tools>button.active,
	.o_page_container_tools>button[aria-expanded='true'],
	.o_fragment_edited .o_page_element_tools>button.active,
	&.o_fragment_edited .o_page_element_tools>button.active,
	.o_fragment_edited .o_page_element_tools>button[aria-expanded='true'],
	&.o_fragment_edited .o_page_element_tools>button[aria-expanded='true'] {
		background-color: $o-editor-selected-color;
		color: #fff;
	}

	.o_page_container_tools {
		>a, >button, >span {
			margin: 0;
			padding: 0 5px;
			line-height: 25px;
			border-left: 1px solid #d9d9d9;
			background: #fff;
		}
		>span.o_container_name {
			background: transparent;
		}
	}

	>.o_page_part, >.o_container_part {
		
		.o_page_edit_toolbar {
			position: absolute;
			z-index: 5;
			left: 5px;
			top: -$o-editor-border-width;
			display: inline-block;
			height: $o-editor-border-width;
			line-height: $o-editor-border-width;
			vertical-align: middle;
			a {				
				color: #fff;
				&:hover {
					color: darken(#fff, 10%);	
				}				
				&.o_disabled {
					color: rgba(255,255,255,0.5) !important;
					&:hover {
						color: rgba(255,255,255,0.5) !important;	
					}
				}
			}
		}
		
		.o_page_edit_title .o_page_edit_toolbar li {
			font-weight: bold;
		}
		
		.o_page_part .tox-tinymce {
			border: none;
		}
		
		.o_page_part .tox-statusbar {
			display: none;
		}
	}
	
	>.o_container_part {
		margin-bottom: 1px;
	}
}

.o_page_inspector {
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 10;
	width: 220px;
	margin-right: 0px;
	background-color: #fff;
	box-shadow: $o-editor-inspector-box-shadow;
}

.o_rubric_inspector .o_ceditor_narrow {
	padding: 6px 3px;
}

.o_page_container {
	box-sizing: border-box;
	padding: 10px;
}

.o_page_container_slot {
	box-sizing: border-box;
	margin: 0 -1px -1px 0;
	padding: $o-editor-container-slot-padding;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.o_page_container {
	.o_page_container_slot {
		border: $o-editor-element-border-width dotted $o-editor-container-border-color;
	}
	&:hover .o_page_container_slot {
		/* bug in web-kit: does not work when draging from outside */
		border: $o-editor-element-border-width dotted $o-editor-hover-border-color;    
	}
	&:hover .o_page_container_tools > .o_hover_text_wrapper > .o_hover_text {
		visibility:visible;
	}
	.o_hover_text_wrapper {
		visibility:hidden;
		position: relative;
		.o_hover_text {
			position: absolute;
			top: -10px;
			left: -10px;
			color: $o-editor-border-color;
			// background-color: Window; // Does not work in Safari
			background-color: white;
			border-bottom: $o-editor-element-border-width dotted $o-editor-border-color;
			div {
				display: inline-block;
				padding: 1px 5px;
				border-right: $o-editor-element-border-width dotted $o-editor-border-color;
			}
		}
	}
}

.o_page_add_in_container_grp {
	margin: 5px 0 -7px 0;
	flex-grow: 0;
	flex-shrink: 0;
	>a {
		margin: 0;
	}
}

/* D&D styles */
.o_page_element_tools {
	touch-action: none;
	user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.o_page_container_slot-inner.oo-drop-accepted {
	outline: 1px dashed $o-editor-selected-border-color;
}

.o_page_container_slot-inner {
	min-height: 100px;
	flex-grow: 5;
}

.gu-transit {
	//
}

.gu-mirror .o_page_element_tools .o_page_drag_handle {
	cursor: grabbing !important;
}

.gu-transit .o_page_inspector,
.gu-mirror .o_page_inspector {
	display: none;
}

.gu-mirror .tox-tinymce {
	border: none;
}
		
.gu-mirror .o_page_part .tox-statusbar {
	display: none;
}

.gu-mirror .o_page_element_tools>span {
	background-color: $o-editor-selected-color;
	color: #fff;
}

.o_page_part.oo-dragging, .o_page_fragment_edit.oo-dragging .o_page_part {
	opacity: 0.6;
	background-color: rgba(255, 255, 255, 0.6);
	border: $o-editor-element-border-width dotted $o-editor-drag-accepted-color;
	box-shadow: 0px 0px 20px #aaa;
	cursor: grabbing;
}

.o_page_add_callout {
	a span {
		display: none;
	}
	ul.list-inline {
		margin-bottom: 0;
	}
}

.o_page_table_edition {
	.o_table_title, .o_table_caption {
		padding: 5px;
	}
}



/* Image */
.o_page_content, .o_page_content_editor {

	.o_image, .o_video {
		width: 100%;
		img {
			border: 1px $o-portfolio-media-content-background-color solid;
			border-radius: $o-panel-placeholder-border-radius;
		}
		
		.o_artefact_metadata {
			text-align: left;
		}
	
		/* image alignment */
		&.o_image_align_left {
			@extend %o_block_large;
			float: left;
			&+.o_image_clear {
				clear: both;
			}			
		}
		&.o_image_align_right {
			@extend %o_block_large;
			float: right;
			&+.o_image_clear {
				clear: both;
			}			
		}
		&.o_image_align_middle {
			@extend %o_block_large;
			clear:both;
			margin-left: 50%;
			text-align: center;
			transform: translate(-50%, 0%);
		}
		&.o_image_align_leftfloat {
			float: left;
			padding-right: $o-portfolio-media-content-space;
			padding-bottom: $o-portfolio-media-content-space;
		}
		&.o_image_align_rightfloat {
			float: right;
			padding-left: $o-portfolio-media-content-space;
			padding-bottom: $o-portfolio-media-content-space;
		}
	
		/* image size */
		&.o_image_size_style_none {
			// nothing
		}		
		&.o_image_size_style_small {
			width: 25%;
			img {
				width: 100%;
			}		
		}
		&.o_image_size_style_medium {
			width: 40%;
			img {
				width: 100%;
			}
		}
		&.o_image_size_style_large {
			width: 60%;
			img {
				width: 100%;
			}
		}
		&.o_image_size_style_fill {
			@extend %o_block_large;
			width: 100%;
			float: none !important;
			display: block;
			.o_figure_caption_bottom {
				display: block;
			}
			img {
				width: 100%;
				display: block;
			}
		}
		
		/* Image styles */
		img.o_image_classic {
			/* not styled */
			padding: 0;
			border: 0;
			border-radius: 0;
		}
		img.o_image_border {
			padding: 3px;
			border: solid 1px #CCC;
		}
		img.o_image_shadow {
			padding: 0;
			border: 0;
		    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		img.o_image_frame {
			/* see https://designshack.net/articles/css/4-fun-css-image-effects-you-can-copy-and-paste/ */
			padding: 0;
			border: 0;
			border-radius: 0;
		    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 0px 10px #f6f3f8, 0px 0px 0px 14px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 0px 10px #f6f3f8, 0px 0px 0px 14px rgba(0,0,0,0.2);
	    	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 0px 10px #f6f3f8, 0px 0px 0px 14px rgba(0,0,0,0.2);
	    	margin: 15px;
		}
		img.o_image_polaroid {
			padding: 0;
			border-radius: 0;
			border: 1px solid #dcdcdc;
			background: #fff;
			padding: 10px 10px 45px 10px;
		  	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	     	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	      	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
		}
		
		img.o_image_round {
			padding: 3px;
			border: solid 1px #CCC;
			border-radius: 50%;
		}
		
		.o_image_title_dark {
			color: $o-editor-title-dark;
		}
		.o_image_title_bright {
			color: $o-editor-title-bright;
		}
		
		.o_image_title {
			position: relative;
			
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				position: absolute;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, -50%);			
			}		
			
			.o_image_title_top {
				top: 10%;
			}
			.o_image_title_centered {
				top: 50%;
			}			
			.o_image_title_bottom {
				bottom: 10%;
			}
		}
	
		&.o_image_size_style_none {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 24px;			
			}		
		}		
		&.o_image_size_style_small {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 18px;			
			}
		}
		&.o_image_size_style_medium {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 32px;			
			}
		}
		&.o_image_size_style_large {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 40px;			
			}
		}
		&.o_image_size_style_fill {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 56px;			
			}		
		}
	}
}
	
.o_page_add_contents {
	clear: both;
	margin-top: 30px;
}

.o_ce_html_raw, .o_ce_html_paragraph {
	&.o_html_col2 {
		column-count: 2;
		column-gap: 1em;
	}
	&.o_html_col3 {
		column-count: 3;
		column-gap: 1em;
	}
	&.o_html_col4 {
		column-count: 4;
		column-gap: 1em;
	}
}

table.o_ce_table {
	caption {
		caption-side: bottom;
	}
}

.o_ce_add_main_btns {
	margin-top: 0;
}

.o_ce_add {
	border: none;
	margin-bottom: 0px;
	
	.o_ce_tools {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	
		.o_ce_tool {
			padding: 0px;
			margin: 0px;
			width: 33%;
			
			a {
				padding: 6px 3px;
				margin: 0px;
				display: block;
				width: 100%;
				height: 100%;
				
				&:hover {
					padding: 5px 2px;
					border: 1px solid $o-toolbar-border-color;
					border-radius: 4px;
				}
			}
		}
	}
}

.o_ce_add_list {
	.o_ce_add_list_item {
		border-style: none;
		padding: 0px;
		margin: 0px -15px;
		
		a {
			padding: 5px 25px;
			margin: 0px;
			display: block;
			width: 100%;
			height: 100%;
			
			&:hover {
				text-decoration: none;
				background-color: $dropdown-link-hover-bg;
			}
		}
	}
}

.o_page_lead.o_page_reduced {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: baseline;
	column-gap: 20px;
	padding: 20px 20px 10px 20px;
}

.o_page_lead.o_page_reduced.o_page_with_title {
	grid-template-columns: auto 1fr auto;
}

.o_ce_wrapper.o_ce_edit_wrapper {
	.o_page_lead {
		margin-bottom: 0;
		border: none;
		border-radius: 0;
		border-bottom: 1px $o-portfolio-lead-border-color solid;
	}

	.o_pf_content {
		padding: 10px;
		background-color: $o-editor-edit-background-color;
	}
	
	border-radius: $o-portfolio-lead-border-radius;
	border: 1px $o-portfolio-lead-border-color solid;
}

.o_ce_preview {
	max-height: 400px;
	overflow: hidden;
	background: white;
}

.o_ce_preview img {
	width: 100%;
	height: auto;

}
