$brand-primary-bg : rgba($brand-primary, 0.1);
$brand-success-bg : rgba($brand-success, 0.1);
$brand-danger-bg  : rgba($brand-danger, 0.1);


.o_page_layout.o_apply_background_color {
	.o_page_run_quiz {
		.o_background_placeholder {
			background-color: unset;
		}
	}
}

.o_page_run_quiz {
	.o_background_image_wrapper {
		position: relative;

		img {
			width: 100%;
		}
	}
	.o_background_placeholder {
		position: relative;
		background-color: $o-qti-box-bg;

		img {
			width: 100%;
		}
	}

	.o_quiz_progress {
		line-height: 12px;
		padding-bottom: 12px;
		position: relative;

		.o_progress {
			display: inline-block;
			width: 100%;

			.o_progress-sm {
				height: 10px;
				background-color: white;
				border: 1px solid $modal-content-border-color;
			}
		}

		.o_progress_label_wrapper {
			display: none;
		}
	}

	.o_quiz {
		border: 1px solid $modal-content-border-color;
		border-radius: $border-radius-base;
		background-color: #f2f2f2;
		padding: 12px 20px 20px 20px;

		&.o_correct {
			border-color: $brand-success;
		}

		&.o_incorrect {
			border-color: $brand-danger;
		}

		.o_quiz_progress_label {
			font-size: 12px;
		}

		.o_quiz_question {
			border-radius: $border-radius-base;
			background-color: white;
			padding: 12px 20px 20px 20px;

			h4.itemTitle {
				padding: 0;
				border: none;
				background: unset;
				font-weight: 400;
				line-height: 32px;
			}

			.o_qti_item_body {
				padding: 0;
				border: none;
				background: unset;

				span.textEntryInteraction, span.inlineChoiceInteraction {
					&.o_correct, &.o_incorrect {
						margin-right: 5px;
					}

					&.o_correct {
						@include o-add-icon('circle-check', true, false);
						@include o-add-icon-font(false);

						&:after {
							margin-left: -24px;
							color: $brand-success;
							background-color: white;
						}
					}

					&.o_incorrect {
						@include o-add-icon('circle-xmark', true, false);
						@include o-add-icon-font(false);

						&:after {
							margin-left: -24px;
							color: $brand-danger;
							background-color: white;
						}
					}
				}

				span.textEntryInteraction {
					input.text {
						background: transparent;
						border-radius: $border-radius-small;
						border-width: 1px;
						border-style: solid;
						padding: 2px 24px 2px 5px;
						margin-bottom: 4px;
						-webkit-appearance: none;

						&.o_correct {
							border-color: $brand-success;
						}

						&.o_incorrect {
							border-color: $brand-danger;
						}
					}
				}

				span.inlineChoiceInteraction {
					select {
						background: transparent;
						border-radius: $border-radius-small;
						border-width: 1px;
						border-style: solid;
						padding: 2px 24px 2px 5px;
						margin-bottom: 4px;
						-webkit-appearance: none;

						&.o_correct {
							border-color: $brand-success;
						}

						&.o_incorrect {
							border-color: $brand-danger;
						}
					}
				}
			}

			.o_assessmentitem_wrapper .o_qti_item_body {
				background-color: unset;
			}

			.choiceInteraction {

				.o_qti_item_choice_option_flow {
					i:before {
						color: $brand-primary;
					}

					border-color: $brand-primary;
					border-width: 1px;
					border-radius: $border-radius-base;

					&.o_selected {
						background-color: $brand-primary-bg;
						color: $brand-primary;
					}

					&.o_correct {
						background-color: $brand-success-bg;
						color: $brand-success;
						border-color: $brand-success;

						i:before {
							color: $brand-success;
						}
					}

					&.o_incorrect {
						background-color: $brand-danger-bg;
						color: $brand-danger;
						border-color: $brand-danger;

						i:before {
							color: $brand-danger;
						}
					}

					.check {
						font-weight: 700;
					}

					label {
						user-select: none;

						margin: 0;
						p {
							margin: 0;
						}
					}
				}

				table {
					border-collapse: separate;
					border-spacing: 0 4px;
				}

				input + i  {
					display: unset;
				}

				&.choiceright {
					table {
						tr {
							td {
								&.choiceInteraction {
									background-color: unset;

									border-left-style: solid;
									border-right-style: unset;

									border-top-left-radius: $border-radius-base;
									border-bottom-left-radius: $border-radius-base;
									border-top-right-radius: unset;
									border-bottom-right-radius: unset;

									label {
										padding-left: 11px;
										padding-right: 0;
									}
								}

								&.control {
									border-left-style: unset;
									border-right-style: solid;

									border-top-left-radius: unset;
									border-bottom-left-radius: unset;
									border-top-right-radius: $border-radius-base;
									border-bottom-right-radius: $border-radius-base;
								}
							}

							&.o_selected td {
								&.choiceInteraction {
									background-color: $brand-primary-bg;
								}
							}

							&.o_correct td {
								&.choiceInteraction {
									background-color: $brand-success-bg;
								}
							}

							&.o_incorrect td {
								&.choiceInteraction {
									background-color: $brand-danger-bg;
								}
							}
						}
					}
				}
			}

			tr.choiceinteraction {
				height: 40px;

				td {
					padding: 0;
					border-color: $brand-primary;
					border-width: 1px;
					border-top-style: solid;
					border-bottom-style: solid;

					&.control {
						vertical-align: middle;
						border-top-left-radius: $border-radius-base;
						border-bottom-left-radius: $border-radius-base;
						border-left-style: solid;

						label {
							margin: 0;
							padding: 11px 7px 11px 10px;
							width: 100%;
						}
					}

					&.choiceInteraction {
						line-height: 18px;
						border-top-right-radius: $border-radius-base;
						border-bottom-right-radius: $border-radius-base;
						border-right-style: solid;

						width: 100%;
						color: $brand-primary;

						p {
							margin: 0;
						}

						label {
							margin: 0;
							padding: 11px 10px 11px 0;
							width: 100%;
							user-select: none;
						}
					}
				}

				&.o_selected td {
					&.control, &.choiceInteraction {
						background-color: $brand-primary-bg;
						color: $brand-primary;
					}
				}

				&.o_correct td {
					&.control, &.choiceInteraction {
						background-color: $brand-success-bg;
						color: $brand-success;
						border-color: $brand-success;
					}

					i:before {
						color: $brand-success;
					}
				}

				&.o_incorrect td {
					&.control, &.choiceInteraction {
						background-color: $brand-danger-bg;
						color: $brand-danger;
						border-color: $brand-danger;
					}

					i:before {
						color: $brand-danger;
					}
				}

				td i:before {
					color: $brand-primary;
				}
			}

			input[type="radio"], input[type="checkbox"] {
				display: none;
			}

			.o_assessmentitem_wrapper {
				.itemTitle {
					line-height: 40px;

					.o_qti_item_meta {
						margin-top: 8px;
					}
				}

				.o_solution_wrapper {
					margin-top: 20px;
				}

				.modalFeedback {
					h4 {
						border: unset;
						font-size: unset;
						font-weight: unset;
						padding: 8px 16px;

						a:hover, a:focus {
							text-decoration: none;
						}
					}
				}
			}

			.o_button_group.o_assessmentitem_controls {
				background: unset;
				border: unset;
				margin: unset;
				padding: unset;
				padding-top: 16px;
			}

			.o_assessmentitem_controls .o_sel_show_solution span::before {
				content: unset;
			}
		}
	}

	.o_quiz_panel {
		position: absolute;
		border-radius: $border-radius-large;
		background-color: white;
		padding: 12px 5% 20px 5%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		max-height: 90%;
		overflow-y: auto;

		.o_quiz_title {
			font-weight: bold;
			font-size: 20px;
			text-align: center;
			margin-bottom: 10px;
		}

		.o_quiz_description {
			text-align: center;
		}

		.o_quiz_button {
			margin-top: 20px;
			text-align: center;

			a {
				padding-left: 8px;
			}
		}
	}
}

.o_page_edit_quiz {
	.o_quiz_edit_header {
		display: flex;

		.o_quiz_title {
			display: inline-block;
			margin-right: 4px;
			font-weight: bold;
			font-size: 18px;
			line-height: 34px;
			flex-grow: 1;
		}

		.o_quiz_add_question {
			margin-right: 4px;
		}

		.o_quiz_commands {
			margin-right: 2px;
		}
	}

	.o_quiz_questions {
		margin-top: 4px;
		padding: 2px;

		.o_table_wrapper {
			.o_col_sticky_right {
				background-color: unset;
			}
		}
	}
}
