/*
 * =================================================
 *  
 * Content styles for OpenOLAT
 *   
 * @author gnaegi,  www.frentix.com
 * @date April 2014
 *
 * Please also read themes.README!
 *
 * This file is compiled to a separate CSS-file as 
 * well as included as a module to the main style. The 
 * separate CSS will be be included to the tinyMCE
 * HTML editor and injected into iframes that display
 * learning content. 
 *  =================================================
 */
 
/* content boxes */
.o_info { 
	margin: 20px 0;
	padding: 20px;
	background-color: #eee;
	border-left: 3px solid #d4d4d4;
	h2, h3, h4, h5 { color: #bbbbbb;}
}
p.o_info, div.o_info {margin: 20px 0;} /* tiny needs something here */

.o_note {
	@extend .o_info;
	background-color: #f4f8fa;
	border-color: #5bc0de;
	h2, h3, h4, h5 { color: #5bc0de;}
}
p.o_note, div.o_note {margin: 20px 0;} /* tiny needs something here */

.o_important {
	@extend .o_info;
	background-color: #FFF1A4;
	border-color: #F4D000;
	h2, h3, h4, h5 { color: #F4D000;}
}
p.o_important, div.o_important {margin: 20px 0;} /* tiny needs something here */

.o_success {
	@extend .o_info;
	background-color: #d6e9c6;
	border-color: #3c763d;
	h2, h3, h4, h5 { color: #3c763d;}
}
o.o_success, div.o_success {margin: 20px 0;} /* tiny needs something here */

.o_warning {
	@extend .o_info;
	background-color: #FFD5AA;
	border-color: #FF9E3E;
	h2, h3, h4, h5 { color: #FF9E3E;}
}
o.o_warning, div.o_warning {margin: 20px 0;} /* tiny needs something here */

.o_error {
	@extend .o_info;
	background-color: #fdf7f7;
	border-color: #d9534f;
	h2, h3, h4, h5 { color: #d9534f;}
}
o.o_error, div.o_error {margin: 20px 0;} /* tiny needs something here */

.o_border_box { 
	border: 1px solid $gray-light; 
	padding: 1em;
	@include o-border-radius(2px); 
}
p.o_border_box, div.o_border_box {margin: 1em 0;} /* tiny needs something here */


/* nice table formatting */
table {
	&.b_grid {
		background: transparent;
		border-collapse: separate;
		td, th { 
			padding: 2px 5px;
			border: 1px solid #888;
		}
		thead th {
			background: #ccc;
		}	
		tbody th {
			background: #eee;
		}
	}
	&.b_border {
		background: transparent;
		border-collapse: collapse;
		td, th { 
			padding: 2px 5px;
			border: 1px solid #888;
		}	
	}
	&.b_full { 
		width: 99.5%; 
	}
	td {
		vertical-align: top;	
	}
	&.b_middle {
		background: transparent;
		td {
			vertical-align: middle;			
		}	
	}
}

/* font styles  */
.b_selected, p.b_selected, div.b_selected { font-weight: bold; }	
.b_dimmed, p.b_dimmed, div.b_dimmed { @include o-opacity(40); }
.b_disabled, p.b_disabled, div.b_disabled { color: $gray-light; }
.b_deleted, p.b_deleted, div.b_deleted { text-decoration: line-through; }	

/* font sizes relative to parent object */
.b_xsmall, sup, sub, p.b_xsmall, div.b_xsmall { font-size: 80% }
.b_small, small, p.b_small, div.b_small { font-size: 90% }
.b_large, p.b_large, div.b_large { font-size: 110% }
.b_xlarge, big, p.b_xlarge, div.b_xlarge  { font-size: 120% }

/* text alignment: normal flow in a LTR language is left, in a RTL language it is right */
.b_align_normal { text-align: left; }
.b_align_center { text-align: center; }
.b_align_inverse { text-align: right; }

/* colors (used in repo and else where) */
.o_ochre { color: #c8a959; }
.o_blue { color: #12223F; }

/* special links */
a.b_link_extern { background: transparent url('../../openolat/images/external_link_trimmed.png') no-repeat right top; padding-right:13px;}
a.b_link_mailto { background: transparent url('../../openolat/images/mail_small.png') no-repeat left center; padding-left:18px;}
a.b_link_forward { background: transparent url('../../openolat/images/arrow_right.png') no-repeat right center; padding-right:18px;}

/* image styles */
img.b_float_left {float: left; margin: 0 2em 2em 0;}
img.b_float_right {float: right; margin: 0 0 2em 2em;}
img.b_centered {display: block; margin: 0 auto 2em auto;}
	
/* ---------- smilies / emoticons in tinyMCE (excluded in editor styles) ------------------------ */
/* i know, these are icons... but they must be in content.css, 'cause tinyMCE needs 'em... */
img.o_emoticons_angel     {background : url(#{$o-images-path}emoticons/smiley-angel.png); width: 16px; height: 16px;}
img.o_emoticons_angry     {background : url(#{$o-images-path}emoticons/smiley-mad.png); width: 16px; height: 16px;}
img.o_emoticons_blushing  {background : url(#{$o-images-path}emoticons/smiley-red.png); width: 16px; height: 16px;}
img.o_emoticons_confused  {background : url(#{$o-images-path}emoticons/smiley-confuse.png); width: 16px; height: 16px;}
img.o_emoticons_cool      {background : url(#{$o-images-path}emoticons/smiley-cool.png); width: 16px; height: 16px;}
img.o_emoticons_cry       {background : url(#{$o-images-path}emoticons/smiley-cry.png); width: 16px; height: 16px;}
img.o_emoticons_devil     {background : url(#{$o-images-path}emoticons/smiley-evil.png); width: 16px; height: 16px;}
img.o_emoticons_grin      {background : url(#{$o-images-path}emoticons/smiley-grin.png); width: 16px; height: 16px;}
img.o_emoticons_kiss      {background : url(#{$o-images-path}emoticons/smiley-kiss.png); width: 16px; height: 16px;}
img.o_emoticons_ohoh      {background : url(#{$o-images-path}emoticons/smiley-eek.png); width: 16px; height: 16px;}
img.o_emoticons_sad       {background : url(#{$o-images-path}emoticons/smiley-sad.png); width: 16px; height: 16px;}
img.o_emoticons_sick      {background : url(#{$o-images-path}emoticons/smiley-sad-blue.png); width: 16px; height: 16px;}
img.o_emoticons_smile     {background : url(#{$o-images-path}emoticons/smiley.png); width: 16px; height: 16px;}
img.o_emoticons_tongue    {background : url(#{$o-images-path}emoticons/smiley-razz.png); width: 16px; height: 16px;}
img.o_emoticons_ugly      {background : url(#{$o-images-path}emoticons/smiley-money.png); width: 16px; height: 16px;}
img.o_emoticons_weird     {background : url(#{$o-images-path}emoticons/smiley-nerd.png); width: 16px; height: 16px;}
img.o_emoticons_wink      {background : url(#{$o-images-path}emoticons/smiley-wink.png); width: 16px; height: 16px;}
img.o_emoticons_worried   {background : url(#{$o-images-path}emoticons/smiley-roll-blue.png); width: 16px; height: 16px;}
img.o_emoticons_up   	  {background : url(#{$o-images-path}emoticons/thumb-up.png); width: 16px; height: 16px;}
img.o_emoticons_down   	  {background : url(#{$o-images-path}emoticons/thumb.png); width: 16px; height: 16px;}

/*
FIXME:oo10
replaced styles: search/replace in content files on disk:

b_emoticons_ -> o_emoticons_
b_error -> o_error
*/