.o_sp_icon {@extend .o_icon-file-text-o; }
.o_st_icon {@extend .o_icon-cubes; }
.o_tu_icon {@extend .o_icon-external-link; }
.o_bc_icon {@extend .o_icon-folder-open-o;}
.o_lti_icon {@extend .o_icon-external-link; }
.o_cp_icon {@extend .o_icon-archive; }
.o_cp_item {@extend .o_icon-file-text-o;}
.o_scorm_icon {@extend .o_icon-archive; }
.o_en_icon {@extend .o_icon-sign-in; }
.o_fo_icon {@extend .o_icon-comments-o; }
.o_co_icon {@extend .o_icon-envelope-o; }
.o_infomsg_icon {@extend .o_icon-info-circle; }
.o_cal_icon {@extend .o_icon-calendar; }
.o_wiki_icon {@extend .o_icon-globe; }
.o_podcast_icon {@extend .o_icon-video-camera; }
.o_blog_icon {@extend .o_icon-bullhorn; }
.o_ep_icon {@extend .o_icon-puzzle-piece; }
.o_iqtest_icon {@extend .o_icon-pencil-square-o; }
.o_iqself_icon {@extend .o_icon-pencil-square-o; }
.o_iqsurv_icon {@extend .o_icon-meh-o; }
.o_ta_icon {@extend .o_icon-tasks; }
.o_ms_icon {@extend .o_icon-thumbs-o-up; }
.o_dialog_icon {@extend .o_icon-files-o; }
.o_projectbroker_icon {@extend .o_icon-circle-o; }
.o_ll_icon{@extend .o_icon-link;}
.o_cmembers_icon{@extend .o_icon-users;}
.o_cl_icon{@extend .o_icon-check-square-o;}
.o_vc_icon{@extend .o_icon-desktop;}
.o_vitero_icon{@extend .o_icon-desktop;}
.o_openmeetings_icon{@extend .o_icon-desktop;}

.o_midpub {color: green; @extend .o_icon-check-circle; }
.o_midwarn {color: orange; @extend .o_icon-warning; }
.o_midlock {@extend .o_icon-lock;}
.o_miderr {color: red; @extend .o_icon-warning;}
.o_middel {@extend .o_icon-eraser;}

/* score info status classes */
.o_passed {
	@extend .success;
	@extend .text-success;
	font-weight: bold;
	th {
		color: $text-color		
	}
}
.o_failed {
	@extend .danger;
	@extend .text-danger;
	font-weight: bold;
	th {
		color: $text-color		
	}
}		
.o_unknown {
	@extend .warning;
	@extend .text-warning;
	font-weight: bold;
	th {
		color: $text-color		
	}
}		
.o_noinfo {
	@extend .text-muted;
}		

/* general course run classes */
.o_course_run {
	.o_toc {
		.o_entry {
			@extend .small;
			@extend .o_block;
			.o_shorttitle {
				border-bottom: 1px solid $gray-light;
			}
			.o_displaytitle {
				margin-top: $padding-small-vertical;
				@extend .text-muted;	
			}
			.o_objectives {
				margin-top: $padding-large-vertical;
				font-style: italic; 
			}
		}
	}	
	.o_no_scoreinfo {
		@extend .o_important;
	}	
	.o_statusinfo {
		@extend .o_note;
	}
}

/* structure course element */
.o_st_peekview {
	ul {
		li {
			margin-bottom: 0.5em;
		}
	}
}

/* checklist course element */
.o_cl_line {
	margin-bottom: $padding-large-vertical;
	padding-bottom: $padding-small-vertical;
	&.o_even {
		background-color: $table-bg-accent;
	}
}

/* statistics */
.o_course_stats .o_desc {
	@extend .o_note
}

