/* custom layout */
.o_visual {
	overflow: hidden;
	height: $o-coursesite-rowelem-height-md;	
	width: $o-coursesite-rowelem-width-md;
	vertical-align: middle;
	background: #fff;
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
		height: $o-coursesite-rowelem-height-sm;	
		width: $o-coursesite-rowelem-width-sm;		
	}
	@media (max-width: $screen-xs-max) { 
		height: $o-coursesite-rowelem-height-xs;	
		width: $o-coursesite-rowelem-width-xs;		
	}	
	
	img {
		width: 100%;
		height: auto;
	}
	
	.o_visual_not_available {
		width: 100%;
		height: 100%;
		background-image:url('#{$o-images-path}no_preview.png');
		background-repeat:no-repeat;
		background-position:50% 50%;		
		background-size: contain;
	}
}


.o_coursetable {
	&.o_rendertype_custom {	
		 .o_table_row {
			margin-bottom: math.floor(math.div($line-height-computed,2));
			
			 .o_repo_entry_list_item {
				display: flex;
				position: relative;
				height: $o-coursesite-rowelem-height-md + (2 * $o-coursesite-rowelem-space-md);	
				padding: $o-coursesite-rowelem-space-md;
				border: 1px solid $o-coursesite-rowelem-border;
				border-radius: $o-coursesite-rowelem-border-radius;	
				background: $o-coursesite-rowelem-bg;			
				
				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
					height: $o-coursesite-rowelem-height-sm + (2 * $o-coursesite-rowelem-space-sm);	
					padding: $o-coursesite-rowelem-space-sm;
				}
				@media (max-width: $screen-xs-max) { 
					height: $o-coursesite-rowelem-height-xs + (2 * $o-coursesite-rowelem-space-xs) + 2px;	
					padding: $o-coursesite-rowelem-space-xs;
				}	
			}
									
			.o_visual {
				flex: 0 0 auto;
				box-sizing: content-box;
				border-radius: $o-coursesite-rowelem-border-radius;
				
				@media (max-width: $screen-xs-max) { 
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			.o_meta {
				flex: 1 1 auto;
				position: relative;
				padding: 0  $o-coursesite-rowelem-space-md;
				
				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
					padding: 0  $o-coursesite-rowelem-space-sm;
				}
				@media (max-width: $screen-xs-max) { 
					padding: 0  10px;
				}	

				/* flex box hack to make text overflow and ellipsis work for following elements (title) */
				min-width: 0;				
				
				.o_ext_ref {
					color: $text-muted;
					font-size: 10px;
					line-height: 12px;
					height: 12px;
					@include text-overflow();
					display: block;
				}
	
				.o_title {
					margin: 0.2em 0 0.1em 0; /* box moves down otherwise, replaced with padding */
					position: relative;
					line-height: 1.2;
					a {
						@extend %o_undecorated;
						@include text-overflow();
						display: block;
						color: $o-coursesite-meta-title-color;
						&:hover {
						    color: darken($o-coursesite-meta-title-color, 10%);
						}				
					}
				}
				.o_educational_type {
					font-size: 70%;
				}
				.o_teaser {
					font-size: 85%;
				}
				.o_author{
					font-size: 85%;
					color: $o-coursesite-meta-author-color;
				}
				.o_closed {
					display: inline-block;
				}
				.o_lifecycle {
					margin: 0.5em 0;
					font-size: 85%;
					line-height: normal;
					color: $text-muted;
					&:not(.o_active) .o_lifecycle_date {
						color: $state-danger-text;
					}
					.o_lifecycle_date, .o_lifecycle_location {
						display: inline;
					}
					.o_spacer {
						margin: 0 0.5em;					
					}
				}
				.o_desc {
					display: none;
				}
				
				.o_taxonomy_levels {
					position: absolute;
					bottom: 0;
					color: $text-muted;
					font-size: 85%;
					vertical-align: text-bottom;

					@include text-overflow();					
					width: 98%;
									
					.o_icon_tags {
						display: none;
					}					
					
					.o_taxonomy {
						font-size: 82%;
						display: inline-block;
					}
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
						display: none;
					}
				}
				
				.o_bookmark {
					position: absolute;
					z-index: 2;
					top: (-$o-coursesite-rowelem-space-md - 3px);
					right: 10px;
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
						top: (-$o-coursesite-rowelem-space-sm - 3px);
					}
				}
				
				
				@media (max-width: $screen-md-max) { 
					.o_teaser {
						display: none;
					}	
				}
				@media (max-width: $screen-xs-max) { 
					.o_title {
						line-height: $o-coursesite-rowelem-height-xs;
						margin-top: 0;
						a {
							border-right:math.floor($o-coursesite-rowelem-height-xs * .75) solid transparent;
							@include text-overflow();
						}
					}
					.o_educational_type, .o_teaser, .o_author, .o_closed, .o_lifecycle, .o_desc, .o_taxonomy_levels, .o_bookmark {
						display: none;
					}	
					.o_ext_ref {
						position: absolute;
						top: 2px;
						left: 10px;
						width: 80%; /* for overflow */
					}
				}
				.o_go_xs {
					position: absolute;
					top: 0;
					right: 0;
					padding: 0 1em;
					height: $o-coursesite-rowelem-height-xs;
					width: math.floor($o-coursesite-rowelem-height-xs * .75);
					line-height: $o-coursesite-rowelem-height-xs;
					color: $o-coursesite-go-xs-color;
					background-color: $o-coursesite-go-xs-bg;
					border-top-right-radius: $o-coursesite-rowelem-border-radius;
					border-bottom-right-radius: $o-coursesite-rowelem-border-radius;
					.o_icon {
						margin-left: -5px;
					}
				}	
			}
			
			.o_access {
				flex: 0 0 auto;
				height: $o-coursesite-rowelem-height-md;	
				width: $o-coursesite-rowelem-width-md;
				position: relative;
				overflow: hidden;
				
				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
					height: $o-coursesite-rowelem-height-sm;	
					width: $o-coursesite-rowelem-width-sm;
				}
				
				.o_completion {
					text-align: center;
				}
					
				.o_state, .o_score {
					@extend %o_small;
					height: math.floor(math.div($o-coursesite-rowelem-height-md,6));
					line-height: math.floor(math.div($o-coursesite-rowelem-height-md,6));
					position: relative;
					@include text-overflow();
				}	
					
				.o_score, o_passed {
					.o_label {
						color: $text-muted;
					}
				}
						
				.o_social {
					position: absolute;
					width: 100%;
					bottom: math.floor(math.div($o-coursesite-rowelem-height-md,4)) + 2px;
					height: math.floor(math.div($o-coursesite-rowelem-height-md,6));
					padding-left: 1em;
				
					.o_rating {
						.o_rating_title, o_rating_legend, .o_rating_explanation { 
							display: none; 
						}
					}
					.o_comments {
						@extend %o_undecorated;
					}
				}
				
				.o_bookings {
					padding-top: 20px;							
					@include text-overflow();
					color: $text-muted;
					font-size: 80%;
					.o_methods { 
					
					}				
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
						padding-top: 10px;					
					}		
					
				}
				
				.o_actions {
					position: absolute;
					display: block;
					bottom: 0;				
					white-space: nowrap;
					
					a {
						width: math.div($o-coursesite-rowelem-width-md ,2) - 5px;
						@include text-overflow();

						.o_icon_details {
							display: none;
						}
						
						@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
							width: math.div($o-coursesite-rowelem-width-sm ,2) - 5px;		
							span {
								display: none;
							}
							.o_icon_details {
								display: inline;
							}
						}
					}
				}
				
				.o_start, .o_book, .o_details {
					@include text-overflow();
				}
				.o_start, .o_book {
				
				}
				.o_start { @include button-variant($o-coursesite-start-color, $o-coursesite-start-bg, $o-coursesite-start-border); }
				.o_book  { @include button-variant($o-coursesite-book-color, $o-coursesite-book-bg, $o-coursesite-book-border); }

				.o_details {
					margin-right: 5px;
				
				}
				
				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
					.o_score, .o_comments, .o_label {
						display: none;
					}					
					
					.o_start, .o_book, .o_details {
						width: floor($o-coursesite-rowelem-width-sm * 0.5);
					}
					.o_details {
						right: floor($o-coursesite-rowelem-width-sm * 0.5);
					}
				}
				@media (max-width: $screen-xs-max) { 
					display: none;
				}	
				
			}
			
		}
	}
	&.o_rendertype_classic {
		.o_rating_explanation {
			display: none;
		}
		.o_start, .o_book {
			white-space: nowrap;
		}
		.o_repoentry_type {
			color: $text-muted;
		}
		.o_repoentry_ac {
			color: $text-muted;
			ul {
				display: inline-block;
			}
		}
	}
}

.o_entry_cards {
	.o_repo_entry_card {
		border: 1px solid $o-coursesite-rowelem-border;
		border-radius: $o-coursesite-rowelem-border-radius;
		background: $o-coursesite-rowelem-bg;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		
		.o_visual {
			box-sizing: content-box;
			border-radius: ($o-coursesite-rowelem-border-radius - 1px) ($o-coursesite-rowelem-border-radius - 1px) 0px 0px;
			border-bottom: 1px solid $o-coursesite-rowelem-border;
			display: flex;
			align-items: center;
			
			aspect-ratio: 1.5;
			width: inherit;
			height: inherit;
		}
		
		.o_educational_type {
			margin-top: -28px;
			margin-bottom: 11px;
			margin-right: 10px;
			margin-left: auto;
			background: $o-coursesite-rowelem-bg;
		}
		
		.o_title {
			margin: 0;
			padding-bottom: 0.1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			
			&+div {
				margin-top: 10px;
			}
		}
		
		.o_meta {
			display: flex;
			flex-direction: column;
			padding: 10px;
			gap: 5px;
			.o_ext_ref {
				color: $text-muted;
				font-size: 10px;
				line-height: 12px;
				height: 12px;
				@include text-overflow();
				display: block;
			}
			.o_taxonomy_levels {
				color: $text-muted;
				font-size: 85%;
				vertical-align: text-bottom;

				@include text-overflow();
				width: 98%;
				
				.o_taxonomy {
					font-size: 82%;
					display: inline-block;
					margin-bottom: 0;
				}
			}
		}
	}
		
	// make space for the box shadow
	&.swiper {
		margin-bottom: -20px;
		.swiper-wrapper {
			padding-bottom: 20px;
		}
	}
	
	// All cards have the same height
	&.swiper {
		.swiper-wrapper {
			align-items: stretch;
			.swiper-slide {
				height: auto;
				display: flex;
				align-content: stretch;
				align-items: stretch;
				.o_repo_entry_card {
					width: 100%;
				}
			}
		}
	}
	
	// place the bullet pagination
	&.swiper {
		.swiper-pagination {
			&.swiper-pagination-bullets.swiper-pagination-horizontal {
				bottom: 0px;
			}
		}
	}
}



/* the course catalog */
.o_catalog {
	.o_visual {
		flex: 0 0 auto;
		box-sizing: content-box;
	}

	.o_title {
		a {
			display: block;
			white-space: nowrap; 
			overflow: hidden;	
			text-overflow: ellipsis;			
		}
	}

	.o_level {
		position: relative;
		display: flex;
		margin-bottom: math.div($o-coursesite-catalog-space,2);
		padding: 0;

		border-top: 1px solid $o-coursesite-catalog-border;
		border-bottom: 1px solid $o-coursesite-catalog-border;

		.o_visual {
			height: $o-coursesite-rowelem-width-md;
		}	

		.o_meta {
			position: relative;
			min-height: $o-coursesite-rowelem-width-md;	
			height: $o-coursesite-rowelem-width-md;	

			padding: 1em 0.5em 0.5em 2em;			
			overflow-y: hidden;

			.o_title {
				margin: 0; /* box moves down otherwhise, replaced with padding */
				a {
					@extend %o_undecorated;
					color: $o-coursesite-meta-title-color;
					&:hover {
					    color: darken($o-coursesite-meta-title-color, 10%);
					}				
				}
			}
			.o_desc {
				padding: 1em 0 0.5em 0;
			}
		}

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
			.o_visual {
				height: $o-coursesite-rowelem-width-sm;	
			}
			.o_meta {
				min-height: $o-coursesite-rowelem-width-sm;	
				height: $o-coursesite-rowelem-width-sm;	
			}
		}	
		@media (max-width: $screen-xs-max) { 
			.o_visual {
				height: $o-coursesite-rowelem-width-xs;	
			}	
			.o_meta {
				min-height: $o-coursesite-rowelem-width-xs;	
				height: $o-coursesite-rowelem-width-xs;	
				padding: 0 0 0 1em;
				.o_title {
					line-height: $o-coursesite-rowelem-width-xs;
				}
				.o_desc {
					display: none;
				}	
			}
		}
	}
	
	.o_sublevels_list {
		.o_sublevel {
			position: relative;
			display: flex;
			border: 1px solid $o-coursesite-rowelem-border;
			margin-bottom: math.floor(math.div($line-height-computed,2));
			
			.o_visual {
				height: $o-coursesite-rowelem-width-xs;
				width: $o-coursesite-rowelem-width-xs;
				
				span.o_visual_not_available {
					width:100%;
					height:100%;
					display:block;
				}
			}
			
			.o_title {
				margin: 0;
			}
			
			.o_meta {
				border-left: 1px solid $o-coursesite-rowelem-border;
				min-height: $o-coursesite-rowelem-width-xs;	
				height: $o-coursesite-rowelem-width-xs;	
				padding: 0 0 0 1em;
				
				overflow: hidden;
				
				.o_title {
					line-height: $o-coursesite-rowelem-width-xs;
				}
				.o_desc {
					display: none;
				}
				
				h4.o_title>a {
					//override o_icon styles, hide the icon
					font-family: inherit;
					font-weight: inherit;
					>i {
						display:none;
					}
				}	
			}	
		}
		
		.o_sublevel.o_fill_sublevels {
			border: 1px solid transparent;
			
			.o_meta {
				border-left: 1px solid transparent;
			}
		}
	}	
	
	.o_sublevels {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: $o-coursesite-catalog-space;
		
		.o_sublevel {
			position: relative;
			margin: 0 $o-coursesite-catalog-space $o-coursesite-catalog-space 0;
			width: $o-coursesite-rowelem-width-md;	

			&:last-child {
				margin-right: 0;			
			}
						
			.o_visual {
				border: 1px solid $o-coursesite-catalog-border;
				position: relative;
				height: $o-coursesite-rowelem-width-md;
			
				span.o_visual_not_available {
					width:100%;
					height:100%;
					display:block;
				}
			}	
			.o_meta {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;

				border: 1px solid $o-coursesite-catalog-border;
				border-top: 0;
				background-color: rgba(255,255,255,0.8);
				
				.o_title {
					margin: 0; /* box moves down otherwhise, replaced with padding */
					text-align: center;
					line-height: 2em;
					height: 2em;
					width: 100%;

					overflow: hidden;
					/* overflow via JS OPOL.Ellipsis */
					a {
						@extend %o_undecorated;
						display: block;
						color: $o-coursesite-meta-title-color;
						&:hover {
						    color: darken($o-coursesite-meta-title-color, 10%);
						}
						
						//override o_icon styles, hide the icon
						font-family: inherit;
						font-weight: inherit;
						>i {
							display:none;
						}
					}
				}
			}

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
				width: $o-coursesite-rowelem-width-sm;	
				margin: 0 $o-coursesite-catalog-space-sm $o-coursesite-catalog-space-sm 0;
	
				.o_visual {
					height: $o-coursesite-rowelem-width-sm;	
				}	
				.o_title {
					font-size: 90%;
				}
			}
			@media (max-width: $screen-xs-max) { 
				width: $o-coursesite-rowelem-width-sm;	
				margin: 0 $o-coursesite-catalog-space-xs $o-coursesite-catalog-space-xs 0;
				
				.o_visual {
					height: $o-coursesite-rowelem-width-sm;	
					width: $o-coursesite-rowelem-width-sm;	
				}	
				.o_title {
					font-size: 90%;
				}
			}	
		}
	}
	
	/* multi-column layout for list and compact styles */
	@media (min-width: $screen-sm-min) {
		.o_sublevels_list, .o_sublevels_compact {
			-webkit-column-count:2;
			-moz-column-count:2;
			-ms-column-count:2;
			-o-column-count:2;
			column-count:2;
			columns:2;
		}
	}
}
 
/* Catalog V2 */
.o_catalog2 {
	.o_catalog_header {
		margin-top: -20px;
		margin-bottom: -20px;
		.o_catalog_header_item {
			padding: 20px 20px 40px 20px;
			height: $o-cat2-header-height;
			max-height: $o-cat2-header-height;
		}
		.o_catalog_header_item:not(.o_header_bg_image) {
			background: $o-cat2-header-noimage-bg;
			background-blend-mode: $o-cat2-header-noimage-bg-blend-mode;
		}
		.o_header_bg_image {
			background-repeat: no-repeat;
			background-position: center left;
			background-size: cover;
		}
		&.o_preview {
			margin: 0;
		}
	}
	.o_catalog_search_header.o_catalog_search {
		display: flex;
		justify-content: center;
		align-items: center;
		
		.o_catalog_admin_tools {
			margin-top: $line-height-computed;
		}
		.o_search_box {
			border-radius: $o-coursesite-rowelem-border-radius;
			background-color: $input-bg;
			padding: 1px 20px 20px 20px;
		}
		.o_search_box:is(.o_header_bg_image *) {
			background-color: $o-cat2-header-box-bg-color;
		}
	}
	.o_catalog_taxonomy_header {
		.o_taxonomy_block {
			padding: 20px;
			display: flex;
			h3 {
				margin: 0px;
			}
			.o_taxonomy:is(.o_header_bg_image *) {
				border-radius: $o-coursesite-rowelem-border-radius;
				background-color: $o-cat2-header-box-bg-color;
				padding: 20px;
			}
		}
	}
	
	.o_catalog_breadcrumb {
		.breadcrumb {
			background-color: $input-bg;
			border: 1px solid $input-border;
			border-radius: $input-border-radius;
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	
	.o_catalog_title_link {
		a {
			color: $o-coursesite-meta-title-color;
			@extend %o_undecorated;
		}
	}
	
	.o_catalog_launcher {
		margin-top: $o-cat2-launcher-margin-top;
		.o_launcher_title {
			margin: $o-cat2-launcher-title-margin;
			h1, h2, h3 {
				margin: 0;
			}
			&.o_flex_first_grow {
				align-items: end;
			}
		}
	}
	
	.o_taxonomy_launchers {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
		&.o_launchers_square {
			grid-template-columns: repeat(auto-fill, minmax(153px, 1fr));
		}
		@media (max-width: 605px) {
			// Always display at least two cards side by side like defined in swiper (launch_repository_entry.html)
			grid-template-columns: repeat(2, auto);
		}
		.o_taxonomy_launcher {
			border: 1px solid $o-coursesite-rowelem-border;
			border-radius: $o-coursesite-rowelem-border-radius;
			background: $o-coursesite-rowelem-bg;
			cursor: pointer;
			&.o_tax_teaser_preview {
				cursor: auto;
			}
			position: relative;
			aspect-ratio: 2.4;
			&:is(.o_launchers_square *) {
				aspect-ratio: 1;
				.o_meta {
					.o_title {
						font-size: $o-cat2-tax-launcher-square-font-size;
					}
				}
			}
			.o_visual {
				box-sizing: content-box;
				border-radius: $o-coursesite-rowelem-border-radius;
				height: auto;
				width: auto;
				aspect-ratio: 2.4;
				&:is(.o_launchers_square *) {
					aspect-ratio: 1;
				}
				.o_visual_not_available {
					display: block;
				}
				.o_visual_available {
					background-size: contain;
				}
			}
			
			.o_meta {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				border-bottom-left-radius: $o-coursesite-rowelem-border-radius;
				border-bottom-right-radius: $o-coursesite-rowelem-border-radius;
				background-color: rgba(255,255,255,.8);
				
				.o_title {
					margin: 0;
					padding: 0px 5px;
					line-height: 2em;
					height: 2em;
					width: 100%;
					a, &:is(.o_tax_teaser_preview *) {
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
	
	.o_card_hover {
		&:hover {
			border: 1px solid $brand-primary;
			border-radius: 3px;
			.o_catalog_title_link {
				a {
					color: $brand-primary;
				}
			}
		}
	}
}

