.badge {
	/* badge color */
	&.o_midpub { background-color: $o-course-node-published; }
	&.o_midwarn { background-color: $o-course-node-warning; }
	&.o_midlock { background-color: $o-course-node-locked;}
	&.o_miderr { background-color: $o-course-node-error;}
	&.o_middel { background-color: $o-course-node-deleted;}
}
.o_course_editor_legend .badge {
	font-size: 80%;
	&:before {
		content: none;
	}
}

/* score info status classes */
.o_passed {
	color: $o-course-state-passed-color;
	font-weight: bold;
	a:hover {
	    color: darken($o-course-state-passed-color, 10%);
	}					
	th {
		color: $text-color		
	}
}
.o_failed {
	color: $o-course-state-failed-color;
	font-weight: bold;
	a:hover {
	    color: darken($o-course-state-unknown-color, 10%);
	}				
	th {
		color: $text-color		
	}
}		
.o_unknown {
	color: $state-warning-text;
	font-weight: bold;
	a:hover {
	    color: darken($o-course-state-unknown-color, 10%);
	}				
	th {
		color: $text-color		
	}
}		
.o_noinfo {
	color: $text-muted;
}		

/* general course run classes */
.o_course_run {
	.o_toc {
		.o_entry {
			@extend %o_small;
			@extend %o_block;
			.o_shorttitle {
				border-bottom: 1px solid $gray-light;
			}
			.o_displaytitle {
				margin-top: $padding-small-vertical;
				color: $text-muted;	
			}
			.o_objectives {
				margin-top: $padding-large-vertical;
				font-style: italic; 
			}
		}
		@if not $o-course-show-icon-toc {
			// hide icons in peekview title
			.o_shorttitle > h4 > a > i{
				display: none;
			}
		}
	}	
	.o_no_scoreinfo {
		@extend %o_important;
	}	
	.o_statusinfo {
		@extend %o_note;
	}
	.o_in_review {
		font-style: italic;
		position: relative;
	}
	
	@if not $o-course-show-icon-title {
		// hide icons in title, too much fuzz
		&.o_titled_wrapper > h2 i{
			display: none;
		}
	}
	
	.o_cal_toptoolbar {
		margin-right: 26px;
	}
	
	.o_titled_wrapper .o_cal_toptoolbar {
		margin-right: 0px;
	}
}

@if not $o-course-show-icon-menu {
	// hide icons in menu
	.o_tree.o_course_menu .o_tree_link > i {
		display: none;
	}
}

/* override transparent background for tree menu */
.o_tree.o_course_menu {
	div.o_tree_l0 > a:first-child {
		background-color: $o-tree-link-bg;
	}
}

/* structure course element */
.o_st_peekview {
	ul {
		li {
			margin-bottom: 0.5em;
		}
	}
}

/* checklist course element */
.o_cl_line {
	margin-bottom: $padding-large-vertical;
	padding-bottom: $padding-small-vertical;
	&.o_even {
		background-color: $table-bg-accent;
	}
}

/* link list course element */
.o_ll_container {
	h5 {
		margin-bottom: 5px;
		a.o_desc {
			color: $o-content-h5-color;	
			small {
				display: none;
			}
	
			&:hover {
				color: darken($o-content-h5-color,10%);				
				text-decoration: none;
				small {
					color: darken($o-content-dimmed-color,10%);				
					display: inline;
				}
			}		
		}
	}
	div.o_comment {
		color: $o-content-dimmed-color;
	}
}

/* statistics */
.o_course_stats .o_desc {
	@extend %o_note
}

/* member list course element */
.o_cmembers {
	.o_cmember {
		margin: $padding-base-horizontal 0;
		display: table;
		.o_portrait {
			padding-right: $padding-large-vertical;		
			display: table-cell;
			vertical-align: top;
			min-width: 60px;
			img {
				width: 50px;
				height: 50px;
			}
		}
		.o_cmember_info_wrapper {
			display: table-cell;
			vertical-align: middle;
			.o_mail {
				margin-left: $padding-base-vertical;					
			}
			color: $text-muted;
		}
		
		.o_curriculum_displayname, .o_curriculum_root_el_identifier, .o_curriculum_root_el_displayname {
			font-size: 12px;
		}
	}
	
	.o_cmember a.o_mail {
		display: none;
	}
		
	.o_cmember:hover a.o_mail {
		display: inline;
	}
}

.o_cmembers_print {
	#o_print_brand {
		position: absolute;
		top: 1cm;	
		right: 1cm;
		width: 5cm;
		height: 4cm;
		img {
			width: 100%;
		}
	}
	
	.o_portrait {
		width: 100px;
		height:100px;
		position:relative;
		
		img {
			border-radius: 0px;
			max-width: 100%;
			max-height:100%;
			width: auto;
			height: auto;
			position: absolute;  
			top: 0;  
			bottom: 0;  
			left: 0;  
			right: 0;  
			margin: auto;
		}
	}
	
	.o_cmember {
		padding-left: 0px;
		padding-right: 15px;
		margin-bottom: 20px;
		
		.o_cmember_info_wrapper {
			word-wrap:break-word;
		}
		
		.o_prop {
			&.o_zipCode {
				float: left;
				padding-right: 0.5em;
			}
		}
	}
	
	/* print font styles */
	color: #000;
	h1 {
		font-size: 18pt;	
		color: #000;
	}
	h3 {
		font-size: 14pt;
		margin-top: 5px;
		font-weight: normal;
		color: #000;
	}
	h4 {
		font-size: 11pt;
		font-weight: strong;		
		color: #000;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}
	
	.o_cmember_info_wrapper {
		font-size: 7pt;
		color: #000;
		strong {
			font-size: 8pt;
		}
	}
}

.tag.label.label-info {
	margin-right: 3px;
}

.input-group.o_tag_inputgroup .form-control {
	height:auto;
}

/* Assessment tool */
div.o_correction_navigation {
	.o_correction_navigation_back {
		float: left;
		line-height: ($line-height-computed + 2 * $padding-base-vertical); /* same height as buttons */
	}
	/* position selbox in center, previous left and next right of it */
	.o_correction_navigation_previous {
		position: absolute;
		right: 50%;
		margin-right: 102px;
	}
	#o_cocurrent_item_SELBOX {
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;		
		position: absolute;
		left: 50%;
		margin-left: -100px;
	}
	.o_correction_navigation_next {
		position: absolute;
		left: 50%;
		margin-left: 102px;
	}
	@media (max-width: $screen-xs-max) {
		.o_correction_navigation_previous,
		.o_correction_navigation_next {
			span {
				display: none;
			}
		}
	}
}
.o_ms_stack_panel {
	.o_toolbar {
		margin-top: 0px;
	}
}
.o_ms_bold {
	font-weight: bold;
}
.o_ms_legend {
	padding: 5px;
	
	li {
		display: block;
		font-size: 90%;
	}
	.ident {
		font-weight: bold;
	}
}
