.o_creditpoint_amount_debit {
	color: $o-cp-withdraw-color;
}

.o_creditpoint_amount_credit {
	color: $o-cp-deposit-color;
}

.o_labeled_light {
	&.o_cp_status_active {
		font-weight: normal;
		@extend %o_labeled_light_green;
	}
	&.o_cp_status_inactive {
		font-weight: normal;
		@extend %o_labeled_light_grey;
	}
}
