/* debug 
$o-curriculum-level-steps-enabled				: true;
$o-curriculum-entry-image-enabled				: true;
$o-curriculum-style-program-bg					: #C2E8AE;
$o-curriculum-style-program-border				: 1px solid darken($o-curriculum-l0-bg,30%);
$o-curriculum-style-semester-title-bg			: #AEE8BF;
$o-curriculum-style-module-bg					: #CCFFCC;
$o-curriculum-entry-bg							: #CCFFCC;
*/

@mixin o-make-responsive-inline-block($cols : $o-curriculum-entry-cols, $screen-max: $screen-sm-max, $right-margin: $padding-base-vertical, $bg : $o-curriculum-entry-bg) {
	@if $cols > 1 and not $o-curriculum-level-steps-enabled {
		$width: floor(100% / $cols);
		
		display: inline-block;
		width: $width;			
		border-right: ($padding-base-vertical * 2) solid transparent;	
	
		/* reset o-make-responsive-inline-block() when there are many children or on small screen*/
		@media (max-width: $screen-max) {
			display: block;
			width: 100%;
	 		border-right: 0 !important;	
	 	}
		&.o_with_multi_repository_entries {
			display: block;
			width: 100%;
			border-right: 0 !important;	
	 	}
		/* add background if required and a minimum height for nicer visual appearance */
		.o_row_inner_wrapper { 
			background: $bg;
			min-height: $o-coursesite-rowelem-height-sm;		
			@media (max-width: $screen-xs-max) { 
				min-height: $o-coursesite-rowelem-height-xs;	
			}			
		}			
		.o_curriculum_entry {
			min-height: $o-coursesite-rowelem-height-sm;		
			@media (max-width: $screen-xs-max) { 
				min-height: $o-coursesite-rowelem-height-xs;	
			}			
		}	
	}
}

@mixin o-make-curriculum-row-style($rowname: ".o_curriculum_element", $margin: $o-curriculum-margin, $bg: $o-curriculum-bg, $border: $o-curriculum-border, $title-bg: $o-curriculum-title-bg,  $title-padding: $o-curriculum-title-padding, $lifecycle-bg: $o-curriculum-lifecycle-bg, $lifecycle-padding: $o-curriculum-lifecycle-padding, $desc : $o-curriculum-show-description) {
	#{$rowname} {
		margin: $margin;
		.o_row_inner_wrapper {
			background: $bg;
			border: $border;
		}
		.o_curriculum_element_title {
			background: $title-bg;
			padding: $title-padding;			
		}
		.o_curriculum_lifecycle {
			padding: $lifecycle-padding;			
			background: $lifecycle-bg;
		}
		.o_curriculum_calendars {
			padding: $lifecycle-padding;			
			background: $lifecycle-bg;
		}			
		.o_curriculum_element_desc {
		@if $desc == false {
			display: none;
		}
		}
	}				
}



.o_curriculum_el_listing {
	tr.o_curriculum_element_inactive, tr.o_curriculum_element_inactive td, tr.o_curriculum_element_inactive td span, tr.o_curriculum_element_inactive td a {
		color: $o-curriculum-element-inactive-color;
	}
	tr.o_curriculum_element_unfiltered, tr.o_curriculum_element_unfiltered td, tr.o_curriculum_element_unfiltered td span, tr.o_curriculum_element_unfiltered td a {
		color: lighten($o-curriculum-element-inactive-color, 20%);
	}
	tr.o_curriculum_element_deleted, tr.o_curriculum_element_deleted td, tr.o_curriculum_element_deleted td span, tr.o_curriculum_element_deleted td a {
		color: $o-curriculum-element-inactive-color;
		text-decoration: line-through;
	}
}

.o_curriculumtable {
	/* Default table style rendering */
	@for $i from 0 through 11 {
		tr.o_curriculum_element_l#{$i} td:nth-thild(first) {
			padding-left: ($i * $o-tree-padding-steps-px);
		}
	}
	tr.o_curriculum_element_inactive, tr.o_curriculum_element_inactive td, tr.o_curriculum_element_inactive td span {
		color: $o-curriculum-element-inactive-color;
	}
	tr.o_curriculum_element_deleted, tr.o_curriculum_element_deleted td, tr.o_curriculum_element_deleted td span {
		color: $o-curriculum-element-inactive-color;
		text-decoration: line-through;
	}
	tr.o_curriculum {
		font-weight: bold;
	}


	/* Custom fancy style rendering */
	&.o_rendertype_custom {	
		
		/* not embedded as container, revert container styles */
		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}
				
		.o_table_row {			
			@include clearfix;
			position: relative;
			vertical-align: top;
			margin: $o-curriculum-margin;

			/* inner row wrapper. Use this to apply border, background etc for a level, not the outer row itself */			
			.o_row_inner_wrapper {
				background: $o-curriculum-bg;
				border: $o-curriculum-border;
				position: relative;				
			}
			
			.o_ext_id {
				display: none; // only for debuging
			}
			.o_hierarchy_info {
				display: none; // only for debuging
				position: absolute; 
				top: 0; right: 30px; 
				font-size: 70%; 
				z-index: 5; 
				background: gold;
			}				
						
			/* Curriculum Element specific styling */
			.o_curriculum_element_title {
				margin-top: 0;
				margin-bottom: 0;
				background: $o-curriculum-title-bg; /* default */
				small {
					white-space: nowrap;
				}
			}
			.o_curriculum_lifecycle, .o_curriculum_calendars {
				padding-left: $padding-base-vertical;	
				color: $text-muted;
				&.o_active {
					color: $state-success-text;
					&:hover {
						color: darken($state-success-text, 10%);
					}
				}
			}						
  			.o_curriculum_element_desc {
				padding: ($padding-base-horizontal  / 2) $padding-base-vertical $padding-large-horizontal $padding-base-vertical;
  			}
			.o_curriculum_element_empty {
				font-style: italic;
				padding: $padding-base-horizontal $padding-base-vertical ;
			}
			

			/* Repository Entry specific styling */
  			.o_curriculum_entry {
  				position: relative;
				padding-left: $o-coursesite-rowelem-width-sm + ($padding-base-vertical * 2);	
				@media (max-width: $screen-xs-max) { 
					min-height: $o-coursesite-rowelem-height-xs;	
					padding-left: $o-coursesite-rowelem-width-xs  + ($padding-base-vertical * 2);		
				}	
  			}  			
  			@if $o-curriculum-entry-image-enabled == false {
  				.o_curriculum_entry {
  					padding-left: $padding-base-vertical;
					@media (max-width: $screen-xs-max) { 
						min-height: auto;	
						padding-left: $padding-base-vertical;		
					}	
  				}
  				.o_visual {
	  				display: none;
  				}
  			} @else {
				.o_visual {
					left: 0;
					border: none;		
					background-color: #fff;
					/* only medium and small size, never large */
					max-height: $o-coursesite-rowelem-height-sm;	
					max-width: $o-coursesite-rowelem-width-sm;		
				}
				.o_row_inner_wrapper { 
					min-height: $o-coursesite-rowelem-height-sm;		
					@media (max-width: $screen-xs-max) { 
						min-height: $o-coursesite-rowelem-height-xs;	
					}			
				}			
				.o_curriculum_entry {
					min-height: $o-coursesite-rowelem-height-sm;		
					@media (max-width: $screen-xs-max) { 
						min-height: $o-coursesite-rowelem-height-xs;	
					}			
				}	
  			}
  			  			
  			.o_curriculum_entry_meta {
				.o_author, .o_location, .o_lifecycle {
					color: $o-coursesite-meta-author-color;
				}
  			}
  			.o_curriculum_entry_desc {
  				display: none;
  			}
  			.o_user_state {
  				position: absolute;
  				right: 0;
  				bottom: floor($o-coursesite-rowelem-height-md / 4);
  				.o_failed {
  					font-weight: normal;
  				}
  				.o_state, .o_score {
  					display: inline-block;
  				}
  				.o_state+.o_score:before {
  					content: ', ';
  				}
  				.o_completion {
  					display: inline-block;
  				}
  			}
			.o_bookmark {
				position: absolute;
				top: -1px;
				right: 2px;
			}
			.o_access {
				position: absolute;
				bottom: 0; right: 0;
				overflow: hidden;
				width: $o-coursesite-rowelem-width-md;
				height: floor($o-coursesite-rowelem-height-md / 4);
				.o_start, .o_details {
					position: absolute;
					display: block;
					bottom: 0;
					width: floor($o-coursesite-rowelem-width-md / 2);
					height: floor($o-coursesite-rowelem-height-md / 4);
					line-height: floor($o-coursesite-rowelem-height-md / 4);
					text-align: center;
					@extend %o_undecorated;
				}
				.o_start {
					right: 0;
					@include button-variant($o-coursesite-start-color, $o-coursesite-start-bg, $o-coursesite-start-border); 
				}
				.o_details {
					right: floor($o-coursesite-rowelem-width-md / 2);
					@include button-variant($o-coursesite-details-color, $o-coursesite-details-bg, $o-coursesite-details-border);
				}
			}
			
			/* hide things on mobile */			
			@media (max-width: $screen-xs-max) { 
				.o_author, .o_bookmark, .o_lifecycle, .o_curriculum_entry_desc, .o_curriculum_element_desc, .o_user_state, .o_details {
					display: none;
				}	
			}
		
			/* Overrides: */
		
			/* 1) Level based overrides */
			@include o-make-curriculum-row-style('&.o_curriculum_element_l0', $o-curriculum-l0-margin, $o-curriculum-l0-bg, $o-curriculum-l0-border, $o-curriculum-l0-title-bg, $o-curriculum-l0-title-padding, $o-curriculum-l0-lifecycle-bg, $o-curriculum-l0-lifecycle-padding, $o-curriculum-l0-show-description);
			@include o-make-curriculum-row-style('&.o_curriculum_element_l1', $o-curriculum-l1-margin, $o-curriculum-l1-bg, $o-curriculum-l1-border, $o-curriculum-l1-title-bg, $o-curriculum-l1-title-padding, $o-curriculum-l1-lifecycle-bg, $o-curriculum-l1-lifecycle-padding, $o-curriculum-l1-show-description);
			@include o-make-curriculum-row-style('&.o_curriculum_element_l2', $o-curriculum-l2-margin, $o-curriculum-l2-bg, $o-curriculum-l2-border, $o-curriculum-l2-title-bg, $o-curriculum-l2-title-padding, $o-curriculum-l2-lifecycle-bg, $o-curriculum-l2-lifecycle-padding, $o-curriculum-l2-show-description);
			@include o-make-curriculum-row-style('&.o_curriculum_element_l3', $o-curriculum-l3-margin, $o-curriculum-l3-bg, $o-curriculum-l3-border, $o-curriculum-l3-title-bg, $o-curriculum-l3-title-padding, $o-curriculum-l3-lifecycle-bg, $o-curriculum-l3-lifecycle-padding, $o-curriculum-l3-show-description);
			
			/* Render Levels in tree / hierarchy style when enabled */		
			@if $o-curriculum-level-steps-enabled == true {	
				@for $i from 0 through 11 {
					&.o_curriculum_element_l#{$i} {
						margin-left: ($i * $o-tree-padding-steps-px);
					}
				}
			}

			/* 2) Row type specific overrides
			/* special rendering: row is a curriculum element (with 0 or >= 2 repository entries) */
			&.o_curriculum_element {}
			&.o_with_multi_repository_entries {}
			/* special rendering: row is a repository entry of a curriculum that has => repository entires linked */
			&.o_repository_entry {
				@include o-make-responsive-inline-block($o-curriculum-entry-cols, $screen-sm-max, $padding-large-vertical, $o-curriculum-entry-bg);
				margin-top: 0 !important;
			}
			/* special rendering: row is a curriculum element with exactly 1 linked repository entry */
			&.o_mixed_element {
				@include o-make-responsive-inline-block($o-curriculum-entry-cols, $screen-sm-max, $padding-large-vertical, $o-curriculum-entry-bg);
				.o_curriculum_entry_title {
					display: none;
				}			
			}

			/* 3) Special rendering based on Curriculum Level Types CSS classes. Here are some styles for some presets, implement your own custom types */ 
			@include o-make-curriculum-row-style('&.o_curriculum_program', $o-curriculum-style-program-margin, $o-curriculum-style-program-bg, $o-curriculum-style-program-border, $o-curriculum-style-program-title-bg, $o-curriculum-style-program-title-padding, $o-curriculum-style-program-lifecycle-bg, $o-curriculum-style-program-lifecycle-padding, $o-curriculum-style-program-show-description);
			&.o_curriculum_program { 			
				@include o-make-responsive-inline-block($o-curriculum-style-program-cols, $screen-sm-max, $padding-large-vertical, $o-curriculum-style-program-bg);			
			}
			@include o-make-curriculum-row-style('&.o_curriculum_semester', $o-curriculum-style-semester-margin, $o-curriculum-style-semester-bg, $o-curriculum-style-semester-border, $o-curriculum-style-semester-title-bg, $o-curriculum-style-semester-title-padding, $o-curriculum-style-semester-lifecycle-bg, $o-curriculum-style-semester-lifecycle-padding, $o-curriculum-style-semester-show-description);			
			&.o_curriculum_semester { 
				@include o-make-responsive-inline-block($o-curriculum-style-semester-cols, $screen-sm-max, $padding-large-vertical, $o-curriculum-style-semester-bg);			
			}
			@include o-make-curriculum-row-style('&.o_curriculum_module', $o-curriculum-style-module-margin, $o-curriculum-style-module-bg, $o-curriculum-style-module-border, $o-curriculum-style-module-title-bg, $o-curriculum-style-module-title-padding, $o-curriculum-style-module-lifecycle-bg, $o-curriculum-style-module-lifecycle-padding, $o-curriculum-style-module-show-description);			
			&.o_curriculum_module { 
				@include o-make-responsive-inline-block($o-curriculum-style-module-cols, $screen-sm-max, $padding-large-vertical, $o-curriculum-style-module-bg);			
	
			}
			@include o-make-curriculum-row-style('&.o_curriculum_course', $o-curriculum-style-course-margin, $o-curriculum-style-course-bg, $o-curriculum-style-course-border, $o-curriculum-style-course-title-bg, $o-curriculum-style-course-title-padding, $o-curriculum-style-course-lifecycle-bg, $o-curriculum-style-course-lifecycle-padding, $o-curriculum-style-course-show-description);			
			&.o_curriculum_course { 
				@include o-make-responsive-inline-block($o-curriculum-style-module-cols, $screen-sm-max, $padding-large-vertical, $o-curriculum-style-course-bg);			
			}	
			
		}		
	}
}


@media print {
	.o_curriculumtable.o_rendertype_custom .o_table_row {
		.o_user_state {
			position: relative;
			bottom: 0;
		}
		.o_access {
			display: none;
		}
	}
	
}

.o_curriculum_filter_button {
	display: inline-block;
	box-sizing: border-box;
	min-width: 80px;
	height: 40px;

	color: white;
	font-weight: bold;
	line-height: 40px;
	text-align: right;
	
	padding: 5px;
	margin-right: 3px;
	margin-bottom: 6px;
	
	background-color: rgb(125, 124, 128);
	border: 3px solid rgb(125, 124, 128);
	
	&.active {
		background-color: rgb(91, 138, 144);
		border: 3px solid rgb(90, 177, 185);
	}
	
	&:hover {
		text-decoration: none;
		color: white;
	}
}
