body.o_dmz {
	background: transparent;
	#o_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	
		/* reduce box size for background image to not include header and footer */
		border-top: $o-navbar-dmz-height solid transparent;
		border-bottom: $o-footer-dmz-height solid transparent;
		
		/* background gradient depending on login box positioning */
		$o-login-bg-gradient-to : right;	
		@if $o-login-form-align == left {
			$o-login-bg-gradient-to : left;
		}
		@else if $o-login-form-align == center {
			$o-login-bg-gradient-to : top;
		}
		
		/* Full screen background image */
		background: url('#{$o-login-form-bg-img}');
		background-size: cover;
		background-position: $o-login-form-bg-position-left $o-login-form-bg-position-top;
		background-repeat: no-repeat;
		
		/* overlay gradient to make login form better readable */
		&:after {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to $o-login-bg-gradient-to, $o-login-form-bg-gradient-steps);
			background-size: cover;
			background-position: $o-login-form-bg-position-left $o-login-form-bg-position-top;
			background-repeat: no-repeat;
		}
						
		/* IE 9 fallback for gradient */
		@if $o-login-form-align == left {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
		}
		@else if $o-login-form-align == right {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
		} 
		@else if $o-login-form-align == center {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
		} 
	}
	
	#o_toplink {
		display: none;
	}

	#o_main_wrapper, #o_main_wrapper #o_main_container {
		background: transparent;
	}
	
	label>select {
		font-weight: normal;
	}
}

.o_login {
	padding-bottom: $padding-large-vertical * 2;
	padding-left: 10%;
	padding-right: 10%;
	
	@if $o-login-form-align == left {
		padding-right: 10%;
	}
	@else if $o-login-form-align == right {
		text-align: right;
		.o_login_intro {
			padding-left: 10%;
		}
		
	}		
	@else {
		text-align: center;
	}
	
	/* header and lead message */	
	.o_login_intro {
		h1 {
			margin-bottom: $padding-large-vertical * 4;
			color: $o-login-header-color;
		}
		.lead {
			color: $o-login-lead-color;
			// add more space since lead text is larger than normal
			h1, h2, h3, h4, h5 {
				margin-bottom: 20px;
				color: $o-login-lead-header-color;
			}
		}
	}		

	/* content of messages and the login box itself are always left aligned */
	.o_login_messages,
	.o_login_box {
		display: inline-block;
		width: $o-login-form-width;
		text-align: left;
	}

	.o_login_messages {
		.o_infomessage_wrapper {
			width: 100%;
			background: $o-login-infomessage-bg;
			border: 1px solid $o-login-infomessage-border;
			border-radius: $o-login-infomessage-radius;
			padding: $padding-base-vertical $padding-base-horizontal;
			
			.o_info, .o_warning, .o_note {
				/* remove unnecessary space */
				margin: 0;
			}
		}
	}

	.o_login_footer_wrapper {
		@extend %o_block_large;	
	}
	
	.o_login_box {
		background-color: $o-login-bg-color;
		border: $o-login-border;
		border-radius: $o-login-border-radius;
		box-shadow: $o-login-box-shadow;
		
		.o_login_logo {
			padding: $o-login-padding $o-login-padding 0 $o-login-padding;
		}
		
		.o_login_welcome {
			font-weight: bold;
			font-size: 130%;
			padding: 0 $o-login-padding 10px $o-login-padding;
		}

		.o_login_provider {
			padding: 0 $o-login-padding;
		}
		
		.o_login_help {
			padding: 20px $o-login-padding 20px $o-login-padding;
			background-color: $o-login-help-bg-color;
			border-bottom: $o-login-border;
			border-radius: 0 0 $o-login-border-radius $o-login-border-radius;
			/* make help container overlap border (same color) to compensate for border radius calculation */
			margin-left: -1px;
			margin-right: -1px;
			
			ul {
				margin-bottom: 0;
			}
		}
	}
	
	.o_login_form {
		position: relative;
		/* Remove to much color form login screen */
		.o_form .o_desc {
		    margin: 0 0 5px 0;
		    padding: 0;
		    border: none;
		    background: none;
		}
		/* re-format the standard spaces to match the compact login form */
		legend {
			display: none;
		}
		.form-group {
			margin-bottom: 5px;
		}
		
		/* the login button */
		.btn {
			width: 100%;
			font-size: floor($font-size-base * 1.3);
			border-radius: $border-radius-base;
			padding: $padding-large-vertical $padding-base-horizontal;
			margin-top: 5px;
			margin-bottom: 0px;
			position: relative;
			
			i::before {
				position: absolute;
				left: 14px;
				top: 12px;
				width: 23px;
			}
		}
		
		.btn-primary {
			font-weight: bold;
		}

		/* optimize input size to match buttons */		
		input.form-control, p.o_login_username {
			font-size: floor($font-size-base * 1.2);
			height: floor($font-size-base * 1.6 + $padding-large-vertical * 2);
		}

		p.o_login_username {
			border: 1px solid $o-login-border-color;
			border-radius: $border-radius-base;
			padding: 10px;
		}
		
		.o_login_button_group {
			display: flex;
			flex-direction: column;
		}
	}
	
	.o_login_wait {
		padding: 10px $o-login-padding;
		text-align: center;
		
		i.o_icon {
			font-size: 200%;
		}
	}
	
	.divider {
		display: flex;
		align-items: center;
		font-size: 110%;
		padding: $padding-large-vertical 0;
		margin: 0;
	}
	.divider::before, .divider::after {
		flex: 1;
		content: '';
		padding: 0.5px;
		background-color: $o-login-border-color;
	}
	.divider::before {
		margin: 5px 20px 5px 0;
	}
	.divider::after {
		margin: 5px 0 5px 20px;
	}
	
	.o_login_footer_wrapper {
		@extend %o_block_large;	
	}
	.o_login_register_wrapper { 
		padding: 0 0 ($padding-large-vertical * 2) 0;
		font-size: floor($font-size-base * 1.2);
		line-height: 2em;
	}
	
	.o_login_social {
		.o_desc {
			margin-bottom: 0 !important;
		}
		ul {
			position: relative;
			padding: $padding-large-vertical 0 0 0;
			margin: 0;
		}
		
		.btn-default.o_sel_auth_facebook i {
			color: #4568b2;
		}
		
		.btn-default.o_sel_auth_twitter i {
			color: #2cc5ff;
		}
		
		.btn-default.o_sel_auth_google i {
			color: #e15f4f;
		}
		
		.btn-default.o_sel_auth_linkedin i {
			color: #0181bd;
		}
		
		.btn-default.o_sel_auth_adfs i {
			color: $brand-primary
		}
		
		.o_sel_auth_azureAdfs i {
			color: rgb(0, 114, 198);
		}
		
		.btn-default.o_sel_auth_OpenIDConnect i {
			color: $brand-primary;
		}		
	}
}

#o_navbar_about .o_icon_openolat:before {
	font-size: 0.5em;
	vertical-align: middle;
}

.icon_mastodon {
	fill: $link-color;
}
.icon_mastodon:hover {
	fill: $link-hover-color;
}



.o_old_browser {
	display: none;
}

.o_browser_ie10  {
	 .o_old_browser {
		display: block;
	}
}

/* Registration */
.o_sel_registration_2_form .form-control-static  .o_desc {
	margin: 0;
}

@media (max-width: $screen-xs-max) { 
	body.o_dmz {
		#o_bg {
			background: none;
			display: none;
		}
	}
	
	#o_main_wrapper #o_main_container #o_main.o_loginscreen {
		column-gap: 0;
		justify-items: center;
		margin: 0;
	}
	
	.o_login {
		padding: 1px;
		margin: 0 5vw;
		max-width: $o-login-form-width;
		width: 90vw;
		
		.o_login_box {
			max-width: $o-login-form-width;
			width: 90vw;
			
			.o_login_intro, .o_login_box, .o_login_help {
				padding: $o-login-xs-padding;
			}
			
			.o_login_logo {
				padding: $o-login-xs-padding $o-login-xs-padding 0 $o-login-xs-padding;
			}
			
			.o_login_welcome {
				font-weight: bold;
				font-size: 130%;
				padding: 0 $o-login-xs-padding 10px $o-login-xs-padding;
			}
			
			.o_login_provider {
				padding: 0 $o-login-xs-padding;
			}
		}
		
		.o_login_messages {
			width: 100%;
			display: block;
		}
	}

}
