body.o_dmz {
	/* background gradient depending on login box positioning */
	$o-login-bg-gradient-to : right;	
	@if $o-login-form-align == left {
		$o-login-bg-gradient-to : left;
	}
	@else if $o-login-form-align == center {
		$o-login-bg-gradient-to : top;
	}
	background: linear-gradient(to $o-login-bg-gradient-to, rgba(255,255,255,.2) 0.2%,rgba(255,255,255,0.80) 60%,rgba(255,255,255,1) 100%), url('#{$o-login-form-bg-img}');
	background-size: cover, cover;

	#o_main_wrapper, #o_main_wrapper #o_main_container {
		background: transparent;
	}
}
.o_login {
	padding-bottom: $padding-large-vertical * 2;
	padding-left: 10%;
	padding-right: 10%;
		
	.o_login_intro {
		padding-bottom: $padding-large-vertical * 2;
		h1 {
			margin-bottom: $padding-large-vertical * 4;
			color: $o-login-header-color;
		}
		.o_infomessage_wrapper {
			background-color: #fff;
			border: 1px solid $well-border;
			border-radius: $border-radius-base;
			padding: $padding-base-vertical $padding-base-horizontal;
			
			div.o_info, div.o_warning, div.o_note {
				margin: 0;
			}
		}
		.lead {
			// add more space since lead text is larger than normal
			h2, h3, h4 {
				margin-bottom: 20px;
			}
		}
	}	
	.o_login_footer_wrapper {
		@extend %o_block_large;	
	}
	.o_login_footer {
		display: inline-block;
		text-align: left;
	}
	

	@if $o-login-form-align == left {
		.o_login_intro {
			padding-right: 10%;
		}		
		.o_login_box_wrapper {
		}
	}
	@else if $o-login-form-align == right {
		.o_login_intro {
			padding-left: 10%;
			h1 {
				text-align: right
			}
		}
		.o_login_box_wrapper,
		.o_login_footer_wrapper {
			text-align: right;			
		}
	}		
	@else {
		.o_login_intro h1 {
			text-align: center
		}
		.o_login_box_wrapper,
		.o_login_footer_wrapper {
			text-align: center;			
		}	
	}
		
	.o_login_box {
		display: inline-block;
		width: $o-login-form-width;
		text-align: left;
	}

	.o_login_providers {
		margin-bottom: $padding-base-vertical;
		border-radius: $border-radius-base;
		@include box-shadow(0px 1px 10px -1px rgba(0, 0, 0, 0.30));
		a {
			span {
				display: block;
				font-size: floor($font-size-base * 0.7);
				padding-top: $padding-base-vertical;
				@include text-overflow();
			}
		}	
	} 
	.o_login_provider {
		background-color: $well-bg;
		border: 1px solid $well-border;
		border-radius: $border-radius-base;
		@include box-shadow(0px 1px 10px -1px rgba(0, 0, 0, 0.30));
	}
	.o_login_form {
		position: relative;
		padding: $padding-large-vertical $padding-base-horizontal;
		.o_login_pwd {
			position: absolute;
			bottom: 2em;
			right: $padding-base-horizontal;
		}		
	}
	.o_login_register {
		display: block;
		line-height: 2em;
		font-size: floor($font-size-base * 1.3);
		text-align: center;
		@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
		border-radius: $border-radius-base;
		margin-top: $padding-large-horizontal;
		padding: $padding-large-vertical $padding-base-horizontal;
		@extend %o_undecorated;
		small {
			font-size: $font-size-base;
		}
	}	
}

@media (max-width: $screen-xs-max) { 
	body.o_dmz {
		background: none;
		.o_login {
			padding: 0;
			.o_login_intro {
				padding: 0;
				h1 {
					text-align: left;			
				}
			}
			.o_login_box_wrapper {
				text-align: center;
				padding: 0;
			}
			.o_login_box {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				.o_login_providers, .o_login_provider {	
					@include box-shadow(none);
				}
			}			
		}
	}

}