.o_edusharing_selection{
	iFrame {
		width: 100%;
		height: 900px;
	}
}

.o_edusharing_container {
	// In iFrame the popover does not work (sliced at bottom) if position is absolute.
	// This is only a hack. We did not find a nice solution.
	&.o_in_iframe {
		.edusharing_metadata_wrapper {
			margin-top: 5px;
		}
		.edusharing_metadata {
			&.open {
				position: unset;
				margin: 0;
				padding: 0;
				
				&:before {
					content: unset;
					border: unset;
					top: unset;
					position: unset;
					left: unset;
					width: unset;
					height: unset;
				}
			}
		}
	}
	
	&.o_hide_license {
		.license {
			display: none;
		}
	}
	
	&.o_hide_infos {
		.edusharing_metadata_wrapper {
			display: none;
		}
	}
}

.o_edusharing_left {
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
}
.o_edusharing_right {
	display: block;
	float: right;
	margin: 5px 0 5px 5px;
}
.o_edusharing_inline {
	display: inline-block;
	margin: 0 5px;
}
.o_edusharing_none {
	display: block;
	float: none;
	margin: 5px 0;
}

/**
* see https://github.com/edu-sharing/plugin-moodle/blob/master/filter/edusharing/styles.css
*/

.eduContainer {
	width: 180px;
	color: rgba(0, 0, 0, 0.0); /*do not change*/
}

.edusharing_spinner_inner {
	width: 30px;
	height: 50px;
	display: inline-block;
}
.edusharing_spinner1 {
	background: url($o-images-path + "edusharing/hex1.svg" );
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s infinite ease-in;
	-moz-animation: spin 2s infinite ease-in;
	-ms-animation: spin 2s infinite ease-in;
	-o-animation: spin 2s infinite ease-in;
	animation: spin 2s infinite ease-in;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.edusharing_spinner2 {
	background: url($o-images-path + "edusharing/hex2.svg" );
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s infinite ease-in;
	-moz-animation: spin 2s infinite ease-in;
	-ms-animation: spin 2s infinite ease-in;
	-o-animation: spin 2s infinite ease-in;
	animation: spin 2s infinite ease-in;
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.edusharing_spinner3 {
	background: url($o-images-path + "edusharing/hex3.svg" );
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s infinite ease-in;
	-moz-animation: spin 2s infinite ease-in;
	-ms-animation: spin 2s infinite ease-in;
	-o-animation: spin 2s infinite ease-in;
	animation: spin 2s infinite ease-in;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes spin {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@-moz-keyframes spin {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@-ms-keyframes spin {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@-o-keyframes spin {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes spin {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.5) rotate(90deg);
	}

	100% {
		transform: scale(1);
	}
}