/* ---------- smilies / emoticons used in tinymce, content.scss and else where ------------------------ */
img.o_emoticons_angel     {background : url(#{$o-images-path}emoticons/smiley-angel.png); width: 16px; height: 16px;}
img.o_emoticons_angry     {background : url(#{$o-images-path}emoticons/smiley-mad.png); width: 16px; height: 16px;}
img.o_emoticons_blushing  {background : url(#{$o-images-path}emoticons/smiley-red.png); width: 16px; height: 16px;}
img.o_emoticons_confused  {background : url(#{$o-images-path}emoticons/smiley-confuse.png); width: 16px; height: 16px;}
img.o_emoticons_cool      {background : url(#{$o-images-path}emoticons/smiley-cool.png); width: 16px; height: 16px;}
img.o_emoticons_cry       {background : url(#{$o-images-path}emoticons/smiley-cry.png); width: 16px; height: 16px;}
img.o_emoticons_devil     {background : url(#{$o-images-path}emoticons/smiley-evil.png); width: 16px; height: 16px;}
img.o_emoticons_grin      {background : url(#{$o-images-path}emoticons/smiley-grin.png); width: 16px; height: 16px;}
img.o_emoticons_kiss      {background : url(#{$o-images-path}emoticons/smiley-kiss.png); width: 16px; height: 16px;}
img.o_emoticons_ohoh      {background : url(#{$o-images-path}emoticons/smiley-eek.png); width: 16px; height: 16px;}
img.o_emoticons_sad       {background : url(#{$o-images-path}emoticons/smiley-sad.png); width: 16px; height: 16px;}
img.o_emoticons_sick      {background : url(#{$o-images-path}emoticons/smiley-sad-blue.png); width: 16px; height: 16px;}
img.o_emoticons_smile     {background : url(#{$o-images-path}emoticons/smiley.png); width: 16px; height: 16px;}
img.o_emoticons_tongue    {background : url(#{$o-images-path}emoticons/smiley-razz.png); width: 16px; height: 16px;}
img.o_emoticons_ugly      {background : url(#{$o-images-path}emoticons/smiley-money.png); width: 16px; height: 16px;}
img.o_emoticons_weird     {background : url(#{$o-images-path}emoticons/smiley-nerd.png); width: 16px; height: 16px;}
img.o_emoticons_wink      {background : url(#{$o-images-path}emoticons/smiley-wink.png); width: 16px; height: 16px;}
img.o_emoticons_worried   {background : url(#{$o-images-path}emoticons/smiley-roll-blue.png); width: 16px; height: 16px;}
img.o_emoticons_up   	  {background : url(#{$o-images-path}emoticons/thumb-up.png); width: 16px; height: 16px;}
img.o_emoticons_down   	  {background : url(#{$o-images-path}emoticons/thumb.png); width: 16px; height: 16px;}

