.o_evaluation_form {
	.o_evaluation_block {
		margin-top: $o-evaluation-block-margin-top;
		margin-bottom: $o-evaluation-block-margin-bottom;
	}
		
	.o_evaluation_step_labels {
		margin-bottom: $o-evaluation-step-labels-margin-bottom;
		font-weight: $o-evaluation-step-labels-font-weight;
		
		div, span {
			display:inline-block;
			text-align: center;
		}
	}
	
	.o_slider {
		margin-bottom: $o-evaluation-slider-margin-bottom;
			
			.radio {
				padding: 0;
				min-height: unset;
			}
			
			label {
				padding: 0;
			}
			
			input {
				padding: 0;
				margin: 0;
				position: relative;
			}
			
			.o_evaluation_no_response {
				label {
					margin-top: -3px;
				}
			}
	}
	
	.o_slider.hover {
		background-color: $o-evaluation-slider-hover-background-color;
	}
	
	.o_evaluation_discrete_radio {
		.o_slider {
			
			.o_evaluation_steps {
				 label {
					padding: 0;
					margin: 0;
					text-align: center;
				}
				div.radio {
					background-color: $o-evaluation-step-background-color;
					margin-top: 0px;
					display:inline-block;
					text-align: center;
					&:hover {
						background-color: $o-evaluation-slider-hover-background-color;
					}
				}
			}
			.o_evaluation_no_response {
				div.checkbox {
					margin-top: 0px;
				}
			}
		}
	}
	
	.o_slider .ui-slider.ui-slider-horizontal.ui-widget-content {
		margin-top: 0.3em;
	}

	.o_evaluation_left_label {
		text-align: right;
		font-weight: $o-evaluation-side-labels-font-weight;
	}
	
	.o_evaluation_left_label_la {
		text-align: left;
		padding-left: 0px;
		font-weight: $o-evaluation-side-labels-font-weight;
	}
	
	.o_evaluation_right_label {
		text-align: left;
		font-weight: $o-evaluation-side-labels-font-weight;
	}
	
	.o_evaluation_legend {
		padding-left: 0.5em;
		margin-bottom: 0.5em;
	}
	
	.o_evaluation_textinput {
		.o_evaluation_text {	
		}
	}
	
	.o_evaluation_fileupload {
		.o_evaluation_thumb {
		}
		
		.o_evaluation_filename {
		}
	}
	
	.o_evaluation_mc_other {
		margin-top: -20px;
		margin-left: 20px;
	}
	
	.o_evaluation_rubric_diagrams {
		.o_slider {
			margin-left: 15px;
			margin-right: 15px;
		}
		.o_end_label {
			text-align: right;
			padding-right: 20px;
		}
		.o_continous {
			.x {
				.tick {
					visibility: hidden;
				}
			}
		}
		.svg-container {
			display: inline-block;
			position: relative;
			width: 100%;
			padding-bottom: 50%;
			vertical-align: top;
			overflow: hidden;
		}
		.svg-content-responsive {
			display: inline-block;
			position: absolute;
			top: 10px;
			left: 0;
		}
	}
}

.o_evaluation_discrete_slider {
	.o_evaluation_step_labels {
		position: relative;
	
		div:first-child {
			position: absolute;
			left: 0px;
			text-align: left;
		}
		
		div {
			display:inline-block;
			text-align: center;
		}
		
		div:last-child {
			position: absolute;
			right: 0px;
			text-align: right;
		}
	}
}

@media (max-width: $screen-sm-min) {
	.o_evaluation_form {
		.o_evaluation_left_label {
			text-align: left;
		}
	
		.o_evaluation_right_label {
			text-align: right;
		}
		
		.o_evaluation_no_response {
			text-align: left;
			.o_evaluation_no_resp_value {
				font-weight: bold;
			}
		}
		
		.o_evaluation_slider {
			.o_evaluation_no_response {
				margin-top: 0.7em;
			}	
		}
	}
}

@media (min-width: $screen-sm-min) {
	.o_evaluation_form {
		.o_evaluation_no_resp_value {
			display:none;
		}
	}
}

.o_slider_overview {
	width: 100%;
	height: 20px;
	position: relative;
	
	.o_slider_overview_line {
		top: 5px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 11px;
		border: 1px solid #999;
		border-radius: 4px;
	}
	
	.o_slider_overview_point {
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: $o-slider-handler-background-color;
	}
}

.o_evaluation_editor_form {
	margin: 10px 10px 0 10px;
	
	.o_slider_editor {
		margin-top: 10px;
		position:relative;
	}
	
	.o_evaluation_step_labels {
		display:inline-block;
		
		input {
			width: 100%;
		}
	}
	
	.o_slider_descrete_radio {
		div.radio {
			background-color: $o-evaluation-step-background-color;
			padding-top: 5px;
			padding-bottom: -5px;
			margin-top: 0px;
			display:inline-block;
			text-align: center;
			&:hover {
				background-color: $o-evaluation-slider-hover-background-color;
			}
		}
	}
	
	.o_slider_continous {
		padding-top: 10px;
		padding-bottom: -10px;
	}
	
	.o_slider_descrete {
		padding-top: 5px;
		padding-bottom: -5px;
	}
	
	.o_evaluation_example {
		font-size: 90%;
	}
	
	.o_slider_editor_delete {
		padding-right: 48px;
		
		.o_slider_editor_delete_button {
			position: absolute;
			right: 15px;
		}
	}
}

.d3chart {
	.o_eva_bar { fill: $o-d3chart-default; }
}


/* Print styles */
@media print {
	.o_evaluation_block {
		page-break-inside : avoid;
	}
	.o_evaluation_discrete_radio .o_slider .o_evaluation_steps div.radio {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
		background-color: $o-evaluation-step-background-color !important;
	}
	
}

.o_surv_run.withCmds {
	.o_eva_report {
		margin-top: -44px;
	}
}