.o_export_card {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	padding: $o-export-area-rowelem-space-md;
	border-bottom: 1px solid grey;
	
	.o_export_type {
		font-size: 60px;
		line-height: 70px;
		text-align: center;
		min-height: 70px;
		flex: 0 0 70px;
		box-sizing: content-box;
	}
	
	.o_export_meta {
		flex: 1 1 180px;
		position: relative;
		padding: 0 10px;
		
		>span {
			font-size: 90%;
			color: $o-export-area-meta-color;
		}
	}
	
	.o_export_wait {
		font-style: italic;
		padding-left: 2em;
		color: $alert-warning-text;
	}
	
	.o_export_expiration.o_labeled {
		border-color: $alert-warning-text;
		color: $alert-warning-text;
		background-color: $alert-warning-bg;
		text-transform: none;
		font-weight: normal;
		display: inline-block;
	}
	
	.o_export_exp {
		flex: 0 0 auto;
		overflow: hidden;
	}
	
	.o_export_actions {
		flex: 0 0 auto;
		overflow: hidden;
		font-size: 150%;
		margin-bottom: -5px;
		margin-left: 20px;
		text-align: right;
		
		.o_actions {
			white-space: nowrap;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.o_export_card .o_export_exp {
		margin-left: 80px;
		text-align: left;
	}
	
	.o_export_card .o_export_actions {
		margin-left: 80px;
		text-align: right;
	}
}

@media (max-width: $screen-xs-max) {
	.o_export_card .o_export_actions {
		margin-left: 0;
		text-align: right;
	}
}

