/* Feed (Blog/Podcast) */

/* Status style, mainly for in-table renderings */
.o_status_table {
	&.o_feed_status_draft {
		@extend %o_labeled_light_yellow;
	}
	&.o_feed_status_planned {
		border-color: 		$o-feed-planned-color;
		color: 				$o-feed-planned-color;
	}
	&.o_feed_status_published {
		border-color: 		$o-feed-published-color;
		color: 				$o-feed-published-color;
	}
}

/* special case for table, last child behaves different */
.o_table_body {
	> div {
		&:not(:last-child) {
			.o_feed_entry {
				border-bottom: 1px solid #e7e7e7;
			}
		}
	}
}

.o_feed_entry {
	.o_feed_com_rat_card_view {
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 10px 0 0 0;
	}

	.o_feed_top_spacer {
		margin-bottom: 34px;
	}

	.o_feed_buttons {
		> a {
			> span {
				@media (max-width: $screen-xs-max) {
					display: none;
				}
			}
		}
	}

	.o_feed_content {
		display: flex;
		flex-direction: column;
		padding: 0 0 3em 52px;
		word-break: break-word;

		&.o_feed_detail_content {
			padding-top: 1em;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.o_feed_tags {
	display: flex;
	flex-direction: column;
	> div {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
}