
/* Folder */
.o_folder {
	.o_folder_navigation {
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: auto auto;
		gap: 10px;
		.o_folder_view_selection {
			display: flex;
			column-gap: 5px;
		}
		.o_folder_trash {
			display: block;
		}
		.o_folder_trash_menu_item {
			display: none;
		}
		.o_folder_cmds {
			justify-self: end;
			
			display: flex;
			align-items: center;
			gap: 5px;
			.o_folder_create_group {
				display: flex;
			}
			.o_noti, div > .o_noti {
				display: inline;
				margin: 0;
				margin-right: 10px;
				float: unset;
			}
			.o_folder_cmds_more {
				// Hide more menu if only trash item and large screen
				display: none;
				&:has(a:not(.o_folder_trash_menu_item)) {
					display: block;
				}
				
				// Push to right (on small screens) if no add button
				margin-left: auto;
			}
			.o_folder_create_group ~ .o_folder_cmds_more {
				margin-left: 0;
			}
		}
		
		.o_folder_view_group {
			display: flex; // no wrap
		}
		
		.o_folder_view_search {
			display: none;
		}
		
		@media (max-width: 1024px) {
			.o_folder_noti_toggle {
				display: none;
			}
		}
		
		@media (max-width: 540px) {
			grid-template-columns: auto;
			
			.o_folder_cmds {
				.o_folder_cmds_more {
					display: block;
				}
			}
			.o_folder_trash {
				display: none;
			}
			.o_folder_trash_menu_item {
				display: block;
			}
			
			.o_folder_view_search:not(:is(.o_folder_search_view *)) {
				display: block;
			}
			.o_folder_quick_search:not(:is(.o_folder_search_view *)) {
				display: none;
			}
			.o_folder_view_group:is(.o_folder_search_view *) {
				span {
					display: none;
				}
			}
			/* stretch full width */
			.o_folder_view_selection:not(.o_folder_search_view) {
				width: 100%;
				.o_folder_view_group {
					flex-grow: 100;
					>a {
						width: 100%;
					}
				}
			}
			.o_folder_cmds {
				width: 100%;
				.o_folder_create_group {
					flex-grow: 100;
					>a {
						width: 100%;
					}
				}
			}
		}
		
	}
}

.o_folder_breadcrumb {
	&:has(.o_breadcrumb) {
		margin-bottom: -15px;
		.o_toolbar {
			margin-top: 0px;
		}
	}
}
.o_folder_row_thumbnail {
	width: $o-folder-row-thumbnail-size;
	height: $o-folder-row-thumbnail-size;
	display: flex;
	justify-content: center;
	align-items: center;
	.o_icon {
		font-size: $o-folder-row-thumbnail-icon-size;
	}
	&:not(:has(.o_icon)) {
		outline: $o-folder-row-thumbnail-image-border;
	}
}
tr.o_folder_muted_row, tr.o_folder_muted_row td, tr.o_folder_muted_row td span, tr.o_folder_muted_row td a {
	color: $o-folder-muted-color;
}

.o_folder {
	.o_rendertype_custom {
		.o_folder_table {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(207px, 1fr));
			gap: 10px;
		}
		.o_folder_card {
			overflow: hidden;
			
			.o_folder_card_thumbnail {
				&.o_folder_openable {
					cursor: pointer;
				}
				height: 172px;
				position: relative;
				background-color: #fcfcfc;
				.o_folder_card_img {
					left: -0.5%;
					overflow: hidden;
					position: absolute;
					text-align: center;
					top: 0;
					transition: opacity 200ms ease-in-out;
					width: 101%;
					height: 100%;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: auto;
						height: auto;
						max-width: 100%;
					}
				}
				.o_folder_row_thumbnail {
					height: 100%;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					.o_icon {
						font-size: 80px;
						color: $o-folder-card-thumbnail-icon-color;
						&.o_filetype_folder {
							color: $o-folder-card-thumbnail-folder-icon-color;
						}
					}
				}
			}
			.o_folder_labels {
				margin-top: -30px;
				margin-bottom: 10px;
				margin-left: 10px;
			}
			.o_folder_card_meta {
				padding: 10px;
				h4 {
					line-height: 1.2;
				}
			}
		}
	}
}

.o_folder_label {
	@extend %o_labeled;
	text-transform: none;
	display: inline-block;
	background: transparent;
	&.o_folder_label_elements {
		border-color: $o-folder-label-elements-color;
		@include o-high-contrast-color($o-folder-label-elements-color);
	}
	&.o_folder_label_locked {
		border-color: $o-folder-label-locked-color;
		@include o-high-contrast-color($o-folder-label-locked-color);
	}
	&.o_folder_label_editing {
		border-color: $o-folder-label-editing-color;
		@include o-high-contrast-color($o-folder-label-editing-color);
	}
}

.o_quota_bar {
	margin-top: 10px;
	.o_quota_bar_bar {
		.progress {
			vertical-align: top;
		}
	}
}