/* openolat font */
@font-face {
	font-family: 'openolat';
	src:url('../light/fonts/openolat/openolat.eot?4yacgg');
	src:url('../light/fonts/openolat/openolat.woff') format('woff'),
		url('../light/fonts/openolat/openolat.ttf') format('truetype'),
		url('../light/fonts/openolat/openolat.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
