#o_footer_wrapper {
	@if $o-footer-position-absolute == true {
		position: absolute; bottom: 0;
	}
	width: 100%;
	z-index: 3;
	height: $o-footer-height;
	overflow: hidden;
	background-color: $o-footer-outer-bg;
	color: $o-footer-default-color;
	line-height: 16px;
	font-size: $o-footer-font-size;
	
	a { 
		color: $o-footer-default-link-color;
		&:hover { color: $o-footer-default-link-hover-color;}
	}

	#o_footer_container {
		position: relative;
		padding-top: $o-footer-padding-top;
		min-height: $o-footer-height;		
		background: $o-footer-inner-bg;

		#o_footer_user { 
			#o_counter { 
				white-space:nowrap; 
			}
		 	#o_username { 
		 		white-space:nowrap; 
		 		margin-right: 1em;
		 	}
		}

		#o_footer_version { 
			position: absolute; 
			right: ($grid-gutter-width / 2);
			top: $o-footer-padding-top;
			text-align: right;
			/* align left on mobile, stacked view */
			@media (max-width: $screen-xs-max) { 
				padding-top: 10px;
				text-align: left;
			}
		}

		#o_footer_powered { 
			position: absolute; 
			top: ($line-height-computed + $o-footer-padding-top);
			right: ($grid-gutter-width / 2);
			/* make powerd-by buttons a bit less colorful to not distract user from learning */
			img {	
				@include opacity(.6);
				&:hover { @include opacity(1); }	
			}		
			a {
				@extend %o_undecorated; 
			}
		}
		/* hide images on mobile */
		@media (max-width: $screen-xs-max) { 
			#o_counter, #o_footer_version {
				display: none;
			}
			#o_footer_powered {
				top: $o-footer-padding-top;
				a:after { 
					content:"\221E"; 
					font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
					font-weight: bold; 
					font-size: $o-footer-share-font-size;
				}
				img { 
					display: none
				}
			}
		}
	}
}

/*  social links (FB, twitter, google) from SocialModule.java */
#o_share { 
	margin-top: 10px;
	font-size: $o-footer-share-font-size;
	a { 
		margin: 0 3px 0 0; 
		@include opacity(.6);
		@extend %o_undecorated;
	}
	a:hover { 
		@include opacity(1); 
	}
}
