.o_form{
	legend {}
	.o_chelp {}
	
	.o_desc {
		@extend %o_note;
	}
	.o_warning {
		@extend %o_warning;
	}
	.o_info {
		@extend %o_info;	
	}

	.o_icon_mandatory {
		position: absolute;
		right: -0.25em;
		line-height: 1.5em;
	}
	&.form-horizontal .o_icon_mandatory {
		position: relative;
		right: 0;
		line-height: inherit;
		margin-left: 0.25em;
	}
	
	.o_error {
		margin-top: 1px;
		margin-bottom: 0;
		padding: 10px;
	}	
	.o_disabled {}
	
	hr.o_spacer {}
	
	.o_picker_wrapper {
		position: absolute;
		top: 0;
		right: 0;
		height: $input-height-base;
		width: $input-height-base;
		text-align: right;
		vertical-align: middle;
		line-height: $input-height-base;
		font-size: floor($input-height-base / 3 * 2 );
		color: $link-color;
		&:hover {
			color: $link-hover-color;
		}
	}		
	
	/* date chooser */
	.o_date  {
		position: relative;
		padding-right: $input-height-base;
	}
	
	.o_date.form-inline .form-group  {
		margin-left: 0;
	}
	
	input.o_date_ms {
		width: 3em;
	}
	
	.o_date_ms.form-group {
		margin-left: 25px;
	}
	
	.input-group.o_date_picker {
		width: 16em;
	}
	
	/* file chooser */
	.o_filepreview {
		img {
			@extend .img-thumbnail;
		}
		margin-bottom: floor($line-height-computed / 2);
	}
	.o_fileinput {
		cursor: pointer;
		position: relative;
		/* the fake chooser is what the user sees. this is on layer 1, only for display */
		.o_fakechooser {
			position: relative;
			padding-right: $input-height-base;
			z-index: 1; 		
		}
		/* real file chooser is transparent but on layer 2, click events trigger realchooser, not fakechooser */
		.o_realchooser { 
			position: absolute; 
			top: 0; left: 0;
			z-index: 2; 
			@include o-opacity(0); /* this is the magic: visually don't show the input element, but nevertheless catch click events */
		}	
	}
}

.o_catalog {
	.o_catalog_delete_img {
		position: relative; 
		top: -0.5em;
	}
}

.o_button_dirty {
	@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

/* TOGGLE SLIDERS */
$toggle-size: 16px !default;
.o_button_toggle {
	border: 1px solid $gray-light;
	@include border-top-radius($toggle-size/2 + 1px);
	@include border-bottom-radius($toggle-size/2 + 1px);
	background: $gray-lighter;
	display: inline-block;
	height: $toggle-size + 2px;
	line-height: $toggle-size;
	font-size: $toggle-size;
	text-align: left;
	padding: 0 0.5em 0 0;
	margin: 0;
	@extend %o_undecorated;
	
	i {
		color: $gray-light;
		text-shadow: 1px 0 2px rgba(0,0,0,.25);		
	}	
	span {
		line-height: $toggle-size;
		vertical-align: top;		
		font-size: 60%;
		color: $text-muted;
		text-transform: uppercase;
	}
	&.o_on {
		text-align: right;
		padding: 0 0 0 0.5em;
		i {
			color: $brand-primary;
			text-shadow: -1px 0 2px rgba(0,0,0,.25);
		}	
	}
}
