.o_gta_coach_selection {
	.o_noti {
		display:inline-block;
		float: none;
		margin: 0;
	}
}

p.o_gta_reopen_warning {
	margin-top: -2px;
	margin-bottom: 5px;
	@extend %o_warning;
}

.o_form .o_radio_cards_wrapper .o_gta_feedback_design.o_radio_cards {
	label {
		>.o_radio_card {
			padding: 10px 10px 30px 10px;
		}
		.o_radio_text_wrapper {
			display: flex;
			flex-direction: column-reverse;
		}
		
		.o_radio_desc, .o_radio_label {
			text-align: center;
		}
		
		.o_gta_yes_no, .o_gta_stars {
			display: inline-block;
			font-size: 2em;
			line-height: 1.5em;
		}
		
		.o_gta_stars {
			color: $brand-warning;
		}
		
		.o_gta_yes_no>.o_icon_accepted {
			vertical-align: top;
		}
		
		.o_gta_yes_no>.o_icon_rejected {
			vertical-align: bottom;
		}
		
		>input {
			left: calc(50% - 6px);
			bottom: 10px;
			top: initial;
		}
	}
}

.o_gta_cards {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	>div {
		width: calc(percentage(math.div(1, 4)) - 10px);
		@media (max-width: $screen-md-max) {
			min-width: calc(percentage(math.div(1, 3)) - 7px);
		}
		@media (max-width: $screen-sm-max) {
			min-width: calc(percentage(math.div(1, 2)) - 7px);
		}
		@media (max-width: $screen-xs-max) {
			min-width: 100%;
		}
	}
}

.o_gta_document_list {
	&.o_rendertype_custom {
		.o_gta_file_rows {
			.o_gta_file_card {
				box-sizing: border-box;
				overflow: hidden;
				position: relative;
				
				.o_gta_file_thumbnail {
					cursor: pointer;
					height: 172px;
					position: relative;
					.o_gta_file_img {
						left: -0.5%;
						overflow: hidden;
						position: absolute;
						text-align: center;
						top: 0;
						transition: opacity 200ms ease-in-out;
						width: 101%;
						height: 100%;
						img {
							position: absolute;
							top: 50%;
							left: 50%;
							-ms-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							width: auto;
							height: auto;
							max-width: 100%;
						}
					}
					.o_visual_not_available {
						height: 172px;
						background-image:url('#{$o-images-path}no_preview.png');
						background-repeat:no-repeat;
						background-position:50% 50%;	
						background-size: contain;
					}
				}
				.o_gta_file_meta {
					position: relative;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.o_gta_card {
	background: #ffffff;
	height: 100%;
	
	&.o_gta_card_link {
		cursor: pointer;
		.o_icon_actions {
			margin: 10px 15px;
		}
	}
	
	.o_gta_card_meta {
		padding: 10px;
		border-radius: $o-card-border-radius;
		background: #ffffff;
		
		.o_gta_card_title {
			margin-top: 0;
			margin-bottom: 5px;
			line-height: 26px;
			
			a {
				@extend %o_nowrap;
				display: block;
			}
		}
		
		.o_gta_card_members {
			@extend %o_block_small_bottom;
			
			display: flex;
			flex-direction: row;
			gap: 10px;
			align-items: center;
		}
	}
}

.o_gta_user {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	margin-bottom: 10px;
	
	p {
		margin-bottom: 5px;
	}
}

.o_gta_score_details {
	td, th {
		padding: 0 30px 4px 0;
	}
	
	.o_gta_score_total th {
		border-top: 1px solid $table-border-color;
	}
}

.o_gta_feedback {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.o_process .o_step_peerreview .o_labeled_light,
.o_gta_workflow_content .o_gta_workflow_received_reviews .o_labeled_light,
.o_gta_workflow_content .o_gta_workflow_awarded_reviews .o_labeled_light {
	padding: 2px 5px;
	font-size: 85%;
	text-transform: lowercase;
}

.o_gta_workflow {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
	
	>a {
		flex-grow: 1;
	}

	.btn-arrow-right {
		height: 56px;
		padding-left: 16px;
		padding-right: 22px;
		margin-bottom: 5px;
		margin-right: 32px;
		text-align: right;
	}
	.btn-arrow-right span {
		z-index: 5;
	}
	.btn-arrow-right:before {
		display: none;
	}
	.btn-arrow-right:after {
		width: 38px;
		height: 38px;
		right: -19px;
		top: 8px;
	}
	
	.btn-arrow-right:last-child {
		padding-right: 16px;
		margin-right: 0;
	}
	.btn-arrow-right:last-child:after {
		display: none;
	}
}

.o_gta_workflow_content {	
	fieldset div.o_info_with_icon {
		margin: 0 0 8px 0;
	}
}

.o_gta_workflow_received_reviews {
	margin: 20px 0 20px 0;
}

.o_gta_portrait {
	display: grid;
	grid-template-columns: 1fr 2fr auto;
	padding: 10px;
	
	.o_gta_assignee {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		gap: 1em;
		
		span {
			font-weight: bold;
		}
	}
	
	.o_gta_task {
		border-left: 1px solid $panel-default-border;
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		padding: 0 10px;
		gap: 1em;
		
		>label {
			margin: 0;
			padding: 0;
		}
	}
	
	.o_gta_status {
		align-self: start;
	}
}


