/* HELP, context sensitive */
a.o_chelp {
	@extend .btn;
	@extend .btn-primary;
	padding: 1px 3px;
	font-size: 10px;
	line-height: 1.5;
	border-radius: 2px;
}

div.o_chelp_wrapper { 
	position: relative;
	@extend .pull-right;
}
/*
fieldset a.o_chelp, 
fieldset div.o_chelp_wrapper a.o_chelp { 
	position: absolute; 
	top: -1.5em; right: -0.8em; 
}
*/

.o_undecorated {
	&:hover,&:focus {
		text-decoration: none;
	}
}

.o_portrait {
	img {
		@extend .img-thumbnail;
	}
}

.o_rotate_90 {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.o_segments {
}
.o_segments_content {
	margin-top: $line-height-computed;
}

/*
#o_chelp {
}
#o_chelp_content { padding: 0;}
#b_ch_topnav_search div.b_form_element_wrapper.b_form_horizontal { margin:2px 0 0 0; }
#o_chelp_rating { 
	text-align: center; margin-top: 20px; padding: 10px; border-top: 1px #ACAAAA solid; 
	 h4{ font-size: 90%; margin: 0; font-style: italic; }
	 table {
		 display: inline-block; 
		 td { width: 50%; }
	 }
}
.o_chelp_icon {background-image: url(../openolat/images/help.png); }
*/
	

/*
.b_with_small_icon_right {
	padding: 0 20px 0 0;
}
.b_with_small_icon_left {
	padding: 0 0 0 20px;
}
.b_small_icon {
	height: $top_nav_line_height;
}


.inlineblock {
	width: 200px;
    min-height: 250px;
    border: 1px solid #000;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 250px;
}

*/

	