
/* Load font-awesome library as we use font styles for the default icons */
$fa-font-path:        "../../font-awesome/fonts" !default;
/* we use fonts as icon base. In case you want to use bitmap icons instead, 
 * create your own o_icon class and add icons that correspond with the 
 * font-awesome icon names 
 */
$fa-css-prefix: "o_icon" !default;
/* Immport everything but the icons definitions as we define only the icons we actually use.
   Don't use extend here to not make CSS explode */
@import "../../../font-awesome/scss/variables";
@import "../../../font-awesome/scss/mixins";
@import "../../../font-awesome/scss/path";
@import "../../../font-awesome/scss/core";
@import "../../../font-awesome/scss/larger";
@import "../../../font-awesome/scss/fixed-width";
@import "../../../font-awesome/scss/list";
@import "../../../font-awesome/scss/bordered-pulled";
@import "../../../font-awesome/scss/animated";
@import "../../../font-awesome/scss/rotated-flipped";
@import "../../../font-awesome/scss/stacked";


/* OpenOLAT Icons */
.o_icon_absence:before { content: $fa-var-times; }
.o_icon_absence_authorized:before { content: $fa-var-check-circle-o; color: $brand-success }
.o_icon_absence_leave:before { content: $fa-var-clock-o; }
.o_icon_absence_unauthorized:before { content: $fa-var-exclamation-circle; color: $brand-danger }
.o_icon_accepted:before { content: $fa-var-thumbs-up;}
.o_icon_accessibility:before { content: $fa-var-wheelchair; }
.o_icon_actions:before { content: $fa-var-ellipsis-v; }
.o_icon_activate:before { content: $fa-var-check-circle-o; }
.o_icon_add_html:before { content: $fa-var-code; }
.o_icon_addremove_add:before { content: $fa-var-check; }
.o_icon_addremove_remove:before { content: $fa-var-times; }
.o_icon_administrator:before { content: $fa-var-bolt; }
.o_icon_align_left:before { content: $fa-var-align-left; }
.o_icon_align_middle:before { content: $fa-var-align-center; }
.o_icon_align_right:before { content: $fa-var-align-right; }
.o_icon_archive_tool:before { content: $fa-var-download;}
.o_icon_assessment_mode{
	position: relative; /* special case: combined icon */ 
	&:before { content: $fa-var-laptop;}
	&:after { content: $fa-var-pencil; position: absolute; top: -15%; right: 0; font-size: 80%;}
}
.o_icon_assessment_tool:before { content: $fa-var-trophy;}
.o_icon_assignment:before { content: $fa-var-bolt; color: $o-portfolio-assignment-color;}
.o_icon_attempt_limit:before { content: $fa-var-refresh; }
.o_icon_accept:before { content: $fa-var-check; color: $brand-success; }
.o_icon_add:before { content: $fa-var-plus-circle; }
.o_icon_add_member:before { content: $fa-var-user-plus; }
.o_icon_add_search:before { content: $fa-var-search-plus;}
.o_icon_audio:before { content: $fa-var-volume-up; }
.o_icon_back:before { content: $fa-var-chevron-left; }
.o_icon_banned:before { content: $fa-var-flask; color: $brand-danger; }
.o_icon_bold:before { content: $fa-var-bold; }
.o_icon_booking:before { content: $fa-var-shopping-cart; }
.o_icon_bookmark:before { content: $fa-var-bookmark; color: $o-bookmark-color; }
.o_icon_bookmark_add:before { content: $fa-var-bookmark-o;  color: $o-bookmark-color; }
.o_icon_bookmark_header:before { content: $fa-var-bookmark; }
.o_icon_branch:before { content: $fa-var-code-fork; }
.o_icon_browse:before { content: $fa-var-search-plus; } 
.o_icon_brush:before { content: $fa-var-paint-brush; }
.o_icon_browsercheck:before { content: $fa-var-thumbs-up; }
.o_icon_busy:before { content: $fa-var-spinner; }
.o_icon_calendar:before { content: $fa-var-calendar;}
.o_icon_calendar_enabled:before { content: $fa-var-check-square-o;}
.o_icon_calendar_disabled:before { content: $fa-var-square-o;}
.o_icon_calendar:before { content: $fa-var-calendar;}
.o_icon_calendar_sync:before { content: $fa-var-refresh; }
.o_icon_cancelled:before { content: $fa-var-ban; }
.o_icon_caret:before { content: $fa-var-caret-down;}
.o_icon_caret_right:before { content: $fa-var-caret-right;}
.o_icon_catalog:before { content: $fa-var-sitemap;}
.o_icon_catalog_sub:before { content: $fa-var-folder; }
.o_icon_certificate:before { content: $fa-var-certificate;}
.o_icon_chat:before { content: $fa-var-comment-o; }
.o_icon_chats:before { content: $fa-var-comments-o; }
.o_icon_check:before { content: $fa-var-check; }
.o_icon_check_disabled:before { content: $fa-var-ban; }
.o_icon_check_mixed:before { content: $fa-var-minus-square-o; }
.o_icon_check_off:before { content: $fa-var-square-o; }
.o_icon_check_on:before { content: $fa-var-check-square-o; }
.o_icon_checkbox:before { content: $fa-var-square-o; }
.o_icon_checkbox_checked:before { content: $fa-var-check-square;  }
.o_icon_circle:before { content: $fa-var-circle-thin; }
.o_icon_circle_color:before { content: $fa-var-circle; }
.o_icon_citation:before { content: $fa-var-quote-left; }
.o_icon_cleanup:before { content: $fa-var-ambulance;}
.o_icon_clear_all:before { content: $fa-var-trash-o;}
.o_icon_close:before { content: $fa-var-times;}
.o_icon_close_resource:before { content: $fa-var-power-off; }
.o_icon_close_tab:before { content: $fa-var-times;}
.o_icon_close_tool:before { content: $fa-var-times;}
.o_icon_close_tree:before { content: $fa-var-caret-down;}
.o_icon_close_togglebox:before { content: $fa-var-caret-down;}
.o_icon_code:before { content: $fa-var-code;}
.o_icon_coach:before {content: $fa-var-graduation-cap; }
.o_icon_color_picker:before { content: $fa-var-tint;}
.o_icon_column:before { content: $fa-var-align-justify;}
.o_icon_columns:before { content: $fa-var-columns;}
.o_icon_commands:before { content: $fa-var-ellipsis-v; }
.o_icon_container:before { content: $fa-var-columns;}
.o_icon_copy:before { content: $fa-var-copy;}
.o_icon_course_previous:before { content: $fa-var-chevron-left; }
.o_icon_course_next:before { content: $fa-var-chevron-right; }
.o_icon_courseareas:before { content: $fa-var-circle-thin;}
.o_icon_coursedb:before { content: $fa-var-database;}
.o_icon_courseeditor:before { content: $fa-var-edit;}
.o_icon_coursefolder:before { content: $fa-var-folder-o;}
.o_icon_courserun:before { content: $fa-var-cube;}
.o_icon_comments:before { content: $fa-var-comments;}
.o_icon_comments_none:before { content: $fa-var-comment-o;}
.o_icon_compress:before { content: $fa-var-compress;}
.o_icon_compulsory:before { content: $fa-var-asterisk; }
.o_icon_competences:before { content: $fa-var-shield; }
.o_icon_content_popup:before { content: $fa-var-external-link; }
.o_icon_correct_answer:before { content: $fa-var-check; color: $brand-success; }
.o_icon_correct_response:before { content: $fa-var-check-circle-o; color: $brand-success; }
.o_icon_correction:before { content: $fa-var-pencil; }
.o_icon_curriculum_element:before { content: $fa-var-cube; }
.o_icon_customize:before { content: $fa-var-gear;}
.o_icon_database:before { content: $fa-var-database; }
.o_icon_deactivate:before { content: $fa-var-ban; }
.o_icon_delete_item:before { content: $fa-var-trash;}
.o_icon_delete:before { content: $fa-var-minus-circle; color: #A87E7E;}
.o_icon_deleted:before { content: $fa-var-trash;}
.o_icon_details:before { content: $fa-var-lightbulb-o; }
.o_icon_details_collaps:before { content: $fa-var-angle-up;}
.o_icon_details_expand:before { content: $fa-var-angle-down;}
.o_icon_description:before { content: $fa-var-info-circle; }
.o_icon_dev:before { content: $fa-var-bug;}
.o_icon_disabled:before { content: $fa-var-circle-o;}
.o_icon_disadvantage_compensation:before { content: $fa-var-universal-access;}
.o_icon_dispensation_authorized:before { content: $fa-var-check-circle-o; color: $brand-success }
.o_icon_dispensation_unauthorized:before { content: $fa-var-exclamation-triangle; color: $brand-warning }
.o_icon_download:before { content: $fa-var-download;}
.o_icon_duplicate:before { content: $fa-var-clone; }
.o_icon_edit:before { content: $fa-var-edit;}
.o_icon_edit_file:before { content: $fa-var-edit;}
.o_icon_edit_metadata:before { content: $fa-var-gear;}
.o_icon_educational_type:before { content: $fa-var-sticky-note;}
.o_icon_element_after:before { content: $fa-var-arrow-down; }
.o_icon_element_before:before { content: $fa-var-arrow-up; }
.o_icon_empty_indicator { @include fa-icon-flip(-1, 1, 0); &:before { content: $fa-var-search;}} 
.o_icon_empty_objects:before { content: $fa-var-clone; }
.o_icon_enabled:before { content: $fa-var-circle; }
.o_icon_enlarge:before { content: $fa-var-search-plus;}
.o_icon_eportfolio_add:before { content: $fa-var-puzzle-piece;}
.o_icon_eportfolio_link:before { content: $fa-var-puzzle-piece; }
.o_icon_eraser:before { content: $fa-var-eraser; }
.o_icon_error:before { content: $fa-var-exclamation-circle; color: $brand-danger;}
.o_icon_exclamation:before { content: $fa-var-exclamation;}
.o_icon_expand:before { content: $fa-var-expand;}
.o_icon_expenditure:before { content: $fa-var-clock-o;}
.o_icon_export:before { content: $fa-var-share-square-o;}
.o_icon_extend:before { content: $fa-var-refresh }
.o_icon_external_link:before { content: $fa-var-external-link }
.o_icon_extra_time:before { content: $fa-var-clock-o;}
.o_icon_failed:before { content: $fa-var-times-circle;}
.o_icon_files:before { content: $fa-var-files-o;}
.o_icon_fileupload:before { content: $fa-var-file-o;}
.o_icon_filter:before { content: $fa-var-filter;}
.o_icon_form:before { content: $fa-var-clipboard;}
.o_icon_grade:before { content: $fa-var-calculator; }
.o_icon_graduate:before { content: $fa-var-graduation-cap; }
.o_icon_group:before, .o_BusinessGroup_icon:before { content: $fa-var-users; }
.o_icon_disclaimer:before {content: $fa-var-handshake-o; }
.o_icon_header:before { content: $fa-var-header;}
.o_icon_help:before { content: $fa-var-question-circle; cursor: help;}
.o_icon_home:before { content: $fa-var-home; }
.o_icon_image:before { content: $fa-var-image; }
.o_icon_impress:before { content: $fa-var-info-circle; }
.o_icon_important:before { content: $fa-var-exclamation-triangle; color: $brand-warning;}
.o_icon_import:before { content: $fa-var-upload; }
.o_icon_incorrect_response:before { content: $fa-var-times-circle-o; color: $brand-danger; }
.o_icon_info:before { content: $fa-var-info-circle; color: $brand-info}
.o_icon_info_badge:before { content: $fa-var-info-circle;}
.o_icon_info_ap:before { content: $fa-var-info-circle; }
.o_icon_info_msg:before { content: $fa-var-exclamation-circle; color: $brand-danger}
.o_icon_info_resource:before { content: $fa-var-info-circle;}
.o_icon_inheritance_root:before { content: $fa-var-arrow-circle-down; }
.o_icon_inheritance_inherited:before { content: $fa-var-arrow-circle-o-down; }
.o_icon_inheritance_none:before { content: $fa-var-circle-o; }
.o_icon_inline_editable:before { content: $fa-var-edit; } 
.o_icon_instruction:before { content: $fa-var-hand-o-right; }
.o_icon_instructional_design:before { content: $fa-var-leaf; }
.o_icon_institution:before { content: $fa-var-bank; }
.o_icon_italic:before { content: $fa-var-italic; }
.o_icon_landingpage:before { content: $fa-var-bullseye; }
.o_icon_language:before { content: $fa-var-globe; }
.o_icon_layout:before { content: $fa-var-file-image-o; }
.o_icon_learning_path:before { content: $fa-var-map-signs; }
.o_icon_lecture:before { content: $fa-var-book; }
.o_icon_left:before { content: $fa-var-arrow-circle-left; }
.o_icon_levels:before { content: $fa-var-sitemap; }
.o_icon_line:before { content: $fa-var-check; }
.o_icon_link:before { content: $fa-var-link; }
.o_icon_link_extern:before { content: $fa-var-external-link; }
.o_icon_list:before { content: $fa-var-list; }
.o_icon_list_num:before { content: $fa-var-list-ol; }
.o_icon_lifecycle:before { content: $fa-var-power-off;}
.o_icon_lifecycle_date:before { content: $fa-var-calendar;}
.o_icon_location:before { content: $fa-var-map-marker; }
.o_icon_locked:before { content: $fa-var-lock;}
.o_icon_log:before { content: $fa-var-file-text;}
.o_icon_login:before { content: $fa-var-sign-in;}
.o_icon_logout:before { content: $fa-var-sign-out;}
.o_icon_lrm:before { content: $fa-var-university;}
.o_icon_mandatory:before { content: $fa-var-asterisk; color: #f0ad4e;}
.o_icon_managed:before { content: $fa-var-retweet; color: $text-muted}
.o_icon_manual:before { content: $fa-var-book; cursor: help;}
.o_icon_mail:before { content: $fa-var-envelope-o; }
.o_icon_master_coach:before { content: $fa-var-eye;}
.o_icon_math:before { content: "\03a3"; }
.o_icon_media:before { content: $fa-var-image; }
.o_icon_mediacenter:before { content: $fa-var-folder-open; }
.o_icon_membersmanagement:before { content: $fa-var-users;}
.o_icon_menuhandel:before { content: $fa-var-bars;}
.o_icon_message:before { content: $fa-var-envelope;}
.o_icon_mobile:before { content: $fa-var-mobile;}
.o_icon_move:before { content: $fa-var-arrows;}
.o_icon_objectives:before { content: $fa-var-bullseye;}
.o_icon_order:before { content: $fa-var-arrows-v;}
.o_icon_overriden:before { content: $fa-var-pencil;}
.o_icon_move_down:before { content: $fa-var-angle-double-down;}
.o_icon_move_left:before { content: $fa-var-angle-double-left;}
.o_icon_move_right:before { content: $fa-var-angle-double-right;}
.o_icon_move_up:before { content: $fa-var-angle-double-up;}
.o_icon_ms_done:before { content: $fa-var-check;}
.o_icon_ms_pending:before { content: $fa-var-play;}
.o_icon_name:before { content: $fa-var-pencil;}
.o_icon_new:before { content: $fa-var-asterisk; color: $brand-success;}
.o_icon_new_document:before { content: $fa-var-file-text; }
.o_icon_new_folder:before { content: $fa-var-folder;}
.o_icon_new_portfolio:before { content: $fa-var-pencil;}
.o_icon_news:before { content: $fa-var-info-circle; }
.o_icon_next:before { content: $fa-var-chevron-circle-right; }
.o_icon_next_step:before { content: $fa-var-angle-double-right; }
.o_icon_next_page:before { content: $fa-var-angle-double-right; }
.o_icon_next_toolbar:before { content: $fa-var-caret-right; }
.o_icon_node_after:before { content: $fa-var-long-arrow-down; }
.o_icon_node_before:before { content: $fa-var-long-arrow-up; }
.o_icon_node_under:before { content: $fa-var-mail-reply; }
.o_icon_node_up_down:before { content: $fa-var-arrows-v; }
.o_icon_notes:before { content: $fa-var-sticky-note-o; }
.o_icon_notice_authorized:before { content: $fa-var-check-circle-o; color: $brand-success }
.o_icon_notice_unauthorized:before { content: $fa-var-exclamation-triangle; color: $brand-warning }
.o_icon_notification:before { content: $fa-var-rss;}
.o_icon_number_of:before { content: $fa-var-hashtag;}
.o_icon_offer_active:before { content: $fa-var-eye; color: $o-ac-offer-active-color; }
.o_icon_offer_inactive:before { content: $fa-var-eye-slash; color: $o-ac-offer-inactive-color;}
.o_icon_ok:before { content: $fa-var-check; color: $brand-success}
.o_icon_open_tree:before { content: $fa-var-caret-right;}
.o_icon_open_togglebox:before { content: $fa-var-caret-right;}
.o_icon_openolat:before, %o_icon_openolat { content:"\E600"; font-family: openolat; }
.o_icon_options:before { content: $fa-var-toggle-on; }
.o_icon_origin:before { content: $fa-var-globe; }
.o_icon_others:before { content: $fa-var-star; }
.o_icon_owner:before {content: $fa-var-star; }
.o_icon_pageing:before { content: $fa-var-ellipsis-h;}
.o_icon_paragraph:before { content: $fa-var-paragraph; }
.o_icon_passed:before { content: $fa-var-check-circle;}
.o_icon_passed_undefined:before { content: $fa-var-dot-circle-o;}
.o_icon_password:before { content: $fa-var-lock;}
.o_icon_pending:before { content: $fa-var-spinner; }
.o_icon_phone:before { content: $fa-var-phone; }
.o_icon_pointer:before { content: $fa-var-mouse-pointer; }
.o_icon_post:before { content: $fa-var-comment-o; }
.o_icon_presence:before { content: $fa-var-check; }
.o_icon_preview:before { content: $fa-var-eye;}
.o_icon_previous:before { content: $fa-var-chevron-circle-left; }
.o_icon_previous_page:before { content: $fa-var-angle-double-left; }
.o_icon_previous_step:before { content: $fa-var-angle-double-left; }
.o_icon_previous_toolbar:before { content: $fa-var-caret-left; }
.o_icon_principal:before { content: $fa-var-eye;}
.o_icon_print:before { content: $fa-var-print;}
.o_icon_private:before { content: $fa-var-print;}
.o_icon_progress_success:before { content: $fa-var-check; color: #e5efe5}
.o_icon_progress_danger:before { content: $fa-var-times; color: #efe5e5}
.o_icon_provider_adfs:before { content: $fa-var-windows;}
.o_icon_provider_keycloak:before { content: $fa-var-user-secret;}
.o_icon_provider_facebook:before { content: $fa-var-facebook;}
.o_icon_provider_google:before { content: $fa-var-google;}
.o_icon_provider_guest:before { content: $fa-var-child;}
.o_icon_provider_ldap:before { content: $fa-var-university;}
.o_icon_provider_linkedin:before { content: $fa-var-linkedin;}
.o_icon_provider_oauth:before { content: $fa-var-cloud;}
.o_icon_provider_olat:before { @extend %o_icon_openolat; }
.o_icon_provider_openid:before { content: $fa-var-openid; }
.o_icon_provider_performx:before { content: $fa-var-caret-down;}
.o_icon_provider_shibboleth:before { content: $fa-var-university;}
.o_icon_provider_tequila:before { content: $fa-var-university;}
.o_icon_provider_tocco:before { content: $fa-var-circle-o;}
.o_icon_provider_twitter:before { content: $fa-var-twitter;}
.o_icon_publish:before { content: $fa-var-share;}
.o_icon_pull:before {content: $fa-var-hand-grab-o;}
.o_icon_quota:before { content: $fa-var-database;}
.o_icon_qrcode:before { content: $fa-var-qrcode;}
.o_icon_quickview:before { content: $fa-var-eye;}
.o_icon_radio_off:before { content: $fa-var-circle-o;}
.o_icon_radio_on:before { content: $fa-var-check-circle-o;}
.o_icon_rating_on:before { content: $fa-var-star;}
.o_icon_rating_off:before { content: $fa-var-star-o;}
.o_icon_reactivate:before { content: $fa-var-level-up; }
.o_icon_read:before { content: $fa-var-circle-o; }
.o_icon_readonly:before { content: $fa-var-edit; color:red;}
.o_icon_readwrite:before { content: $fa-var-edit; }
.o_icon_recalculate:before { content: $fa-var-refresh; }
.o_icon_recycle:before { content: $fa-var-recycle; }
.o_icon_rectangle:before { content: $fa-var-square-o; }
.o_icon_redo:before { content: $fa-var-repeat; }
.o_icon_refresh:before { content: $fa-var-refresh; }
.o_icon_reject:before { content: $fa-var-times; color:$brand-danger; }
.o_icon_rejected:before { content: $fa-var-thumbs-down;}
.o_icon_reminder:before { content: $fa-var-bell-o; }
.o_icon_remove:before { content: $fa-var-times; }
.o_icon_remove_filters:before { content: $fa-var-times-circle; }
.o_icon_remove_member:before { content: $fa-var-user-times; }
.o_icon_reopen:before { content: $fa-var-reply; }
.o_icon_replace:before { content: $fa-var-files-o; }
.o_icon_reply:before { content: $fa-var-reply; }
.o_icon_reply_with_quote:before { content: $fa-var-reply-all; }
.o_icon_report:before { content: $fa-var-table; }
.o_icon_reset:before { content: $fa-var-step-backward; }
.o_icon_response_feedback:before { content: $fa-var-refresh; }
.o_icon_restore:before { content: $fa-var-thumbs-up; }
.o_icon_results_visible:before { content: $fa-var-eye;}
.o_icon_results_hidden:before { content: $fa-var-eye-slash;}
.o_icon_review_add:before { content: $fa-var-plus-square; }
.o_icon_review_added:before { content: $fa-var-check; }
.o_icon_review_remove:before { content: $fa-var-minus-square; }
.o_icon_review_removed:before { content: $fa-var-times; }
.o_icon_reviewer:before { content: $fa-var-user-md;}
.o_icon_right:before { content: $fa-var-arrow-circle-right; }
.o_icon_rss:before { content: $fa-var-rss;}
.o_icon_rss_unsubscribe:before { content: $fa-var-rss; color: #996633;}
.o_icon_role:before { content: $fa-var-exchange; }
.o_icon_rubric:before { content: $fa-var-sliders; }
.o_icon_rubric_insufficient:before { content: $fa-var-times-circle; color: $o-evaluation-insufficient-color}
.o_icon_rubric_sufficient:before { content: $fa-var-check-circle; color: $o-evaluation-sufficient-color}
.o_icon_rubric_neutral:before { content: $fa-var-exclamation-circle; color: $o-evaluation-neutral-color }
.o_icon_save:before { content: $fa-var-save;}
.o_icon_search:before { content: $fa-var-search;}
.o_icon_select:before { content: $fa-var-check; }
.o_icon_selected:before { content: $fa-var-check; }
.o_icon_send:before { content: $fa-var-envelope;}
.o_icon_settings:before { content: $fa-var-gears;}
.o_icon_share:before { content: $fa-var-share;}
.o_icon_show_more:before { content: $fa-var-toggle-down; }
.o_icon_show_less:before { content: $fa-var-toggle-up; }
.o_icon_show_send:before { content: $fa-var-paper-plane-o; }
.o_icon_shuffle:before { content: $fa-var-random;}
.o_icon_sign_out:before { content: $fa-var-sign-out; }
.o_icon_slide_down:before { content: $fa-var-chevron-down; }
.o_icon_slide_up:before { content: $fa-var-chevron-up; }
.o_icon_spacer:before { content: $fa-var-arrows-h; }
.o_icon_split:before { content: $fa-var-unlink;}
.o_icon_sort:before { content: $fa-var-sort;}
.o_icon_sort_asc:before { content: $fa-var-sort-asc;}
.o_icon_sort_desc:before { content: $fa-var-sort-desc;}
.o_icon_sort_amount_asc:before { content: $fa-var-sort-amount-asc;}
.o_icon_sort_amount_desc:before { content: $fa-var-sort-amount-desc;}
.o_icon_sort_menu:before { content: $fa-var-sort-amount-asc;}
.o_icon_start:before { content: $fa-var-chevron-right; }
.o_icon_status_available:before { content: $fa-var-circle; color: $o-im-status-available-color; }
.o_icon_status_chat:before { content: $fa-var-comment; }
.o_icon_status_confirm:before { content: $fa-var-check-circle; }
.o_icon_status_dnd:before { content: $fa-var-dot-circle-o; color: $o-im-status-dnd-color; }
.o_icon_status_unavailable:before { content: $fa-var-times-circle-o; color: $o-im-status-unavailable-color; }
.o_icon_status_not_ready:before { content: $fa-var-ban; }
.o_icon_status_not_started:before { content: $fa-var-circle-o; }
.o_icon_status_in_progress:before { content: $fa-var-play; }
.o_icon_status_in_review:before { content: $fa-var-hand-o-up; }
.o_icon_status_done:before { content: $fa-var-check; }
.o_icon_status_unconfirm:before { content: $fa-var-check-circle-o; }
.o_icon_statistics_tool:before { content: $fa-var-bar-chart-o;}
.o_icon_submit:before { content: $fa-var-check; }
.o_icon_table:before { content: $fa-var-table; }
.o_icon_table_custom:before { content: $fa-var-th-list; }
.o_icon_table_large:before { content: $fa-var-th-large; }
.o_icon_tags:before { content: $fa-var-tags; }
.o_icon_text:before { content: $fa-var-font; }
.o_icon_textinput:before { content: $fa-var-align-left; }
.o_icon_time:before { content: $fa-var-clock-o; }
.o_icon_timelimit:before { content: $fa-var-clock-o; }
.o_icon_timelimit_start:before { content: $fa-var-hourglass-start; }
.o_icon_timelimit_half:before { content: $fa-var-hourglass-half; }
.o_icon_timelimit_end:before { content: $fa-var-hourglass-end; }
.o_icon_timetable:before { content: $fa-var-calendar-o; }
.o_icon_toggle:before { content: $fa-var-circle; }
.o_icon_toggle_on:before { content: $fa-var-toggle-on; }
.o_icon_toggle_off:before { content: $fa-var-toggle-off; }
.o_icon_to_read:before { content: $fa-var-circle; }
.o_icon_tool:before { content: $fa-var-gear; }
.o_icon_tool_pdf:before { content: $fa-var-file-pdf-o; }
.o_icon_tools:before { content: $fa-var-wrench; }
.o_icon_top:before { content: $fa-var-chevron-up; }
.o_icon_translation_item:before { content: $fa-var-file-code-o; }
.o_icon_translation_package:before { content: $fa-var-folder-open-o; }
.o_icon_unlocked:before { content: $fa-var-unlock;}
.o_icon_unselected:before { content: $fa-var-question; }
.o_icon_undo:before { content: $fa-var-undo; }
.o_icon_user:before { content: $fa-var-user; }
.o_icon_user_vip:before { content: $fa-var-graduation-cap; }
.o_icon_user_anonymous:before { content: $fa-var-question; }
.o_icon_update:before { content: $fa-var-refresh; }
.o_icon_upload:before { content: $fa-var-upload; }
.o_icon_version:before { content: $fa-var-history;}
.o_icon_video:before { content: $fa-var-film; }
.o_icon_video_replay:before { content: $fa-var-repeat;}
.o_icon_video_resume:before { content: $fa-var-play;}
.o_icon_visitingcard.o_icon_waiting:before { content: $fa-var-clock-o; }
.o_icon_warn:before { content: $fa-var-exclamation-triangle; color: $brand-warning;}
.o_icon_warning:before { content: $fa-var-exclamation-triangle; }
.o_icon_width_expand:before { content: $fa-var-expand; }
.o_icon_width_collapse:before { content: $fa-var-compress; } 
.o_icon_wizard:before { content: $fa-var-magic; }
.o_icon_xing:before { content: $fa-var-xing; color: #cfdc00;}
.o_icon_linkedin:before { content: $fa-var-linkedin-square; color: #0e76a8;}

/* Disabled icons */
.o_disabled>.o_icon_delete:before { color: $o-content-disabled-color; }

/* repository type icons */
.o_BinderTemplate_icon:before { content: $fa-var-briefcase; }
.o_CourseModule_icon:before, .o_course_icon:before { content: $fa-var-cube; }
.o_FileResource-BLOG_icon:before { content: $fa-var-bullhorn; }
.o_FileResource-IMSCP_icon:before { content: $fa-var-archive; }
.o_FileResource-FORM_icon:before { content: $fa-var-sliders; }
.o_FileResource-PODCAST_icon:before { content: $fa-var-video-camera; }
.o_FileResource-SHAREDFOLDER:before { content: $fa-var-external-link; }
.o_FileResource-SCORMCP_icon:before { content: $fa-var-archive; }
.o_FileResource-SURVEY_icon:before { content: $fa-var-meh-o; }
.o_FileResource-TEST_icon:before { content: $fa-var-pencil-square-o; }
.o_FileResource-IMSQTI21_icon:before { content: $fa-var-pencil-square; }
.o_FileResource-WIKI_icon:before { content: $fa-var-globe; }
.o_FileResource-SHAREDFOLDER_icon:before { content: $fa-var-folder-open-o; }
.o_FileResource-GLOSSARY_icon:before { content: $fa-var-graduation-cap; }
.o_FileResource-PDF_icon:before { content: $fa-var-file-pdf-o; }
.o_FileResource-XLS_icon:before { content: $fa-var-file-excel-o; }
.o_FileResource-PPT_icon:before { content: $fa-var-file-powerpoint-o; }
.o_FileResource-DOC_icon:before { content: $fa-var-file-word-o; }
.o_FileResource-ANIM_icon:before { content: $fa-var-file-video-o; }
.o_FileResource-IMAGE_icon:before { content: $fa-var-file-image-o; }
.o_FileResource-SOUND_icon:before { content: $fa-var-file-audio-o; }
.o_FileResource-MOVIE_icon:before { content: $fa-var-file-video-o; }
.o_FileResource-FILE_icon:before { content: $fa-var-file-o; }
.o_FileResource-VIDEO_icon:before { content: $fa-var-film; }
.o_CourseModule_icon_closed:before { content: $fa-var-ban; }

/* Repository status icon */
.o_icon_repo_status_preparation:before { content: $fa-var-pencil;}
.o_icon_repo_status_review:before { content: $fa-var-star-o;}
.o_icon_repo_status_coachpublished:before { content: $fa-var-graduation-cap;}
.o_icon_repo_status_published:before { content: $fa-var-check;}
.o_icon_repo_status_closed:before { content: $fa-var-ban; }
.o_icon_repo_status_trash:before { content: $fa-var-trash-o;}
.o_icon_repo_status_deleted:before { content: $fa-var-trash-o;}

/* Business group icon */
.o_icon_businessgroup_status_active:before { content: $fa-var-check;}
.o_icon_businessgroup_status_inactive:before { content: $fa-var-ban; }
.o_icon_businessgroup_status_trash:before { content: $fa-var-trash-o;}
.o_icon_businessgroup_status_deleted:before { content: $fa-var-trash-o;}


/* course element icons */
.o_sp_icon:before { content: $fa-var-file-text-o; }
.o_st_icon:before { content: $fa-var-cubes; }
.o_tu_icon:before { content: $fa-var-external-link; }
.o_bc_icon:before { content: $fa-var-folder-open-o;}
.o_lti_icon:before { content: $fa-var-external-link; }
.o_cp_icon:before { content: $fa-var-archive; }
.o_cp_item:before { content: $fa-var-file-text-o;}
.o_scorm_icon:before { content: $fa-var-archive; }
.o_en_icon:before { content: $fa-var-sign-in; }
.o_fo_icon:before { content: $fa-var-comments-o; }
.o_co_icon:before { content: $fa-var-envelope-o; }
.o_infomsg_icon:before { content: $fa-var-info-circle; }
.o_cal_icon:before { content: $fa-var-calendar; }
.o_wiki_icon:before { content: $fa-var-globe; }
.o_podcast_icon:before { content: $fa-var-video-camera; }
.o_pf_icon:before { content: $fa-var-inbox; }
.o_blog_icon:before { content: $fa-var-bullhorn; }
.o_ep_icon:before { content: $fa-var-briefcase; }
.o_iqtest_icon:before { content: $fa-var-pencil-square; }
.o_iqself_icon:before { content: $fa-var-pencil-square; }
.o_iqsurv_icon:before { content: $fa-var-meh-o; }
.o_survey_icon:before { content: $fa-var-sliders; }
.o_qtiassessment_icon:before { content: $fa-var-pencil-square; }
.o_ta_icon:before { content: $fa-var-tasks; }
.o_gta_icon:before { content: $fa-var-tasks; }
.o_ms_icon:before { content: $fa-var-thumbs-o-up; }
.o_dialog_icon:before { content: $fa-var-files-o; }
.o_projectbroker_icon:before { content: $fa-var-circle-o; }
.o_ll_icon:before { content: $fa-var-link;}
.o_appointment_icon:before { content: $fa-var-calendar-o;}
.o_den_icon:before { content: $fa-var-calendar-o;}
.o_cmembers_icon:before { content: $fa-var-users;}
.o_cl_icon:before { content: $fa-var-check-square-o;}
.o_vc_icon:before { content: $fa-var-desktop;}
.o_video_icon:before { content: $fa-var-film;}
.o_vitero_icon:before { content: $fa-var-desktop;}
.o_openmeetings_icon:before { content: $fa-var-desktop;}
.o_gotomeeting_icon:before { content: $fa-var-desktop;}
.o_card2brain_icon:before, %o_icon_card2brain { content:"\E800"; font-family: openolat; font-size: 120%; }
.o_edubase_icon:before, %o_icon_edubase { content:"\E885"; font-family: openolat; }
.o_edusharing_icon:before, %o_icon_edusharing { content:"\E803"; font-family: openolat; font-size: 90%; }
.o_mediasite_icon:before, %o_icon_mediasite { content:"\E902"; font-family: openolat; }
.o_opencast_icon:before, %o_icon_opencast { content:"\E804"; font-family: openolat; }
.o_livestream_icon:before { content: $fa-var-video-camera;}
.o_unkown_icon:before { content: $fa-var-user-secret;}

/* portal icons */
.o_portlet_infomsg_icon:before {content: $fa-var-info-circle; }
.o_portlet_quickstart_icon:before {content: $fa-var-paper-plane-o; }
.o_portlet_bookmark_icon:before {content: $fa-var-bookmark; }	
.o_portlet_groups_icon:before {content: $fa-var-users; }
.o_portlet_notes_icon:before {content: $fa-var-sticky-note-o; }
.o_portlet_noti_icon:before {content: $fa-var-rss; }
.o_portlet_eff_icon:before {content: $fa-var-certificate; }
.o_portlet_repository_student_icon:before {content: $fa-var-cubes; }
.o_portlet_repository_teacher_icon:before {content: $fa-var-graduation-cap; }	
.o_portlet_iframe_icon:before {content: $fa-var-star; }
.o_portlet_sysinfo_icon:before {content: $fa-var-tachometer; }
.o_portlet_dyk_icon:before {content: $fa-var-lightbulb-o; }
.o_portlet_infomessages_icon:before {content: $fa-var-comment-o; }
.o_portlet_cal_icon:before {content: $fa-var-calendar; }
.o_portlet_institutions_icon:before {content: $fa-var-institution; }
.o_portlet_links_icon:before {content: $fa-var-link; }
.o_portlet_shibboleth_icon:before {content: $fa-var-sign-in; }

/* question pool */
.o_icon_qpool:before { content: $fa-var-bank; }
.o_icon_pool_private:before { content: $fa-var-square-o; }
.o_icon_pool_public:before { content: $fa-var-check-square-o; }
.o_icon_pool_my_items:before { content: $fa-var-user; }
.o_icon_pool_favorits:before { content: $fa-var-bookmark; }
.o_icon_pool_collection:before { content: $fa-var-list; }
.o_icon_pool_pool:before { content: $fa-var-share-alt-square;}
.o_icon_pool_share:before { content: $fa-var-group; }
.o_icon_qitem_commands:before { content: $fa-var-gears;}
.o_icon_qitem_convert:before { content: $fa-var-exchange;}
.o_icon_qitem_copy:before { content: $fa-var-copy;}
.o_icon_qitem_delete:before { content: $fa-var-trash;}
.o_icon_qitem_draft:before { content: $fa-var-pencil;}
.o_icon_qitem_endOfLife:before { content: $fa-var-trash-o;}
.o_icon_qitem_finalVersion:before { content: $fa-var-check;}
.o_icon_qitem_export:before { content: $fa-var-download;}
.o_icon_qitem_hide_metadata:before { content: $fa-var-toggle-on;}
.o_icon_qitem_import:before { content: $fa-var-upload;}
.o_icon_qitem_new:before { content: $fa-var-plus-circle;}
.o_icon_qitem_review:before { content: $fa-var-star-o;}
.o_icon_qitem_revised:before { content: $fa-var-rotate-left;}
.o_icon_qitem_share:before { content: $fa-var-share;}
.o_icon_qitem_show_metadata:before { content: $fa-var-toggle-off;}
.o_icon_qitem_status:before { content: $fa-var-arrow-right;}

/* notification icons */
.o_forum_message_icon:before { content: $fa-var-comment-o; }
.o_calendar_icon:before { content: $fa-var-calendar; }

/* portfolio icons */
.o_icon_pf_section_draft:before { content: $fa-var-eye-slash; color: $o-portfolio-entry-draft-color;}
.o_icon_pf_section_progress:before { content: $fa-var-refresh; color: $o-portfolio-entry-draft-color;}
.o_icon_pf_section_closed:before { content: $fa-var-lock; color: $o-portfolio-entry-closed-color;}
.o_icon_pf_binder:before { content: $fa-var-briefcase; }
.o_icon_pf_entry:before { content: $fa-var-file; }
.o_icon_pf_entry_draft:before { content: $fa-var-pencil; color: $o-portfolio-entry-draft-color; }
.o_icon_pf_entry_published:before { content: $fa-var-check; color: $o-portfolio-entry-published-color; }
.o_icon_pf_entry_revision:before { content: $fa-var-rotate-left; color: $o-portfolio-entry-inrevision-color; }
.o_icon_pf_entry_closed:before { content: $fa-var-lock; color: $o-portfolio-entry-closed-color; }
.o_icon_pf_entry_deleted:before { content: $fa-var-trash; color: $o-portfolio-entry-deleted-color; }
.o_icon_pf_history:before { content: $fa-var-clock-o;}
.o_icon_pf_my_shares:before { content: $fa-var-share-alt; }
.o_icon_pf_new_entry:before { content: $fa-var-pencil; }
.o_icon_pf_quick_links:before { content: $fa-var-share; }
.o_icon_pf_page:before { content: $fa-var-file-o; }
.o_icon_pf_page_shared:before { content: $fa-var-share; }
.o_icon_pf_section:before { content: $fa-var-navicon; }
.o_icon_pf_shared_with_me:before { content: $fa-var-share-alt-square; }
.o_icon_pf_trash:before { content: $fa-var-trash-o; }

/* forum course element */
.o_forum_status_thread_icon:before { content: $fa-var-comments-o; }
.o_forum_status_sticky_closed_icon:before { content: $fa-var-ban; }
.o_forum_status_sticky_icon:before { content: $fa-var-comments; }
.o_forum_status_closed_icon:before { content: $fa-var-ban; color: $state-danger-text}
.o_forum_status_opened_icon:before { content: $fa-var-ban; color: $state-success-text}
.o_forum_status_hidden_icon:before { content: $fa-var-eye-slash; color: $state-danger-text}
.o_forum_status_visible_icon:before { content: $fa-var-eye; color: $state-success-text}

.o_forum_all_icon:before { content: $fa-var-align-right; }
.o_forum_all_flat_icon:before { content: $fa-var-align-justify; }
.o_forum_one_icon:before { content: $fa-var-eye; }
.o_forum_marked_icon:before { content: $fa-var-bookmark; }
.o_forum_new_icon:before { content: $fa-var-asterisk; }

/* drawing tool */
.o_icon_draw_align-bottom:before { content: '\E805'; font-family: openolat; }
.o_icon_draw_align-left:before { content: '\E806'; font-family: openolat; }
.o_icon_draw_align-right:before { content: '\E807'; font-family: openolat; }
.o_icon_draw_align-top:before { content: '\E808'; font-family: openolat; }
.o_icon_draw_distribute-h:before { content: '\E809'; font-family: openolat; }
.o_icon_draw_distribute-v:before { content: '\E80a'; font-family: openolat; }
.o_icon_draw_equal-size:before { content: '\E80b'; font-family: openolat; }
.o_icon_draw_equal-size-width:before { content: '\e80c'; font-family: openolat; }
.o_icon_draw_equal-size-height:before { content: '\e80d'; font-family: openolat; } 
.o_icon_draw_front:before { content: '\E900'; font-family: openolat; }
.o_icon_draw_back:before { content: '\E901'; font-family: openolat; }
.o_icon_draw_ellipse:before { content: $fa-var-circle; }
.o_icon_draw_color:before { content: $fa-var-tint; }

/* tests icons */
.o_mi_qpool_import:before { content: $fa-var-database; }
.o_mi_qtidrawing:before { content: $fa-var-paint-brush; }
.o_mi_qtisection:before { content: $fa-var-cubes; }
.o_mi_qtisc:before { content: $fa-var-dot-circle-o; }
.o_mi_qtimatch:before { content: $fa-var-table; }
.o_mi_qtimatch_draganddrop:before { content: $fa-var-clone; }
.o_mi_qtimatch_truefalse:before { content: $fa-var-list-ol; }
.o_mi_qtimc:before { content: $fa-var-check-square-o; }
.o_mi_qtikprim:before { content: $fa-var-check-square;  }
.o_mi_qtifib:before { content: $fa-var-ellipsis-h; }
.o_mi_qtinumerical:before { content: $fa-var-calculator; }
.o_mi_qtiorder:before { content: $fa-var-bars; }
.o_mi_qtihotspot:before { content: $fa-var-map-o; }
.o_mi_qtihottext:before { content: $fa-var-fire; }
.o_mi_qtiessay:before { content: $fa-var-align-left; }
.o_mi_qtiunkown:before { content: $fa-var-user-secret; }
.o_mi_qtiupload:before { content: $fa-var-upload; }

.o_as_mode_none { }
.o_as_mode_leadtime:before { content: $fa-var-clock-o; }
.o_as_mode_assessment:before { content: $fa-var-play; }
.o_as_mode_followup:before { content: $fa-var-ban; }
.o_as_mode_closed:before { content: '-'; }
.o_as_mode_stop:before { content: $fa-var-stop; }

.o_icon_qti_notPresented:before { content: $fa-var-circle-thin; color: $o-qti-status-notPresented-color;}
.o_icon_qti_notAnswered:before { content: $fa-var-play-circle; color: $o-qti-status-notAnswered-color;}
.o_icon_qti_answered:before { content: $fa-var-check-circle; color: $o-qti-status-answered-color;}
.o_icon_qti_ended:before { content: $fa-var-ban; color: $o-qti-status-ended-color;}
.o_icon_qti_invalid:before { content: $fa-var-exclamation-circle; color: $o-qti-status-invalid-color;}
.o_icon_qti_review:before { content: $fa-var-eye; color: $o-qti-status-review-color;}
.o_icon_qti_reviewNotSeen:before,
.o_icon_qti_reviewNotAnswered:before,
.o_icon_qti_reviewInvalid:before { content: $fa-var-eye-slash; color: $o-qti-status-review-color;}
.o_icon_qti_end_testpart:before { content: $fa-var-floppy-o; }
.o_icon_qti_close_test:before { content: $fa-var-window-close; }
.o_icon_qti_cancel:before { content: $fa-var-stop; }
.o_icon_qti_suspend:before { content: $fa-var-pause; }
.o_icon_qti_close_results:before { content: $fa-var-window-close; }
.o_icon_qti_hint:before { content: $fa-var-question-circle; }
.o_icon_qti_summary_notAnswered:before { content: $fa-var-circle; color: $o-qti-status-notAnswered-color; }
.o_icon_qti_summary_ended:before { content: $fa-var-times-circle; color: $brand-danger; }
.o_icon_qti_summary_correct:before { content: $fa-var-check-circle; color: $brand-success; }

/* lectures */
.o_lectures_current:before { content: $fa-var-circle; color: $brand-warning; }
.o_lectures_next:before { content: $fa-var-clock-o;  }
.o_lectures_pending:before { content: $fa-var-circle; color: $brand-danger; }
.o_lectures_closed:before { content: $fa-var-circle; }

.o_lectures_rollcall_ok:before { content: $fa-var-circle; color: $brand-success; }
.o_lectures_rollcall_warning:before { content: $fa-var-adjust; color: $brand-warning; }
.o_lectures_rollcall_danger:before { content: $fa-var-circle-o; color: $brand-danger; }
.o_lectures_rollcall_free:before { content: $fa-var-circle; color: #969696; }
.o_lectures_rollcall_notice:before { content: $fa-var-circle; color: #969696; }
.o_lectures_rollcall_:before { content: $fa-var-clock-o; color: #b8b8b8; }
.o_lectures_attended:before { content: $fa-var-circle; color: $brand-success !important; }
.o_lectures_authorized:before { content: $fa-var-circle; color: $brand-warning !important; }
.o_lectures_absent:before { content: $fa-var-circle; color: $brand-danger !important; }
.o_lectures_dispensed:before { content: $fa-var-circle; color: $brand-info !important; }
.o_absences_col_warning:before { content: $fa-var-warning; }
.o_absences_col_alert:before { content: $fa-var-exclamation-circle; }

/* taxonomy */
.o_icon_taxonomy:before { content: $fa-var-cube; }
.o_icon_taxonomy_level:before { content: $fa-var-cubes; }
.o_icon_taxonomy_level_leaf:before { content: $fa-var-folder-open-o; }
.o_icon_taxonomy_templates:before { content: $fa-var-files-o; }
.o_icon_taxonomy_levels:before { content: $fa-var-sitemap;}

/* coaching */
.o_black_led:before { content: $fa-var-circle; color: $brand-primary; }
.o_green_led:before { content: $fa-var-circle; color: $brand-success; }
.o_yellow_led:before { content: $fa-var-circle; color: $brand-warning; }
.o_red_led:before { content: $fa-var-circle; color: $brand-danger; }
.o_grey_led:before { content: $fa-var-circle; color: #eee; }

/* grading */
.o_grader_active:before { content: $fa-var-check-circle-o; color: $brand-success; }
.o_grader_inactive:before { content: $fa-var-ban; color: $brand-danger; }
.o_grader_absence:before { content: $fa-var-clock-o; color: $brand-warning; }
.o_grad_assignment_unassigned:before { content: $fa-var-exclamation-circle; color: $brand-danger; }
.o_grad_assignment_assigned:before { content: $fa-var-square-o; }
.o_grad_assignment_inprocess:before { content: $fa-var-refresh; }
.o_grad_assignment_done:before { content: $fa-var-check-square-o; }

/* user */
.o_icon_identity_permanent:before { content: $fa-var-lock; }
.o_icon_identity_pending:before { content: $fa-var-clock-o; }
.o_icon_identity_inactive:before { content: $fa-var-pause-circle-o; }
.o_icon_identity_login_denied:before { content: $fa-var-ban; }
.o_icon_identity_deleted:before { content: $fa-var-trash; }

/* Access control icons */
.o_ac_guest_icon:before { content: $fa-var-user-circle;}
.o_ac_token_icon{ @include fa-icon-rotate(180deg, 1); &:before { content: $fa-var-key; }}
.o_ac_free_icon:before { content: $fa-var-gift;}
.o_ac_group_icon:before { content: $fa-var-group;}
.o_ac_membersonly_icon:before { content: $fa-var-lock;}
.o_ac_guests_icon:before { content: $fa-var-user-secret;}
.o_ac_paypal_icon:before { content: $fa-var-cc-paypal;}
.o_ac_status_canceled_icon:before { content: $fa-var-minus; color: $brand-warning;}
.o_ac_status_error_icon:before { content: $fa-var-times; color: $brand-danger;}
.o_ac_status_new_icon:before { content: $fa-var-asterisk; color: $brand-primary;}
.o_ac_status_success_icon:before { content: $fa-var-check; color: $brand-success;}
.o_ac_status_waiting_icon:before { content: $fa-var-clock-o; color: $brand-primary;}
.o_ac_order_status_new_icon:before { content: $fa-var-asterisk; color: $brand-primary;}
.o_ac_order_status_prepayment_icon:before { content: $fa-var-money; color: $brand-info;}
.o_ac_order_status_payed_icon:before { content: $fa-var-check; color: $brand-success;}
.o_ac_order_status_canceled_icon:before { content: $fa-var-minus; color: $brand-warning;}
.o_ac_order_status_error_icon:before { content: $fa-var-times; color: $brand-danger;}
.o_ac_order_status_warning_icon:before { content: $fa-var-exclamation; color: $brand-warning;}
.o_ac_order_status_pending_icon:before { content: $fa-var-clock-o;}

/* Menu tree status icons for course editor and SCORM module */
.o_scorm_org:before { content: $fa-var-archive; }
.o_scorm_item:before { content: $fa-var-file-o; }
.o_scorm_completed:before, .o_scorm_passed:before { content: $fa-var-check-circle; }
.o_scorm_failed:before { content: $fa-var-warning; }
.o_scorm_incomplete:before { content: $fa-var-warning; }
.o_scorm_not_attempted:before { background: none; }
.o_midpub:before { content: $fa-var-check-circle;}
.o_midwarn:before { content: $fa-var-exclamation-triangle;}
.o_midlock:before { content: $fa-var-lock;}
.o_midlpexob:before { content: $fa-var-map-signs;}
.o_miderr:before { content: $fa-var-exclamation-circle;}
.o_middel:before { content: $fa-var-eraser;}
i.o_lp_not_accessible:before { content: $fa-var-ban;}
i.o_lp_ready:before { content: $fa-var-circle-o;}
i.o_lp_in_progress:before { content: $fa-var-play-circle-o;}
i.o_lp_done:before { content: $fa-var-check-circle;}


/* File type icons */
/* first the default that is used as base class. will be overriden by following classes */
.o_filetype_file:before,
.o_filetype_ico:before { content: $fa-var-file-o; }
.o_filetype_folder:before { content: $fa-var-folder-o; }
.o_filetype_folder_open:before { content: $fa-var-folder-open-o; }	
/* filesystem icons, mark important to override ext definitions */
.o_filetype_zip:before,
.o_filetype_gz:before,
.o_filetype_tar:before,
.o_filetype_tgz:before { content: $fa-var-file-archive-o; }
.o_filetype_css:before,
.o_filetype_js:before,
.o_filetype_java:before,
.o_filetype_numbers:before,
.o_filetype_ods:before,
.o_filetype_xml:before,
.o_filetype_xsl:before { content: $fa-var-file-code-o; }
.o_filetype_bat_icon:before,
.o_filetype_bat:before,
.o_filetype_exe:before,
.o_filetype_app:before,
.o_filetype_sh:before { content: $fa-var-file-code-o; }
.o_filetype_xls:before, 
.o_filetype_xlsx:before { content: $fa-var-file-excel-o; }
.o_filetype_png:before,
.o_filetype_tiff:before,
.o_filetype_webp:before,
.o_filetype_gif:before,
.o_filetype_ico:before,
.o_filetype_jpeg:before, 
.o_filetype_bmp:before,
.o_filetype_odg:before,
.o_filetype_eps:before,
.o_filetype_jpg:before { content: $fa-var-file-image-o; }
.o_filetype_psd:before,
.o_filetype_avi:before,
.o_filetype_dvi:before,
.o_filetype_mp4:before, 
.o_filetype_m4v:before, 
.o_filetype_webm:before, 
.o_filetype_ogg:before,
.o_filetype_video:before, 
.o_filetype_mov:before,
.o_filetype_mpeg:before,
.o_filetype_mpg:before,
.o_filetype_qt:before,
.o_filetype_ra:before,
.o_filetype_ram:before,
.o_filetype_swf:before,
.o_filetype_flv:before { content: $fa-var-file-video-o; }
.o_filetype_midi:before,
.o_filetype_audio:before, 
.o_filetype_mp3:before,
.o_filetype_m3u:before,
.o_filetype_wav:before { content: $fa-var-file-audio-o; }
.o_filetype_ps:before,
.o_filetype_pdf:before { content: $fa-var-file-pdf-o; }
.o_filetype_key:before,
.o_filetype_odp:before,
.o_filetype_ppt:before, 
.o_filetype_pptx:before { content: $fa-var-file-powerpoint-o; }
.o_filetype_odf:before,
.o_filetype_rtf:before,
.o_filetype_readme:before, 
.o_filetype_README:before,
.o_filetype_log:before,
.o_filetype_txt:before,
.o_filetype_htm:before, 
.o_filetype_html:before { content: $fa-var-file-text-o; }
.o_filetype_odt:before,
.o_filetype_pages:before,
.o_filetype_doc:before, 
.o_filetype_docx:before { content: $fa-var-file-word-o; }

/* social share icons */
.o_icon_share_social:before { content: $fa-var-share-square;}
.o_icon_apple:before { content: $fa-var-apple;}
.o_icon_facebook:before { content: $fa-var-facebook-square;}
.o_icon_twitter:before { content: $fa-var-twitter-square;}
.o_icon_google:before { content: $fa-var-google-plus-square;}
.o_icon_delicious:before { content: $fa-var-delicious;}
.o_icon_digg:before { content: $fa-var-digg;}
.o_icon_mailto:before { content: $fa-var-envelope-square;}
.o_icon_link:before { content: $fa-var-link;}
.o_icon_linkedin:before { content: $fa-var-linkedin-square;}
.o_icon_yahoo:before { content: $fa-var-yahoo;}
.o_icon_youtube:before { content: $fa-var-youtube-square;}
	
/* evaluation form and survey course node*/
.o_icon_eva_disclaimer:before { content: $fa-var-gavel; }
.o_icon_eva_end_show:before { content: $fa-var-arrows-h; }
.o_icon_eva_end_hide:before { content: $fa-var-long-arrow-right; }
.o_icon_eva_export:before { content: $fa-var-download; }
.o_icon_eva_pdf:before { content: $fa-var-file-pdf-o; }
.o_icon_eva_print:before { content: $fa-var-print; }
.o_icon_eva_session_info:before { content: $fa-var-info; }
.o_icon_eva_mc:before { content: $fa-var-check-square-o; }
.o_icon_eva_sc:before { content: $fa-var-dot-circle-o; }
.o_icon_eva_sc:before { content: $fa-var-dot-circle-o; }

/* Quality management */
.o_icon_qual_ana_hide_filter:before { content: $fa-var-toggle-on;}
.o_icon_qual_ana_pres_edit:before { content: $fa-var-thumb-tack;}
.o_icon_qual_ana_export:before { content: $fa-var-download;}
.o_icon_qual_ana_pres_delete:before { content: $fa-var-ban;}
.o_icon_qual_ana_pdf:before { content: $fa-var-file-pdf-o;}
.o_icon_qual_ana_print:before { content: $fa-var-print;}
.o_icon_qual_ana_show_filter:before { content: $fa-var-toggle-off;}
.o_icon_qual_ana_trend:before { content: $fa-var-line-chart; }
.o_icon_qual_ana_trend_arrow:before { content: $fa-var-arrow-circle-right; }
.o_icon_qual_dc_create:before { content: $fa-var-plus-circle; }
.o_icon_qual_dc_delete:before { content: $fa-var-trash; }
.o_icon_qual_dc_finished:before { content: $fa-var-check-circle; }
.o_icon_qual_dc_preparation:before { content: $fa-var-edit; }
.o_icon_qual_dc_ready:before { content: $fa-var-play-circle-o; }
.o_icon_qual_dc_running:before { content: $fa-var-play-circle; }
.o_icon_qual_exec_future:before { content: $fa-var-times-circle-o; }
.o_icon_qual_exec_over:before { content: $fa-var-times-circle; }
.o_icon_qual_exec_participating:before { content: $fa-var-play-circle; }
.o_icon_qual_exec_participated:before { content: $fa-var-check-circle; }
.o_icon_qual_exec_ready:before { content: $fa-var-play-circle-o; }
.o_icon_qual_gen_ce_add:before { content: $fa-var-plus-circle; }
.o_icon_qual_gen_create:before { content: $fa-var-plus-circle; }
.o_icon_qual_gen_delete:before { content: $fa-var-trash; }
.o_icon_qual_gen_disabled:before { content: $fa-var-ban; }
.o_icon_qual_gen_enabled:before { content: $fa-var-repeat; }
.o_icon_qual_gen_re_add:before { content: $fa-var-plus-circle; }
.o_icon_qual_part_user_add:before { content: $fa-var-user-plus; }
.o_icon_qual_part_user_add_course:before { content: $fa-var-user-plus; }
.o_icon_qual_part_user_add_curele:before { content: $fa-var-user-plus; }
.o_icon_qual_part_execute:before { content: $fa-var-play; }

/* Licenses */
.o_icon_lic_add:before { content: $fa-var-plus-circle;}
.o_icon_lic_public_domain:before, %o_icon_lic_public_domain { content:"\E810"; font-family: openolat; font-size: 120%; }
.o_icon_lic_cc0:before, %o_icon_lic_cc0 { content:"\E811"; font-family: openolat; font-size: 120%; }
.o_icon_lic_by:before, %o_icon_lic_by { content:"\E812"; font-family: openolat; font-size: 120%; }
.o_icon_lic_by_sa:before, %o_icon_lic_by_sa { content:"\E813"; font-family: openolat; font-size: 120%; }
.o_icon_lic_by_nd:before, %o_icon_lic_by_nd { content:"\E814"; font-family: openolat; font-size: 120%; }
.o_icon_lic_by_nc:before, %o_icon_lic_by_nc { content:"\E815"; font-family: openolat; font-size: 120%; }
.o_icon_lic_by_nc_sa:before, %o_icon_lic_by_nc_sa { content:"\E817"; font-family: openolat; font-size: 120%; }
.o_icon_lic_by_nc_nd:before, %o_icon_lic_by_nc_nd { content:"\E819"; font-family: openolat; font-size: 120%; }
.o_icon_lic_all_rights_reserved:before { content: $fa-var-copyright;}
.o_icon_lic_freetext:before { content: $fa-var-copyright;}
.o_icon_lic_general:before { content: $fa-var-copyright;}
.o_icon_lic_youtube:before { content: $fa-var-youtube-square;}

/* Immunity Proof */
.o_icon_immunity_proof_none:before { content: $fa-var-times; }
.o_icon_immunity_proof_claimed:before { content: $fa-var-question; }
.o_icon_immunity_proof_validated:before { content: $fa-var-check; }

/* do not move link icons */
a.o_icon {
	&:hover,&:focus {
		text-decoration: none;
	}
}

.o_icon_success {
	color: $state-success-text;
}

.o_icon_danger {
	color: $state-danger-text;
}

/* Small fixed with */
.o_icon-fws {
	width: 0.75em;
	text-align: center;
}

