/* Instant Messaging components in navbar */
#o_navbar_imclient {
	#o_im_message, 	
	#o_im_status,
	#o_im_summary {
		@extend .pull-left;
		position: relative;
		padding: floor($grid-gutter-width / 2) floor($grid-gutter-width / 8);
	}
	#o_im_summary {
		padding-right: floor($grid-gutter-width / 2);
	}
	#o_im_status div.o_chelp_wrapper {
		right: 0.5em;
	}
}