/* Instant Messaging components in navbar */
#o_navbar_imclient {
	.o_im_messages {
		float: left;
	}
	#o_im_message, 	
	#o_im_status,
	#o_im_summary {
		float: left;
		position: relative;
		padding: floor($grid-gutter-width * 0.5) floor($grid-gutter-width * 0.125);
	}
	#o_im_status, #o_im_message {
		padding-left: floor($grid-gutter-width * 0.5);
	}
	#o_im_summary {
		.badge {
			color: $o-im-summary-color;
			background-color: $o-im-summary-bg;
		}
	}
	#o_im_status {
		li > a > span {
			display: inline;
		}
		div.o_chelp_wrapper {
			right: 0.5em;
		}
	}
	#o_im_message {
		a:hover,
		a:focus {
			text-decoration: none;
		}
		.o_icon_message {
			color: $o-im-newmessage-color;
			&:hover {
				color: $o-im-newmessage-hover-color;		
			}	
		}		
	}
}

.o_im_load_history {
	.o_label {
		font-size: $o-im-chat-load-font-size; 
		padding-right: 0.5em;
		line-height: 1.5em;
		color: $text-muted;
	}
	margin-bottom: $padding-base-vertical;
}
.o_im_chat_history {
	height:170px;
	font-size: 90%;
	border: 1px solid $o-im-chat-history-border; 
	
	/* scrollbar */
	margin: 0 0 1em 0; 
	overflow: scroll; 
	overflow-x:auto;
} 
/* message group for all following messages of a single user. a new message group starts 
   when someone else replies */
.o_im_message_group {
	padding: 3px 3px 3px 40px;
	min-height: 40px;		
	position: relative;
	border-top: 1px solid $o-im-chat-message-border;
	background: $o-im-chat-message-bg;
		
	&.o_odd {
		background: $o-im-chat-message-bg-alt;
	}
	
	.o_portrait {
		position: absolute;
		top: 3px;
		left: 3px;
	}
			
	.o_im_from { 
		color: $o-im-chat-from-color; 
		font-size: $o-im-chat-from-font-size; 
		font-weight: bold;
		@extend %o_undecorated;
		&:hover {
			color: darken($o-im-chat-from-color, 10%); 		
		}
	}
	
	div.o_im_body {
		padding: 3px 0 3px 0;
		font-size: $o-im-chat-body-font-size;
		.o_date { 
			float: right;
			color: $o-im-chat-date-color; 
			font-size: $o-im-chat-date-font-size;
		}
	}
}

.o_im_chat_form .o_error {
	margin: 2px 0;
	padding: 2px 5px;
	font-size: 75%;
}

.o_groupchat_roster {
	font-size: $o-im-groupchat-font-size;
	li {
		@include text-overflow();
		color: $o-im-groupchat-user-color;
		
		&.o_vip {
			color: $o-im-groupchat-vip-color ;
		}	
		&.o_anonymous {
			color: $o-im-groupchat-anonymous-color;
		}	
	}

}

.o_im_buddieslist {
	.o_im_buddieslist_toggler {
		.btn {
			@include text-overflow();
		}
	}
	ul {
		font-size: 	$o-im-buddies-font-size;
		ul {
			padding-left: 1em;		
		}
		a {
			color: $o-im-buddies-link-color;
			&:hover {
				color: $o-im-buddies-link-hover-color;
			}
		}
	}	
}

