.o_immunity_proof_wrapper {
	position: relative;
	width: 100%;
	max-width: 650px;
	
	border-radius: 4px;
	margin: auto;
	padding: 1em;	
	
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	
	&.validated {
		background-color: lighten($o-ip-validated-bg-color, 31%);
	}
	
	&.claimed {
		background-color: lighten($o-ip-claimed-bg-color, 45%);
	}
	
	&.none {
		background-color: lighten($o-ip-none-bg-color, 48%);	
	}
	
	p {
		font-size: 1.5em;
		font-weight: bolder;
	}
}

.o_immunity_proof_state_box {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;	
	margin-bottom: 1em;
	position: relative;
	overflow:hidden;	
}

.o_immunity_proof_status {
	width: 100%;
	height: 200px;
	
	border-radius: 4px;
	
	box-shadow: rgba(10, 37, 64, 0.35) 0px 0px 6px 0px inset;
	
	&.validated {
		color: lighten($o-ip-validated-bg-color, 33%);
		background-color: $o-ip-validated-bg-color;
		-webkit-text-stroke: 2px darken($o-ip-validated-bg-color, 31%);
	}
	
	&.claimed {
		color: lighten($o-ip-claimed-bg-color, 45%);
		background-color: $o-ip-claimed-bg-color;
		-webkit-text-stroke: 2px darken($o-ip-claimed-bg-color, 23%);
	}
	
	&.none {
		color: lighten($o-ip-none-bg-color, 48%);
		background-color: $o-ip-none-bg-color;	
		-webkit-text-stroke: 2px darken($o-ip-none-bg-color, 25%);
	}
	
	&:before {
		position: absolute;	
		top: -50%;
		left: -50%;
		width: 200%;
		height: 200%;
		content: '';
		/* adapted pattern from here: https://pattern.monster/japanese-pattern-3/ */
		background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(0.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='0.5' stroke='hsla(0, 0%, 100%, 0.41)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
		animation: o_rotate 200s infinite linear;
	}    
}
@keyframes o_rotate { 
   from { 
         transform: rotate(0deg); 
     } to { 
         transform: rotate(360deg); 
     }
}

.o_immunity_proof_small_status {
	padding: 1px 10px;
	border-radius: $border-radius-small;

	&.validated {
		color: lighten($o-ip-validated-bg-color, 33%);
		background-color: $o-ip-validated-bg-color;
	}
	
	&.claimed {
		color: lighten($o-ip-claimed-bg-color, 45%);
		background-color: $o-ip-claimed-bg-color;
	}
	
	&.none {
		color: lighten($o-ip-none-bg-color, 48%);
		background-color: $o-ip-none-bg-color;
	}
}

.o_immunity_proof_state_icon {
	font-size: 7em;
}

.o_immunity_proof_counter {
	font-weight: 900;
	font-size: 3.5em;
}

.o_immunity_proof_watermark_wrapper {
	/* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

	.o_immunity_proof_watermark:after {
		opacity: 0.15;

	    /* Text styles */
	    font-size: 15rem;
	    font-weight: bold;
	    text-transform: uppercase;
		-webkit-text-stroke: 0;
		
		content: "3G";

	    /* Disable the selection */
	    -webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
		cursor: default;
	}
}

