.o_immunity_proof_wrapper {
	position: relative;
	width: 100%;
	max-width: 650px;
	
	border-radius: 4px;
	margin: auto;
	padding: 1em;	
	
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	
	&.validated {
		background-color: lighten($o-ip-validated-bg-color, 31%);
	}
	
	&.claimed {
		background-color: lighten($o-ip-claimed-bg-color, 45%);
	}
	
	&.none {
		background-color: lighten($o-ip-none-bg-color, 48%);	
	}
	
	p {
		font-size: 1.5em;
		font-weight: bolder;
	}
}

.o_immunity_proof_state_box {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	
	margin-bottom: 1em;
}

.o_immunity_proof_status {
	width: 100%;
	height: 200px;
	
	border-radius: 4px;
	
	box-shadow: rgba(10, 37, 64, 0.35) 0px 0px 6px 0px inset;
	
	&.validated {
		color: lighten($o-ip-validated-bg-color, 33%);
		background-color: $o-ip-validated-bg-color;
		-webkit-text-stroke: 2px darken($o-ip-validated-bg-color, 31%);
	}
	
	&.claimed {
		color: lighten($o-ip-claimed-bg-color, 45%);
		background-color: $o-ip-claimed-bg-color;
		-webkit-text-stroke: 2px darken($o-ip-claimed-bg-color, 23%);
	}
	
	&.none {
		color: lighten($o-ip-none-bg-color, 48%);
		background-color: $o-ip-none-bg-color;	
		-webkit-text-stroke: 2px darken($o-ip-none-bg-color, 25%);
	}
}

.o_immunity_proof_state_icon {
	font-size: 7em;
}

.o_immunity_proof_counter {
	font-weight: 900;
	font-size: 3.5em;
}

.o_immunity_proof_watermark_wrapper {
	/* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

	.o_immunity_proof_watermark:after {
		opacity: 0.15;

	    /* Text styles */
	    font-size: 15rem;
	    font-weight: bold;
	    text-transform: uppercase;
		-webkit-text-stroke: 0;
		
		content: "3G";

	    /* Disable the selection */
	    -webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
		cursor: default;
	}
}