html {
	position: relative;
	min-height: 100%;
}
body {
	/* body not relative, content must be relative to HTML! */
	min-height: 100%;
	
	@if $o-footer-position-absolute == true {
		margin-bottom: $o-footer-height;
	}
	
}

#o_toplink {
	position: absolute;
	bottom: 10px; right: 10px;
}

#o_main_wrapper {
	background: $o-main-outer-bg;
	#o_main_container {
		max-width: $o-page-width-max;
		background: $o-main-inner-bg;
	}
}