.o_lecture_authorized_absence {
	div.form-inline {
		display: inline;
	}
}

.o_lectures_teacher_overview {
	.o_table_wrapper.o_table_flexi .table {
		margin-top: 0;
		/* make cells with fixed width as small as possible */
		thead {
			th.o_col_date,
			th.o_col_startTime,
			th.o_col_endTime,
			th.o_col_details,
			th.o_col_tools {
				width: 1%;
			}
		
		}
	}
	.o_lectures_current_wrapper {
		border: 1px solid $o-lm-current-border-color;
		background: $o-lm-current-bg;
		border-radius: $o-lm-current-border-radius;
		margin: 10px -10px 20px -10px;
		padding: 10px;	
		
		.o_button_group {
			margin-bottom: 0;
		}
	}
	.o_lectures_teacher_search .o_form .o_date {
		padding-right: 10px;
		position: relative;
	}
	
	.o_lectures_teacher_search div.o_chelp_wrapper_and_buttons {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.o_header_with_buttons .o_day_chooser {
	position: relative;
	float: right;
}

.o_lectures_rollcall {
	legend {
		margin-bottom: 10px;
	}	
	
	.o_desc, .o_note, .o_preparation {
		margin: 0;
	}
	
}

.o_rollcall_next_previous_group {
	text-align: center;
	
	a.o_sel_close {
		float:left;
		
		span {
			display: none;
		}
	}

	.form-control {
		display: inline;
		width: auto;
	}
	
	@media (max-width: $screen-xs-max) { 
		a span {
			display: none;
		}	
	}
}

.o_lecture_free {
	color: $text-muted;
}

.o_rollcall_portrait>div {
	margin: 0 auto 10px auto;
	width: 100px;
}

.o_lectures div#o_main_toolbar.o_toolbar {
	margin-top: 0px;
}

.o_sel_absence_lectures_table table>tbody>tr.o_lecture_warning,
.o_sel_absence_lectures_table table>tbody>tr.o_lecture_warning>td.o_col_sticky_left,
.o_sel_absence_lectures_table table>tbody>tr.o_lecture_warning>td.o_col_sticky_right {
	background-color: $alert-warning-bg !important;
}

.o_labeled_light {
	&.o_lecture_status_active {
		font-weight: normal;
	    background-color: #fff;
	    border-color: $o-lm-status-active-color;
	    color: $o-lm-status-active-color;
	}
	&.o_lecture_status_done {
		font-weight: normal;
	    background-color: #fff;
	    border-color: $o-lm-status-done-color;
	    color: $o-lm-status-done-color;
	}
	&.o_lecture_status_cancelled {
		font-weight: normal;
	    background-color: #fff;
	    border-color: $o-lm-status-cancelled-color;
	    color: $o-lm-status-cancelled-color;
	}
	
	&.o_lecture_rollcall_status_open,
	&.o_lecture_rollcall_status_reopen {
		font-weight: normal;
	    background-color: #fff;
	    border-color: $o-lm-status-active-color;
	    color: $o-lm-status-active-color;
	}
	
	&.o_lecture_rollcall_status_closed,
	&.o_lecture_rollcall_status_autoclosed {
		font-weight: normal;
	    background-color: #fff;
	    border-color: $o-lm-status-done-color;
	    color: $o-lm-status-done-color;
	}
}

.o_button_group>.o_lecture_badge {
	display: inline-block;
	margin-right: 7px;
}

.o_lecture_status_badge {
	float: right;
	display: inline-block;
	padding: 1px 25px;
	border-radius: $border-radius-small;
	
	&.o_lecture_status_active {
	    background-color: 	$o-lm-status-active-color;
	    color: 				#fff;
	}

	&.o_lecture_status_done {
		background-color: 	$o-lm-status-done-color;
	    color: 				#fff;
	}
	
	&.o_lecture_status_cancelled {
	    background-color: $o-lm-status-cancelled-color;
		color: 				#fff;
	}
	
	&.o_lecture_rollcall_status_open,
	&.o_lecture_rollcall_status_reopen {
	    background-color: 	$o-lm-status-active-color;
	    color: 				#fff;
	}
	
	&.o_lecture_rollcall_status_closed,
	&.o_lecture_rollcall_status_autoclosed {
		background-color: 	$o-lm-status-done-color;
	    color: 				#fff;
	}
}

.o_lecture_card {
	.o_card_title > small {
		display: block;
	}
	
	.o_card_meta {
		padding: 10px;
	}
	
	.o_visual_not_available {
		height: 172px;
		background-image:url('#{$o-images-path}no_preview.png');
		background-repeat:no-repeat;
		background-position:50% 50%;	
		background-size: contain;
	}
}

.o_lecture_courses_and_teachers {
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 20px;

	.o_user_info_profile {
		background-color: #fff;
	}
}

.o_lecture_metadata_horizontal {
	display: flex;
	column-gap: 45px;
}

.o_lecture_excluded {
	color: $o-lm-excluded-color;
}

.o_curriculum_lectures_statistics {
	.table {
		width: auto;
		
		.o_progress_statistics {
			display: inline-block;
			min-width: 300px;
		}
	}
	ul {
		padding-left: 1em; 
	}

	ul li {
		display: inline-block;
		padding-right: 2em; 
	}
}
	
