.o_library_icon:before { content: $fa-var-university; }

.o_library {
	ul {
		list-style: none;
		margin: 0 0 15px 0;
		padding: 0;
	}
	
	ul ul {
		margin: 0;
	}
}

.o_library_overview .o_library_newest_files ul li {
	float:left;
	margin-right: 15px;
}

.o_library_catalog_title h2, .o_library_catalog_title h3, .o_library_catalog_title h4 {
	margin-top: 0;
}


$thumbnail-size: 150px;
$extra-size: 200px;

.o_library_item {
	margin-bottom: 10px;
	position: relative;

	.o_library_visual, .o_library_extra, .o_library_meta {
		margin-top: 15px;
	}

	.o_library_visual {
		float: left;
		background-color: #fff;
		border-radius: $thumbnail-border-radius;
		border: 1px solid $thumbnail-border;

		.o_thumbnail_available, .o_thumbnail_unavailable {
			background-size: ($thumbnail-size - $thumbnail-padding) auto;
			width: $thumbnail-size !important;
			height: $thumbnail-size !important;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			&:before {
				//override file type icons
				content: none;
			}
		}

		.o_thumbnail_available {
			background-size: ($thumbnail-size - $thumbnail-padding) auto;
		}

		.o_thumbnail_unavailable {
			display: none;
		}
	}

	.o_library_extra {
		float: right;
		width: $extra-size;
	}

	.o_library_meta {
		clear: both;

		.o_library_desc {
			padding-bottom: 10px;
		}

		 small {
		 	display: block;
			word-wrap: break-word;
		}
	}

	h4 {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: normal;
	}

	.btn {
		display: block;
		margin-bottom: 0.5em;
	}

	.o_comments {
		display: inline-block;
	}
	
	.table {
		table-layout: fixed;
		word-wrap: break-word;
		margin-bottom: 0;
	}
	
	p.o_library_show_more {
		text-align: right;
		margin: 0;
		padding-top: 20px;
	}
	
	.o_library_more {
		padding-top: 20px;
		display: none;
	}
}

.o_library_folder {
	margin-top: -20px;
}

.o_library .o_ratings_and_comments {
	.o_rating_title, .o_rating_explanation {
		display: none;
	}
}

@media (min-width: $screen-sm-min) {
	.o_library_item {
		.o_library_meta {
			clear: none;
			margin-left: $thumbnail-size;
			margin-right: $extra-size;
			padding: 0 10px;
		}
	
		.o_library_more {
			display: none;

			//two-column table
			table {
				tbody { vertical-align: top; }
				tr, th, td { display: inline-block; }
				tr { width: 49%; }
				th { width: 30%; }
				td { width: 70%; }
			}
		}
	}
}



/* compact view without thumbnail */
.o_library_item_compact {
	.o_library_extra {
		width: auto;
	}
	.o_library_meta {
		padding: 0 10px 0 0;
		margin: 0;
		overflow: hidden;
	}
	.btn {
		display: inline-block;
	}
	h4 {
		overflow: hidden;
		margin-right: 70px; //space for 'more' button
		a {
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	p.o_library_show_more {
		padding: 20px;
		position: absolute;
		top: 0;
		right: 0;
	}
}

