
#o_main_wrapper {
	background: $o-main-outer-bg;
	position: relative;
	z-index: 3;

	#o_main_container {
		background: $o-main-inner-bg;
		
		/* keep space for #o_toplink */
		padding-bottom: $line-height-computed * 2;
		
		#o_main_left {
			float: left;
			z-index: 2;
			position: relative;
			background: $o-main-left-bg;
			
			#o_main_left_content {
				padding: 0 0 0 floor($grid-gutter-width / 2);
				/* no hight - used to calcualte inner content height in OPOL.adjustHeight() function */
			}			

			#o_main_left_toggle {
				position: absolute; 
				display: none;
				right: 0; 
				top: 70px; 
				margin-right: -30px; 
				font-size: 25px;
				line-height: 35px;
				text-align: center;
				width: 30px;
				height: 35px;
				z-index: 3;
				border: 1px solid $o-tree-border-color;
				border-left: none;
				@include border-right-radius($o-tree-border-radius);
				background-color: #fbfbfb;
				@include box-shadow(2px 0px 4px 1px rgba(0,0,0,.15));
				color: $brand-primary;
			}
			
			&.o_offcanvas {
				background: #fbfbfb;
				@include box-shadow(0px 0px 6px 1px rgba(0,0,0,.20));
				min-width: 250px;
				
				#o_main_left_content { 
					padding: 0 0 0 0;
				}
			}
		}
		#o_main_right {
			float: right;
			z-index: 2;
			position: relative;
			background: $o-main-right-bg;

			#o_main_right_content {
				padding: 0 floor($grid-gutter-width / 2) 0 0;
				/* no hight - used to calcualte inner content height in OPOL.adjustHeight() function */
			}
		}
		#o_main_center {
			position: relative;
			z-index: 1;
			background: $o-main-center-bg;
			
			h2:first-child {
				margin-top: 0;
			}

			@media screen and (max-width: 767px) {
				margin-left: 0 !important;
			}
			
			#o_main_center_content {
				padding: 0 floor($grid-gutter-width / 2);
				/* no hight - used to calculate inner content height in OPOL.adjustHeight() function */
				
				#o_main_center_content_inner {
					/* space to top link */
					padding-bottom: floor($grid-gutter-width / 2);
				}
			}
		}		
	}
	
	#o_toplink {
		position: absolute;
		bottom: 0; 
		right: floor($grid-gutter-width / 2);
		text-align: center;
		z-index: 3;
		@extend %o_undecorated;
	}

	@media (max-width: $screen-xs-max) { 
		#o_main_container {
			#o_main_center {
				#o_main_center_content {
					padding: floor($grid-gutter-width / 2);
				}
			}
		}
	}


} 


/* special wrapper classes for preview and back main containers */
#o_back_wrapper,
#o_preview_wrapper {
	margin-top: 10px;
	&.o_toolbar .o_breadcrumb .breadcrumb {
		font-size: $font-size-base;
	}
}

/* special wrapper for MessageWindowController */
body.o_message #o_main_center_content_inner {
	min-height: 150px; 
	max-width: 500px;
	padding: 15px;
	margin:60px auto;
}

