.o_members_pagination {
	text-align:center;
}

.o_bcard_logo {
	position: absolute;
	top:19px;
	right:29px;
}

.o_bcard_title_with_logo {
	padding-right: 86px;
}

.o_visitingcard_image.o_block {
	position: relative;
}

.o_visitingcard_content .o_visitingcard_logo {
	position: absolute;
	top: 0px;
	right: 0px;
}

/* hide visiting card logo, no icon found yet */
.o_visitingcard .o_icon_visitingcard {
	display: none;
}

.o_visitingcard .o_portrait_avatar,
.o_visitingcard .o_portrait_dummy,
.o_visitingcard .o_portrait_dummy_female_big,
.o_visitingcard .o_portrait_dummy_male_big,
.o_visitingcard .o_portrait_anonymous { width: 66px; height: 66px; margin-right: 10px;}

.o_visitingcard_logo img { max-width:400px; max-height: 66px; margin-right: 10px;}

@media (max-width: $screen-xs-max) { 
	.o_visitingcard .o_portrait_avatar,
	.o_visitingcard .o_portrait_dummy,
	.o_visitingcard .o_portrait_dummy_female_big,
	.o_visitingcard .o_portrait_dummy_male_big,
	.o_visitingcard .o_portrait_anonymous { width: 50px; height: 50px; margin: 5px 5px 0 0;}
	
	.o_visitingcard_logo img { max-width:300px; max-height: 50px; margin: 5px 5px 0 0;}
	
	.o_bcard_title_with_logo {
		padding-right: 70px;
	}
}

/* iphone 6 */
@media (max-width: 414px) { 
	.o_visitingcard_logo img { max-width:260px; }
}	
/* iphone 6 */
@media (max-width: 375px) { 
	.o_visitingcard_logo img { max-width:220px; }
}	
/* iphone 4/5 */
@media (max-width: 320px) { 
	.o_visitingcard_logo img { max-width:180px; }
}	
