.o_members_pagination {
	text-align:center;
}

.o_bcard_logo {
	position: absolute;
	top:19px;
	right:19px;
}

.o_bcard_title_with_logo {
	padding-right: 86px;
}

.o_visitingcard .o_portrait_avatar,
.o_visitingcard .o_portrait_logo,
.o_visitingcard .o_portrait_dummy,
.o_visitingcard .o_portrait_dummy_female_big,
.o_visitingcard .o_portrait_dummy_male_big,
.o_visitingcard .o_portrait_anonymous { width: 66px; height: 66px; margin-right: 10px;}

@media (max-width: $screen-xs-max) { 
	.o_visitingcard .o_portrait_avatar,
	.o_visitingcard .o_portrait_logo,
	.o_visitingcard .o_portrait_dummy,
	.o_visitingcard .o_portrait_dummy_female_big,
	.o_visitingcard .o_portrait_dummy_male_big,
	.o_visitingcard .o_portrait_anonymous { width: 50px; height: 50px; margin: 5px 5px 0 0;}
	
	.o_bcard_title_with_logo {
		padding-right: 70px;
	}
}