
@mixin o-make-message-box($bgcolor, $titlecolor){
	margin: $o-box-margin 0;
	padding: $o-box-padding;
	border-left: $o-box-border-left-size solid $titlecolor;
	background-color: $bgcolor;
	h2, h3, h4, h5 { color: $titlecolor;}
}


/* redundant style from font-awesome to support sass extend mechansism */
@mixin o-make-icon() {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin o-make-glossy-bg($basecolor) {
	background: $basecolor;
	background: -moz-linear-gradient(top, lighten($basecolor,40%) 0%,lighten($basecolor,10%) 50%,$basecolor 51%,lighten($basecolor,20%) 100%);
	background: -webkit-linear-gradient(top, lighten($basecolor,40%) 0%,lighten($basecolor,10%) 50%,$basecolor 51%,lighten($basecolor,20%) 100%);
	background: linear-gradient(top, lighten($basecolor,40%) 0%,lighten($basecolor,10%) 50%,$basecolor 51%,lighten($basecolor,20%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$basecolor', endColorstr='lighten($basecolor,20%)',GradientType=0 );
}

@mixin o-high-contrast-color($color) {
	@if color.blackness($color) < 30 {
		color: darken($color , 20%);
	} @else {
		color: $color;
	} 
}