
body {
	overflow-x: hidden;
}

/* containers that are either overlayed or moved away */
.o_container_offcanvas {
	position: relative;
	max-width: $o-page-width-max;
}

/* Button to enable / disable the max-width of the page */
#o_container_page_width_toggler {
	position: absolute;
	/* position in middle of top nav: half of top nav height down and half of button height up again */
	top: 25px;
	margin-top: ($line-height-small * -0.5em); 
	right: 10px;
	z-index: 7;
	display: none;
}
@media (min-width: $o-page-width-max + 40px ) { 
	#o_container_page_width_toggler {
		display: block;		
		#o_go_standard_width {
			display: none;
		}
		#o_go_full_width {
			display: block;
		}
	}
	body.o_width_full {		
		.o_container_offcanvas {
			max-width: 100%;
			margin-left: 20px;
			margin-right: 20px;
		}
		#o_container_page_width_toggler {
			#o_go_standard_width {
				display: block;
			}
			#o_go_full_width {
				display: none;
			}
		}
	}
}
body.o_dmz #o_container_page_width_toggler {
	display: none !important;
}

/* 	
	Offcanvas is an absolute container positioned box outside the viewport. 
	In closed state the element is hidden. To make the offcanvas appear
	translations are performed using JavaScript. See navbar.js 
   	Navbar.showRight(), Navbar.hideRight() and Navbar.toggleRight() 
*/
#o_offcanvas_right {
	position: absolute;
	top: 0;
	right: -$o-offcanvas-width;
	width: $o-offcanvas-width;

	padding	: $o-offcanvas-padding-horizontal $o-offcanvas-padding-vertical;
	background-color: $o-offcanvas-bg;
	color: $o-offcanvas-link-color;
  	border: 1px solid $o-offcanvas-border;
	@include box-shadow(0px 0px 4px 3px rgba(0,0,0,.25));
  	
	// Prevent floats from breaking the navbar
 	@include clearfix();
	
	min-height: 100%;
	z-index: 10;
	display: none;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
	.row-offcanvas {
 		position: relative;
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}

	.row-offcanvas-right {
  		right: 0;
    	.sidebar-offcanvas {
   			right: -50%; /* 6 columns */
  		}
  		&.active	{
    		right: 50%; /* 6 columns */
	  	}
	}

	.row-offcanvas-left {
		left: 0;
		.sidebar-offcanvas {
			left: -50%; /* 6 columns */
		}
		&.active {
    		left: 50%; /* 6 columns */
  		}
	}

	.sidebar-offcanvas {
    	position: absolute;
    	top: 0;
    	width: 50%; /* 6 columns */
  	}
}
