
.o_page_content_editor {
	.o_toolbar  	{
		border:none;
	}
	padding-bottom: 2em;
}
.o_page_content_editor .o_page_part,
.gu-mirror {
	border: $o-panel-placeholder-border-width solid transparent;
	&:hover {
		border: $o-panel-placeholder-border-width dotted $o-portfolio-editor-border-color;    
	}
	/* visually compensate for border 
	margin-left: -$o-panel-placeholder-border-width;
	margin-right: -$o-panel-placeholder-border-width;
	*/
}

.o_page_fragment_edit  {
	position: relative;
	display: grid;
	
	.o_page_tools_above {
		height: $o-portfolio-editor-border-width;
		width: 100%;
		background: $o-portfolio-editor-border-color;
		position: absolute;
		z-index: 3;
		left: 0;
		top: -$o-portfolio-editor-border-width;
		box-shadow: 3px -8px 10px 0px rgba(0, 0, 0, 0.2);
	
		.o_page_add_above {
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 26px;
			top: -$o-portfolio-editor-border-width + 6;
			height: $o-portfolio-editor-border-width - 6;
			background-color: $o-portfolio-editor-border-color;
			border-radius: $o-panel-placeholder-border-radius $o-panel-placeholder-border-radius 0 0;
			
			.o_icon {
				color: #fff;
				background-color: $o-portfolio-editor-border-color;
			}
		}
		.o_sel_add_element_above {
			display: inline-block;
			padding: 3px 5px 0 7px;
		}
		
		.o_page_others_above {
			padding-right: $o-portfolio-editor-border-width;
			line-height: $o-portfolio-editor-border-width;
			vertical-align: middle;
			.o_page_type {
				display: none;
			}
			a {
				float: right;
				color: #fff;
				padding-right: 1em;
				&:hover {
					color: darken(#fff, 10%);	
				}				
			}
			a.o_ce_rule {
				float: left;
				padding-left: 1em;
			}
		}		
	}
	
	.o_page_tools {
		position: absolute;
		z-index: 4;
		top: 0;
		right: 0;
		width: $o-portfolio-editor-border-width;
		height: 100%;
		background: $o-portfolio-editor-border-color;
	}
	
	.o_page_tools_dd {
		/* d&d handle: dotted surface */
		&:before {
			content: ' ';
			width: $o-portfolio-editor-border-width;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			border: 3px $o-portfolio-editor-border-color solid;
			border-bottom: ($o-portfolio-editor-border-width + 3px) $o-portfolio-editor-border-color solid;
			
			background-image: -webkit-repeating-radial-gradient(center center, rgb(255,255,255), rgb(255,255,255) 1px, transparent 1px, transparent 100%);
			background-image: -moz-repeating-radial-gradient(center center, rgb(255,255,255), rgb(255,255,255) 1px, transparent 1px, transparent 100%);
			background-image: -ms-repeating-radial-gradient(center center, rgb(255,255,255), rgb(255,255,255) 1px, transparent 1px, transparent 100%);
			background-image: repeating-radial-gradient(center center, rgb(255,255,255), rgb(255,255,255) 1px, transparent 1px, transparent 100%);
			-webkit-background-size: 3px 3px;
			-moz-background-size: 3px 3px;
			background-size: 3px 3px;
			
			@extend %o_dragable;
		}
		
		a {				
			position: absolute;
			display: inline-block;
			width: $o-portfolio-editor-border-width;
			height: $o-portfolio-editor-border-width;
			line-height: $o-portfolio-editor-border-width;
			text-align: center;
			vertical-align: middle;
			background: $o-portfolio-editor-border-color;

			color: #fff;
			&:hover {
				color: darken(#fff, 10%);	
			}
			
			&.o_disabled {
				color: rgba(255,255,255,0.5) !important;
				&:hover {
					color: rgba(255,255,255,0.5) !important;	
				}
			}
							
			&.o_sel_move_up_element {
				z-index: 4;
				top: -$o-portfolio-editor-border-width;			
			}
			&.o_sel_move_down_element {
				bottom: 0;
			}
		}
	}

	.o_page_part.o_page_edit {
		padding-right: $o-portfolio-editor-border-width - $o-panel-placeholder-border-width; /* space for d&d handel */
		border: $o-panel-placeholder-border-width solid $o-portfolio-editor-border-color;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
		background-color: white;
		&:hover {
			border: $o-panel-placeholder-border-width solid $o-portfolio-editor-border-color;
		}
		.o_page_edit_toolbar {
			position: absolute;
			z-index: 5;
			left: 5px;
			top: -$o-portfolio-editor-border-width;
			display: inline-block;
			height: $o-portfolio-editor-border-width;
			line-height: $o-portfolio-editor-border-width;
			vertical-align: middle;
			a {				
				color: #fff;
				&:hover {
					color: darken(#fff, 10%);	
				}				
				&.o_disabled {
					color: rgba(255,255,255,0.5) !important;
					&:hover {
						color: rgba(255,255,255,0.5) !important;	
					}
				}
			}
		}
		
		.o_page_edit_title .o_page_edit_toolbar li {
			font-weight: bold;
		}
		
		.o_richtext_mce textarea {
			border: 0;
		}
		
	}
	
	.o_page_add_below {
		position: absolute;
		z-index: 3;
		
		position: absolute;
		z-index: 3;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 26px;
		bottom: -$o-portfolio-editor-border-width + 5;
		height: $o-portfolio-editor-border-width - 3;
		background-color: $o-portfolio-editor-border-color;
		border-radius: 0 0 $o-panel-placeholder-border-radius $o-panel-placeholder-border-radius;
			
		.o_icon {
			color: #fff;
			background-color: $o-portfolio-editor-border-color;
		}

		.o_sel_add_element_below {
			display: inline-block;
			padding: 0 5px 5px 5px;
			margin: 0px 0px 0px 2px;
		}
	}
	
	/* hide overlapping menu items when in drag&drop mode for better drop zone visibility */
	&.gu-mirror,
	&.gu-transit {
		.o_page_add_below,
		.o_page_add_above {
			display: none;
		}
	}
}

.o_page_container_slot.col-md-3, .o_page_container_slot.col-md-4 {
	.o_page_others_above a span {
		display: none;
	}
	
	.o_page_edit_toolbar ul>li {
		padding-right: 0;
	}
}

div.o_page_content_editor .gu-mirror, .o_page_content_editor .gu-transit {
	box-shadow: none;
}

.o_page_container {
	box-sizing: border-box;
	padding: 10px;
}

.o_page_container {
	background-color: $o-editor-container-level-1-bg-color;
}

.o_page_container .o_page_container  {
	background-color: $o-editor-container-level-2-bg-color;
}

.o_page_container .o_page_container .o_page_container  {
	background-color: $o-editor-container-level-3-bg-color;
}

.o_page_container_slot {
	box-sizing: border-box;
	margin: 0 -1px -1px 0;
	padding: 10px;
}
.o_page_container {
	.o_page_container_slot {
		border: $o-panel-placeholder-border-width dotted $o-editor-container-border-color;
	}
	&:hover .o_page_container_slot {
		/* bug in web-kit: does not work when draging from outside */
		border: $o-panel-placeholder-border-width dotted $o-editor-hover-border-color;    
	}
	&:hover .o_hover_text {
		visibility:visible;
	}
	.o_hover_text_wrapper {
		visibility:hidden;
		position: relative;
		.o_hover_text {
			position: absolute;
			top: -10px;
			left: -10px;
			color: $o-portfolio-editor-border-color;
			// background-color: Window; // Does not work in Safari
			background-color: white;
			border-bottom: $o-panel-placeholder-border-width dotted $o-portfolio-editor-border-color;
			div {
				display: inline-block;
				padding: 1px 5px;
				border-right: $o-panel-placeholder-border-width dotted $o-portfolio-editor-border-color;
			}
		}
	}
}
.o_page_add_in_container_grp {
	margin-bottom: 0;
}

/* d&d styles */


.o_page_part.o_page_part_view, .o_page_fragment_edit {
	touch-action: none;
	user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.o_page_drop {
	@extend %o_dragable;
}

.o_page_part.oo-accepted,
.o_page_part.oo-accepted-top,
.o_page_content_editor.o_page_drop.oo-accepted,
.o_page_content_editor.o_page_drop.oo-accepted-top  {
	border: $o-panel-placeholder-border-width dotted $o-editor-drag-accepted-color;
}

.o_page_part.o_page_drop.oo-accepted:after,
.o_page_container_slot.o_page_drop.oo-accepted .o_page_container_slot-inner:after,
.o_page_content_editor.o_page_drop.oo-accepted:after {
	display: block;
	height: 25px;
	margin: 10px;
	border: 2px dotted $o-editor-drop-border-color;
	border-radius: 5px;
	content: '';
}

.o_page_part.o_page_drop.oo-accepted-top:before,
.o_page_container_slot.o_page_drop.oo-accepted-top .o_page_container_slot-inner:before,
.o_page_content_editor.o_page_drop.oo-accepted-top:before {
	display: block;
	height: 25px;
	margin: 10px 10px 10px 10px;
	border: 2px dotted $o-editor-drop-border-color;
	border-radius: 5px;
	content: '';
}

.oo-dragging {
	z-index: 4;
}

.o_page_part.oo-dragging, .o_page_fragment_edit.oo-dragging .o_page_part {
	opacity: 0.6;
	background-color: rgba(255, 255, 255, 0.6);
	border: $o-panel-placeholder-border-width dotted $o-editor-drag-accepted-color;
	box-shadow: 0px 0px 20px #aaa;
}

.gu-transit {
	border: $o-panel-placeholder-border-width dotted $o-editor-drag-accepted-color;    	
 	opacity: 0.4;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  	filter: alpha(opacity=40);
}
.gu-mirror {
	@extend %o_draging;
	border: $o-panel-placeholder-border-width dotted $o-portfolio-editor-border-color;    	
  	opacity: 0.8;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  	filter: alpha(opacity=80);
}

.o_page_add_callout {
	a span {
		display: none;
	}
	ul.list-inline {
		margin-bottom: 0;
	}
}

.o_page_table_edition {
	.o_table_title, .o_table_caption {
		padding: 5px;
	}
}


/* Editor elements with side options on right side */
.o_page_with_side_options_wrapper {
	display: flex;
	align-items: stretch;
	flex-direction: row;
}
.o_page_side_options_target {
	background-color: $o-editor-settings-bg;
	flex-grow: 4;
}
.o_page_side_options {
	flex-grow: 0;
	background-color: $o-portfolio-editor-border-color;
	border-left: 1px solid darken($o-editor-settings-bg, 25%);
	border-bottom: 1px solid darken($o-editor-settings-bg, 25%);
	padding: 5px;
	z-index: 2;
}
@media (max-width: $screen-xs-max) {
	.o_page_with_side_options_wrapper {
		flex-direction: column-reverse;
	}
}

/* Image */
.o_page_content, .o_page_content_editor {

	.o_image, .o_video {
		width: 100%;
		img {
			border: 1px $o-portfolio-media-content-background-color solid;
			border-radius: $o-panel-placeholder-border-radius;
		}
		
		.o_artefact_metadata {
			text-align: left;
		}
	
		/* image alignment */
		&.o_image_align_left {
			@extend %o_block_large;
			float: left;
			&+.o_image_clear {
				clear: both;
			}			
		}
		&.o_image_align_right {
			@extend %o_block_large;
			float: right;
			&+.o_image_clear {
				clear: both;
			}			
		}
		&.o_image_align_middle {
			@extend %o_block_large;
			clear:both;
			margin-left: 50%;
			text-align: center;
			transform: translate(-50%, 0%);
		}
		&.o_image_align_leftfloat {
			float: left;
			padding-right: $o-portfolio-media-content-space;
			padding-bottom: $o-portfolio-media-content-space;
		}
		&.o_image_align_rightfloat {
			float: right;
			padding-left: $o-portfolio-media-content-space;
			padding-bottom: $o-portfolio-media-content-space;
		}
	
		/* image size */
		&.o_image_size_style_none {
		
		}		
		&.o_image_size_style_small {
			width: 25%;
			img {
				width: 100%;
			}		
		}
		&.o_image_size_style_medium {
			width: 40%;
			img {
				width: 100%;
			}
		}
		&.o_image_size_style_large {
			width: 60%;
			img {
				width: 100%;
			}
		}
		&.o_image_size_style_fill {
			@extend %o_block_large;
			width: 100%;
			float: none !important;
			display: block;
			.o_figure_caption_bottom {
				display: block;
			}
			img {
				width: 100%;
				display: block;
			}
		}
		
		/* Image styles */
		img.o_image_classic {
			/* not styled */
			padding: 0;
			border: 0;
			border-radius: 0;
		}
		img.o_image_border {
			padding: 3px;
			border: solid 1px #CCC;
		}
		img.o_image_shadow {
			padding: 0;
			border: 0;
		    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		img.o_image_frame {
			/* see https://designshack.net/articles/css/4-fun-css-image-effects-you-can-copy-and-paste/ */
			padding: 0;
			border: 0;
			border-radius: 0;
		    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 0px 10px #f6f3f8, 0px 0px 0px 14px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 0px 10px #f6f3f8, 0px 0px 0px 14px rgba(0,0,0,0.2);
	    	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 0px 10px #f6f3f8, 0px 0px 0px 14px rgba(0,0,0,0.2);
	    	margin: 15px;
		}
		img.o_image_polaroid {
			padding: 0;
			border-radius: 0;
			border: 1px solid #dcdcdc;
			background: #fff;
			padding: 10px 10px 45px 10px;
		  	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	     	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	      	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
		}
		
		img.o_image_round {
			padding: 3px;
			border: solid 1px #CCC;
			border-radius: 50%;
		}
		
		.o_image_title_dark {
			color: $o-editor-title-dark;
		}
		.o_image_title_bright {
			color: $o-editor-title-bright;
		}
		
		.o_image_title {
			position: relative;
			
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				position: absolute;
				left: 50%;
				margin-right: -50%;
				transform: translate(-50%, -50%);			
			}		
			
			.o_image_title_top {
				top: 10%;
			}
			.o_image_title_centered {
				top: 50%;
			}			
			.o_image_title_bottom {
				bottom: 10%;
			}
		}
	
		&.o_image_size_style_none {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 24px;			
			}		
		}		
		&.o_image_size_style_small {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 18px;			
			}
		}
		&.o_image_size_style_medium {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 32px;			
			}
		}
		&.o_image_size_style_large {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 40px;			
			}
		}
		&.o_image_size_style_fill {
			.o_image_title_top,
			.o_image_title_centered,
			.o_image_title_bottom {
				font-size: 56px;			
			}		
		}
	}
}
	
.o_page_add_contents {
	clear: both;
	margin-top: 30px;
}

.o_ce_html_raw, .o_ce_html_paragraph {
	&.o_html_col2 {
		column-count: 2;
		column-gap: 1em;
	}
	&.o_html_col3 {
		column-count: 3;
		column-gap: 1em;
	}
	&.o_html_col4 {
		column-count: 4;
		column-gap: 1em;
	}
}

table.o_ce_table {
	caption {
		caption-side: bottom;
	}
}

.o_ce_add_main_btns {
	margin-top: 0;
}

.o_ce_add {
	border: none;
	margin-bottom: 0px;
	
	.o_ce_tools {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	
		.o_ce_tool {
			padding: 0px;
			margin: 0px;
			width: 33%;
			
			a {
				padding: 6px 3px;
				margin: 0px;
				display: block;
				width: 100%;
				height: 100%;
				
				&:hover {
					padding: 5px 2px;
					border: 1px solid $o-toolbar-border-color;
					border-radius: 4px;
				}
			}
		}
	}
}

.o_ce_add_list {
	.o_ce_add_list_item {
		border-style: none;
		padding: 0px;
		margin: 0px -15px;
		
		a {
			padding: 5px 25px;
			margin: 0px;
			display: block;
			width: 100%;
			height: 100%;
			
			&:hover {
				text-decoration: none;
				background-color: $dropdown-link-hover-bg;
			}
		}
	}
}


