
.o_portfolio {
	div#o_main_toolbar.o_toolbar {
		margin-top: 0px;
	}	
}


.o_section_lead, .o_page_lead, .o_assignment_lead {
	padding: $o-portfolio-lead-space-sm $o-portfolio-lead-space-sm;
	margin-bottom: $o-portfolio-lead-space-sm;
	background-color: $o-portfolio-lead-background-color;
	border-radius: $o-portfolio-lead-border-radius;
	border: 1px $o-portfolio-lead-border-color solid;
}

.o_page_lead {
	padding: $o-portfolio-lead-space-sm * 2;
	
	.o_page_summary {
		font-size: $o-portfolio-page-summary-font-size;
		
	}
	
	.o_media {
		&.o_media_right,
		&.o_media_right_large {
			float: right;
			margin-left: 2em;
			margin-bottom: 2em;
		}
		&.o_media_left,
		&.o_media_left_large {
			float: left;
			margin-right: 2em;
			margin-bottom: 2em;
		}
		&.o_media_left,
		&.o_media_right {
			max-height: 200px;
			max-width: 50%;
			img {
				max-height: 200px;
			}		
		}
		&.o_media_right_large,
		&.o_media_left_large {
			max-height: 300px;
			max-width: 75%;
			img {
				max-height: 300px;
			}		
		}

		&.o_desc_empty {
			/* when no content is there, show larger image and centered */
			max-height: 300px;
			text-align: center;
			img {
				max-height: 300px;
			}		
		}
		
		img {
			border-radius: $o-portfolio-lead-border-radius;
			border: 1px $o-portfolio-lead-border-color solid;
			background: #fff;
		}		
	}
	
	.o_portfolio_status_block {
		border-top: 1px solid $o-portfolio-lead-border-color;
		padding-top: 1em;
		margin-bottom: -1em; /* push at bottom of lead block */
	}
	.o_portfolio_status {
		display: inline-block;
		padding-right: 2em;
	}
	
	/* inline image formatting */
	&.o_block_imagebg {
		.o_portfolio_status {
			padding: 2px;
			background-color: $o-imagebg-text-background;
		}
	}
}

.o_page_assignment{
	font-size: $o-portfolio-assignment-font-size;
	&.o_togglebox_wrapper div.o_togglebox_content {
	    margin: 10px 0 20px 0;
	    padding: 20px;
	    border-left: 3px solid $o-portfolio-assignment-color;
	    background-color: $o-portfolio-assignment-background-color;
	}       
	.o_page_assignement_info {
		position: relative;
	    left: -1em;
	}
}

.o_portfolio_listing.o_rendertype_custom {
	
	.o_table_body.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.o_portfolio_entry {
		position: relative;
		display: inline-block;
		height: 230px;			
		width: 400px;
		vertical-align: top;
		margin-right: 10px;
		
		ul {
			padding-left: 2em;
		}
	}	
	
	.panel-imagebg .panel-body ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			padding: 2px;
		}
	}
}

/* binder with assignments (binders created from course element */
.o_binder.o_portfolio_assignments {
	.panel-heading,
	.panel-body {
		border-left: 3px solid $o-portfolio-assignment-color;
	}
}
/* an assignment in template edit mode*/ 
.panel-default.o_portfolio_assignments {
	.panel-heading,
	.panel-body {
		border-left: 3px solid $o-portfolio-assignment-color;
	}
}
/* an assignment entry */
.o_portfolio_page .o_portfolio_assignments .o_portfolio_page_body {
		border-left: 3px solid $o-portfolio-assignment-color;
		.o_portfolio_page_meta_wrapper,
		.o_portfolio_page_summary {
			padding-left: 10px;
		}
}

.o_portfolio_page_summary {
	.o_media {
		&.o_media_right,
		&.o_media_right_large {
			float: right;
			margin-left: 0.5em;
			margin-bottom: 0.5em;
		}
		&.o_media_left,
		&.o_media_left_large {
			float: left;
			margin-right: 0.5em;
			margin-bottom: 0.5em;
		}
	}
}

.o_rendertype_classic {
	.o_pf_page, .o_pf_assignment {
		padding-left: 1em;
	}
}

.o_portfolio_timeline {
	.o_timeline_up {
		text-align: center;
	}
	
	.o_timeline_down {
		text-align: center;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	.x.axis line, .x.axis path {
		display:none;
	}
	
	path.o_timeline_curve {
		fill: none;
		stroke: #ccc;
		shape-rendering: crispEdges;
	}
	
	.y.axis .tick line, .y.axis path.domain {
		stroke: #ddd;
	}

	text {
		fill: #888; 
		stroke: none; 
		font-size: 10px;
	}
	.dot.o_pf_status_draft {
		fill: $o-portfolio-entry-draft-color;
	}
	.dot.o_pf_status_published {
		fill: $o-portfolio-entry-published-color;
	}
	.dot.o_pf_status_inrevision {
		fill: $o-portfolio-entry-inrevision-color;
	}
	.dot.o_pf_status_closed {
		fill: $o-portfolio-entry-closed-color;
	}
	.dot.o_pf_status_deleted {
		fill: $o-portfolio-entry-deleted-color;
	}
}
/* helper to position context help button next to timeline */
.o_portfolio_title_help_helper {
	display: inline-block; 
	float: right; 
	position: relative; 
	top: 1em;
	right: 1em;
}

.o_pf_comments {
	margin-top: 2em;
}

.o_pf_content {

	.o_cit, .o_file,  {
		@extend %o_block;
		background-color: $o-portfolio-media-content-background-color;
		padding: $o-portfolio-media-content-space;
		border-radius: $o-panel-placeholder-border-radius;
	}
	
	.o_forum {
		@extend %o_block;
		border: 1px $o-portfolio-media-content-background-color solid;
		padding: $o-portfolio-media-content-space;
		border-radius: $o-panel-placeholder-border-radius;
	}
	
	.o_image, .o_video {
		@extend %o_block;
		padding: $o-portfolio-media-content-space;
		text-align: center;
		width: 100%;
		img {
			border: 1px $o-portfolio-media-content-background-color solid;
			border-radius: $o-panel-placeholder-border-radius;
		}
	}
}

.o_pf_content_editor {
	.o_toolbar {
		border:none;
	}
	
	.o_page_part {
		border: $o-panel-placeholder-border-width solid transparent;
		&:hover {
			border: $o-panel-placeholder-border-width dotted $o-portfolio-editor-border-color;
		}
		/* visually compensate for border 
		margin-left: -$o-panel-placeholder-border-width;
		margin-right: -$o-panel-placeholder-border-width;
		*/
	}
	
	.o_page_fragment_edit  {
		position: relative;
		
		.o_page_tools_above {
			height: $o-portfolio-editor-border-width;
			width: 100%;
			background: $o-portfolio-editor-border-color;
			position: absolute;
			z-index: 1;
			left: 0;
			top: -$o-portfolio-editor-border-width;
			box-shadow: 3px -8px 10px 0px rgba(0, 0, 0, 0.2);
		
			.o_page_add_above {
				position: absolute;
				left: 0;
				top: -$o-portfolio-editor-border-width;		
				height: $o-portfolio-editor-border-width;
				border-left: $o-panel-placeholder-border-width dashed $o-portfolio-editor-border-color;
				border-top: $o-panel-placeholder-border-width dashed $o-portfolio-editor-border-color;
				border-right: $o-panel-placeholder-border-width dashed $o-portfolio-editor-border-color;
				border-radius: $o-panel-placeholder-border-radius $o-panel-placeholder-border-radius 0 0;
				box-shadow: 0 -5px 10px 0px rgba(0, 0, 0, 0.2);
				background: #fff;
			}
			.o_sel_add_element_above {
				display: inline-block;
				padding: 5px 5px 0 5px;
			}
			
			.o_page_others_above {
				padding-right: $o-portfolio-editor-border-width;
				line-height: $o-portfolio-editor-border-width;
				vertical-align: middle;
				.o_page_type {
					display: none;
				}
				a {
					float: right;
					color: #fff;
					padding-right: 1em;
					&:hover {
						color: darken(#fff, 10%);	
					}				
				}
			}		
		}
		
		.o_page_tools_dd {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			width: $o-portfolio-editor-border-width;
			height: 100%;
			background: $o-portfolio-editor-border-color;
			a {				
				position: absolute;
				display: inline-block;
				width: $o-portfolio-editor-border-width;
				height: $o-portfolio-editor-border-width;
				line-height: $o-portfolio-editor-border-width;
				text-align: center;
				vertical-align: middle;

				color: #fff;
				&:hover {
					color: darken(#fff, 10%);	
				}
				
				&.o_disabled {
					color: rgba(255,255,255,0.5) !important;
					&:hover {
						color: rgba(255,255,255,0.5) !important;	
					}
				}
								
				&.o_sel_move_up_element {
					z-index: 2;
					top: -$o-portfolio-editor-border-width;			
				}
				&.o_sel_move_down_element {
					bottom: 0;
				}
			}
		}

		.o_page_part.o_page_edit {
			padding-right: $o-portfolio-editor-border-width; /* space for d&d handel */
			border: $o-panel-placeholder-border-width solid $o-portfolio-editor-border-color;
			box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
			&:hover {
				border: $o-panel-placeholder-border-width solid $o-portfolio-editor-border-color;
			}
			.o_page_edit_toolbar {
				position: absolute;
				z-index: 3;
				left: 5px;
				top: -$o-portfolio-editor-border-width;
				display: inline-block;
				height: $o-portfolio-editor-border-width;
				line-height: $o-portfolio-editor-border-width;
				vertical-align: middle;
				a {				
					color: #fff;
					&:hover {
						color: darken(#fff, 10%);	
					}				
					&.o_disabled {
						color: rgba(255,255,255,0.5) !important;
						&:hover {
							color: rgba(255,255,255,0.5) !important;	
						}
					}
				}
			}
			
			.o_page_edit_title .o_page_edit_toolbar li {
				font-weight: bold;
			}
			
			.o_richtext_mce textarea {
				border: 0;
			}
			
		}
		
		.o_page_add_below {
			position: absolute;
			z-index: 1;
			left: 0;
			bottom: -$o-portfolio-editor-border-width;
			height: $o-portfolio-editor-border-width;
			border-left: $o-panel-placeholder-border-width dashed $o-portfolio-editor-border-color;
			border-bottom: $o-panel-placeholder-border-width dashed $o-portfolio-editor-border-color;
			border-right: $o-panel-placeholder-border-width dashed $o-portfolio-editor-border-color;
			border-radius: 0 0 $o-panel-placeholder-border-radius $o-panel-placeholder-border-radius;
			box-shadow: 3px 8px 10px 0px rgba(0, 0, 0, 0.2);
			background: #fff;

			.o_sel_add_element_below {
				display: inline-block;
				padding: 0 5px 5px 5px;
			}
		}
	}
	
	.o_pf_add_contents {
		margin-top: 30px;
	}
}

.o_portfolio_add_callout {
	a span {
		display: none;
	}
	ul.list-inline {
		margin-bottom: 0;
	}
}

.o_portfolio_image_options {
	clear:both;
	width: 300px;
	padding: 5px;
}

.o_binder_page_listing {
	.o_portfolio_page_links {
		background-color: #f8f8f8;
		border-radius: $border-radius-base;
		
		.o_portfolio_comment {
			float:right;
		}
	}
}

.o_portfolio_toc {
	padding-bottom: 6em;
	
	.o_portfolio_section_meta {
		font-size: 80%;
		color: $gray-light;
		/* compensate for header o_header_with_buttons margin */
		position: relative;
		top: -15px;
	}
	
	.o_section {
		position: relative;
		.o_header_with_buttons h4 {
			padding-right: 0.5em;
		}
	}

	.o_section_actions {
		position: absolute;
		top: 0;
		right: 0;
	
		.o_section_move_up_and_down {
			display: inline-block;
		}
		
		.o_section_dropdown {
			display: inline-block;
			position: relative;
			top: -0.5em;
			padding-left: 0.5em;
		}
	}
}

.o_portfolio_toc ul>li>ul {
	padding-left:1.5em;
}

.o_portfolio_content {
	.o_portfolio_toc.o_portfolio_toc_withtimeline {
		width: 70%;
		float:left;
	}
	
	.o_portfolio_timeline {
		width: 29%;
		float:right;
	}
}

.o_portfolio_content {
	.o_portfolio_toc.o_portfolio_withtimeline, .o_portfolio_entries.o_portfolio_withtimeline {
		width: 70%;
		float:left;
	}
	
	.o_portfolio_timeline {
		width: 29%;
		float:right;
	}
}


.o_portfolio_page_meta_wrapper {
	background-position: left top;
	background-repeat: no-repeat;
}


.o_portfolio_rights table {
	.o_portfolio_section td:first-child {
		padding-left: 1.5em;
	}
	
	.o_portfolio_page td:first-child {
		padding-left: 2.5em;
	}
}

.o_portfolio_publication {
	table {
		padding-bottom: 10px;
	
		td {
			padding: 5px 5px 5px 0;
		}
	}
	
	.o_portfolio_ac {
		font-size: 90%; 
		table {
			td:nth-of-type(2) {
				width:  200px;
				white-space: nowrap;
			}
			td:nth-of-type(3) {
				width:  40px;
				white-space: nowrap;
			}
		}
	}
	
	ul {
		ul {
			margin-left: 2em;
			margin-bottom: 5px;
		}
		li {
			background: #fbfbfb;
			padding: 3px;	
			margin-bottom: 2px;
			li {
				background: #f2f2f2;
				li {
					background: #eee;
				}
				.table {
					margin-bottom: 0px
				}
			}
			
		}
	}
}

@media (max-width: $screen-xs-max) { 
	/* hide timeline on small screen, even when configured to be visible */
	.o_portfolio_content {
		.o_portfolio_toc.o_portfolio_withtimeline, .o_portfolio_entries.o_portfolio_withtimeline {
			width: 100%;
			float:none;
		}
		
		.o_sel_timeline_off, .o_sel_timeline_on, .o_portfolio_timeline {
			display:none;
		}
		
		.o_portfolio_content .o_portfolio_toc.o_portfolio_withtimeline {
			width: 100%;
			float:none;
		}
	}	
}

.o_portfolio_media_browser {

	.o_portfolio_medias {
		position: relative;
		margin-bottom: $o-portfolio-media-browser-space;
		margin-top: $o-portfolio-media-browser-space;
		@include clearfix();
		
		.o_portfolio_media {
			position: relative;
			float: left; 
			margin: 0 $o-portfolio-media-browser-space $o-portfolio-media-browser-space 0;
			width: $o-portfolio-media-browser-rowelem-width-md;	

			&:last-child {
				margin-right: 0;			
			}
						
			.o_visual {
				border: 1px solid $o-portfolio-media-browser-border;
				position: relative;
				height: $o-portfolio-media-browser-rowelem-width-md;
				width: $o-portfolio-media-browser-rowelem-width-md;
			
				span.o_visual_not_available {
					width:100%;
					height:100%;
					display:block;
				}
			}
			.o_visual.o_icon span.o_visual_not_available {
				background-image: none;
			}
			
			.o_visual.o_icon {
				font-size: 6em;
				text-align: center;
				color: $gray-lighter;
				line-height: $o-portfolio-media-browser-rowelem-line-height-md ;
			}
				
			.o_meta {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;

				border: 1px solid $o-portfolio-media-browser-border;
				border-top: 0;
				background-color: rgba(255,255,255,0.8);
				
				.o_title {
					margin: 0; /* box moves down otherwhise, replaced with padding */
					text-align: center;
					line-height: 2em;
					height: 2em;
					width: 100%;

					overflow: hidden;
					/* overflow via JS OPOL.Ellipsis */
					a {
						@extend %o_undecorated;
						display: block;
						color: $o-portfolio-media-browser-meta-title-color;
						&:hover {
						    color: darken($o-portfolio-media-browser-meta-title-color, 10%);
						}
						
						//override o_icon styles, hide the icon
						font-family: inherit;
						font-weight: inherit;
						>i {
							display:none;
						}
					}
				}
			}

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
				width: $o-portfolio-media-browser-rowelem-width-sm;	
				margin: 0 $o-portfolio-media-browser-space-sm $o-portfolio-media-browser-space-sm 0;
	
				.o_visual {
					height: $o-portfolio-media-browser-rowelem-width-sm;
					width: $o-portfolio-media-browser-rowelem-width-sm;	
				}	
				.o_visual.o_icon {
					font-size: 2.5em;
					line-height: $o-portfolio-media-browser-rowelem-line-height-sm;
				}
				
				.o_title {
					font-size: 90%;
				}
			}
			@media (max-width: $screen-xs-max) { 
				width: $o-portfolio-media-browser-rowelem-width-sm;	
				margin: 0 $o-portfolio-media-browser-space-xs $o-portfolio-media-browser-space-xs 0;
				
				.o_visual {
					height: $o-portfolio-media-browser-rowelem-width-sm;	
					width: $o-portfolio-media-browser-rowelem-width-sm;	
				}
				.o_visual.o_icon {
					font-size: 2.5em;
					line-height: $o-portfolio-media-browser-rowelem-line-height-sm;
				}	
				.o_title {
					font-size: 90%;
				}
			}	
		}
	}
}