
div#o_main_toolbar.o_toolbar.o_portfolio {
	margin-top: 0px;
}


.o_section_lead, .o_page_lead, .o_assignment_lead {
	padding: $o-portfolio-lead-space-sm $o-portfolio-lead-space-sm;
	margin-bottom: $o-portfolio-lead-space-sm;
	background-color: $o-portfolio-lead-background-color;
	border-radius: $o-portfolio-lead-border-radius;
	border: 1px $o-portfolio-lead-border-color solid;
}

.o_page_lead {
	padding: $o-portfolio-lead-space-sm * 2;
	
	.o_page_summary {
		font-size: $o-portfolio-page-summary-font-size;
		
	}
	
	.o_media {
		&.o_media_right {
			max-height: 200px;
			float: right;
			margin-left: 2em;
			margin-bottom: 2em;
		}
		&.o_desc_empty {
			/* when no content is there, show larger image and centered */
			max-height: 300px;
			text-align: center;
		}
		
		img {
			border-radius: $o-portfolio-lead-border-radius;
			border: 1px $o-portfolio-lead-border-color solid;
			background: #fff;
			max-height: 100%;
		}		
	}
	
	.o_portfolio_status_block {
		border-top: 1px solid $o-portfolio-lead-border-color;
		padding-top: 1em;
		margin-bottom: -1em; /* push at bottom of lead block */
	}
	.o_portfolio_status {
		display: inline-block;
		padding-right: 2em;
	}
	
	/* inline image formatting */
	&.o_block_imagebg {
		.o_portfolio_status {
			padding: 2px;
			background-color: $o-imagebg-text-background;
		}
	}
}

.o_page_assignment{
	font-size: $o-portfolio-assignment-font-size;
	&.o_togglebox_wrapper div.o_togglebox_content {
	    margin: 10px 0 20px 0;
	    padding: 20px;
	    border-left: 3px solid $o-portfolio-assignment-color;
	    background-color: $o-portfolio-assignment-background-color;
	}       
	.o_page_assignement_info {
		position: relative;
	    left: -1em;
	}
}

.o_portfolio_listing {
	
	.o_table_body.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.o_portfolio_entry {
		position: relative;
		display: inline-block;
		height: 230px;			
		width: 400px;
		vertical-align: top;
		margin-right: 10px;
		
		ul {
			padding-left: 2em;
		}
	}	
	
	.panel-imagebg .panel-body ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			padding: 2px;
		}
	}
}

/* binder with assignments (binders created from course element */
.o_binder.o_portfolio_assignments {
	.panel-heading,
	.panel-body {
		border-left: 3px solid $o-portfolio-assignment-color;
	}
}
/* an assignment in template edit mode*/ 
.panel-default.o_portfolio_assignments {
	.panel-heading,
	.panel-body {
		border-left: 3px solid $o-portfolio-assignment-color;
	}
}
/* an assignment entry */
.o_portfolio_page .o_portfolio_assignments .o_portfolio_page_body {
		border-left: 3px solid $o-portfolio-assignment-color;
		.o_portfolio_page_meta_wrapper,
		.o_portfolio_page_summary {
			padding-left: 10px;
		}
}

.o_rendertype_classic {
	.o_pf_page, .o_pf_assignment {
		padding-left: 1em;
	}
}

.o_portfolio_timeline {
	.o_timeline_up {
		text-align: center;
	}
	
	.o_timeline_down {
		text-align: center;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	.x.axis line, .x.axis path {
		display:none;
	}
	
	path.o_timeline_curve {
		fill: none;
		stroke: #ccc;
		shape-rendering: crispEdges;
	}
	
	.y.axis .tick line, .y.axis path.domain {
		stroke: #ddd;
	}

	text {
		fill: #888; 
		stroke: none; 
		font-size: 10px;
	}
	.dot.o_pf_status_draft {
		fill: $o-portfolio-entry-draft-color;
	}
	.dot.o_pf_status_published {
		fill: $o-portfolio-entry-published-color;
	}
	.dot.o_pf_status_inrevision {
		fill: $o-portfolio-entry-inrevision-color;
	}
	.dot.o_pf_status_closed {
		fill: $o-portfolio-entry-closed-color;
	}
	.dot.o_pf_status_deleted {
		fill: $o-portfolio-entry-deleted-color;
	}
}

.o_pf_comments {
	margin-top: 2em;
}

.o_pf_content {

	.o_cit, .o_file,  {
		margin-top: 1em;
		background-color: $o-portfolio-media-content-background-color;
		padding: $o-portfolio-media-content-space;
		border-radius: $o-panel-placeholder-border-radius;
	}
	
	.o_forum {
		margin-top: 1em;
		border: 1px $o-portfolio-media-content-background-color solid;
		padding: $o-portfolio-media-content-space;
		border-radius: $o-panel-placeholder-border-radius;
	}
	
	.o_image {
		padding: $o-portfolio-media-content-space;
		text-align: center;
		width: 100%;
	}
}

.o_pf_content_editor {
	.o_toolbar {
		border:none;
	}
	
	.o_page_fragment_edit  {
		.o_page_part {
			border-top: $o-panel-placeholder-border-width solid $o-panel-placeholder-border-color;
			border-bottom: $o-panel-placeholder-border-width solid $o-panel-placeholder-border-color;
		}

		.o_sel_add_element_above {
			float:left;
			padding: 5px 5px 0 5px;
			border-left: $o-panel-placeholder-border-width dashed $o-panel-placeholder-border-color;
			border-top: $o-panel-placeholder-border-width dashed $o-panel-placeholder-border-color;
			border-right: $o-panel-placeholder-border-width dashed $o-panel-placeholder-border-color;
			border-radius: $o-panel-placeholder-border-radius $o-panel-placeholder-border-radius 0 0;
		}
		
		.o_page_others_above {
			float:right;
		}		
		
		.o_sel_add_element_below {
			padding: 0 5px 5px 5px;
			border-left: $o-panel-placeholder-border-width dashed $o-panel-placeholder-border-color;
			border-bottom: $o-panel-placeholder-border-width dashed $o-panel-placeholder-border-color;
			border-right: $o-panel-placeholder-border-width dashed $o-panel-placeholder-border-color;
			border-radius: 0 0 $o-panel-placeholder-border-radius $o-panel-placeholder-border-radius;
		}
	}
	
	.o_pf_add_contents {
		margin-top: 30px;
	}
}

.o_portfolio_add_callout {
	a span {
		display: none;
	}
}

.o_portfolio_image_options {
	clear:both;
	width: 300px;
	padding: 5px;
}

.o_binder_page_listing {
	.o_portfolio_page_links {
		background-color: #f8f8f8;
		border-radius: $border-radius-base;
		
		.o_portfolio_comment {
			float:right;
		}
	}
}

.o_portfolio_toc {
	padding-bottom: 6em;
	
	.o_portfolio_section_meta {
		font-size: 80%;
		color: $gray-light;
		/* compensate for header o_header_with_buttons margin */
		position: relative;
		top: -15px;
	}
	
	.o_section {
		position: relative;
		.o_header_with_buttons h4 {
			padding-right: 0.5em;
		}
	}

	.o_section_actions {
		position: absolute;
		top: 0;
		right: 0;
	
		.o_section_move_up_and_down {
			display: inline-block;
		}
		
		.o_section_dropdown {
			display: inline-block;
			position: relative;
			top: -0.5em;
			padding-left: 0.5em;
		}
	}
}

.o_portfolio_toc ul>li>ul {
	padding-left:1.5em;
}

.o_portfolio_content {
	.o_portfolio_toc.o_portfolio_toc_withtimeline {
		width: 70%;
		float:left;
	}
	
	.o_portfolio_timeline {
		width: 29%;
		float:right;
	}
}

.o_portfolio_content {
	.o_portfolio_toc.o_portfolio_withtimeline, .o_portfolio_entries.o_portfolio_withtimeline {
		width: 70%;
		float:left;
	}
	
	.o_portfolio_timeline {
		width: 29%;
		float:right;
	}
}


.o_portfolio_page_meta_wrapper {
	background-position: left top;
	background-repeat: no-repeat;
}


.o_portfolio_rights table {
	.o_portfolio_section td:first-child {
		padding-left: 1.5em;
	}
	
	.o_portfolio_page td:first-child {
		padding-left: 2.5em;
	}
}

.o_portfolio_publication {
	table {
		padding-bottom: 10px;
	
		td {
			padding: 5px 5px 5px 0;
		}
	}
	
	ul table.o_portfolio_ac {
		margin-left: 2em;
	}
	
	ul ul {
		margin-left: 2em;
	}
}

@media (max-width: $screen-xs-max) { 
	/* hide timeline on small screen, even when configured to be visible */
	.o_portfolio_content {
		.o_portfolio_toc.o_portfolio_withtimeline, .o_portfolio_entries.o_portfolio_withtimeline {
			width: 100%;
			float:none;
		}
		
		.o_sel_timeline_off, .o_sel_timeline_on, .o_portfolio_timeline {
			display:none;
		}
		
		.o_portfolio_content .o_portfolio_toc.o_portfolio_withtimeline {
			width: 100%;
			float:none;
		}
	}	
}

.o_portfolio_media_browser {

	.o_portfolio_medias {
		position: relative;
		margin-bottom: $o-portfolio-media-browser-space;
		margin-top: $o-portfolio-media-browser-space;
		@include clearfix();
		
		.o_portfolio_media {
			position: relative;
			float: left; 
			margin: 0 $o-portfolio-media-browser-space $o-portfolio-media-browser-space 0;
			width: $o-portfolio-media-browser-rowelem-width-md;	

			&:last-child {
				margin-right: 0;			
			}
						
			.o_visual {
				border: 1px solid $o-portfolio-media-browser-border;
				position: relative;
				height: $o-portfolio-media-browser-rowelem-width-md;
				width: $o-portfolio-media-browser-rowelem-width-md;
			
				span.o_visual_not_available {
					width:100%;
					height:100%;
					display:block;
				}
			}
			.o_visual.o_icon span.o_visual_not_available {
				background-image: none;
			}
			
			.o_visual.o_icon {
				font-size: 6em;
				text-align: center;
				color: $gray-lighter;
				line-height: $o-portfolio-media-browser-rowelem-line-height-md ;
			}
				
			.o_meta {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;

				border: 1px solid $o-portfolio-media-browser-border;
				border-top: 0;
				background-color: rgba(255,255,255,0.8);
				
				.o_title {
					margin: 0; /* box moves down otherwhise, replaced with padding */
					text-align: center;
					line-height: 2em;
					height: 2em;
					width: 100%;

					overflow: hidden;
					/* overflow via JS OPOL.Ellipsis */
					a {
						@extend %o_undecorated;
						display: block;
						color: $o-portfolio-media-browser-meta-title-color;
						&:hover {
						    color: darken($o-portfolio-media-browser-meta-title-color, 10%);
						}
						
						//override o_icon styles, hide the icon
						font-family: inherit;
						font-weight: inherit;
						>i {
							display:none;
						}
					}
				}
			}

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
				width: $o-portfolio-media-browser-rowelem-width-sm;	
				margin: 0 $o-portfolio-media-browser-space-sm $o-portfolio-media-browser-space-sm 0;
	
				.o_visual {
					height: $o-portfolio-media-browser-rowelem-width-sm;
					width: $o-portfolio-media-browser-rowelem-width-sm;	
				}	
				.o_visual.o_icon {
					font-size: 2.5em;
					line-height: $o-portfolio-media-browser-rowelem-line-height-sm;
				}
				
				.o_title {
					font-size: 90%;
				}
			}
			@media (max-width: $screen-xs-max) { 
				width: $o-portfolio-media-browser-rowelem-width-sm;	
				margin: 0 $o-portfolio-media-browser-space-xs $o-portfolio-media-browser-space-xs 0;
				
				.o_visual {
					height: $o-portfolio-media-browser-rowelem-width-sm;	
					width: $o-portfolio-media-browser-rowelem-width-sm;	
				}
				.o_visual.o_icon {
					font-size: 2.5em;
					line-height: $o-portfolio-media-browser-rowelem-line-height-sm;
				}	
				.o_title {
					font-size: 90%;
				}
			}	
		}
	}
}