.o_ep_icon_map { @extend .o_icon-briefcase; }
.o_ep_icon_page { @extend .o_icon-file-o; };
.o_ep_icon_struct { @extend .o_icon-cubes; }
.o_ep_icon_liveblog { @extend .o_icon-bullhorn;}

.o_portfolio_toc {
	.o_ep_link { float: right; margin-right: 0px;  }
	.o_ep_commentlink { float: right; margin-right: 10%;  }
	
	li.level1 { font-size: 1.2em; margin: 1.2em 0 0.2em 0; border-bottom: 1px solid #ddd; }
	li.level2 { padding-left: 20px; font-size: 1.1em; border-bottom: 1px dotted #ddd; }
	li.level3 { padding-left: 40px; }
}

.b_eportfolio_map a.b_eportfolio_add_link, .b_eportfolio_map a.b_eportfolio_del_link {
	float:right; display:inline;
}
.b_eportfolio_page .b_eportfolio_structure > h5 {
	border-bottom: 1px solid #ddd; margin-top: 1.2em;
}