.o_ep_icon_map:before { content: $fa-var-briefcase; }
.o_ep_icon_collection:before { content: $fa-var-briefcase; }
.o_ep_icon_page:before { content: $fa-var-file-o; };
.o_ep_icon_struct:before { content: $fa-var-cubes; }
.o_ep_icon_liveblog:before { content: $fa-var-bullhorn;}
.o_artefact_closed:before { content: $fa-var-lock;}

.o_portfolio_toc {
	.o_ep_link { float: right; margin-right: 0px;  }
	.o_ep_commentlink { float: right; margin-right: 10%;  }
	
	li.level1 { font-size: 1.2em; margin: 1.2em 0 0.2em 0; border-bottom: 1px solid #ddd; }
	li.level2 { padding-left: 20px; font-size: 1.1em; border-bottom: 1px dotted #ddd; }
	li.level3 { padding-left: 40px; }
}

.o_eportfolio_page .o_eportfolio_structure > h5 {
	border-bottom: 1px solid #ddd; margin-top: 1.2em;
}

.o_eportfolio_maps {
	.panel {
		font-family: 'Century Gothic', 'Apple Gothic', sans-serif;
		box-shadow: 3px 3px 4px rgba(20,20,20,0.4);
	}
	.panel-heading {
		padding: 5px 10px;
	}
	h4 {
		padding: 11px 15px;
		background: rgba(255, 255, 230, 0.7) none;
		border-radius: 6px;
	}
	
	.table>tbody>tr>td {
		border-top:none;
	}
	
	.panel-body {
		border-top:none;
	}
	
	.panel>.panel-body+.table {
		border-top:none;
	}
}

.panel-footer .o_ep_options {
	display: inline-block;
}

.o_eportfolio_map {
	padding: 0 20px 2px 3px;
	border-radius: 6px 10px 6px 0;
	font-family: 'Century Gothic', 'Apple Gothic', sans-serif;
}

.o_map_header {
	padding-left: 5px;
}

.o_eportfolio_map ul.nav-tabs li:not(.active) a {
	background-color: rgba(240,240,240,0.7);
	border-radius: 4px 4px 0 0;
}

.o_eportfolio_edit {
	border-radius: 4px 4px 0 0;
}

.o_ep_actualpage, .o_eportfolio_edit {
	padding: floor($grid-gutter-width / 2);
	background-color: #fff;
}

.o_ep_content {
	margin-top: floor($grid-gutter-width / 2);
}

.o_ep_filter {
	.o_date.form-inline .form-group {
		margin-left: 8px;
	}
}

.o_eportfolio_share_policy_wrapper {
	border: 1px solid $panel-default-border;
	border-radius: $panel-border-radius;
}

.o_eportfolio_share_header {
	padding: 10px 15px;
	border-bottom: 1px solid $panel-default-border;
	background-color: $panel-default-heading-bg;
}

.o_eportfolio_share_policy {
	padding: 10px 15px;
}


@import '_portfoliomaps/mixins';

@import '_portfoliomaps/epmst_default';
@import '_portfoliomaps/epmst_comic';
@import '_portfoliomaps/epmst_leather';

@import '_portfoliomaps/epmst_green';
@import '_portfoliomaps/epmst_green2';
@import '_portfoliomaps/epmst_green3';
@import '_portfoliomaps/epmst_green4';

@import '_portfoliomaps/epmst_red';
@import '_portfoliomaps/epmst_red2';
@import '_portfoliomaps/epmst_red3';
@import '_portfoliomaps/epmst_red4';

@import '_portfoliomaps/epmst_blue';
@import '_portfoliomaps/epmst_blue2';
@import '_portfoliomaps/epmst_blue3';
@import '_portfoliomaps/epmst_blue4';
