
.o_portfolio {
	div#o_main_toolbar.o_toolbar {
		margin-top: 0px;
	}	
}

.o_portfolio_home {
	.o_portfolio_my, .o_portfolio_shared {
		li {
			margin: 2em 1em 2em 0;
			text-align: center;
			vertical-align: top;
		}
		li.o_pf_trash_entry {
			border-right: 5px dashed #eee;
			padding-right: 2em;
		}
		li a {
			display: block;
			width: 9em;		
		}
		li a i {
			display: inline-block;
			font-size: 4em;
		}
	
		li a span {
			display: block;
			margin-top: 0.8em;
		}
		
		@media (max-width: $screen-md-max) { 
			font-size: 90%; 
	
		}	
		@media (max-width: $screen-xs-max) { 
			font-size: 80%; 
			li.o_pf_trash_entry {
				border-right: none;
				padding-right: 0;
			}
		}
	}
	
	#o_my_last_binders .o_table_body {
		margin-top: 0;
		padding-left: 0;
	}
	
	#o_my_last_pages {
		.o_table_body {
			margin-top: 0;
		}
		.o_table_toolbar {
			display: none;
		}
		.o_portfolio_page {
			margin-top: 0;
			margin-bottom: 1em;
		}
	}
}


.o_section_lead, .o_page_lead, .o_assignment_lead {
	padding: $o-portfolio-lead-space-sm $o-portfolio-lead-space-sm;
	margin-bottom: $o-portfolio-lead-space-sm;
	background-color: $o-portfolio-lead-background-color;
	border-radius: $o-portfolio-lead-border-radius;
	border: 1px $o-portfolio-lead-border-color solid;
}

.o_section_ended .o_section_lead {
	border-color: $o-portfolio-lead-ended-border-color;
	background-color: $o-portfolio-lead-ended-background-color;
}

/* media positioning and sizes */
.o_media {
	&.o_media_right,
	&.o_media_right_large {
		float: right;
		margin-left: 2em;
		margin-bottom: 2em;
	}
	&.o_media_left,
	&.o_media_left_large {
		float: left;
		margin-right: 2em;
		margin-bottom: 2em;
	}
	&.o_media_left,
	&.o_media_right {
		max-height: 200px;
		max-width: 50%;
		img {
			max-height: 200px;
		}		
	}
	&.o_media_right_large,
	&.o_media_left_large {
		max-height: 300px;
		max-width: 75%;
		img {
			max-height: 300px;
		}		
	}
	img {
		border-radius: $o-portfolio-lead-border-radius;
		border: 1px $o-portfolio-lead-border-color solid;
		background: #fff;
		height: auto;	/* expand to fit */
		width: auto;
	}
}
@media (max-width: $screen-xs-max) { 
	.o_page_lead {
		.o_media {
			&.o_media_right,
			&.o_media_right_large {
				margin-left: 1em;
				margin-bottom: 1em;
			}
			&.o_media_left,
			&.o_media_left_large {
				margin-right: 1em;
				margin-bottom: 1em;
			}
			&.o_media_left,
			&.o_media_right {
				max-height: 120px;
				max-width: 30%;
				img {
					max-height: 120px;
				}		
			}
			&.o_media_right_large,
			&.o_media_left_large {
				max-height: 180px;
				max-width: 50%;
				img {
					max-height: 180px;
				}		
			}
		}
	}	
}


.o_page_lead {
	padding: $o-portfolio-lead-space-sm * 2;
	
	h2 {
		margin-bottom: 5px;
	}
	.o_portfolio_page_meta {
		margin-bottom: 5px;
	
	}
	
	.o_page_summary {
		font-size: $o-portfolio-page-summary-font-size;
		
	}
	
	.o_media {
		&.o_desc_empty {
			/* when no content is there, show larger image and centered */
			max-height: 300px;
			text-align: center;
			img {
				max-height: 300px;
			}		
		}
	}
	
	.o_portfolio_status_block {
		border-top: 1px solid $o-portfolio-lead-border-color;
		padding-top: 1em;
		margin-bottom: -1em; /* push at bottom of lead block */
	}
	.o_edit_page_meta {
		padding-right: 2em;
	}
	.o_portfolio_status {
		display: inline-block;
		padding-right: 2em;
	}
	
	/* inline image formatting */
	&.o_block_imagebg {
		.o_portfolio_status {
			padding: 2px;
			background-color: $o-imagebg-text-background;
		}
	}
}

.o_portfolio_status_block p.o_section_ended {
	font-size: 120%;
}

.o_page_assignment {
	font-size: $o-portfolio-assignment-font-size;
	&.o_togglebox_wrapper div.o_togglebox_content {
	    margin: 10px 0 20px 0;
	    padding: 20px;
	    border-left: 3px solid $o-portfolio-assignment-color;
	    background-color: $o-portfolio-assignment-background-color;
	}       
	.o_page_assignement_info {
		position: relative;
	    left: -1em;
	}
}

.o_page_export .o_page_assignment .o_opener, .o_binder_export .o_page_assignment .o_opener {
	visibility:hidden;
}

.o_page_export .o_page_assignment .o_closer, .o_binder_export .o_page_assignment .o_closer {
	display: none;
}

.o_portfolio_listing.o_rendertype_custom {
	
	.o_table_body.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.o_portfolio_entry {
		position: relative;
		display: inline-block;
		height: 230px;			
		width: 400px;
		vertical-align: top;
		margin-right: 10px;
		
		ul {
			padding-left: 2em;
		}
		
		.oo-accepted {
			box-shadow: 10px 10px 10px pink;
		}
		
		.o_binder_tools a {
			color: $text-color;
		}
	}	
	
	.panel-imagebg .panel-body ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			padding: 2px;
		}
	}
}

/* binder with assignments (binders created from course element */
.o_binder.o_portfolio_assignments {
	.panel-heading,
	.panel-body {
		border-left: 3px solid $o-portfolio-assignment-color;
	}
}
/* an assignment in template edit mode*/ 
.panel-default.o_portfolio_assignments {
	.panel-heading,
	.panel-body {
		border-left: 3px solid $o-portfolio-assignment-color;
	}
}
/* an assignment entry */
.o_portfolio_page .o_portfolio_assignments .o_portfolio_page_body {
		border-left: 3px solid $o-portfolio-assignment-color;
		.o_portfolio_page_meta_wrapper,
		.o_portfolio_page_summary {
			padding-left: 10px;
		}
}

.o_portfolio_page_summary {
	.o_media {
		&.o_media_right,
		&.o_media_right_large {
			margin-left: 1em;
			margin-bottom: 1em;
		}
		&.o_media_left,
		&.o_media_left_large {
			margin-right: 1em;
			margin-bottom: 1em;
		}
		&.o_media_left,
		&.o_media_right {
			max-height: 150px;
			img {
				max-height: 150px;
			}		
		}
		&.o_media_right_large,
		&.o_media_left_large {
			max-height: 230px;
			img {
				max-height: 230px;
			}		
		}
	}
}

.o_portfolio_competences, .o_portfolio_categories {
	/* the categories edit form */
	div, form {
		display: inline-block;
	}
	
	.input-group {
		margin-bottom: 2px;
	}
}

.o_portfolio_competences_edit .o_portfolio_competences .tagify__input,
.o_portfolio_categories_edit .o_portfolio_categories .tagify__input {
	min-width: 180px;
}

.o_pf_page, .o_pf_assignment, .o_pf_section {
	white-space: nowrap;
}

.o_binder_page_tree_listing.o_rendertype_classic {
	.o_pf_page, .o_pf_assignment {
		padding-left: 1em;
	}
}

.o_portfolio_timeline {
	.o_timeline_up {
		text-align: center;
	}
	
	.o_timeline_down {
		text-align: center;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	.x.axis line, .x.axis path {
		display:none;
	}
	
	path.o_timeline_curve {
		fill: none;
		stroke: #ccc;
		shape-rendering: crispEdges;
	}
	
	.y.axis .tick line, .y.axis path.domain {
		stroke: #ddd;
	}

	text {
		fill: #888; 
		stroke: none; 
		font-size: 10px;
	}
	.dot.o_pf_status_draft {
		fill: $o-portfolio-entry-draft-color;
	}
	.dot.o_pf_status_published {
		fill: $o-portfolio-entry-published-color;
	}
	.dot.o_pf_status_inrevision {
		fill: $o-portfolio-entry-inrevision-color;
	}
	.dot.o_pf_status_closed {
		fill: $o-portfolio-entry-closed-color;
	}
	.dot.o_pf_status_deleted {
		fill: $o-portfolio-entry-deleted-color;
	}
}

.o_pf_comments {
	margin-top: 3em;
}

.o_pf_content,
.gu-mirror {

	.o_cit, .o_text, .o_file {
		@extend %o_block_large;
		background-color: $o-portfolio-media-content-background-color;
		padding: $o-portfolio-media-content-space;
		border-radius: $o-panel-placeholder-border-radius;
	}
	
	.o_forum {
		@extend %o_block_large;
		border: 1px $o-portfolio-media-content-background-color solid;
		padding: $o-portfolio-media-content-space;
		border-radius: $o-panel-placeholder-border-radius;
	}

	
	.o_efficiencystatement, .o_feed, .o_forum, .o_wiki  {
		@extend %o_block_large;
		background-color: $o-portfolio-media-content-background-color;
		padding: $o-portfolio-media-content-space;
		border-radius: $o-panel-placeholder-border-radius;

		h3, .h3 { font-size: $font-size-h5; }

		.row {
			margin: 0;
		}
		
		.o_block_with_datecomp {
			margin-top: 0.5em;
			margin-bottom: 0;
		}
	}
	
	
}

.o_pf_video_placeholder {
	background-color: $o-portfolio-media-content-background-color;
	border: 1px solid $o-portfolio-media-content-background-color;
	border-radius: $o-panel-placeholder-border-radius;
   	display: table;
    min-width: 400px;
    text-align: center;
    padding: 40px 10px;
	i {
		display: table-cell;
		vertical-align: middle;
	}
}

.o_binder_page_listing {
	.o_portfolio_page {
		.o_block, .o_block_imagebg {
			padding-left: 5px;
			padding-right: 5px;
			
			.o_xsmall {
				font-size: ceil($font-size-small * .9);
			}
			
			.o_small {
				font-size: $font-size-small;
			}
			
			.text-muted {
				i::before {
					color: $text-muted;
				}
			}
			
			div {
				margin-bottom: 2px;
			}
		}
	}
	
	.o_portfolio_page_links {
		background-color: #f8f8f8;
		border-radius: $border-radius-base;
		
		.o_portfolio_comment {
			float:right;
		}
	}
}

.o_portfolio_toc {
	.o_portfolio_toc_section {
		position: relative;
		padding-right: 80px;
		
		.o_xsmall {
			font-size: ceil($font-size-small * .9);
		}
		
		.o_small {
			font-size: $font-size-small;
		}
	}
	
	.o_portfolio_section_meta {
		margin-top: -0.5em;
	}
	
	.o_section_actions {
		position: absolute;
		top: -($line-height-computed / 2);
		right: 0;
		
		.o_section_move_up_and_down,
		.o_section_dropdown {
			vertical-align: middle;		
			display: inline-block;
			
			ul {
				padding-left: 0;
			}
		}
	}
	a.o_comment {
		color: $text-muted;
		margin-left: 1em;
	}
	
	.o_section ul {
		padding-left:1em;
		line-height: ($line-height-computed * 1.2);
	}
}


.o_portfolio div {

	span.badge {
		padding: 3px 7px;
	}
	
	.o_popover, .popover:hover {
		color: $o-content-text-color;
		text-decoration: none;
	}
}

.o_labeled {
	i::before {
		color: #fff;
	}
	
	&.o_portfolio_entry_draft,
	&.o_portfolio_section_draft,
	&.o_portfolio_section_progress {
		background-color: $o-portfolio-entry-draft-color;
		border-color: $o-portfolio-entry-draft-color;			
	}
	&.o_portfolio_entry_published {
		background-color: $o-portfolio-entry-published-color;
		border-color: $o-portfolio-entry-published-color;
	}
	&.o_portfolio_entry_revision {
		background-color: $o-portfolio-entry-inrevision-color;
		border-color: $o-portfolio-entry-inrevision-color;
	}
	&.o_portfolio_entry_closed,
	&.o_portfolio_section_closed {
		background-color: $o-portfolio-entry-closed-color;
		border-color: $o-portfolio-entry-closed-color;
	}
	&.o_portfolio_entry_deleted {
		background-color: $o-portfolio-entry-deleted-color;
		border-color: $o-portfolio-entry-deleted-color;
	}
	&.o_portfolio_entry_incoming {
		background-color: $o-portfolio-entry-incoming-color;
		border-color: $o-portfolio-entry-incoming-color;
	}
	&.o_portfolio_entry_inprocess {
		background-color: $o-portfolio-entry-inprocess-color;
		border-color: $o-portfolio-entry-inprocess-color;
	}
	&.o_portfolio_entry_done {
		background-color: $o-portfolio-entry-done-color;
		border-color: $o-portfolio-entry-done-color;
	}
}

.o_labeled_light {
	background-color: #fff;
	
	&.o_portfolio_entry_draft,
	&.o_portfolio_section_draft,
	&.o_portfolio_section_progress {
		color: $o-portfolio-entry-draft-color;
		border-color: $o-portfolio-entry-draft-color;			
	}
	&.o_portfolio_entry_published {
		color: $o-portfolio-entry-published-color;
		border-color: $o-portfolio-entry-published-color;
	}
	&.o_portfolio_entry_revision {
		color: $o-portfolio-entry-inrevision-color;
		border-color: $o-portfolio-entry-inrevision-color;
	}
	&.o_portfolio_entry_closed,
	&.o_portfolio_section_closed {
		color: $o-portfolio-entry-closed-color;
		border-color: $o-portfolio-entry-closed-color;
	}
	&.o_portfolio_entry_deleted {
		color: $o-portfolio-entry-deleted-color;
		border-color: $o-portfolio-entry-deleted-color;
	}
	&.o_portfolio_entry_incoming {
		color: $o-portfolio-entry-incoming-color;
		border-color: $o-portfolio-entry-incoming-color;
	}
	&.o_portfolio_entry_inprocess {
		color: $o-portfolio-entry-inprocess-color;
		border-color: $o-portfolio-entry-inprocess-color;
	}
	&.o_portfolio_entry_done {
		color: $o-portfolio-entry-done-color;
		border-color: $o-portfolio-entry-done-color;
	}
}

.o_portfolio_content {
	.o_portfolio_toc.o_portfolio_toc_withtimeline {
		width: 70%;
		float:left;
	}
	
	.o_portfolio_timeline {
		width: 29%;
		float:right;
	}
}

.o_portfolio_content {
	.o_portfolio_toc.o_portfolio_withtimeline, .o_portfolio_entries.o_portfolio_withtimeline {
		width: 70%;
		float:left;
	}
	
	.o_portfolio_timeline {
		width: 29%;
		float:right;
	}
}


/* page mini view */
.o_portfolio_page {
	background: #fcfcfc;
	border: 1px solid #eee;
	border-radius: $border-radius-base;
}


.o_portfolio_page_meta_wrapper {
	background-position: left top;
	background-repeat: no-repeat;
}


.o_portfolio_rights table {
	.o_portfolio_section td:first-child {
		padding-left: 1.5em;
	}
	
	.o_portfolio_page td:first-child {
		padding-left: 2.5em;
	}
}

.o_portfolio_publication {
	table {
		padding-bottom: 10px;
	
		td {
			padding: 5px 5px 5px 0;
		}
	}
	
	.o_portfolio_ac {
		font-size: 90%; 
		table {
			td:nth-of-type(2) {
				width:  200px;
				white-space: nowrap;
			}
			td:nth-of-type(3) {
				width:  40px;
				white-space: nowrap;
			}
		}
	}
	
	ul {
		ul {
			margin-left: 2em;
			margin-bottom: 5px;
		}
		li {
			background: #fbfbfb;
			padding: 3px;	
			margin-bottom: 2px;
			li {
				background: #f2f2f2;
				li {
					background: #eee;
				}
				.table {
					margin-bottom: 0px
				}
			}
			
		}
	}
}

@media (max-width: $screen-xs-max) { 
	/* hide timeline on small screen, even when configured to be visible */
	.o_portfolio_content {
		.o_portfolio_toc.o_portfolio_withtimeline, .o_portfolio_entries.o_portfolio_withtimeline {
			width: 100%;
			float:none;
		}
		
		.o_sel_timeline_off, .o_sel_timeline_on, .o_portfolio_timeline {
			display:none;
		}
		
		.o_portfolio_content .o_portfolio_toc.o_portfolio_withtimeline {
			width: 100%;
			float:none;
		}
	}
}

.o_portfolio_media_browser {

	.o_portfolio_medias {
		position: relative;
		margin-bottom: $o-portfolio-media-browser-space;
		margin-top: $o-portfolio-media-browser-space;
		@include clearfix();
		
		.o_portfolio_media {
			position: relative;
			float: left; 
			margin: 0 $o-portfolio-media-browser-space $o-portfolio-media-browser-space 0;
			width: $o-portfolio-media-browser-rowelem-width-md;	

			&:last-child {
				margin-right: 0;			
			}
						
			.o_visual {
				border: 1px solid $o-portfolio-media-browser-border;
				position: relative;
				height: $o-portfolio-media-browser-rowelem-width-md;
				width: $o-portfolio-media-browser-rowelem-width-md;
			
				span.o_visual_not_available {
					width:100%;
					height:100%;
					display:block;
				}
			}
			.o_visual.o_icon span.o_visual_not_available {
				background-image: none;
			}
			
			.o_visual.o_icon {
				font-size: 6em;
				text-align: center;
				color: $gray-lighter;
				line-height: $o-portfolio-media-browser-rowelem-line-height-md ;
			}
				
			.o_meta {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;

				border: 1px solid $o-portfolio-media-browser-border;
				border-top: 0;
				background-color: rgba(255,255,255,0.8);
				
				.o_title {
					margin: 0; /* box moves down otherwhise, replaced with padding */
					text-align: center;
					line-height: 2em;
					height: 2em;
					width: 100%;

					overflow: hidden;
					/* overflow via JS OPOL.Ellipsis */
					a {
						@extend %o_undecorated;
						display: block;
						color: $o-portfolio-media-browser-meta-title-color;
						&:hover {
						    color: darken($o-portfolio-media-browser-meta-title-color, 10%);
						}
						
						//override o_icon styles, hide the icon
						font-family: inherit;
						font-weight: inherit;
						>i {
							display:none;
						}
					}
				}
			}

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
				width: $o-portfolio-media-browser-rowelem-width-sm;	
				margin: 0 $o-portfolio-media-browser-space-sm $o-portfolio-media-browser-space-sm 0;
	
				.o_visual {
					height: $o-portfolio-media-browser-rowelem-width-sm;
					width: $o-portfolio-media-browser-rowelem-width-sm;	
				}	
				.o_visual.o_icon {
					font-size: 2.5em;
					line-height: $o-portfolio-media-browser-rowelem-line-height-sm;
				}
				
				.o_title {
					font-size: 90%;
				}
			}
			@media (max-width: $screen-xs-max) { 
				width: $o-portfolio-media-browser-rowelem-width-sm;	
				margin: 0 $o-portfolio-media-browser-space-xs $o-portfolio-media-browser-space-xs 0;
				
				.o_visual {
					height: $o-portfolio-media-browser-rowelem-width-sm;	
					width: $o-portfolio-media-browser-rowelem-width-sm;	
				}
				.o_visual.o_icon {
					font-size: 2.5em;
					line-height: $o-portfolio-media-browser-rowelem-line-height-sm;
				}	
				.o_title {
					font-size: 90%;
				}
			}	
		}
	}
}

.o_portfolio_status_legend {
	margin-top: 3em;
	h6 {
		margin-bottom: 5px;
	}
}


/* shift header sizes, OO starts with H2 */
.o_ed_htitle {
	h1, .h1 { font-size: $font-size-h2; }
	h2, .h2 { font-size: $font-size-h3; }
	h3, .h3 { font-size: $font-size-h4; }
	h4, .h4 { font-size: $font-size-h5; }
	h5, .h5 { font-size: $font-size-h6; }
	h6, .h6 { font-size: $font-size-h6; }
}

/* Print styles */
@media print {
	.o_binder h1 {
		font-size: $font-size-h1 * 1.2;
		margin-top: 10cm;
	}
	
	.o_portfolio_section {
		h3:first-of-type {
			font-size: $font-size-h1;
		}
		
		margin-bottom: 1cm;
	}
	
	.o_page_lead {
		border: 0;
		border-bottom: 1px solid $o-portfolio-lead-border-color;
		border-radius: 0;
		background-color: none;
		padding: 0;
		margin-bottom: $o-portfolio-lead-space-sm;
		
		.o_portfolio_status_block {
			border-top: 0;
			margin-bottom: 0; /* push at bottom of lead block */
		}
		.o_media img {
			border: 0;
		}
		.o_portfolio_categories {
			display: block;
			margin-left: 0;
		}
		.o_portfolio_status_block {
			padding-top: 0;
		}
		.o_page_summary {
			margin-top: 1em;
			font-style: italic;
		}
	}
	
	.o_pf_content {
		.o_cit, .o_text, .o_file,
		.o_forum,
		.o_image, .o_video,
		.o_efficiencystatement, .o_feed, .o_forum, .o_wiki  {
			padding: 0;
		    border-radius: 0;
		    border: 0;
		    .o_desc {
		    	p {
			    	margin: 0;
		    	}    
		    }
		}
		
    }
	.o_efficiencystatement table {
		font-size: 90%;
	}
		
	.o_artefact_metadata {
		page-break-inside : avoid;
		border: 0;	
	    border-left:  5px solid #eee;
	    padding-left:  10px;
	    font-size: 80%;
	    table {
	    	td, th {
	    		border: 0 !important;
    		    padding: 2px !important;
			}
			th:first-of-type {
				width: 20%;
			}	
	    }
	}
	
	.o_pf_video_placeholder {
		background-color: $o-portfolio-media-content-background-color !important;
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
		&.visible-print-block {
			display: table !important;
		}
	}
	
}

.o_portfolio_section {
	.o_xsmall {
		font-size: ceil($font-size-small * .9);
	}
	.o_small {
		font-size: $font-size-small;
	}
}

.o_portfolio_reference_warning {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
