@use "sass:math";

.o_process {
	position: relative;
	padding-left: 25px;
	
	.o_step {
		position: relative;
		height: auto;
		padding-top: $o-step-padding-top;
		padding-left: $o-step-padding-left;
		padding-bottom: $o-step-padding-bottom;
	}

	.o_bar {
		position: absolute;
		top: $o-step-padding-top;
		left: floor($o-step-milestone-size * 0.5);
		height: 100%;
		border-left: $o-step-border-width solid $o-step-color;
		
		&:after {
			position: absolute;
			top: 0;
			left: floor(math.div($o-step-milestone-size, -2) - $o-step-border-width*0.5);
			height: $o-step-milestone-size;
			width: $o-step-milestone-size;
			border: $o-step-border-width solid $o-step-color;
			border-radius: $o-step-milestone-size;
			background: #fff;
			content : " ";
		}
	}

	.o_title {
		margin-top: round($headings-line-height*0.5) * -1 + px;	
		color: $o-step-color !important;
		&:before {
			/* ok or hand icon */
			@include fa-icon();
			position: absolute;
			left: floor($o-step-milestone-size * -1.5);
		}
		a {
			&:before {
				/* toggle icon */
				@include fa-icon();
				content: $fa-var-caret-down;
				width: 1em;
			}
	
			&.collapsed {
				&:before {
					/* toggle icon */
					content: $fa-var-caret-right;			
				}
			}
		}
	}

	.o_step.o_active {
		.o_bar,
		.o_bar:after {
			border-color: $o-step-active-color;
		}
		.o_title {
			color: $o-step-active-color !important;
			&:before {
				content: $fa-var-hand-o-right;			
				color: $o-step-active-marker-color;
			}			
		}
	}
	.o_step.o_done {
		.o_bar,
		.o_bar:after {
			border-color: $o-step-done-color;
		}
		.o_title {
			color: $o-step-done-color !important;
			&:before {
				content: $fa-var-check;			
				color: $o-step-done-marker-color;
			}
		}
	}
	.o_meta {
		color: $o-step-meta-color;
		font-size: $o-step-meta-size;
		margin-top: -0.5em;
	}
}

