.o_proj_projects {
	.o_proj_project_list {
		.o_rendertype_custom {
			.o_proj_project_rows {
				display: grid;
				grid-template-columns: 1fr;
				@media (min-width: $screen-sm-min) {
					grid-template-columns: 1fr 1fr;
				}
				gap: $o-proj-proj-rows-gap;
				
				.o_proj_project_row {
					.panel {
						height: 100%;
						display: flex;
						flex-direction: column;
						margin-bottom: 0;
						.panel-body {
							height: 100%;
							display: flex;
							flex-direction: column;
							.o_start_buttons{
								margin-top: auto;
								padding-top: 10px;
							}
						}
					}
					.o_proj_project_title {
						display: inline;
					}
					.o_proj_project_members {
						margin-bottom: 5px;
					}
					.o_proj_project_modified {
						@extend %o_muted;
					}
					.o_start_buttons {
						display: flex;
						flex-direction: column;
						align-items: end;
					}
				}
			}
		}
	}
}

.o_labeled_light {
	&.o_proj_project_status_active {
		border-color: 		$o-repo-published-color;
		color: 				$o-repo-published-color;
	}
	&.o_proj_project_status_done {
		border-color: 		$o-repo-closed-color;
		color: 				$o-repo-closed-color;
	}
	&.o_proj_project_status_deleted {
		border-color: 		$o-repo-deleted-color;
		color: 				$o-repo-deleted-color;
	}
}
.o_proj_project_status_badge {
	float: right;
	display: inline-block;
	padding: 1px 25px;
	border-radius: $border-radius-small;
	
	&.o_proj_project_status_active {
		background-color: 	$o-repo-published-color;
		color: 				#fff;
	}
	&.o_proj_project_status_done {
		background-color: 	$o-repo-closed-color;
		color: 				#fff;
	}
	&.o_proj_project_status_deleted {
		background-color: 	$o-repo-deleted-color;
		color: 				#fff;
	}
}

.o_proj_avatar {
	display: grid;
	> * {
		// Overlay the image / abbrev and the border
		grid-area: container;
	}
	.o_proj_avatar_image {
		border-radius: $o-proj-avatar-border-radius;
		// Hack to avoid show through of the image
		// My me done with :has() in future: https://stackoverflow.com/a/75298063 
		&.o_proj_avatar_prevborder {
			border-radius: calc($o-proj-avatar-border-radius + 1px);
		}
	}
	img {
		object-fit: cover;
	}
	&.o_proj_avatar_large {
		width: $o-proj-avatar-size-large;
		height: $o-proj-avatar-size-large;
		.o_proj_avatar_image {
			width: $o-proj-avatar-size-large;
			height: $o-proj-avatar-size-large;
		}
		.o_proj_avatar_color {
			font-size: $o-proj-avatar-font-size-large;
		}
	}
	&.o_proj_avatar_medium {
		width: $o-proj-avatar-size-medium;
		height: $o-proj-avatar-size-medium;
		.o_proj_avatar_image {
			width: $o-proj-avatar-size-medium;
			height: $o-proj-avatar-size-medium;
		}
		.o_proj_avatar_color {
			font-size: $o-proj-avatar-font-size-medium;
		}
	}
	.o_proj_avatar_color {
		color: $o-proj-avatar-color;	
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.o_proj_avatar_border {
		border-radius: $o-proj-avatar-border-radius;
		border: 2px solid #fff;
	}
}
.o_proj_avatar_color.o_proj_avatar_dark_blue { background-color: $o-proj-avatar-dark-blue-bg-color; }
.o_proj_avatar_color.o_proj_avatar_light_blue { background-color: $o-proj-avatar-light-blue-bg-color; }
.o_proj_avatar_color.o_proj_avatar_purple { background-color: $o-proj-avatar-purple-bg-color; }
.o_proj_avatar_color.o_proj_avatar_red { background-color: $o-proj-avatar-red-bg-color; }
.o_proj_avatar_color.o_proj_avatar_orange { background-color: $o-proj-avatar-orange-bg-color; }
.o_proj_avatar_color.o_proj_avatar_yellow { background-color: $o-proj-avatar-yellow-bg-color; color: $o-proj-avatar-yellow-color;}
.o_proj_avatar_color.o_proj_avatar_dark_green { background-color: $o-proj-avatar-dark-green-bg-color;}
.o_proj_avatar_color.o_proj_avatar_light_green { background-color: $o-proj-avatar-light-green-bg-color;}


/* Calculation for the project header */
$o-proj-header-background-ratio: calc($o-proj-header-background-width-max / $o-proj-header-background-height-max);
$o-proj-header-background-width-min: calc($o-proj-header-background-ratio * $o-proj-header-background-height-min);
$o-proj-header-background-break: calc($o-proj-header-background-width-min + $grid-gutter-width);

.o_proj_dashboard {
	.o_proj_header_images {
		position: relative;
		min-height: $o_proj-header-background-height-min;
		max-height: $o_proj-header-background-height-max;
		margin-bottom: $o-proj-header-margin-bottom + $o-proj-header-avatar-offset-bottom;
		.o_proj_background_wrapper {
			max-height: $o_proj-header-background-height-max;
			overflow-y: hidden;
			.o_proj_background {
				overflow-y: hidden;
				aspect-ratio: $o-proj-header-background-ratio;
				@media (max-width: $o-proj-header-background-break) {
					overflow-x: hidden;
					aspect-ratio: auto;
					max-height: $o_proj-header-background-height-min;
					height: $o_proj-header-background-height-min;
					img {
						min-width: $o-proj-header-background-width-min;
						width: $o-proj-header-background-width-min;
						object-fit: cover;
						object-position: top left;
					}
				}
			}
		}
		@media (max-width: $screen-xs-max) {
			grid-column: span 3;
		}
		.o_proj_avatar {
			position: absolute;
			bottom: -$o-proj-header-avatar-offset-bottom;
			left: $o-proj-header-avatar-offset-left;
		}
	}
	.o_proj_avatar_shift {
		margin-left: $o-proj-header-avatar-offset-left;
	}
	.o_proj_title {
		gap: 5px;
		flex-wrap: nowrap;
	}
	.o_proj_project_meta {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		.o_proj_project_teaser {
			margin-right: auto;
			min-width: 300px;
			flex: 1;
		}
	}
	.o_proj_widgets {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		
		.o_proj_widget_col {
			grid-column: span 2;
			@media (max-width: $screen-xs-max) {
				grid-column: span 3;
			}
		}
		.o_proj_timeline_col {
			grid-column: span 1;
			@media (max-width: $screen-xs-max) {
				display:none;
			}
		}
	}
	
	.o_proj_widget {
		.o_proj_widget_title {
			h3 {
				font-size: 20px;
				margin: 5px 0px;
			}
			.o_proj_widget_cmds {
				margin: -10px 0px;
				.btn-group,
				.btn {
					font-size: $font-size-h3;
				}
			}
		}
	}
	.panel-heading {
		h3 {
			margin-top: 10px;
		}
	}
}

.o_proj_title {
	.o_proj_ref,
	.o_proj_dashboard_title {
		display: inline;
	}
	.o_proj_avatar_title_ref {
		display: flex;
		gap: 15px;
		.o_proj_avatar ~ .o_proj_title_ref {
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
		}
	}
}

.o_proj_cards {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	>div {
		width: calc(percentage(math.div(1, 3)) - 7px);
		@media (max-width: $screen-md-max) {
			min-width: calc(50% - 5px)
		}
		@media (max-width: $screen-sm-max) {
			min-width: 100%;
		}
	}
}

.o_proj_card {
	border: 1px solid $o-coursesite-rowelem-border;
	border-radius: $o-coursesite-rowelem-border-radius;
	background: #ffffff;
	height: 100%;
	
	&.o_proj_card_link {
		cursor: pointer;
		.o_icon_actions {
			margin: 10px 15px;
		}
	}
	
	.o_proj_card_meta {
		padding: 10px;
		border-radius: $o-coursesite-rowelem-border-radius;
		background: #ffffff;
		.o_proj_card_title {
			margin-top: 0;
			margin-bottom: 5px;
			line-height: 26px;
			
			a {
				@extend %o_nowrap;
				display: block;
			}
		}
		.o_proj_card_members {
			@extend %o_block_small_bottom;
		}
		.o_proj_card_modified {
			@extend %o_muted;
			@extend %o_flex_block_one_line_left;
		}
		.o_proj_card_tags {
			margin-top: 0.5em;
		}
	}
}

.o_proj_quick_widget {
	.panel-body {
		padding: 0;
	}
	
	.o_proj_quick_artefacts {
		padding: 15px;
		ul {
			display: grid;
			grid-template-columns: 1fr;
			@media (min-width: $screen-xs-min) {
				grid-template-columns: 1fr 1fr;
			}
			@media (min-width: $screen-md-min) {
				grid-template-columns: 1fr 1fr 1fr;
			}	
			gap: 15px;
			margin: 0;
			.o_proj_quick_artefact {
				border-bottom: 1px solid $o-coursesite-rowelem-border;
				padding-bottom: 5px;
				cursor: pointer;
				overflow: hidden;
				a {
					display: flex;
					.o_proj_quick_icon {
						display: flex;
						align-items: center;
						i {
							font-size: 2em;
							margin-right: 5px;
						}
					}
					.o_proj_quick_name_changed {
						overflow: hidden;
						.o_proj_quick_name {
							@extend %o_nowrap;
						}
						.o_proj_quick_changed {	
							line-height: 0.9em;
						}
					}
				}
				
			}
		}
	}
	.o_proj_quick_starters {
		ul {
			border-top: 1px solid $o-coursesite-rowelem-border;
			margin: 0;
			display: flex;
			
			.o_proj_quick_starter {
				flex: 1;
				text-align: center;
				padding: 15px;
				&:not(:first-child) {
					border-left: 1px solid $o-coursesite-rowelem-border;
				}
				&:not(:lst-child) {
					border-right: 1px solid $o-coursesite-rowelem-border;
				}
				i {
					display: block;
					font-size: 3em;
					margin-bottom: 5px;
				}
			}
		}
	}
}

.o_proj_file_list {
	&.o_rendertype_custom {
		.o_proj_file_rows {
			.o_proj_file_card {
				height: 200px;
				box-sizing: border-box;
				overflow: hidden;
				position: relative;
				
				.o_proj_file_thumbnail {
					cursor: pointer;
					height: 118px;
					position: relative;
					.o_proj_file_img {
						left: 0;
						overflow: hidden;
						position: absolute;
						text-align: center;
						top: 0;
						transition: opacity 200ms ease-in-out;
						width: 100%;
						img {
							padding: 12px 12px 0px 12px;
							height: auto;
							text-align: center;
						}
					}
					.o_visual_not_available {
						height: 150px;
						background-image:url('#{$o-images-path}no_preview.png');
						background-repeat:no-repeat;
						background-position:50% 50%;	
						background-size: contain;
					}
					.o_proj_file_tags {
						position: absolute;
						bottom: 10px;
						right: 20px;
						max-width: 90%;
						.o_tag_selection_tags {
							justify-content: end;
						}
					}
				}
				.o_proj_file_meta {
					position: relative;
					width: 100%;
					height: 85px;
				}
			}
		}
		
	}
}
.o_proj_references {
	margin-bottom: 15px;
	padding: 0px 5px;
	.o_proj_reference {
		display: flex;
		align-items: center;
		.o_proj_reference_open {
			margin: 0px 10px;
		}
		.o_proj_reference_delete {
			margin-left: auto;
		}
	}
}
.o_proj_metadata {
	display: grid;
	grid-template-columns: 50% 50%;
	@media (max-width: $screen-xs-max) {
		grid-template-columns: 100%;
	}
	.o_proj_activity_log_item {
		grid-column: span 2;
		@media (max-width: $screen-xs-max) {
			grid-column: span 1;
		}
	}
}
.o_proj_reference_selection_results {
	height: 400px;
	overflow-y: auto;
}

.o_proj_note {
	.o_proj_note_header {
		align-items: flex-start;
		.o_proj_note_header_infos {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 30px;
		}
	}
	.panel-body {
		padding: 30px;
		.o_proj_note_content {
			margin-bottom: 50px;
		
			display: flex;
			flex-direction: column;
			gap: 20px;
			
			.o_proj_note_name {
				margin: 0px;
			}
			.o_proj_note_text {
				font-size: 18px;
				line-height: 1.5;
				letter-spacing: .02em;
			}
		}
	}
}
.o_proj_calendar_widget {
	.o_proj_card {
		margin-bottom: 5px;
		.o_proj_calendar_widget_date {
			flex-shrink: 0;
			margin-left: 5px;
		}
	}
}
.o_proj_milestone_edit,
.o_proj_appointment_edit {
	.o_proj_all_day {
		div {
			display: inline-block;
		}
	}
	.o_first_date.form-group {
		>div {
			margin-bottom: 0;
		}
	}
	.o_proj_status_color {
		display: grid;
		gap: 10px;
		grid-template-columns: 1fr 1fr;
	}
}
.o_proj_appointment_preview {
	.o_proj_appointment_tags {
		margin-top: 0.5em;
	}
}
.o_proj_milestone_preview {
	.o_proj_milestone_tags {
		margin-top: 0.5em;
	}
}
.o_proj_timeline {
	// Better way to change the icon?
	.o_icon_search:before { content: $fa-var-filter;}
	.o_table_toolbar {
		margin-left: 15px;
	}
	.o_table_search {
		.form-control {
			width: auto;
		}
	}
	
	.o_proj_timeline_row {
		display: flex;
		gap: $o-proj-timeline-row-gap;
		margin-top: $o-proj-timeline-row-margin-top;
		
		.o_proj_timeline_icon {
			width: $o-portrait-small-size;
			display:flex;
			justify-content: center;
			flex-shrink: 0;
		}
		.o_proj_timeline_doer {
			@extend %o_muted;
			@extend %o_small;
		}
		.o_proj_timeline_date {
			text-align: right;
			margin-left: auto;
		}
		&.o_proj_timeline_today {
			.o_proj_timeline_date {
				font-weight: bold;
				white-space: nowrap;
			}
		}
		&:not(.o_proj_timeline_today) {
			.o_proj_timeline_date {
				@extend %o_muted;
			}
		}
		
		&.o_proj_timeline_range_row {
			.o_proj_timeline_range_deco {
				flex-grow: 10;
				border-top: .1rem solid $text-muted;
				transform: translateY(1rem);
			}
			&.o_proj_timeline_today {
				.o_proj_timeline_range_deco {
					border-top-color: $brand-primary;
				}
				a {
					color: $text-color;
					font-weight: bold;
				}
			}
			&:not(.o_proj_timeline_today) {
				a {
					@extend %o_muted;
				}
			}
		}
		&.o_proj_timeline_more_row {
			justify-content: center;
			@extend %o_small;
		}
	}
	.o_table_add_filter {
		display: none;
	}
}
.o_proj_calendar_all {
	.fc-print-button {
		display: none;
	}
}

.o_proj_references {
	margin-bottom: 15px;
}
.o_proj_reference_selection_results {
	height: 400px;
	overflow-y: auto;
}
.o_proj_metadata {
	display: grid;
	grid-template-columns: 50% 50%;
	@media (max-width: $screen-xs-max) {
		grid-template-columns: 100%;
	}
}

.o_proj_roles_assistance {
	&.o_assistance_accordion {
		.o_item_content {
			.o_components_block {
				display: block;
			}
		}
	}
}

/* Helpers */
.o_proj_title {
	@extend %o_flex_first_grow_base;
	flex-wrap: wrap;
	gap: 10px;
	align-items: end;
	&.o_proj_title_top {
		align-items: start;
	}
	h2 {
		margin: 0;
		display: inline;
	}
}
.btn-group {
 	>.btn:first-child {
		&.o_proj_cmds {
			margin-left: 5px;
		}
	}
}
