/* question pool */
.o_qpool_source_status {
	text-align: center;
}

.o_qitem_author {
	white-space: nowrap;
}

/* status element in dropdown menu */
a.o_qpool_status {
	margin: 0 2px 2px 2px;
	text-align: left;
}

/* Status */
.o_labeled,
.o_toolbar .o_tools_container a.o_labeled {
	&.o_qpool_status_draft {
	    background-color: 	$o-qpool-draft-color;
	    border-color: 		$o-qpool-draft-color;
	    color: 				$o-qpool-status-color-bright;
	}
	&.o_qpool_status_review {
	    background-color: 	$o-qpool-review-color;
	    border-color: 		$o-qpool-review-color;
	    color: 				$o-qpool-status-color-bright;
	}
	&.o_qpool_status_revised {
	    background-color: 	$o-qpool-revised-color;
	    border-color: 		$o-qpool-revised-color;
	    color: 				$o-qpool-status-color-bright;
	}
	&.o_qpool_status_finalVersion {
	    background-color: 	$o-qpool-finalVersion-color;
	    border-color: 		$o-qpool-finalVersion-color;
	    color: 				$o-qpool-status-color-bright;
	}
	&.o_qpool_status_endOfLife {
	    background-color: 	$o-qpool-endOfLife-color;
	    border-color: 		$o-qpool-endOfLife-color;
	    color: 				$o-qpool-status-color-bright;
	}
}
.o_toolbar .o_tools_container a.o_labeled:hover {
	&.o_qpool_status_draft {
	    background-color: 	darken($o-qpool-draft-color,10%);
	}
	&.o_qpool_status_review {
	    background-color: 	darken($o-qpool-review-color,10%);
	}
	&.o_qpool_status_revised {
	    background-color: 	darken($o-qpool-revised-color,10%);
	}
	&.o_qpool_status_finalVersion {
	    background-color: 	darken($o-qpool-finalVersion-color,10%);
	}
	&.o_qpool_status_endOfLife {
	    background-color: 	darken($o-qpool-endOfLife-color,10%);
	}
}

/* Status light */
.o_labeled_light,
.o_toolbar .o_tools_container a.o_labeled_light {
	&.o_qpool_status_draft_light {
	    border-color: 		$o-qpool-draft-color;
	    color: 				$o-qpool-draft-color;
	}
	&.o_qpool_status_review_light {
	    border-color: 		$o-qpool-review-color;
	    color: 				$o-qpool-review-color-dark;
	}
	&.o_qpool_status_revised_light {
	    border-color: 		$o-qpool-revised-color;
	    color: 				$o-qpool-revised-color;
	}
	&.o_qpool_status_finalVersion_light {
	    border-color: 		$o-qpool-finalVersion-color;
	    color: 				$o-qpool-finalVersion-color;
	}
	&.o_qpool_status_endOfLife_light {
	    border-color: 		$o-qpool-endOfLife-color;
	    color: 				$o-qpool-endOfLife-color;
	}
}

/* Status arrows */
.btn-arrow-right.o_qpool_qitem_draft {
	background: $o-qpool-arrow-bg-color;
	border-bottom-color: $o-qpool-draft-color;
	border-bottom-width: $o-qpool-arrow-border-bottom-width
}
.btn-arrow-right.o_qpool_qitem_review {
	background: $o-qpool-arrow-bg-color;
	border-bottom-color: $o-qpool-review-color;
	border-bottom-width: $o-qpool-arrow-border-bottom-width
}
.btn-arrow-right.o_qpool_qitem_revised {
	background: $o-qpool-arrow-bg-color;
	border-bottom-color: $o-qpool-revised-color;
	border-bottom-width: $o-qpool-arrow-border-bottom-width
}
.btn-arrow-right.o_qpool_qitem_final {
	background: $o-qpool-arrow-bg-color;
	border-bottom-color: $o-qpool-finalVersion-color;
	border-bottom-width: $o-qpool-arrow-border-bottom-width
}
.btn-arrow-right.o_qpool_qitem_end_of_life {
	background: $o-qpool-arrow-bg-color;
	border-bottom-color: $o-qpool-endOfLife-color;;
	border-bottom-width: $o-qpool-arrow-border-bottom-width
}
.btn-arrow-right.o_qpool_status_slected {
	background-color: 	$o-qpool-arrow-selected-bg-color;
	color: 				$o-qpool-arrow-selected-color;
}

// Thanks to https://github.com/shpoont/bootstrap-arrow-buttons
.btn-arrow-right,
.btn-arrow-left {
	position: relative;
	padding-left: 18px;
	padding-right: 18px;
	margin-bottom: 5px;
}
.btn-arrow-right {
	padding-left: 36px;
}
.btn-arrow-left {
	padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {

/* make two squares (before and after), looking similar to the button */
	content: "";
	position: absolute;
	top: 5px;
	/* move it down because of rounded corners */
	width: 22.627417px;
	/* same as height */
	height: 22.627417px;
	/* button_inner_height / sqrt(2) */
	background: inherit;
	/* use parent background */
	border: inherit;
	/* use parent border */
	border-left-color: transparent;
	/* hide left border */
	border-bottom-color: transparent;
	/* hide bottom border */
	border-radius: 0px 4px 0px 0px;
	/* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
	-webkit-border-radius: 0px 4px 0px 0px;
	-moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
	transform: rotate(45deg);
	/* rotate right arrow squares 45 deg to point right */
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
	transform: rotate(225deg);
	/* rotate left arrow squares 225 deg to point left */
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before {
	/* align the "before" square to the left */
	left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after {
	/* align the "after" square to the right */
	right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before {
	/* bring arrow pointers to front */
	z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after {
	/* hide arrow tails background */
	background-color: white;
}

