.o_icon_qpool:before { content: $fa-var-bank; }
.o_sel_qpool_my_items:before { content: $fa-var-user; }
.o_sel_qpool_favorits:before { content: $fa-var-bookmark; }
.o_sel_qpool_collection:before { content: $fa-var-list; }
.o_sel_qpool_pool:before { content: $fa-var-share-alt-square;}
.o_sel_qpool_share:before { content: $fa-var-group; }
.o_icon_private_pool:before { content: $fa-var-times; }
.o_icon_public_pool:before { content: $fa-var-check; }

