table.table.o_qti_item_kprim>thead>tr>th,table.table.o_qti_item_kprim>tbody>tr>td, {
	border:none;
}

td.o_qti_item_kprim_input, th.o_qti_item_kprim_input {
	text-align:center;
	
	.radio {
		display:inline;
	}
}

td.o_qti_item_kprim_text {
	width: 80%;
}

/* space in menu between sections */
div.o_qti_menu_section, div.o_qti_menu_section_clickable, div.o_qti_menu_section_active {
	margin-top: $padding-large-vertical;
}

div.o_qti_menu_item a, div.o_qti_menu_section a {
	text-decoration:none;
}

div.o_qti_menu_item {
	padding:.1em;
}

div.o_qti_menu_item_active {
	padding:.1em;
	font-weight:bold;
}

div.o_qti_item_itemfeedback {
	@extend %o_info;
	background-color: #ffffff;
	border-color: #000000;
}


div.o_qti_item_choice_option_flow {
	display: inline-block;
	padding: .5em;
	border: 1px solid transparent;
}

.d3chart {
	.bar_green { fill: $brand-success; }
	.bar_red { fill: $brand-danger; }
	.bar_grey { fill: lightgrey; }
	circle.bubble_green { fill: $brand-success; }
}

div.o_qti_metadatas .panel-body {
	border-top:none;
}

.o_qti_menu_item_attempts:after, .o_qti_menu_item_attempts_marked:after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
} 

.o_qti_menu_item_attempts:after {
	content: $fa-var-flag-o;
}

.o_qti_menu_item_attempts_marked:after {
	content: $fa-var-flag;
	color: $brand-primary;
}