table.table.o_qti_item_kprim>thead>tr>th,table.table.o_qti_item_kprim>tbody>tr>td, {
	border:none;
}

td.o_qti_item_kprim_input, th.o_qti_item_kprim_input {
	text-align:center;
}

div.o_qti_item_itemfeedback {
	@extend .o_info;
	background-color: #ffffff;
	border-color: #000000;

}