.o_qual_main {

	/* --- Data collection dc_status in configuration view --- */
	
	a.o_qual_tools_status, .dropdown-toggle.o_qual_tools_status  {
		@extend %o_labeled;
	}
	.dropdown-toggle.o_qual_tools_status > i {
		margin: 0 0 3px 0;
	}

	.dropdown-menu.o_qual_tools_status {
		cursor:pointer;
	}

	a.o_qual_status {
		margin: 0 2px 2px 2px;
		text-align: left;
	}

	a.o_qual_dc_status_preparation, .dropdown-toggle.o_qual_dc_status_preparation {
		background-color: 	$o-qual-dc-preparation-color !important;
		border-color: 		$o-qual-dc-preparation-color;
		color: 				$o-qual-status-color-bright	!important;
	}
	a.o_qual_dc_status_ready, .dropdown-toggle.o_qual_dc_status_ready {
		background-color: 	$o-qual-dc-ready-color !important;
		border-color: 		$o-qual-dc-ready-color;
		color: 				$o-qual-status-color-bright !important;
	}
	a.o_qual_dc_status_running, .dropdown-toggle.o_qual_dc_status_running {
		background-color: 	$o-qual-dc-running-color !important;
		border-color: 		$o-qual-dc-running-color;
		color: 				$o-qual-status-color-bright !important;
	}
	a.o_qual_dc_status_finished, .dropdown-toggle.o_qual_dc_status_finished {
		background-color: 	$o-qual-dc-finished-color !important;
		border-color: 		$o-qual-dc-finished-color;
		color: 				$o-qual-status-color-bright !important;
	}
	
	
	/* --- Data collection status in data collection list --- */

	.o_qual_dc_list {
		tbody {
			tr {
				// status
				td:nth-child(1) {
					padding-top: 3px;
				}
			}
		}
	}

	.o_qual_dc_status_preparation_light {
		border-color: 		$o-qual-dc-preparation-color;
		color: 				$o-qual-dc-preparation-color;
	}
	.o_qual_dc_status_ready_light {
		border-color: 		$o-qual-dc-ready-color;
		color: 				$o-qual-dc-ready-color-dark;
	}
	.o_qual_dc_status_running_light {
		border-color: 		$o-qual-dc-running-color;
		color: 				$o-qual-dc-running-color;
	}
	.o_qual_dc_status_finished_light {
		border-color: 		$o-qual-dc-finished-color;
		color: 				$o-qual-dc-finished-color;
	}
	
	
	/* --- Status in executor participation list --- */

	.o_qual_exec_list {
		tbody {
			tr {
				// status
				td:nth-child(1) {
					padding-top: 3px;
				}
			}
		}
	}

	.o_qual_exec_status_future_light {
		border-color: 		$o-qual-exec-future-color;
		color: 				$o-qual-exec-future-color;
	}
	.o_qual_exec_status_ready_light {
		border-color: 		$o-qual-exec-ready-color;
		color: 				$o-qual-exec-ready-color-dark;
	}
	.o_qual_exec_status_participating_light {
		border-color: 		$o-qual-exec-participating-color;
		color: 				$o-qual-exec-participating-color;
	}
	.o_qual_exec_status_participated_light {
		border-color: 		$o-qual-exec-participated-color;
		color: 				$o-qual-exec-participated-color;
	}
	.o_qual_exec_status_over_light {
		border-color: 		$o-qual-exec-over-color;
		color: 				$o-qual-exec-over-color;
	}
	
}


.o_qual_execute, .o_qual_report_header {
	.o_qual_context_table {
		margin-bottom: 0;
		
		th {
			width: 40%;
			border-top: none;
			padding: 4px 8px;
		}
		td {
			width: 60%;
			border-top: none;
			padding: 4px 8px;
		}
	}
}

.o_qual_ana_table {
	.o_table_body {
		padding: 0;
	}
}

.o_qual_ana_filter {
	.o_date_range {
		margin-bottom: 0px;
		
		.control-label {
			margin-bottom: 5px;
		}
		.o_date {
			margin-bottom: 15px;
			padding-right: 12px;
		}
		.o_date_range_from {
			padding-right: 12px;
		}
		.o_date_range_to {
			padding-right: 0px;
		}
	}
}

.o_qual_hm_basecolor { background-color: $o-qual-hm-base-background-color;}
.o_qual_hm {
	.o_circle_container {
		display: flex;
	}
	.o_circle_box {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.o_circle {
		border-radius: 50%;
		
		&.o_rubric_insufficient { 
			background-color: $o-evaluation-insufficient-color !important;
		}
		&.o_rubric_neutral { 
			background-color: $o-evaluation-neutral-color !important;
		}
		&.o_rubric_sufficient { 
			background-color: $o-evaluation-sufficient-color !important;
		}
	}
	.o_avg {
		display: flex;
		align-items: center;
		margin-left: 5px;
	}
}

.o_qual_hm_legend {
	padding: 5px;
	
	li {
		font-size: 90%;
	}
	.ident {
		font-weight: bold;
	}
}

@media (max-width: $screen-sm-min) {
	.o_hm_group_select {
		padding-bottom: 12px;
	}
}

@media print {
	.o_qual_hm .o_circle {		
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
		&.o_rubric_insufficient { 
			background-color: $o-evaluation-insufficient-color !important;
		}
		&.o_rubric_neutral { 
			background-color: $o-evaluation-neutral-color !important;
		}
		&.o_rubric_sufficient { 
			background-color: $o-evaluation-sufficient-color !important;
		}
	}
}