/* based on code found here: 
https://medium.com/@andsens/radial-progress-indicator-using-css-a917b80c43f9
http://jsfiddle.net/andsens/mLA7X/
https://gist.github.com/digitalbreed/84a19db69244b22519e03550ba010a25
*/

/* Standard size */
$o-radial-progress-inset-size			: $o-radial-progress-circle-size * 0.75 !default; // 90px
$o-radial-progress-percentage-font-size	: $o-radial-progress-circle-size * 0.18 !default; // 22px
.radial-progress {	
			
	margin: $o-radial-progress-margin;
	width: $o-radial-progress-circle-size;
	height: $o-radial-progress-circle-size;
	background-color: $o-radial-progress-circle-bg;
	border-radius: 50%;
	font-size: $o-radial-progress-percentage-font-size;
	
	/* fix display issues in print and behave like an image tag*/
	display: inline-block;
	position: relative;

	.circle {
		display: block;
		.mask, .fill, .shadow {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 50%;
		}
		.shadow {
			box-shadow: $o-radial-progress-shadow inset;
		}
		.mask, .fill {
			-webkit-backface-visibility: hidden;
			transition: -webkit-transform $o-radial-progress-transition-length;
			transition: -ms-transform $o-radial-progress-transition-length;
			transition: transform $o-radial-progress-transition-length;
			border-radius: 50%;
		}
		.mask {
			clip: rect(0px, $o-radial-progress-circle-size, $o-radial-progress-circle-size, $o-radial-progress-circle-size/2);
			.fill {
				clip: rect(0px, $o-radial-progress-circle-size/2, $o-radial-progress-circle-size, 0px);
				background-color: $o-radial-progress-circle-color;
			}
		}
	}
	.inset {
		display: block;
		width: $o-radial-progress-inset-size;
		height: $o-radial-progress-inset-size;
		position: absolute;
		border-radius: 50%;
		margin-left: ($o-radial-progress-circle-size - $o-radial-progress-inset-size)/2;
		margin-top: ($o-radial-progress-circle-size - $o-radial-progress-inset-size)/2;
		overflow: hidden;
		background-color: $o-radial-progress-inset-color;
		box-shadow: $o-radial-progress-shadow;
		font-size: $o-radial-progress-inset-size - 10px; /* for bgIcon */
		line-height: $o-radial-progress-inset-size - 10px;
		text-align: center;
		
		.bgIcon {
			position: absolute;
			top: 5px;
			left: -5px;
			opacity: 0;
			transition: opacity 0;
			transition-delay: $o-radial-progress-transition-length;
		}
	}
			
	.percentage {
		height: 80%;
		width: 80%;
		position: absolute;
		top: 10%;
		left: 10%;
		display: table; /* for vertical alignment */
		line-height: 1;
		
		.centeredWrapper {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			.number {
				display: block;
				margin-right: -0.4em; // visually center
				font-weight: 800;
				color: $o-radial-progress-number-color;
			}
			.addon {
				display: block;
				color: $o-radial-progress-addon-color;	
				margin-top: 0.2em; 
				margin-bottom: -0.4em; 
				>span {
					display: block;
					font-size: 0.6em; 
					font-weight: bold;
				}
				>span+span {					
					display: block;
					margin-top: 2px; 
					font-size:0.5em;
				}					
			}
		}
	}

	$increment: 180deg / 100;
	@for $i from 0 through 100 {
		&[data-progress="#{$i}"] {
			.circle {
				.mask.full, .fill {
					-webkit-transform: rotate($increment * $i);
					-ms-transform: rotate($increment * $i);
					transform: rotate($increment * $i);
				}
				.fill.fix {
					-webkit-transform: rotate($increment * $i * 2);
					-ms-transform: rotate($increment * $i * 2);
					transform: rotate($increment * $i * 2);
				}
			}
		}
	}
	&:not([data-progress="0"]) {
		.inset .bgIcon {
			opacity: 1;
		}
	}

	&+.o_progress_label_wrapper { /* when renderend outside of progressbar */
		margin-left: 0.5em;
	}		
}
	

/* small variant */
$o-radial-progress-inset-size-sm				: $o-radial-progress-circle-size-sm * 0.75 !default;
$o-radial-progress-percentage-font-size-sm		: $o-radial-progress-circle-size-sm * 0.24 !default;
.radial-progress-sm {

	width: $o-radial-progress-circle-size-sm;
	height: $o-radial-progress-circle-size-sm;
	font-size: $o-radial-progress-percentage-font-size-sm;
	
	.circle {
		.mask {
			clip: rect(0px, $o-radial-progress-circle-size-sm, $o-radial-progress-circle-size-sm, $o-radial-progress-circle-size-sm/2);
			.fill {
				clip: rect(0px, $o-radial-progress-circle-size-sm/2, $o-radial-progress-circle-size-sm, 0px);
			}
		}
	}
	.inset {
		width: $o-radial-progress-inset-size-sm;
		height: $o-radial-progress-inset-size-sm;
		margin-left: ($o-radial-progress-circle-size-sm - $o-radial-progress-inset-size-sm)/2;
		margin-top: ($o-radial-progress-circle-size-sm - $o-radial-progress-inset-size-sm)/2;
		font-size: $o-radial-progress-inset-size - 10px; /* for bgIcon */
		line-height: $o-radial-progress-inset-size-sm - 10px;
		font-size: $o-radial-progress-inset-size-sm - 5px;
		.bgIcon {
			position: absolute;
			top: 5px;
		}
	}
}

/* large variant */
$o-radial-progress-inset-size-lg				: $o-radial-progress-circle-size-lg * 0.75 !default;
$o-radial-progress-percentage-font-size-lg		: $o-radial-progress-circle-size-lg * 0.18 !default;
.radial-progress-lg {

	width: $o-radial-progress-circle-size-lg;
	height: $o-radial-progress-circle-size-lg;
	font-size: $o-radial-progress-percentage-font-size-lg;
	
	.circle {
		.mask {
			clip: rect(0px, $o-radial-progress-circle-size-lg, $o-radial-progress-circle-size-lg, $o-radial-progress-circle-size-lg/2);
			.fill {
				clip: rect(0px, $o-radial-progress-circle-size-lg/2, $o-radial-progress-circle-size-lg, 0px);
			}
		}
	}
	.inset {
		width: $o-radial-progress-inset-size-lg;
		height: $o-radial-progress-inset-size-lg;
		margin-left: ($o-radial-progress-circle-size-lg - $o-radial-progress-inset-size-lg)/2;
		margin-top: ($o-radial-progress-circle-size-lg - $o-radial-progress-inset-size-lg)/2;
		font-size: $o-radial-progress-inset-size-lg - 20px;
		line-height: $o-radial-progress-inset-size-lg - 10px;
		.bgIcon {
			position: absolute;
			top: 5px;
		}
	}
}

/* inline variant */
$o-radial-progress-inset-size-inline				: $o-radial-progress-circle-size-inline * 0.70 !default;
$o-radial-progress-percentage-font-size-inline		: $o-radial-progress-circle-size-inline * 0.18 !default;
.radial-progress-inline {

	width: $o-radial-progress-circle-size-inline;
	height: $o-radial-progress-circle-size-inline;

	margin: 0;
	vertical-align: bottom;
	display: inline-block;
	
	.circle {
		.mask {
			clip: rect(0px, $o-radial-progress-circle-size-inline, $o-radial-progress-circle-size-inline, $o-radial-progress-circle-size-inline/2);
			.fill {
				clip: rect(0px, $o-radial-progress-circle-size-inline/2, $o-radial-progress-circle-size-inline, 0px);
			}
		}
	}
	.inset {
		width: $o-radial-progress-inset-size-inline;
		height: $o-radial-progress-inset-size-inline;
		margin-left: ($o-radial-progress-circle-size-inline - $o-radial-progress-inset-size-inline)/2;
		margin-top: ($o-radial-progress-circle-size-inline - $o-radial-progress-inset-size-inline)/2;
		.bgIcon {
			display: none;
		}
	}
}

/* pie style without inset*/
.radial-progress-pie {
	.percentage .centeredWrapper {
		.number,
		.o_progress_label {
			color: #fff;
			text-shadow: 1px 1px 2px #000000;
		}
	}		
}	

/* color variants */
.radial-progress-success {
	.circle .mask .fill, .circle .fill {
		background-color: $o-radial-progress-circle-success-color;
	}
	.inset .percentage .number span {
		color: $o-radial-progress-percentage-success-color;
	}
}
.radial-progress-info {
	.circle .mask .fill, .circle .fill {
		background-color: $o-radial-progress-circle-info-color;
	}
	.inset .percentage .number span {
		color: $o-radial-progress-percentage-info-color;
	}
}
.radial-progress-danger {
	.circle .mask .fill, .circle .fill {
		background-color: $o-radial-progress-circle-danger-color;
	}
	.inset .percentage .number span {
		color: $o-radial-progress-percentage-danger-color;
	}
}
.radial-progress-warning {
	.circle .mask .fill, .circle .fill {
		background-color: $o-radial-progress-circle-warning-color;
	}
	.inset .percentage .number span {
		color: $o-radial-progress-percentage-warning-color;
	}
}

/* toolbar variant */
$o-radial-progress-circle-size-toolbar				: $o-toolbar-height-md + 8px !default;
$o-radial-progress-inset-size-toolbar				: $o-radial-progress-circle-size-toolbar - 8px !default;
$o-radial-progress-percentage-font-size-toolbar		: $o-toolbar-size-text-md !default;
.o_toolbar .o_tool .o_progress {
	width: $o-toolbar-height-md;
	height: $o-toolbar-height-md - 4px;
	position: relative;
	display: inline-block;
	overflow: visible; /* fix overflow rule from toolbar.scss */
	
	
	.radial-progress {
		width: $o-radial-progress-circle-size-toolbar;
		height: $o-radial-progress-circle-size-toolbar;
		font-size: $o-radial-progress-percentage-font-size-toolbar;
		
		position: absolute;
		top: -5px;
		left: 0;
		margin: 0;
	
		.circle {
			.mask {
				clip: rect(0px, $o-radial-progress-circle-size-toolbar, $o-radial-progress-circle-size-toolbar, $o-radial-progress-circle-size-toolbar/2);
				.fill {
					clip: rect(0px, $o-radial-progress-circle-size-toolbar/2, $o-radial-progress-circle-size-toolbar, 0px);
				}
			}
		}
		.inset {
			width: $o-radial-progress-inset-size-toolbar;
			height: $o-radial-progress-inset-size-toolbar;
			margin-left: ($o-radial-progress-circle-size-toolbar - $o-radial-progress-inset-size-toolbar)/2;
			margin-top: ($o-radial-progress-circle-size-toolbar - $o-radial-progress-inset-size-toolbar)/2;
			font-size: $o-radial-progress-inset-size-toolbar;
			line-height: $o-radial-progress-inset-size-toolbar;
			background: $o-toolbar-bg-color;
		}
		.percentage {
			.centeredWrapper {
				.number {
					color: $o-toolbar-link-color;
					margin-right: -0.3em;
				}
				.addon {
					margin-top: -0.1em; 
					margin-bottom: -0.3em; 
					>span {
						font-size: 0.8em; 
						font-weight: normal;
					}
				}
			}
			.o_progress_label {
				display: none;
			}
		}
	}
		
}
@media (max-width: $screen-sm-max) { 
	.o_toolbar .o_tool .o_progress,
	.o_coursetable.o_rendertype_custom .o_completion .o_progress {
		width: $o-toolbar-height-sm;
		height: $o-toolbar-height-sm - 4px;
		.radial-progress {
			$o-radial-progress-circle-size-toolbar				: $o-toolbar-height-sm + 6px;
			$o-radial-progress-inset-size-toolbar				: $o-radial-progress-circle-size-toolbar - 6px;
			$o-radial-progress-percentage-font-size-toolbar		: $o-toolbar-size-text-sm;
		
			width: $o-radial-progress-circle-size-toolbar;
			height: $o-radial-progress-circle-size-toolbar;
			font-size: $o-radial-progress-percentage-font-size-toolbar;			
			top: -3px;
		
			.circle {
				.mask {
					clip: rect(0px, $o-radial-progress-circle-size-toolbar, $o-radial-progress-circle-size-toolbar, $o-radial-progress-circle-size-toolbar/2);
					.fill {
						clip: rect(0px, $o-radial-progress-circle-size-toolbar/2, $o-radial-progress-circle-size-toolbar, 0px);
					}
				}
			}
			.inset {
				width: $o-radial-progress-inset-size-toolbar;
				height: $o-radial-progress-inset-size-toolbar;
				margin-left: ($o-radial-progress-circle-size-toolbar - $o-radial-progress-inset-size-toolbar)/2;
				margin-top: ($o-radial-progress-circle-size-toolbar - $o-radial-progress-inset-size-toolbar)/2;
				font-size: $o-radial-progress-inset-size-toolbar;
				line-height: $o-radial-progress-inset-size-toolbar;			
			}
		}
	}
	/* fix positioning in course listing */
	.o_coursetable.o_rendertype_custom .o_completion .o_progress {
		display: inline-block;
		.radial-progress {
			position: relative;
			top: 0;
			left: -4px;
			margin: 0;
		}
	}
}

@media (max-width: $screen-xs-max) { 
	.o_toolbar .o_tool .o_progress,
	.o_coursetable.o_rendertype_custom .o_completion .o_progress {
		width: $o-toolbar-height-xs;
		height: $o-toolbar-height-xs;
		.radial-progress {
			$o-radial-progress-circle-size-toolbar				: $o-toolbar-height-xs + 4px;
			$o-radial-progress-inset-size-toolbar				: $o-radial-progress-circle-size-toolbar - 6px;
		
			width: $o-radial-progress-circle-size-toolbar;
			height: $o-radial-progress-circle-size-toolbar;
			top: -2px;
		
			.circle {
				.mask {
					clip: rect(0px, $o-radial-progress-circle-size-toolbar, $o-radial-progress-circle-size-toolbar, $o-radial-progress-circle-size-toolbar/2);
					.fill {
						clip: rect(0px, $o-radial-progress-circle-size-toolbar/2, $o-radial-progress-circle-size-toolbar, 0px);
					}
				}
			}
			.inset {
				width: $o-radial-progress-inset-size-toolbar;
				height: $o-radial-progress-inset-size-toolbar;
				margin-left: ($o-radial-progress-circle-size-toolbar - $o-radial-progress-inset-size-toolbar)/2;
				margin-top: ($o-radial-progress-circle-size-toolbar - $o-radial-progress-inset-size-toolbar)/2;
				&:after {
					display: none;
				}
			}
			.percentage {
				display: none;
			}
		}
	}	
}

/* special rendering in course list table */
.o_coursetable.o_rendertype_classic .o_progress .radial-progress {
	@extend .radial-progress, .radial-progress-inline;
	/* remove unwanted stuff */
	.inset:after {
		display: none;
	}
	.percentage {
		position: relative;
		left: $o-radial-progress-circle-size-inline * 1.4;
		.number {
			font-size: $o-content-font-size-base;
			line-height: $o-content-line-height-base;
			font-weight: normal;
			color: $text-color;
		}
		.addon {
			display: none;
		}
	}
}	



/* Styles with background images triggered by element css class */
.o_progress_failed, .o_progress_passed {	
	.inset:after {
		@extend .o_icon; 
	}
	.radial-progress-inline .inset {
		display: none;	
	}
	.radial-progress-toolbar .inset {
		font-size: $o-toolbar-height-md;
		line-height: $o-toolbar-height-md;
	}
}
.o_progress_failed .inset:after {
	content: $fa-var-times; 
	color: #efe5e5;
}
.o_progress_passed .inset:after {
	content: $fa-var-check; 
	color: #e5efe5;
}
