/* 
Radial progress bar and pie chart

Concept: 
- Radial progress is rendered as an SVG with two circles. 
	- First circle is for the background color of the circle
	- Second circle is for the progress bar color
	- When the progress bar circle has the full width the radial progress becomes a pie-chart
	- The progress bar is controlled by a data-progress attribute on the radial-progress wrapper
- The percentage element is a regular DOM element placed over the SVG
	- Contains the percent number and some add-on text
	- an contain a background icon for success and failure on a ::before element
- The progress can be animated using the Web Animations API with this function: 
	o_animateRadialProgress(radialProgressDomSelector, percent);
- Be aware of the print override styles in the _print.scss
- Based on code found here:
	https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/
*/

/* Standard size */
$o-radial-progress-inset-size			: $o-radial-progress-circle-size * 0.75 !default; // 90px
$o-radial-progress-percentage-font-size	: $o-radial-progress-circle-size * 0.18 !default; // 22px
.radial-progress {				
	margin: $o-radial-progress-margin;
	width: $o-radial-progress-circle-size;
	height: $o-radial-progress-circle-size;
	font-size: $o-radial-progress-percentage-font-size;
	
	/* fix display issues in print and behave like an image tag */
	display: inline-block;
	position: relative;
	
	svg {
  		width: 100%; 
  		height: 100%;
  		transform: rotate(-90deg); /* start on top */
  		border-radius: 50%;
  		fill: $o-radial-progress-inset-color;
	}
	.radial-bg {
	  fill: transparent;
	  stroke: $o-radial-progress-circle-bg;
	}
	.radial-bar {
	  fill: transparent;
	  stroke: $o-radial-progress-circle-color;
	  stroke-dasharray: 0 100; /* for 0% */
	}			
	
	/* progress bar size and no size for pie style */
	.radial-bg,
	.radial-bar {
		stroke-width: 8;
	}
	&.radial-progress-pie {
		.radial-bg,
		.radial-bar {
			stroke-width: 32;
		}
	}
			
	.percentage {
		height: 80%;
		width: 80%;
		position: absolute;
		top: 10%;
		left: 10%;
		display: table; /* for vertical alignment */
		line-height: 1;
		
		.centeredWrapper {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			.number {
				display: block;
				margin-right: -0.4em; // visually center
				font-weight: 800;
				color: $o-radial-progress-number-color;
			}
			.addon {
				display: block;
				color: $o-radial-progress-addon-color;	
				margin-top: 0.2em; 
				margin-bottom: -0.4em; 
				>span {
					display: block;
					font-size: 0.6em; 
					font-weight: bold;
				}
				>span+span {					
					display: block;
					margin-top: 2px; 
					font-size:0.5em;
				}					
			}
		}
	
		/* background icons for passed/failed */	
		&:before {
			font-size: $o-radial-progress-circle-size * 0.7;
		}		
	}

	$increment: 180deg * 0.01;
	@for $i from 0 through 100 {
		&[data-progress="#{$i}"] {
			svg .radial-bar {
	  			stroke-dasharray: $i 100; /* for 0% */
			}
		}
	}
	&[data-progress="0"] {
		svg .radial-bar {
			fill: none;
			stroke: none;
			stroke-dasharray: none;
		}
		.percentage:before {
			display: none;
		}
	}

	&+.o_progress_label_wrapper { /* when renderend outside of progressbar */
		margin-left: 0.5em;
	}		
}
	
/* small variant */
$o-radial-progress-inset-size-sm				: $o-radial-progress-circle-size-sm * 0.75 !default;
$o-radial-progress-percentage-font-size-sm		: $o-radial-progress-circle-size-sm * 0.24 !default;
.radial-progress-sm {
	width: $o-radial-progress-circle-size-sm;
	height: $o-radial-progress-circle-size-sm;
	font-size: $o-radial-progress-percentage-font-size-sm;

	.percentage:before {
		font-size: $o-radial-progress-circle-size-sm * 0.7;
	}		
}


/* large variant */
$o-radial-progress-inset-size-lg				: $o-radial-progress-circle-size-lg * 0.75 !default;
$o-radial-progress-percentage-font-size-lg		: $o-radial-progress-circle-size-lg * 0.18 !default;

.radial-progress-lg {
	width: $o-radial-progress-circle-size-lg;
	height: $o-radial-progress-circle-size-lg;
	font-size: $o-radial-progress-percentage-font-size-lg;

	.percentage:before {
		font-size: $o-radial-progress-circle-size-lg * 0.7;
	}		
}


/* inline variant */
$o-radial-progress-inset-size-inline				: $o-radial-progress-circle-size-inline * 0.70 !default;
$o-radial-progress-percentage-font-size-inline		: $o-radial-progress-circle-size-inline * 0.18 !default;
.radial-progress-inline {
	width: $o-radial-progress-circle-size-inline;
	height: $o-radial-progress-circle-size-inline;
	font-size: $o-radial-progress-percentage-font-size-inline;
	margin: 0;
	vertical-align: bottom;
	
	.percentage:before {
		display: none;
	}		
}

/* pie style*/
.radial-progress-pie {
	.percentage .centeredWrapper {
		.number,
		.o_progress_label {
			color: #fff;
			text-shadow: 1px 1px 2px #000000;
		}
	}		
}	

/* color variants */
.radial-progress-success {
	.radial-bar {
	  stroke: $o-radial-progress-circle-success-color;
	}
	&:not(.radial-progress-pie) .percentage .number {
		color: $o-radial-progress-percentage-success-color;
	}
}
.radial-progress-info {
	.radial-bar {
	  stroke: $o-radial-progress-circle-info-color;
	}
	&:not(.radial-progress-pie) .percentage .number {
		color: $o-radial-progress-percentage-info-color;
	}
}
.radial-progress-danger {
	.radial-bar {
	  stroke: $o-radial-progress-circle-danger-color;
	}
	&:not(.radial-progress-pie) .percentage .number {
		color: $o-radial-progress-percentage-danger-color;
	}
}
.radial-progress-warning {
	.radial-bar {
	  stroke: $o-radial-progress-circle-warning-color;
	}
	&:not(.radial-progress-pie) .percentage .number {
		color: $o-radial-progress-percentage-warning-color;
	}
}

/* toolbar variant */
$o-radial-progress-circle-size-toolbar				: $o-toolbar-height-md + 8px !default;
$o-radial-progress-inset-size-toolbar				: $o-radial-progress-circle-size-toolbar - 8px !default;
$o-radial-progress-percentage-font-size-toolbar		: $o-toolbar-size-text-md !default;

.o_toolbar .o_tool .o_progress {
	width: $o-toolbar-height-md;
	height: $o-toolbar-height-md - 4px;
	position: relative;
	display: inline-block;
	overflow: visible; /* fix overflow rule from toolbar.scss */
	
	.radial-progress {
		width: $o-radial-progress-circle-size-toolbar;
		height: $o-radial-progress-circle-size-toolbar;
		font-size: $o-radial-progress-percentage-font-size-toolbar;

		position: absolute;
		top: -5px;
		left: 0;
		margin: 0;
		
		.percentage {
			.centeredWrapper {
				.number {
					color: $o-toolbar-link-color;
					margin-right: -0.3em;
				}
				.addon {
					margin-top: -0.1em; 
					margin-bottom: -0.3em; 
					>span {
						font-size: 0.8em; 
						font-weight: normal;
					}
				}
			}
			.o_progress_label {
				display: none;
			}
			&:before {
				font-size: $o-radial-progress-circle-size-toolbar * 0.7;
			}		
		}
	}
}


@media (max-width: $screen-sm-max) { 
	.o_toolbar .o_tool .o_progress,
	.o_coursetable.o_rendertype_custom .o_completion .o_progress {
		width: $o-toolbar-height-sm;
		height: $o-toolbar-height-sm - 4px;		
		.radial-progress {
			$o-radial-progress-circle-size-toolbar				: $o-toolbar-height-sm + 6px;
			$o-radial-progress-inset-size-toolbar				: $o-radial-progress-circle-size-toolbar - 6px;
			$o-radial-progress-percentage-font-size-toolbar		: $o-toolbar-size-text-sm;
		
			width: $o-radial-progress-circle-size-toolbar;
			height: $o-radial-progress-circle-size-toolbar;
			font-size: $o-radial-progress-percentage-font-size-toolbar;			
			top: -3px;	
				
			.percentage:before {
				font-size: $o-radial-progress-circle-size-toolbar * 0.7;
			}	
		}
	}
	/* fix positioning in course listing */
	.o_coursetable.o_rendertype_custom .o_completion .o_progress {
		display: inline-block;
		.radial-progress {
			position: relative;
			top: 0;
			left: -4px;
			margin: 0;
		}
	}
}


@media (max-width: $screen-xs-max) { 
	.o_toolbar .o_tool .o_progress,
	.o_coursetable.o_rendertype_custom .o_completion .o_progress {
		width: $o-toolbar-height-xs;
		height: $o-toolbar-height-xs;
		.radial-progress {
			$o-radial-progress-circle-size-toolbar				: $o-toolbar-height-xs + 4px;
			$o-radial-progress-inset-size-toolbar				: $o-radial-progress-circle-size-toolbar - 6px;
		
			width: $o-radial-progress-circle-size-toolbar;
			height: $o-radial-progress-circle-size-toolbar;
			top: -2px;
		
			.percentage {
				display: none;
			}
		}
	}	
}

/* special rendering in course list table */
.o_coursetable.o_rendertype_classic .o_progress .radial-progress {
	width: $o-radial-progress-circle-size-inline;
	height: $o-radial-progress-circle-size-inline;
	font-size: $o-radial-progress-percentage-font-size-inline;
		
	margin: 0;
	vertical-align: bottom;
	
	.percentage {
		position: absolute;
		left: $o-radial-progress-circle-size-inline * 1.4;
		top: 0;
		.number {
			font-size: $o-content-font-size-base;
			line-height: $o-content-line-height-base;
			font-weight: normal;
			color: $text-color;
		}
		.addon {
			display: none;
		}
		&:before {
			display: none;
		}
	}
}	

/* Styles with background images triggered by element css class */
.o_progress_failed, .o_progress_passed {	
	.percentage {
		z-index: 1;	
	}
	.percentage:before {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		line-height: 120%;
		@extend .o_icon; 
	}
		
	.radial-progress-inline .percentage {
		display: none;	
	}
	.radial-progress-toolbar .percentage {
		font-size: $o-toolbar-height-md;
		line-height: $o-toolbar-height-md;
	}
}
.o_progress_failed .percentage:before {
	content: $fa-var-times; 
	color: #efe5e5;
}
.o_progress_passed .percentage:before {
	content: $fa-var-check; 
	color: #e5efe5;
}
