.o_rating {
	.o_rating_title {
		font-weight: bold;
		font-size: 75%;	
	}
	.o_rating_items {
		white-space: nowrap;	
		.o_icon {
			color:$brand-warning;
			&:hover {
				color: $brand-primary;
			}		
		}
		.o_legend {
			margin-left: 1em;
			font-size: 75%;		
			line-height: 1em;
		}
		&.o_enabled {
			.o_icon:hover {
				@extend .o_icon_rating_on;					
			}		
		}
	}	
	.o_rating_explanation {
		font-size: 75%;
	}
	
	@media (max-width: $screen-sm-max) {
		.o_rating_title, .o_rating_explanation {
			display: none;
		}
	}
}
