.o_rating {
	.o_rating_title {
		font-size: $font-size-small;	
	}
	.o_rating_items {
		white-space: nowrap;	
		.o_icon {
			color:$brand-warning;
		}
		.o_legend {
			margin-left: 1em;
			font-size: $font-size-small;		
			line-height: normal;
		}
		&.o_enabled {
			.o_icon:hover {
				@extend .o_icon_rating_on;					
			}		
		}
	}	
	&.o_rating_personal .o_rating_items {
		.o_icon {
			color: $brand-primary;
		}	

	}
	.o_rating_explanation {
		font-size: $font-size-small;
		color: $text-muted;
	}
	
	@media (max-width: $screen-sm-max) {
		.o_rating_title, .o_rating_explanation {
			display: none;
		}
	}
}

.o_comments { 
	.o_comment_wrapper {
		.o_avatar { 
			float: left;
			margin: 0 1em 0 0;
		}
		.o_reply, .o_delete {
			float: right;		
		}
		h5 {
			@extend %o_small;
		}
		.o_comment { 
			@extend %o_small;
		}
		/* a reply to a comment */		
		.o_comment_wrapper {
			margin-left: $padding-large-horizontal; 		
		}
		
	}
} 

.o_ratings_and_comments {
	.o_rating_wrapper {
		vertical-align: middle;
		display: inline-block;
	}
	a.o_comments {
		margin-left: $padding-large-vertical;
		position: relative;
		top: 0.1em; /* fix line correlation to stars */
	}
	div.o_notifications {
		float: right;
	}
}