.o_rating {
	.o_rating_title {
		font-size: $font-size-small;	
	}
	.o_rating_items {
		white-space: nowrap;	
		.o_icon {
			color:$brand-warning;
		}
		.o_legend {
			margin-left: 1em;
			font-size: $font-size-small;		
			line-height: normal;
		}
		&.o_enabled {
			.o_icon:hover {
				@extend .o_icon_rating_on;					
			}
		}
		&:not(.o_enabled) {
			a {
				cursor: default;
			}
		}
	}	
	&.o_rating_personal .o_rating_items {
		.o_icon {
			color: $brand-primary;
		}	

	}
	.o_rating_explanation {
		font-size: $font-size-small;
		color: $text-muted;
	}
	
	@media (max-width: $screen-sm-max) {
		.o_rating_title, .o_rating_explanation {
			display: none;
		}
	}
}

.o_rating.o_rating_yesno {
	.o_rating_items {
		white-space: nowrap;	
		.o_icon {
			color:$brand-info;
		}
		&.o_enabled a:hover {
			.o_icon_rating_no_on {
				@extend .o_icon_rating_no_off;					
			}
			.o_icon_rating_no_off {
				@extend .o_icon_rating_no_on;					
			}
			.o_icon_rating_yes_on {
				@extend .o_icon_rating_yes_off;					
			}
			.o_icon_rating_yes_off {
				@extend .o_icon_rating_yes_on;					
			}
		}
		
		.btn-primary>i {
			color: white;
		}
	}
	
	.o_rating_explanation {
		display: none;
	}
}

.o_comments { 
	.o_comment_wrapper {
		>blockquote {
			.o_comment_meta {
				>small:before {
					display: none;
				}
			}
		}
		.o_avatar { 
			float: left;
			margin: 0 1em 0 0;
		}
		.o_tools {
			float: right;
		}
		.o_comment_meta {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			.o_comment_author {
				font-weight: bold;
			}
		}
		.o_comment {
			@extend %o_small;
			border-left: none;
			font-size: 14px;
			padding: 5px 0 0 42px;
			>a {
				text-decoration: none;
				&:hover,
				&:focus {
					text-decoration: none;
				}
			}
		}
		.o_comments_form {
			display: flex;
			.o_comments_form_reply {
				width: 100%;
				margin-top: -20px;
			}
		}

		/* a reply to a comment */		
		.o_comment_reply {
			margin-left: $padding-large-horizontal;
		}
		.o_comment_reply_block {
			border-left: 2px solid $blockquote-border-color;
			padding: 5px 0 0 28px;
			>p {
				margin: 5px 44px 10px;
			}
			.o_reply {
				margin-left: 40px;
			}
		}
	}
	.o_comments_form_init {
		display: flex;
		padding: 0 0 15px 0;
		.o_avatar_pre {
			padding: 0 10px 0 0;
		}
		.o_avatar {
			padding: 20px 10px 0 0;
		}
		.o_comments_form_ctrl {
			width: 100%;
		}
	}
}

.o_fake_comment_text_area {
	text-align: left;
	cursor: text;
	width: 100%;
	height: $input-height-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $input-color;
	background-color: $input-bg;
	background-image: none;
	border-radius: $input-border-radius;
	@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	.form-control-static {
		padding-top: 0;
	}
}

.o_ratings_and_comments {
	.o_rating_wrapper {
		vertical-align: middle;
		display: inline-block;
	}
	a.o_comments {
		margin-left: $padding-large-vertical;
		position: relative;
		top: 0.1em; /* fix line correlation to stars */
	}
	div.o_notifications {
		float: right;
	}
}