.o_repo_details {
	position: relative;
	
	.o_lead {
		@extend .jumbotron;
		margin-bottom: 10px;
		.o_author{
			margin-top: 0.5em;
			margin-bottom: 1em;
			color: $o-coursesite-meta-author-color;
		}
		.o_media {
			float: right;
			margin-left: 2em;
			margin-bottom: 2em;			
			/* reset when no description is there to render left aligned */
			&.o_desc_empty {
				float: none;
				margin-left: 0;
				margin-bottom: 0;						
			}
		}		
		
		h1 {
			font-size: $o-coursesite-meta-title-font-size;
			i {
				display: none;
			}
		}
	}
	
	.o_overview {
		i {
			margin-right: 0.5em;		
		}
		div {
			margin-bottom: 0.25em;
		}
	}

	.o_start_wrapper {
		clear: both;
		margin: 2em 0 -10px 0;
		text-align: right;
		.o_start_inner {
			display: inline-block; 
		}
	}		
	.o_start, .o_book {
		max-width: 400px; 
		display: inline-block; 
	}
	
	.o_social {
		@include clearfix();
		.o_rating_wrapper {
			float: left;
		}
		.o_comments {
			@extend %o_undecorated;
			margin-left: 1em;
		}
	}	
	
	@media (max-width: $screen-xs-max) { 
		.o_lead {
			p {
				font-size: floor($jumbotron-font-size * 0.8);
			}		
			.o_media {
				margin-left: 0;
				float: none;
				text-align: center;				
			}
		}
		.o_start_wrapper {
			text-align: center;
			.o_start_inner {
				display: block; 
			}
		}		
		.o_start, .o_book {
			max-width: 100%; 
			display: block; 
		}
    }	
    
    
    // make two column layout switch to one column if very small
	@media (max-width: floor($screen-xs-max * 0.8)) { 
		.o_subcolumn {
			width: 100%;
		}
	}
}

.o_meta .o_closed {
	padding: 2px 5px;
	margin: 5px 0;
}

.o_overview .o_closed {
	padding: 12px 15px;
	margin: 15px 0;
}

.o_ac_configuration {
	span.o_ac_infos { font-weight:normal; color: grey; }
	
	div.o_ac_method {
		background-color: #efefef;
		padding: 5px;
		border-radius: 3px;
	}
	div.o_ac_methods.form-group {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.o_repo_with_explanation {
	padding-bottom: 0;
	margin-bottom: 0;
}

.o_repo_explanation {
	color: $brand-warning;
}

tr.o_entry_closed, tr.o_entry_closed td, tr.o_entry_closed td span,
tr.o_entry_unpublished, tr.o_entry_unpublished td, tr.o_entry_unpublished td span {
	text-decoration: line-through;
}

tr.o_entry_deleted {

}


/* status element in dropdown menu */
a.o_repo_tools_status {
	cursor:pointer;
	margin: 0 2px 2px 2px;
	text-align: left;
}

/* Status full style, e.g. in toolbar */
.o_labeled,
.o_toolbar .o_tools_container a.o_labeled {
	font-weight: bold;
	
	&.o_repo_status_preparation {
	    background-color: $o-repo-preparation-color;
	    border-color: $o-repo-preparation-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_review {
	    background-color:$o-repo-review-color;
	    border-color: $o-repo-review-color;
	    color: $o-repo-status-color-bright;
		text-shadow: 0 0 3px #555;    
	}
	&.o_repo_status_coachpublished {
	    background-color: $o-repo-coachpublished-color;
	    border: 2px dashed $o-repo-published-color; 
	    color: $o-repo-status-color-bright;
		text-shadow: 0 0 3px #555;    
	} 
	&.o_repo_status_published { 
	    background-color: $o-repo-published-color;
	    border-color: $o-repo-published-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_closed {
	    background-color: $o-repo-closed-color;
	    border-color: $o-repo-closed-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_trash {
	    background-color: $o-repo-trash-color;
	    border-color: $o-repo-trash-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_deleted {
	    background-color: $o-repo-deleted-color;
	    border-color: $o-repo-deleted-color;
	    color: $o-repo-status-color-bright;
	}	
	&.o_repo_role {
	    background-color: $o-labeled_bg-color;
	    border-color: $o-labeled_bg-color;
	    color: $o-repo-status-color-bright;
	}
}
/* hover effect for menu pulldowns in toolbar */
.o_toolbar .o_tools_container a.o_labeled:hover {
	&.o_repo_status_preparation {
	    background-color: darken($o-repo-preparation-color,10%);
	}
	&.o_repo_status_review {
	    background-color: darken($o-repo-review-color,10%);
	}
	&.o_repo_status_coachpublished {
	    background-color: darken($o-repo-coachpublished-color,10%);
	}
	&.o_repo_status_published {
	    background-color: darken($o-repo-published-color,10%);
	}
	&.o_repo_status_closed {
	    background-color: darken($o-repo-closed-color,10%);
	}
	&.o_repo_status_trash {
	    background-color: darken($o-repo-trash-color,10%);
	}
	&.o_repo_status_deleted {
	    background-color: darken($o-repo-deleted-color,10%);
	}
	&.o_repo_role {
	    background-color: lighten($o-labeled_bg-color,10%);
	    border-color: lighten($o-labeled_bg-color,10%);
	}	
}

/* Status light style, mainly for in-table renderings */
.o_labeled_light,
.o_toolbar .o_tools_container a.o_labeled_light {
	&.o_repo_status_preparation {
	    border-color: 		$o-repo-preparation-color;
	    color: 				$o-repo-preparation-color;
	}
	&.o_repo_status_review {
	    border-color: 		$o-repo-review-color;
	    color: 				$o-repo-review-color;
	}
	&.o_repo_status_coachpublished {
	    border-color: 		$o-repo-published-color;
	    border-style: 		dashed;
	    color: 				$o-repo-published-color;
	}
	&.o_repo_status_published {
	    border-color: 		$o-repo-published-color;
	    color: 				$o-repo-published-color;
	}
	&.o_repo_status_closed {
	    border-color: 		$o-repo-closed-color;
	    color: 				$o-repo-closed-color;
	}
	&.o_repo_status_trash {
	    border-color: 		$o-repo-trash-color;
	    color: 				$o-repo-trash-color;
	}
	&.o_repo_status_deleted {
	    border-color: 		$o-repo-deleted-color;
	    color: 				$o-repo-deleted-color;
	}	
}

