.o_repo_details {
	position: relative;
	
	.o_lead {
		@extend .jumbotron;
		.o_media {
			float: right;
			margin-left: 2em;
			margin-bottom: 2em;			
		}
		h1 i {
			display: none;
		}
	}
	
	.o_overview {
		i {
			margin-right: 0.5em;		
		}
		div {
			margin-bottom: 0.25em;
		}
	}
		
	.o_start, .o_book {
		margin: 2em 0;
	}
	
	.o_social {
		@include clearfix();
		.o_rating_wrapper {
			float: left;
		}
		.o_comments {
			@extend %o_undecorated;
			margin-left: 1em;
		}
	}	
	
	
	@media (max-width: $screen-xs-max) { 
		.o_lead {
			p {
				font-size: floor($jumbotron-font-size * 0.8);
			}		
			.o_media {
				margin-top: 0;
			}
		}
    }	
    
    
    // make two column layout switch to one column if very small
	@media (max-width: floor($screen-xs-max * 0.8)) { 
		.o_subcolumn {
			width: 100%;
		}
	}

    
}