.o_repo_details {
	position: relative;
	
	.o_header {
		padding-bottom: $o-coursesite-meta-header-padding-bottom	;
		border-bottom: $o-coursesite-meta-header-border-width solid $o-coursesite-meta-header-border;
		
		.o_lead {
			display: flex;
			flex-wrap: nowrap;
			justify-content: left;
			width: 100%;
			
			@media (max-width: $screen-xs-max) {
				display: block;
			}	
			
			.o_media  {
				order: 2;
				margin-left: 2em;
				max-width: floor(570px * 0.75); //570x380
				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					max-width: floor(570px * 0.5); //570x380	
				}
				@media (max-width: $screen-xs-max) {
					margin-left: 0;
					margin-bottom: 1em;
					max-width: 100%;	
					width: 100%;
					.o_image, img, .o_video, video {
						width: 100%;
					}
				}
			}
			.o_meta_wrapper {
				display: flex;
				flex-direction: column;
				gap: 1em;
				
				flex-grow: 1;
				flex-shrink: 1;
				width: 100%;
			}
			
			.o_ext_ref {
				color: $text-muted;
			}
			h2 {
				font-size: $o-coursesite-meta-title-font-size;
				margin-top: 0;
				white-space: normal;
				i {
					display: none;
				}
			}
			.o_teaser {
				white-space: normal;
			}
			
			.o_educational_type {
				margin-right: .5em;
				margin-top: auto;
				margin-bottom: auto;
				line-height: normal;
			}
			
			.o_author {
				color: $o-coursesite-meta-author-color;
				white-space: normal;
			}
			
			.o_header_offers {
				margin-top: auto;
			}

			.o_offer_login_buton {
				width: 50%;
			}
			
			.o_start_wrapper {
				.o_start_message {
					width: $o-ac-offers-container-max-width;
					max-width: $o-ac-offers-container-max-width;
					margin-bottom: math.div($o-radio-cards-gap, 2);
				}
				.o_start_inner {
					>.o_button_call_to_action {
						max-width: $o-ac-offers-container-max-width;
						margin-top: 0;
						flex-grow: 2;
					}
					
					display: flex;
					gap: 20px;
					align-items: center;
				}
			}
			.o_start_wrapper {
				container-type: inline-size;
				container-name: o_start_wrapper;
			}
			@container o_start_wrapper (max-width: 440px) {
				.o_start_inner {
					flex-wrap: wrap;
					justify-content: center;
				}
			}
		}
	}
	
	.o_repo_meta {
		column-count: 1;
	}
	&>div {
		margin-bottom: 20px;
	}

	display: grid;
	grid-template-columns: 1fr;
	
	.o_subcolumn {
		break-inside: avoid-column;
		padding-top: 10px;
	}
	
	@media (min-width: 500px) {
		.o_repo_meta {
			column-count: 2;
		}
		.subcolumn {
			width: 45%;	
		}
	}
	
	@media (min-width: $screen-md-min) {
		grid-template-columns: 1fr auto;
		&>div {
			grid-column-start: span 2;
		}
		.o_repo_column {
			grid-column-start: span 1;
		}
		.o_repo_column:has(.o_repo_meta) {
			min-width: 300px;
			max-width: 450px;
			margin-top: 20px; // Align with description title
			margin-left: 60px;
			
		}
		
		.o_repo_column .o_repo_meta {
			column-count: 1;
			.o_subcolumn {
				width: auto;
			}
		}
	}

	.o_social {
		@include clearfix();
		.o_rating_wrapper {
			float: left;
		}
		.o_comments {
			@extend %o_undecorated;
			margin-left: 1em;
		}
	}	
    .o_tag {
    	display: inline-block;
    }
}
.o_repo_info_panel.o_lightbox_modal_form:is(.basicLightbox *),  // Hack to keep the background in lightbox
.o_repo_info_panel {
	border: 1px solid $o-coursesite-sidecol-border;
	border-radius: $o-coursesite-sidecol-radius;
	background: $o-coursesite-sidecol-bg;
	padding: 0 $o-coursesite-sidecol-padding $o-coursesite-sidecol-padding  $o-coursesite-sidecol-padding;
}

.o_repo_info_panel > .o_repo_info_panel {
	background: white;
}

.o_license_info {
	margin: 2em 0 1em 0;
	.o_icon {
		float: left;
		margin-right: 0.5em;
	}
	.o_license,
	.o_licensor {
		font-weight: bold;
		font-size: 110%;
		line-height: 2em;
		vertical-align: text-bottom;
		display: inline-block;
	}
	.o_license_text {
		clear: both;
		font-style: italic;
		margin-top: 1em;
	}
}

.o_meta .o_closed {
	padding: 2px 5px;
	margin: 5px 0;
}

.o_overview .o_closed {
	padding: 5px 10px;
	margin: 15px 15px 15px 0;
	display: inline-block;
}
.o_benefits {
	margin: 15px 0;
	
	h4.o_benefit, h5.o_benefit {
		display: grid;
		grid-template-columns: 36px 1fr;
		
		> i {
			align-self: center;
		}
		> small {
			grid-column-start: 2;
			margin-top: 3px;
		}
	}
	
	h5.o_benefit {
		font-size: 1.25em;
	}
}

.o_re_access_denied {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	
	.o_re_access_denied_cross {
		fill: $o-repo-access-denied-cross-fill;
	}
	.o_re_access_denied_message {
		text-align: center;
		font-size: 1.5em
	}
	.o_re_access_denied_hint {
		text-align: center;
	}
}

.o_ac_runtime_type {
	padding: 12px;
	display: grid;
	align-items: center;
	grid-template-columns: 50px 1fr auto;
	
	>i {
		font-size: 200%;
	}
	h5 {
		margin: 0 0 5px 0;
	}
	p {
		margin: 0;
		color: #777;
	}
}

@media (min-width: 768px) {
	.o_form.form-horizontal.o_ac_runtime_type_form label {
		padding-top: 1.5em;
	}
}

.o_ac_overview {
	.panel-body {
		padding: 0px;
	}
}
.o_ac_offers_container {
	max-width: $o-ac-offers-container-max-width;
}
.o_ac_start_admin {
	display: flex;
	justify-content: center;
}
.o_ac_offers {
	.o_ac_offer_details {
		display: flex;
		flex-direction: column;
		
		.o_ac_offer_price_ammount {
			font-size: 180%;
			font-weight: bold;
		}
		.o_ac_offer_details_description {
			margin-top: 10px;
		}
	}
	.o_ac_offer_selection {
		margin-bottom: $o-radio-cards-gap;
		.form-group {
			margin-bottom: 0;
		}
	}
	.o_ac_offer_message {
		margin-bottom: math.div($o-radio-cards-gap, 2);
		width: 100%;
	}
	.o_ac_offer_custom {
		button {
			margin-top: 0;
			width: 100%;
		}
	}
}

.o_ac_offers_details_text {
	display: flex;
	a {
		margin-left: 10px;
		flex-shrink: 0;
	}
}

.o_ac_invoice_fee_free {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
}

.o_ac_order_details .o_ac_order_header p {
	font-size: 2em;
	font-weight: 900;
}

.o_ac_participant_availability_cell {
	max-width: fit-content;
}

.o_ac_order_header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	
	.form-group {
		margin-bottom: 0;
		.form-control-static {
			padding-bottom: 0;
		}
	}
	.o_ac_order_status {
		display: flex;
		flex-direction: column;
		justify-content: end;
		margin-left: 10px;
		margin-bottom: 8px;
	}
	.o_ac_order_cmds {
		margin-left: auto;
		padding: 5px 0;
	}
}

.o_ac_order_details_container {
	container-type: inline-size;
	container-name: o_ac_order_details_container;
	
	.o_table_row_details_container {
		width: calc(100cqw - 65px); // 65px = padding from o_table_row_details...
	}
}
.o_ac_order_details {
	.o_ac_order_details_content {
		display: flex;
		flex-direction: column;
		column-gap: 30px;
		row-gap: 20px;
		.o_ac_order_details_content_left {
			flex-grow: 2;
			order: 2;
		}
		.o_ac_order_details_content_right {
			margin-right: auto;
		
			display: grid;
			grid-template-columns: 1fr;
			gap: 20px;
			
			.o_ac_billing_address {
				max-width: unset;
			}
		}
	}
	
	@container o_ac_order_details_container (min-width: 700px) {
		.o_ac_order_details_content {
			.o_ac_order_details_content_right {
				margin-right: unset;
				grid-template-columns: 1fr 1fr;
				
				>div {
					width: 100%;
					.o_user_info_profile {
						width: 100%;
					}
				}
			}
		}
	}
	
	@container o_ac_order_details_container (min-width: 840px) {
		.o_ac_order_details_content {
			flex-direction: row;
			.o_ac_order_details_content_left {
				order: 1;
			}
			.o_ac_order_details_content_right {
				order: 2;
				
				display: flex;
				flex-wrap: wrap;
				align-content: start;
				max-width: 350px;
			}
		}
	}
	
	.o_ac_order_metadata {
		display: grid;
		column-gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}

.o_labeled_light {
	&.o_ac_offer_pending {
		@extend %o_labeled_light_blue;
	}
	&.o_ac_offer_finished {
		@extend %o_labeled_light_brown;
	}
	&.o_ac_offer_bookable {
		@extend %o_labeled_light_green;
	}
	&.o_ac_offer_fully_booked {
		@extend %o_labeled_light_red;
	}
	&.o_ac_offer_not_available {
		@extend %o_labeled_light_grey;
	}
	
	&.o_ac_order_status_new {
		@extend %o_labeled_light_blue;
	}
	&.o_ac_order_status_pending,
	&.o_ac_order_status_payed_pending,
	&.o_ac_order_status_warning,
	&.o_ac_order_status_in_process,
	&.o_ac_order_status_open {
		@extend %o_labeled_light_yellow;
	}
	&.o_ac_order_status_written_off,
	&.o_ac_order_status_canceled {
		@extend %o_labeled_light_grey;
	}
	&.o_ac_order_status_payed {
		@extend %o_labeled_light_green;
	}
	&.o_ac_order_status_error {
		@extend %o_labeled_light_red;
	}
}

.o_labeled {
	&.o_ac_order_status_new {
		@extend %o_labeled_blue;
	}
	&.o_ac_order_status_pending,
	&.o_ac_order_status_payed_pending,
	&.o_ac_order_status_warning,
	&.o_ac_order_status_in_process,
	&.o_ac_order_status_open {
		@extend %o_labeled_yellow;
	}
	&.o_ac_order_status_written_off,
	&.o_ac_order_status_canceled {
		@extend %o_labeled_grey;
	}
	&.o_ac_order_status_payed {
		@extend %o_labeled_green;
	}
	&.o_ac_order_status_error {
		@extend %o_labeled_red;
	}
}

.o_ac_billing_address {
	background-color: $o-ac-ba-bg-color;
	border: $o-ac-ba-border;
	border-radius: $o-ac-ba-border-radius;
	padding: $o-ac-ba-padding;
	min-width: $o-ac-ba-min-width;
	max-width: max-content;
	
	.o_ac_billing_address_inner {
		display: flex;
	}
	.o_ac_billing_address_icon {
		width: $o-ac-ba-icon-width;
		font-size: $o-ac-ba-icon-font-size;
		display: grid;
		place-items: center;
	}
	.o_ac_billing_address_identifier {
		font-weight: bold;
		margin-bottom: .5em;
	}
	&.o_ac_billing_address_temporary {
		background-color: $o-ac-ba-no-ident-bg-color;
	}
}
.o_labeled_light {
	&.o_ac_billing_address_active_light {
		font-weight: normal;
		@extend %o_labeled_light_green;
	}
	&.o_ac_billing_address_inactive_light {
		font-weight: normal;
		@extend %o_labeled_light_grey;
	}
}
.o_ac_billing_address_selection.o_form {
.o_radio_cards_wrapper {
	.o_radio_cards {
		label {
			flex-basis: $o-ac-ba-radio-card-width;
		}
	}
}}
.o_ac_rate_config {
	display: flex;
	align-items: center;
	gap: 5px;
}


tr.o_entry_closed, tr.o_entry_closed td, tr.o_entry_closed td span,
tr.o_entry_unpublished, tr.o_entry_unpublished td, tr.o_entry_unpublished td span {
	text-decoration: line-through;
}

/* status element in dropdown menu */
a.o_repo_tools_status {
	cursor:pointer;
	margin: 0 2px 2px 2px;
	text-align: left;
}

/* Status full style, e.g. in toolbar */
.o_labeled,
.o_toolbar .o_tools_container a.o_labeled {
	&.o_repo_status_preparation {
	    background-color: $o-repo-preparation-color;
	    border-color: $o-repo-preparation-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_review {
	    @extend %o_labeled_yellow;
	}
	&.o_repo_status_coachpublished {
	    background-color: $o-repo-coachpublished-color;
	    border: 2px dashed $o-repo-published-color; 
	    color: $o-repo-status-color-bright;
		text-shadow: 0 0 3px #555;    
	} 
	&.o_repo_status_published { 
	    background-color: $o-repo-published-color;
	    border-color: $o-repo-published-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_closed {
	    background-color: $o-repo-closed-color;
	    border-color: $o-repo-closed-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_trash {
	    background-color: $o-repo-trash-color;
	    border-color: $o-repo-trash-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_deleted {
	    background-color: $o-repo-deleted-color;
	    border-color: $o-repo-deleted-color;
	    color: $o-repo-status-color-bright;
	}
}
/* hover effect for menu pulldowns in toolbar */
.o_toolbar .o_tools_container a.o_labeled:hover {
	&.o_repo_status_preparation {
	    background-color: darken($o-repo-preparation-color,10%);
	}
	&.o_repo_status_review {
		background-color: darken($o-labeled-yellow-bg-color,10%);
	}
	&.o_repo_status_coachpublished {
	    background-color: darken($o-repo-coachpublished-color,10%);
	}
	&.o_repo_status_published {
	    background-color: darken($o-repo-published-color,10%);
	}
	&.o_repo_status_closed {
	    background-color: darken($o-repo-closed-color,10%);
	}
	&.o_repo_status_trash {
	    background-color: darken($o-repo-trash-color,10%);
	}
	&.o_repo_status_deleted {
	    background-color: darken($o-repo-deleted-color,10%);
	}
}

/* Status light style, mainly for in-table renderings */
.o_labeled_light,
.o_toolbar .o_tools_container a.o_labeled_light {
	&.o_repo_status_preparation {
	    border-color: 		$o-repo-preparation-color;
	    color: 				$o-repo-preparation-color;
	}
	&.o_repo_status_review {
	    @extend %o_labeled_light_yellow;
	}
	&.o_repo_status_coachpublished {
	    border-color: 		$o-repo-published-color;
	    border-style: 		dashed;
	    color: 				$o-repo-published-color;
	}
	&.o_repo_status_published {
	    border-color: 		$o-repo-published-color;
	    color: 				$o-repo-published-color;
	}
	&.o_repo_status_closed {
	    border-color: 		$o-repo-closed-color;
	    color: 				$o-repo-closed-color;
	}
	&.o_repo_status_trash {
	    border-color: 		$o-repo-trash-color;
	    color: 				$o-repo-trash-color;
	}
	&.o_repo_status_deleted {
	    border-color: 		$o-repo-deleted-color;
	    color: 				$o-repo-deleted-color;
	}	
}

.o_fake_participant_stop {
	display: flex;
	align-items: center;
	@media (max-width: $screen-sm-min) {
		flex-wrap: wrap;
	}
	.o_fps_message {
		display: flex;
		align-items: center;
		.o_icon {
			color: $brand-warning;
			font-size: 200%;
		}
		.o_fps_text {
			margin: 0 10px;
		}
	}
	.o_fps_button {
		display: flex;
		gap: 5px;
		@media (max-width: $screen-sm-min) {
			justify-content: center;
			width: 100%;
			margin-top: 5px;
		}
	}
}

form { .o_form { .o_radio_cards_wrapper {
.o_course_design.o_radio_cards {
	label {
		flex-basis: 279px;
		.o_radio_text_wrapper {
			display: flex;
			flex-direction: column;
			.o_radio_desc {
				height: 100%;
				display: flex;
				flex-direction: column;
				.o_course_design_desc {
					height: 100%;
					
					// small aus dem o_course_design_desc rausnehmen
				}
			}
		}
		.o_radio_icon:not(.o_icon) {
			height: 130px;
			border: none;
		}
	}
	.o_course_design_desc {
		ul {
			 padding-left: 1em;
		}
	}
}
}}}
.o_course_design_assistance {
	table {
		table-layout: fixed;
		tr {
			th:not(:last-child), td:not(:last-child) {
				border-right: 1px solid $table-border-color;
			}
			ul {
				 padding-left: 1em;
			}
		}
	}
	.o_course_design_icon {
		height: 130px;
		background-position: top left;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
.o_course_design_path_icon {
	background-image:url('#{$o-images-path}course/course-design-path.png')
}
.o_course_design_progress_icon {
	background-image:url('#{$o-images-path}course/course-design-progress.png')
}
.o_course_design_classic_icon {
	background-image:url('#{$o-images-path}course/course-design-classic.png')
}

/* Bulk change */
.o_labeled_light {
	&.o_bulk_status_add {
		background-color: $state-success-text;
		border-color: $state-success-text;
		color: $o-repo-status-color-bright;
	}
	&.o_bulk_status_remove {
		background-color:  $state-danger-text;
		border-color: $state-danger-text;
		color: $o-repo-status-color-bright;
	}
}
.o_settings_bulk_overview {
	table {
		width: auto;
		tbody {
			td {
				border-top: 0;
				&:is(.o_bulk_overview_change *) {
					padding: 2px 8px;
				}
			}
			.o_bulk_overview_step {
				font-size: 20px;
			}
			.o_bulk_overview_change + .o_bulk_overview_step {
				td {
					padding: 24px 8px 8px 8px;
				}
			}
		}
	}
}


/* Repository info */
.o_repo_info {
	border: $o-repo-info-border;
	border-radius: $o-repo-info-border-radius;
	padding: $o-repo-info-padding;
	
	display: flex;
	flex-direction: column;
	gap: 20px;

	.o_repo_info_header {
		.o_repo_info_header_content {
			display: flex;
			gap: 10px;
			.o_visual {
				height: 50px;
				width: 75px;
				flex-shrink: 0;
			}
			.o_meta {
				display: flex;
				flex-direction: column;
				.o_ext_ref {
					color: $text-muted;
					font-size: 10px;
					line-height: 12px;
					height: 12px;
					@include text-overflow();
				}
				.o_title {
					margin: 0;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
	
	.o_repo_info_separator {
		border-top: $o-repo-info-separator-border;
	}
	
	.o_repo_info_items {
		display: grid;
		column-gap: 20px;
		.form-control-static {
			padding: 0px;
			min-height: 0px;
		}
	}
}
.o_repo_info_wrapper {
	container-type: inline-size;
	
	.o_repo_info_items {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@container (max-width: 800px) {
		.o_repo_info_items {
			grid-template-columns: 1fr 1fr;
		}
	}
	@container (max-width: 600px) {
		.o_repo_info_header {
			.o_repo_info_header_content {
				.o_title {
					font-size: $o-repo-info-header-size-small;
				}
			}
		}
		.o_repo_info_items {
			grid-template-columns: 1fr;
		}
	}
}

.o_repo_user_header_container {
	container-type: inline-size;
	container-name: o-repo-user-header;
	
	$o-repo-user-header-gap: 10px;
	.o_repo_user_header {
		display: flex;
		flex-direction: column;
		gap: $o-repo-user-header-gap;
		
		.o_user_info {
			display: flex;
			flex-direction: column;
			align-items: start;
			> div:has(.o_user_info_profile) {
				width: 100%;
				height: initial;
				margin-top: 0;
			}
		}
	}
	
	$o-repo-user-header-breakpoint: 2*$o-user-info-profile-breakpoint + 2*$o-repo-user-header-gap;
	@container o-repo-user-header (min-width: #{$o-repo-user-header-breakpoint}) {
		.o_repo_user_header {
			flex-direction: row;
			>div {
				flex: 1;
			}
			// same height of the two panels
			:is(div, form):has(:is(.o_repo_info, .o_user_info)) {
				display: grid;
			}
		}
	}
}