.o_repo_details {
	position: relative;
	
	.o_lead {
		display: flex;	
		flex-wrap: nowrap;
		justify-content: left;
		width: 100%;
		border-bottom: $o-coursesite-meta-header-border-width solid $o-coursesite-meta-header-border;
		
		@media (max-width: $screen-xs-max) { 
			display: block;				
		}	
		
		.o_media  {
			margin-right: 2em;
			margin-bottom: 2em;
			max-width: floor(570px * 0.75); //570x380
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
				max-width: floor(570px * 0.5); //570x380			
			}
			@media (max-width: $screen-xs-max) { 
				max-width: 100%;	
				width: 100%;
				.o_image, img, .o_video, video {
					width: 100%;
				}
			}	
		}		
		.o_meta {
			flex-grow: 1;
			flex-shrink: 1;
			width: 100%;
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;		
		}
		
		.o_ext_ref {
			color: $text-muted;
		}
		h2 {
			font-size: $o-coursesite-meta-title-font-size;
			margin-top: 0;
			white-space: normal;
			i {
				display: none;
			}
		}
		.o_teaser {
			white-space: normal;
		}
		
		.o_educational_type {
			margin-right: .5em;
			margin-top: auto;
			margin-bottom: auto;
			line-height: normal;
		}
		
		.o_author{
			color: $o-coursesite-meta-author-color;
			white-space: normal;
		}
	
		.o_start_wrapper {
			margin: 2em 0 2em 0;
			.o_start_inner {
				display: inline-block; 
				@media (max-width: $screen-xs-max) { 
					display: block;
					width: 100%;
				}
			}
		}		
		.o_start, .o_book {
			display: inline-block;  
		}		
	}

	/* one-column default styles for mobile-first */
	.o_column_container {
		display: flex;
		flex-direction: column;
		margin-top: 20px;		
		margin-bottom: 20px;		
	}
	.o_sidecolumn {
		order: 2;
		border: 1px solid $o-coursesite-sidecol-border;
		border-radius: $o-coursesite-sidecol-radius;
		background: $o-coursesite-sidecol-bg;
		padding: 0 $o-coursesite-sidecol-padding $o-coursesite-sidecol-padding  $o-coursesite-sidecol-padding;
		column-count: 1;
	}
	.o_subcolumn {
		break-inside: avoid-column;
		padding-top: 10px;
	}
	.o_maincolumn {
		order: 1;
	}
	.o_bottom_container {
		
	}
	
	/* two column style for mid and large screen */
	@media (min-width: 500px) { 	
		.o_sidecolumn {
			column-count: 2;
		}
		.subcolumn {
			width: 45%;	
		}
	}
	/* two column style for mid and large screen 	*/
	@media (min-width: 800px) { 		
		.o_column_container:not(.o_full_space) {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: left;
			align-items: flex-start;
			width: 100%;		
			.o_sidecolumn {
				flex-grow: 0;
				flex-shrink: 0;
				width: 300px;
				margin-top: 20px;
				column-count: 1;
			}
			.o_maincolumn {
				flex-grow: 1;
				flex-shrink: 1;
				padding-right: 80px;
			}
		}
	}
	@media (min-width: $screen-md-min) { 	
		.o_subcolumn {
			width: auto;
		}
		.o_bottom_container:not(.o_full_space) {
			padding-right: (300px + 80px);
		}
	}

	.o_social {
		@include clearfix();
		.o_rating_wrapper {
			float: left;
		}
		.o_comments {
			@extend %o_undecorated;
			margin-left: 1em;
		}
	}	
    .o_signout {
	    margin: 2em 0 1em 0;
    }
    .o_tag {
    	display: inline-block;
    }
    
    .o_license_info {
    	margin: 2em 0 1em 0;
    	.o_icon {
    		float: left;
    		margin-right: 0.5em;
    	}
    	.o_license,
    	.o_licensor {
    		font-weight: bold;
    		font-size: 110%;
    		line-height: 2em;
    		vertical-align: text-bottom;
    		display: inline-block;
    	}
		.o_license_text {
			clear: both;
			font-style: italic;
			margin-top: 1em;
		}
    }
}

.o_meta .o_closed {
	padding: 2px 5px;
	margin: 5px 0;
}

.o_overview .o_closed {
	padding: 5px 10px;
	margin: 15px 15px 15px 0;
	display: inline-block;
}

.o_ac_configuration {
	.o_ac_offer {
		border: $o-ac-config-offer-border;
		border-radius: $o-ac-config-offer-border-radius;
		h3 {
			margin-top: 0;
			margin-bottom: 15px;
		}
		
		display: flex;
		.o_ac_offer_col {
			width: 100%;
			padding: 15px;
			.o_cmds {
				margin-top: 10px;
				padding-right: 15px;
			}
		}
		.o_ac_icon_col {
			padding: 15px 10px;
			border-right: $o-ac-config-offer-border;
			background-color: $o-ac-config-offer-icon-bg-color;
		}
	}
}
.o_ac_overview {
	.o_ac_roles {
		display: flex;
		flex-wrap: wrap;
		>div {
			margin-right: auto;
		}
	}
}

tr.o_entry_closed, tr.o_entry_closed td, tr.o_entry_closed td span,
tr.o_entry_unpublished, tr.o_entry_unpublished td, tr.o_entry_unpublished td span {
	text-decoration: line-through;
}

tr.o_entry_deleted {

}


/* status element in dropdown menu */
a.o_repo_tools_status {
	cursor:pointer;
	margin: 0 2px 2px 2px;
	text-align: left;
}

/* Status full style, e.g. in toolbar */
.o_labeled,
.o_toolbar .o_tools_container a.o_labeled {
	font-weight: bold;
	
	&.o_repo_status_preparation {
	    background-color: $o-repo-preparation-color;
	    border-color: $o-repo-preparation-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_review {
	    background-color:$o-repo-review-color;
	    border-color: $o-repo-review-color;
	    color: $o-repo-status-color-bright;
		text-shadow: 0 0 3px #555;    
	}
	&.o_repo_status_coachpublished {
	    background-color: $o-repo-coachpublished-color;
	    border: 2px dashed $o-repo-published-color; 
	    color: $o-repo-status-color-bright;
		text-shadow: 0 0 3px #555;    
	} 
	&.o_repo_status_published { 
	    background-color: $o-repo-published-color;
	    border-color: $o-repo-published-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_closed {
	    background-color: $o-repo-closed-color;
	    border-color: $o-repo-closed-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_trash {
	    background-color: $o-repo-trash-color;
	    border-color: $o-repo-trash-color;
	    color: $o-repo-status-color-bright;
	}
	&.o_repo_status_deleted {
	    background-color: $o-repo-deleted-color;
	    border-color: $o-repo-deleted-color;
	    color: $o-repo-status-color-bright;
	}	
	&.o_repo_role {
	    background-color: $o-labeled_bg-color;
	    border-color: $o-labeled_bg-color;
	    color: $o-repo-status-color-bright;
	}
}
/* hover effect for menu pulldowns in toolbar */
.o_toolbar .o_tools_container a.o_labeled:hover {
	&.o_repo_status_preparation {
	    background-color: darken($o-repo-preparation-color,10%);
	}
	&.o_repo_status_review {
	    background-color: darken($o-repo-review-color,10%);
	}
	&.o_repo_status_coachpublished {
	    background-color: darken($o-repo-coachpublished-color,10%);
	}
	&.o_repo_status_published {
	    background-color: darken($o-repo-published-color,10%);
	}
	&.o_repo_status_closed {
	    background-color: darken($o-repo-closed-color,10%);
	}
	&.o_repo_status_trash {
	    background-color: darken($o-repo-trash-color,10%);
	}
	&.o_repo_status_deleted {
	    background-color: darken($o-repo-deleted-color,10%);
	}
	&.o_repo_role {
	    background-color: lighten($o-labeled_bg-color,10%);
	    border-color: lighten($o-labeled_bg-color,10%);
	}	
}

/* Status light style, mainly for in-table renderings */
.o_labeled_light,
.o_toolbar .o_tools_container a.o_labeled_light {
	&.o_repo_status_preparation {
	    border-color: 		$o-repo-preparation-color;
	    color: 				$o-repo-preparation-color;
	}
	&.o_repo_status_review {
	    border-color: 		$o-repo-review-color;
	    color: 				$o-repo-review-color;
	}
	&.o_repo_status_coachpublished {
	    border-color: 		$o-repo-published-color;
	    border-style: 		dashed;
	    color: 				$o-repo-published-color;
	}
	&.o_repo_status_published {
	    border-color: 		$o-repo-published-color;
	    color: 				$o-repo-published-color;
	}
	&.o_repo_status_closed {
	    border-color: 		$o-repo-closed-color;
	    color: 				$o-repo-closed-color;
	}
	&.o_repo_status_trash {
	    border-color: 		$o-repo-trash-color;
	    color: 				$o-repo-trash-color;
	}
	&.o_repo_status_deleted {
	    border-color: 		$o-repo-deleted-color;
	    color: 				$o-repo-deleted-color;
	}	
}

