.o_repo_details {
	position: relative;
	
	.o_lead {
		@extend .jumbotron;
		h1 i {
			display: none;
		}
		.o_media {
			@extend .pull-right;
			margin-top: 20px;
			margin-left: 2em;
			margin-bottom: 2em;
		}
	}
	
	.o_overview {
		i {
			margin-right: 0.5em;		
		}
		div {
			margin-bottom: 0.25em;
		}
	}

	.o_start, .o_book {
		margin: 2em 0;
		@extend .btn-block;
	}
	
	.o_personal {
		.o_passed {
			@extend .success;
			@extend .text-success;
			font-weight: bold;
		}
		.o_failed {
			@extend .danger;
			@extend .text-danger;
			font-weight: bold;
		}		
	}
	
	.o_social {
		@extend .clearfix;
		.o_rating_wrapper {
			@extend .pull-left;
		}
		.o_comments {
			@extend .o_undecorated;
			margin-left: 1em;
		}
	}	
	
	
	@media (max-width: $screen-xs-max) { 
		.o_lead {
			p {
				font-size: floor($jumbotron-font-size * 0.8);
			}		
			.o_media {
				margin-top: 0;
			}
		}
    }	
    
}