.o_labeled_light {
	&.o_building_status_active {
		@extend %o_labeled_light_green;
	}
	&.o_building_status_inactive {
		@extend %o_labeled_light_grey;
	}
	&.o_building_status_deleted {
		@extend %o_labeled_light_red;
	}
}

.o_labeled {
	&.o_building_status_active {
		@extend %o_labeled_green;
	}
	&.o_building_status_inactive {
		@extend %o_labeled_grey;
	}
	&.o_building_status_deleted {
		@extend %o_labeled_red;
	}
}

.o_building_color_picker {
	ul.o_color_picker_dropdown {
		z-index: 1001;
	}
}

.o_building_detail {
	margin-top: 8px;
	padding: 16px;
	border: 1px solid $panel-default-border;
	border-radius: $border-radius-base;
	background: $panel-bg;

	.o_building_detail_title {
		display: flex;
		align-items: center;
		gap: 16px;
		flex-wrap: wrap;
	}

	.o_building_detail_ref {
		font-size: $font-size-large;
	}

	.o_building_detail_desc {
		font-size: $font-size-large;
	}

	.o_building_detail_status {
		margin-left: 4px;
	}

	.o_building_edit_cmd {
		flex-grow: 1;
		display: flex;
		justify-content: end;
	}
}

.o_building_rect_container {
	display: flex;
	height: 30px;

	align-items: center;
	justify-content: center;

	.o_building_rect {
		width: 4px;
		height: 100%;
	}
}

.o_building_square_container {
	display: flex;
	height: 20px;

	align-items: center;
	justify-content: center;

	.o_building_square {
		width: 18px;
		height: 18px;
		border-radius: 5px;
		border-width: 1px;
		border-style: solid;
	}
}

.o_building_address_map_combo {
	display: flex;
	flex-direction: column;
}

.o_building_address_map_line {
	display: flex;
	flex-direction: row;
	gap: 0;
}

.o_building_address_input {
	flex-grow: 1;

	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.o_building_find_on_map {
	a, button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left-width: 0;
	}
}

.o_building_map_container {
	width: 100%;
	height: 200px;
	margin-top: 8px;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid $input-border;
}

.o_building_map_pin {
	width: 20px;
	height: 20px;
	border-radius: 50% 50% 50% 0;
	border: 2px solid rgba(255, 255, 255, 0.85);
	transform: rotate(-45deg);
	margin-left: -10px;
	margin-top: -20px;
}
