.o_building_square_container {
	display: flex;
	height: 20px;

	align-items: center;
	justify-content: center;

	.o_building_square {
		width: 18px;
		height: 18px;
		border-radius: 5px;
		border-width: 1px;
		border-style: solid;
	}
}

.o_building_address_map_combo {
	display: flex;
	flex-direction: column;
}

.o_building_address_map_line {
	display: flex;
	flex-direction: row;
}

.o_building_address {
	flex-grow: 1;

	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.o_building_map {
	a {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left-width: 0;
	}
}
