/* SCORM module */
.badge {
	/* badge color */
	&.o_scorm_org {}
	&.o_scorm_item {}
	&.o_scorm_completed { background-color: $state-success-text; }
	&.o_scorm_failed { background-color: $state-danger-text; }
	&.o_scorm_incomplete { background-color: $state-warning-text; }
	&.o_scorm_not_attempted { background: none; }
}

body.o_scorm_full_width {
	margin: 0;
	padding: 0;

	.o_toolbar {
		display:none;
	}
	
	div.o_container_offcanvas {
		margin-left: 0;
		margin-right: 0;
	}
	
	#o_main_wrapper #o_toplink {
		display: none;
	}
	
	#o_main_wrapper #o_main_container,
	#o_main_wrapper #o_main_container #o_main_center #o_main_center_content #o_main_center_content_inner {
		margin: 0;
		padding: 0;
	}
	
	.o_scorm {
		.o_iframedisplay {
			margin: 0;
			padding: 0;
			width: 100vw;
			height: 100vh !important;
 			border: none;
			
			>iframe {
				display: block; 
 				width: 100vw;
 				height: 100vh !important;
 				min-height: 100vh !important;
 				border: none; 
				overflow-y: auto; 
				overflow-x: auto;
			}
		}
	}
	
	&.o_scorm_with_back {
		.o_toolbar {
			margin: 10px 15px;
			display: block;
			width: calc(100vw - 30px);
			height: 30px !important;
			overflow: hidden;
		}
		
		.o_scorm {
			.o_iframedisplay {
				height: calc(100vh - 50px) !important;
			
				>iframe {
 					height: calc(100vh - 50px) !important;
 					min-height: calc(100vh - 50px) !important;
				}
			}
		}
	}
}