/* SCORM module */
.badge {
	/* badge color */
	&.o_scorm_org {}
	&.o_scorm_item {}
	&.o_scorm_completed { background-color: $state-success-text; }
	&.o_scorm_failed { background-color: $state-danger-text; }
	&.o_scorm_incomplete { background-color: $state-warning-text; }
	&.o_scorm_not_attempted { background: none; }
}

body.o_scorm_full_width {
	.o_toolbar {
		display:none;
	}
	
	div.o_container_offcanvas {
		margin-left: 0;
		margin-right: 0;
	}
	
	#o_main_wrapper #o_toplink {
		display: none;
	}
	
	.o_scorm {
	
		.o_iframedisplay {
			margin: 0;
			padding: 0;
			overflow:hidden;
			
			>iframe {
				display: block;
				border: none;
				height:100%;
				width:100%;
				position: fixed;
				top: 0;
				bottom:0;
				left:0;
				right:0;
				padding: 0;
				min-height:600px
			}
		}
	}
	
	&.o_scorm_with_back {
		.o_toolbar {
			margin: 10px 0;
			display: block;
		}
		
		.o_scorm .o_iframedisplay > iframe {
			top: 47px;
			padding-bottom: 47px;
		}
	}
}