
.o_search_link_extended, .o_search_link_simple {
	margin-top: $padding-base-horizontal;
	display: inline-block;
}

.o_search_results_stats {
	color: $text-muted;
	padding-left: 1.5em;
}
.o_search_highlight {
	margin-left: $padding-base-horizontal;
	font-size: $font-size-small;
}
.o_search_result {
	@extend %o_block_bottom;
}

.o_search_result_title h4 {
	display: inline-block;
	margin-right: $padding-base-horizontal;
	margin-bottom: $padding-base-vertical;
	
}

.o_search_result_highlight {
	font-weight: $o-search-highlight-font-weight;
	background-color: $o-search-highlight-color;
}
.o_search_result_context {
	color: $o-search-context-color; 
}
.o_search_result_excerpt {
	color: $o-search-excerpt-color; 
}
.o_search_result_details {
	.o_togglebox_wrapper {
		&.o_block {
			margin-top:0;
			margin-bottom: 0;
		}
		.o_togglebox_content {
			color: $o-search-details-color;	
			font-size: $o-search-details-font-size;
			background: $o-search-details-bg;
			padding: $padding-base-vertical $padding-base-horizontal;
		}
	}
	@media (max-width: $screen-xs-max) { 
		display: none;
	}	
	
}

