.o_table_wrapper {

	&.o_table_flexi {
		.o_table_body{
			margin-top: $line-height-computed;
		}
	
	}	
	&.o_table_edit {}

	.o_table_filter {
	}
	.o_table_search {
	}

	.o_table_footer {
		.o_table_checkall { }	
		
		.o_table_buttons {
			text-align: center;
			input {
				margin-right: 1em;		
				&:last-child {
					margin-right: 0;		
				}
			}
		}
		
		.o_table_pagination {
			text-align: center;
		}		
	}
	

	a.b_sorting {
		padding: 0 20px 0 0;
		text-decoration: none;
		background:url("../openolat/images/arrow-resize-090.png") no-repeat center right;
	}
	a.b_sorting_asc {
		padding: 0 20px 0 0;
		text-decoration: none;
		background:url("../openolat/images/arrow_up.png") no-repeat center right;
	}
	a.b_sorting_desc {
		padding: 0 20px 0 0;
		text-decoration: none;
		background:url("../openolat/images/arrow_down.png") no-repeat center right;
	}

	.o_table {
		margin-bottom: 0;
	}
}


	