.o_table {
	margin-bottom: 0;
}

.o_table_checkall { }	

.o_table_buttons {
	text-align: center;
	input {
		margin-right: 1em;		
		&:last-child {
			margin-right: 0;		
		}
	}
}

.o_table_pagination {
	text-align: center;
}	
	