.o_tag {
	padding: 1px 0.5em;
	margin-right: 2px;
	margin-bottom: 2px;
	font-weight: 450;
	text-align: center;
	white-space: nowrap;
	border-radius: 1em;
	border-width: .1em;
	border-style: solid;
	border-color: $o-tag-background-color;
	color: $o-tag-font-color;
	background-color: $o-tag-background-color;
	line-height: 1.2;
	
	&:hover {
		text-decoration: none;
		color: $o-tag-font-color;
	}
	
	&.o_tag_clickable {
		&:hover {
			text-decoration: none;
			background-color: darken($o-tag-background-color, 10%);
			border-color: darken($o-tag-background-color, 10%);
		}
		
		&:active {
			background-color: darken($o-tag-background-color, 15%);
			border-color: darken($o-tag-background-color, 15%);
		}
	}
	
	&.o_tag_selected {
		background-color: $o-tag-selected-background-color;
		border-color: $o-tag-selected-border-color;
		
		&.o_tag_clickable {
			&:hover {
				text-decoration: none;
				background-color: darken($o-tag-selected-background-color, 10%);
				border-color: darken($o-tag-selected-border-color, 10%);
			}
			
			&:active {
				background-color: darken($o-tag-selected-background-color, 15%);
				border-color: darken($o-tag-selected-border-color, 15%);
			}
		}
	}
}
	
.o_tags_with_icon {
	width: 100%;
	display: inline-flex;
	align-items: center;
}

.o_textbox_dropdown_info {
	font-size: 75%;
	font-weight: normal;
}