.o_docpool {
	.o_docpool_main_breadcrumb {
		>.o_toolbar {
			margin-bottom: 2em;
		}
	}
}

.o_taxonomy_overview_header {
	display: flex;
	flex-wrap: nowrap;
	align-items: start;
	gap: 10px;
	
	.o_taxonomy_avatar_title_ref {
		display: flex;
		gap: 15px;
		
		.o_taxonomy_title_ref {
			display: flex;
			flex-direction: column;
			justify-content: start;
			.o_taxonomy_title {
				h2 {
					padding: 0px;
					margin: 0px;
				}
			}
		}
	}
	
	.o_taxonomy_title_cmds {
		margin-left: auto;
	}
}

.o_taxonomy_listing.o_rendertype_custom {
	
	.o_table_body.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.o_taxonomy_row {
		position: relative;
		display: inline-block;
		width: 450px;
		vertical-align: top;
		margin-right: 10px;
		
		ul {
			padding-left: 2em;
		}
	}
}


/* Display of the taxonomy levels as tags */
.o_taxonomy_tags {
	min-width: 0;
	max-width: 100%;
	
	// Crop the margin from the tags at the border of the whole element
	margin-bottom: -2px;
	margin-right: -2px;
}

.o_taxonomy_selection_tags {
	.o_taxonomy_tags {
		// Multiline inside the button of the object selection element
		display: flex;
		flex-wrap: wrap;
		
		// Avoid ellipsis if only one level selected
		margin-right: 0;
	}
}

.o_taxonomy_info_matadata {
	.o_tag.o_taxonomy {
		max-width: calc(100vw - 60px);
	}
	&.o_taxonomy_repo_matadata {
		// Same brake point as in repository.scss
		@media (min-width: 500px) {
			.o_tag.o_taxonomy {
				max-width: calc(50vw - 48px);
			}
		}
	}
}

.o_tag.o_competence,
.o_tag.o_taxonomy {
	@extend %o_nowrap;
	background-color: #ffffff;
	color: $o-competences-font-color;
	border-color: $o-competences-color; 
	border-radius: 0.5em;
	vertical-align: bottom;
	max-width: 100%;
	display: inline-block;
	
	&:hover {
		text-decoration: none;
		color: $o-competences-font-color;
	}
	
	&.o_tag_clickable {
		&:hover {
			text-decoration: none;
			background-color: darken(#ffffff, 10%);
			border-color: $o-competences-color;
		}
		
		&:active {
			background-color: darken(#ffffff, 15%);
			border-color: $o-competences-color;
		}
	}
	
	&.o_tag_selected {
		color: $o-competences-selected-color;
		background-color: #fff;
		border-color: $o-competences-selected-border-color;
		
		&.o_tag_clickable {
			&:hover {
				text-decoration: none;
				background-color: darken(#ffffff, 10%);
				border-color: darken($o-competences-selected-border-color, 10%);
			}
			
			&:active {
				background-color: darken(#ffffff, 15%);
				border-color: darken($o-competences-selected-border-color, 15%);
			}
		}
	}
}	

.o_competences {
	div#o_main_toolbar.o_toolbar {
		margin-top: 0px;
	}
}
