.o_todo_task_edit {
	// The do check and the title have to be on the same line
	.o_todo_task_do_row {
		// What a hack!
		>div:nth-child(2) {
			padding-left: 45px;
			margin-top: -69px;
		}
	}
	// Expenditure of work needs rounded corners on the right
	.input-group {
		>input.form-control:not(:first-child):not(:last-child) {
			@include border-right-radius($border-radius-base);
		}
	}
}

.o_todo_task_list {
	.o_table_row_details {
		td {
			>div {
				padding: 30px 20px 10px 20px;
			}
		}
	}
	
	.o_todo_title_done_cell {
		text-decoration: line-through;
	}
}

.o_todo_task_check {
	.checkbox-inline {
		font-size: 20px;
		min-width: 40px;
		max-width: 40px;
		display: grid;
		grid-template-columns: 1em auto;
		&.checkbox-inline {
			input {
				position: initial;
			}
		}
	}
	.checkbox-inline:is(table *) {
		input {
			margin: 0;
		}
	}
}
.o_todo_overdue {
	color: $o-todo-overdue-color
}

.o_todo_task_details {
	display: flex;
	flex-direction: column;
	gap: 15px;
	
	.o_todo_legend {
		font-weight: bold;
	}
	.o_todo_details_header {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		gap: 20px;
		.o_todo_task_edit_button {
			margin-left: auto;
		}
	}
	.o_todo_modified {
		margin-top: -10px;
		margin-bottom: 10px;
	}
	.o_todo_dates {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		row-gap: 20px;
		column-gap: 60px;
		>div {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			row-gap: 20px;
			column-gap: 60px;
			&:first-child {
				column-gap: 30px;
			}
		}
	}
	.o_todo_due_progress {
		margin-top: -20px;
	}
}