.o_todo_task_edit {
	// The do check and the title have to be on the same line
	.o_todo_task_do_row {
		// What a hack!
		>div:nth-child(2) {
			margin-left: 45px;
			margin-top: -70px;
		}
	}
	// Expenditure of work needs rounded corners on the right
	.input-group {
		>input.form-control:not(:first-child):not(:last-child) {
			@include border-right-radius($border-radius-base);
		}
	}
}

// Relative dates picker
.form-inline.o_todo_relative_offset_row {
	display: flex;
	align-items: center;
	gap: 4px;

	> span:first-of-type {
		flex: 1;
		> input {
			width: 100%;
		}
	}
	~.form-control-feedback {
		display: none;
	}
}
.form-inline.o_todo_date_row {
	display: flex;
	flex-direction: column;
	gap: 8px;
	
	@media (min-width: $screen-sm-min) {
		flex-direction: row;
	}

	> span {
		display: contents;
	}

	> span > .o_checkbox_button_group {
		display: flex;
		align-items: center;
	}

	~.form-control-feedback {
		display: none;
	}

	> span > .o_date {
		flex: 1;
	}

	> span > .input-group {
		display: flex !important;
		align-items: stretch;
		flex: 1;

		> span:not(.input-group-addon) {
			flex: 1;
		}

		> span:not(.input-group-addon) > .form-control {
			width: 100%;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		> .input-group-addon {
			display: flex;
			align-items: center;
			padding: 0;
			width: auto;

			> .btn {
				height: 100%;
				padding: 6px 12px;
				background: transparent;
				border: none;
				border-radius: 0;
				box-shadow: none;
			}
		}
	}
}
.o_todo_unit_row {
	.btn-group {
		display: flex;
		width: 100%;

		> label {
			flex: 1;
			text-align: center;
		}
	}
}

// List of to-dos
.o_todo_task_list {
	// Used in details
	container-type: inline-size;
	container-name: o_cont_todo_task_list;
	.o_table_row_details {
		td {
			>div {
				padding: 14px 0px 10px 14px;
			}
		}
	}
	
	.o_todo_title_done_cell {
		text-decoration: line-through;
	}
	.o_todo_details_toggle {
		padding: 0 6px;
	}
}

.o_todo_overdue {
	color: $o-todo-overdue-color
}

%o_todo_task_details_part {
	display: flex;
	flex-direction: column;
	gap: $o-todo-details-row-gap;
}
.o_todo_task_list {
	.o_table_row_details_container {
		width: calc(100cqw - 65px); // 65px = padding from o_table_row_details...
	}
}
.o_todo_task_details {
	@extend %o_todo_task_details_part;
	
	.o_todo_task_content {
		display: grid;
		grid-template-columns: 4fr 1fr;
		gap: 30px;
	}
	.o_todo_content_left,
	.o_todo_content_right {
		@extend %o_todo_task_details_part;
	}
	
	.o_todo_details_header {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		gap: 20px;
		.o_todo_header_info {
			margin-right: auto;
		}
	}
	
	.o_todo_task_4_cols {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 10px;
	}
	
	.o_todo_task_members_left {
		display: none;
	}
	
	.o_todo_start_date_wrapper {
		display: flex;
		.o_todo_date_range_wrapper {
			margin: auto;
		}
	}
	
	.o_todo_due_progress {
		margin-top: -$o-todo-details-row-gap - 5px;;
	}
	
	@container (max-width: 840px) {
		.o_todo_task_content {
			grid-template-columns: 1fr;
		}
		.o_todo_content_right {
			display: none;
		}
		.o_todo_task_members_left {
			display: grid;
			>div {
				grid-column: span 2;
			}
		}
	}
	@container (max-width: 640px) {
		.o_todo_task_4_cols {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.o_todo_simple {
	display: grid;
	gap: 10px;
}

.o_todo_legend {
	font-weight: bold;
}

.o_labeled_light {
	&.o_todo_new {
		background-color: $o-folder-label-new-color;
		border-color: $o-folder-label-new-bg-color;
		color: $o-folder-label-new-bg-color;
		margin-left: 5px;
	}
}