.o_todo_task_edit {
	// The do check and the title have to be on the same line
	.o_todo_task_do_row {
		// What a hack!
		>div:nth-child(2) {
			padding-left: 45px;
			margin-top: -69px;
		}
	}
	// Expenditure of work needs rounded corners on the right
	.input-group {
		>input.form-control:not(:first-child):not(:last-child) {
			@include border-right-radius($border-radius-base);
		}
	}
}

.o_todo_task_list {
	// Used in details
	container-type: inline-size;
	container-name: o_cont_todo_task_list;
	.o_table_row_details {
		td {
			>div {
				padding: 30px 20px 10px 20px;
			}
		}
	}
	
	.o_todo_title_done_cell {
		text-decoration: line-through;
	}
}

.o_todo_task_check {
	.checkbox-inline {
		font-size: 20px;
		min-width: 40px;
		max-width: 40px;
		display: grid;
		grid-template-columns: 1em auto;
		&.checkbox-inline {
			input {
				position: initial;
			}
		}
	}
	.checkbox-inline:is(table *) {
		input {
			margin: 0;
		}
	}
}
.o_todo_overdue {
	color: $o-todo-overdue-color
}

%o_todo_task_details_part {
	display: flex;
	flex-direction: column;
	gap: $o-todo-details-row-gap;
}
.o_todo_task_details {
	@extend %o_todo_task_details_part;
	
	width: calc(100cqw - 40px); // 40px = padding from o_table_row_details...
	.o_todo_task_content {
		display: grid;
		grid-template-columns: 4fr 1fr;
		gap: 30px;
	}
	.o_todo_content_left,
	.o_todo_content_right {
		@extend %o_todo_task_details_part;
	}
	
	.o_todo_details_header {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		gap: 20px;
		.o_todo_header_info {
			margin-right: auto;
		}
	}
	
	.o_todo_task_4_cols {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 10px;
	}
	
	.o_todo_task_members_left {
		display: none;
	}
	
	.o_todo_start_date_wrapper {
		display: flex;
		.o_todo_date_range_wrapper {
			margin: auto;
		}
	}
	
	.o_todo_due_progress {
		margin-top: -$o-todo-details-row-gap - 5px;;
	}
	
	@container (max-width: 840px) {
		.o_todo_task_content {
			grid-template-columns: 1fr;
		}
		.o_todo_content_right {
			display: none;
		}
		.o_todo_task_members_left {
			display: grid;
			>div {
				grid-column: span 2;
			}
		}
	}
	@container (max-width: 640px) {
		.o_todo_task_4_cols {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.o_todo_legend {
	font-weight: bold;
}