
.o_toolbar {
	position: relative;
  	margin-bottom: $o-toolbar-margin-bottom;
	margin-top: $o-toolbar-margin-top; 	// don't waste so much space with a toolbar
  	@include clearfix();

	border: 1px solid $o-toolbar-border-color;
 	@media (min-width: $grid-float-breakpoint) {
    	@include border-top-radius($o-toolbar-border-radius);
    	@include border-bottom-radius($o-toolbar-border-radius);
    }
    
    &.o_toolbar_with_segments {
    	margin-bottom: ($o-toolbar-margin-bottom + $line-height-computed / 2);
    }

	.o_breadcrumb {
	  	@include clearfix();
		.breadcrumb {
			margin-bottom: 0;
			padding: 5px 9px;
			font-size: $o-toolbar-breadcrumb-font-size;
			line-height: $o-toolbar-breadcrumb-line-height;
	    	border-radius: 0; // reset from default breadcrumb style
			background: $o-toolbar-breadcrumb-bg-color;
	    	@include border-top-radius($o-toolbar-border-radius); // don't hide background

			.o_breadcrumb_close {
				float: right;
				position: relative;
				margin: 0 0 0 15px;
				vertical-align: middle;
				a {
					line-height: $o-toolbar-breadcrumb-line-height;
					color: $o-toolbar-close-color;
					&:hover {
						color: darken($o-toolbar-close-color, 15%);
					}
					i {
						font-size: floor($o-toolbar-breadcrumb-font-size * 1.5);
					}
					span {
						display: none;
					}
				}
				&:before {
					content: none;
				}
			}
		}
	}
	
	.o_tools_container {
		text-align: center;
	  	min-height: $o-toolbar-height-md; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
	  	position: relative;
	  	@include clearfix();

	  	background-color: $o-toolbar-bg-color;
    	@include border-bottom-radius($o-toolbar-border-radius); // don't hide background
		
		@media (max-width: $screen-sm-max) { 
			min-height: $o-toolbar-height-sm;
		}
		@media (max-width: $screen-xs-max) { 
			min-height: $o-toolbar-height-xs;
			text-align: left;
		}
		
		span.o_tool_text {
			color: $o-toolbar-link-color;
			display: inline-block;
		}

		a {
			// Following rules copied from .navbar-link;
			color: $o-toolbar-link-color;
	    	&:hover { 
	      		color: $o-toolbar-link-hover-color;
	    	}
	    	@extend %o_undecorated;
	    	display: inline-block;
	    	
	    	&.o_disabled {
		    	color: $o-toolbar-link-disabled-color !important;
		    	&:hover {
		      		color: $o-toolbar-link-disabled-color !important;
		    	}
	    	}
			&.active {
				color: $o-toolbar-link-active-color;
				background-color: $o-toolbar-link-active-bg;
			}
	    }
	    a.btn-primary {
	    	color: #fff;
	    }
	    
	    .dropdown-menu {
			a {
				// override rule from above
		    	display: block;
		    	&.active {
					color: $o-toolbar-dropdown-active-color;
					background-color: $o-toolbar-dropdown-active-bg;
		    	}
		    }
	    }
	}
	// add border when directly after a breadcrumb as a separator
	.o_breadcrumb + .o_tools_container {
		border-top: 1px solid $o-toolbar-border-color;
	}
	
	.o_tools {
		margin-top: $o-toolbar-tools-margin-top-md;
		margin-bottom: $o-toolbar-tools-margin-bottom-md;
	}

	.o_tool, .o_text {
		position: relative;
		margin: 0 10px;	
		&:first-child {
			margin-left: 0;	
		}
		&:last-child {
			margin-right: 0;	
		}
		a, .o_disabled {
			i {
				font-size: $o-toolbar-size-icon-md;
			}
			span {
				display: block;
				font-size: $o-toolbar-size-text-md;
				&.badge {
					position: absolute;
					right: 50%;
					top: $o-toolbar-size-text-md * -1.5;
					margin-right:-$o-toolbar-size-text-md;
					font-size: floor($o-toolbar-size-icon-md * 0.75);
				}
			}
			@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
				i {
					font-size: $o-toolbar-size-icon-sm;
				}
				span {
					font-size: $o-toolbar-size-text-sm;
					&.badge {
						top: $o-toolbar-size-text-sm * -1.5;
						margin-right:-$o-toolbar-size-text-sm;
						font-size: floor($o-toolbar-size-icon-sm * 0.75);
					}
				}
			}
			@media (max-width: $screen-xs-max) { 
				i {
					font-size: $o-toolbar-size-icon-xs;
				}
				span {
					display: none;
					&.badge {
						display: block;
						position: relative;
						top: 0;
						left: 0;
						margin-right: 0;
					}
				}
			}
		}
		/* context help button */
		.o_chelp {
			position: relative;
			top: -1em;
			vertical-align: top;
			color: $o-chelp-color;
		}
	}
	
	.o_tool_next, .o_tool_previous {
		padding: 0;
		margin-top: floor($o-toolbar-nav-size-icon-md / 4);
		border: 1px solid $o-toolbar-nav-border-color;
		background-color: $o-toolbar-nav-bg-color;
		a {
			color: $o-toolbar-nav-link-color;
			&:hover {
				color: $o-toolbar-nav-link-hover-color;			
			}

			&.o_disabled {
		    	color: $o-toolbar-nav-link-disabled-color !important;
		    	&:hover {
		      		color: $o-toolbar-nav-link-disabled-color !important;
		    	}
	    	}
			
		}
		i {
			font-size: $o-toolbar-nav-size-icon-md;
		}
		@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
			margin-top: floor($o-toolbar-nav-size-icon-sm / 4);
			i {
				font-size: $o-toolbar-nav-size-icon-sm;
			}
		}
		@media (max-width: $screen-xs-max) { 
			margin-top: 0;
			i {
				font-size: $o-toolbar-nav-size-icon-xs;
			}
		}
	}
	.o_tool_previous {
		margin-left: 10px;
		@include border-left-radius($o-toolbar-nav-border-radius);
		border-right: 0;
	}
	.o_tool_next {
		@include border-right-radius($o-toolbar-nav-border-radius);
	}
	
	.o_tool_dropdown {
		margin: 0 10px;	
		&:first-child {
			margin-left: 0;	
		}
		&:last-child {
			margin-right: 0;	
		}
		a.dropdown-toggle {
			position: relative;
			i {
				font-size: $o-toolbar-size-icon-md;
			}
			span.o_label {
				display: block;
				font-size: $o-toolbar-size-text-md;
				text-align: center;
			}
			.o_icon_caret {
				position: absolute;
				right: 50%;
				top: floor($o-toolbar-size-icon-md / 4);
				margin-right: floor($o-toolbar-size-icon-md * -1.1);
				font-size: $o-toolbar-size-caret-md;
			}
			@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
				i {
					font-size: $o-toolbar-size-icon-sm;
				}
				span.o_label, .o_icon_caret {
					font-size: $o-toolbar-size-text-sm;
				}
				.o_icon_caret {
					top: floor($o-toolbar-size-icon-sm / 4);
					margin-right: floor($o-toolbar-size-icon-sm * -1.1);	
					font-size: $o-toolbar-size-caret-sm;				
				}
			}
			@media (max-width: $screen-xs-max) {
				padding: 0 10px 0 5px;
				i {
					font-size: $o-toolbar-size-icon-xs;
				}
				span.o_label {
					display: none;
				}
			}				
		}
		.dropdown-menu {
			text-align: left;
		}			
		
		/* drop down with status style rendering */
		.o_inner_wrapper.o_labeled,
		.o_inner_wrapper.o_labeled_light {
			line-height: ($o-toolbar-size-icon-md - 2px);
			font-size: 70% !important;
			padding: 0 18px 0 4px;
			position: relative;
			top: -2px;
						
			i {
				font-size: ($o-toolbar-size-icon-md - 6px) !important;
				margin: 0 0 3px 0;
			}
			
			+ .o_icon_caret {
				position: absolute;
				right: 5px;
				top: 2px;
				margin-right: 0;
			}
			
			@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
				line-height: ($o-toolbar-size-icon-sm - 2px);
				i {
					font-size: ($o-toolbar-size-icon-sm - 6px) !important;
				}
				+ .o_icon_caret {
					right: 5px;
					top: 2px;
					margin-right: 0;
					font-size: $o-toolbar-size-caret-sm;				
				}
			}
			@media (max-width: $screen-xs-max) {
				padding: 0 18px 0 4px;
				i {
					font-size: $o-toolbar-size-icon-xs;
				}
				+ .o_icon_caret {
					right: 15px;
					top: 2px;
					margin-right: 0;
				}
				span.o_inner_text,
				span.o_label {
					display: none;
				}
			}				
			
		}
		/* dropdown element in toolbar */
		.dropdown-toggle.o_with_labeled {
			.o_inner_wrapper.o_labeled  + .o_icon_caret {
				color: $o-repo-status-color-bright !important;
			}
		}
		.dropdown-menu.o_with_labeled {
			padding: 0;
			margin: 0;
			.o_labeled {
				text-align: left;
			}
			& >li>a {
				padding: 5px 5px;
				margin: 1px;
			}
		}
	}	
	
	.o_tools_left {
		float: left;
	}
	.o_tools_right {
		float: right;
	}
	.o_tools_right_edge {
		// at the right edge of the toolbar, even on small screens
		float: right;
	}
	.o_tools_center {
		float:both;
    	margin-left: auto;
    	margin-right: auto;
	}
	
	.o_tools_segments {
    	margin: 0 auto -1.1em auto;
	}
	
	.o_tools_segments.o_tools_segments_alone {
		margin-top: 1.5em;
	}
	
	@media (max-width: $screen-sm-max) { 
		.o_tools {
			margin-top: $o-toolbar-tools-margin-top-sm;
			margin-bottom: $o-toolbar-tools-margin-bottom-sm;
		}
		.o_tools.o_tools_segments {
    		margin: 0 auto -1.1em auto;
		}
		.o_tools_segments.o_tools_segments_alone {
			margin-top: 1.5em;
		}
		.o_tool span {
			max-width: 10em;
			@include text-overflow();	
		}
		.o_tools_segments .o_tool span {
			display: block;
		}
		.o_tool, .o_text, .o_tool_dropdown {
			margin: 0 5px;	
		}
	}
	@media (max-width: $screen-xs-max) { 
		.o_tools {
			margin-top: $o-toolbar-tools-margin-top-xs;
			margin-bottom: $o-toolbar-tools-margin-bottom-xs;
			.o_chelp {
				top: 0;
				vertical-align: top;
			}
		}
		.o_tools.o_tools_segments {
			margin: 0 auto -1.1em auto;
			text-align: center; /* override the override from o_tools_container */
		}
		.o_tools_segments.o_tools_segments_alone {
			margin-top: 1.5em;
		}
		.o_tools_center {
			float: left;
		}		
		.o_tool, .o_text, .o_tool_dropdown {
			margin: 0 0;
			//this allows full-width dropdown menus
			position: static;
		}
		//make dropdown bigger for small screens
		.o_tool_dropdown .dropdown-menu {
			left: 0px;
			right: 0px;

			a, i {
				line-height: $line-height-computed * 1.5;
			}
			.o_navbar_tab_close {
				line-height: inherit;
			}
		}
		
	}
	
}

#o_main_container .o_toolbar_navigation {
	position: relative;
}

#o_main_container .o_toolbar_message {
	display: table;
	margin: 0 auto $o-toolbar-margin-bottom auto;

	&.o_warning {
		padding-top:5px;
		padding-bottom:5px;
		border: 1px solid $o-box-warning-color;
		border-radius: $border-radius-small;
	}
}

/* render toolbar with zebra effect in edit mode */
.o_edit_mode .o_toolbar {
	
	.o_tools_container {
		background: repeating-linear-gradient(
	    	300deg,
		    $o-toolbar-edit_stripe-color,
		    $o-toolbar-edit_stripe-color 10px,
		    $o-toolbar-edit-bg-color 10px,
		    $o-toolbar-edit-bg-color 20px
		);
	}
	/* in QTI 1.2 there is a toolbar below the toolbar - only render the first one in edit mode style */
	.o_edit_mode .o_tools_container {
		background: $o-toolbar-bg-color;
	}
}
