.o_toolbar {
	// Following rules copied from .navbar;
	position: relative;
  	min-height: $o-toolbar-height-md; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  	margin-bottom: $navbar-margin-bottom;
  	border: 1px solid transparent;
  	@include clearfix();
 	@media (min-width: $grid-float-breakpoint) {
    	border-radius: $navbar-border-radius;
  	}
	
	// Following rules copied from .navbar-default;
  	background-color: $navbar-default-bg;
  	border-color: $navbar-default-border;

	text-align: center;
	min-height: $o-toolbar-height-md;
	
	a {
		// Following rules copied from .navbar-link;
   	 	color: $navbar-default-link-color;
    	&:hover {
      		color: $navbar-default-link-hover-color;
    	}
    	@extend %o_undecorated;
    	display: inline-block;
	}
	
	.o_breadcrumb {
		float: left;	
		margin-top: floor($o-toolbar-margin-top-md / 2);
		margin-bottom: floor($o-toolbar-margin-bottom-md / 2);
		padding-right: 5px;
		padding-left: 5px;
		padding-top: floor($o-toolbar-size-icon-md * 0.20);
		border-right: 1px solid $navbar-default-border;
		margin-right: 15px;
		margin-left: -15px;
		
		i {
			font-size: $o-toolbar-size-icon-md;
		}
		.o_history.o_tool_dropdown i {
			font-size: floor($o-toolbar-size-icon-md * 0.80);
		}
		
		@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
			margin-top: floor($o-toolbar-margin-top-sm / 2);
			margin-bottom: floor($o-toolbar-margin-bottom-sm / 2);
			padding-top: floor($o-toolbar-size-icon-sm * 0.20);
			i {
				font-size: $o-toolbar-size-icon-sm;
			}
			.o_history.o_tool_dropdown i {
				font-size: floor($o-toolbar-size-icon-sm * 0.80);
			}
		}
		@media (max-width: $screen-xs-max) { 
			margin-top: $o-toolbar-margin-top-xs;
			margin-bottom: $o-toolbar-margin-bottom-xs;
			padding-top: 0;
			i {
				font-size: $o-toolbar-size-icon-xs;
			}
			.o_history {
				display: none;
			}
		}	
	}
		
	.o_tools_close {
		float: right;
		position: relative;
		margin: $o-toolbar-margin-top-md -15px $o-toolbar-margin-bottom-md 15px;
		border-left: 1px solid $navbar-default-border;
		padding-right: 5px;
		padding-left: 5px;
		vertical-align: middle;
		a {
			line-height: $o-toolbar-height-md;
			color: $o-toolbar-close-color;
			&:hover {
				color: darken($o-toolbar-close-color, 15%);
			}
			i {
				font-size: $o-toolbar-size-icon-md;
			}
			span {
				display: none;
			}
		}
		@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
			margin-top: $o-toolbar-margin-top-sm;
			margin-bottom: $o-toolbar-margin-bottom-sm;
			a {
				line-height: $o-toolbar-height-sm;
				i {
					font-size: $o-toolbar-size-icon-sm;
				}
			}
		}
		@media (max-width: $screen-xs-max) { 
			min-height: $o-toolbar-height-xs;
			margin-top: $o-toolbar-margin-top-xs;
			margin-bottom: $o-toolbar-margin-bottom-xs;
			a {
				line-height: $o-toolbar-height-xs;
				i {
					font-size: $o-toolbar-size-icon-xs;
				}
			}
		}
	}
		
		
	.o_tools {
		margin-top: $o-toolbar-margin-top-md;
		margin-bottom: $o-toolbar-margin-bottom-md;
	}

	.o_tool, .o_text {
		position: relative;
		margin: 0 10px;	
		a, .o_disabled {
			i {
				font-size: $o-toolbar-size-icon-md;
			}
			span {
				display: block;
				font-size: $o-toolbar-size-text-md;
				&.badge {
					position: absolute;
					right: 50%;
					top: $o-toolbar-size-text-md * -2;
					margin-right:-$o-toolbar-size-text-md;
					font-size: floor($o-toolbar-size-icon-md * 0.75);
				}
			}
			@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
				i {
					font-size: $o-toolbar-size-icon-sm;
				}
				span {
					font-size: $o-toolbar-size-text-sm;
					&.badge {
						top: $o-toolbar-size-text-sm * -2;
						margin-right:-$o-toolbar-size-text-sm;
						font-size: floor($o-toolbar-size-icon-sm * 0.75);
					}
				}
			}
			@media (max-width: $screen-xs-max) { 
				i {
					font-size: $o-toolbar-size-icon-xs;
				}
				span {
					display: none;
					&.badge {
						display: block;
						position: relative;
						top: 0;
						left: 0;
					}
				}
			}
		}
		/* context help button */
		.o_chelp {
			position: relative;
			top: -1em;
			vertical-align: top;
		}
	}
				
	.o_tool_dropdown {
		position: relative;
		a.dropdown-toggle {
			i {
				font-size: $o-toolbar-size-icon-md;
			}
			span {
				display: block;
				font-size: $o-toolbar-size-text-md;
			}
			.o_icon_caret {
				position: absolute;
				right: 50%;
				top: floor($o-toolbar-size-icon-md / 4);
				margin-right: floor($o-toolbar-size-icon-md * -1.1);
				font-size: $o-toolbar-size-caret-md;
			}
			@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
				i {
					font-size: $o-toolbar-size-icon-sm;
				}
				span, .o_icon_caret {
					font-size: $o-toolbar-size-text-sm;
				}
				.o_icon_caret {
					top: floor($o-toolbar-size-icon-sm / 4);
					margin-right: floor($o-toolbar-size-icon-sm * -1.1);	
					font-size: $o-toolbar-size-caret-sm;				
				}
			}
			@media (max-width: $screen-xs-max) { 
				i {
					font-size: $o-toolbar-size-icon-xs;
				}
				span, .o_icon_caret {
					display: none;
				}
			}				
		}
		.dropdown-menu {
			text-align: left;
		}
	}	
	
	.o_tools_left {
		float: left;
	}
	.o_tools_right {
		float: right;
	}
	.o_tools_center {
		// default
	}
	
	@media (max-width: $screen-sm-max) { 
		min-height: $o-toolbar-height-sm;
		.o_tools {
			margin-top: $o-toolbar-margin-top-sm;
			margin-bottom: $o-toolbar-margin-bottom-sm;
		}
		.o_tool span {
			max-width: 10em;
			@include text-overflow();	
		}
	}
	@media (max-width: $screen-xs-max) { 
		min-height: $o-toolbar-height-xs;
		text-align: left;
		.o_tools {
			margin-top: $o-toolbar-margin-top-xs;
			margin-bottom: $o-toolbar-margin-bottom-xs;
			.o_chelp {
				top: 0;
				vertical-align: top;
			}
		}
		.o_tools_right, .o_tools_center {
			float: left;
		}
		
	}
	

}