/* inline translation tool */	
span.o_translation_i18nitem {
	position: relative ! important;
}
span.o_translation_i18nitem a.o_translation_i18nitem_launcher {
	position: absolute ! important;
	z-index: 100 ! important;
	width: 18px ! important;
	height: 20px ! important;
	top: 0 ! important;
	left: 5px ! important;
	background: $o-content-body-bg;
	border: 1px solid $brand-primary ! important;
	border-radius: 3px;
	text-align: center;
	padding: 0 ! important;
}
	