.o_tree {
	position: relative;
	display: block;
	background-color: $o-tree-bg;
	border: 1px solid $o-tree-border-color;
    @include border-top-radius($o-tree-border-radius);
    @include border-bottom-radius($o-tree-border-radius);
    overflow: hidden;
    font-size: $o-tree-font-size;
    
    a {
    	color : $o-tree-link-color;
    	background-color: none;
    	&:hover,
		&:focus {
			color: $o-tree-link-hover-color;
		}
    }
    
	.o_tree_link {
		background-color : $o-tree-link-bg;
		&:hover,
		&:focus {
			background-color : $o-tree-link-hover-bg;
		}
		&:first-child {
			background-color: transparent;
		}
		&:last-child{
			&:hover,
			&:focus {
				background-color : $o-tree-link-hover-bg;
			}
		}
	}
	
	.o_insertion_point>a>span {
		padding: 5px;
		border: 1px solid $o-tree-border-color;
		@include border-top-radius($o-tree-border-radius);
		@include border-bottom-radius($o-tree-border-radius);
	}
	
	.o_insertion_source>a>span.o_tree_item, .o_insertion_source>a>span.o_dnd_item {
		border-bottom:solid $o-table-edit-border 4px;
		background-color: $o-table-edit-bg;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}
		
		li div {
				position: relative;
				margin-bottom: -1px;
				border-bottom: 1px solid $o-tree-border-color;
		}
		
		li div.popover {
				position: absolute;
				left: auto;
				right: 0;
		}
		
		@for $i from 0 through 11 {
			li div a.o_tree_oc_l#{$i}  { 
				position:absolute;
				top: $o-tree-padding-vertical;
				left: $o-tree-padding-opener-left-px + $o-tree-padding-horizontal_root_visible + (( $i - 1) * $o-tree-padding-steps-px); 
				z-index:9; 
			}
			
			.o_tree_level_open.b_tree_oc_l#{$i}, .o_tree_level_close.b_tree_oc_l#{$i} {
				z-index: 10;
			}
		}

		@for $i from 0 through 11 {
			li div span.o_tree_l#{$i}  {
				display:block;
				padding: $o-tree-padding-vertical 2px $o-tree-padding-vertical $o-tree-padding-left-steps-px;
				margin-left: $o-tree-padding-horizontal_root_visible + ($i * $o-tree-padding-steps-px);
				z-index:9; 
			}
		}
		
		span.o_tree_leaf {
			display: none; 
		}
		
		span.o_tree_link>input[type=checkbox] {
			margin-right:5px;
		}
		
		li .badge {
			position: absolute;
			font-size: 70%;
			&:before { 
				content: none; 
			}
			&.o_badge_1 {
				top: 3px;
				right:1px;
			}
			&.o_badge_2 {
				bottom: 3px;
				right:1px;
			}
			&.o_badge_3 {
				top: 3px;
				right:25px;
			}
			&.o_badge_4 {
				bottom: 3px;
				right:25px;
			}
		}
		
		li div.o_dnd_sibling {
			margin: 0;
			padding: 0;
			border-bottom: none;
		}
		
		li .active.o_tree_link {
			a { color : $o-tree-link-active-color; }
			background-color : $o-tree-link-active-bg;
			&:hover,
			&:focus {
				a { color: $o-tree-link-active-hover-color; }
				background-color : $o-tree-link-active-hover-bg;
			}
			font-weight: $o-tree-link-active-font-weight;
		}
		
		li .active_parent.o_tree_link {
			a {
				color : $o-tree-link-active-parent-color;
				&:hover,
				&:focus {
					color: $o-tree-link-active-parent-hover-color;
				}
			}
			font-weight: $o-tree-link-active-parent-font-weight;
		}
	}
	
	/* fix left padding when root node is not visible, move everything a bit to the right */
	&.o_tree_root_hidden {
		ul {
			@for $i from 0 through 11 {
				li div .o_tree_oc_l#{$i}  { 
					left: $o-tree-padding-opener-left-px + $o-tree-padding-horizontal_root_hidden + (($i - 1) * $o-tree-padding-steps-px); 
				}
			}
	
			@for $i from 0 through 11 {
				li div span.o_tree_l#{$i}  {
					padding: $o-tree-padding-vertical 2px $o-tree-padding-vertical ($o-tree-padding-horizontal_root_hidden + ($i * $o-tree-padding-steps-px)); 
				}
			}
		}
	}
	
	.o_dnd_item {
		cursor:move; z-index: 100;
	}
	.o_dnd_proxy {
		@include opacity(.4);
		background-color: $o-tree-dnd-hover;
		padding: 5px 10px 5px 10px;
		border: 1px solid $o-tree-border-color;
		@include border-top-radius($o-tree-border-radius);
    	@include border-bottom-radius($o-tree-border-radius);
	}
	.o_dnd_item.o_dnd_over {
		background-color: #ffff60;
	}
	.o_dnd_sibling {
		height:7px;
		width:100%;
	}
	.o_dnd_sibling.o_dnd_over {
		background:transparent url(../light/images/arrow_dd.png) top left no-repeat;
	}
	
	.o_dnd_l1 { margin-left:0 !important; }
	.o_dnd_l2 { margin-left:1em !important; }
	.o_dnd_l3 { margin-left:2em !important; }
	.o_dnd_l4 { margin-left:3em !important; }
	.o_dnd_l5 { margin-left:4em !important; }
	.o_dnd_l6 { margin-left:5em !important; }
	.o_dnd_l7 { margin-left:6em !important; }
	.o_dnd_l8 { margin-left:7em !important; }
	.o_dnd_l9 { margin-left:8em !important; }
	.o_dnd_l10 { margin-left:9em !important; }
	.o_dnd_l11 { margin-left:10em !important; }
}

.o_tree.o_tree_insert_tool span.o_tree_link a {
	display: block;
}

.o_offcanvas {
	.o_tree {
		border: 0;
	}
}

.o_selection_tree {
	position: relative;
	display: block;
	background-color: $o-tree-bg;
	border: 1px solid $o-tree-border-color;
    @include border-top-radius($o-tree-border-radius);
    @include border-bottom-radius($o-tree-border-radius);
    overflow: hidden;
    font-size: $o-tree-font-size;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	li {
		margin: 0;
		padding: 0;
		white-space: nowrap;
	}
		
	li div {
		position: relative;
		margin-bottom: -1px;
		border-bottom: 1px solid $o-tree-border-color;
	}
	
	@for $i from 0 through 11 {
		li>div>span.o_tree_l#{$i}, li>div>div.checkbox.o_tree_l#{$i}, li>div>div.radio.o_tree_l#{$i} {
			display:block;
			padding: $o-tree-padding-vertical 2px $o-tree-padding-vertical ($o-tree-padding-horizontal_root_visible + ($i * $o-tree-padding-steps-px)); 
			z-index:9; 
		}
	}
}