.o_user_infos {
	position:relative;
	min-height:100px;
	
	.o_user_portrait {
		position:absolute;
		top:0;
		left:15px;
		width:100px;
		height:100px;
	} 
	.o_user_infos_inner {
		margin:0 30px 0 100px;
	}
	
	.o_user_infos_inner table {
		margin:0 30px 15px 30px;
	}
}

.o_useradmin {
	.o_user_infos .o_user_infos_inner {
		margin-right: 45px;
	}
	
	.o_user_edit_username {
		.form-inline .form-control-static {
			padding-top: 0;
		}
		.form-inline>a {
			margin-left: 2em;
		}
	}
}

.o_user_status_badge {
	float: right;
	display: inline-block;
	padding: 1px 25px;
	border-radius: $border-radius-small;
	
	&.o_user_status_active {
	    background-color: 	$o-repo-published-color;
	    color: 				#fff;
	}
	&.o_user_status_inactive {
	    background-color: 	$o-repo-closed-color;
	    color: 				#fff;
	}
	&.o_user_status_login_denied {
	    background-color: 	$o-repo-trash-color;
	    color: 				#fff;
	}
	&.o_user_status_pending {
	    background-color: 	$o-repo-review-color;
	    color: 				#fff;
	}
	&.o_user_status_deleted {
	    background-color: 	$o-repo-deleted-color;
	    color: 				#fff;
	}
}

div.o_skype_button {
	display:inline-block;
	p {
		margin: 0 0 0 0;	
		a img {
			margin:0 !important;
			vertical-align:middle !important;
		}
	}
}

.o_useradmin div#o_main_toolbar.o_toolbar {
	margin-top: 0px;
}

.o_labeled_light {
	&.o_invitation_status_active {
	    border-color: $o-invitation-active-color;
	    color: $o-invitation-active-color;
	}
	
	&.o_invitation_status_inactive {
	    border-color: $o-invitation-inactive-color;
	    color: $o-invitation-inactive-color;
	}
}
