/* User portrait: avtar or initials */

@mixin o-user_portrait_size($size, $initials-font-size, $im-margin-size, $im-scale) {
	width: $size;
	height: $size;
	.o_user_portrait_avatar {
		width: $size;
		height: $size;
		.o_user_portrait_initials {
			font-size: $initials-font-size;
		}
	}
	.o_user_portrait_im {
		margin-bottom: $im-margin-size;
		margin-right: $im-margin-size;
		transform: scale($im-scale);
	}
}

.o_user_portrait {
	&.o_user_portrait_xsmall {
		@include o-user_portrait_size(math.div($o-portrait-small-size, 2), $o-user-portrait-initials-font-size-xsmall, $o-user-portrait-im-margin-size-xsmall, $o-user-portrait-im-scale-xsmall);
	}
	&.o_user_portrait_small {
		@include o-user_portrait_size($o-portrait-small-size, $o-user-portrait-initials-font-size-small, $o-user-portrait-im-margin-size-small, $o-user-portrait-im-scale-small);
	}
	&.o_user_portrait_medium {
		@include o-user_portrait_size(math.div($o-portrait-size, 2), $o-user-portrait-initials-font-size-medium, $o-user-portrait-im-margin-size-medium, $o-user-portrait-im-scale-medium);
	}
	&.o_user_portrait_large {
		@include o-user_portrait_size($o-portrait-size, $o-user-portrait-initials-font-size-large, $o-user-portrait-im-margin-size-large, $o-user-portrait-im-scale-large);
	}
	
	display: grid;
	>div {
		grid-area: container;
	}
	
	.o_user_portrait_avatar {
		display: grid;
		align-items: stretch;
		justify-items: stretch;
		
		.o_user_portrait_image {
			background-color: white;
			border-radius: 50%;
			object-fit: cover;
			max-width: 100%;
			aspect-ratio: 1;
		}
		.o_user_portrait_initials {
			border-radius: 50%;
			-webkit-user-select: none; /* Safari */
 			user-select: none;
			
			display: grid;
			align-items: center;
			justify-content: center;
		}
	}
	.o_user_portrait_border {
		border-radius: 50%;
		border: $o-user-info-portrait-border	;
		box-shadow: $o-user-info-portrait-box-shadow	;
	}
	.o_user_portrait_im {
		place-self: end end;
		
		border-radius: 50%;
		line-height: 12px;
		border: solid 1px white;
		background-color: white;
	}
}

.o_user_initials {
	color: $o-user-initials-color;
	&.o_user_initials_dark_blue {
		background-color: $o-proj-avatar-dark-blue-bg-color;
	}
	&.o_user_initials_light_blue {
		background-color: $o-proj-avatar-light-blue-bg-color;
	}
	&.o_user_initials_purple {
		background-color: $o-proj-avatar-purple-bg-color;
	}
	&.o_user_initials_red {
		background-color: $o-proj-avatar-red-bg-color;
	}
	&.o_user_initials_orange {
		background-color: $o-proj-avatar-orange-bg-color;
	}
	&.o_user_initials_yellow {
		background-color: $o-proj-avatar-yellow-bg-color;
		color: $o-proj-avatar-yellow-color;
	}
	&.o_user_initials_dark_green {
		background-color: $o-proj-avatar-dark_green-bg-color;
	}
	&.o_user_initials_light_green {
		background-color: $o-proj-avatar-light_green-bg-color;
	}
	// For special user types like guests, deleted or unknown users
	&.o_user_initials_grey {
		background-color: $o-user-initials-base-bg-color;
	}
}


/* Users portraits */
@mixin o-users_portrait_offset($size){
	.o_portrait_user {
		&:not(:first-child) {
			margin-left: -$o-users-portrait-overlap * $size;
		}
	}
}

.o_users_portraits {
	.o_portrait_user_not_visible {
		margin-left: 5px;
	}
	&.o_users_portraits_overlapping_portraits {
		display: flex;
		align-items: center;
		ul {
			margin-bottom: 0;
			display: flex;
			.o_portrait_user {
				&:not(:first-child) {
					margin-left: -60px;
				}
			}
		}
		&.o_users_portraits_xsmall {
			@include o-users_portrait_offset(math.div($o-portrait-small-size, 2));
		}
		&.o_users_portraits_small {
			@include o-users_portrait_offset($o-portrait-small-size);
		}
		&.o_users_portraits_medium {
			@include o-users_portrait_offset(math.div($o-portrait-size, 2));
		}
		&.o_users_portraits_large {
			@include o-users_portrait_offset($o-portrait-size);
		}
	}
	&.o_users_portraits_vertical_displayname {
		ul {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
		.o_portrait_user {
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}
}


/* User infos */

.o_togglebox_content {
	> .o_user_infos {
		padding-right: 20px;	
	}
}

.o_user_infos {
	display: flex;
	align-items: start;
	
	min-height:100px;
	.o_portrait {
		margin: 0 15px;
	}
	.o_user_infos_inner {
		flex-grow: 2;
	}
}

.o_user_info_profile {
	background-color: $o-user-info-profile-bg-color;
	padding: $o-user-info-profile-padding;
	border: $o-user-info-border;
	border-radius: $o-user-info-border-radius;

	display: inline-flex;
	gap: $o-user-info-profile-gap;
	align-items: center;
	
	.o_user_info_profile_name_wrapper {
		display: flex;
		flex-direction: column;
		gap: 5px;
		.o_user_info_profile_name {
			font-size: $o-user-info-displayname-size;
		}
		.o_user_info_profile_cmds {
			display: flex;
			flex-wrap: wrap;
			column-gap: 10px;
		}
	}	
}
.o_user_info {
	border: $o-user-info-border;
	border-radius: $o-user-info-border-radius;
	
	display: grid;
	grid-template-columns: 1fr 2fr;
	
	>div:has(.o_user_info_profile) {
		/* Full height of the profile */
		display: grid;
		.o_user_info_profile {
			height: 100%;
			/* Full width of the profile */
			display: flex;
			
			
			border: none;
			border-radius: unset;
			border-right: $o-user-info-border;
		}
	}
	
	.o_user_info_items {
		padding: $o-user-info-items-padding;
	
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}

}

.o_user_info_wrapper {
	container-type: inline-size;
	
	@container (max-width: 800px) {
		.o_user_info {
			grid-template-columns: 1fr;
			
			>div:has(.o_user_info_profile) {
				.o_user_info_profile {
					/* Adjust borders */
					border-right: none;
					border-bottom: $o-user-info-border;
				}
			}
		}
	}
	@container (max-width: 600px) {
		.o_user_info {
			.o_user_info_items {
				grid-template-columns: 1fr;
			}
		}
	}
}


.o_useradmin {
	.o_user_infos .o_user_infos_inner {
		margin-right: 45px;
	}
	
	.o_user_edit_username {
		.form-inline .form-control-static {
			padding-top: 0;
		}
		.form-inline>a {
			margin-left: 2em;
		}
	}
}

.o_user_status_badge {
	float: right;
	display: inline-block;
	padding: 1px 25px;
	border-radius: $border-radius-small;
	
	&.o_user_status_active {
	    background-color: 	$o-repo-published-color;
	    color: 				#fff;
	}
	&.o_user_status_inactive {
	    background-color: 	$o-repo-closed-color;
	    color: 				#fff;
	}
	&.o_user_status_login_denied {
	    background-color: 	$o-repo-trash-color;
	    color: 				#fff;
	}
	&.o_user_status_pending {
	    background-color: 	$o-labeled-yellow-bg-color;
	    color: 				$o-labeled-yellow-color;
	    border-color: 		$o-labeled-yellow-border-color;
	}
	&.o_user_status_deleted {
	    background-color: 	$o-repo-deleted-color;
	    color: 				#fff;
	}
}

div.o_skype_button {
	display:inline-block;
	p {
		margin: 0 0 0 0;	
		a img {
			margin:0 !important;
			vertical-align:middle !important;
		}
	}
}

.o_useradmin div#o_main_toolbar.o_toolbar {
	margin-top: 0px;
}

.o_labeled_light {
	&.o_invitation_status_active {
	    border-color: $o-invitation-active-color;
	    color: $o-invitation-active-color;
	}
	
	&.o_invitation_status_inactive {
	    border-color: $o-invitation-inactive-color;
	    color: $o-invitation-inactive-color;
	}
}

.o_organisation_small_list {
	>li {
		margin: 6px 0;
	}
}

.o_users_avatars {
	display: grid;
	gap: 20px;
	grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
	@media (max-width: $screen-md-max) {
		grid-template-columns: 50% 50%;
	}
	@media (max-width: $screen-xs-max) {
		grid-template-columns: 100%;
	}
	.o_user_avatar {
		display: grid;
		gap: 10px;
		grid-template-columns: 50px auto;
		.o_portrait {
			img {
				width: 50px;
				height: 50px;
			}
		}
		.o_properties {
			:not(.o_name) {
				color: $text-muted;
			}
		}
	}
}

.panel.o_authentication_overview {
	display: grid;
	grid-template-columns: 50px 1fr;
	align-items: center;
	padding: 0 2em;
	border: $o-panel-authentication-border;
	
	&.o_authentication_upgrade {
		grid-template-columns: 50px 1fr 1fr;
	}
	
	i.o_icon {
		font-size: 300%;
		padding-right: 2em;
	}
	
	.o_authentication_details, .o_authentication_upgrade {
		padding: 2em;
	}
	
	.o_authentication_details h3 {
		margin: 0;
	}
	
	.o_authentication_upgrade {
		border-left: $o-panel-authentication-border;
	}
}

@media (max-width: $screen-xs-max) {
	.panel.o_authentication_overview {
		padding: 0 1em;
		
		&.o_authentication_upgrade {
			grid-template-columns: 32px 1fr;
		}
		
		i.o_icon {
			font-size: 150%;
			padding-right: 0.5em;
		}
		
		.o_authentication_details, .o_authentication_upgrade {
			padding: 1em;
		}

		.o_authentication_upgrade {
			border-left: none;
			border-top: $o-panel-authentication-border;
			grid-column: span 2;
		}
	}
}

.o_authentication_level1 {
	color: $o-authentication-color-level1;
}
.o_authentication_level2 {
	color: $o-authentication-color-level2;
}
.o_authentication_level3 {
	color: $o-authentication-color-level3;
}

.o_authentication_recovery_keys div.panel {
	padding: 1em 2em;
	border: $o-panel-authentication-border;
	
	>ul {
		columns: 2;
		font-weight: 900;
	}
}

.o_authentication_olat, .o_authentication_passkeys {
	.o_labeled {
		color: white;
		text-transform: initial;
		margin: -3px 0 0 1em;
		font-weight: normal;
		background-color: $o-authentication-label-bg;
		border-color: $o-authentication-label-bg;
	}
}


/* Organisation */

dialog.popover {
	.popover-content {
		&:has(.o_org_selector) {
			margin-top: 0;
		}
	}
}

.o_org_selector_selection {
	overflow-y: auto;
	min-height: 140px;
	max-height: 240px;
	padding-right: 4px;

	label.control-label {
		color: $text-color;
		font-weight: bold;
	}
	
	.o_org_selection_none {
		height: 18px;
	}
}

.o_org_selector_button {
	display: flex;
	min-height: 34px;

	span.o_org_selector_span {
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 4px;
	}

	.o_icon {
		margin: auto 0 auto auto;
	}

	&:is(.form-group *) {
		width: 100%;
		max-width: 100%;
		min-width: $input-height-base;
	}
}

.o_org_selector_selected {
	margin-top: 10px;
}

.o_org_selector_unselected {
	margin-top: 22px;
	
	.o_org_load_more {
		height: 10px;
		width: 100%;
		text-align: center;
	}
}

.o_org_selector_rows {
	width: 100%;

	.o_org_selector_row {
		display: flex;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;

		.o_org_selector_checkbox {
			width: 26px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: start;

			input[type=checkbox] {
				margin: 0;
			}
		}

		.o_org_selector_text {
			flex-grow: 1;

			.o_org_selector_status {
				height: 16px;
				line-height: 16px;
				font-size: 12px;
				color: #999;
			}

			.o_org_selector_title_version {
				height: 24px;
				line-height: 24px;
			}
		}
	}
}
