/* iframe display controller - used to deliver all course contents */
.o_iframedisplay {
	iframe {
		width: 100%;
	}
}
/* normally content is wrapped in a single page which uses an iframedisplay */
.o_singlepage {
	.o_edit {
		position: absolute;
		top: $padding-large-vertical;
		right: $padding-base-horizontal + $padding-xs-horizontal + $line-height-computed;
 	}
}
/* the clone controller is used to pop content out of the window into another window. */
.o_content_popup {
	position: absolute;
	top: $padding-large-vertical;
	right: $padding-base-horizontal;
}
/* briefcase (folder) module */

.o_bc_empty{
	@extend .o_important;
}
.o_bc_table{}
.o_bc_meta {
	@extend .small;
	.o_comment{}
	.o_thumbnail{
		width:200px; 
		height:200px;
	}
	.o_author {}
}

/* toogle box */
.o_togglebox_wrapper {
	a.o_togglebox_closed i {
		@extend .o_icon_open_togglebox;
	}
	a.o_togglebox_opened i {
		@extend .o_icon_close_togglebox;
	}
	div.o_togglebox {
		position: relative;
		@extend .o_info;
		margin: 0;
		.o_togglebox_hide {
			position: absolute;
			bottom: 0.5em;
			right: 1em;		
			@extend .small;
		}
	}
}