/* HELP, context sensitive */
a.o_chelp {
	display: inline-block;
	padding: 1px 3px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: $o-chelp-font-size;
	font-weight: $o-chelp-font-weight;
	line-height: floor($o-chelp-font-size *1.5);
	color: $o-chelp-color;
	background-color: $o-chelp-bg;
	border: 1px solid $o-chelp-border;
	border-radius: $o-chelp-border-radius;
	cursor: help;
 	@include user-select(none);

	&:active,
	&:hover,
	&:focus {
		text-decoration: none;
		color: $o-chelp-color;
		background-color: darken($o-chelp-bg, 8%);
		border-color: darken($o-chelp-border, 12%);
	}
	
	i {
		font-size: $o-chelp-font-size !important;
	}
}
.o_chelp_wrapper { 
	position: relative;
	float: right;
	display: inline-block;
	line-height: normal;
	margin-bottom: 10px;
	margin-left: 10px;
}

/* context help for input element in forms, right from label and context help tooltips */
.o_form_chelp, 
.o_chelp_tooltip {
	color: $o-chelp-tooltip-color;
}

#o_container_page_width_toggler {
	z-index: 7;
}

/* drawing */
.o_draw_circle {
	border: $o-drawing-border-width solid $o-drawing-border-color;
	border-radius: 50%;
	position: absolute !important;
	box-sizing: border-box;
}

.o_draw_rectangle {
	border: $o-drawing-border-width solid $o-drawing-border-color;
	position: absolute !important;
	box-sizing: border-box;
}


/* iframe display controller - used to deliver all course contents */
.o_iframedisplay {
	iframe {
		width: 100%;
	}
}

/* Make the parent raltive to apply the absoluteof the children */
.o_content_cloneable {
	position: relative;
}
/* normally content is wrapped in a single page which uses an iframedisplay */
.o_singlepage {
	.o_edit {
		position: absolute;
		top: 0;
		right: $padding-xs-horizontal + $line-height-computed;
 	}
}
/* the clone controller is used to pop content out of the window into another window. */
.o_content_popup {
	position: absolute;
	top: 0;
	right: 0;
}

/* content packaging module */
.o_module_cp_wrapper {
	position: relative;
	.o_tools {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		vertical-align: middle;
		.o_search_wrapper {
			display: inline-block;
			position: relative;
			top: -2px;
			/* remove space around search icon */
			.form-group {
				margin-bottom: 0;
			}
			.form-control-static {
				padding-top: 0;
				padding-bottom: 0;				
			}
	 	}
	}
}

/* drop down menus made with OO modal dialog and not bootstrap dropdown */
ul.o_dropdown {
	/* revert padding from popover */
	margin: -5px -14px;
	.divider {
		@include nav-divider($dropdown-divider-bg);
	}
	
	> li > a {
		display: block;
		padding: 5px 14px;
		clear: both;
		font-weight: normal;
		line-height: $line-height-base;
		color: $dropdown-link-color;
		background: $dropdown-bg;
		white-space: nowrap; // prevent links from randomly breaking onto new lines
		&:hover,
		&:focus {
			text-decoration: none;
			color: $dropdown-link-hover-color;
			background-color: $dropdown-link-hover-bg;
		}
	}
	
	> li > i.o_icon_check {
		display: inline-block;
		padding-left: 14px;
	}
	
	> li > i.o_icon_check + a {
		display: inline-block;
		padding-left: 5px;
	}
}

/* SCORM module */
.badge {
	/* badge color */
	&.o_scorm_org {}
	&.o_scorm_item {}
	&.o_scorm_completed { background-color: $state-success-text; }
	&.o_scorm_failed { background-color: $state-danger-text; }
	&.o_scorm_incomplete { background-color: $state-warning-text; }
	&.o_scorm_not_attempted { background: none; }
}

/* briefcase (folder) module */
.o_bc_empty{
	@extend %o_important;
}
.o_bc_meta, .tooltip {
	@extend %o_small;
	h5, .o_author, .o_comment {
		color: #fff;
		margin: 5px 0;
	}
	.o_thumbnail{
		width:200px; 
		height:200px;
		display: inline-block; /* render centered if title larger than image */
		background-color: #fff;
		margin: 0 -5px; /* remove ugly border */
	}
}

/* HTML editor */
.o_htmleditor {
	.o_metadata {
		/* match tinymce style */
		border: 1px solid #999;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom: 0;
		background: #eee;
		position: relative;
		top: 1px;
		padding: 5px;

		#o_filename {
			float: left;
		}
		.o_lastmodified {
			float: right;
			color: $text-muted;	
			@extend %o_small;
			line-height: $line-height-base;
		}
	}
	#o_save {
		margin-top: 10px;
		text-align: center;
		input {
			margin-right: 1em;
			&:last-child {
				margin-right: 0;		
			}
		}
	}
}

/* notifications and subscription */
.o_notifications_news_wrapper {
	.o_notifications_news_subscription {
		margin: $padding-large-vertical 0;
		h4 i {
			display: none;
		}
		.o_notifications_news_context {
			color: $text-muted;	
		}
		.o_notifications_news_content {
			margin-left: 1.5em;
			position: relative;
			.o_icon {
				position: absolute;
				left: -1.5em;
				line-height: 1.5em;
				top: 0;
			}
			.o_date {
				color: $text-muted;
			}
		}
		.o_notifications_news_url {
			margin-left: 1.5em;			
		}
	}
}
.o_noti {
	margin: $padding-base-vertical 0 $padding-base-vertical $padding-base-horizontal;
	float: right;
	color: $text-muted;	
	@extend %o_small;
	.o_label {
		@extend %o_undecorated;
		color: $text-muted;	
		cursor:help;
	}
	@media (max-width: $screen-xs-max) { 
		.o_label span {
			display: none;
		}	
	}
}
.panel-body .o_noti {
	/* override default margin */
	margin: 0;
}

/* Portrait image */
.o_portrait {
	display: inline-block;
	img {
		border-radius: $o-portrait-radius;
		border: $o-portrait-border;
		background-color: $gray-lighter;
		background-position: 50% 50%; 
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.o_portrait_name { 
	margin-top: $padding-base-vertical;
}
.o_block_inline, .o_block_inline_right, .o_block_inline_left, .o_block_inline_both {
	.o_portait, .o_portrait_name, .o_portrait_image {
		display: inline-block;
	}
}

/* Dummy user portrait (avatar) display - portrait sizes must match with DisplayPortraitManager.WIDTH_PORTRAIT_SMALLDisplayPortraitManager.WIDTH_PORTRAIT_BIG

Dummy is used for registered users which have no personal avatar image. 
- dummy is used if gender is not known
- dummy_female is used for femal users
- dummy_male is used for male users

Anonymous is used for guest users and in anonymous chat / forum postings

The "important!" avoids hiding the image by bootstrap.
*/
.o_portrait_avatar,
.o_portrait_dummy,
.o_portrait_dummy_female_big,
.o_portrait_dummy_male_big,
.o_portrait_anonymous 			{width: 100px; height: 100px;}
.o_portrait_dummy				{background-image: url('#{$o-images-path}portrait/dummy.png') !important;}
.o_portrait_dummy_female_big	{background-image: url('#{$o-images-path}portrait/dummy_female_big.png') !important;}
.o_portrait_dummy_male_big		{background-image: url('#{$o-images-path}portrait/dummy_male_big.png') !important;}
.o_portrait_anonymous 			{background-image: url('#{$o-images-path}portrait/anonymous.png') !important; }

.o_portrait_avatar_small,
.o_portrait_dummy_small,
.o_portrait_dummy_female_small,
.o_portrait_dummy_male_small,
.o_portrait_anonymous_small 	{width: 30px; height: 30px;}
.o_portrait_dummy_small			{background-image: url('#{$o-images-path}portrait/dummy_small.png') !important;}
.o_portrait_dummy_female_small	{background-image: url('#{$o-images-path}portrait/dummy_female_small.png') !important;}
.o_portrait_dummy_male_small	{background-image: url('#{$o-images-path}portrait/dummy_male_small.png') !important;}
.o_portrait_anonymous_small 	{background-image: url('#{$o-images-path}portrait/anonymous_small.png') !important; }

/* Date component, used in info course element, blog etc */
.o_datecomp {
	position: relative; 
	width: $line-height-computed * 2; 
	min-width: $line-height-computed * 2; 
	max-width: $line-height-computed * 2; 
	height: $line-height-computed + floor($line-height-computed * 1.5) + 2px; 
	border: 1px solid $o-datecomp-border; 
	margin-right: $padding-base-horizontal; 
	text-align: center; 
	vertical-align: middle; 
	
	div.o_year {
		position: absolute; 
		left: 0;
		width: 100%;
		top: -$line-height-computed; 
		height: $line-height-computed; 
		line-height: $line-height-computed; 
		font-size: ceil($font-size-base * 0.7);
	}
	div.o_month {
		height: $line-height-computed; 
		line-height: $line-height-computed; 
		font-size: $font-size-small; 
		background-color: $o-datecomp-month-bg;
		color: $o-datecomp-month-color;
	}
	div.o_day {
		height: floor($line-height-computed * 1.5);
		line-height: floor($line-height-computed * 1.5);
		font-size: $font-size-large;
		border-top: 1px solid $o-datecomp-border;
		background-color: $o-datecomp-day-bg;
		color: $o-datecomp-day-color;
	}
}
.o_block_with_datecomp {
	@extend %o_block_large; /* large to have space for year */
	.o_head {
		position: relative;
		padding-left: $line-height-computed * 2 + $padding-base-horizontal;
	}
	.o_datecomp {
		position: absolute;
		top: 0.2em;
		left: 0;		
	}
	.o_title {
		margin-top: 0;
	}
	.o_meta {
		color: $text-muted;
		@extend %o_small;
	}
	.o_content {
		@extend %o_block;
		border-left: 5px solid $blockquote-border-color;
		padding: 0 $line-height-computed;
	}
	.o_block_footer {
		padding-left: $line-height-computed + 5px;
	}
}

/* Efficiency statement and certificates */
ul.o_certificates li {
	padding: 5px 0;
	
	a.o_sel_certificate_delete {
		padding-left: 2em;
	}
}


/* Calendar */
.o_cal_toptoolbar {
	margin-bottom: $padding-base-vertical;
	.o_cal_toptoolbar_help {
		float: left;
		margin-right: $padding-base-horizontal;
	}
	.o_noti {
		margin-top:0;
	}
}
.o_cal {
	.fc-header-title h2 {
		@extend h4;
	}
}

/* Feed (Blog/Podcast */
.o_feed {
	.o_media {
		@extend .img-thumbnail;
	}
	.o_date, .o_author {
		color: $text-muted;
	}
	.o_subscription {
		a {	
			margin-right: 1.5em;
		}
		.form-group {
			margin-bottom: $padding-small-vertical;
		}
		.form-control {
			border: 0;
			background: none;
			padding: 0;
			height: auto;
			@include box-shadow(none);
		}
	}
	.o_blog_posts {
		.o_ratings_and_comments {
			.o_rating_wrapper {
				float: left;
				.o_rating_title, .o_rating_explanation, .o_legend {
					display: none;
				}		
			}
			a.o_comments {
				span {
					display: none;
				}
			}
		}
	}
	.o_content {
		@include clearfix();
	}
	.o_enclosure {
		clear: both;
	}
}

/* Glossary */
.o_glossary {
	.o_register {
		text-align: center;
	}
	.o_meta {
		font-size: 90%;
		color: $text-muted;
		font-style: italic;
	}
	dl {
		dt {
			&:first-letter { 
				font-size: ceil(($font-size-base * 1.5));;
			}
			small {
				color: $text-muted;
			}
		}
	}
}

.o_tm_glossary { border-bottom: 1px dotted #666699 !important; }
.o_tm_yellow { background-color: #FFFF66; }
.o_tm_blue { background-color: #33FFFF; }
.o_tm_red { background-color: #FF3333; }
.o_tm_green { background-color: #99FF00; }

/* Coaching */
.o_coaching div#o_main_toolbar.o_toolbar {
	margin-top: 0px;
}

.o_eff_statement_details .o_user_infos {
	margin-top:20px;
}

/* Assessment */
div.o_assessment_user_type_filter {
	display: inline-block;
	padding: 0.5em;
	border: 1px solid $gray-lighter;
	border-radius: $panel-border-radius;
	
	div.form-inline {
		margin-left: 5px;
		display: inline-block;
	}
}

div.panel.o_assessment_modes {
	.o_table_body {
		margin-top: 0;
	}
	
	.o_table_wrapper {
		margin-bottom: 5px;
	}
}

div.o_assessment_mode_row {
	padding: 0 15px;
	
	&.o_assessment_today {
		padding: 0 20px 0 12px;
		border-left: 3px solid $o-assessment-mode-today-border-color;
		background-color: $o-assessment-mode-today-bg;
	}
	
	&.o_assessment_end_soon.o_assessment_today {
		padding: 0 20px 0 12px;
		border-left: 3px solid $o-assessment-mode-end-soon-border-color;
		background-color: $o-assessment-mode-end-soon-bg;
	}
}

/* BigBlueButton */
.o_bbb_deleted td {
	text-decoration: line-through;
}

.o_bbb_guest_join_box {
	max-width: 500px;
	margin: 25px auto;
}

/* vitero */
.vitero_iframe {
	width: 100%;
	height: 100%;
	border: none;
	min-height: 60em;
}

/* Reminders rules */
.o_reminder_rule {
	padding: 5px 0;
}

/* Segmented view wrapper */
.o_segments.btn-group a span {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}
.o_segments_content {
	margin-top: $line-height-computed;
}

.o_segments.o_segments_linked {
	.btn, .btn:hover, .btn:active, .btn:focus {
		border: none;
		border-radius: 0;
		box-shadow: none;
		background: none;
	}
	.btn-primary {
		color: #000;
		font-size: ceil(($font-size-base * 1.7));
		background: none;
	}
	.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
		color: $o-content-link-color;
		background: none;
	}
	.o_segment_separator {
		color: #000;
	}
}

/* Tabbed pane component */
.o_tabbed_pane { 
	.o_tabbed_pane_content {
		padding: $o-tabbed-pane-padding;
	}
}



/* toogle box, based on bootstrap collapse plugin */
.o_togglebox_wrapper {
	.o_opener {
		position: relative;
		left: -0.5em;
		i {
			@extend .o_icon_open_togglebox;
		}
		&.o_in i {
			@extend .o_icon_close_togglebox;
		}
	}
	div.o_togglebox_content {
		position: relative;
		@extend %o_info;
		margin: 0;
		.o_hide {
			position: absolute;
			bottom: 0.5em;
			right: 1em;		
			@extend %o_small;
		}
	}	
}

/* the old toolbox */
.o_toolboxes {
	ul {
		margin: 0 0 1.5em 0;
		padding: 0 0 0 1.5em;
	}
}

/* QR-Code container */ 
.o_qrcode {
	width: 256px; 
	height: 256px;
}

/* busy screen */
#o_ajax_busy { 
	position: absolute; 
	left:50%; 
	top: 20em;
	margin-left: -120px;
	height: 5em; 
	width: 240px;
	text-align: center;
	color: #fff; 
	z-index: 1201; /* modal backdrop set to 1200 */
	display: none;
}
#o_ajax_progress {
	display: none;
	border: 1px solid #888;
	border-radius: 4px;
	background: rgba(255,255,255,0.75);
	padding: 20px 15px;
	color:#222;
	text-align: left;
		
	.progress {
		margin-top: 0.5em;
		height: 10px;	
	}
}	
#o_body.o_ajax_busy {
	cursor: busy;
}

/* error screen */
.o_exception {
	.o_visual {
		position: relative;
		/* image CC by Nomadic Lass https://www.flickr.com/photos/nomadic_lass/5329061838/ */
		background-image: url('#{$o-images-path}lion-500x333.jpg');
		filter: grayscale(50%);
		-webkit-filter: grayscale(50%);
		-moz-filter: grayscale(50%);
		-ms-filter: grayscale(50%); 
		-o-filter: grayscale(50%);
		width: 500px;
		height: 333px;
		background-repeat:no-repeat;
		background-position:50% 50%;		
		background-size: contain;	
		margin: 0 0 $padding-large-vertical $padding-large-horizontal;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
			width: floor(500px *0.75);
			height: floor(333px *0.75);		
		}
		@media (min-width: 500px) and (max-width: $screen-xs-max) { 
			width: floor(500px *0.5);
			height: floor(333px *0.5);		
		}	
		@media (max-width: 500px){ 
			background-size: cover;	
		}	
	}
	.jumbotron h1 { 
		color: $brand-danger;
	}
}

/* list */
ul.o_assessment_docs {
	margin-bottom: 0;
}
ul.o_assessment_docs>li {
	margin-bottom: 0.33em;
}
ul.o_assessment_docs>li:last-child {
	margin-bottom: 0em;
}

/* personal mail box tool */
.o_mail_message {
	.o_mail_meta {
		background: #fafafa;
		border: 1px solid #eee;
		padding: 5px 10px;
		h3 {
			margin-top: 0;
		}
	}
	
	.o_mail_date,
	.o_mail_from,
	.o_mail_recipients {
		color: $text-muted;
		font-size: 90%;
		
		.o_label {
			font-weight: bold;
			margin-right: 1em;
		}
		.o_group span {
			font-weight: bold;
			&:after {
				content: ':';
				margin-right: 0.5em;
			}
		}
		i {
			margin-left: 1em;
		}

		ul.list-inline {
			display: inline;
			li {
				padding-right: 0;
				padding-left: 0;
			}
		}	
	}
	.o_more {
		margin-left: 1em;
	}
	.o_showAllLink {
		float: right;
		font-size: 80%;
	}
}	

/* indicator on progress bar */
// FIXME FG: check if still used? no references found to o_progress_marker
.progress .o_progress_marker {
	position: absolute; 
	height: 100%;
	top: 0;
	width: 3px; 	
	background: $o-progress-marker-color;
}

.o_progress {
	&.o_progress_inline {
		display: inline-block;
		white-space: nowrap;
		.progress {
			vertical-align: bottom;		
		}
	}
	.o_progress_label, 
	.o_progress_info {
		display: inline-block;
		vertical-align: top;
	}
	.o_progress_info {
		margin-left: 0.5em;
	}
	.progress {
		position: relative;
		display: inline-block;
		text-shadow: 1px 1px 2px #000000;
		font-size: $font-size-small;
		line-height: $line-height-computed;
		color: $progress-bar-color;
		
		.o_progress_label_wrapper {
			position: absolute;
			top: 0;
			left: 0;
			padding-left: 0.4em;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap; 
		}				
		
		&:not(.o_progress-sm)+.o_progress_label_wrapper { /* when renderend outside of progressbar */
			margin-left: 0.5em;
		}		
	}

	.o_progress-lg {
		height: 40px;
		.o_progress_label_wrapper {
			padding-left: 1em;
			line-height: 40px;
		}
	}
	.o_progress-sm {
		vertical-align: bottom;
		height: 5px;
		&+span {
			position: absolute;
			top: 0;
			left: 15px;
			font-size: 80%;
		}
	}	
}


/* web documents */
.o_web_content {
	padding-bottom: floor($grid-gutter-width / 2);
}

/* label */
%o_labeled,
.o_labeled,
a.o_labeled {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	font-size: 75%;
	line-height: 1;
	white-space: nowrap;
	border: 1px solid;
	border-radius: 3px;
	padding: 2px 5px;
	background-color: $o-labeled_bg-color;
	color: $o-labeled_color;
	position: relative;
}
%o_labeled_light,
.o_labeled_light,
a.o_labeled_light {
	@extend %o_labeled;
	font-weight: bold;
	background-color: 	$o-labeled-light-bg-color;
 }
 
 /* Multiselect dropdown element */
 .o_ms_button {
 	max-width: 100%;
 	width: 100%;
 	display: flex;
	span:not(.o_ms_carret) {
 		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap; 
	}
	.o_ms_carret {
		margin: auto 0 auto auto;
	}
}
.o_ms_list {
	width: 100%;
	height: auto;
	max-height: 300px;
	overflow-x: hidden;
	top: unset;
}


/* disclaimer formatting */
.o_disclaimer .o_disclaimer_content {
	max-height: 50vh;
	overflow: auto;
	font-family: $font-family-monospace;
	background: #fbfbfb;
	padding: 10px;
	border: 1px solid #c2c2c2;
}

/* files and folders */
.o_files_size_okay {
	color: $o-files-size-okay;
}
.o_files_size_warning {
	color: $o-files-size-warning;
}
.o_files_size_large {
	color: $o-files-size-large;
}

/* Tagify */
.o_tag_admin {
	background: repeating-linear-gradient(135deg, transparent, transparent 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 6px);
}

.o_tag_admin:before {
	@include o-make-icon();
	padding-right: 0.5em;
	content: $fa-var-eye-slash;
}

body {
	.tagify {

		.tagify__tag-text {
			font-size: 75%;
			font-weight: bold;
			color: $label-color;
		}
		
		&.o_textbox {
			border: 1px solid $input-border;
			border-radius: $input-border-radius;
			background-color: white;
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
			@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
		}
		
		.tagify__tag {
			line-height: 1;
			color: $label-color;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			@include label-variant($label-info-bg);
		}
		
		.tagify__tag>div {
			padding: 0.3em 0.5em 0.2em 0.5em;
			border-radius: .25em;
		}
		
		.tagify__tag.o_tag_admin>div::before {
			box-shadow: none;
			background: var(--tag-bg) repeating-linear-gradient(135deg, var(--tag-bg), var(--tag-bg) 3px, rgba(0, 0, 0, 0.2) 3px, rgba(0, 0, 0, 0.2) 6px);
		}
		
		.tagify__tag.o_tag_admin:before {
			padding-right: 0em;
			padding-left: 0.5em;
		}
	}
	
	div.tagify__dropdown__item {
		color: $label-color;
		font-weight: bold;
		@include label-variant($label-info-bg);
	}
}
