/* iframe display controller - used to deliver all course contents */
.o_iframedisplay {
	iframe {
		width: 100%;
	}
}
/* normally content is wrapped in a single page which uses an iframedisplay */
.o_singlepage {
	.o_edit {
		position: absolute;
		top: $padding-large-vertical;
		right: $padding-base-horizontal + $padding-xs-horizontal + $line-height-computed;
 	}
}
/* the clone controller is used to pop content out of the window into another window. */
.o_content_popup {
	position: absolute;
	top: $padding-large-vertical;
	right: $padding-base-horizontal;
}

/* content packaging module */
.o_module_cp_wrapper {
	.o_tools {
		position: absolute;
		top: $padding-large-vertical;
		right: $padding-base-horizontal;
		text-align: right;
		vertical-align: middle;
		.o_search_wrapper {
			display: inline-block;
			position: relative;
			top: -2px;
	 	}
	}
}

/* briefcase (folder) module */
.o_bc_empty{
	@extend .o_important;
}
.o_bc_table{}
.o_bc_meta {
	@extend .small;
	.o_comment{}
	.o_thumbnail{
		width:200px; 
		height:200px;
	}
	.o_author {}
}

/* notifications and subscription */
.o_notifications_news_wrapper {
	.o_notifications_news_datechooser {}
	.o_notifications_news_subscription {
		margin: $padding-large-vertical 0;
		h4 i {
			display: none;
		}
		.o_notifications_news_context {
			@extend .text-muted;	
		}
		.o_notifications_news_content {
			margin-left: 1.5em;
			position: relative;
			.o_icon {
				position: absolute;
				left: -1.5em;
				line-height: 1.5em;
				top: 0;
			}
			.o_date {
				@extend .text-muted;
			}
		}
		.o_notifications_news_url {
			margin-left: 1.5em;			
		}
	}
}
.o_noti {
	margin: $padding-base-vertical 0 $padding-base-vertical $padding-base-horizontal;
	@extend .pull-right;
	@extend .text-muted;	
	@extend .small;
	.o_label {
		@extend .o_undecorated;
		@extend .text-muted;	
		cursor:help;
	}
	@media (max-width: $screen-xs-max) { 
		.o_label span {
			display: none;
		}	
	}
	
}

/* Calendar */
.o_cal_toptoolbar {
	margin-bottom: $padding-base-vertical;
	.o_cal_toptoolbar_sub, .o_cal_toptoolbar_help {
		@extend .pull-left;
		margin-right: $padding-base-horizontal;
	}
}
.o_cal {
	.fc-header-title h2 {
		@extend h4;
	}
}



/* toogle box, based on bootstrap collapse plugin */
.o_togglebox_wrapper {
	.o_opener {
		i {
			@extend .o_icon_open_togglebox;
		}
		&.o_in i {
			@extend .o_icon_close_togglebox;
		}
	}
	div.o_togglebox_content {
		position: relative;
		@extend .o_info;
		margin: 0;
		.o_hide {
			position: absolute;
			bottom: 0.5em;
			right: 1em;		
			@extend .small;
		}
	}
	
}