//
// Common form header
//

.o_video_common_form_header {
	display: grid;
	grid-template-columns: 130px 213px 37px 10px 210px 30px;
	grid-template-rows: auto;
	grid-template-areas:
		"previous-item items next-item space add-item commands"
;
}

.o_video_common_form_header_prev {
	grid-area: previous-item;
	justify-self: right;
}

.o_video_common_form_header_prev a {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-width: 0;
}

.o_video_common_form_items {
	grid-area: items;
	justify-self: stretch;
}

.o_video_common_form_header_next {
	grid-area: next-item;
	justify-self: stretch;
}

.o_video_common_form_header_next a {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 0;
}

.o_video_common_form_header_add_item {
	grid-area: add-item;
	justify-self: stretch;
	text-align: right;
	margin-right: 5px;

	a {
		width: 100%;
	}
}

.o_video_common_form_header_commands {
	grid-area: commands;
	justify-self: stretch;
}

@media (min-width: $screen-md-min) and (max-width: 1280px), (max-width: 670px) {
	.o_video_common_form_header {
		grid-template-columns: 130px 213px 37px;
		grid-template-areas:
			"previous-item items    next-item"
			"pad1          add-item commands";
	}

	.o_video_common_form_header_prev, .o_video_common_form_header_items, .o_video_common_form_header_next {
		margin-bottom: 5px;
	}
}

@media (max-width: 400px) {
	.o_video_common_form_header {
		grid-template-columns: 109px 209px 37px;
	}
}

.o_video_apply_position_timestamp {
	display: inline-block;

	input {
		width: 80px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.o_video_apply_position_button {
	display: inline-block;
}

//
// Annotations form
//

.o_video_common_form_header_items #o_coannotations_SELBOX select {
	border-radius: 0;
}

.o_video_annotation_details {
	display: grid;
	grid-template-columns: 130px 120px 10px 120px 130px 120px;
	grid-template-rows: auto;
	grid-template-areas:
		"se-label    start   dash  end   duration-label duration"
		"pad1        e-start pad2  e-end pad3           e-duration"
		"t-label     t       t     t     t              t"
		"co-label    co      co    co    pad4           pad4"
		"pos-label   pos     pos   pos   pos            pos"
		"pad5        b       b     b     b              b"
;
}

.o_video_annotation_se_label {
	grid-area: se-label;
	justify-self: right;
	margin-right: 5px;
}

.o_video_annotation_start {
	grid-area: start;
	justify-self: left;
}
.o_video_annotation_error_start {
	grid-area: e-start;
	justify-self: left;
}

.o_video_annotation_dash {
	grid-area: dash;
	justify-self: center;
}

.o_video_annotation_end {
	grid-area: end;
	justify-self: right;
}

.o_video_annotation_error_end {
	grid-area: e-end;
	justify-self: left;
}

.o_video_annotation_duration_label {
	grid-area: duration-label;
	justify-self: right;
	margin-right: 5px;
}

.o_video_annotation_duration {
	grid-area: duration;
	justify-self: stretch;
}

.o_video_annotation_error_duration {
	grid-area: e-duration;
	justify-self: stretch;
}

.o_video_annotation_text_label {
	grid-area: t-label;
	justify-self: right;
	margin-right: 10px;
	padding-top: 21px;
}

.o_video_annotation_text {
	grid-area: t;
	justify-self: stretch;
}

.o_video_annotation_color_label {
	grid-area: co-label;
	justify-self: right;
	margin-right: 10px;
	margin-top: 10px;
}

.o_video_annotation_color_dropdown {
	grid-area: co;
	justify-self: stretch;
	margin-top: 10px;
}

.o_video_annotation_buttons {
	grid-area: b;
	justify-self: left;
	padding-top: 10px;
}

.o_video_annotation_position_size_label {
	grid-area: pos-label;
	justify-self: right;
	margin-right: 10px;
	margin-top: 10px;
}

.o_video_annotation_position_size {
	grid-area: pos;
	justify-self: stretch;
	margin-top: 10px;
}

.form-horizontal .o_video_annotation_details .control-label {
	padding-top: 7px;
}

@media (min-width: $screen-md-min) and (max-width: 1280px), (max-width: 670px) {
	.o_video_annotation_details {
		grid-template-columns: 130px 120px 10px 120px;
		grid-template-areas:
		"se-label       start      dash end"
		"pad1           e-start    pad2 e-end"
		"duration-label duration   pad3 pad3"
		"pad4           e-duration pad5 pad5"
		"t-label        t          t    t"
		"co-label       co         co   co"
        "pos-label      pos        pos  pos"
		"pad6           b          b    b"
	;
	}

	.o_video_annotation_duration_label, .o_video_annotation_duration,
	.o_video_annotation_text_label, .o_video_annotation_text,
	.o_video_annotation_color_label, .o_video_annotation_color_dropdown,
	.o_video_annotation_position_size_label, .o_video_annotation_position_size
	{
		margin-top: 5px;
	}
}

@media (max-width: 400px) {
	.o_video_annotation_details {
		grid-template-columns: 109px 118px 10px 118px;
	}
}

//
// Edit position and size dialog on annotations form
//

.o_edit_position_size {
	display: grid;
	grid-template-columns: auto 120px;
	grid-template-rows: auto;
	grid-template-areas:
			"top-label    top"
			"pad1         e-top"
			"left-label   left"
			"pad2         e-left"
			"width-label  width"
			"pad3         e-width"
			"height-label height"
			"pad4         e-height"
			"b            b"
;
	row-gap: 10px;
}

.o_edit_position_size input {
	width: 110px;
}

.o_edit_position_size_top_label {
	grid-area: top-label;
	justify-self: right;
	margin-right: 5px;
}

.o_edit_position_size_top {
	grid-area: top;
	justify-self: stretch;
	white-space: nowrap;
}

.o_edit_position_size_top_error {
	grid-area: e-top;
}

.o_edit_position_size_left_label {
	grid-area: left-label;
	justify-self: right;
	margin-right: 5px;
}

.o_edit_position_size_left {
	grid-area: left;
	justify-self: stretch;
	white-space: nowrap;
}

.o_edit_position_size_left_error {
	grid-area: e-top;
}

.o_edit_position_size_width_label {
	grid-area: width-label;
	justify-self: right;
	margin-right: 5px;
}

.o_edit_position_size_width {
	grid-area: width;
	justify-self: stretch;
	white-space: nowrap;
}

.o_edit_position_size_width_error {
	grid-area: e-top;
}

.o_edit_position_size_height_label {
	grid-area: height-label;
	justify-self: right;
	margin-right: 5px;
}

.o_edit_position_size_height {
	grid-area: height;
	justify-self: stretch;
	white-space: nowrap;
}

.o_edit_position_size_height_error {
	grid-area: e-top;
}

.o_edit_position_input_wrapper {
	display: inline-block;
}

.o_edit_position_size_buttons {
	grid-area: b;
	justify-self: left;
	margin-top: 10px;
}

//
// Segments form
//

.o_video_segment_details {
	display: grid;
	grid-template-columns: 130px 120px 10px 120px 130px 120px;
	grid-template-rows: auto;
	grid-template-areas:
		"se-label start   dash  end   duration-label duration"
		"pad1     e-start pad2  e-end pad3           e-duration"
		"ca-label ca      ca    ca    ca             ca"
		"pad5     ca-ed   ca-ed ca-ed ca-ed          ca-ed"
		"pad5     b       b     b     b              b"
;
}

.o_video_segment_se_label {
	grid-area: se-label;
	justify-self: right;
	margin-right: 5px;
}

.o_video_segment_start {
	grid-area: start;
	justify-self: left;
}

.o_video_segment_error_start {
	grid-area: e-start;
	justify-self: left;
}

.o_video_segment_dash {
	grid-area: dash;
	justify-self: center;
}

.o_video_segment_end {
	grid-area: end;
	justify-self: right;
}

.o_video_segment_error_end {
	grid-area: e-end;
	justify-self: left;
}

.o_video_segment_error_start_end {
	grid-area: 2 / 2 / 3 / 5;
	justify-self: left;
}

.o_video_segment_duration_label {
	grid-area: duration-label;
	justify-self: right;
	margin-right: 5px;
}

.o_video_segment_duration {
	grid-area: duration;
	justify-self: stretch;
}

.o_video_segment_error_duration {
	grid-area: e-duration;
	justify-self: stretch;
}

.o_video_segment_category_label {
	grid-area: ca-label;
	justify-self: right;
	margin-right: 5px;
	margin-top: 10px;
}

.o_video_segment_category_button {
	grid-area: ca;
	justify-self: stretch;
	margin-top: 10px;
}

.o_video_segment_category_edit {
	grid-area: ca-ed;
	justify-self: stretch;
	margin-top: 5px;
}

.o_video_segment_buttons {
	grid-area: b;
	justify-self: left;
	margin-top: 10px;
}

.form-horizontal .o_video_segment_details .control-label {
	padding-top: 7px;
	white-space: nowrap;
}

@media (min-width: $screen-md-min) and (max-width: 1280px), (max-width: 670px) {
	.o_video_segments_header {
		grid-template-columns: 130px 213px 37px;
		grid-template-areas:
			"previous-item items    next-item"
			"pad1          add-item commands"
	;
	}

	.o_video_segments_header_prev, .o_video_segments_header_segment, .o_video_segments_header_next {
		margin-bottom: 5px;
	}

	.o_video_segment_details {
		grid-template-columns: 130px 120px 10px 120px;
		grid-template-areas:
			"se-label        start      dash  end   "
			"pad1            e-start    pad2  e-end "
			"duration-label  duration   pad3  pad3  "
			"pad4            e-duration pad5  pad5  "
			"ca-label        ca         ca    ca    "
			"pad6            ca-ed      ca-ed ca-ed "
			"pad7            b          b     b     "
	;
	}

	.o_video_segment_duration_label, .o_video_segment_duration {
		margin-top: 5px;
	}

	.o_video_segment_category_label, .o_video_segment_category_button {
		margin-top: 0;
	}
}

@media (max-width: 400px) {
	.o_video_segments_header {
		grid-template-columns: 109px 209px 37px;
	}

	.o_video_segment_details {
		grid-template-columns: 109px 118px 10px 118px;
	}
}


//
// Comments form
//

.o_video_common_form_header_items #o_cocomments_SELBOX select {
	border-radius: 0;
}

.o_video_comment_details {
	display: grid;
	grid-template-columns: 130px 120px 10px 120px 130px 120px;
	grid-template-rows: auto;
	grid-template-areas:
		"se-label start   pad0 pad0 pad0 pad0"
		"pad1     e-start pad2 pad2 pad3 pad3"
		"co-label co      co   co   pad4 pad4"
		"t-label  t       t    t    t    t"
		"pad5     b       b    b    b    b"
;
}

.o_video_comment_se_label {
	grid-area: se-label;
	justify-self: right;
	margin-right: 10px;
}

.o_video_comment_start {
	grid-area: start;
	justify-self: left;
}

.o_video_comment_error_start {
	grid-area: e-start;
	justify-self: left;
}

.o_video_comment_color_label {
	grid-area: co-label;
	justify-self: right;
	margin-right: 10px;
	margin-top: 10px;
}

.o_video_comment_color_dropdown {
	grid-area: co;
	justify-self: stretch;
	margin-top: 10px;
}

.o_video_comment_text_label {
	grid-area: t-label;
	justify-self: right;
	margin-right: 10px;
	margin-top: 10px;
	padding-top: 21px;
}

.o_video_comment_text {
	grid-area: t;
	justify-self: stretch;
	margin-top: 10px;
}

.o_video_comment_buttons {
	grid-area: b;
	justify-self: left;
	padding-top: 10px;
}

.form-horizontal .o_video_comment_details .control-label {
	padding-top: 7px;
}

@media (min-width: $screen-md-min) and (max-width: 1280px), (max-width: 670px) {
	.o_video_comment_details {
		grid-template-columns: 130px 120px 10px 120px;
		grid-template-areas:
		"se-label start   pad0 pad0"
		"pad1     e-start pad2 pad2"
		"co-label co      co   co"
		"t-label  t       t    t   "
		"pad5     b       b    b   "
	;
	}

	.o_video_comment_color_label, .o_video_comment_color_dropdown {
		margin-top: 5px;
	}
}

@media (max-width: 400px) {
	.o_video_comment_details {
		grid-template-columns: 109px 118px 10px 118px;
	}
}

//
// Questions form
//

.o_video_question_details {
	display: grid;
	grid-template-columns: 130px 120px 10px 120px 130px 120px;
	grid-template-rows: auto;
	grid-template-areas:
		"st-label st      pad0 pad0 tl-label tl"
		"pad1     e-st    pad2 pad2 pad2     e-tl"
		"co-label co      co   co   pad3     pad3"
		"op-label op      op   op   pad4     pad4"
		"qt       qt      qt   qt   qt       qt"
		"pad5     b       b    b    b        b"
;
}

.o_video_question_start_label {
	grid-area: st-label;
	justify-self: right;
	margin-right: 5px;
}

.o_video_question_start {
	grid-area: st;
	justify-self: left;
}

.o_video_question_start_error {
	grid-area: e-st;
	justify-self: left;
}

.o_video_question_time_limit_label {
	grid-area: tl-label;
	justify-self: right;
	margin-right: 5px;
}

.o_video_question_time_limit {
	grid-area: tl;
	justify-self: left;
}

.o_video_question_time_limit_error, .o_video_question_time_limit_example {
	grid-area: e-tl;
	justify-self: left;
}

.o_video_question_color_label {
	grid-area: co-label;
	justify-self: right;
	margin-right: 5px;
	margin-top: 10px;
}

.o_video_question_color_dropdown {
	grid-area: co;
	justify-self: stretch;
	margin-top: 10px;
}

.o_video_question_options_label {
	grid-area: op-label;
	justify-self: right;
	margin-right: 5px;
	margin-top: 10px;
}

.o_video_question_options {
	grid-area: op;
	justify-self: left;
	margin-top: 10px;
}

.o_video_question_table {
	grid-area: qt;
	justify-self: stretch;
}

.o_video_question_buttons {
	grid-area: b;
	justify-self: left;
	margin-top: 20px;
}

.form-horizontal .o_video_question_details .control-label {
	padding-top: 7px;
}

@media (min-width: $screen-md-min) and (max-width: 1280px), (max-width: 670px) {
	.o_video_question_details {
		grid-template-columns: 130px 120px 10px 120px;
		grid-template-areas:
		"st-label st      pad0 pad0"
		"pad1     e-st    pad2 pad2"
		"tl-label tl      pad3 pad3"
		"pad4     e-tl    pad5 pad5"
		"co-label co      co   co"
		"op-label op      op   op"
		"qt       qt      qt   qt"
		"pad6     b       b    b"
	;
	}

	.o_video_question_time_limit_label, .o_video_question_time_limit,
	.o_video_question_color_label, .o_video_question_color_dropdown,
	.o_video_question_options_label, .o_video_question_options
	{
		margin-top: 5px;
	}
}

@media (max-width: 400px) {
	.o_video_question_details {
		grid-template-columns: 109px 118px 10px 118px;
	}
}
