@use "sass:list";

.o_video_poster {
	position: relative;
	display: inline-block;
	width: 400px;
	max-width: 100%;
	height: 225px;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid #eee;	
}

.o_video_poster_select {
	text-align: center;
	
	.o_video_poster {
		margin: 5px;
		
		a {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			
			span {
				position: absolute;
				bottom: 0;
				width: 100%;
				display: block;
				line-height: 3em;
				background: #f8f8f8;
				opacity: 0.8;
			}
			&:hover {
				border: 1px solid #bbb;
				span {
					opacity: 0.9;			
				}
			}
		}			
	}
}

.o_video_peekview {
	text-align: center;
}

.o_video_listing {
	
	.o_table_body.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	
	.o_video_entry {
		position: relative;
		display: inline-block;
		height: 230px;			
		width: 250px;
		vertical-align: top;
		margin-right: 10px;
	}
	.o_video_poster {
		width: 250px;
		max-width: 100%;
		height: 140px;	
		border: 1px solid #eee;
	}
	.o_timecode {
		position: absolute;
		bottom: 2px;
		right: 3px;
		padding: 3px 4px;
		background: #333;
		color: #fff;
		font-size: $font-size-small;
		line-height: $font-size-small;
	}
	.o_meta {
		padding: 2px;
		font-size: ceil(($font-size-base * 0.75));
		h5 {
			font-size: $font-size-base;
			margin-top: 0;
			margin-bottom: 5px;
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}	
	.o_date {
		margin-left: 10px;
		display: inline-block;
		&:before {
			content: '\002022';
			margin-right: 10px;
			display: inline-block;
		}	
	}
}

.o_video_run {
	h1 {
		// same as youtube
		font-size: 1.8rem;
		font-weight: normal;
	}
	.o_author {
		margin-top: 0.5em;
		margin-bottom: 1em;
		line-height: normal;
		font-size: 90%;
		color: $o-coursesite-meta-author-color;
	}		
	
	.o_ratings_and_comments {
		margin-top: 2em;
		border-top: 1px solid #eee;
		padding-top: 1em;
	}
}

.o_video_chapter_editor, .o_video_marker_editor  {
	.o_table_wrapper.o_table_flexi .table {
		margin-top: 0;
	}
}

.o_video_marker_editor .o_video_question.mejs__overlay {
	overflow: scroll;
}

.o_video_question.mejs__overlay.o_video_large_question {
	align-items: flex-start;
	padding: 1em 1em 0 1em;
	z-index: 5;
	
	#o_qti_container {
		border: 1px solid $gray-lighter;
	}
}

.o_video_marker {
	position: absolute;
	background-color: $o-video-marker-bg-color;
	opacity: 0.85;
	border-left: 3px solid $o-video-time-marker-default-bg-color;
	padding: 5px;
	
	&.o_video_marker_gray { 
		border-left-color: $gray-dark;
	}
	&.o_video_marker_blue { 
		border-left-color: $state-info-border;
	}
	&.o_video_marker_green { 
		border-left-color: $brand-success;
	}
	&.o_video_marker_yellow { 
		border-left-color: $brand-warning;
	}
	&.o_video_marker_red {
		border-left-color: $brand-danger;
	}
	&.o_video_marker_purple {
		border-left-color: $o-cn-style-cat-purple-color;
	}
}

.o_video_question {

	&.mejs__overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.5);
	}

	#itemBody, .modalFeedback {
		background-color: white;
		opacity: 1.0;
	}
	
	.o_assessmentitem_wrapper .o_qti_item_body {
		min-height: 50px;
	}
	
	#o_qti_assessment_test_timer {
		border: none;
		padding: 5px;
		margin: 0;
	}
	
	#o_qti_progress .progress {
		height: 10px;
	}
	
	#o_qti_container {
		background-color: white;
		padding: 5px;
		border-radius: $border-radius-small;
	}
	
	.o_sel_additional_feedback {
		float: left;
		font-size: 26px;
		
		.o_icon_passed {
			color: $brand-success;
		}
		.o_icon_failed {
			color: $brand-danger;
		}
	}
}

.mejs__time-rail {
	.o_video_marker_gray { 
		background: $gray-dark;
	}
	.o_video_marker_blue { 
		background: $state-info-border;
	}
	.o_video_marker_green { 
		background: $brand-success;
	}
	.o_video_marker_yellow { 
		background: $brand-warning;
	}
	.o_video_marker_red {
		background: $brand-danger;
	}
	.o_video_marker_purple {
		background: $o-cn-style-cat-purple-color;
	}
}

/* beautify source chooser plugin, remove radio button */
.mejs__controls .mejs__sourcechooser-button > button {
    background: transparent;
    display: inline-block;
	font: normal normal normal list.slash($fa-font-size-base, 1) FontAwesome; // shortening font declaration
	font-size: inherit; // can't have font-size inherit on line above, so need to override
	text-rendering: auto; // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}
.mejs__controls .mejs__sourcechooser-button > button:before {
    content: $fa-var-gear;
    color: white;
    font-size: 18px;
}
.mejs__controls .mejs__sourcechooser-button .mejs__sourcechooser-selector {
	visibility: visible !important;
	width: 170px;
	padding-left: 10px;
	
	ul li {
		label {
			font-weight: normal;
			font-size: 10px;
			
			width: 140px;
			&:hover {
				color: #eee;
			}
			.type {
				display: none;
			}
		}
		input {
			/* hide ugly input radio button */
			visibility: hidden;
			margin: 0;
			width: 0;
			&:checked+label {
				color: $brand-danger;
			}
		}
	}	
}

/* beautify track plugin, remove radio button */
.mejs__controls .mejs__captions-button .mejs__captions-selector {
	right: -26px;
	ul li {
		label {
			font-weight: normal;
			font-size: 10px;
			
			&:hover {
				color: #eee;
			}
			.type {
				display: none;
			}
		}
		input {
			/* hide ugly input radio button */
			visibility: hidden;
			margin: 0;
			width: 0;
			&:checked+label {
				color: $brand-danger;
			}
		}
	}	
}

/* beautify speed plugin */
.mejs__button.mejs__speed-button {
	width: 36px;
}
.mejs__controls .mejs__speed-button > button {
    background: transparent;
    width: 36px;
    margin: 11px 0 0 0;
    font-size: 11px;
    line-height: normal;
    color: #ffffff;
}

.mejs__controls .mejs__speed-button .mejs__speed-selector {
	height: 150px;
	top: auto;
	bottom: 40px;
	
	ul li {
		label {
			font-weight: normal;
			font-size: 10px
		}
	}
}

/* fix overflow of chapters when not enough space */
.mejs__chapters .mejs__chapter .mejs__chapter-block {
	.ch-title,
	.ch-time {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
	}
}

.mejs__time-marker {
	background-color: $o-video-time-marker-default-bg-color;
}

/* replay button */
.mejs__overlay-button.o_mejs_replay {
	background-position: -671px -4px;
	background-size: 1677px;
	margin-left: 20px;
}

/* make button better readable on white background */
.mejs__overlay-button {
	filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .5));
}

/* make subtitles better readable, relative to screen size but not too small or too large */
.mejs__captions-layer {
	font-size: clamp(1.5rem, 2.5vw, 3rem); 
	line-height: clamp(2rem, 3vw, 3.5rem); 	
	
	/* position captions nicely at the bottom in the center, don't use full width for better readibility */
	.mejs__captions-position {
		bottom: 3rem !important;
		transition: bottom 0.5s;
		width: 80%;
		left: 50%;
		margin-left: -40%;
		
		/* make space for control bar */
		&.mejs__captions-position-hover {
			bottom: 5rem !important;
		}
	}
}

/* different breakpoints for various typical video resolutions in full-screen mode
   2% font size relative to video width, overriding fancy (wrong) calculated size from mediaelement
 */
@mixin videSubtitleSize($videoWidth) {
	@media (max-width: $videoWidth) { 
		font-size: floor($videoWidth * 0.025) !important; 
		line-height: floor($videoWidth * 0.03) !important;
	}
}
.mejs__fullscreen .mejs__captions-layer {
	.mejs__captions-position {
		bottom: 6rem !important;
		/* make space for control bar */
		&.mejs__captions-position-hover {
			bottom: 8rem !important;
		}
	}
	/* subtitles sizes */
	.mejs__captions-text {
		@include videSubtitleSize(3840px);
		@include videSubtitleSize(2560px);
		@include videSubtitleSize(1920px);
		@include videSubtitleSize(1440px);
		@include videSubtitleSize(1280px);
		@include videSubtitleSize(1024px);
		@include videSubtitleSize(768px);
		@include videSubtitleSize(640px);
		@include videSubtitleSize(480px);
		@include videSubtitleSize(320px);
	}
}


/* chapters */
.o_video .mejs__chapters-button > .mejs__chapters-selector {
    margin-right: -55px;
    width: 240px;
    max-height: 360px;
    overflow-y: auto;
}

.o_video_download_btn {
	margin-top: 20px;
}

/* Resume dialog */
.o_video_resume_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	.o_video_resume_panel {
		margin: 10% auto;
		padding: 10px 20px 20px 20px;
		max-width: 500px;
		background-color: $panel-bg;
		border: 1px solid transparent;
		border-radius: $panel-border-radius;
		@include box-shadow(0 1px 1px rgba(0,0,0,.05));
		text-align: center;
	}
	.o_video_resume_buttons {
		margin: 20px 0
	} 
}

.o_video_timeline {
	display: flex;
	gap: 5px;
	flex-direction: row;
	width: 100%;
}

.o_video_channels {
	flex: 1;
	display: flex;
	gap: 5px;
	flex-direction: column;
	overflow-x: auto;
}

.o_video_channel {
	position: relative;

	.o_video_timeline_event.o_video_selected {
		border-color: $brand-primary;
	}
}

.o_video_channel_labels {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.o_video_channel_label {
	width: 50px;
	padding: 5px;
}

.o_video_timeline_box {
	background-color: $gray-lighter;
}

.o_video_question {
	position: absolute;
	display: inline-block;
	z-index: 1;
	height: 30px;
	width: 30px;
	cursor: pointer;

	svg {
		stroke-width: 32;
		width: 30px;
		height: 30px;
	}

	&.o_video_marker_gray {
		svg {
			fill: $o-video-gray-color;
			stroke: darken($o-video-gray-color, 16);
		}
	}
	&.o_video_marker_blue {
		svg {
			fill: $o-selection-light-blue;
			stroke: darken($o-selection-light-blue, 16);
		}
	}
	&.o_video_marker_green {
		svg {
			fill: $o-selection-light-green;
			stroke: darken($o-selection-light-green, 16);
		}
	}
	&.o_video_marker_yellow {
		svg {
			fill: $o-selection-yellow;
			stroke: darken($o-selection-yellow, 16);
		}
	}
	&.o_video_marker_red {
		svg {
			fill: $o-selection-red;
			stroke: darken($o-selection-red, 16);
		}
	}
	&.o_video_marker_purple {
		svg {
			fill: $o-selection-purple;
			stroke: darken($o-selection-purple, 16);
		}
	}

	&.o_video_selected {
		svg {
			stroke: $brand-primary;
			stroke-width: 50;
		}
	}
}

.o_video_timeline_event {
	position: absolute;
	display: inline-block;
	z-index: 1;
	height: 20px;
	line-height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	border-style: solid;
	border-radius: 4px;
	border-width: 1px;

	&.o_video_selected {
		z-index: 2;
		outline: 1px solid $brand-primary;
	}

	&.o_video_marker_gray {
		background-color: $o-video-gray-color;
		border-color: darken($o-video-gray-color, 16);
	}
	&.o_video_marker_blue {
		background-color: $o-selection-light-blue;
		border-color: darken($o-selection-light-blue, 16);
	}
	&.o_video_marker_green {
		background-color: $o-selection-light-green;
		border-color: darken($o-selection-light-green, 16);
	}
	&.o_video_marker_yellow {
		background-color: $o-selection-yellow;
		border-color: darken($o-selection-yellow, 16);
	}
	&.o_video_marker_red {
		background-color: $o-selection-red;
		border-color: darken($o-selection-red, 16);
	}
	&.o_video_marker_purple {
		background-color: $o-selection-purple;
		border-color: darken($o-selection-purple, 16);
	}
}

.o_video_timeline_tools {
	display: flex;

	a {
		color: $text-color;
		margin-right: 3px;
	}

	.o_slider_wrapper {
		width: 100px;
	}
}

.o_video_timeline_slider {

	.o_has_value.ui-slider.ui-slider-horizontal.ui-widget-content {
		left: 10%;
		top: .66em;
		height: .2em;
		width: 80%;
		border: none;
		background: $gray;

		.ui-slider-handle {
			border-color: $gray;
			background-color: $gray;
			outline: 0;
			width: 0.8em;
			height: 0.8em;
			border-radius: 50%;
			translate: 3px;
		}
	}
}

.o_video_color_circle {
	width: 16px;
	height: 16px;
	border-style: solid;
	border-radius: 8px;
	border-width: 1px;
}

.o_video_colored_area {
	&.o_video_marker_gray {
		background-color: $o-video-gray-color;
		border-color: darken($o-video-gray-color, 16);
	}
	&.o_video_marker_blue {
		background-color: $o-selection-light-blue;
		border-color: darken($o-selection-light-blue, 16);
	}
	&.o_video_marker_green {
		background-color: $o-selection-light-green;
		border-color: darken($o-selection-light-green, 16);
	}
	&.o_video_marker_yellow {
		background-color: $o-selection-yellow;
		border-color: darken($o-selection-yellow, 16);
	}
	&.o_video_marker_red {
		background-color: $o-selection-red;
		border-color: darken($o-selection-red, 16);
	}
	&.o_video_marker_purple {
		background-color: $o-selection-purple;
		border-color: darken($o-selection-purple, 16);
	}
}

#o_video_time_bar_label {
	height: 8px;
	padding: 0;
}

#o_video_time_bar_container {
	height: 8px;
	cursor: pointer;
}

#o_video_time_bar {
	height: 100%;
	background-color: $brand-primary;
}

#o_video_play_head {
	position: absolute;
	left: 55px;
	width: 3px;
	background-color: $brand-primary;
	cursor: pointer;
	z-index: 10;

	.o_video_play_head_marker {
		position: absolute;
		left: -4px;
		top: -8px;
		cursor: pointer;

		.o_video_play_head_marker_icon {
			color: $brand-primary;
		}
	}

	.o_video_play_head_text {
		position: absolute;
		left: -30px;
		width: 60px;
		text-align: center;
		top: -16px;
		font-size: 12px;
		font-weight: bold;
		cursor: pointer;
		user-select: none;
	}
}

.o_video_category_container {
	margin: 10px auto;
	width: 90%;
	border-spacing: 10px;
	border-collapse: separate;

	.o_color_button_placeholder {
		display: inline-block;
		width: 34px;
		height: 34px;
	}
}

