.o_videotask_box {
	padding: 1em 2em;
	border: 1px solid $o-video-startbox-main-border-color;
	border-radius: $o-video-startbox-border-radius;
	background-color: $o-video-startbox-main-bg-color;
	
	.o_videotask_marker {
		position: relative;
		display: inline-block;
	}
}

.o_video_me_colored_area.o_video_marker_gray {
	border-left-color: $o-video-color-practice;
	background: $o-video-color-practice;
}

.o_videotask_box .o_videotask_marker,
.o_videotask_categories .btn,
.o_videotask_categories .btn.btn-default.o_disabled:hover,
.o_videotask_marker,
.o_videotask_segment {
	color: #fcfcfc;
	border-color: $o-video-border-color;

	&.o_video_marker_lightgray {
		background-color: $o-video-color-light-gray;
	}
	&.o_video_marker_yellow {
		background-color: $o-video-color-yellow;
	}
	&.o_video_marker_orange {
		background-color: $o-video-color-orange;
	}
	&.o_video_marker_brown {
		background-color: $o-video-color-brown;
	}
	&.o_video_marker_red {
		background-color: $o-video-color-red;
	}
	&.o_video_marker_orchid {
		background-color: $o-video-color-orchid;
	}
	&.o_video_marker_purple {
		background-color: $o-video-color-purple;
	}
	&.o_video_marker_lightblue {
		background-color: $o-video-color-light-blue;
	}
	&.o_video_marker_cobaltblue {
		background-color: $o-video-color-cobalt-blue;
	}
	&.o_video_marker_darkblue {
		background-color: $o-video-color-dark-blue;
	}
	&.o_video_marker_lightgreen {
		background-color: $o-video-color-light-green;
	}
	&.o_video_marker_seagreen {
		background-color: $o-video-color-sea-green;
	}
}

.o_videotask_categories .btn.btn-default.o_disabled,
.o_videotask_categories .btn.btn-default:active {
	color: $o-video-color !important;
}

.o_videotask_categories .btn.btn-default:hover {
	border-color: darken($o-video-color,10%);

	&.o_video_marker_lightgray {
		background-color: darken($o-video-color-light-gray,10%);
	}
	&.o_video_marker_yellow {
		background-color: darken($o-video-color-yellow,10%);
	}
	&.o_video_marker_orange {
		background-color: darken($o-video-color-orange,10%);
	}
	&.o_video_marker_brown {
		background-color: darken($o-video-color-brown,10%);
	}
	&.o_video_marker_red {
		background-color: darken($o-video-color-red,10%);
	}
	&.o_video_marker_orchid {
		background-color: darken($o-video-color-orchid,10%);
	}
	&.o_video_marker_purple {
		background-color: darken($o-video-color-purple,10%);
	}
	&.o_video_marker_lightblue {
		background-color: darken($o-video-color-light-blue,10%);
	}
	&.o_video_marker_cobaltblue {
		background-color: darken($o-video-color-cobalt-blue,10%);
	}
	&.o_video_marker_darkblue {
		background-color: darken($o-video-color-dark-blue,10%);
	}
	&.o_video_marker_lightgreen {
		background-color: darken($o-video-color-light-green,10%);
	}
	&.o_video_marker_seagreen {
		background-color: darken($o-video-color-sea-green,10%);
	}
}

.o_videotask_tooltip {
	.tooltip-inner {
		border: 1px solid darken($o-video-color,10%);
	}
	
	&.tooltip.top .tooltip-arrow {
		border-top-color: darken($o-video-color,10%);
	}

	&.o_video_marker_lightgray .tooltip-inner {
		background-color: $o-video-color-light-gray;
	}
	&.o_video_marker_yellow .tooltip-inner {
		background-color: $o-video-color-yellow;
	}
	&.o_video_marker_orange .tooltip-inner {
		background-color: $o-video-color-orange;
	}
	&.o_video_marker_brown .tooltip-inner {
		background-color: $o-video-color-brown;
	}
	&.o_video_marker_red .tooltip-inner {
		background-color: $o-video-color-red;
	}
	&.o_video_marker_orchid .tooltip-inner {
		background-color: $o-video-color-orchid;
	}
	&.o_video_marker_purple .tooltip-inner {
		background-color: $o-video-color-purple;
	}
	&.o_video_marker_lightblue .tooltip-inner {
		background-color: $o-video-color-light-blue;
	}
	&.o_video_marker_cobaltblue .tooltip-inner {
		background-color: $o-video-color-cobalt-blue;
	}
	&.o_video_marker_darkblue .tooltip-inner {
		background-color: $o-video-color-dark-blue;
	}
	&.o_video_marker_lightgreen .tooltip-inner {
		background-color: $o-video-color-light-green;
	}
	&.o_video_marker_seagreen .tooltip-inner {
		background-color: $o-video-color-sea-green;
	}
}

.o_videotask_tooltip {
	&.tooltip.in {
		opacity: 1;
	}
}

.o_videotask_marker.o_video_marker_lightgray:before,
.o_videotask_marker.o_video_marker_lightgray > span {
	background-color: $o-video-color-light-gray;
}
.o_videotask_marker.o_video_marker_yellow:before,
.o_videotask_marker.o_video_marker_yellow > span {
	background-color: $o-video-color-yellow;
}
.o_videotask_marker.o_video_marker_orange:before,
.o_videotask_marker.o_video_marker_orange > span {
	background-color: $o-video-color-orange;
}
.o_videotask_marker.o_video_marker_brown:before,
.o_videotask_marker.o_video_marker_brown > span {
	background-color: $o-video-color-brown;
}
.o_videotask_marker.o_video_marker_red:before,
.o_videotask_marker.o_video_marker_red > span {
	background-color: $o-video-color-red;
}
.o_videotask_marker.o_video_marker_orchid:before,
.o_videotask_marker.o_video_marker_orchid > span {
	background-color: $o-video-color-orchid;
}
.o_videotask_marker.o_video_marker_purple:before,
.o_videotask_marker.o_video_marker_purple > span {
	background-color: $o-video-color-purple;
}
.o_videotask_marker.o_video_marker_lightblue:before,
.o_videotask_marker.o_video_marker_lightblue > span {
	background-color: $o-video-color-light-blue;
}
.o_videotask_marker.o_video_marker_cobaltblue:before,
.o_videotask_marker.o_video_marker_cobaltblue > span {
	background-color: $o-video-color-cobalt-blue;
}
.o_videotask_marker.o_video_marker_darkblue:before,
.o_videotask_marker.o_video_marker_darkblue > span {
	background-color: $o-video-color-dark-blue;
}
.o_videotask_marker.o_video_marker_lightgreen:before,
.o_videotask_marker.o_video_marker_lightgreen > span {
	background-color: $o-video-color-light-green;
}
.o_videotask_marker.o_video_marker_seagreen:before,
.o_videotask_marker.o_video_marker_seagreen > span {
	background-color: $o-video-color-sea-green;
}

.o_videotask_marker.o_video_marker_assign { 
	background-color: $gray-dark;
}

.o_videotask_correct_segments {
	color: $o-video-correct-segments-color;
}

.o_videotask_notcorrect_segments {
	color: $o-video-notcorrect-segments-color;
}

.o_videotask_practice_end {
	padding: 0 3em;
}

.o_videotask_practice_result {
	display: flex;
	align-items: center;
	min-height: 3em;
	
	.o_icon_trophy {
		font-size: 300%;
	}
	
	>span {
		display: block;
		padding-left: 1em;
		font-size: 120%;
	}
}

.o_videotask_layer {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	left: 10px;
	right: 10px;
	bottom: 65px;
	height: 160px;
	margin: 0 10px;
}


.o_videotask_segments {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	height: 20px;
}

.o_videotask_segments.o_videotask_segments_with_markers {
	margin-top: 25px;
	margin-bottom: 5px;
}

.o_videotask_categories {
	width: 100%;
	background-color: transparent;
	text-align: center;
	padding: 0 0 10px 0;
}

.o_videotask_categories>button.btn {
	margin-top: 10px;
}

.o_videotask_box .o_videotask_categories {
	text-align: left;
}

.o_videotask_messages {
	width: 100%;
	text-align: center;
	
	>span {
		padding: 5px 30px;
	}
}

.o_videotask_messages.hide {
	display:none;
}

.o_videotask_messages, .o_videotask_start_message {
	>span {
		border-radius: $o-content-border-box-radius;
	}

	>.o_note {
		background-color: $o-box-note-bg;
		color: $o-box-note-color;
		border: 1px solid $o-box-note-color;
	}
	
	>.o_warning {
		background-color: $o-box-warning-bg;
		color: $o-box-warning-color;
		border: 1px solid $o-box-warning-color;
	}
	
	>.o_correct {
		background-color: $o-box-success-bg;
		color: $o-box-success-color;
		border: 1px solid $o-box-success-color;
	}
}

.o_videotask_marker {
	display: inline-block;
	position: absolute;
	height: 1em;
	width: 6em;
	margin-left: -3em;
	top: -25px;
	text-align: center;
	
	>span {
		border: 1px solid $o-video-border-color;
		border-radius: 4px;
		padding: 3px 6px 1px 5px;
	}
}

.o_videotask_segments .o_videotask_marker {
	background-color: transparent !important;
}

.o_videotask_marker:before {
	content: '\0020';
	position: absolute;
	height: 28px;
	right: 0;
	top: 19px;
	margin-right: 41px;
	width: 2px;
}

.o_videotask_marker.o_segment_marker_correct {
	@include o-add-icon('check-circle');
	@include o-add-icon-font(true);
	&:after{
		font-size: 20px;
		line-height: 16px;
		color: $brand-success;
		background-color: white;
		width: 16px;
		height: 16px;
		
		border-radius: 8px;
		position: absolute;
		top: 28px;
		right: 0;
		margin-right: 35px;
		z-index: 4;
	}
}

.o_videotask_marker.o_segment_marker_correct:before {
	background-color: $brand-success !important;
}

.o_videotask_marker.o_segment_marker_not_correct {
	@include o-add-icon('times-circle');
	@include o-add-icon-font(true);
	&:after{
		font-size: 20px;
		line-height: 16px;
		color: $brand-danger;
		background-color: white;
		width: 16px;
		height: 16px;
		
		border-radius: 8px;
		position: absolute;
		top: 28px;
		right: 0;
		margin-right: 35px;
		z-index: 4;
	}
}

.o_videotask_marker.o_segment_marker_not_correct:before {
	background-color: $brand-danger !important;
}

.o_videotask_segment {
	display: inline-block;
	position: absolute;
	height: 20px;
	line-height: 22px;
	font-size: 11px;
	text-align: center;
}

.o_videotask_segments .o_video_me_segment {
	font-size: 11px;
}

.o_videotask_segment.o_segment_correct:after {
	@include o-add-icon('check-circle');
	@include o-add-icon-font(false);
	&:after{
		font-size: 14px;
		line-height: 12px;
		color: $brand-success;
		background-color: white;
		width: 12px;
		height: 12px;
		border-radius: 6px;
	
		position: absolute;
		top: -6px;
		right: -6px;
		z-index: 4;
	}
}

.o_videotask_details .o_test_session_cancelled i:before,
.o_videotask_category_incorrect,
.o_videotask_category_incorrect:hover {
	text-decoration: line-through;
}





