@use "sass:list";

.o_video_poster {
	position: relative;
	display: inline-block;
	width: 400px;
	max-width: 100%;
	height: 225px;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid #eee;	
}

.o_video_poster_select {
	text-align: center;
	
	.o_video_poster {
		margin: 5px;
		
		a {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			
			span {
				position: absolute;
				bottom: 0;
				width: 100%;
				display: block;
				line-height: 3em;
				background: #f8f8f8;
				opacity: 0.8;
			}
			&:hover {
				border: 1px solid #bbb;
				span {
					opacity: 0.9;			
				}
			}
		}			
	}
}

.o_video_peekview {
	text-align: center;
}

.o_video_listing {
	
	.o_table_body.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
	
	.o_video_entry {
		position: relative;
		display: inline-block;
		height: 230px;			
		width: 250px;
		vertical-align: top;
		margin-right: 10px;
	}
	.o_video_poster {
		width: 250px;
		max-width: 100%;
		height: 140px;	
		border: 1px solid #eee;
	}
	.o_timecode {
		position: absolute;
		bottom: 2px;
		right: 3px;
		padding: 3px 4px;
		background: #333;
		color: #fff;
		font-size: $font-size-small;
		line-height: $font-size-small;
	}
	.o_meta {
		padding: 2px;
		font-size: ceil(($font-size-base * 0.75));
		h5 {
			font-size: $font-size-base;
			margin-top: 0;
			margin-bottom: 5px;
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}	
	.o_date {
		margin-left: 10px;
		display: inline-block;
		&:before {
			content: '\002022';
			margin-right: 10px;
			display: inline-block;
		}	
	}
}

.o_video_run {
	h1 {
		// same as youtube
		font-size: 1.8rem;
		font-weight: normal;
	}
	.o_author {
		margin-top: 0.5em;
		margin-bottom: 1em;
		line-height: normal;
		font-size: 90%;
		color: $o-coursesite-meta-author-color;
	}		
	
	.o_ratings_and_comments {
		margin-top: 2em;
		border-top: 1px solid #eee;
		padding-top: 1em;
	}
}

.o_video_marker_editor  {
	.o_table_wrapper.o_table_flexi .table {
		margin-top: 0;
	}
}

.o_video_marker_editor .o_video_question.mejs__overlay {
	overflow: scroll;
}

.o_video_question.mejs__overlay.o_video_large_question {
	align-items: flex-start;
	padding: 1em 1em 0 1em;
	z-index: 5;
	overflow: auto;
	
	#o_qti_container {
		border: 1px solid $gray-lighter;
	}
}

.o_video_marker {
	position: absolute;
	background-color: $o-video-marker-bg-color;
	opacity: 0.85;
	border-left: 3px solid $o-video-time-marker-default-bg-color;
	padding: 5px;
	
	&.o_video_marker_lightgray {
		border-left-color: $o-video-color-light-gray;
	}
	&.o_video_marker_yellow {
		border-left-color: $o-video-color-yellow;
	}
	&.o_video_marker_orange {
		border-left-color: $o-video-color-orange;
	}
	&.o_video_marker_brown {
		border-left-color: $o-video-color-brown;
	}
	&.o_video_marker_red {
		border-left-color: $o-video-color-red;
	}
	&.o_video_marker_orchid {
		border-left-color: $o-video-color-orchid;
	}
	&.o_video_marker_purple {
		border-left-color: $o-video-color-purple;
	}
	&.o_video_marker_lightblue {
		border-left-color: $o-video-color-light-blue;
	}
	&.o_video_marker_cobaltblue {
		border-left-color: $o-video-color-cobalt-blue;
	}
	&.o_video_marker_darkblue {
		border-left-color: $o-video-color-dark-blue;
	}
	&.o_video_marker_lightgreen {
		border-left-color: $o-video-color-light-green;
	}
	&.o_video_marker_seagreen {
		border-left-color: $o-video-color-sea-green;
	}
}

.o_video_question {

	&.mejs__overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.5);
		z-index: 1;
	}

	#itemBody, .modalFeedback {
		background-color: white;
		opacity: 1.0;
	}
	
	.o_assessmentitem_wrapper .o_qti_item_body {
		min-height: 50px;
	}
	
	#o_qti_assessment_test_timer {
		border: none;
		padding: 5px;
		margin: 0;
	}
	
	#o_qti_progress .progress {
		height: 10px;
	}
	
	#o_qti_container {
		background-color: white;
		padding: 5px;
		border-radius: $border-radius-small;
	}
	
	.o_sel_additional_feedback {
		float: left;
		font-size: 26px;
		margin-right: 5px;

		.o_icon_passed {
			color: $brand-success;
		}
		.o_icon_failed {
			color: $brand-danger;
		}
	}
}

.mejs__time-rail {
	.o_video_marker_lightgray {
		background: lighten($o-video-color-light-gray, 20%);
	}
	.o_video_marker_yellow {
		background: lighten($o-video-color-yellow, 10%);
	}
	.o_video_marker_orange {
		background: lighten($o-video-color-orange, 10%);
	}
	.o_video_marker_brown {
		background: lighten($o-video-color-brown, 10%);
	}
	.o_video_marker_red {
		background: lighten($o-video-color-red, 10%);
	}
	.o_video_marker_orchid {
		background: lighten($o-video-color-orchid, 10%);
	}
	.o_video_marker_purple {
		background:lighten( $o-video-color-purple, 10%);
	}
	.o_video_marker_lightblue {
		background: lighten($o-video-color-light-blue, 10%);
	}
	.o_video_marker_cobaltblue {
		background: lighten($o-video-color-cobalt-blue, 10%);
	}
	.o_video_marker_darkblue {
		background: lighten($o-video-color-dark-blue, 10%);
	}
	.o_video_marker_lightgreen {
		background: lighten($o-video-color-light-green, 10%);
	}
	.o_video_marker_seagreen {
		background: lighten($o-video-color-sea-green, 10%);
	}
}

/* beautify source chooser plugin, remove radio button */
.mejs__controls .mejs__sourcechooser-button > button {
    background: transparent;
    display: inline-block;
	@include o-add-icon-font();
    &:before {
 	    color: white;
	    font-size: 18px;
    }
}
.mejs__controls .mejs__sourcechooser-button > button {
	@include o-add-icon('gear');
}
.mejs__controls .mejs__sourcechooser-button .mejs__sourcechooser-selector {
	visibility: visible !important;
	width: 170px;
	padding-left: 10px;
	right: initial;
	background: $o-video-controls-bg;
	
	ul li {
		label {
			font-weight: normal;
			font-size: 10px;
			
			width: 140px;
			&:hover {
				color: #eee;
			}
			.type {
				display: none;
			}
		}
		input {
			/* hide ugly input radio button */
			visibility: hidden;
			margin: 0;
			width: 0;
			&:checked+label {
				color: $o-video-controls-selected;
			}
		}
	}	
}

.mejs__controls .mejs__volume-button > .mejs__volume-slider {
	background: $o-video-controls-bg;
}


/* beautify track plugin, remove radio button */
.mejs__controls .mejs__captions-button .mejs__captions-selector {
	right: -26px;
	background: $o-video-controls-bg;
	
	ul li {
		label {
			font-weight: normal;
			font-size: 10px;
			
			&:hover {
				color: #eee;
			}
			.type {
				display: none;
			}
		}
		input {
			/* hide ugly input radio button */
			visibility: hidden;
			margin: 0;
			width: 0;
			&:checked+label {
				color: $o-video-controls-selected;
			}
		}
	}	
}

/* beautify speed plugin */
.mejs__button.mejs__speed-button {
	width: 36px;
}
.mejs__controls .mejs__speed-button > button {
    background: transparent;
    width: 36px;
    margin: 11px 0 0 0;
    font-size: 11px;
    line-height: normal;
    color: #ffffff;
}

.mejs__controls .mejs__speed-button .mejs__speed-selector {
	height: 150px;
	top: auto;
	bottom: 40px;
	background: $o-video-controls-bg;
	
	ul li {
		label {
			font-weight: normal;
			font-size: 10px
		}
	}
}

/* fix overflow of chapters when not enough space */
.mejs__chapters .mejs__chapter .mejs__chapter-block {
	.ch-title,
	.ch-time {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
	}
}

.mejs__time-marker {
	background-color: $o-video-time-marker-default-bg-color;
}

/* replay button */
.mejs__overlay-button.o_mejs_replay {
	background-position: -671px -4px;
	background-size: 1677px;
	margin-left: 20px;
}

/* make button better readable on white background */
.mejs__overlay-button {
	filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .5));
}

/* make subtitles better readable, relative to screen size but not too small or too large */
.mejs__captions-layer {
	font-size: clamp(1.5rem, 2.5vw, 3rem); 
	line-height: clamp(2rem, 3vw, 3.5rem); 	
	
	/* position captions nicely at the bottom in the center, don't use full width for better readibility */
	.mejs__captions-position {
		bottom: 3rem !important;
		transition: bottom 0.5s;
		width: 80%;
		left: 50%;
		margin-left: -40%;
		
		/* make space for control bar */
		&.mejs__captions-position-hover {
			bottom: 5rem !important;
		}
	}
}

/* place the progress bar above the controls and use the full width */
.o_video_progress_full_width > .olatFlashMovieViewer > .mejs__container > .mejs__inner {
	& > .mejs__controls {
		height: 60px;
		flex-wrap: wrap;

		& > .mejs__time-rail {
			order: -1;
			flex-grow: 10;
			width: 100%;
			padding-top: 0;
			height: 20px;
		}

		& > .mejs__playpause-button {
			order: 0;
		}

		& > .mejs__currenttime-container {
			order: 1;
			padding-right: 0;
		}

		& > .mejs__currenttime-container:after {
			content: '/';
			padding-left: 5px;
		}

		& > .mejs__duration-container {
			order: 2;
			padding-left: 5px;
		}

		& > .mejs__volume-button {
			order: 3;
		}

		& > .mejs__chapters-button {
			order: 4;
		}

		& > .mejs__speed-button {
			order: 5;
		}

		& > .mejs__captions-button {
			order: 6;
		}

		& > .mejs__fullscreen-button {
			order: 7;
			margin-left: auto;
		}
	}
}

/* different breakpoints for various typical video resolutions in full-screen mode
   2% font size relative to video width, overriding fancy (wrong) calculated size from mediaelement
 */
@mixin videSubtitleSize($videoWidth) {
	@media (max-width: $videoWidth) { 
		font-size: floor($videoWidth * 0.025) !important; 
		line-height: floor($videoWidth * 0.03) !important;
	}
}
.mejs__fullscreen .mejs__captions-layer {
	.mejs__captions-position {
		bottom: 6rem !important;
		/* make space for control bar */
		&.mejs__captions-position-hover {
			bottom: 8rem !important;
		}
	}
	/* subtitles sizes */
	.mejs__captions-text {
		@include videSubtitleSize(3840px);
		@include videSubtitleSize(2560px);
		@include videSubtitleSize(1920px);
		@include videSubtitleSize(1440px);
		@include videSubtitleSize(1280px);
		@include videSubtitleSize(1024px);
		@include videSubtitleSize(768px);
		@include videSubtitleSize(640px);
		@include videSubtitleSize(480px);
		@include videSubtitleSize(320px);
	}
}


/* chapters */
.o_video .mejs__chapters-button > .mejs__chapters-selector {
    margin-right: -70px;
    width: 240px;
    max-height: 360px;
    overflow-y: auto;
    background: $o-video-controls-bg;

	.mejs__chapters-selector-list-item {
		margin-bottom: 0;
	}

	.mejs__chapters-selector-label {
		line-height: 28px;
		padding-top: 0;
		margin-bottom: 0;
	}
}

.o_video_download_btn {
	margin-top: 20px;
}

/* Resume dialog */
.o_video_resume_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	.o_video_resume_panel {
		margin: 10% auto;
		padding: 10px 20px 20px 20px;
		max-width: 500px;
		background-color: $panel-bg;
		border: 1px solid transparent;
		border-radius: $panel-border-radius;
		@include box-shadow(0 1px 1px rgba(0,0,0,.05));
		text-align: center;
	}
	.o_video_resume_buttons {
		margin: 20px 0
	} 
}

.o_video_timeline {
	display: flex;
	gap: 5px;
	flex-direction: row;
	width: 100%;
}

.o_video_channels {
	flex: 1;
	display: flex;
	gap: 5px;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: hidden;
}

.o_video_channel {
	position: relative;

	.o_video_timeline_event {
	 	&.o_video_selected {
			border-color: $brand-primary;
		}
		&.o_video_segment_selection {
			overflow: visible;
			font-size: 0;
			padding: 0 1px;
			height: 30px;
			border: none;
			border-radius: 0;
			z-index: 3;
		}
		&.o_video_segment_selection:before {
			content: '\0020';
			position: absolute;
			padding: 0 1px;
			height: 30px;
			right: 0;
			width: 1px;
		}
		&.o_selection_correct {
			background-color: $o-video-timeline-correct-bg;
		}
		&.o_selection_correct:before {
			top: 30px;
			color: $o-video-timeline-correct-bg;
			background-color: $o-video-timeline-correct-bg;
		}
		&.o_selection_incorrect {
			background-color: $o-video-timeline-incorrect-bg;
		}
		&.o_selection_incorrect:before {
			top: -30px;
			color: $o-video-timeline-incorrect-bg;
			background-color: $o-video-timeline-incorrect-bg;
		}
	}
}

.o_video_channel_labels {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.o_video_channel_label {
	width: 50px;
	padding: 5px;
}

.o_video_timeline_box {
	background-color: $table-bg-hover;

	&.o_video_active {
		background-color: $o-table-row-selected-color;
	}
}

.o_video_channel .o_video_question {
	position: absolute;
	display: inline-block;
	z-index: 1;
	height: 30px;
	width: 30px;
	cursor: pointer;

	svg {
		stroke-width: 32;
		width: 30px;
		height: 30px;
	}

	&.o_video_marker_lightgray {
		svg {
			fill: $o-video-color-light-gray;
			stroke: $o-video-border-color-light-gray;
		}
	}
	&.o_video_marker_yellow {
		svg {
			fill: $o-video-color-yellow;
			stroke: $o-video-border-color-yellow;
		}
	}
	&.o_video_marker_orange {
		svg {
			fill: $o-video-color-orange;
			stroke: $o-video-border-color-orange;
		}
	}
	&.o_video_marker_brown {
		svg {
			fill: $o-video-color-brown;
			stroke: $o-video-border-color-brown;
		}
	}
	&.o_video_marker_red {
		svg {
			fill: $o-video-color-red;
			stroke: $o-video-border-color-red;
		}
	}
	&.o_video_marker_orchid {
		svg {
			fill: $o-video-color-orchid;
			stroke: $o-video-border-color-orchid;
		}
	}
	&.o_video_marker_purple {
		svg {
			fill: $o-video-color-purple;
			stroke: $o-video-border-color-purple;
		}
	}
	&.o_video_marker_lightblue {
		svg {
			fill: $o-video-color-light-blue;
			stroke: $o-video-border-color-light-blue;
		}
	}
	&.o_video_marker_cobaltblue {
		svg {
			fill: $o-video-color-cobalt-blue;
			stroke: $o-video-border-color-cobalt-blue;
		}
	}
	&.o_video_marker_darkblue {
		svg {
			fill: $o-video-color-dark-blue;
			stroke: $o-video-border-color-dark-blue;
		}
	}
	&.o_video_marker_lightgreen {
		svg {
			fill: $o-video-color-light-green;
			stroke: $o-video-border-color-light-green;
		}
	}
	&.o_video_marker_seagreen {
		svg {
			fill: $o-video-color-sea-green;
			stroke: $o-video-border-color-sea-green;
		}
	}

	&.o_video_selected {
		svg {
			stroke: $brand-primary;
			stroke-width: 50;
		}
	}
}

.o_video_timeline_event {
	position: absolute;
	display: inline-block;
	z-index: 1;
	height: 20px;
	line-height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	border-style: solid;
	border-radius: 4px;
	border-width: 1px;

	&.o_video_selected {
		z-index: 2;
		outline: 1px solid $brand-primary;
	}

	&.o_video_marker_lightgray {
		background-color: $o-video-color-light-gray;
		border-color: $o-video-border-color-light-gray;
		color: $o-video-color;
	}
	&.o_video_marker_yellow {
		background-color: $o-video-color-yellow;
		border-color: $o-video-border-color-yellow;
		color: $o-video-color;
	}
	&.o_video_marker_orange {
		background-color: $o-video-color-orange;
		border-color: $o-video-border-color-orange;
		color: $o-video-color;
	}
	&.o_video_marker_brown {
		background-color: $o-video-color-brown;
		border-color: $o-video-border-color-brown;
		color: $o-video-color;
	}
	&.o_video_marker_red {
		background-color: $o-video-color-red;
		border-color: $o-video-border-color-red;
		color: $o-video-color;
	}
	&.o_video_marker_orchid {
		background-color: $o-video-color-orchid;
		border-color: $o-video-border-color-orchid;
		color: $o-video-color;
	}
	&.o_video_marker_purple {
		background-color: $o-video-color-purple;
		border-color: $o-video-border-color-purple;
		color: $o-video-color;
	}
	&.o_video_marker_lightblue {
		background-color: $o-video-color-light-blue;
		border-color: $o-video-border-color-light-blue;
		color: $o-video-color;
	}
	&.o_video_marker_cobaltblue {
		background-color: $o-video-color-cobalt-blue;
		border-color: $o-video-border-color-cobalt-blue;
		color: $o-video-color;
	}
	&.o_video_marker_darkblue {
		background-color: $o-video-color-dark-blue;
		border-color: $o-video-border-color-dark-blue;
		color: $o-video-color;
	}
	&.o_video_marker_lightgreen {
		background-color: $o-video-color-light-green;
		border-color: $o-video-border-color-light-green;
		color: $o-video-color;
	}
	&.o_video_marker_seagreen {
		background-color: $o-video-color-sea-green;
		border-color: $o-video-border-color-sea-green;
		color: $o-video-color;
	}
}

.o_video_timeline_tools {
	display: flex;

	a {
		color: $text-color;
		margin-right: 3px;
	}

	.o_slider_wrapper {
		width: 100px;
	}
}

.o_video_timeline_slider {

	.o_has_value.ui-slider.ui-slider-horizontal.ui-widget-content {
		left: 10%;
		top: .66em;
		height: .2em;
		width: 80%;
		border: none;
		background: $gray;

		.ui-slider-handle {
			border-color: $gray;
			background-color: $gray;
			outline: 0;
			width: 0.8em;
			height: 0.8em;
			border-radius: 50%;
			translate: 3px;
		}
	}
}

.o_video_color_circle {
	width: 16px;
	height: 16px;
	border-style: solid;
	border-radius: 8px;
	border-width: 1px;
}

.o_video_colored_area {
	&.o_video_marker_lightgray {
		background-color: $o-video-color-light-gray;
		border-color: $o-video-border-color-light-gray;
	}
	&.o_video_marker_yellow {
		background-color: $o-video-color-yellow;
		border-color: $o-video-border-color-yellow;
	}
	&.o_video_marker_orange {
		background-color: $o-video-color-orange;
		border-color: $o-video-border-color-orange;
	}
	&.o_video_marker_brown {
		background-color: $o-video-color-brown;
		border-color: $o-video-border-color-brown;
	}
	&.o_video_marker_red {
		background-color: $o-video-color-red;
		border-color: $o-video-border-color-red;
	}
	&.o_video_marker_orchid {
		background-color: $o-video-color-orchid;
		border-color: $o-video-border-color-orchid;
	}
	&.o_video_marker_purple {
		background-color: $o-video-color-purple;
		border-color: $o-video-border-color-purple;
	}
	&.o_video_marker_lightblue {
		background-color: $o-video-color-light-blue;
		border-color: $o-video-border-color-light-blue;
	}
	&.o_video_marker_cobaltblue {
		background-color: $o-video-color-cobalt-blue;
		border-color: $o-video-border-color-cobalt-blue;
	}
	&.o_video_marker_darkblue {
		background-color: $o-video-color-dark-blue;
		border-color: $o-video-border-color-dark-blue;
	}
	&.o_video_marker_lightgreen {
		background-color: $o-video-color-light-green;
		border-color: $o-video-border-color-light-green;
	}
	&.o_video_marker_seagreen {
		background-color: $o-video-color-sea-green;
		border-color: $o-video-border-color-sea-green;
	}
}

.o_video_colored_border {
	&.o_video_marker_lightgray {
		border-color: $o-video-color-light-gray;
	}
	&.o_video_marker_yellow {
		border-color: $o-video-color-yellow;
	}
	&.o_video_marker_orange {
		border-color: $o-video-color-orange;
	}
	&.o_video_marker_brown {
		border-color: $o-video-color-brown;
	}
	&.o_video_marker_red {
		border-color: $o-video-color-red;
	}
	&.o_video_marker_orchid {
		border-color: $o-video-color-orchid;
	}
	&.o_video_marker_purple {
		border-color: $o-video-color-purple;
	}
	&.o_video_marker_lightblue {
		border-color: $o-video-color-light-blue;
	}
	&.o_video_marker_cobaltblue {
		border-color: $o-video-color-cobalt-blue;
	}
	&.o_video_marker_darkblue {
		border-color: $o-video-color-dark-blue;
	}
	&.o_video_marker_lightgreen {
		border-color: $o-video-color-light-green;
	}
	&.o_video_marker_seagreen {
		border-color: $o-video-color-sea-green;
	}
}

.o_video_me_colored_area {
	&.o_video_marker_lightgray {
		background-color: $o-video-color-light-gray;
	}
	&.o_video_marker_yellow {
		background-color: $o-video-color-yellow;
	}
	&.o_video_marker_orange {
		background-color: $o-video-color-orange;
	}
	&.o_video_marker_brown {
		background-color: $o-video-color-brown;
	}
	&.o_video_marker_red {
		background-color: $o-video-color-red;
	}
	&.o_video_marker_orchid {
		background-color: $o-video-color-orchid;
	}
	&.o_video_marker_purple {
		background-color: $o-video-color-purple;
	}
	&.o_video_marker_lightblue {
		background-color: $o-video-color-light-blue;
	}
	&.o_video_marker_cobaltblue {
		background-color: $o-video-color-cobalt-blue;
	}
	&.o_video_marker_darkblue {
		background-color: $o-video-color-dark-blue;
	}
	&.o_video_marker_lightgreen {
		background-color: $o-video-color-light-green;
	}
	&.o_video_marker_seagreen {
		background-color: $o-video-color-sea-green;
	}
}

#o_video_time_bar_label {
	height: 8px;
	padding: 0;
}

#o_video_time_bar_container {
	height: 8px;
	cursor: pointer;
}

#o_video_time_bar {
	height: 100%;
	background-color: $brand-primary;
}

#o_video_play_head {
	position: absolute;
	left: 55px;
	width: 3px;
	background-color: $brand-primary;
	cursor: pointer;
	z-index: 10;

	.o_video_play_head_marker {
		position: absolute;
		left: -4px;
		top: -8px;
		cursor: pointer;

		.o_video_play_head_marker_icon {
			color: $brand-primary;
		}
	}

	.o_video_play_head_text {
		position: absolute;
		left: -30px;
		width: 60px;
		text-align: center;
		top: -16px;
		font-size: 12px;
		font-weight: bold;
		cursor: pointer;
		user-select: none;
	}
}

.o_video_category_container {
	margin: 10px auto;
	width: 90%;
	border-spacing: 10px;
	border-collapse: separate;

	.o_color_button_placeholder {
		display: inline-block;
		width: 34px;
		height: 34px;
	}
}

.o_video_segments_layer {
	position: absolute;
}

.o_video_edit_segments {

	#o_cosegments_SELBOX select {
		border-radius: 0;
		box-shadow: red;
	}

	.o_video_segment_category {
		width: 100%;
		text-align: left;
	}
	.o_video_segment_category_icon {
		line-height: 20px;
		float: right;
	}

	.o_video_segment_category_placeholder {
		color: $input-color-placeholder;
		display: inline-block;
		padding: 16px;
	}
}

.o_video_me_segments {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	height: 20px;
}

.o_video_me_segment {
	display: inline-block;
	position: absolute;
	height: 20px;
	line-height: 22px;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	opacity: 0.9;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.o_video_comment_container {
	position: absolute;
	overflow: auto;
	display: flex;
	flex-direction: column;
	width: 38%;
	top: 0;
	bottom: 60px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.o_video_comment_header {
	text-align: right;
}

.o_video_comment_close {
	display: inline-block;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 10px;
	color: white;
}

.o_video_comment_box {
	margin-left: 10px;
	margin-right: 10px;
	padding: 16px 16px 6px 16px;
	background-color: white;
	border-width: medium;
	border-style: solid;
	border-radius: 5px;

	.o_video_run.o_block_large_bottom {
		margin-bottom: 10px;
	}

	.o_video_comment_text {
		margin-bottom: -6px;
	}
}

.o_video_comment_author_box {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 10px;
}

.o_video_comment_author_box .o_portrait img.o_video_comment_author_portrait_tiny {
	width: 18px;
	height: 18px;
}

.o_video_comment_player .mejs__overlay-button {
	transform: scale(0.4);
}

@media all and (display-mode: fullscreen) {
	.o_video_comment_player .mejs__overlay-button {
		transform: inherit;
	}

	.o_video_comment_container {
		font-size: 20px;
	}

	.o_video_comment_author_box {
		margin-bottom: 20px;

		.o_portrait img.o_video_comment_author_portrait_tiny {
			width: 32px;
			height: 32px;
		}
	}

	.o_video_comment_box {
		padding: 24px 24px 10px 24px;
		margin-left: 16px;
		margin-right: 16px;

		.o_video_run.o_block_large_bottom {
			margin-bottom: 16px;
		}
	}
}

@media (max-width: $screen-sm) {
	.o_video_comment_container {
		width: 50%;
	}
}

@media (max-width: $screen-xs) {
	.o_video_comment_container {
		width: 62%;
	}

	.o_video_comment_box {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.o_video_comment_close {
		margin-top: 4px;
		margin-bottom: 0;
	}
}

.o_video_recorder {
	width: 100%;

	.o_centered_panel {
		position: relative;
	}

	.o_av_container {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		aspect-ratio: 1.778;
		background-color: black;
	}

	#videoElement {
		position: absolute;
		width: 100%;
		aspect-ratio: 1.778;
		transform: rotateY(180deg);
	}

	#audioElement {
		position: absolute;
		width: 100%;
		height: auto;
	}

	.o_video_overlay {
		position: relative;
		float: right;
		width: 100%;
		height: 100%;
		box-sizing: border-box;

		.o_video_feed_dimensions {
			position: absolute;
			color: #fff;
			opacity: 0.9;
			font-size: 11px;
			font-weight: bold;
			height: 24px;
			padding: 1em 1em 0;
		}

		.recording-container {
			float: right;
			margin-right: 0.5em;
			margin-top: 0.5em;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 0.5em;
			border-radius: 0.25em;

			&.o_audio_visualization {
				margin-top: -195px;
			}

			.recording-circle {
				width: 1em;
				height: 1em;
				border-radius: 50%;
				margin-right: 0.25em;
				background-color: red;
				animation: ease pulse-background-color 2s infinite;
			}

			.recording-text {
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
				Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
				font-size: 0.75em;
				color: red;
				animation: ease pulse-color 2s infinite;
			}

			@keyframes pulse-color {
				0% {
					color: red;
				}
				50% {
					color: #f88;
				}
				100% {
					color: red;
				}
			}

			@keyframes pulse-background-color {
				0% {
					background-color: red;
				}
				50% {
					background-color: #f88;
				}
				100% {
					background-color: red;
				}
			}
		}
	}

	.controls {
		opacity: 0.9;
	}

	.o_commands {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 0.5em;
		min-height: 42px;

		.o_one_button_container {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;

			.o_one_button_icon {
				width: 24px;
				height: 24px;
				display: inline-block;
				position: absolute;
				margin-top: -2px;
				margin-left: -5px;
			}
		}

		.o_quality_file_size_container {
			padding-right: 5px;
		}

		.o_file_size {
			display: inline-block;
			margin-left: 0.5em;
			height: 3em;
			line-height: 3em;
			white-space: nowrap;
		}

		.o_quality_dropdown_container {
			display: inline-block;
			padding-top: 4px;
			padding-bottom: 4px;
		}

		.o_button_container {
			text-align: right;
			padding-left: 5px;
		}

		.o_button {
			display: inline-block;
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}

	.one-button {
		cursor: pointer;

		width: 3em;
		height: 3em;
	}

	.decoration {
		fill: none;
		stroke: black;
	}

	.decoration-recording {
		fill: #f99;
		stroke: black;
	}

	.strong-symbol {
		fill: #ff0000;
	}

	.strong-symbol:hover {
		fill: #ff4040;
	}

	.strong-symbol:active {
		fill: #ff6060;
	}

	.symbol {
		fill: #000000;
	}

	.symbol:hover {
		fill: #202020;
	}

	.symbol:active {
		fill: #404040;
	}

	.o_dialog {
		position: absolute;
		width: 80%;
		left: 50%;
		top: 0;
		transform: translate(-50%, -85%);
	}
}

.o_audio_canvas_wrapper {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #eee;

	.o_audio_canvas {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 200px;
	}

	#o_start_recording_info {
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 6px;
		background-color: $o_color_note-text-bg;
		color: $o_color_note;
		opacity: 0.8;
		line-height: 24px;
		padding: 10px 15px;
		transform: translate(-50%, -50%);
	}

	&.o_small {
		height: 100px;

		.o_audio_canvas {
			height: 100px;
		}
	}
}

@media (orientation: portrait) and (max-width: $screen-sm) {
	dialog:has(.o_av_wrapper) {
		min-width: 100vw;
		margin: 0;
		padding: 0;

		.modal-content {
			border: none;
			border-radius: 0;
			box-shadow: none;

			.o_av_wrapper {
				min-width: calc(100vw - 40px);
			}
		}
	}
}

@media (orientation: landscape) and (max-width: $screen-md) {
	dialog:has(.o_av_wrapper) {
		min-width: 80vw;
		min-height: calc(100vh - 2px);

		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;

		.modal-dialog {
			.modal-content {
				max-height: 100vh;

				.modal-body {
					padding-top: 0;
					padding-bottom: 0;
				}

				.o_av_wrapper {
					min-width: calc(80vw - 96px);
				}
			}
		}
	}
}