/*
 * Based on the very good Fuel UX (https://github.com/ExactTarget/fuelux/) wizard style
 */

.o_wizard {
	.o_steps {
		margin-bottom: $modal-inner-padding;
		ul {
			list-style: none outside none;
			padding: 0;
			margin: 0;
			width: 4000px;
			
			li {
				position: relative;
				float: left;
				cursor: default;
				margin: 0;
				height: 46px;
				line-height: 46px;
				
				.chevron {
					border: 24px solid transparent;
					border-left: 14px solid $o-wizard-steps-border-color;
					border-right: 0;
					display: block;
					position: absolute;
					right: -14px;
					top: 0;
					z-index: 1;
				}
				.chevron:before {
					border: 24px solid transparent;
					border-left: 14px solid $o-wizard-step-bg-color;
					border-right: 0;
					content: "";
					display: block;
					position: absolute;
					right: 1px;
					top: -24px;
				}
			}
		}
		.o_steps_main {
			border: 1px solid $o-wizard-steps-border-color;
			border-radius: 2px;
			background-color: $o-wizard-steps-bg-color;
			position: relative;
			overflow: hidden;
			
			ul {
				li {
					background: $o-wizard-step-bg-color;
					font-size: 16px;
					padding: 0 15px 0 30px;
					
					&.active {
						background: $o-wizard-step-main-active-bg-color;
						a {
							span {
								color: $o-wizard-step-main-active-color;
							}
						}
						
						.chevron:before {
							border-left: 14px solid $o-wizard-step-main-active-bg-color;
						}
					}
					.badge {
						margin-right: 8px;
					}
				}
				li:first-child {
					border-radius: 4px 0 0 4px;
					padding-left: 20px;
				}
			}
		}
		.o_steps_sub {
			counter-reset: sub-step-counter;
			ul {
				li {
					font-size: 14px;
					padding: 0 15px 0 15px;
					border-bottom: 1px solid $o-wizard-steps-border-color;
				
					&.active {
						border-bottom: 2px solid $o-wizard-step-sub-activ-bottom-color;
						a {
							span {
								color: $o-wizard-step-sub-active-color;
							}
						}
					}
					span::before {
						content: counter(sub-step-counter) ". ";
						counter-increment: sub-step-counter;
					}
				}
			}
		}
	}
}
