/*
	The square style can be added to the light theme to remove any round borders
	from the light theme.
	
	To use this style, include both square_config and square_theme.
	Config must be loaded before the light theme. Theme must be loaded after.
	See the theme boilerplate for an example.
*/

/* bootstrap theme overrides */
.carousel-indicators {
  li {
    border-radius: 0px;
  }
}

.label {
  border-radius: 0px;
}

.navbar-toggle {
  .icon-bar {
    border-radius: 0px;
  }
}

/* buttons */
.btn {
	&:active,
	&.active {
		box-shadow: none;
	}	
}


/* light theme overrides */
a.o_dev { 
	border-radius: 0px;
}

.o_button_toggle {
	border-radius: 0px;
}

.o_navbar-toggle {
  	.icon-bar {
		border-radius: 0px;
  	}
}

.o_eportfolio_maps {
	h4 {
		border-radius: 0px;
	}
}

.o_eportfolio_map {
	border-radius: 0px;
}

.o_eportfolio_map ul.nav-tabs li:not(.active) a {
	border-radius: 0px;
}

.o_eportfolio_edit {
	border-radius: 0px;
}

wizard {
	border-radius: 0px;
	ul {
		li:first-child {
			border-radius: 0px;
		}
	}
}

/* Change the round icon used for the toggle button to square one */
.o_icon_toggle:before { content: $fa-var-stop; }
.o_button_toggle {
	padding-left: 2px;
	i {
		line-height: $o-toggle-size + 1px;
	}
	span {
		line-height: $o-toggle-size + 1px;
	}
	&.o_on {
		padding-right: 2px;
	}
}

/* fullcalendar */

/* 
 * fullcalendar bootstrapify
 */
.fc-button {
	box-shadow: none;
	border-radius: 0px;
	
	&.fc-state-default {
		background-image: none;
	}
	&.fc-state-active {
	}
	&.fc-corner-left, &.fc-corner-right {
		border-radius: 0px;
	}
}

.fc-ltr .fc-event-hori.fc-event-start, .fc-ltr .fc-event-hori.fc-event-end {
	border-radius: 0px;
}

/* contact tracing */
.o_ct_confirmation_wrapper {
	border-radius: 0;
}
