<div class="o_eportfolio_changelog">
	## display subscription component
	#if ($r.available("subscription"))
		<div class="pull-right">
			$r.render("subscription")
		</div>
	#end
	
	<h4>$r.translate('changelog')</h4>
	<div class="o_notifications_news_datechooser o_block_large row">
		<div class="col-xs-12 col-sm-6">
			<fieldset class="o_form form-horizontal" role="form">
				<div class="form-group">
					<div class="col-sm-3">$r.render("dateChooser_LABEL")</div>
					<div class="col-sm-9">$r.render("dateChooser")</div>
				</div>
			</fieldset>
		</div>
	</div>
	
	## loop over subscriptionListItems and display them
	## display the date if it changes... ("groups" the items) 
	<ul class="list-unstyled">
	#set($preDate = "") 
	#foreach($listElement in $subscriptionItems)
		#set( $date = $listElement.getDateString() )
		#set( $linkName = $listElement.getLinkName() )
		#set( $cssClass = $listElement.getCssClass() )
		#if( $date != $preDate)
			#set($preDate = $date)
			<li><h5>$date</h5></li> 
		#end
		<li><i class="o_icon o_icon-fw $cssClass"> </i> $r.render($linkName)</li>
	#end
	</ul>
</div>



