<div class="o_portfolio_toc">
	<div class="pull-right">$r.render("artOnOffLink")</div>
	<h4>$r.translate("toc.root")</h4>
	#if ($tocList)
	<ul class="list-unstyled">
		#foreach($tocElement in $tocList)
			<li class="level$tocElement.getLevel() type_$tocElement.getType()">
			#set($titleLink = $tocElement.getTitleLink().getComponentName())
			#set($iconLink = $tocElement.getIconLink().getComponentName())
			#set($commentLink = $tocElement.getCommentLinkComponentName())
			
			$r.render($titleLink)
			#if ($r.available($iconLink)) 
				<span class="o_ep_link">$r.render($iconLink)</span>
			#end
			#if ($r.available($commentLink)) 
				<span class="o_ep_commentlink">$r.render($commentLink)</span>
			#end
			</li>
		#end
	</ul>
	#end
	#if($r.available("commentCtrl"))
		<div class="clearfix">
			$r.render("commentCtrl")
		</div>
	#end
</div>