<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="SeleniumTesting72x" verbose="1" >

  <test name="fragilePackage" junit="true">
    <classes>
      <class name="org.olat.test.functional.portfolio.CreateFillAndShareMapTest" />
      <class name="org.olat.test.functional.codepoints.cluster.CopyCourseTest" />
      <class name="org.olat.test.functional.course.run.EditInfoMessageTest" />
      <class name="org.olat.test.functional.course.run.UploadFilesInCourseTest" />      
    </classes>
  </test>

  <test name="loadPackage" junit="true">
    <classes>
      <class name="org.olat.test.load.LoginLoadTest" />
      <class name="org.olat.test.load.MultiBrowserClusterEnrolmentLoadManualtest" />
      <class name="org.olat.test.load.OpenAllCoursesOnFirstPageTest" />
      <class name="org.olat.test.load.OpenAllCoursesTest" />
    </classes>
  </test>

  <test name="Nopackage" junit="true">
    <classes>
      <class name="org.olat.test.functional.courseeditor.courseEditor_concurrenciesEditTest" />
      <class name="org.olat.test.functional.courseeditor.CourseEditor_EditCoursePreviewRunTest" />
      <class name="org.olat.test.functional.courseeditor.CourseEditor_concurrencyEditAndExportTest" />
      <class name="org.olat.test.functional.courseeditor.CoursePublishInvalidateClusterTest" />
      <class name="org.olat.test.functional.courseeditor.CreateBlogTest" />
      <class name="org.olat.test.functional.courseeditor.courseEditor_insertElementsAMTest" />
      <class name="org.olat.test.functional.courseeditor.CreatePodcastTest" />
      <class name="org.olat.test.functional.courseeditor.CoursePublishInvalidateSingleVMTest" />
      <class name="org.olat.test.functional.courseeditor.OpenEditSessionTest" />
      <class name="org.olat.test.functional.courseeditor.CourseRenameTest" />
      <class name="org.olat.test.functional.courseeditor.MoveDeleteElementsTest" />
      <class name="org.olat.test.functional.courseeditor.DeletePublishIncompleteElementsTest" />
      <class name="org.olat.test.functional.courseeditor.EnrolmentCreateGroupsWithCSVTest" />
      <class name="org.olat.test.functional.courseeditor.courseEditor_consistencyPublishTest" />
      <class name="org.olat.test.functional.usermanagement.ImportUserTest" />
      <class name="org.olat.test.functional.usermanagement.UserSettingsTest" />
      <class name="org.olat.test.functional.usermanagement.UserRolesTest" />
      <class name="org.olat.test.functional.usermanagement.DeleteUserTest" />
      <class name="org.olat.test.functional.groups.GroupConcurrenciesTest" />
      <class name="org.olat.test.functional.groups.CreateProjectGroupAddUsersTest" />
      <class name="org.olat.test.functional.groups.CreateProjectGroupTest" />
      <class name="org.olat.test.functional.groups.CreateProjectGroupConfigureToolsTest" />
      <class name="org.olat.test.functional.lr.TestBlogAndPodcastLinks" />
      <class name="org.olat.test.functional.lr.lr_createCourseAMTest" />
      <class name="org.olat.test.functional.lr.lr_createCourseTest" />
      <class name="org.olat.test.functional.lr.lr_createTestTest" />
      <class name="org.olat.test.functional.lr.lr_createResourcefolderTest" />
      <class name="org.olat.test.functional.lr.lr_createQuestionnaireTest" />
      <class name="org.olat.test.functional.lr.lr_createGlossaryTest" />
      <class name="org.olat.test.functional.lr.DeleteAllCoursesTest" />
      <class name="org.olat.test.functional.lr.lr_createWikiTest" />
      <class name="org.olat.test.functional.lr.CPTest" />
      <class name="org.olat.test.functional.lr.ClusterWikiTest" />
      <class name="org.olat.test.functional.lr.lr_RemoveOwnerTest" />
      <class name="org.olat.test.functional.lr.lr_concurrenciesDelete" />
      <class name="org.olat.test.functional.home.FolderTest" />
      <class name="org.olat.test.functional.home.HomeSettingsTest" />
      <class name="org.olat.test.functional.administration.InfoMessageClusterTest" />
      <class name="org.olat.test.functional.administration.ASetupFNTestCase" />
      <class name="org.olat.test.functional.test.CombiQuestionnaireTest" />
      <class name="org.olat.test.functional.test.TestEditorCombiTest" />
      <class name="org.olat.test.functional.test.CheckTestAttempts" />
      <class name="org.olat.test.functional.codepoints.cluster.CourseEditingTest" /> 
      <class name="org.olat.test.functional.codepoints.cluster.NewLearningGroupTest" />
      <class name="org.olat.test.functional.codepoints.cluster.ConcurrentEnrolmentWithCheckpointsTest" />
      <class name="org.olat.test.functional.codepoints.cluster.ClusteredCourseExportTest" />
      <class name="org.olat.test.functional.codepoints.cluster.OpenNewFoTopicTest" />
      <class name="org.olat.test.functional.codepoints.cluster.Open2NewFoTopicsTest" />
      <class name="org.olat.test.functional.codepoints.cluster.AssessmentWithCodepointsTest" />
      <class name="org.olat.test.functional.portfolio.CollectOrCreateArtefactTest" />
      <class name="org.olat.test.functional.group.management.ConcurrentEnrolmentTest" />
      <class name="org.olat.test.functional.group.management.GroupManagementCombiTest" />
      <class name="org.olat.test.functional.group.management.EnrolmentWaitinglistTest" />
      <class name="org.olat.test.functional.group.management.ConcurrentVisibilityTest" />
      <class name="org.olat.test.functional.group.management.EnrollmentWithSizeLimitationTest" />
      <class name="org.olat.test.functional.course.CopyCourseTest2" />
      <class name="org.olat.test.functional.course.CourseCloseTest" />
      <class name="org.olat.test.functional.course.run.AccessVisibilityTest" />
      <class name="org.olat.test.functional.course.run.EditAndConfigurePodcastTest" />
      <class name="org.olat.test.functional.course.run.ConcurrentForumRepliesTest" />
      <class name="org.olat.test.functional.course.run.UseLTITest" />
      <class name="org.olat.test.functional.course.run.EditAndConfigureBlogTest" />
      <class name="org.olat.test.functional.course.run.AssessmentToolRemoveTutorTest" />
      <class name="org.olat.test.functional.course.run.ConcurrentEditCourseNodeTest" />
      <class name="org.olat.test.functional.course.run.CourseImportWithAllBBTest" />
      <class name="org.olat.test.functional.course.assessment.AssessmentFormTest" />
      <class name="org.olat.test.functional.course.assessment.BulkAssessmentTest" />
      <class name="org.olat.test.functional.course.assessment.AssessmentTest" />
      <class name="org.olat.test.functional.course.assessment.GroupDependentAssessmentTest" />
      <class name="org.olat.test.functional.course.assessment.AssessmentElementTest" />
      <class name="org.olat.test.functional.course.CourseWizardVisibiltyTest" />
      <class name="org.olat.test.functional.course.topic.TopicAssignmentSuite" />
    </classes>
  </test>
</suite>

<!-- TODO KI      <class name="org.olat.test.functional.lr.CreateLearningRessourcesTest" /> -->
<!-- from suite CombiQuestionnaireTest    <class name="org.olat.test.functional.test.CreateQuestionnaireWithAllQuestionTypes" /> -->
<!-- from suite TestEditorCombiTest    <class name="org.olat.test.functional.test.CreateTstInEditor" /> -->
<!-- from suite TestEditorCombiTest    <class name="org.olat.test.functional.test.TstRun" /> -->
<!-- from suite CombiQuestionnaireTest     <class name="org.olat.test.functional.test.IntegrateQuestionnaireAndCheckAttempts" /> -->
<!-- from suite TestEditorCombiTest     <class name="org.olat.test.functional.test.IntegrateTstInCourse" /> -->
<!-- from suite TestEditorCombiTest      <class name="org.olat.test.functional.test.ChangeTstInEditor" /> -->
<!--      <class name="org.olat.test.functional.codepoints.cluster.MultiBrowserClusterNewLearningAreaTstDisabled3440" /> -->
<!--      <class name="org.olat.test.functional.codepoints.cluster.MultiBrowserClusterDeleteProjectGroupTstDISABLED3654" /> -->
<!--      <class name="org.olat.test.functional.codepoints.cluster.CourseGroupChatClusterTest" /> -->
<!-- from suite GroupManagementCombiTest      <class name="org.olat.test.functional.group.management.ConfigureToolsLearningGroup" /> -->
<!-- from suite GroupManagementCombiTest      <class name="org.olat.test.functional.group.management.EnrolmentLearningGroup" /> -->
<!-- from suite GroupManagementCombiTest      <class name="org.olat.test.functional.group.management.CreateLearningGroupLearningArea" /> -->
<!--      <class name="org.olat.test.functional.group.management.MultiBrowserClusterUpdateLearningAreaTstDisabled3444" /> -->
<!--      <class name="org.olat.test.functional.group.management.CollaborationToolsTest" /> only one test which needs chat -->
<!--      <class name="org.olat.test.functional.course.chat.CourseGroupChatAndPollingTest" /> -->
<!--      <class name="org.olat.test.functional.course.chat.ChatTest" /> -->
<!-- from suite TopicAssignmentSuite      <class name="org.olat.test.functional.course.topic.CreateAndConfigureTopicAssignmentTest" /> -->
<!-- from suite TopicAssignmentSuite      <class name="org.olat.test.functional.course.topic.CreateTopicInTopicAssignmentTest" /> -->
<!-- from suite TopicAssignmentSuite      <class name="org.olat.test.functional.course.topic.UploadInTopicsTest" /> -->
<!-- from suite TopicAssignmentSuite      <class name="org.olat.test.functional.course.topic.SelectTopicsAndAcceptCandidatesTest" /> -->
<!--      <class name="org.olat.test.functional.search.MultiUserSearchTest" /> -->


<!--

 find org/olat/test/functional/ -name "*.java" | awk 'BEGIN{FS=".";}{gsub(/\//,".");gsub(".java","");print "<class name=\"" $0 "\" />";}'

              <excludes>
                <exclude>**/lr_concurrenciesDelete.java</exclude>
              </excludes>
-->
