<map>
  <entry>
    <string>link</string>
    <map>
      <entry>
        <string>backgroundColor</string>
        <string></string>
      </entry>
      <entry>
        <string>size</string>
        <string></string>
      </entry>
      <entry>
        <string>color</string>
        <string></string>
      </entry>
      <entry>
        <string>font</string>
        <string></string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>toolbox</string>
    <map>
      <entry>
        <string>backgroundColor</string>
        <string>MediumBlue</string>
      </entry>
      <entry>
        <string>size</string>
        <string>x-small</string>
      </entry>
      <entry>
        <string>color</string>
        <string>DarkBlue</string>
      </entry>
      <entry>
        <string>font</string>
        <string>arial black,avant garde</string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>header</string>
    <map>
      <entry>
        <string>backgroundColor</string>
        <string></string>
      </entry>
      <entry>
        <string>size</string>
        <string></string>
      </entry>
      <entry>
        <string>color</string>
        <string></string>
      </entry>
      <entry>
        <string>font</string>
        <string></string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>text</string>
    <map>
      <entry>
        <string>backgroundColor</string>
        <string>Navy</string>
      </entry>
      <entry>
        <string>size</string>
        <string>x-small</string>
      </entry>
      <entry>
        <string>color</string>
        <string>Black</string>
      </entry>
      <entry>
        <string>font</string>
        <string>arial,helvetica,sans-serif</string>
      </entry>
    </map>
  </entry>
  <entry>
    <string>menu</string>
    <map>
      <entry>
        <string>backgroundColor</string>
        <string></string>
      </entry>
      <entry>
        <string>size</string>
        <string></string>
      </entry>
      <entry>
        <string>color</string>
        <string></string>
      </entry>
      <entry>
        <string>font</string>
        <string></string>
      </entry>
    </map>
  </entry>
</map>