#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($containerId = "qtiworks_id_container_" + $responseIdentifier)
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))
#set($choices = $r.getVisibleAssociableChoices($interaction))

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<div class="$localName">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end
	
	#if($r.isInvalidResponse($interaction.responseIdentifier))
	<div class="o_error badResponse">$r.translate("error.as.directed")</div>
	#end
	<div id="${containerId}">
		<div id="${containerId}_items" class="o_associate_items clearfix" style="padding:15px;">
        	#foreach($choice in $choices)
            	<div data-qti-id="${choice.identifier}" data-qti-match-max="${choice.matchMax}" class="o_associate_item" style="width: 100px; float:left;">
              		$r.renderFlowStatics($choice.getFlowStatics())
            	</div>
			#end
		</div>
		<div id="${containerId}_panel" style="max-width:500px;">
			#set($maxChoices = $r.maxToList($interaction.maxAssociations))
			#if($r.isNotEmpty($maxChoices))
				#foreach($maxChoice in $maxChoices)
	              	<div class="association" style="">
						<div class="association_box left" style="width: 100px; height:50px; float:left;"></div>
						<div class="association_box right" style="width: 100px; height:50px; float:right;"></div>
						<div style="clear:both; "></div>
					</div>
	            #end
            #else
            	<div class="association" style="">
					<div class="association_box left" style="width: 100px; height:50px; float:left;"></div>
					<div class="association_box right" style="width: 100px; height:50px; float:right;"></div>
					<div style="clear:both; "></div>
				</div>
            #end
			<div style="clear:both; "></div>
		</div>
		
		<script>
		jQuery(function() {
			jQuery('#${containerId}').associateInteraction({
				responseIdentifier: '$responseIdentifier',
				formDispatchFieldId: '$r.formDispatchFieldId',
				responseValue: '$r.toString($responseValue,",")',
				opened: $isItemSessionOpen,
				unrestricted: #if($r.isNotEmpty($maxChoices)) false #else true #end
			});
		});
		</script>
	</div>
</div>

