#set($responseIdentifier = $r.responseUniqueId($interaction))
<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<div id="qti_container_${responseIdentifier}" class="choiceInteraction $r.renderClassAttr($interaction)">
#if($r.isInvalidResponse($interaction.responseIdentifier))
	<div class="badResponse">
	#if($interaction.minChoices == $interaction.maxChoices && $interaction.minChoices > 0)
		#if($interaction.minChoices == 1)
			$r.translate("error.input.choice.minax.one")
		#else
			$r.translate("error.input.choice.minax", $interaction.minChoices)
		#end
	#elseif($interaction.minChoices > 0 && $interaction.maxChoices > 0)
		$r.translate("error.input.choice.min.max", $interaction.minChoices, $interaction.maxChoices)
	#elseif($interaction.minChoices > 0)
		$r.translate("error.input.choice.min", $interaction.minChoices)
	#elseif($interaction.maxChoices > 0)
		$r.translate("error.input.choice.max", $interaction.maxChoices)
	#end
	</div>
#end

#set($visibleOrderedChoices = $r.getVisibleOrderedSimpleChoices($interaction))
#if($r.getOrientation($interaction.orientation) == "horizontal")
	#if($r.isNotNull($interaction.getPrompt()))
		<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end

	#foreach($simpleChoice in $visibleOrderedChoices)
	<div class="form-group o_qti_item_choice_option_flow">
		<div #if($r.isSingleChoice($interaction)) class="radio" #else class="check" #end ><label for="oo_$r.toString($simpleChoice.identifier)">
		#if($r.classContains($interaction,"choiceright"))
	 		<span>$r.renderFlowStatics($simpleChoice.getFlowStatics())</span></label>
		#end
			<input id="oo_$r.toString($simpleChoice.identifier)" name="qtiworks_response_${responseIdentifier}" value="$r.toString($simpleChoice.identifier)" #if($r.isSingleChoice($interaction)) type="radio" #else type="checkbox" #end #if($r.isItemSessionEnded()) disabled #end #if($r.valueContains($r.getResponseValue($interaction.responseIdentifier), $simpleChoice.identifier)) checked #end /><i> </i>
			$r.appendFlexiFormDirtyForCheckbox("oo_$r.toString($simpleChoice.identifier)")
	 	#if(!$r.classContains($interaction,"choiceright"))
	 		<span>$r.renderFlowStatics($simpleChoice.getFlowStatics())</span></label>
	 	#end
	 	</div>
	 </div>
	#end
#else	
	<table>
		#if($interaction.getPrompt())
         <tr class="prompt">
           <td colspan="2">$r.renderPrompt($interaction.getPrompt())</td>
         </tr>
		#end
		#if($interaction.getLabel() && !$interaction.getLabel().isEmpty())
		<tr class="choiceInteractionLabelRow">
			<td class="leftTextLabel">
				$r.subStringBefore($interaction.getLabel(),"|")
			</td>
			<td class="rightTextLabel">
				$r.subStringAfter($interaction.getLabel(),"|")
			</td>
		</tr>
		#end
		
		#foreach($simpleChoice in $visibleOrderedChoices)
			<tr class="choiceinteraction">
				#if($r.classContains($interaction,"choiceright"))
					<td class="choiceInteraction"><label for="oo_$r.toString($simpleChoice.identifier)">$r.renderFlowStatics($simpleChoice.getFlowStatics())</label></td>
				#end
				<td class="control">
					<input id="oo_$r.toString($simpleChoice.identifier)" name="qtiworks_response_${responseIdentifier}" value="$r.toString($simpleChoice.identifier)" #if($r.isSingleChoice($interaction)) type="radio" #else type="checkbox" #end #if($r.isItemSessionEnded()) disabled #end #if($r.valueContains($r.getResponseValue($interaction.responseIdentifier), $simpleChoice.identifier)) checked #end /><i> </i>
					$r.appendFlexiFormDirtyForCheckbox("oo_$r.toString($simpleChoice.identifier)")
					$r.renderScorePerChoice($interaction, $simpleChoice)
				</td>
				#if(!$r.classContains($interaction,"choiceright"))
					<td class="choiceInteraction"><label for="oo_$r.toString($simpleChoice.identifier)">$r.renderFlowStatics($simpleChoice.getFlowStatics())</label></td>
				#end
			</tr>
		#end
	</table>
#end
</div>
#if(!$r.isSingleChoice($interaction) && $r.isItemSessionOpen())
<script>
	jQuery(function() {
		jQuery('#qti_container_${responseIdentifier}').choiceInteraction({
			responseIdentifier: '$responseIdentifier',
			formDispatchFieldId: '$r.formDispatchFieldId',
			maxChoices: $interaction.maxChoices
		});
	});
</script>
#end