#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($containerId = "qtiworks_id_container_" + $responseIdentifier)
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))
#set($hotspotChoices = $r.getVisibleHotspotChoices($interaction))

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<div class="$localName">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end
	
	#if($r.isInvalidResponse($interaction.responseIdentifier))
	<div class="o_error badResponse">$r.translate("error.as.directed")</div>
	#end

	<div id="${containerId}_container" style="width:${interaction.object.width}px; height:${interaction.object.height}px; position:relative; background-image: url('${r.convertLinkFull($interaction.object.data)}') " data-openolat="">
		<canvas id="${containerId}_canvas_alt" width="${interaction.object.width}" height="${interaction.object.height}" style="position:absolute; top:0;left:0; opacity:1;"></canvas>
		<canvas id="${containerId}_canvas" width="${interaction.object.width}" height="${interaction.object.height}" style="position:absolute; top:0;left:0; "></canvas>
		<img id="${containerId}" width="${interaction.object.width}" height="${interaction.object.height}" src="${r.convertLinkFull($interaction.object.data)}" usemap="#${containerId}_map" style="position:absolute; top:0; left:0; opacity:0;" />
		<map name="${containerId}_map">
		#foreach($hotspotChoice in $hotspotChoices) 
			<area id="ac_${responseIdentifier}_${hotspotChoice.identifier}" data-qti-id="${hotspotChoice.identifier}" shape="${hotspotChoice.getShape().name().toLowerCase()}" coords="${r.coordsToString($hotspotChoice.coords)}" href="javascript:;" ></area>
			$r.appendFlexiFormDirtyForClick("ac_${responseIdentifier}_${hotspotChoice.identifier}")
		#end
		</map>
		<script>
		jQuery(function() {
			jQuery('#${containerId}').graphicOrderInteraction({
				responseIdentifier: '$responseIdentifier',
				formDispatchFieldId: '$r.formDispatchFieldId',
				responseValue: '$r.toString($responseValue,",")',
				maxChoices: $hotspotChoices.size(),
				opened: $isItemSessionOpen
			});
		});
		</script>
 	</div>
 </div>
 
