#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($qtiContainerId = "oc_" + $responseIdentifier)
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))
#set($isResponsive = $r.hasCssClass($interaction, "interaction-responsive"))
#set($singleChoice = $r.isSingleChoice($interaction))

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<div class="$localName">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end

	#if($r.isInvalidResponse($interaction.responseIdentifier))
	<div class="o_error badResponse">$r.translate("error.as.directed")</div>
	#end
	
	<div id="${qtiContainerId}" class="o_oo_hotcontainer" #if($r.isFalse($isResponsive)) style="width:${interaction.object.width}px; height:${interaction.object.height}px" #end>
		<img id="${qtiContainerId}_img" alt="" #if($r.isTrue($isResponsive)) class="o_hotspot_responsive" #else width="${interaction.object.width}" height="${interaction.object.height}" #end src="${r.convertLinkFull($interaction.object.data)}" usemap="#${qtiContainerId}_map">
		<map name="${qtiContainerId}_map">
		#foreach($hotspotChoice in $interaction.getHotspotChoices())
            <!-- Match group, label -->
          	<area id="ac_${responseIdentifier}_${hotspotChoice.identifier}" alt="" data-qti-id="${hotspotChoice.identifier}" data-annotation="$r.renderScoreValuePerChoice($interaction,$hotspotChoice)" shape="${r.shapeToString($hotspotChoice.shape)}" coords="$r.coordsToString($hotspotChoice.coords)" href="javascript:;" data-maphilight=''>
			$r.appendFlexiFormDirtyForClick("ac_${responseIdentifier}_$hotspotChoice.identifier")
		#end
		</map>
	</div>
	<script>
	var maphilightSettings;
	#if($r.hasCssClass($interaction, "hotspot-light"))
	maphilightSettings = {
		fillColor: 'dddddd',
		fillOpacity: 0,
		strokeColor: '7E7E7E',
		strokeOpacity: 1.0,
		
		selectedFillColor: '337ab7',
		selectedFillOpacity: 0.05,
		selectedStrokeColor: '337ab7',
		selectedStrokeOpacity: 1.0
	};
	#elseif($r.hasCssClass($interaction, "hotspot-inverted"))
		maphilightSettings = {
			fillColor: '6E6E6E',//'bbbbbb',
			fillOpacity: 0.5,// 0.5,
			strokeColor: '3E3E3E', //'666666',
			strokeOpacity: 1.0,//0.8,
			
			selectedFillColor: 'DEDEDE',
			selectedFillOpacity: 0.2,
			selectedStrokeColor: 'CECECE',
			selectedStrokeOpacity: 1
		};
	#elseif($r.hasCssClass($interaction, "hotspot-green"))
	maphilightSettings = {
		fillColor: '8E8E8E',
		fillOpacity: 0.25,
		strokeColor: 'CECECE',//'fd98c9',
		strokeOpacity: 0.8,
		
		selectedFillColor: '86c351',
		selectedFillOpacity: 0.5,
		selectedStrokeColor: '518b33',
		selectedStrokeOpacity: 1.0
	};
	#elseif($r.hasCssClass($interaction, "hotspot-purple"))
		maphilightSettings = {
			fillColor: '8E8E8E',
			fillOpacity: 0.33,
			strokeColor: 'CECECE',//'fd98c9',
			strokeOpacity: 1.0,
			
			selectedFillColor: 'eaa8ff',
			selectedFillOpacity: 0.5,
			selectedStrokeColor: 'ab47cb',
			selectedStrokeOpacity: 1.0
		};
	#else
		maphilightSettings = {
			fillColor: 'bbbbbb',
			fillOpacity: 0.5,
			strokeColor: '6E6E6E',
			strokeOpacity: 1.0,
			
			selectedFillColor: '0000ff',
			selectedFillOpacity: 0.5,
			selectedStrokeColor: '0000ff',
			selectedStrokeOpacity: 1.0
		};
	#end
	
	#if($r.hasCssClass($interaction, "hotspot-noshadow"))
		maphilightSettings.selectedShadow = false;
	#else
		maphilightSettings.selectedShadow = true;
	#end

	jQuery(function() {
		maphilightSettings.strokeWidth = 2;
		maphilightSettings.alwaysOn = true;
		
		#if($r.isTrue($isResponsive))
			//rwdImageMaps make maphilight onload
			jQuery('#${qtiContainerId}_img').rwdImageMaps(maphilightSettings);
		#else
			jQuery('#${qtiContainerId}_img').maphilight(maphilightSettings);
		#end

		jQuery('#${qtiContainerId}').hotspotInteraction({
			responseIdentifier: '$responseIdentifier',
			formDispatchFieldId: '$r.formDispatchFieldId',
			maxChoices: $interaction.maxChoices,
			singleChoice: $singleChoice,
			responseValue: '$r.toString($responseValue,",")',
			opened: $isItemSessionOpen,
			maphilightSettings: maphilightSettings
		});
	});
	</script>
</div>