#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($choices = $r.getVisibleOrderedChoices($interaction))
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<span class="$localName#if($r.isTrue($isOffline)) o_qti_offline#end"> 
	#if($r.isInvalidResponse($interaction.responseIdentifier))
	<span class="o_error badResponse">$r.translate("error.choice")</span>
	#end
    #if($r.isTrue($isOffline))
    	#foreach($choice in $choices)
        	<input name="o_dummy_${responseIdentifier}" value="${choice.identifier}" type="radio" #if($r.isItemSessionEnded()) disabled #end #if($r.valueContains($responseValue,$choice.identifier)) checked #end><i></i>
        	$r.renderTextOrVariables($choice.getTextOrVariables())
        #end
    #else
	<select id="oo_${responseIdentifier}" name="qtiworks_response_${responseIdentifier}">
        <option value="" #if($r.isItemSessionEnded()) disabled #end>$r.translate("select.inline.choice")</option>
        #foreach($choice in $choices)
        	<option value="${choice.identifier}" #if($r.isItemSessionEnded()) disabled #end #if($r.valueContains($responseValue,$choice.identifier)) selected #end>
        	$r.renderTextOrVariables($choice.getTextOrVariables())
        	</option>
        #end
	</select>
	$r.appendFlexiFormDirty("oo_${responseIdentifier}")
	#end
</span>
