#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($orderedSet1 = $r.getVisibleOrderedChoices($interaction,0))
#set($orderedSet2 = $r.getVisibleOrderedChoices($interaction,1))

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<div class="$localName">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end
	
	#if($r.isInvalidResponse($interaction.responseIdentifier))
	<div class="o_error badResponse">$r.translate("error.as.directed")</div>
	#end
	<table id="qti_container_${responseIdentifier}" class="table">
		<thead>
			<tr>
				<td></td>
            	#foreach($choice2 in $orderedSet2)
            		#set($set2Identifier = $r.toString($choice2.identifier))
					<th id="${set2Identifier}" scope="col">$r.renderFlowStatics($choice2.getFlowStatics())</th>
				#end
			</tr>
        </thead>
		<tbody>
		#foreach($choice1 in $orderedSet1)
			#set($set1Identifier = $r.toString($choice1.identifier))
            <tr>
				<th id="${set1Identifier}" scope="row">$r.renderFlowStatics($choice1.getFlowStatics())</th>
				#foreach($choice2 in $orderedSet2)
					#set($set2Identifier = $r.toString($choice2.identifier))
					#set($responseValue = $set1Identifier + " " + $set2Identifier)
					#set($responseChecked = $r.getResponseValue($interaction.responseIdentifier))
                	<td class="control">
                  		<input id="oo_${set1Identifier}_${set2Identifier}" aria-labelledby="${set1Identifier} ${set2Identifier}" type="checkbox" name="qtiworks_response_${responseIdentifier}" value="${responseValue}" #if($r.valueContains($responseChecked,$responseValue)) checked #end #if($r.isItemSessionEnded()) disabled #end/><i> </i>
                		$r.appendFlexiFormDirtyForCheckbox("oo_${set1Identifier}_${set2Identifier}")
                		$r.renderDirectedScoreAttribute($interaction, $choice1.identifier, $choice2.identifier)
                	</td>
				#end
            </tr>
		#end
		</tbody>
	</table>
	#if($r.isItemSessionOpen())
        <script>
		jQuery(function() {
			jQuery('#qti_container_${responseIdentifier}').matchInteraction({
				responseIdentifier: '$responseIdentifier',
				formDispatchFieldId: '$r.formDispatchFieldId',
				maxAssociations: $interaction.maxAssociations,
				leftData: {#foreach($choice1 in $orderedSet1) #if($foreach.count > 1),#end $choice1.identifier:$choice1.matchMax #end},
				rightData: {#foreach($choice2 in $orderedSet2) #if($foreach.count > 1),#end $choice2.identifier:$choice2.matchMax #end}
			});
		});
        </script>
	#end
</div>
