#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))
#set($orderedSet1 = $r.getVisibleOrderedChoices($interaction,0))
#set($orderedSet2 = $r.getVisibleOrderedChoices($interaction,1))

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<div class="$localName">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end
	
	#if($r.isInvalidResponse($interaction.responseIdentifier))
	<div class="o_error badResponse">$r.translate("error.as.directed")</div>
	#end

	<div id="qti_container_${responseIdentifier}" class="clearfix">
		#if($r.hasCssClass($interaction, "source-top"))
		
			<ul class="list-unstyled o_match_dnd_sources source-top clearfix">
			#foreach($choice in $orderedSet1)
				#set($choiceIdentifier = $r.toString($choice.identifier))
				<li class="o_match_dnd_source" data-qti-id="${choiceIdentifier}" data-qti-match-max="${choice.matchMax}" data-qti-scores="$r.renderDirectedScoreAttribute($interaction,$choice.identifier)">$r.renderFlowStatics($choice.getFlowStatics())</li>
			#end
			</ul>
			<ul class="list-unstyled o_match_dnd_targets target-bottom clearfix">
			#foreach($choice in $orderedSet2)
				#set($choiceIdentifier = $r.toString($choice.identifier))
				<li class="o_match_dnd_target" data-qti-match-max="${choice.matchMax}">
					<div class="clearfix">$r.renderFlowStatics($choice.getFlowStatics())</div>
					<ul class="o_match_dnd_target_drop_zone list-unstyled clearfix" data-qti-id="${choiceIdentifier}" data-qti-match-max="${choice.matchMax}"></ul>
				</li>
			#end
			</ul>
		#elseif($r.hasCssClass($interaction, "source-right"))
		
			<ul class="list-unstyled o_match_dnd_targets target-right">
			#foreach($choice in $orderedSet2)
				#set($choiceIdentifier = $r.toString($choice.identifier))
				<li class="o_match_dnd_target" data-qti-match-max="${choice.matchMax}">
					<div class="clearfix">$r.renderFlowStatics($choice.getFlowStatics())</div>
					<ul class="o_match_dnd_target_drop_zone list-unstyled" data-qti-id="${choiceIdentifier}" data-qti-match-max="${choice.matchMax}"></ul>
				</li>
			#end
			</ul>
			<ul class="list-unstyled o_match_dnd_sources source-left">
			#foreach($choice in $orderedSet1)
				#set($choiceIdentifier = $r.toString($choice.identifier))
				<li class="o_match_dnd_source" data-qti-id="${choiceIdentifier}" data-qti-match-max="${choice.matchMax}" data-qti-scores="$r.renderDirectedScoreAttribute($interaction,$choice.identifier)">$r.renderFlowStatics($choice.getFlowStatics())</li>
			#end
			</ul>
		#elseif($r.hasCssClass($interaction, "source-bottom"))
		
			<ul class="list-unstyled o_match_dnd_targets target-top clearfix">
			#foreach($choice in $orderedSet2)
				#set($choiceIdentifier = $r.toString($choice.identifier))
				<li class="o_match_dnd_target" data-qti-match-max="${choice.matchMax}">
						<div class="clearfix">$r.renderFlowStatics($choice.getFlowStatics())</div>
					<ul class="o_match_dnd_target_drop_zone list-unstyled clearfix" data-qti-id="${choiceIdentifier}" data-qti-match-max="${choice.matchMax}"></ul>
				</li>
			#end
			</ul>
			<ul class="list-unstyled o_match_dnd_sources source-bottom clearfix">
			#foreach($choice in $orderedSet1)
				#set($choiceIdentifier = $r.toString($choice.identifier))
				<li class="o_match_dnd_source" data-qti-id="${choiceIdentifier}" data-qti-match-max="${choice.matchMax}" data-qti-scores="$r.renderDirectedScoreAttribute($interaction,$choice.identifier)">$r.renderFlowStatics($choice.getFlowStatics())</li>
			#end
			</ul>
		#else
		
			<ul class="list-unstyled o_match_dnd_sources source-left">
			#foreach($choice in $orderedSet1)
				#set($choiceIdentifier = $r.toString($choice.identifier))
				<li class="o_match_dnd_source" data-qti-id="${choiceIdentifier}" data-qti-match-max="${choice.matchMax}" data-qti-scores="$r.renderDirectedScoreAttribute($interaction,$choice.identifier)">$r.renderFlowStatics($choice.getFlowStatics())</li>
			#end
			</ul>
			<ul class="list-unstyled o_match_dnd_targets target-right">
			#foreach($choice in $orderedSet2)
				#set($choiceIdentifier = $r.toString($choice.identifier))
				<li class="o_match_dnd_target" data-qti-match-max="${choice.matchMax}">
					<div class="clearfix">$r.renderFlowStatics($choice.getFlowStatics())</div>
					<ul class="o_match_dnd_target_drop_zone list-unstyled clearfix" data-qti-id="${choiceIdentifier}" data-qti-match-max="${choice.matchMax}"></ul>
				</li>
			#end
			</ul>
		#end
	</div>
	<script>
	jQuery(function() {
		jQuery('#qti_container_${responseIdentifier}').matchInteractionDnd({
			responseIdentifier: '$responseIdentifier',
			formDispatchFieldId: '$r.formDispatchFieldId',
			maxAssociations: $interaction.maxAssociations,
			responseValue: '$r.toString($responseValue,",")',
			opened: $r.isItemSessionOpen()
		});
	});
	</script>
	#if($r.renderDirectedScore($interaction))
	<fieldset>
		<legend>$r.translate("results.points")</legend>	
		<table class="table matchInteraction score">
			<thead>
				<tr>
					<th scope="cols"></th>
					#foreach($targetChoice in $orderedSet2)
						<th scope="cols">$r.renderFlowStatics($targetChoice.getFlowStatics())</th>
					#end
				</tr>
			</thead>
			<tbody>
			#foreach($sourceChoice in $orderedSet1)
				<tr>
					<th scope="rows">${r.renderFlowStatics($sourceChoice.getFlowStatics())}</th>
					#set($sourceIndex = ${foreach.index})
					#foreach($targetChoice in $orderedSet2)
						<td class="o_sel_match_${sourceIndex}_${foreach.index}">
						#if($r.isDirectedCorrect($interaction, $sourceChoice.identifier, $targetChoice.identifier))
							<i class=" o_icon o_icon-lg o_icon_accept"> </i>
						#end
						$r.renderDirectedScoreAttribute($interaction, $sourceChoice.identifier, $targetChoice.identifier)
						</td>
					#end
				</tr>
			#end
			</tbody>
		</table>
	</fieldset>
	#end
</div>
