#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))
#set($responseInput = $r.getResponseInput($interaction.responseIdentifier))
#set($asciiMathInput = $r.extractSingleCardinalityResponseInput($responseInput))

#set($orientation = "horizontal")

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>

<div class="mathEntryInteraction form-${orientation} clearfix">
	<div class="inputPanel col-sm-6">
		$r.contextHelpWithWrapper("manual_user/personal/Math_formula/")
		##TODO qti size="{if (exists(@ma:expectedLength)) then @ma:expectedLength else '10'}""
        <input id="qtiworks_id_mathEntryInput_${responseIdentifier}" name="qtiworks_response_${responseIdentifier}" class="form-control" type="text" size="35" #if($r.isItemSessionEnded()) disabled #end #if($asciiMathInput && !$asciiMathInput.isEmpty()) value="$asciiMathInput" #end />
		$r.appendFlexiFormDirtyForCheckbox("qtiworks_id_mathEntryInput_${responseIdentifier}")
	</div>

	<div class="previewPanel col-sm-6">
		<div id="qtiworks_id_mathEntryMessages_${responseIdentifier}"></div>
        <div id="qtiworks_id_mathEntryPreview_${responseIdentifier}">
        </div>
	</div>
	<script>
	o_info.latexit = true;
	jQuery(function() {
		jQuery("#qtiworks_id_mathEntryInput_${responseIdentifier}").on('keyup change', function(el) {
			const tex = jQuery("#qtiworks_id_mathEntryInput_${responseIdentifier}").val();
			jQuery("#qtiworks_id_mathEntryPreview_${responseIdentifier}").text('$$' + tex + '$$');
			if (MathJax && MathJax.startup) {
				MathJax.typeset();
			}
		});
	});
	</script>
</div>

