#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))
#set($responseInput = $r.getResponseInput($interaction.responseIdentifier))
#set($asciiMathInput = $r.extractSingleCardinalityResponseInput($responseInput))

#set($orientation = "horizontal")

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>

<div class="mathEntryInteraction form-${orientation} clearfix">
	<div class="inputPanel col-sm-6">
		$r.contextHelpWithWrapper("manual_user/personal/Math_formula/")
		##TODO qti size="{if (exists(@ma:expectedLength)) then @ma:expectedLength else '10'}""
        <input id="qtiworks_id_mathEntryInput_${responseIdentifier}" name="qtiworks_response_${responseIdentifier}" class="form-control" type="text" size="35" #if($r.isItemSessionEnded()) disabled #end #if($asciiMathInput && !$asciiMathInput.isEmpty()) value="$asciiMathInput" #end />
		$r.appendFlexiFormDirtyForCheckbox("qtiworks_id_mathEntryInput_${responseIdentifier}")
	</div>

	<div class="previewPanel col-sm-6">
		<div id="qtiworks_id_mathEntryMessages_${responseIdentifier}"></div>
        <div id="qtiworks_id_mathEntryPreview_${responseIdentifier}" class="math">
          ## Keep this in 
          <math xmlns="http://www.w3.org/1998/Math/MathML"></math>
        </div>
	</div>
	<script>
	o_info.latexit = true;

	UpConversionAjaxController.setUpConversionServiceUrl('$r.contextPath()/math/verifyAsciiMath');
    UpConversionAjaxController.setDelay(300);
	
	QtiWorksRendering.registerReadyCallback(function() {
		var inputControlId = 'qtiworks_id_mathEntryInput_$responseIdentifier';
		var messageContainerId = 'qtiworks_id_mathEntryMessages_$responseIdentifier';
		var previewContainerId = 'qtiworks_id_mathEntryPreview_$responseIdentifier';
		var helpContainerId = 'qtiworks_id_mathEntryHelp_$responseIdentifier';

		var upConversionAjaxControl = UpConversionAjaxController.createUpConversionAjaxControl(messageContainerId, previewContainerId);
		var widget = AsciiMathInputController.bindInputWidget(inputControlId, upConversionAjaxControl);
		widget.setHelpButtonId(helpContainerId);
		widget.init();
		#if($r.isBadResponse($responseIdentifier))
			widget.show('$asciiMathInput', {
				cmathFailures: {}
			});
		#elseif($r.isNullValue($responseValue))
			widget.syncWithInput();
		#else
			widget.show('$asciiMathInput', {
				cmath: '$r.escapeForJavascriptString($r.getResponseValueForField($responseValue,"CMathML"))',
				pmathBracketed: '$r.escapeForJavascriptString($r.getResponseValueForField($responseValue,"PMathMLBracketed"))'
			});
		#end
	});
	</script>
</div>

