#set($responseIdentifier = $r.responseUniqueId($interaction))
<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<div class="$localName">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end
	<p><span id="olatFlashMovieViewer_${responseIdentifier}" class="olatFlashMovieViewer" style="display:block;border:solid 1px #000; width:${interaction.object.width}px; height:${interaction.object.height}px;">
		<script defer="defer">
		BPlayer.insertPlayer("${r.convertLinkAbsolut($interaction.object.data)}","olatFlashMovieViewer_${responseIdentifier}",${interaction.object.width},${interaction.object.height},0,0,"video",undefined,("${interaction.autostart}" == "true"),("${interaction.loop}" == "true"),true,undefined);
		</script>
	</span></p>
</div>
