#set($responseIdentifier = $r.responseUniqueId($interaction))
## Filter out the choice identifiers that are visible and split into those which haven't been selected and those which have
#set($orderChoices = $r.getRespondedVisibleChoices($interaction))
#set($respondedVisibleChoices = $orderChoices.getRespondedVisibleChoices())
#set($unselectedVisibleChoices = $orderChoices.getUnselectedVisibleChoices())
#set($orientation = $r.getOrientation($interaction.orientation))

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1" />
<div class="$localName">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end
	
	#if($r.isInvalidResponse($interaction.responseIdentifier))
	<div class="o_error badResponse">$r.translate("error.as.directed")</div>
	#end

	<div id="qtiworks_response_${responseIdentifier}">
		## Create holder for hidden form fields that will contain the actual data to pass back
		<div class="hiddenInputContainer"></div>

        <!-- Now generate selection widget -->
		<h4>$r.translate("interaction.order.source")</h4>
		<div class="source box ${orientation}">
			#if($r.isItemSessionOpen())
				<span class="info">$r.translate("interaction.order.drag.msg")</span>
			#end
			<ul class="${orientation}">
				#foreach($unselectedChoice in $unselectedVisibleChoices)
				<li id="qtiworks_response_${unselectedChoice.identifier}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
      				$r.renderFlowStatics($unselectedChoice.getFlowStatics())
   				 </li>
				#end
			</ul>
        </div>
        <h4>$r.translate("interaction.order.target")</h4>
		<div class="target box ${orientation}">
			#if($r.isItemSessionOpen())
				<span class="info">$r.translate("interaction.order.drop.msg")</span>
			#end
			<ul class="${orientation}">
				#foreach($respondedChoice in $respondedVisibleChoices)
				<li id="qtiworks_response_${respondedChoice.identifier}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
				    $r.renderFlowStatics($respondedChoice.getFlowStatics())
   				 </li>
            	#end
			</ul><br /><br />
		</div><br /><br />
        <script type="text/javascript">
          jQuery(document).ready(function() {
            QtiWorksRendering.registerOrderInteraction('$responseIdentifier','$r.formDispatchFieldId',
            	[$r.toJavascriptArguments($unselectedVisibleChoices)],
            	[$r.toJavascriptArguments($respondedVisibleChoices)],
            	#if($interaction.minChoices) $interaction.minChoices #else null #end,
            	#if($interaction.maxChoices) $interaction.maxChoices #else null #end)
          });
        </script>
	</div>
</div>
