#set($responseIdentifier = $r.responseUniqueId($interaction))
## Filter out the choice identifiers that are visible and split into those which haven't been selected and those which have
#set($orderChoices = $r.getRespondedVisibleChoices($interaction))
#set($respondedVisibleChoices = $orderChoices.getRespondedVisibleChoices())
#set($unselectedVisibleChoices = $orderChoices.getUnselectedVisibleChoices())
#set($orientation = $r.getOrientation($interaction.orientation))
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))

<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1" />
<div class="$localName clearfix">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end
	
	#if($r.isInvalidResponse($interaction.responseIdentifier))
	<div class="o_error badResponse">$r.translate("error.as.directed")</div>
	#end

	<div id="qtiworks_response_${responseIdentifier}">
		## Create holder for hidden form fields that will contain the actual data to pass back
		<div class="hiddenInputContainer"></div>
		<div class="source box ${orientation} #if($orientation == "horizontal") clearfix #end">
			#if($r.isItemSessionOpen())
				<span class="info">$r.translate("interaction.order.drag.msg")</span>
			#end
			<ul>
				#foreach($unselectedChoice in $unselectedVisibleChoices)
				<li id="qtiworks_response_${unselectedChoice.identifier}" class="o_assessmentitem_order_item">$r.renderFlowStatics($unselectedChoice.getFlowStatics())</li>
				#end
			</ul>
        </div>  
		<div class="target box ${orientation}">
			#if($r.isItemSessionOpen())
				<span class="info">$r.translate("interaction.order.drop.msg")</span>
			#end
			<ul class="clearfix">
				#foreach($respondedChoice in $respondedVisibleChoices)
				<li id="qtiworks_response_${respondedChoice.identifier}" class="o_assessmentitem_order_item">$r.renderFlowStatics($respondedChoice.getFlowStatics())</li>
            	#end
            	$r.renderScorePerInteraction($interaction)
			</ul>
		</div>
		<script>
		jQuery(function() {
			jQuery('#qtiworks_response_${responseIdentifier}').orderInteraction({
				responseIdentifier: '$responseIdentifier',
				formDispatchFieldId: '$r.formDispatchFieldId',
          		minChoices: #if($interaction.minChoices) $interaction.minChoices #else null #end,
          		maxChoices: #if($interaction.maxChoices) $interaction.maxChoices #else null #end,
          		responseValue: '$r.toString($responseValue,",")',
          		opened: $isItemSessionOpen
        	  	});
        });
        </script>
	</div>
</div>
