#set($interactions = $positionObjectStage.getPositionObjectInteractions())
#set($appletContainerId = "qtiworks_id_appletContainer_" + $interactions.get(0).getResponseIdentifier())

#foreach($interaction in $interactions)
	<input name="qtiworks_presented_${r.toString($interaction.responseIdentifier)}" type="hidden" value="1"/>
#end
<div class="$localName">
	#foreach($interaction in $interactions)
		#if($interaction.getPrompt())
		<div class="prompt">
			$r.renderPrompt($interaction.getPrompt())
		</div>
		#end
	#end
	#foreach($interaction in $interactions)
		#if($r.isInvalidResponse($interaction.responseIdentifier))
		<div class="o_error badResponse">
      		Please complete this interaction as directed.
		</div>
		#end
	#end

    <div id="${appletContainerId}" class="appletContainer" style="width:${positionObjectStage.object.width}px; position:relative; ">
		<img id="${appletContainerId}_img" width="${positionObjectStage.object.width}" height="${positionObjectStage.object.height}" src="${r.convertLinkFull($positionObjectStage.object.data)}"></img>
		<div class="items_container" style="width:${positionObjectStage.object.width}px; height:50px; background-color:#cccccc;">
		#foreach($interaction in $interactions)
			#set($maxChoices = $r.maxToList($interaction.maxChoices))
			#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))

	 		<script type="text/javascript">
			jQuery(function() {
			#if($r.isNotNullValue($responseValue))
				positionObjectDrawResponse('$appletContainerId','$r.toString($interaction.responseIdentifier)','$r.toString($responseValue,":")');
			#else
				positionObjectItem('$appletContainerId','$r.toString($interaction.responseIdentifier)');
			#end
			});
			</script> 
			
			#foreach($maxChoice in $maxChoices)
            	<div class="o_item o_${interaction.responseIdentifier}" style="width:${interaction.object.width}px; height:${interaction.object.height}px; background-image:url('${r.convertLink($interaction.object.data)}');"> </div>
            #end
		#end
		</div>
	</div>
</div>

