#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($isBadResponse = $r.isBadResponse($interaction.responseIdentifier))
#set($isInvalidResponse = $r.isInvalidResponse($interaction.responseIdentifier))
#set($responseDeclaration = $r.getResponseDeclaration($interaction.responseIdentifier))
#set($responseInput = $r.getResponseValue($interaction.responseIdentifier))
#set($responseInputString = $r.toString($responseInput))

#set($checkJavaScript = $r.checkJavaScript($responseDeclaration,$interaction.patternmask))
<input name="qtiworks_presented_${responseIdentifier}" type="hidden" value="1"/>
<span class="$localName">
	#if($r.isTrue($isCorrectionHelp))<i class="o_icon #if($r.isCorrectTextEntry($interaction)) o_icon_correct_response #else o_icon_incorrect_response #end"> </i> #end
	<input id="od_${responseIdentifier}" type="text" name="qtiworks_response_${responseIdentifier}" #if($responseInputString && !$responseInputString.isEmpty()) value="$r.escapeHtml($responseInputString)" #else value="" #end #if(!$r.isItemSessionEnded()) $r.placeholder($interaction) #end #if($r.isItemSessionEnded()) disabled #end #if($isBadResponse) class='badResponse' #end #if($interaction.expectedLength) size='$interaction.expectedLength' #end #if($checks && $checks.size() > 0) onchange='$checkJavaScript' #end autocomplete="off" required="required"/>
	#if($isBadResponse)
        <span class="badResponse">
		#if($responseDeclaration.cardinality.toQtiString() == "record")
			$r.translate("error.textEntry.invalid.record")
		#elseif($responseDeclaration.baseType == "FLOAT")
			$r.translate("error.textEntry.invalid.float")
		#else
			$r.translate("error.textEntry.invalid")
		#end
        </span>
	#end
	#if($isInvalidResponse)
	<span class="badResponse">$r.translate("error.required.format")</span>
	#end
	$r.renderScorePerInteraction($interaction)
	#if($r.isTrue($isCorrectionSolution) || $r.isTrue($isSolutionMode))
		#set($alternativesString = $r.renderTextEntryAlternatives($interaction))
		#if($r.isNotEmpty($alternativesString))
			<span class="o_qti_gaptext_alternatives" title='$r.translate("correction.alternatives")'>$alternativesString</span>
		#end
	#end
</span>
$r.appendFlexiFormDirty("od_${responseIdentifier}")