#set($responseIdentifier = $r.responseUniqueId($interaction))
#set($responseValue = $r.getResponseValue($interaction.responseIdentifier))

<input name="qtiworks_uploadpresented_${responseIdentifier}" type="hidden" value="1"/>
<div class="$localName">
	#if($interaction.getPrompt())
	<div class="prompt">$r.renderPrompt($interaction.getPrompt())</div>
	#end
	
    #if($r.notEmpty($responseValue))
		## Already uploaded something, so show file and ability to replace it
		#if($r.isItemSessionOpen())
		<div class="o_items_container_help">
			<p><i class="o_icon o_icon_help"> </i> $r.translate("upload.explanation")</p>
		</div>
		<div class="o_form">
			<div class="o_fileinput">
				<input id="oo_${responseIdentifier}" class="form-control o_realchooser" type="file" name="qtiworks_uploadresponse_${responseIdentifier}"  onchange="b_handleFileUploadFormChange(this, this.form.fake_oo_${responseIdentifier}, this.form.upload);" />
				<div class="o_fakechooser input-group">
					<input class="form-control" name="fake_oo_${responseIdentifier}" value="${responseValue.fileName}">
					<span class="input-group-addon"><a href="javascript:;"><i class="o_icon o_icon_upload"> </i></a></span>
				</div>
			</div>
		</div>	
		#else
			<a href='${r.convertSubmissionLinkFull("submissions/${r.getAssessmentTestSessionKey()}/$responseValue.fileName")}' target="_blank"><i class="o_icon $r.getFiletypeIconCss($responseValue.fileName)"> </i> $responseValue.fileName</a>
		#end
	#else
		## Nothing uploaded yet
		#if($r.isItemSessionOpen())
		<div class="o_items_container_help">
			<p><i class="o_icon o_icon_help"> </i> $r.translate("upload.explanation")</p>
		</div>
		<div class="o_form">
			<div class="o_fileinput">
				<input id="oo_${responseIdentifier}" class="form-control o_realchooser" type="file" name="qtiworks_uploadresponse_${responseIdentifier}" onchange="b_handleFileUploadFormChange(this, this.form.fake_oo_${responseIdentifier}, this.form.upload);" />
				<div class="o_fakechooser input-group">
					<input class="form-control" name="fake_oo_${responseIdentifier}">
					<span class="input-group-addon"><a href="javascript:;"><i class="o_icon o_icon_upload"> </i></a></span>
				</div>
			</div>
		</div>
		#else
			<input id="oo_${responseIdentifier}" class="form-control o_disabled" name="qtiworks_uploadresponse_${responseIdentifier}" disabled="disabled"/>
		#end
	#end
	
	$r.appendFlexiFormDirty("oo_${responseIdentifier}")
</div>

