<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Overview description of flexible form package</title>
</head>
<body>

<tt>Flexi.Form</tt> is the way to create forms in OLAT since release 5.2.
The following classes and the package <tt>elements</tt> define a infrastructure 
and API for the <tt>Flexi.Form</tt>
<ul>
<li>The atomic form element is the {@link org.olat.core.gui.components.form.flexible.FormItem}</li>
<li>The {@link org.olat.core.gui.components.form.flexible.FormItemContainer} together with the 
{@link org.olat.core.gui.components.form.flexible.FormItem} represents the
 <a href="http://en.wikipedia.org/wiki/Composite_pattern">composite pattern</a>.</li>
<li>The {@link org.olat.core.gui.components.form.flexible.FormDecorator} is 
available as <tt>$f</tt> in velocity pages and wraps an instance of a
{@link org.olat.core.gui.components.form.flexible.FormItem} in a velocity container.
It follows the <a href="http://en.wikipedia.org/wiki/Decorator_pattern">decorator pattern</a>, 
although it does not add - but removes functionality of the decorated class.</li>
<li>Each {@link org.olat.core.gui.components.form.flexible.FormItem} has a pair of 
{@link org.olat.core.gui.components.Component} and 
{@link org.olat.core.gui.components.ComponentRenderer} 
to be compatible with the GUI Framework.</li>
</ul>



<p>
The <tt>Flexi.Form</tt> can be used in two ways - extend the 
{@link org.olat.core.gui.components.form.flexible.impl.FormBasicController} or 
create your own <tt>FooBarController</tt>, but in this case  one has to implement
all form creation stuff itself. It is recommended to use the <i>extending FormBasicController</i> approach.</br>
The impatient may read the 
<a href="doc-files/how-to.html">examples and how-tos here</a> to quick start. 
Nevertheless the curious people can 
<a style="text-decoration: line-through;" href="doc-files/design-decisions.html">find the design decisions here</a>.
For a deeper understanding you may also read the 
<a style="text-decoration: line-through;" href="doc-files/compared-to-former.html">comparison to the former form infrastructure</a>.
<p>

<h3>General usage</h3>
TODO:pb: describe general usage

<h3>Basic form elements provided by <tt>Flexi.Form</tt></h3>
TODO:pb: list elements

<h3>Behind the scene</h3>
TODO:pb: diagrams (class/sequence) explaining the main concepts

<h3>Benefit of <tt>Flexi.Form</tt></h3>
<tt>Flexi.Form</tt> is the way to create forms in OLAT since release 5.2. It is
designed to 
<ul>
<li>add new form elements without changing the <tt>Flexi.Form</tt> 
infrastructure</li>
<li>form layout can be done with velocity, or a default is available</li>
<li>start subworkflows within the form without loosing already entered form data
</li>
<li>AJAXified to make use of the fragment replace capability within the web GUI 
framework</li>
<li>register events on form elements like on click, on double click (see the 
class {@link org.olat.core.gui.components.form.flexible.impl.FormEvent}).</li>
</ul>


</body>
</html>