

/*
* ------ NOTE -------  
*  since OpenOLAT directly includes the content.css from the theme, we need to compile this to a separate css file.
*  to do that, we need to "@import" our definitions and mixins.
*
*/

// import the default content.css
@import url("../../openolat/all/content.css");

// import our modified definitions and mixins
@import "../_definitions.scss";
@import "../_mixins.scss";



/** ---- our modifications : change everything we want different from the default theme ---- **/

body {
	font-family: $defaultfont;
	font-size: $defaultfontsize;
	color:#444;
}

h1,h2,h3,h4,h5,fieldset legend {
	@include o-text-shadow(0,3px,3px,rgba(0,0,0,0.4));
	font-family: $headerfont;
}

a,a:visited {
	text-decoration:none;
	color:$basecolor;
}
a:hover {
	text-decoration:underline;
	color:$basecolor;
}


