/*
 * =================================================
 *   
 * OpenOLAT theme configuration file
 *
 * @author gnaegi,  www.frentix.com
 * @date April 2014
 *
 * To create your own theme, please read themes.README!
 * =================================================
 * 
 * Configure OpenOLAT and boostrap variables in this file. 
 * All variables with the o- prefix are OpenOLAT specific variables, 
 * the other variabels are from bootstrap. 
 * 
 * When you modify any variable here, make sure you run 
 * the scrip src/main/webapp/static/themes/compiletheme.sh
 * 
 * See src/main/webapp/static/bootstrap/3.1.1/stylesheets/bootstrap/_variables.scss
 * or http://getbootstrap.com/customize/#less-variables
 * or http://getbootstrap.com/css/#less-variables
 */
 
/* ---- Bootstrap specific configurations ----
	Add your custom font sizes and other bootstrap overrides here. 
	Full spec here: http://getbootstrap.com/customize/
*/

/* 	Add standard bootstrap variables to the mix */
@import "../../bootstrap/stylesheets/bootstrap/variables";

/* ---- OpenOLAT specific configurations ---- */

/* Content styles used in iFrame e-learning content and in HTML editor */
$o-content-font-family-base		: $font-family-base !default;
$o-content-font-size-base		: $font-size-base !default;
$o-content-line-height-base		: $line-height-base !default;
$o-content-line-height-computed	: floor(($o-content-font-size-base * $o-content-line-height-base)) !default;
$o-content-text-color			: $text-color !default;
$o-content-body-bg				: $body-bg !default;
$o-content-link-color			: $link-color !default;
$o-content-link-hover-color		: $link-hover-color !default;
$o-content-link-decoration		: underline !default;
$o-content-h1-color				: $brand-primary !default;
$o-content-h2-color				: $brand-primary !default;
$o-content-h3-color				: $brand-primary !default;
$o-content-h4-color				: $brand-primary !default;
$o-content-h5-color				: $o-content-text-color !default;
$o-content-hr-color				: $hr-border !default;
$o-content-table-border			: $gray-light !default;
$o-content-table-header			: $gray-light !default;
$o-content-dimmed-color			: $text-muted !default;
$o-content-disabled-color		: $text-muted !default;
$o-content-border-box-border	: $gray-light !default;
$o-content-border-box-radius	: $border-radius-small !default;
$o-content-border-box-padding	: 1em !default;
$o-content-border-img-border	: $thumbnail-border !default;
$o-content-border-img-radius	: $thumbnail-border-radius !default;
$o-content-border-img-padding	: 3px !default;

$o-font-size-xsmall				: ceil(($font-size-base * 1.7)) !default;  // ~24px
$o-font-size-xlage				: ceil(($font-size-base * 0.71)) !default; // ~10px
$o-table-row-selected-color     : $state-success-bg !default;


/* The max width the header/navbar/main/footer can possibly have. */
$o-page-width-max : 1324px !default;

/* Main content area. The outer area is left and right outside the content area (only visible in large screen).  */
$o-main-outer-bg 	: #fff !default;
$o-main-inner-bg 	: #fff !default;
$o-main-left-bg		: #fff !default;
$o-main-center-bg	: inherit !default;
$o-main-right-bg	: inherit !default;

/* Page footer */
$o-footer-font-size					: $font-size-small !default;
$o-footer-share-font-size			: $font-size-base !default;
$o-footer-padding-top				: 10px !default;
$o-footer-height 					: 70px !default;
$o-footer-outer-bg 					: #f5f5f5 !default;
$o-footer-inner-bg 					: #f5f5f5 !default;
$o-footer-default-color 			: #999 !default;
$o-footer-default-link-color 		: #999 !default;
$o-footer-default-link-hover-color 	: #000 !default;
$o-footer-position-absolute 		: true !default; 

/* Right off-canvas menu */
$o-offcanvas-width 				: 250px !default;
$o-offcanvas-padding-horizontal	: $navbar-padding-horizontal !default;
$o-offcanvas-padding-vertical	: $navbar-padding-vertical !default;
$o-offcanvas-border 			: $navbar-inverse-border !default;
$o-offcanvas-bg 				: $navbar-inverse-bg !default;
$o-offcanvas-link-hover-bg 		: $navbar-inverse-link-hover-bg;
$o-offcanvas-color				: $navbar-inverse-color;
$o-offcanvas-link-hover-color 	: $navbar-inverse-link-hover-color;

/* Toolbar in course, editor etc */
$o-toolbar-size-icon-md 		: ceil($font-size-base * 1.25) !default;
$o-toolbar-size-text-md 		: ceil($font-size-base * 0.85) !default;
$o-toolbar-size-caret-md 		: $font-size-base !default;
$o-toolbar-size-icon-sm 		: ceil($font-size-base * 1.1) !default;
$o-toolbar-size-text-sm 		: ceil($font-size-base * 0.75) !default;
$o-toolbar-size-caret-sm 		: ceil($font-size-base * 0.85) !default;
$o-toolbar-size-icon-xs 		: ceil($font-size-base * 1.4) !default;
$o-toolbar-height-md			: 30px !default;
$o-toolbar-height-sm			: 23px !default;
$o-toolbar-height-xs			: 20px !default;
$o-toolbar-margin-top-md		: 8px !default;
$o-toolbar-margin-bottom-md		: 5px !default;
$o-toolbar-margin-top-sm		: 6px !default;
$o-toolbar-margin-bottom-sm		: 4px !default;
$o-toolbar-margin-top-xs		: 6px !default;
$o-toolbar-margin-bottom-xs		: 4px !default;

/* Left side menu tree */
$o-tree-bg						: none !default;
$o-tree-border-color			: $list-group-border !default;
$o-tree-border-radius			: $list-group-border-radius !default;
$o-tree-link-color 				: $navbar-default-link-color !default;
$o-tree-link-bg					: none !default;
$o-tree-link-hover-color 		: $navbar-default-link-hover-color !default;
$o-tree-link-hover-bg			: $navbar-default-bg !default;
$o-tree-link-active-color 		: $link-color !default;
$o-tree-link-active-bg			: none !default;
$o-tree-link-active-hover-color : $link-hover-color !default;
$o-tree-link-active-hover-bg	: $gray-lighter !default;
$o-tree-link-active-font-weight	: bold !default;
$o-tree-link-active-parent-color 			: $o-tree-link-color !default;
$o-tree-link-active-parent-hover-color 		: $o-tree-link-hover-color !default;
$o-tree-link-active-parent-font-weight		: $o-tree-link-active-font-weight !default;
$o-tree-font-size				: $font-size-base !default;
$o-tree-padding-vertical		: 10px !default;
$o-tree-padding-horizontal_root_visible	: 10px !default;
$o-tree-padding-horizontal_root_hidden	: 20px !default;
$o-tree-padding-steps-px 		: 15px !default;
$o-tree-padding-opener-left-px 	: 1px !default;

/* Course and catalog site */
$o-coursesite-rowelem-width-md : 180px;
$o-coursesite-rowelem-height-md : 120px;
$o-coursesite-rowelem-width-sm : 120px;
$o-coursesite-rowelem-height-sm : 80px;
$o-coursesite-rowelem-width-xs : 75px;
$o-coursesite-rowelem-height-xs : 50px;
$o-coursesite-rowelem-border : $brand-primary;
$o-coursesite-catalog-space : $padding-large-vertical * 2;
$o-coursesite-catalog-space-sm : $padding-large-vertical;
$o-coursesite-catalog-space-xs : $padding-xs-vertical;
$o-coursesite-catalog-border : $brand-primary;

/* Chat and other floating window */
$o-dialog-window-bg				: #fefefe !default;
$o-dialog-window-bar-bg			: #eee !default;

/* Instant messaging and chat */
$o-im-chat-load-font-size		: $font-size-small !default;
$o-im-chat-history-border		: $gray-lighter !default;
$o-im-chat-message-bg			: #fff !default;
$o-im-chat-message-bg-alt		: #F4F4F4 !default;
$o-im-chat-message-border		: #eee !default;
$o-im-chat-from-color			: $gray-light !default;
$o-im-chat-from-font-size		: floor($font-size-base * 0.9) !default;
$o-im-chat-date-color			: $text-muted !default;
$o-im-chat-date-font-size		: floor($font-size-base * 0.7) !default;
$o-im-chat-body-font-size		: floor($font-size-base * 0.9) !default;
$o-im-groupchat-font-size		: floor($font-size-base * 0.9) !default;
$o-im-groupchat-user-color 		: $text-color !default;
$o-im-groupchat-vip-color 		: $state-success-text !default;
$o-im-groupchat-anonymous-color : $state-info-text !default;
$o-im-buddies-font-size			: floor($font-size-base * 0.9) !default;
$o-im-buddies-link-color		: $link-color !default;
$o-im-buddies-link-hover-color	: $link-hover-color !default;

/* Forum module */
$o-forum-quote-author-color 	: $text-muted !default;
$o-forum-quote-padding			: $padding-large-vertical;
$o-forum-quote-color 			: $gray !default;
$o-forum-quote-font-size		: $font-size-small !default;
$o-forum-attachment-font-size	: $font-size-small !default;

/* Portlets site */
$o-portlet-border				: $panel-default-border !default;
$o-portlet-border-radius		: $panel-border-radius !default;
$o-portlet-bg					: $panel-bg !default;
$o-portlet-header-bg			: $panel-default-heading-bg !default;;
$o-portlet-edit-border			: $panel-warning-border !default;
$o-portlet-edit-bg				: $panel-warning-heading-bg !default;

/* Full text search results */
$o-search-context-color			: $state-success-text !default;
$o-search-details-color			: $text-muted !default;
$o-search-details-font-size		: $font-size-small !default;
$o-search-details-bg			: #fff !default;
$o-search-excerpt-color			: $gray !default;

/* Message boxes */
$o-box-margin					: 20px !default;
$o-box-padding					: 20px !default;
$o-box-border-left-size			: 3px !default;
$o-box-info-bg					: #eee !default;
$o-box-info-color				: #d4d4d4 !default;
$o-box-note-bg					: #f4f8fa !default;
$o-box-note-color				: #5bc0de !default;
$o-box-important-bg				: #FFF1A4 !default;
$o-box-important-color			: #F4D000 !default;
$o-box-success-bg				: #d6e9c6 !default;
$o-box-success-color			: #3c763d !default;
$o-box-warning-bg				: #FFD5AA !default;
$o-box-warning-color			: #FF9E3E !default;
$o-box-error-bg					: #fdf7f7 !default;
$o-box-error-color				: #d9534f !default;

/* Context help buttons */
$o-chelp-font-size				: 10px !default;
$o-chelp-font-weight			: $btn-font-weight !default;
$o-chelp-bg						: $btn-primary-bg !default;
$o-chelp-color					: $btn-primary-color !default;
$o-chelp-border					: $btn-primary-border !default;
$o-chelp-border-radius			: 2px !default;

/* Date component */
$o-datecomp-border				: $gray !default;
$o-datecomp-month-bg			: $brand-primary !default;
$o-datecomp-month-color			: #fff !default;
$o-datecomp-day-bg				: $body-bg !default;
$o-datecomp-day-color			: $text-color !default;

/* other configurations */
$o-portrait-radius				: 50% !default;
$o-portrait-border				: none !default;
$o-images-path : "../light/images/" !default;


/*
FIXME:oo10 LEGACY VARIABLES

$basecolor : #025D8C !default;
$basecolor_light : #94bed3 !default;
$basecolor_ultra_light : #f3feff !default;
$selectcolor : #FF9F5B !default;				
$selectcolor_light : #FF9F5B !default;			
$selectcolor_ultra_light : #FFDBC1 !default;	 
$dirtycolor : #FF9900 !default;
$dirtycolor_bg : #FEFBF6 !default;
$basegray: #555 !default;
$basegray_light: #777 !default;
$basegray_ultra_light: #eee !default;
$glossColor1 : #5E5E5E !default;
$glossColor2 : #444 !default;
$glossColor3 : #222 !default;
$glossColor4 : #3C3C3C !default;
$okcolor : #009900 !default;
$nokcolor : #990000 !default;
$linkcolor : $basecolor !default;
$linkcolor_hover: $basecolor !default;
$menulinkcolor : $basegray !default;
$menulinkcolor_hover : $basecolor !default;
$menulinkcolor_selected : $basecolor !default;
$tablecolor_header : $linkcolor !default;
$tablecolor_links : $linkcolor !default;
$tablecolor_links_hover : $linkcolor !default;
$fullScreenModalMarginPercents: 2% !default;
$navMainShowIcons : false !default;
$top_nav_line_height : 30px !default;
$top_nav_active_tabs_bg : #fff !default;
$tool_bar_height : 24px !default;
$tool_bar_bg : $top_nav_active_tabs_bg !default;
$tool_bar_border : #DADADA !default;
$tool_bar_color : #2D2E2D !default;
$tool_bar_hover : #585A58 !default;
$main_shadow_color : #D3D3D3 !default;
$tree_level_margin : 1em !default;
$tree_padding_steps_px : 0 !default;
$tree_padding_opener_px : 13px !default; 
$tree_padding_opener_left_px : 1px !default;
$tree_padding_opener_top_px : 0px;
$tree_show_icons : true !default; 
$treeicon_width_px : 20px !default;
$ico_plus : '../openolat/images/tree_parent_closed.png'  !default;
$ico_minus : '../openolat/images/tree_parent_open.png'  !default;
$di_border_radius:2px;
$headerfont : Century Gothic, Apple Gothic, sans-serif !default;
$topnavfont : $headerfont !default;
$navmainfont : $headerfont !default;
$treefont : $headerfont !default;
$defaultfontsize : 80% !default;
$page_width_max : 1324px !default;
$page_width_min : 740px !default;
$enablebiz : false !default;
$showbetalogo: false !default;

*/
