/*
 * =================================================
 *   
 * OpenOLAT theme configuration file
 *
 * @author gnaegi,  www.frentix.com
 * @date April 2014
 *
 * To create your own theme, please read themes.README!
 * =================================================
 * 
 * Configure OpenOLAT and boostrap variables in this file. 
 * All variables with the o- prefix are OpenOLAT specific variables, 
 * the other variabels are from bootstrap. 
 * 
 * When you modify any variable here, make sure you run 
 * the scrip src/main/webapp/static/themes/compiletheme.sh
 * 
 * See src/main/webapp/static/bootstrap/3.1.1/stylesheets/bootstrap/_variables.scss
 * or http://getbootstrap.com/customize/#less-variables
 * or http://getbootstrap.com/css/#less-variables
 */
 
/* ---- Bootstrap specific configurations ----
	Add your custom font sizes and other bootstrap overrides here. 
	Full spec here: http://getbootstrap.com/customize/
*/

/* bootstrap default is very white, use just a little bit more than just white */
$btn-default-bg					: #fcfcfc !default;
$dropdown-bg					: #fcfcfc !default; 
$panel-bg						: #fcfcfc !default;
$pagination-bg					: #fcfcfc !default;
$pagination-active-color 		: #fcfcfc !default;
$list-group-bg					: #fcfcfc !default;

$input-bg						: #fcfcfc !default; 
$input-bg-disabled				: #fafafa !default; /* lighter than default bootstrap */

/* 	Add standard bootstrap variables to the mix */
@import "../../bootstrap/stylesheets/bootstrap/variables";

/* ---- OpenOLAT specific configurations ---- */
$o-images-path : "../light/images/" !default; 

/* Content styles used in iFrame e-learning content and in HTML editor */
$o-content-font-family-base		: $font-family-base !default;
$o-content-font-size-base		: $font-size-base !default;
$o-content-line-height-base		: $line-height-base !default;
$o-content-line-height-computed	: floor(($o-content-font-size-base * $o-content-line-height-base)) !default;
$o-content-text-color			: $text-color !default;
$o-content-body-bg				: $body-bg !default;
$o-content-link-color			: $link-color !default;
$o-content-link-hover-color		: $link-hover-color !default;
$o-content-link-decoration		: underline !default;
$o-content-header-base-color	: $brand-primary !default;
$o-content-h1-color				: $o-content-header-base-color !default;
$o-content-h2-color				: $o-content-header-base-color !default;
$o-content-h3-color				: $o-content-header-base-color !default;
$o-content-h4-color				: $o-content-header-base-color !default;
$o-content-h5-color				: $o-content-header-base-color !default;
$o-content-fieldset-legend-color: $text-color !default;
$o-content-hr-color				: $hr-border !default;
$o-content-hr-size				: 1px !default;
$o-content-table-border			: $gray-light !default;
$o-content-table-header			: $gray-light !default;
$o-content-dimmed-color			: $text-muted !default;
$o-content-disabled-color		: $text-muted !default;
$o-content-border-box-border	: $gray-light !default;
$o-content-border-box-radius	: $border-radius-small !default;
$o-content-border-box-padding	: 1em !default;
$o-content-border-img-border	: $thumbnail-border !default;
$o-content-border-img-radius	: $thumbnail-border-radius !default;
$o-content-border-img-padding	: 3px !default;

$o-font-size-xlarge				: ceil(($font-size-base * 1.7)) !default;  // ~24px
$o-font-size-xsmall				: ceil(($font-size-base * 0.71)) !default; // ~10px
$o-table-row-selected-color     : lighten($state-info-bg,5%) !default;

$o-table-header-color			: $text-color !default;
$o-table-edit-border			: #f90;
$o-table-edit-bg				: #fefbf6;

/* Emty state in various modules */
$o-emtpy-indicator-color		: #495057 !default;
$o-emtpy-icon-color				: #C6C9CD !default;
$o-emtpy-msg-color				: $text-color !default;

/* The max width the header/navbar/main/footer can possibly have. */
$o-page-width-max : 1324px !default;
$o-page-width-toggler-border-color			: #eee !default;
$o-page-width-toggler-border-radius			: 4px !default;
$o-page-width-toggler-background			: #efefef !default;
$o-page-width-toggler-border-hover-color	: #ccc !default;
$o-page-width-toggler-hover-background		: #eee !default;


/* Main content area. The outer area is left and right outside the content area (only visible in large screen).  */
$o-main-outer-bg 	: #fff !default;
$o-main-inner-bg 	: #fff !default;
$o-main-left-bg		: #fff !default;
$o-main-center-bg	: inherit !default;
$o-main-right-bg	: inherit !default;

/* Page main navigation for sites, tabs and tools */
$o-navbar-height					: $navbar-height !default;
$o-navbar-dmz-height				: $navbar-height !default;
$o-navbar-z-index					: 6 !default;
$o-navbar-margin-bottom				: $navbar-margin-bottom !default;
$o-navbar-padding-horizontal		: $navbar-padding-horizontal !default;
$o-navbar-padding-vertical			: $navbar-padding-vertical !default;
$o-navbar-collapse-max-height		: $navbar-collapse-max-height !default;
$o-navbar-border-color				: $navbar-default-border !default;
$o-navbar-bg						: $navbar-default-bg !default;
$o-navbar-color						: $navbar-default-color !default;
$o-navbar-link-color				: $navbar-default-link-color !default;
$o-navbar-link-hover-color			: $navbar-default-link-hover-color !default;
$o-navbar-link-hover-bg 			: $navbar-default-link-hover-bg !default;
$o-navbar-link-active-color 		: $navbar-default-link-active-color !default;
$o-navbar-link-active-bg 			: $navbar-default-link-active-bg !default;
$o-navbar-link-disabled-color 		: $navbar-default-link-disabled-color !default;
$o-navbar-link-disabled-bg 			: $navbar-default-link-disabled-bg !default;
$o-navbar-toggle-border-color		: $navbar-default-toggle-border-color !default;
$o-navbar-toggle-border-radius		: $border-radius-base !default;
$o-navbar-toggle-hover-bg			: $navbar-default-toggle-hover-bg !default;
$o-navbar-toggle-icon-bar-bg		: $navbar-default-toggle-icon-bar-bg !default;
$o-navbar-tab-close-color			: $brand-danger !default;
$o-navbar-tab-close-hover-color		: darken($o-navbar-tab-close-color, 10%)!default;
$o-navbar-tools-permanent-color		: $navbar-default-color !default;
$o-navbar-login-color 				: $brand-warning !default;
$o-navbar-logout-color				: $brand-danger !default;
$o-navbar-brand-font-size			: $font-size-large !default;
$o-navbar-brand-height				: $navbar-height !default;
$o-navbar-brand-color				: $navbar-default-brand-color !default;
$o-navbar-brand-hover-color			: $navbar-default-brand-hover-color !default;
$o-navbar-brand-hover-bg			: $navbar-default-brand-hover-bg !default;

/* inverse style
$o-navbar-border-color				: $navbar-inverse-border ;
$o-navbar-bg						: $navbar-inverse-bg ;
$o-navbar-color						: $navbar-inverse-color ;
$o-navbar-link-color				: $navbar-inverse-link-color ;
$o-navbar-link-hover-color			: $navbar-inverse-link-hover-color ;
$o-navbar-link-hover-bg 			: $navbar-inverse-link-hover-bg ;
$o-navbar-link-active-color 		: $navbar-inverse-link-active-color ;
$o-navbar-link-active-bg 			: $navbar-inverse-link-active-bg ;
$o-navbar-link-disabled-color 		: $navbar-inverse-link-disabled-color ;
$o-navbar-link-disabled-bg 			: $navbar-inverse-link-disabled-bg ;
$o-navbar-tools-permanent-color		: $navbar-inverse-link-color;
$o-navbar-toggle-border-color		: $navbar-inverse-toggle-border-color ;
$o-navbar-toggle-hover-bg			: $navbar-inverse-toggle-hover-bg ;
$o-navbar-toggle-icon-bar-bg		: $navbar-inverse-toggle-icon-bar-bg ;
$o-navbar-brand-color				: $navbar-inverse-brand-color ;
$o-navbar-brand-hover-color			: $navbar-inverse-brand-hover-color ;
$o-navbar-brand-hover-bg			: $navbar-inverse-brand-hover-bg ;
*/

$o-navbar-tab-max-width				: 150px !default;
$o-navbar-tab-enable-icons			: false !default;

/* More button and dropdown menu */
$o-navbar-more-dropdown-max-width	: 300px !default;
$o-navbar-more-dropdown-enable-icons: false !default;

/* Right off-canvas menu, part of navbar */
$o-offcanvas-width 					: 250px !default;
$o-offcanvas-padding-horizontal		: $navbar-padding-horizontal !default;
$o-offcanvas-padding-vertical		: $navbar-padding-vertical !default;
$o-offcanvas-border 				: $navbar-inverse-border !default;
$o-offcanvas-bg 					: $navbar-inverse-bg !default;
$o-offcanvas-link-color				: $navbar-inverse-color!default;
$o-offcanvas-link-hover-color 		: $navbar-inverse-link-hover-color!default;
$o-offcanvas-link-hover-bg 			: $navbar-inverse-link-hover-bg!default;
$o-offcanvas-link-active-color		: $navbar-inverse-link-active-color!default;
$o-offcanvas-link-active-bg			: $navbar-inverse-link-active-bg!default;
$o-offcanvas-logout-color			: $brand-danger !default;
$o-offcanvas-logout-hover-color		: darken($o-offcanvas-logout-color,10%)!default;
$o-offcanvas-dropdown-bg			: $o-offcanvas-bg !default;
$o-offcanvas-dropdown-font-size		: $font-size-base !default;

/* Page footer */
$o-footer-font-size					: $font-size-small !default;
$o-footer-line-height				: 16px !default;
$o-footer-share-font-size			: $font-size-base !default;
$o-footer-padding-top				: 10px !default;
$o-footer-height 					: 70px !default;
$o-footer-dmz-height 				: $o-footer-height !default;
$o-footer-outer-bg 					: #f5f5f5 !default;
$o-footer-inner-bg 					: #f5f5f5 !default;
$o-footer-default-color 			: #999 !default;
$o-footer-default-link-color 		: #999 !default;
$o-footer-default-link-hover-color 	: #000 !default;
$o-footer-position-absolute 		: true !default;
$o-footer-margin-top				: $padding-large-vertical !default;

/* Toolbar in course, editor etc */
$o-toolbar-bg-color				: $navbar-default-bg !default;
$o-toolbar-edit_bg-color		: #fcfcfc !default;
$o-toolbar-edit_stripe-color	: #fff0d9 !default; 
$o-toolbar-border-color			: $navbar-default-border !default;
$o-toolbar-border-radius		: $navbar-border-radius !default;
$o-toolbar-link-color			: $navbar-default-link-color !default;
$o-toolbar-link-hover-color		: $navbar-default-link-hover-color !default;
$o-toolbar-link-disabled-color	: lighten($navbar-default-link-color, 20%) !default;
$o-toolbar-link-active-color	: $link-color !default;
$o-toolbar-link-active-bg		: transparent !default;
$o-toolbar-dropdown-active-color: $link-color !default;
$o-toolbar-dropdown-active-bg	: transparent !default;
$o-toolbar-size-icon-md 		: ceil($font-size-base * 1.25) !default;
$o-toolbar-size-text-md 		: ceil($font-size-base * 0.85) !default;
$o-toolbar-size-caret-md 		: $font-size-base !default;
$o-toolbar-size-icon-sm 		: ceil($font-size-base * 1.1) !default;
$o-toolbar-size-text-sm 		: ceil($font-size-base * 0.75) !default;
$o-toolbar-size-caret-sm 		: ceil($font-size-base * 0.85) !default;
$o-toolbar-size-icon-xs 		: ceil($font-size-base * 1.4) !default;
$o-toolbar-height-md			: 37px !default;
$o-toolbar-height-sm			: 35px !default;
$o-toolbar-height-xs			: 22px !default;
$o-toolbar-margin-top			: -10px !default;
$o-toolbar-margin-bottom		: ($navbar-margin-bottom + 5px) !default; // 5 extra for course pagination
$o-toolbar-tools-margin-top-md		: 8px !default;
$o-toolbar-tools-margin-bottom-md	: 5px !default;
$o-toolbar-tools-margin-top-sm		: 6px !default;
$o-toolbar-tools-margin-bottom-sm	: 4px !default;
$o-toolbar-tools-margin-top-xs		: 6px !default;
$o-toolbar-tools-margin-bottom-xs	: 4px !default;
$o-toolbar-close-color				: $brand-danger !default;
$o-toolbar-breadcrumb-bg-color		: $panel-default-heading-bg !default;
$o-toolbar-breadcrumb-font-size 	: ceil(($font-size-base * 0.75)) !default;
$o-toolbar-breadcrumb-line-height	: floor(($o-toolbar-breadcrumb-font-size * $line-height-base)) !default;
$o-toolbar-nav-link-color			: $o-toolbar-link-color !default; 
$o-toolbar-nav-link-hover-color		: $o-toolbar-link-hover-color !default; 
$o-toolbar-nav-link-disabled-color	: $o-toolbar-link-disabled-color !default; 
$o-toolbar-nav-bg-color				: $gray-lighter !default;
$o-toolbar-nav-border-color			: $btn-default-border !default; 
$o-toolbar-nav-border-radius		: 4px !default; 
$o-toolbar-nav-size-icon-md 		: ceil($font-size-base * 1.5) !default;
$o-toolbar-nav-size-icon-sm 		: ceil($font-size-base * 1.25) !default;
$o-toolbar-nav-size-icon-xs 		: ceil($font-size-base * 1.4) !default;

/* Left side menu tree */
$o-tree-bg						: none !default;
$o-tree-border-color			: $list-group-border !default;
$o-tree-border-radius			: $list-group-border-radius !default;
$o-tree-link-color 				: $navbar-default-link-color !default;
$o-tree-link-bg					: none !default;
$o-tree-link-hover-color 		: $navbar-default-link-hover-color !default;
$o-tree-link-hover-bg			: $navbar-default-bg !default;
$o-tree-link-active-color 		: $link-color !default;
$o-tree-link-active-bg			: none !default;
$o-tree-link-active-hover-color : $link-hover-color !default;
$o-tree-link-active-hover-bg	: $gray-lighter !default;
$o-tree-link-active-font-weight	: bold !default;
$o-tree-link-active-parent-color 			: $o-tree-link-color !default;
$o-tree-link-active-parent-hover-color 		: $o-tree-link-hover-color !default;
$o-tree-link-active-parent-font-weight		: $o-tree-link-active-font-weight !default;
$o-tree-font-size				: $font-size-base !default;
$o-tree-padding-vertical		: 10px !default;
$o-tree-padding-horizontal_root_visible	: 10px !default;
$o-tree-padding-horizontal_root_hidden	: 20px !default;
$o-tree-padding-steps-px 		: 15px !default;
$o-tree-padding-left-steps-px 	: 2px !default;
$o-tree-padding-opener-left-px 	: 1px !default;
$o-tree-dnd-hover				: $brand-warning;

/* Tabbed pane component */
$o-tabbed-pane-padding			: ($padding-large-vertical * 2) 0 $padding-base-vertical 0;

/* Wizard */
$o-wizard-steps-bg-color				: #f9f9f9 !default;
$o-wizard-steps-border-color			: #d4d4d4 !default;
$o-wizard-step-bg-color					: #ededed !default;
$o-wizard-step-main-active-color		: $btn-primary-color !default;
$o-wizard-step-main-active-bg-color		: $btn-primary-bg !default;
$o-wizard-step-sub-active-color			: $text-color !default;
$o-wizard-step-sub-activ-bottom-color	: $brand-primary !default;

/* Auto completer input field */
$o-autocomplete-width				: 400px !default;
$o-autocomplete-font-size			: $font-size-base !default;
$o-autocomplete-line-height			: $line-height-base !default;
$o-autocomplete-border-radius		: $input-border-radius !default;
$o-autocomplete-bg-color			: $input-bg !default;
$o-autocomplete-color 				: $input-color !default;
$o-autocomplete-suggestion-color 	: $btn-primary-color !default;
$o-autocomplete-suggestion-bg-color	: $btn-primary-bg !default;

/* Chart library configuration for visualized statistics */
$o-d3chart-default 				: $brand-primary !default;
$o-d3chart-light 				: lighten($brand-primary, 15%) !default;
$o-d3chart-dark 				: darken($brand-primary, 15%) !default;

/* Toggle sliders */
$o-toggle-size					: 16px !default;
$o-toggle-border-color			: $gray-light !default;
$o-toggle-bg					: $gray-lighter !default;
$o-toggle-off-color				: $gray-light !default;
$o-toggle-on-color				: $brand-primary !default;
$o-toggle-text-color			: $text-muted !default;

/* Dirty button */
$o-button-dirty-color			: $btn-warning-color !default;
$o-button-dirty-bg				: $btn-warning-bg !default; 
$o-button-dirty-border			: darken($o-button-dirty-bg	, 5%) !default;

/* Login page */
$o-login-header-color			: $brand-primary !default;
$o-login-form-width				: 400px !default;
$o-login-form-align				: right !default; 								/* left, center or right */
$o-login-form-bg-gradient-steps	: rgba(255,255,255,0.1) 0.2%, rgba(255,255,255,0.6) 60%, rgba(255,255,255,0.8) 100% !default;
$o-login-form-bg-img			: $o-images-path + "learn-bg.jpg" !default;  	/* image CC by Thomas Leuthard https://www.flickr.com/photos/thomasleuthard/8587724648/ */
$o-login-form-bg-position-left 	: center !default;
$o-login-form-bg-position-top	: center !default;
$o-login-btn-register-color		: $btn-info-color !default;
$o-login-btn-register-bg		: $btn-info-bg !default;
$o-login-btn-register-border	: darken($o-login-btn-register-bg, 5%) !default; 
$o-login-infomessage-border		: transparent !default;
$o-login-infomessage-radius		: $border-radius-base !default;
$o-login-infomessage-bg			: rgba(255,255,255,.5) !default;
$o-login-lead-color				: $text-color !default;
$o-login-lead-header-color		: $o-content-header-base-color !default;

/* Course and catalog site */
$o-coursesite-rowelem-width-md 	: 180px !default;
$o-coursesite-rowelem-height-md : 120px !default;
$o-coursesite-rowelem-width-sm 	: 120px !default;
$o-coursesite-rowelem-height-sm : 80px !default;
$o-coursesite-rowelem-width-xs 	: 75px !default;
$o-coursesite-rowelem-height-xs : 50px !default;
$o-coursesite-rowelem-border 	: #ccc !default; /* same as button default border */
$o-coursesite-rowelem-border-radius : $border-radius-base !default;
$o-coursesite-rowelem-bg		: #fcfcfc !default;
$o-coursesite-catalog-space 	: $padding-large-vertical * 2 !default;
$o-coursesite-catalog-space-sm 	: $padding-large-vertical !default;
$o-coursesite-catalog-space-xs 	: $padding-xs-vertical !default;
$o-coursesite-catalog-border 	: $o-coursesite-rowelem-border !default;
$o-coursesite-meta-title-color	: $brand-primary !default;
$o-coursesite-meta-author-color	: $state-success-text !default;
$o-coursesite-meta-title-font-size	: ceil(($font-size-base * 2.6)) !default; /* same as h1 default size: 36px */
$o-coursesite-start-color		: $btn-primary-color !default;
$o-coursesite-start-bg			: $btn-primary-bg !default;
$o-coursesite-start-border		: darken($o-coursesite-start-bg, 5%) !default;
$o-coursesite-book-color		: $btn-warning-color !default;
$o-coursesite-book-bg			: $btn-warning-bg !default;
$o-coursesite-book-border		: darken($o-coursesite-book-bg, 5%) !default;
$o-coursesite-details-color		: $btn-success-color !default;
$o-coursesite-details-bg		: $btn-success-bg !default;
$o-coursesite-details-border	: darken($o-coursesite-details-bg, 5%) !default;
$o-coursesite-go-xs-color		: $o-coursesite-start-color !default; 
$o-coursesite-go-xs-bg			: $o-coursesite-start-bg !default;

/* Repository */
$o-repo-preparation-color			: #4a6785;	/* blue */
$o-repo-review-color				: #FCCA46;	/* yellow */
$o-repo-coachpublished-color		: #1DC63F;	/* green-light */
$o-repo-published-color				: #14892c;	/* green */
$o-repo-closed-color				: #99583D;	/* brown */
$o-repo-trash-color					: #5A5958;	/* gray */
$o-repo-deleted-color				: #888;		/* black */
$o-repo-status-color-dark			: #333;
$o-repo-status-color-bright			: #fff;

/* Curriculum in course site */
$o-coursesite-curriculum-rowelem-height-md :	40px !default;

/* Course editor and runtime */
$o-course-show-icon-title		: false !default; 	// don't show icon in title - no info value
$o-course-show-icon-toc			: true !default;	// show icons in menu - looks prettier
$o-course-show-icon-menu		: true !default;	// show icons in menu - looks prettier
$o-course-show-icon-editor-menu : true !default;	// show icons in menu - looks prettier
$o-course-state-passed-color	: $state-success-text !default;
$o-course-state-failed-color	: $state-danger-text !default;
$o-course-state-unknown-color	: $state-warning-text !default;
$o-course-node-published		: $state-success-text !default;
$o-course-node-warning			: $state-warning-text !default;
$o-course-node-locked			: $state-info-text !default;
$o-course-node-error			: $state-danger-text !default;
$o-course-node-deleted			: $badge-bg !default;
/* Learning path */
$o-lp-not-accessible			: lighten($text-muted,10%) !default;
$o-lp-ready						: #FCCA46 !default; /* yellow */
$o-lp-in-progress				: $o-lp-ready !default;
$o-lp-done						: $state-success-text !default;
$o-lp-default					: #888 !default;
$o-lp-border					: 1px solid $navbar-default-border;
$o-lp-bg						: rgba(0,0,0,0.025);	
$o-lp-step-top					: 13px;
$o-lp-step-size					: 12px;
$o-lp-path-width				: 2px;
$o-lp-left						: 3px;


/* Curriculum */
/* Basic rendering configuration */
$o-curriculum-level-steps-enabled		: false !default;
$o-curriculum-entry-image-enabled		: true !default;
$o-curriculum-show-description			: false !default;
$o-curriculum-element-inactive-color	: #777;
/* Default styles for each level */
$o-curriculum-border				: none !default;
$o-curriculum-bg					: none !default;
$o-curriculum-cols					: 1 !default;
$o-curriculum-margin				: ($line-height-computed / 2) 0 ($line-height-computed / 4) 0;
$o-curriculum-title-bg				: transparent !default;
$o-curriculum-title-padding			: $padding-base-horizontal $padding-base-vertical ($padding-base-horizontal / 2) $padding-base-vertical!default;
$o-curriculum-lifecycle-bg			: transparent !default;
$o-curriculum-lifecycle-padding		: ($padding-base-horizontal / 2) $padding-base-vertical $padding-base-horizontal $padding-base-vertical!default;
/* Level 0 specific styling */
$o-curriculum-l0-show-description	: true !default;
$o-curriculum-l0-border				: 1px solid #eee !default;
$o-curriculum-l0-bg					: #f6f6f6 !default;
$o-curriculum-l0-margin				: ($line-height-computed / 2) 0 ($line-height-computed / 4) 0 !default;
$o-curriculum-l0-title-bg			: $o-curriculum-title-bg !default;
$o-curriculum-l0-title-padding		: $padding-base-horizontal $padding-base-vertical !default;
$o-curriculum-l0-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
$o-curriculum-l0-lifecycle-bg		: $o-curriculum-lifecycle-bg !default;
$o-curriculum-l0-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
/* Level 1 specific rendering */
$o-curriculum-l1-show-description	: $o-curriculum-show-description !default;
$o-curriculum-l1-border				: $o-curriculum-border !default;
$o-curriculum-l1-bg					: $o-curriculum-bg !default;
$o-curriculum-l1-margin				: $o-curriculum-margin !default;
$o-curriculum-l1-title-bg			: #ebebeb !default;
$o-curriculum-l1-title-padding		: $o-curriculum-title-padding !default;
$o-curriculum-l1-lifecycle-bg		: $o-curriculum-l1-title-bg !default;
$o-curriculum-l1-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
/* Level 2 specific rendering */
$o-curriculum-l2-show-description	: $o-curriculum-show-description !default;
$o-curriculum-l2-border				: $o-curriculum-border !default;
$o-curriculum-l2-bg					: $o-curriculum-bg !default;
$o-curriculum-l2-margin				: $o-curriculum-margin !default;
$o-curriculum-l2-title-bg			: $o-curriculum-title-bg !default;
$o-curriculum-l2-title-padding		: $o-curriculum-title-padding !default;
$o-curriculum-l2-lifecycle-bg		: $o-curriculum-lifecycle-bg !default;
$o-curriculum-l2-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
/* Level 3 specific rendering */
$o-curriculum-l3-show-description	: $o-curriculum-show-description !default;
$o-curriculum-l3-border				: $o-curriculum-border !default;
$o-curriculum-l3-bg					: $o-curriculum-bg !default;
$o-curriculum-l3-margin				: $o-curriculum-margin !default;
$o-curriculum-l3-title-bg			: $o-curriculum-title-bg !default;
$o-curriculum-l3-title-padding		: $o-curriculum-title-padding !default;
$o-curriculum-l3-lifecycle-bg		: $o-curriculum-lifecycle-bg !default;
$o-curriculum-l3-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
/* Render all curriculum elements with courses in multi columnn layout? If no set to 1 */
$o-curriculum-entry-cols			: 2 !default;
$o-curriculum-entry-bg				: #f6f6f6 !default;
/* Element type specific styles */
/* Type course program */
$o-curriculum-style-program-show-description	: $o-curriculum-l0-show-description !default;
$o-curriculum-style-program-cols				: 1 !default;
$o-curriculum-style-program-border				: $o-curriculum-l0-border !default;
$o-curriculum-style-program-bg					: $o-curriculum-l0-bg !default;
$o-curriculum-style-program-margin				: $o-curriculum-l0-margin !default;
$o-curriculum-style-program-title-bg			: $o-curriculum-l0-title-bg !default;
$o-curriculum-style-program-title-padding		: $o-curriculum-l0-title-padding !default;
$o-curriculum-style-program-lifecycle-bg		: $o-curriculum-l0-lifecycle-bg !default;
$o-curriculum-style-program-lifecycle-padding	: $o-curriculum-l0-lifecycle-padding !default;
/* Type semester as part of a course program */
$o-curriculum-style-semester-show-description	: $o-curriculum-l1-show-description !default;
$o-curriculum-style-semester-cols				: 1 !default;
$o-curriculum-style-semester-border				: $o-curriculum-l1-border !default;
$o-curriculum-style-semester-bg					: $o-curriculum-l1-bg !default;
$o-curriculum-style-semester-margin				: $o-curriculum-l1-margin !default;
$o-curriculum-style-semester-title-bg			: $o-curriculum-l1-title-bg !default;
$o-curriculum-style-semester-title-padding		: $o-curriculum-l1-title-padding !default;
$o-curriculum-style-semester-lifecycle-bg		: $o-curriculum-l1-lifecycle-bg !default;
$o-curriculum-style-semester-lifecycle-padding	: $o-curriculum-l1-lifecycle-padding !default;
/* Type module within a semester */
$o-curriculum-style-module-show-description		: $o-curriculum-l2-show-description !default;
$o-curriculum-style-module-cols					: $o-curriculum-entry-cols !default;
$o-curriculum-style-module-border				: $o-curriculum-l2-border !default;
$o-curriculum-style-module-bg					: $o-curriculum-entry-bg !default;
$o-curriculum-style-module-margin				: $o-curriculum-l2-margin !default;
$o-curriculum-style-module-title-bg				: $o-curriculum-l2-title-bg !default;
$o-curriculum-style-module-title-padding		: $o-curriculum-l2-title-padding !default;
$o-curriculum-style-module-lifecycle-bg			: $o-curriculum-l2-lifecycle-bg !default;
$o-curriculum-style-module-lifecycle-padding	: $o-curriculum-l2-lifecycle-padding !default;
/* Type single course */
$o-curriculum-style-course-show-description		: $o-curriculum-l2-show-description !default;
$o-curriculum-style-course-cols					: 1 !default;
$o-curriculum-style-course-border				: $o-curriculum-l2-border !default;
$o-curriculum-style-course-bg					: $o-curriculum-l2-bg !default;
$o-curriculum-style-course-margin				: $o-curriculum-l2-margin !default;
$o-curriculum-style-course-title-bg				: $o-curriculum-l2-title-bg !default;
$o-curriculum-style-course-title-padding		: $o-curriculum-l2-title-padding !default;
$o-curriculum-style-course-lifecycle-bg			: $o-curriculum-l2-lifecycle-bg !default;
$o-curriculum-style-course-lifecycle-padding	: $o-curriculum-l2-lifecycle-padding !default;

/* Asssessment */
$o-assessment-mode-today-bg						: $state-success-bg !default;
$o-assessment-mode-today-border-color			: $state-success-text !default;
$o-assessment-mode-end-soon-bg					: $state-danger-bg !default;
$o-assessment-mode-end-soon-border-color		: $state-danger-text !default;

/* Portfolio v2 */
$o-portfolio-assignment-color						: $brand-danger !default;
$o-portfolio-assignment-background-color			: $state-danger-bg !default;
$o-portfolio-assignment-font-size					: $font-size-small !default;
$o-portfolio-editor-border-color					: lighten($brand-primary, 20%) !default;
$o-portfolio-editor-border-width					: 25px !default;
$o-portfolio-media-browser-space					: $padding-large-vertical * 2 !default;
$o-portfolio-media-browser-space-sm					: $padding-large-vertical !default;
$o-portfolio-media-browser-space-xs					: $padding-xs-vertical !default;
$o-portfolio-media-browser-rowelem-width-md 		: 180px !default;
$o-portfolio-media-browser-rowelem-line-height-md 	: 140px !default;
$o-portfolio-media-browser-rowelem-width-sm 		: 80px !default;
$o-portfolio-media-browser-rowelem-line-height-sm 	: 55px !default;
$o-portfolio-media-browser-border 					: $brand-primary !default;
$o-portfolio-media-browser-meta-title-color			: $brand-primary !default;
$o-portfolio-entry-draft-color						: $brand-warning !default;
$o-portfolio-entry-published-color					: $brand-primary !default;
$o-portfolio-entry-inrevision-color					: $brand-danger !default;
$o-portfolio-entry-closed-color						: $brand-success !default;
$o-portfolio-entry-deleted-color					: #000 !default;
$o-portfolio-entry-incoming-color					: $brand-success !default;
$o-portfolio-entry-inprocess-color					: #c8c8c8 !default;
$o-portfolio-entry-done-color						: $brand-success !default;
$o-portfolio-media-content-background-color			: #f8f8f8 !default;
$o-portfolio-media-content-space					: $padding-large-vertical !default;
$o-portfolio-lead-space-sm							: $padding-large-vertical !default;
$o-portfolio-lead-background-color					: lighten($gray-base, 95%) !default;
$o-portfolio-lead-border-color						: darken($o-portfolio-lead-background-color,10%) !default;
$o-portfolio-lead-border-radius						: $border-radius-small !default;
$o-portfolio-lead-ended-background-color			: lighten($brand-danger, 30%) !default;
$o-portfolio-lead-ended-border-color				: darken($o-portfolio-lead-ended-background-color	,10%) !default;
$o-portfolio-page-summary-font-size					: $font-size-large !default;

/* Editor */
$o-editor-settings-bg								: #f9f9f9 !default;
$o-editor-title-dark								: #000 !default;
$o-editor-title-bright								: #f9f9f9 !default;
$o-editor-hover-border-color						: #ef00ef !default;
$o-editor-drop-border-color							: #a0a0b0 !default;
$o-editor-drag-accepted-color						: #e80c96 !default;
$o-editor-container-border-color					: #eeeeee !default;
$o-editor-container-level-1-bg-color				: transparent !default;
$o-editor-container-level-2-bg-color				: transparent !default;
$o-editor-container-level-3-bg-color				: transparent !default;


/* QTI2 eAssessment */
$o-qti-status-notPresented-color					: lighten($text-muted,40%) !default;
$o-qti-status-notAnswered-color						: $brand-warning !default;
$o-qti-status-answered-color						: $brand-success !default;
$o-qti-status-ended-color							: $brand-info !default;
$o-qti-status-invalid-color							: $brand-danger !default;
$o-qti-status-review-color							: $brand-info !default;
$o-qti-attempts-color								: $text-muted !default;
$o-qti-attempts-limited-color						: $brand-warning !default;
$o-qti-attempts-nomore-color						: $brand-info !default;
$o-qti-menu-link-color								: $o-tree-link-color !default;
$o-qti-menu-link-hover-color						: $o-tree-link-hover-color !default;
$o-qti-menu-link-active-color						: $o-tree-link-active-color !default;
$o-qti-menu-link-active-hover-color					: $o-tree-link-active-hover-color !default;
$o-qti-menu-link-active-hover-bg					: $o-tree-link-active-hover-bg !default;
$o-qti-menu-link-active-font-weight					: $o-tree-link-active-font-weight !default;
$o-qti-menu-bg										: $o-toolbar-bg-color !default;
$o-qti-menu-border-color							: $o-toolbar-border-color !default;
$o-qti-menu-border-radius							: $border-radius-base !default;
$o-qti-item-title-bg								: $o-qti-menu-bg !default;
$o-qti-item-title-border-color						: $o-qti-menu-border-color !default;
$o-qti-item-title-border-radius						: $o-qti-menu-border-radius !default;
$o-qti-item-min-height								: 200px !default;
$o-qti-item-border-color							: $o-qti-menu-border-color !default;
$o-qti-item-controls-bg								: $o-qti-menu-bg !default;
$o-qti-item-controls-border-color					: $o-qti-menu-border-color !default;
$o-qti-item-controls-border-radius					: $o-qti-menu-border-radius !default;
$o-qti-run-infos-bg									: $o-qti-menu-bg !default;
$o-qti-run-infos-border-color						: $o-qti-menu-border-color !default;
$o-qti-run-infos-border-radius						: $o-qti-menu-border-radius !default;
$o-qti-run-infos-progress-bg						: #eee !default;
$o-qti-run-infos-question-progress-color			: $brand-primary !default;
$o-qti-run-infos-score-progress-color				: $brand-primary !default;
$o-qti-badResponse-color							: $state-danger-text !default;
$o-qti-badResponse-warning-color					: $state-warning-text !default;
$o-qti-highlight-color								: $brand-danger !default;
$o-qti-bar-green									: $brand-success !default;
$o-qti-bar-red										: $brand-danger !default;
$o-qti-success										: $brand-success !default;
$o-qti-failure										: $brand-warning !default;
$o-qti-error										: $brand-danger !default;
$o-qti-box-bg										: #eee !default;
$o-qti-box-color									: #666 !default;
$o-qti-choice-tablelayout-bg						: #e7e7e7 !default;
$o-qti-userselection-color							: $text-color !default;
$o-qti-userselection-bg								: $state-info-bg !default;
$o-qti-userselection-border-color					: $state-info-border !default;
$o-qti-gap-border-color								: #999 !default;
$o-qti-gap-drag-border-color						: $brand-primary !default;
$o-qti-gap-selected-border-color					: $brand-primary !default;
$o-qti-hottext-color								: $text-color !default;
$o-qti-hottext-bg									: $o-qti-menu-bg !default;
$o-qti-hottext-border-color							: $o-qti-menu-border-color !default;
$o-qti-hottext-border-radius						: 2px !default;
$o-qti-hottext-checked-color						: $o-qti-userselection-color !default;
$o-qti-hottext-checked-bg							: $o-qti-userselection-bg !default;
$o-qti-hottext-checked-border-color					: $o-qti-userselection-border-color !default;
$o-qti-match-border-color							: #999 !default;
$o-qti-match-choosed-border-color					: #777 !default;
$o-qti-match-drag-border-color						: $brand-warning !default;
$o-qti-match-sources-bg								: $o-qti-run-infos-bg !default;
$o-qti-match-sources-border-color					: $o-qti-run-infos-border-color !default;
$o-qti-match-source-bg								: $state-warning-bg !default;
$o-qti-match-source-border-style						: dashed !default;
$o-qti-match-selected-border-color					: $brand-warning !default;
$o-qti-match-selected-bg								: lighten($brand-warning, 25%) !default;
$o-qti-match-drop-accept-border-color				: darken($brand-info, 25%) !default;
$o-qti-match-target-border-color						: $brand-info !default;
$o-qti-match-target-bg								: $state-info-bg !default;
$o-qti-match-border-radius							: $panel-border-radius !default;
$o-qti-match-true-false-unanswered-bg				: lighten($gray-lighter, 5%) !default;
$o-qti-match-true-false-right-bg						: lighten($brand-success, 40%) !default;
$o-qti-match-true-false-wrong-bg						: lighten($brand-danger, 40%) !default;
$o-qti-match-kprim-correct-bg						: lighten($brand-success, 40%) !default;
$o-qti-match-kprim-wrong-bg							: lighten($brand-danger, 40%) !default;
$o-qti-order-source-border-style						: dashed !default;
$o-qti-order-sources-border-color					: $o-qti-run-infos-border-color !default;
$o-qti-order-border-radius							: $panel-border-radius !default;
$o-qti-order-source-bg								: $state-warning-bg !default;
$o-qti-order-sources-bg								: $o-qti-run-infos-bg !default;
$o-qti-order-drop-accept-border-color				: darken($brand-info, 25%) !default;
$o-qti-order-target-bg								: $state-info-bg !default;
$o-qti-order-target-border-color						: $brand-info !default;
$o-qti-textEntryInteraction-color					: $text-color !default;
$o-qti-textEntryInteraction-bg						: #fff !default;
$o-qti-textEntryInteraction-border-color				: $o-qti-gap-border-color !default;
$o-qti-textEntryInteraction-filled-color				: $o-qti-userselection-color !default;
$o-qti-textEntryInteraction-filled-bg				: $o-qti-userselection-bg !default;
$o-qti-textEntryInteraction-filled-border-color		: $o-qti-userselection-border-color !default;

/* Video module */
$o-video-marker-bg-color							: #efefef;
$o-video-time-marker-default-bg-color				: $brand-info;

/* Lecture module */
$o-lm-current-bg									: $o-toolbar-bg-color !default;
$o-lm-current-border-color							: transparent !default; 
$o-lm-current-border-radius							: $border-radius-base !default;

/* Chat and other floating window */
$o-dialog-window-bg				: #fefefe !default;
$o-dialog-window-bar-bg			: #eee !default;
$o-dialog-header-color			: $brand-primary !default;
$o-dialog-header-font-weight	: $headings-font-weight !default;

/* Instant messaging and chat */
$o-im-chat-load-font-size		: $font-size-small !default;
$o-im-chat-history-border		: $gray-lighter !default;
$o-im-chat-message-bg			: #fff !default;
$o-im-chat-message-bg-alt		: #F4F4F4 !default;
$o-im-chat-message-border		: #eee !default;
$o-im-chat-from-color			: $gray-light !default;
$o-im-chat-from-font-size		: floor($font-size-base * 0.9) !default;
$o-im-chat-date-color			: $text-muted !default;
$o-im-chat-date-font-size		: floor($font-size-base * 0.7) !default;
$o-im-chat-body-font-size		: floor($font-size-base * 0.9) !default;
$o-im-groupchat-font-size		: floor($font-size-base * 0.9) !default;
$o-im-groupchat-user-color 		: $text-color !default;
$o-im-groupchat-vip-color 		: $state-success-text !default;
$o-im-groupchat-anonymous-color : $state-info-text !default;
$o-im-buddies-font-size			: floor($font-size-base * 0.9) !default;
$o-im-buddies-link-color		: $link-color !default;
$o-im-buddies-link-hover-color	: $link-hover-color !default;
$o-im-summary-color				: $badge-color !default;
$o-im-summary-bg				: $badge-bg !default;
$o-im-status-available-color	: #006633 !default;
$o-im-status-dnd-color			: #CCCC33 !default;
$o-im-status-unavailable-color	: #996633 !default;
$o-im-newmessage-color			: $brand-danger !default;
$o-im-newmessage-hover-color	: lighten($brand-warning, 10%) !default;

/* Forum module */
$o-forum-quote-author-color 	: $text-muted !default;
$o-forum-quote-padding			: $padding-large-vertical;
$o-forum-quote-color 			: $gray !default;
$o-forum-quote-font-size		: $font-size-small !default;
$o-forum-attachment-font-size	: $font-size-small !default;

/* Evaluation forms */
$o-evaluation-block-margin-top				: 2em !default;
$o-evaluation-block-margin-bottom			: 2em !default;
$o-evaluation-side-labels-font-weight		: normal !default;
$o-evaluation-step-labels-margin-bottom		: 1em !default;
$o-evaluation-step-labels-font-weight		: bold !default;
$o-evaluation-step-background-color 		: $table-bg-accent !default;
$o-evaluation-slider-margin-bottom			: 1em !default;
$o-evaluation-slider-hover-background-color	: $table-bg-hover !default;

$o-evaluation-insufficient-color 			: $brand-danger !default;
$o-evaluation-neutral-color					: $brand-warning !default;
$o-evaluation-sufficient-color				: $brand-success !default;
$o-evaluation-anonymous-info-display		: inherit !default;

/* Quality management */
$o-qual-status-color-dark			: #333;
$o-qual-status-color-bright			: #fff;
$o-qual-dc-preparation-color		: #4a6785;
$o-qual-dc-ready-color				: #ffd351;
$o-qual-dc-ready-color-dark			: #333;
$o-qual-dc-running-color			: #993333;
$o-qual-dc-finished-color			: #14892c;
$o-qual-exec-future-color			: #4a6785;
$o-qual-exec-ready-color			: #ffd351;
$o-qual-exec-ready-color-dark		: #333;
$o-qual-exec-participating-color	: #993333;
$o-qual-exec-participated-color		: #14892c;
$o-qual-exec-over-color				: #aaa;
$o-qual-hm-base-background-color	: #337ab7;

/* Portlets site */
$o-portlet-border				: $panel-default-border !default;
$o-portlet-border-radius		: $panel-border-radius !default;
$o-portlet-bg					: $panel-bg !default;
$o-portlet-header-bg			: $panel-default-heading-bg !default;;
$o-portlet-edit-border			: $panel-warning-border !default;
$o-portlet-edit-bg				: $panel-warning-heading-bg !default;

/* Full text search results */
$o-search-context-color			: $state-success-text !default;
$o-search-details-color			: $text-muted !default;
$o-search-details-font-size		: $font-size-small !default;
$o-search-details-bg			: #fff !default;
$o-search-excerpt-color			: $gray !default;
$o-search-highlight-color		: transparent !default; //google has no bgcolor. If you want one, try $state-warning-bg;
$o-search-highlight-font-weight	: bold !default;

/* Message boxes */
$o-box-margin					: 20px !default;
$o-box-padding					: 20px !default;
$o-box-border-left-size			: 3px !default;
$o-box-info-bg					: $gray-lighter !default;
$o-box-info-color				: $gray-light !default;
$o-box-note-bg					: $state-info-bg !default;
$o-box-note-color				: $state-info-text !default;
$o-box-important-bg				: #FFF1A4 !default;
$o-box-important-color			: #F4D000 !default;
$o-box-success-bg				: $state-success-bg !default;
$o-box-success-color			: $state-success-text !default;
$o-box-warning-bg				: $state-warning-bg !default;
$o-box-warning-color			: $state-warning-text !default;
$o-box-error-bg					: $state-danger-bg !default;
$o-box-error-color				: $state-danger-text !default;

/* Context help buttons */
$o-chelp-font-size				: 10px !default;
$o-chelp-font-weight			: $btn-font-weight !default;
$o-chelp-bg						: $btn-primary-bg !default;
$o-chelp-color					: $btn-primary-color !default;
$o-chelp-border					: $btn-primary-border !default;
$o-chelp-border-radius			: 2px !default;
/* Form context help, aka help text */
$o-chelp-tooltip-color			: lighten($text-color, 25%) !default;

/* Date component */
$o-datecomp-border				: $gray !default;
$o-datecomp-month-bg			: $brand-primary !default;
$o-datecomp-month-color			: #fff !default;
$o-datecomp-day-bg				: $body-bg !default;
$o-datecomp-day-color			: $text-color !default;

/* Highscore component */
$o-hs-position-title-color			: gradient !default;
$o-hs-position-title-size			: 3em !default;
$o-hs-position-title-weight			: 700 !default;
$o-hs-position-size					: 1.2em !default;
$o-hs-position-weight				: bold !default;
$o-hs-position-relative-size		: 1em !default;	
$o-hs-position-relative-weight		: normal !default;	

$o-hs-podium-border					: 1px solid #d9d9d9 !default;
$o-hs-podium-border-radius			: $panel-border-radius !default;
$o-hs-podium-bg-gradientstyle		: true !default;
$o-hs-podium-first-bg				: #FFD700 !default;
$o-hs-podium-second-bg				: #C0C0C0 !default;
$o-hs-podium-third-bg				: #cd7f32 !default;

$o-hs-score-color					: $text-muted !default;
$o-hs-score-size					: 90% !default;
$o-hs-rank-first-color				: #666 !default;
$o-hs-rank-second-color				: #666 !default;
$o-hs-rank-third-color				: #666 !default;

$o-hs-podium-height					: 300px !default;
$o-hs-podium-margin-bottom			: 50px !default;
$o-hs-podium-first-height			: 150px !default;
$o-hs-podium-second-height			: 100px !default;
$o-hs-podium-third-height			: 80px !default;

$o-hs-singleportrait-vertical-align	: -125px !default;
$o-hs-position-height				: 30px !default;
$o-hs-position-fontsize				: 130% !default;

$o-hs-histogram-height				: 300px !default;
$o-hs-histogram-bottom				: -40px !default;
$o-hs-histogram-margin-bottom		: 40px !default;

$o-hs-histogram-axis-color				: #888 !default;
$o-hs-histogram-text-color				: #888 !default;
$o-hs-histogram-bar-myself-color		: $brand-primary !default;
$o-hs-histogram-bar-myself-hover-color	: lighten($brand-primary,10%) !default;
$o-hs-histogram-bar-other-color			: $gray-light !default;
$o-hs-histogram-bar-other-hover-color	: lighten($gray-light, 10%) !default;
$o-hs-histogram-bar-empty-color			: black !default;

/* Process step component */
$o-step-border-width		: 4px !default;
$o-step-milestone-size		: ($o-step-border-width * 4) !default;
$o-step-padding-top			: 10px !default;
$o-step-padding-left		: 30px !default;
$o-step-padding-bottom		: 10px !default;
$o-step-color				: $gray-light !default;
$o-step-active-color		: $brand-primary !default;
$o-step-active-marker-color	: $o-step-active-color !default;
$o-step-done-color			: lighten($brand-primary,10%) !default;
$o-step-done-marker-color	: $brand-success !default;
$o-step-meta-color			: $text-muted !default;
$o-step-meta-size			: $font-size-small !default;


/* Radial progress component */
$o-radial-progress-circle-size			: 120px !default;
$o-radial-progress-circle-size-sm		: 60px !default;
$o-radial-progress-circle-size-lg		: 180px !default;
$o-radial-progress-circle-size-inline	: $line-height-computed !default;
$o-radial-progress-circle-bg			: #eee !default;
$o-radial-progress-circle-color			: $progress-bar-bg !default;
$o-radial-progress-inset-color			: #fff !default;
$o-radial-progress-number-color			: $progress-bar-bg !default;
$o-radial-progress-addon-color			: $text-muted !default;
$o-radial-progress-margin 				: 10px !default;
$o-radial-progress-circle-success-color		: $progress-bar-success-bg !default;
$o-radial-progress-percentage-success-color	: $progress-bar-success-bg !default;
$o-radial-progress-circle-warning-color		: $progress-bar-warning-bg !default;
$o-radial-progress-percentage-warning-color	: $progress-bar-warning-bg !default;
$o-radial-progress-circle-danger-color		: $progress-bar-danger-bg !default;
$o-radial-progress-percentage-danger-color	: $progress-bar-danger-bg !default;
$o-radial-progress-circle-info-color		: $progress-bar-info-bg !default;
$o-radial-progress-percentage-info-color	: $progress-bar-info-bg !default;

/* Drawing (border cannot be change without modifications of the jquery plugin and hotspot interaction) */
$o-drawing-border-color		: $brand-primary;
$o-drawing-border-width		: 2px !default;

/* Placeholder panels */
$o-panel-placeholder-border-width			: 2px !default;
$o-panel-placeholder-border-radius			: 10px !default;
$o-panel-placeholder-color					: #888 !default;
$o-panel-placeholder-font-weight			: bold !default;
$o-panel-placeholder-border-color			: #ccc!default;
$o-panel-placeholder-border-active-color	: $brand-primary !default;
$o-panel-placeholder-bg						: #fcfcfc !default;
$o-panel-placeholder-bg-active				: #f7f7f7 !default;
$o-panel-placeholder-padding				: 10px !default;

/* Citations */
$o-cit-quote-font-size			: $font-size-large !default;
$o-cit-quote-color				: $o-forum-quote-color !default;

/* Sliders */
$o-slider-border					: #aaa !default;
$o-slider-background				: #f9f9f9 !default;
$o-slider-handler-border-color		: $brand-primary !default;
$o-slider-handler-background-color	: $brand-primary !default;

/* Labels */
$o-labeled_color					: #fff !default;
$o-labeled_bg-color					: #777 !default;
$o-labeled-light-bg-color			: $o-toolbar-bg-color !default;

/* QPool */
$o-qpool-arrow-bg-color				: $o-toolbar-bg-color !default;
$o-qpool-arrow-border-bottom-width	: 3px !default;
$o-qpool-arrow-selected-bg-color	: $o-navbar-link-active-bg !default;
$o-qpool-arrow-selected-color		: $o-navbar-link-active-color !default;

$o-qpool-status-color-dark			: #333 !default;
$o-qpool-status-color-bright		: #fff !default;
$o-qpool-draft-color				: #4a6785 !default;
$o-qpool-review-color				: #ffd351 !default;
$o-qpool-review-color-dark			: #333 !default;
$o-qpool-revised-color				: #993333 !default;
$o-qpool-finalVersion-color			: #14892c !default;
$o-qpool-endOfLife-color			: #aaa !default;

/* Email */
$o-email-brand							: $btn-primary-bg !default;
$o-email-font-family					: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$o-email-max-width						: 768px !default;
$o-email-content-margin					: 14px 0 14px 0 !default;
$o-email-content-padding-left			: 12px !default;
$o-email-content-h1-color				: $btn-primary-color !default;
$o-email-content-h1-bg					: $o-email-brand !default;
$o-email-content-strong-color			: $o-email-brand !default;
$o-email-footer-color					: rgb(170,170,170) !default;
$o-email-footer-top-color				: $o-email-brand !default;
$o-email-btn-color						: $btn-primary-color !default;
$o-email-btn-bg							: $btn-primary-bg !default;
$o-email-btn-border-color				: $btn-primary-border !default;
$o-email-btn-border-radius				: 4px !default;

/* Appointments */
$o-ap-select-icon-color				: #fcfcfc !default;
$o-ap-selectable-color				: $panel-default-border !default;
$o-ap-planned-color					: $brand-warning !default;
$o-ap-confirmed-color				: $brand-success !default;

/* other configurations */
$o-portrait-radius				: 50% !default;
$o-portrait-border				: none !default;
$o-bookmark-color				: #bc2d0c !default;
$o-imagebg-text-background		: rgba(255, 255, 255, 0.8) !default;
$o-progress-marker-color		: rgb(255, 0, 0) !default; /* danger color */
$o-cal-desc-background-color	: $o-toolbar-bg-color !default;


/* Files and Folders */
$o-files-size-okay					: #61E868;
$o-files-size-warning				: #FFB100;
$o-files-size-large					: #E82A0C;
$o-file-upload-border-bottom-color	: $text-muted;

/* Contact tracing */
$o-ct-confirmation-bg-color		: limegreen;

/* AddRemove Component */
$o-addremove-add-color			: $state-success-bg;
$o-addremove-remove-color		: $state-danger-bg;

/* Tags */
$o-tag-background-color			: $brand-primary !default;
$o-tag-font-color				: #fff;
$o-tag-selected-background-color: $o-button-dirty-bg;
$o-tag-selected-border-color	: $o-button-dirty-border;

/* Competences */
$o-competences-color				: darken($brand-primary, 5%);
$o-competences-font-color			: $o-competences-color;
$o-competences-selected-bg-color	: #fff;
$o-competences-selected-color		: $o-button-dirty-bg;
$o-competences-selected-border-color: $o-button-dirty-border;



