@charset "UTF-8";

/*
 * =================================================
 * Import of all submodules and includes, can be reused 
 * by other themes. Normally you do not have to modify
 * this file.
 * =================================================
 */

/* Bootstrap classes. Override bootstrap variables in your _config.scss file */
@import "modules/bootstrap";

/* -------- OpenOLAT modules -------- */
@import "modules/icons"; /* must be first include - provides classes used as extensions */
@import "modules/emoticons";
@import "modules/mixins";
@import "modules/helpers";

/* general layout */
@import "modules/layout";
@import "modules/main";
@import "modules/footer";
@import "modules/navbar";
@import "modules/toolbar";
@import "modules/offcanvas";

/* components */
@import "modules/dialog";
@import "modules/tree";
@import "modules/breadcrumb";
@import "modules/form";
@import "modules/table";
@import "modules/im";
@import "modules/flags";
@import "modules/rating_and_comments";
@import "modules/chart";
@import "modules/forum";
@import "modules/various_modules";
@import "modules/autocomplete";
@import "modules/search";
@import "modules/wizard";

/* sites specific styles */
@import "modules/cal";
@import "modules/coursesite";
@import "modules/repository";
@import "modules/course";
@import "modules/courseeditor";
@import "modules/qti";
@import "modules/devel";
@import "modules/wiki";
@import "modules/portfolio";
@import "modules/admin";
@import "modules/qpool";
@import "modules/dmz";
@import "modules/imscp";
@import "modules/portal";
@import "modules/library";
@import "modules/translationtool";


@import "modules/thirdparty";

//@import "modules/print";



