/* Error: There is no module with the namespace "math".
 *     ,
 * 458 | $o-curriculum-margin                : math.div($line-height-computed,2) 0 math.div($line-height-computed,4) 0!default;
 *     |                                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   light/_config.scss 458:27  @import
 *   light/content.scss 20:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "math".\a     \2577 \a 458 \2502  $o-curriculum-margin                : math.div($line-height-computed,2) 0 math.div($line-height-computed,4) 0!default;\a     \2502                                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   light/_config.scss 458:27  @import\a   light/content.scss 20:9    root stylesheet';
}
