/*
Syntax error: Invalid CSS after "...-shadow($shadow": expected ")", was "...) {"
        on line 68 of light/../../bootstrap/stylesheets/bootstrap/mixins/_vendor-prefixes.scss
        from line 16 of light/../../bootstrap/stylesheets/bootstrap/_mixins.scss
        from line 25 of light/content.scss

63: // Drop shadows
64: //
65: // Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's
66: // supported browsers that have box shadow capabilities now support it.
67: 
68: @mixin box-shadow($shadow...) {
69:   -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
70:           box-shadow: $shadow;
71: }
72: 
73: // Box sizing

Backtrace:
light/../../bootstrap/stylesheets/bootstrap/mixins/_vendor-prefixes.scss:68
light/../../bootstrap/stylesheets/bootstrap/_mixins.scss:16
light/content.scss:25
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:898:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/script/lexer.rb:193:in `expected!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/script/parser.rb:448:in `assert_tok'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/script/parser.rb:328:in `defn_arglist!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/script/parser.rb:102:in `parse_mixin_definition_arglist'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:788:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:788:in `sass_script'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:135:in `mixin_directive'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:130:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:130:in `special_directive'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:109:in `directive'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:379:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:372:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:57:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:26:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/engine.rb:320:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/engine.rb:252:in `to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:145:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:145:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:145:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/engine.rb:293:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/engine.rb:240:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/exec.rb:397:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/exec.rb:294:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.7/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-shadow($shadow\": expected \")\", was \"...) {\"\A         on line 68 of light/../../bootstrap/stylesheets/bootstrap/mixins/_vendor-prefixes.scss\A         from line 16 of light/../../bootstrap/stylesheets/bootstrap/_mixins.scss\A         from line 25 of light/content.scss\A \A 63: // Drop shadows\A 64: //\A 65: // Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's\A 66: // supported browsers that have box shadow capabilities now support it.\A 67: \A 68: @mixin box-shadow($shadow...) {\A 69:   -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1\A 70:           box-shadow: $shadow;\A 71: }\A 72: \A 73: // Box sizing"; }
