@charset "UTF-8";

/*
 *  =================================================
 *  
 *   SaSS file for OpenOLAT email styles. This is 
 *   included in email to nicely display content. 
 *   
 *   @author uhensler, www.frentix.com
 *   @date November 2018
 *
 *	 also read themes.README!
 *  =================================================
 */
@use "sass:color";
@use "sass:math";

@import "functions";
@import "config";

/*** General style of the email text ***/
.o_email_body {
	font-family: $o-email-font-family;
	max-width: $o-email-max-width;

	.o_email_content {
		margin: $o-email-content-margin;
		padding-left: $o-email-content-padding-left;
		
		h1 {
			background-color: $o-email-content-h1-bg;
			color: $o-email-content-h1-color;
			padding: 20px 0 20px $o-email-content-padding-left;
			margin-bottom: 30px;
			margin-left: -$o-email-content-padding-left;
			font-size: x-large;
		}
		
		strong {
			color: $o-email-content-strong-color;
		}
	}
	.o_email_footer {
		font-size: smaller;
		color: $o-email-footer-color;
		border-top: 5px solid $o-email-footer-top-color;
		padding: 4px 12px;
		margin-top: 1em;
		
		a {
			color: $o-email-footer-color;
		}
	}
}

// Use the font of the OpenOLAT theme inside the OpenOLAT mailbox.
.o_mail_message {
	.o_email_body {
		font-family: inherit;
	}
}


/*** Buttons ***/
/* Usage:
	...  <a class="o_email_button" href="https://www.openolat.com/">OpenOLAT</a> ...
	... <div class="o_email_button_group o_email_button_group_left"><a class="o_email_button" href="$url">Open report</a></div> ...
*/
.o_email_body {
	.o_email_button {
		color: $o-email-btn-color;
		background-color: $o-email-btn-bg;
		border-color: $o-email-btn-border-color;
		border-radius: $o-email-btn-border-radius;
		padding: 6px 12px;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		text-decoration: none;
	}
	
	.o_email_button_group {
		margin-top: 1em;
		margin-bottom: 1em;
		text-align: center;
		
		a {
			margin-right: 5px;
			margin-bottom: 0.5em;
			font-weight: bold;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	/* use together with o_email_button_group to have buttons left or right aligned */
	.o_email_button_group_left {
		text-align: left;
	}
	.o_email_button_group_right {
		text-align: right;
	}
}

