@charset "UTF-8";

/*
 * =================================================
 *  
 * Main SASS file for the OpenOLAT default theme
 *   
 * @author gnaegi,  www.frentix.com
 * @date April 2014
 *
 * please read themes.README to create your own themes!
 *
 *  =================================================
 */
@use "sass:color";
@use "sass:math";
 
@import "license";

@import "config";
@import "modules";

@import "patches";
