#macro (o_togglebox_start $uid $title)
<div class="o_togglebox_wrapper o_block">
	<a href="#$uid" data-toggle="collapse" data-target="#${uid}" class="o_opener" onclick="jQuery(this).toggleClass('o_in'); return false;">
		<i class="o_icon o_icon-fw o_icon-lg"></i> 
		$title
	</a>
	<div id="$uid" class="collapse">
		<div class="o_togglebox_content clearfix">	
#end

#macro (o_togglebox_end)
		</div>
	</div>
</div>
#end