/* SELECTION TREE  (when you insert a BuildingBlock into a course) */
div.b_selectiontree { 
	font-size: 95%; 
	div.b_selectiontree_item { 
		clear: both; position: relative; top: 0; left: 0; vertical-align:middle; height: 16px; width: auto;
		div { width: 16px;	height: 16px; float: left; display: inline;	background-repeat: no-repeat; }    
		div.b_selectiontree_content { float: left; display: inline; margin-left: 0.5em; width: auto; white-space: nowrap; }     
	}
	div.b_selectiontree_content { 
		width: auto;
		div { width: auto;}
		input { width: 1em; height: 1em; padding: 0; margin: 0 0.5em; vertical-align: middle;}
		input.b_radio { margin: 0;}
	}
	.b_selectiontree_line {background-image: url(../openolat/images/tree/dots.gif); }
   	.b_selectiontree_space {background-image: url(../openolat/images/tree/dots_spacer.gif); }
   	.b_selectiontree_junction {background-image: url(../openolat/images/tree/dots_nt.gif); }
   	.b_selectiontree_end {background-image: url(../openolat/images/tree/dots_nl.gif); }
}

#b_main.o_editor {
	#b_col3 { background-image: url(../openolat/images/edit_bg.png); background-position: top left; background-repeat:repeat;}
	div.b_tabbedpane_wrapper div.b_tabbedpane_content { background:#fff;}	
}




/** ------------------ COURSE EDITOR --------------- **/
#o_course_editor_errorbox {
	font-size: 90%;
	padding: 3px 2px 2px 25px;
	margin: 0 0 1em 0;
}
div.o_courseeditor_legend { 
	margin-top: 3em;
	strong { font-weight: bold; }
	div { top: 0; left: 0; padding-left: 12px; background-repeat: no-repeat; background-position: 0 50%; }
}
	
/* COURSE */
div.o_course_run {
	h3 {}

	div.o_course_run_displaytitle { font-style: italic;}
	div.o_course_run_objectives { background-color: #E9EAEF; padding: 5px 5px 5px 25px; margin:0; border:1px solid #C5C4C4;  @include o-border-radius(4px);}
	div.o_course_run_scoreinfo {background: #E9EAEF url(../openolat/images/seal.png) no-repeat 5px 5px; padding: 5px 5px 5px 25px; margin: 1.5em 0; border:1px solid #C5C4C4; @include o-border-radius(4px);} 
	div.o_course_run_disclaimer {background: #E9EAEF url(../openolat/images/information-white.png) no-repeat 5px 5px; padding: 5px 5px 5px 25px; margin: 1.5em 0; border:1px solid #C5C4C4; @include o-border-radius(4px);}  
	div.o_course_run_groupinfo{ background: #E9EAEF url(../openolat/images/users.png) no-repeat 5px 5px; padding: 5px 5px 5px 25px; margin: 1.5em 0; border:1px solid #C5C4C4;@include o-border-radius(4px);} 
	div.o_course_run_statusinfo {background: url(../openolat/images/bullet_go.png) no-repeat 5px 5px; padding: 5px 5px 5px 25px; margin: 1.5em 0; border:1px solid #C5C4C4; @include o-border-radius(4px);}  
	div.o_course_run_returnbox { background: #E9EAEF url(../openolat/images/box_return.png) no-repeat 5px 5px; padding: 5px 5px 5px 25px; margin: 1.5em 0; border:1px solid #C5C4C4; @include o-border-radius(4px);}
	div.o_course_run_dropbox { background: #E9EAEF url(../openolat/images/box_drop.png) no-repeat 5px 5px; padding: 5px 5px 5px 25px; margin: 1.5em 0; border:1px solid #C5C4C4; @include o-border-radius(4px);}
	div.o_course_run_solutionbox { background: #E9EAEF url(../openolat/images/box_solution.png) no-repeat 5px 5px; padding: 5px 5px 5px 25px; margin: 1.5em 0; border:1px solid #C5C4C4; @include o-border-radius(4px);}
	div.o_course_run_task { background: #E9EAEF url(../openolat/images/assign.png) no-repeat 5px 5px; padding: 5px 5px 5px 25px; margin: 1.5em 0; border:1px solid #C5C4C4; @include o-border-radius(4px);}
	div.o_course_run_disclaimer h4,
	div.o_course_run_objectives h4,	
	div.o_course_run_scoreinfo h4,
	div.o_course_run_returnbox h4,
	div.o_course_run_dropbox h4, 
	div.o_course_run_solutionbox h4,
	div.o_course_run_task h4,
	div.o_course_run_log h4 { font-size: 100%; margin: 0 0 1em 0;}
	div.o_course_run_scoreinfo_noinfo { font-style: italic; font-weight: bold} 
	div.o_course_run_toc { 
		margin: 1em 0 0 0;
		div.o_course_run_toc_entry { margin: 0 0 1em 0; padding: 1em 20px 0 0; } 
		div.o_course_run_shorttitle { border-bottom: 1px solid #ACAAAA; } 
		div.o_course_run_displaytitle { margin-top: 0.5em; color: #aaaaaa } 
		div.o_course_run_objectives { margin: 1em 0 1em 0; border: 0; background: none;} 
		div.o_course_run_toc_entry { background: #FBFBFB; padding: 5px; border:1px solid #eee; @include o-border-radius(4px); }  
	} 

	#b_content_popup { position:absolute; top:0; right:0; }
}

div.o_course_run_toc_one_columns { } 
div.o_course_run_toc_two_columns { }

div.o_sp_peekview { 
	margin: 1em 0 1em 0;
	ul { list-style: none; }
	li { margin-top: 0.5em;}
	a { position: relative; left: -20px; }
}

div.o_peekview_author { padding: 3px 0 5px 0; font-style: italic; color: #aaaaaa; font-size: 90%;}
	
/* course preview */
#b_preview_wrapper {
	clear:both;
	padding:10px;
	background:#fff;
	border-bottom:1px solid $basecolor_light;
}

#b_main.b_preview {
	@include o-box-shadow(0,0,0,#fff);
	background: #fff url(../openolat/images/prevbg.png) repeat;
}


/* fullscreen ( TEST & SCORM ) */
/* Full screen */
body.b_full_screen {
	 background-color: white; background-image:none; 
	#b_page_margins {display:none;}
	 
	div#b_preview_wrapper {
		margin: 5px; border:1px solid #ddd; padding:0; 
		@include o-border-radius(5px);
		@include o-box-shadow(0,1px,2px,lightGrey);
	 	background: #ebebeb url(../images/brasato/eportfolio/artefaktbg.png) top left repeat-x; 
	 	
	 	div.b_preview_link { border:none; }
	 	div.b_preview_link div.b_preview_wrapper_loading { background:transparent url(../openolat/images/ajax-loader.gif) no-repeat top left; }
	}
}
div#b_preview_wrapper div#b_preview_wrapper_message { float:right; padding-left:16px; width:100px; }

	
	