/* FEED general */	
#o_feed { 
		
	.o_box { border:1px solid #eee; padding: 0.8em; margin-bottom: 2em; 
		@include o-gradient-white();
		@include o-border-radius(4px); }
	div.o_feed_edit { float: right; position:relative; top:0.2em; margin-right:0 }
	#o_link_container {
		margin-bottom: 0.8em; 
		div.o_home { text-align: center; }
		div.o_older_items { float: left; display: inline;}
		div.o_newer_items { float: right; display: inline;}
	}
	
}

div.o_feed_peekview { 
		margin: 1em 0 1em 0;
		h5 { font-size: 1em; position: relative; left: -20px;}
		div.o_feed_peekview_item { padding-left: 20px; }
}
#o_feed div.b_datecomp { top: 2px; float: left; display: inline; }

/* PODCAST */
#o_feed { 
	p.o_podcast_date { font-size:80%; color:#aaaaaa; }
	div.o_podcast_info img.icon { float: left; margin: 0 1.5em 1.5em 0; max-width:120px; max-height:120px; }	
	div.o_podcast_no_image { 
		float:left; margin: 0 1em 1em 0; width:100px; height:100px; color:#dfdfdf; background:white; text-align:center; padding:20px; border: 2px dashed #dfdfdf;
		@include o-border-radius(5px);
		span { vertical-align:middle; }
	}
	div.o_podcast_subscription { 
		clear:both; 
		a.o_podcast_rss_link { display:block; float:right; width:16px; height:16px; background: url(../openolat/images/feed.png) no-repeat; }
	}

	div.o_podcast_episode { 
		padding:10px; margin-top:20px; border: 1px solid #dfdfdf;
		background-color: #fdfdfd; 
		@include o-border-radius(5px);
	}
	div.o_podcast_episode {
		div.b_ratings_and_comments { margin: 2em 0 0 0; padding-bottom: 0; border-bottom: 0;}
		div.o_podcast_audio {
			margin-bottom:3px;
			embed { width: 200px; height:24px; }
		}
		div.o_podcast_video {
			margin-bottom:3px;
			embed { width: 200px; height:157px; }
		}
	}
	
	.back_link.o_podcast { margin-bottom: 1.5em; }
}
div.o_podcast_peekview div.o_feed_peekview_item a.o_feed_item_icon {background-image: url(../openolat/images/control/speaker-volume.png); }

/* BLOG */
#o_feed .o_blog_posts .o_post, #o_feed .o_blog_post .o_post {  margin-bottom:1em; padding:10px 0; }
#o_feed .o_blog_posts .o_draft { padding: 0.8em; background-color: #fcf7ac; border: 1px solid #fddc55; }
#o_feed .o_blog_posts .o_scheduled { padding: 0.8em; background-color: #d9ffd0; border: 1px solid #beffae; }
#o_feed div.o_blog_info div.o_blog_subscription { min-height:16px; padding-left:20px; background: url(../openolat/images/feed.png) no-repeat; }	
#o_feed .o_blog_info .o_author, #o_feed .o_blog_posts .o_item_info { color: #7D7D7D; font-size: 90%; margin: 0;}
#o_feed .o_blog_posts p.o_item_info span.o_item_info_mod { color:#98221F; }
#o_feed .o_blog_post .back_link { margin-bottom: 1.5em; }
div.o_blog_peekview div.o_feed_peekview_item a.o_feed_item_icon {background-image: url(../openolat/images/comment.png); }
	