/** ----------------- BUTTONS  ----------------- **/

button { border:none; }

.b_button {
	@include btt-outer;
	&,span {@include btt-inner;}
	
	/* focused buttons */
	&:focus,&:hover {
		text-decoration: none;
		border:1px solid #C6C6C6;
		@include o-box-shadow(0, 1px, 1px, rgba(0,0,0,0.1));
	}
	&:focus {
		border:1px solid $basecolor;
	}
	&:active {
		@include o-box-shadow-inset(0, 1px, 2px, rgba(0,0,0,0.3));
		border:1px solid $basecolor;
	}
	
	&.b_button_preferred {
		$prfcol_1: mix($basecolor_light,#f5f5f5,  25%);
		$prfcol_2: #f1f1f1;
		@include o-gradient2($prfcol_1,$prfcol_2);
		border: 1px solid $basecolor; 
	}
}

/**
	 * fix button hover for IE8  ::   notice: for <= IE7, there is patches.css !
	 * @bugfix
	 * @affected   IE6, IE7, IE8
	 * @css-for    all browsers
	 * @valid      no!
*/	 
.b_button:focus, .b_button:hover {
	border: 1px solid #aaa;
} 

/* dirty button (form with unsaved values ) */
.b_button_dirty {
	@include o-gradient2( #ffffff,#FFF7E0);
	border-color: #ff9900;
	
	&:focus,&:hover {
		text-decoration: none;
		border:1px solid $selectcolor;
		@include o-gradient2( #ffffff,#FFF7E0);
	}
}

/* disabled buttons */
.b_disabled.b_button {
	&,span { @include btt-inner; cursor: default !important; color:#888;}
	
	@include btt-outer;
	border: 1px dotted #ccc;
	background:#fff;
	&:focus, &:hover {
		@include o-box-shadow(0, 0, 0, transparent);
	}
		
}


/* multiple buttons groups below a form */
div.b_button_group { text-align: center; margin: 2em 0 1em 0;}
div.b_button_group div { display: inline;}



.b_xsmall, sup, sub {
	font-size: 80%;
}
.b_small, small {
	font-size: 90%;
}

/* TOGGLE Buttons */
a.b_toggle { 
	white-space: nowrap; margin: 0 0.5em 0.2em 0; cursor: default; color: #2C2B2B;  border: 1px solid #aaa; -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px; display: inline-block; line-height: 1.5em; text-align: center; background: url(../openolat/images/toggle_off.png) top left repeat-x; 
	span { padding: 0 0.8em; }
	&:hover { background: #ddd; text-decoration: none; } 
	&.b_on:hover { background: #747474; }
	&.b_on,&:active,&.b_on:active { color: white; border: none; padding: 1px; @include o-box-shadow-inset(1px,1px,2px,rgba(0,0,0,0.5)); text-shadow: 1px 1px 2px rgba(0,0,0,0.5); }
	&:focus,&.b_on:focus{ text-decoration: none; }
	&:active,&.b_on:active{ background: url(../openolat/images/toggle_active.png) top left repeat-x; } 
	&.b_on { background: url(../openolat/images/toggle_on.png) top left repeat-x; }
	
}
span.b_toggle.b_disabled { white-space: nowrap; margin: 0 0.5em 0.2em 0; padding: 0 0.8em; color: #667; border: 1px solid #DDD; @include o-border-radius(10px); display: inline-block; line-height: 1.5em; text-align: center; background: url(../openolat/images/toggle_dis.png) top left repeat-x; }
/* TOGGLE SLIDERS */
a.b_toggle_slide {
	background: url(../openolat/images/handle.png) -63px 0px no-repeat; height: 25px; width: 85px; white-space: nowrap; margin: 0 0.2em 0.2em 0.2em; color: #2C2B2B;  border: 1px solid #aaa; @include o-border-radius(4px); display: inline-block; text-align: center; vertical-align: middle; position: relative;
	span { position: absolute; top: -25px; left:0;} 
	&:hover,&:focus,&:active,
	&.b_on:hover,&.b_on:focus,&.b_on:active{ border: 1px solid #868686; text-decoration: none; } 	
	&.b_on { background-position: -16px 0px; }
	&.b_disabled { background: url(../openolat/images/handle_dis.png) -63px 0px no-repeat; height: 25px; width: 85px; white-space: nowrap; margin: 0 0.5em 0.2em 0; color: #2C2B2B;  border: 1px solid #aaa; @include o-border-radius(4px); display: inline-block; text-align: center; vertical-align: middle;}
	
	/* TOGGLE SLIDERS SMALL */
	&.b_small { background: url(../openolat/images/handle_small.png) -41px 0px no-repeat; height: 16px; width: 55px;@include o-border-radius(2px);}
	& span { position: absolute; top: -16px; } 
	&.b_small.b_on { background-position: -9px 0px; }
}
span.b_toggle_slide.b_disabled { background: url(../openolat/images/handle_small_dis.png) -41px 0px no-repeat; height: 16px; width: 55px; white-space: nowrap; margin: 0 0.5em 0.2em 0; color: #2C2B2B;  border: 1px solid #aaa; @include o-border-radius(3px); display: inline-block; text-align: center; vertical-align: middle;}
span.b_toggle_slide_legend {font-size: 90%; }

/* BACK BUTTON  / LINK **/
.b_link_back {
	> span {padding: 0px 8px 0px 25px; background: transparent url('../openolat/images/arrow_left_big.png') no-repeat 4px center;}
	@include btt-outer;	
	/* focused buttons */
	&:focus,&:hover {
		text-decoration: none;
		border:1px solid #C6C6C6;
		@include o-box-shadow(0, 1px, 1px, rgba(0,0,0,0.1));
	}
	&:focus {
		border-color:$basecolor;
	}
	&:active {
		@include o-box-shadow-inset(0, 1px, 2px, rgba(0,0,0,0.3));
		border-color:$basecolor;
	}
}


.b_link_left_icon {
	> span {padding: 2px 8px 0px 25px; background-color: transparent; background-repeat: no-repeat; background-position: 4px center;}
	@include btt-outer;	
	/* focused buttons */
	&:focus,&:hover {
		text-decoration: none;
		border:1px solid #C6C6C6;
		@include o-box-shadow(0, 1px, 1px, rgba(0,0,0,0.1));
	}
	&:focus {
		border-color:$basecolor;
	}
	&:active {
		@include o-box-shadow-inset(0, 1px, 2px, rgba(0,0,0,0.3));
		border-color:$basecolor;
	}
}


.b_link_to_home {
	> span {background-image: url('../openolat/images/card-address.png');}
}

.b_link_course {
	> span {background-image: url('../openolat/images/book-open-next.png');}
}

.b_link_group {
	> span {background-image: url('../openolat/images/document-page-next.png');}
}

.b_link_mail {
	> span {background-image: url('../openolat/images/mail.png');}
}

.b_link_assessment {
	> span {background-image: url('../openolat/images/le_resources/thumb-up.png');}
}

.b_link_ok {
	> span {background-image: url('../openolat/images/tick.png');}
}

.b_link_nok {
	> span {background-image: url('../openolat/images/cross.png');}
}

.b_link_edit {
	> span {background-image: url('../openolat/images/docs/document--pencil.png');}
}

.b_move_left_icon {
	> span {background-image: url('../openolat/images/arrow_left_big.png');}
}

.b_move_right_icon { 
	> span {background-image: url('../openolat/images/arrow_right_big.png');}
}

.b_remove_icon {
	> span {background-image: url('../openolat/images/cross_small.png');}
}

.b_deletableentry_wrapper {
	.b_deletableentry {
		
	}
	
	.b_link_left_icon {
		border: none;
		background:inherit;
		margin: 0;
		
		&:focus, &:hover, &:focus, &:active {
			text-decoration: none;
			border:none;
			@include o-box-shadow(0, 0, 0, transparent);
		}
	}
}


/** ----------------- FORMS + LOGIN  ----------------- **/
div.o_login {
	div.o_login_form {
		margin-bottom: 2em;
		
		li {
			list-style:none;
		}
		fieldset legend {
			display: none;
		}
				
		/* fix pwd length isues on IE by explicitly define width */
		input {
			width: 15em;
			padding: 2px 3px 2px 3px;
		}
	}
}

div.b_form div.b_form_desc {
	padding-bottom: 1em;
	font-style: italic;
}

/* FORM: old school form and flexi form! */
/* general form elements */
input, select, textarea { border: 1px solid #ACAAAA; background: #F6F6F6; line-height: 1.3em; margin: 0;}
textarea { font-family: inherit; width: 100%; } /* FF changes font to monospace otherwhise */
input:focus, select:focus, textarea:focus { background: #fff; border: 1px solid #504D4E; }
input.b_checkbox, input.b_radio { height: 1em; width: 1em; border: 0; margin: 0 2px 0 0;}
label.b_checkbox_label, label.b_radio_label { padding-left: 0.5em; }
.b_inline_editable { padding: 1px 20px 1px 0; vertical-align: middle; min-height: 16px; }
.b_inline_editable:hover { background-position: 100% 50%; background-repeat: no-repeat; background-image: url(../openolat/images/pencil-small.png);}

span.b_inline_editable:hover {cursor:text !important;}

fieldset {
		position:relative;
		padding:1em;
		padding-top: 1.5em;
		border:none;
		border-top:1px solid $basecolor_light;
		legend { 
			font-family: $headerfont; 
			padding : 0 5px;
			font-size:120%;
			font-weight:bold; 
		}
}
		

div.b_form { 
	div.b_form_desc { padding-bottom: 1em; font-style: italic;}
	div.b_form_general_error { padding: 10px 10px 10px 50px; margin-bottom: 20px; text-align: left; background: url(../openolat/images/icon_error_32.png) no-repeat 10px 10px; min-height: 32px; border: 1px solid $nokcolor; color: $nokcolor; font-style: italic;}
	div.b_form_spacer { margin: 10px 0; }
	
	hr {	
		&.b_form_spacer { margin: 10px 0; border-bottom: 1px solid #eee; padding: 0;}
		&.b_form_spacer.b_form_horizontal { display: inline-block; width: 2em;}
		&.b_form_spacer.b_form_spacer_noline { margin: 10px 0; border-bottom: 0; padding: 0;}
	}
	
	
	
	/* form element wrapper: label and element */
	div.b_form_element_wrapper { 
		vertical-align: middle;
		margin: 0.5em 0;
		&.b_form_horizontal { vertical-align: middle; margin: 0.5em 1em 0.5em 0; float: left; display: inline;}
		&.b_form_vertical { vertical-align: middle; margin: 0.5em 0; float: none; display: block;}
		
		div.b_form_element_label{
			 width: 20%; float: left; display: inline;
			 label {  float: left; display: inline; line-height: 1.3em;}
			 span.b_form_mandatory { background: url(../openolat/images/star-small.png) no-repeat; padding-left: 16px; height: 16px;}
			&.b_form_horizontal { width: auto; float: left; display: inline;} 
		 	&.b_form_vertical { 
		 		width: auto; float: none; display: block; 
		 		margin-top: 1em;
		 		margin-bottom: 0.3em;
		 		label { float: none;}	
		 	} 
		} 
	 	
	 	div.b_form_element { 
	 		margin-left: 25%; padding: 0 2px 0 12px;  /* keep 2px space for 100% + border of textarea */
		 	&.b_form_horizontal {
		 		margin-left: 0; padding-left: 0; float: left; display: inline;
		 		.b_button { float: left; display: inline;}
		 	}
		 	&.b_form_vertical { margin-left: 0; margin-top: 0.5em; padding-left: 0; float: none; display: block; clear: both;}
	 	}
	 	
	 	/** errors  **/
	 	&.b_form_error {
	 		input,select {border: 1px solid $nokcolor; background: #ebcccc;}
	 	}
	 	div.b_form_error_msg { clear: both; color: $nokcolor; font-style: italic; display: block;}	
	 	
	 	div.b_form_element_wrapper {
			margin: 0;
		}
	 }

	/* form button groups */
	div.b_button_group { margin-left: 0%; padding-left: 0px; text-align: left; } /* make buttons aligned left within element */
	&.b_form_vertical div.b_button_group { text-align: left; }
	
	div.b_form_element div.b_form_example { display: inline; font-size: 80%; color: #504D4E;}
	div.b_form_element div.b_inline_elements div { display: inline; }
	
	div.b_form_element {
		.b_form_disabled { color: #504D4E; }
		.b_form_element_disabled { color: #9E9C9C; background: #EEEEEE; border: 1px solid #CDCBCB;}
		/* date and generic chooser icon*/
		span.b_form_datechooser { background: url(../openolat/images/calendar.png) no-repeat; padding-left: 18px; height: 16px; line-height: 16px; margin-left: 2px; padding-top:3px;}
		a.b_form_groupchooser { background: url(../openolat/images/users.png) no-repeat; padding-left: 18px; height: 16px;line-height: 16px; margin-left: 2px;}
		a.b_form_genericchooser { background: url(../openolat/images/users.png) no-repeat; padding-left: 18px; height: 16px;line-height: 16px; margin-left: 2px;}	
	    a.b_form_wikitext { background-repeat: no-repeat; padding-left: 12px; line-height: 1.5em; font-style: italic;}
		a.b_form_wikitext, .b_wiki_icon { background-image: url(../openolat/images/wiki/wiki_small_9px.png);}
	}

}// end div.b_form

div.b_labels_minified div.b_form div.b_form_element_wrapper {
		div.b_form_element_label {
			width: 10%;
		}
		
		div.b_form_element {
			margin-left: 12%;
		}
	}

// LOL :)  shift form to left if no labels (see linklist edit for example)
div.form_shift_left { left: -25%; }

div.b_button_group {
	div.b_form_element_wrapper { vertical-align: middle; margin: 0.5em 0; float: none; display: block;}
	div.b_form_element_wrapper div.b_form_element_label{ width: auto; float: none; display: block; } 
	div.b_form_element_wrapper div.b_form_element { margin-left: 0; }
}

.b_subcolumns {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.b_c25l, .b_c25r {
	input{max-width:93%;}
}

div.calendar { z-index:10000 !important; }
	
	
/* form element switches: checkbox left, lable right: override styles from above */
div.b_form div.b_form_element_wrapper.b_form_element_switch div.b_form_element { margin: 0; float: left;}
div.b_form div.b_form_element_wrapper.b_form_element_switch div.b_form_element_label {float: none; width: auto; display: block; padding-left: 2.5em;}
div.b_form div.b_form_element_wrapper.b_form_element_switch div.b_form_element_label label { float: none; }
div.b_form_subform { padding-left: 2.5em; }
/* selection lists */
div.b_form_selection_vertical div.b_form_selection_element{ vertical-align: middle; line-height: 1.3em; position: relative;}
div.b_form_selection_vertical div.b_form_selection_element input{ vertical-align: middle; line-height: 1.3em;}
div.b_form_selection_horizontal div.b_form_selection_element{ float: left; display: inline; padding-right: 1em;	}
div.b_form_selection_horizontal div.b_form_selection_element input { vertical-align: middle;}
/* toggle on / off */
div.b_form div.b_form_element div.b_form_togglecheck { font-size: 95%; display: block; vertical-align: middle; line-height: 16px; margin-top: 0.5em;}
div.b_form div.b_form_element div.b_form_togglecheck input { height: 1em; width: 1em; }
/* link list */
div.o_form_wrapper fieldset {min-width:60em;}
div.form_shift_left {position:inherit; left: -20%;}

/* FORM RICHTEXT ELEMENT */
div.mceExternalToolbar {background: #F0F0EE ! important; overflow: auto;} 

/* CHOICE */
table.b_choice { 
	padding: 0; margin: 0;
	td { 
		padding: 0.1em; margin: 0;
		&.b_choice_checkrow	{}
		&.b_choice_textrow {}
		&.b_togglecheck { 
			padding-top: 1em;
			div.b_togglecheck { display: inline; border-top: 1px solid #eee; }
			input { margin: 0 7px 0 2px;}
		}
	}
}

/* toolbars */
div.o_buttons_bar {
	div.o_buttons_box_right {
		position:relative;
		text-align:right;
		padding: 5px 0 5px 0;
	}
}

div.o_buttons_box_right {
	position:absolute;
	top:0;
	right:0;
}

/* fix wrong positioning of box withing fieldsets */
fieldset div.o_buttons_box_right {
	top: 1em;
}

div.b_box_with_chelp div.o_buttons_box_right {
	right: 20px;
}

/* buttons bar */
div.o_buttons_box_center {
	padding: 15px 0 0 0;
	text-align:center;
}
	
	
/* FILE CHOOSER : real file chooser is transparent on layer 2 to hide ugly browser button, below the visible fake file chooser on layer 1 */
div.b_fileinput { 
	position: relative;
	div.b_fileinput_fakechooser { 
		position: relative; 
		top: 0px; 
		left: 0px; 
		z-index: 1; 
		display: inline; 
		white-space: nowrap;
		a { 
			margin-left: 5px; 
		} 
	}
	span.b_fileinput_maxsize { 
		 /* same as mall icon left */
		padding: 1px 0 1px 1em; 
		font-style: italic; 
		min-height: 16px; 
		vertical-align: middle;
	}
	input.b_fileinput_realchooser { 
		position: absolute; 
		top: 0; 
		left: 0;
		height: 1.8em; 
		z-index: 2; 
		@include o-opacity(0); /* this is the magic: visually don't show the input element, but nevertheless catch click events */
	}
	div.b_button_group { 	
		text-align: left; 
		padding-left: 0; 
		margin-left: 0;
	}
}
.b_fileinput_icon { 
	background-image: url(../openolat/images/drive.png); 
}


/* PROGRESSBAR */
div.b_progress {}
div.b_progress div.b_progress_bar { height: 12px; border: 1px solid #bfbfbf; background:$basecolor_ultra_light; }
div.b_progress div.b_progress_bar div { height: 12px; @include o-gradient2($basecolor_light,$basecolor); }
div.b_progress div.b_progress_label {}
	
	
/* MARK */
.b_mark_set {
	background-image: url('../openolat/images/flag.png') ! important;
}
.b_mark_not_set {
	background-image: url('../openolat/images/flag_off.png') ! important;
}
div.b_mark { 
	width:20px; height:20px; 
	/* form within mark : no padding , no margin */
	div.b_form_element_wrapper {
		margin:0;
		div.b_form_element { margin:0; padding:0; } 
	}
	a { 
		background-position: center right; background-repeat: no-repeat; display:block; width:20px; height:20px; 
		span { display:block; width:19px; height:19px; }
		&:hover { text-decoration: none; }
	}
}
	
	
/* Fix for firefox strange spacing in button and other input elements (http://stackoverflow.com/questions/5517744/remove-extra-button-spacing-padding-in-firefox) */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner {
    padding: 0;
    border: 0
}
	
	