/* INSTANT MESSAGING */
#o_instantmessaging_status_changer {
		a.b_contexthelp { margin-top:5px; padding-right: 5px; }
		padding: 1em 0 0 0; margin: 0;
		ul { list-style-type: none; padding: 0; margin: 0;}
		li { 
			padding: 0; margin: 0;
			a { padding: 0.1em 0 0.1em 20px; background-repeat: no-repeat; background-position: 0 50%;} 
		}
}

.o_instantmessaging_chat_history, .o_groupchat_history {
	border: 1px solid #ACAAAA; overflow: scroll; margin: 0 0 1em 0; overflow-x:auto; height:170px;
	@include o-gradient-white();
}
.o_instantmessaging_chat_history div, .o_groupchat_history div { border-top: 1px solid #eee; padding: 0.3em 0;}	
.o_instantmessaging_chat_form input, .o_groupchat_chat_form input { width: 99%}
.o_instantmessaging_chat_form div.b_button_group, .o_groupchat_chat_form div.b_button_group {margin-top: 1em;}
#o_instantmessages_buddieslist {
		padding: 1em 0 0 0; margin: 0;
		a.b_contexthelp { margin-top:5px; padding-right: 5px; }
		ul {list-style-type: none; padding: 0; margin: 0} 
		li { margin: 0; padding: 0;}
		li.o_instantmessaging_groupname {padding: 0 0 0 20px; background: url(../openolat/images/users.png) no-repeat 0 0;} 
		li a { padding: 2px 0 2px 20px; background-repeat: no-repeat; background-position: 0 0; }
		a.o_instantmessaging_showgroupswitch {padding: 2px 0 2px 20px; background: url(../openolat/images/users_conf.png) no-repeat 0 0;} 
		a.o_instantmessaging_showofflineswitch {padding: 2px 0 2px 20px; background: url(../openolat/images/im/grstar.png) no-repeat 0 0;} 
}

div.o_groupchat_roster {
		margin: 0;
		ul { list-style-type: none;margin: 0; padding: 0;}
		li { font-size: 95%}
}

/* im icons */
.o_instantmessaging_available_icon { background-image: url(../openolat/images/im/gstar.png); }
.o_instantmessaging_dnd_icon { background-image: url(../openolat/images/im/gstar_cross.png); }
.o_instantmessaging_unavailable_icon { background-image: url(../openolat/images/im/grstar.png); }
.o_instantmessaging_offline_icon { background-image: url(../openolat/images/im/grstar.png);}
.o_instantmessaging_new_msg_icon { background-image: url(../openolat/images/im/new_message.png);}
.o_instantmessaging_error_icon { background-image: url(../openolat/images/cross.png);}	
.o_instantmessaging_refresh_icon {background-image: url(../openolat/images/qti/tries.png);} 
	
