	
/* Library */
div.f_library_catalog {
	div.b_tree{
		ul { white-space: normal;} /* overflowing menu */
		ul.b_tree_l1 li a.b_tree_icon { background-image: none ! important; }
	}
	div.f_metadata { background-color: #fcfcfc; margin-left:20px; padding:4px; }
	h4 { padding-left:25px; background-repeat: no-repeat; background-position: center left; }
	div.f_folder_info div.f_metadata { margin-bottom:1.5em; }
	table { }
	div.b_noti { right:90px; }
	div.f_thumbnails_switch { border:1px solid #E9EAEF; display:inline; position:absolute; top:0px; right:0px; float:right; padding:3px 3px 3px 23px; }
	div.f_thumbnails_on { background: url(../openolat/images/docs/document_preview.png) no-repeat 3px 50%; }
	div.f_thumbnails_off { background: url(../openolat/images/docs/document_preview.png) no-repeat 3px 50%; @include o-opacity(70); }
	
	th, td { text-align: left; font-size: 0.9em; color: #999; margin:0; padding:0; border:0; }
	th { font-weight:bold; width:14em; vertical-align: top; }
	h3.b_filetype_folder {margin-top:20px;}
	
	div.f_item { 
		margin-bottom:1em; padding: 0.5em;
		div.f_item_thumbnail { width:200px; height:200px; float: left; margin-right:20px; }
		div.f_item_links {
			a { background-repeat: no-repeat; }
			a.b_filetype_file { display:block; width:70%; float:left; padding:2px 10px 2px 20px; background-repeat: no-repeat; margin:0; }
			a.f_permalink { text-decoration:none; display:block; width:9px; height:9px; float:right; padding:4px 2px 2px 2px; margin:0; background-position:center center;  }
			span a.f_sendmail { text-decoration:none; background:url(../openolat/images/mail.png) no-repeat top left; display:block; width:16px; height:16px; float:right; padding:0 0 0 2px; margin:0;  }
		} 
		div.f_metadata { 
			position: relative; 
			@include o-border-radius(4px);
			@include o-box-shadow(0,1px,2px,#D3D3D3);
			
			div.f_thumbnail {float:left; border-right:1px solid #eeeeee; margin-right: 1em;}
			div.f_thumbnail_inner { width:200px; height:200px; }
			div.f_thumbnail_unavailable { width:200px; height:200px; background-repeat:no-repeat; background-position:50% 50%;  }
			
			div.f_metadata_text { padding-bottom: 35px; }
			div.f_metadata_text_inner { width:100%; }
			
			div.f_item_ratings { 
				position:absolute; bottom: 3px; right:3px; width:300px;
				div.b_ratings_and_comments { margin:0; border:none; } 
			}
		}
	}
	
	// selected item metadata
	div.f_item_selected div.f_metadata {
		background-color:#F0F0F0 !important; 
		@include o-box-shadow(1,1px,4px,#D3D3D3);
	}		 
	
	h3.f_search_results { background-image: url(../openolat/images/magnifier-zoom.png)  ! important; }
	
	
	 div.b_toolbox div.o_toolbox_searchbox {
		input { line-height: 1.3em; margin: 0; width: 10em;}
	 	input:focus { border: 1px solid #504D4E; }
	 	button { width: 16px; height: 16px; background: url(../openolat/images/magnifier-zoom.png) no-repeat; border: 0; vertical-align: top; }
	 }
}

div.f_library_overview {
	img { float: right; max-width: 50%; }
	p {padding-left: 20px;}
	div.f_library_big_icon { 
		float:right; 
		background-repeat:  no-repeat;
	   	background-size: 100%;
		/*
		width: 425px; 
		height: 282px; 
		*/
		width: 45%; /* scale dynamically */
		height: 300px; /* can not scale dynamically, thus make large enough */
		margin: 0 20px 0 20px;
	}
		
	div.f_library_newest_files ul li {
		white-space: normal; padding-bottom: 0.3em;
		a { background-position: top left; min-height: 16px; }
	}
}


/* icons */
.f_library_big_icon { background-image: url(../openolat/images/library_image.png); }
.f_library_icon { background-image: url(../openolat/images/library.png); }
.f_thumbnail_unavailable { background-image:url(../openolat/images/no_preview.png); }
	
	
	
	
	