/*  misc */


/* BUSINESS CARD &  Member site, members search  */
div.o_members_search { padding-top: 10px; padding-left: 10px;  }
div.filters { text-align: center; padding-top: 1.5em; }
div.o_members_search div.searchitem { margin-bottom: 0.5em; }
div.searchitem select, div.searchitem input { width: 250px; }
.o_members_register { margin-bottom: 5px; }
.o_members_register_active { font-weight: bold; font-size: 120%; }
div.o_members_paging { width: 100%; padding-bottom: 1em; padding-top: 0.5em; text-align: center; }
div.o_members_paging div { padding-left: 1em; padding-right: 1em; display: inline; }
	
div.o_bcard { background-color: #eee; margin-top: 10px; @include o-border-radius(6px); }
div.o_bcard_header, div.o_members_header {padding: 6px; border-bottom:1px solid #fff; }
div.o_bcard_portrait {
		float: left; display:inline; width: 100px; height: 100px; margin: 10px; 
		img {border:1px #d3d3d3 solid;}
}
div.o_bcard_portrait_group { background-image: url(../openolat/images/group_100x100.png); border:1px #d3d3d3 solid;}
div.o_bcard_text {margin-left: 120px; margin-top: 10px; line-height:150%}
div.o_bcard_footer {text-align: right; clear: both; font-size: 95%; color:rgb(31, 73, 179); padding: 5px;}


/*  social links (FB, twitter, google) */
#fx_share { 
	float:left; clear:left; margin-top:0.5em; width:250px; 
	a, span { margin: 0 0 0 3px; background-repeat: no-repeat; width: 16px; height: 16px; float: left; display: inline; @include o-opacity(60);}
	a:hover { @include o-opacity(100); }
	#fx_facebook {background-image: url(../openolat/images/social/facebook_16.png);}
	#fx_twitter {background-image: url(../openolat/images/social/twitter_16.png);}
	#fx_google {background-image: url(../openolat/images/social/google_16.png);}
	#fx_delicious {background-image: url(../openolat/images/social/delicious_16.png);}
	#fx_digg {background-image: url(../openolat/images/social/digg_16.png);}
	#fx_mail {background-image: url(../openolat/images/social/email_16.png);}
	#fx_link {background-image: url(../openolat/images/social/link_16.png);}
}
#callout_fx_link input { width:460px;}

#b_footer .fx_footer #b_footer_version {
	> a { display:block; min-height: 45px; height: 4em; background: transparent url('../../images/frentix/frentix_logo_grey.png') no-repeat left bottom ; }
	> a:hover { background-image: url('../../images/frentix/frentix_logo.png'); }
}

/* INFO MESSAGES */
div.o_infomsgs { 
		padding-top:5px; 
		div.b_datecomp { top: 2px; float: left; display: inline; }
		div.o_infomsg {  margin-bottom:1em; padding:10px 0 0 0; }
		.b_year { display: none; }
		.o_item_info { color: #7D7D7D; font-size: 90%; }
		.o_item_info .o_item_info_mod { color:#98221F; }
}

div.b_table_wrapper td a.o_peekview_infomsg_link { display:inline; }
div.o_infomsgs_config { 	
	padding-bottom:5px; 
	div { display:inline; }
}
.o_infomsg_icon { background-image: url(../openolat/images/information-button.png); }
.o_infomsg_create_button { position:absolute; top:0; right:250px; }
	
/* EMAIL */
.b_mail_icon { background-image: url(../openolat/images/mail.png) }
div.b_mail_message div.b_form_element_wrapper:first-child div.b_form_element{ font-weight: bold;}
.b_mail_new { width: 20px ! important; background-image: url(../openolat/images/new-text.png); }
.b_table_wrapper {
	span.b_mail_unread { display:block; display:inline-block; width:16px; height:16px; background:transparent url(../openolat/images/bullet_black.png) top left no-repeat;}
	span.b_mail_read {  display:block;display:inline-block; width:16px; height:16px;}
	span.b_mail_marked {  display:block;display:inline-block; width:16px; height:16px; background:transparent url(../openolat/images/flag.png) top left no-repeat;}
	span.b_mail_unmarked { display:block; display:inline-block; width:16px; height:16px; }
	.b_marked { font-weight: bold; }
}

ul.b_mail_attachments { 
		list-style: none; margin:0; padding:0;
		li { margin:0; } 
}
	
/* MEMBERS BB  ( Course Buildingblock: "Teilnehmerliste" ) */
div.o_cmembers {
	* { vertical-align:middle; }
	div.o_cmember { 
		float:left; 
		
		width:30%; 
		height:75px; /* let's fix this, we want all boxes the same height */
		overflow: hidden;
		margin: 5px 5px 5px 0; 
		padding:8px; 
		border:1px solid #ddd; 

		@include o_gradient2(#f6f6f6,#ebebeb);
		@include o-border-radius(5px);
		@include o-box-shadow(0, 1px, 2px, #d3d3d3);
		
		.o_cmember_portrait_wrapper { height:100%; width:65px; overflow:hidden; display:inline-block; margin-right: 5px;   border:1px solid #ddd;  }
		img.o_cmember_portrait { height:100%; width:100%; background-color:white; background-position:50% 50%; background-repeat:no-repeat; }
	}
	a.o_cmembers_mail { float:none; margin-left:5px; padding-left:20px; background-image:url(../openolat/images/mail.png); }
	a.o_cmembers_mail span { display:none; }
	h4 { padding: 7px 0 0 0; clear:both;}
}

/* LINK LIST */
div.o_ll_container ul li { 
		list-style: circle;
		margin: 1em; 
		div { font-style: italic;}
}
a.o_ll_browse span { display:block; width:20px; height:18px; background:url(../openolat/images/library.png) top left no-repeat; margin-left:1px;}

/* DATE COMPONENT (e.g. in notifications, shows calendar-image with date) */
div.b_datecomp {
		width: 2.5em; height: 3em; position: relative; margin-right: 5px;  font-weight: normal; color: white; text-align: center; vertical-align: middle; border: 1px solid #000; font-size: 85%;
		div { width: 100%;  position: absolute; left: 0;}
		div.b_year {height: 1em; top: -1.5em; font-size: 80%; font-weight: normal; color: #000; }
		div.b_month {background: #BE5B5D; height: 40%; top: 0; font-size: 80%; font-weight: normal; color: white; }
		div.b_day {background: #fff; height: 60%; bottom: 0; font-size: 120%; font-weight: bold; color: #000; border-top: 1px solid #000; border-bottom: 1px solid #aaaaaa; }
}
	

/* Dummy user portrait (avatar) display */
img.o_portrait_dummy                {background-image: url(../openolat/images/dummy.png); width: 100px; height: 100px;}
img.o_portrait_dummy_small          {background-image: url(../openolat/images/dummy_small.png); }
img.o_portrait_dummy_female_big     {background-image: url(../openolat/images/dummy_female_big.png); width: 100px; height: 100px;}
img.o_portrait_dummy_female_small   {background-image: url(../openolat/images/dummy_female_small.png); }
img.o_portrait_dummy_male_big       {background-image: url(../openolat/images/dummy_male_big.png); width: 100px; height: 100px;}
img.o_portrait_dummy_male_small     {background-image: url(../openolat/images/dummy_male_small.png); }



/* Portlet admin. */
div.fx_portal_admin { margin-top: 10px; }
div.fx_portlets_column { 
	width:30%; float:left; margin-right: 10px; 
	div.b_portlet { min-height:1em; }
}
div.fx_portlets_column_name { 
	padding: 5px 5px 0px 5px;
	span { color:#4F576A; font-weight:bold; text-deocration:underline; }
}
div.fx_portlets_column_portlets { border:1px solid #eee; @include o-border-radius(4px); @include o-gradient-white(); }

div.fx_available_portlets { 
		width:28%; float:right;
		div.b_portlet { min-height:1em; } 
}

div.fx_portlets_admin_column { min-height:12em; }


/* Site admin. */
div.fx_site_admin_column { float:left; }
div.fx_site_admin_column div.fx_site_definition { min-height:1em;}
	
/* --------------- SUBSCRIPTIONS / Abonnements / NOTIFICATIONS --------------*/
div.o_notifications_news_wrapper {}
div.o_notifications_news_datechooser { 
	border-bottom: 1px solid #bbb; padding:1em 0 1em 0;
	 label { padding-right:1em;}
}
div.o_notifications_news_subscription { 
	margin: 1.5em 0 2em 0;
	h4 { font-size: 110%; }
}
div.o_notifications_news_context { color: #7D7D7D; font-size: 90%; }
div.o_notifications_news_content {
	margin: 0.5em 0 0.5em 0;
	ul { list-style-type: none; margin: 0;}
}
div.o_notifications_news_url { }
		
		
		
/* --------------- FULLTEXT SEARCH --------------- */
#o_search_form { margin: 5px; position: relative;}
#o_search_form_toggler {background-image: url(../openolat/images/magnifier-zoom.png); cursor: pointer;}
#o_search_form_content div.b_form div.b_form_element_wrapper div.b_form_element_wrapper { margin: 0.5em 0; }
#o_search_form div.b_contexthelp_wrapper a.b_contexthelp { right: 0;}	
#o_search_results {border-top: 1px solid #eee; margin: 5px;}
#o_search_results_header { 
		line-height: 16px; vertical-align: middle; background: url(../openolat/images/magnifier-zoom.png) no-repeat center left #F8F8F8; padding:2px 2px 2px 20px; margin-bottom: 5px;
		
		div.o_search_results_stats { float: right; display: inline; font-size: 90%;}
		span.o_search_highlight { padding-left: 2em;}
} 
#o_search_results_header.o_search_did_you_mean,
#o_search_results_header.o_search_no_results { background-image: url(../openolat/images/exclamation.png); color: #990000; }
#o_search_results_header.o_search_did_you_mean span.o_search_did_you_mean_words{ color: #000; font-weight: bold;}
#o_search_results_header #o_search_pageing { padding-left: 2em; display: inline; }
#o_search_pageing_bottom { text-align: center; background: #F8F8F8; border-bottom: 1px solid #eee; padding: 3px;}
#o_search_results_toomany { background: url(../openolat/images/exclamation.png) no-repeat center left #F8F8F8; color: #990000; padding: 5px 0 3px 20px; position: relative; top: -5px; margin-bottom: 5px;} 
div.o_search_result {margin: 0 0 1em 0; padding: 1em 0 0 0; }
div.o_search_result_title a {font-weight: bold; } 
div.o_search_result_title a.o_search_result_details_link { margin-left: 1em; font-weight: normal; font-size: 90%; vertical-align: bottom;}
div.o_search_result_excerpt { 
		padding: 2px 0 1px 0; font-size: 95%; max-width: 60em;
		 span.o_search_result_highlight { font-weight: bold; background-color: #FFFF80;}
}


div.o_search_result_context, 
div.o_search_result_author,
div.o_search_result_lastmod,
div.o_search_result_type,
div.o_search_result_desc { padding: 1px 0; font-size: 90%; color: #667;}
a.o_fulltext_search_button { background:url(../openolat/images/magnifier-zoom.png) top left no-repeat; }



/* nicer html error pages (404, 403, 500 ) */
div.error-box { 
	width: 400px;
	margin: 30px auto;
	padding: 20px;
	border: 2px solid $basecolor;
	border-radius: 6px; 
	background: white;
	@include o-box-shadow(0,2px, 4px, #ccc);
	@include o-border-radius(6px);
	
	h1 {
		background-image: url(../openolat/images/icon_warning_32.png);
		background-repeat: no-repeat;
		padding-left: 30px;
		font-size: 14pt;
		font-weight: bold;
	}
}



/** -------------- TAGGING ---------------- **/
/* tagging */
.b_tag_list { background: url(../openolat/images/tag-label-yellow.png) 0px 3px no-repeat !important; }
.b_tag_icon { background-image: url(../openolat/images/tag-label-yellow.png); }
	
	
div.b_tags {
	margin: 2em 0; 
	div { padding: 0.5em 0 0 20px; }
	span.b_tag { font-size: 80%; padding: 5px 2px 5px 2px;line-height:3em; white-space: nowrap;}
}
	
	
/* TextboxList  */
*:first-child + html div.holder { padding-bottom: 2px; }
* html div.holder { padding-bottom: 2px; } /* ie7 and below */
.textbox-outer	{ 
	list-style-type: none; 
	margin-left: 0em;
}

/* autocompleter bitbox (item) holder */
a.bit-box, span.b_tag { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; padding-right: 15px; position: relative; }
div.holder { 
	font-size:80%;
	min-width: 200px; width: auto; margin: 0; overflow: hidden; height: auto !important; height: 1%; padding: 0px 0px 0; cursor: text;
	a { float: left; margin: 0 5px 4px 0; }
	a.bit { text-decoration: none; color: black; }
	a.bit:active,  a.bit:focus { outline: none; }
	a.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
	a.bit-input .maininput { border: 1px solid $basegray_ultra_light;  } 
	a.bit-input input { 
		width: 100px; 
		margin: 0; 
		border: none; 
		background: white; 
		outline: 0; 
		padding: 3px 0 2px;/* no left/right padding here please */ 
		
		&.smallinput { width: 20px; }
	} 
	
	a.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
	a.bit-box-focus { background: #598BEC; color: #fff; }
	a.bit-box {
		a.closebutton { position: absolute; right: 0; top: 5px	; display: block; width: 7px; height: 7px; font-size: 1px; background: url('../openolat/images/tag_x.gif'); }
		a.closebutton:hover { background-position: 7px; }
		a.closebutton:active { outline: none }
	}
	a.bit-box-focus a.closebutton,  a.bit-box-focus a.closebutton:hover { background-position: bottom; }
}


/* Autocompleter for textboxlist */
ol.textbox-outer { margin: 0; padding: 0;}
.textboxlist-auto { 
	position: absolute; 
	width: 300px; 
	overflow: visible;
	display: none;   // hide at first, will be shown by JS on user input
	background: #eee;
	z-index: 2;  // has to be "on top " of e.g.  the taglist in "add artefact wizard"
	
	.default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px; }
	ul { 
		display: none; margin: 0; padding: 0; 
		overflow: auto; 
		li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; }
		li.loading-indicator { padding-left: 30px; background-position: 5px center; cursor: defat; font-size: 100.01% ! important; line-height: 1.5em; }
		li.more-indicator { cursor: defat; font-style: italic; }
		li em { font-weight: bold; font-style: normal; background: #ccc; }
		li.auto-focus { background: #4173CC; color: #fff; }
		li.auto-focus em { background: none; }
	}
}
input.inputMessage { color: #AAA; font-size: 11px; }

.b_wizard {
	.textbox-outer { 
		background: url(../openolat/images/tag-label-yellow.png) top left no-repeat;
		li { margin-left:18px; } 
	}
	.textboxlist-auto ul li { margin-left:0;}
	div.holder a.bit-input input { background: #f8f8f8; padding: 0.4em; }
}

/* classes to use in course layout generator to have previews in dropdown elements */
/* note: this does not work in chrome (jan2012, chrome 16.0.) */
.clgen_font_arial { font-family: arial,helvetica; }
.clgen_font_arial_black { font-family: arial black,avant garde; }
.clgen_font_comic { font-family: comic sans ms,sans-serif; }
.clgen_font_courier { font-family: courier new,courier; }
.clgen_font_georgia	{ font-family: georgia,serif; }
.clgen_font_impact { font-family: impact,chicago; }
.clgen_font_lucida { font-family: lucida console,monaco,monospace; }
.clgen_font_palatino { font-family: palatino linotype,book antiqua,palatino,serif; }
.clgen_font_times { font-family: times new roman,times; } 
.clgen_font_verdana { font-family: verdana,geneva,sans-serif; }
.clgen_font_xxlarge { font-size: 130%; }
.clgen_font_xxsmall { font-size: 70%; }
option.Black { background-color: Black ; }
option.Navy { background-color: Navy ; }
option.DarkBlue { background-color: DarkBlue ; }
option.MediumBlue { background-color: MediumBlue ; }
option.Blue { background-color: Blue ; }
option.DarkGreen { background-color: DarkGreen ; }
option.Green { background-color: Green ; }
option.Teal { background-color: Teal ; }
option.DarkCyan { background-color: DarkCyan ; }
option.DeepSkyBlue { background-color: DeepSkyBlue ; }
option.DarkTurquoise { background-color: DarkTurquoise ; }
option.MediumSpringGreen { background-color: MediumSpringGreen ; }
option.Lime { background-color: Lime ; }
option.SpringGreen { background-color: SpringGreen ; }
option.Aqua { background-color: Aqua ; }
option.Cyan { background-color: Cyan ; }
option.MidnightBlue { background-color: MidnightBlue ; }
option.DodgerBlue { background-color: DodgerBlue ; }
option.LightSeaGreen { background-color: LightSeaGreen ; }
option.ForestGreen { background-color: ForestGreen ; }
option.SeaGreen { background-color: SeaGreen ; }
option.DarkSlateGray { background-color: DarkSlateGray ; }
option.DarkSlateGrey { background-color: DarkSlateGrey ; }
option.LimeGreen { background-color: LimeGreen ; }
option.MediumSeaGreen { background-color: MediumSeaGreen ; }
option.Turquoise { background-color: Turquoise ; }
option.RoyalBlue { background-color: RoyalBlue ; }
option.SteelBlue { background-color: SteelBlue ; }
option.DarkSlateBlue { background-color: DarkSlateBlue ; }
option.MediumTurquoise { background-color: MediumTurquoise ; }
option.Indigo  { background-color: Indigo  ; }
option.DarkOliveGreen { background-color: DarkOliveGreen ; }
option.CadetBlue { background-color: CadetBlue ; }
option.CornflowerBlue { background-color: CornflowerBlue ; }
option.MediumAquaMarine { background-color: MediumAquaMarine ; }
option.DimGray { background-color: DimGray ; }
option.DimGrey { background-color: DimGrey ; }
option.SlateBlue { background-color: SlateBlue ; }
option.OliveDrab { background-color: OliveDrab ; }
option.SlateGray { background-color: SlateGray ; }
option.SlateGrey { background-color: SlateGrey ; }
option.LightSlateGray { background-color: LightSlateGray ; }
option.LightSlateGrey { background-color: LightSlateGrey ; }
option.MediumSlateBlue { background-color: MediumSlateBlue ; }
option.LawnGreen { background-color: LawnGreen ; }
option.Chartreuse { background-color: Chartreuse ; }
option.Aquamarine { background-color: Aquamarine ; }
option.Maroon { background-color: Maroon ; }
option.Purple { background-color: Purple ; }
option.Olive { background-color: Olive ; }
option.Gray { background-color: Gray ; }
option.Grey { background-color: Grey ; }
option.SkyBlue { background-color: SkyBlue ; }
option.LightSkyBlue { background-color: LightSkyBlue ; }
option.BlueViolet { background-color: BlueViolet ; }
option.DarkRed { background-color: DarkRed ; }
option.DarkMagenta { background-color: DarkMagenta ; }
option.SaddleBrown { background-color: SaddleBrown ; }
option.DarkSeaGreen { background-color: DarkSeaGreen ; }
option.LightGreen { background-color: LightGreen ; }
option.MediumPurple { background-color: MediumPurple ; }
option.DarkViolet { background-color: DarkViolet ; }
option.PaleGreen { background-color: PaleGreen ; }
option.DarkOrchid { background-color: DarkOrchid ; }
option.YellowGreen { background-color: YellowGreen ; }
option.Sienna { background-color: Sienna ; }
option.Brown { background-color: Brown ; }
option.DarkGray { background-color: DarkGray ; }
option.DarkGrey { background-color: DarkGrey ; }
option.LightBlue { background-color: LightBlue ; }
option.GreenYellow { background-color: GreenYellow ; }
option.PaleTurquoise { background-color: PaleTurquoise ; }
option.LightSteelBlue { background-color: LightSteelBlue ; }
option.PowderBlue { background-color: PowderBlue ; }
option.FireBrick { background-color: FireBrick ; }
option.DarkGoldenRod { background-color: DarkGoldenRod ; }
option.MediumOrchid { background-color: MediumOrchid ; }
option.RosyBrown { background-color: RosyBrown ; }
option.DarkKhaki { background-color: DarkKhaki ; }
option.Silver { background-color: Silver ; }
option.MediumVioletRed { background-color: MediumVioletRed ; }
option.IndianRed  { background-color: IndianRed  ; }
option.Peru { background-color: Peru ; }
option.Chocolate { background-color: Chocolate ; }
option.Tan { background-color: Tan ; }
option.LightGray { background-color: LightGray ; }
option.LightGrey { background-color: LightGrey ; }
option.PaleVioletRed { background-color: PaleVioletRed ; }
option.Thistle { background-color: Thistle ; }
option.Orchid { background-color: Orchid ; }
option.GoldenRod { background-color: GoldenRod ; }
option.Crimson { background-color: Crimson ; }
option.Gainsboro { background-color: Gainsboro ; }
option.Plum { background-color: Plum ; }
option.BurlyWood { background-color: BurlyWood ; }
option.LightCyan { background-color: LightCyan ; }
option.Lavender { background-color: Lavender ; }
option.DarkSalmon { background-color: DarkSalmon ; }
option.Violet { background-color: Violet ; }
option.PaleGoldenRod { background-color: PaleGoldenRod ; }
option.LightCoral { background-color: LightCoral ; }
option.Khaki { background-color: Khaki ; }
option.AliceBlue { background-color: AliceBlue ; }
option.HoneyDew { background-color: HoneyDew ; }
option.Azure { background-color: Azure ; }
option.SandyBrown { background-color: SandyBrown ; }
option.Wheat { background-color: Wheat ; }
option.Beige { background-color: Beige ; }
option.WhiteSmoke { background-color: WhiteSmoke ; }
option.MintCream { background-color: MintCream ; }
option.GhostWhite { background-color: GhostWhite ; }
option.Salmon { background-color: Salmon ; }
option.AntiqueWhite { background-color: AntiqueWhite ; }
option.Linen { background-color: Linen ; }
option.LightGoldenRodYellow { background-color: LightGoldenRodYellow ; }
option.OldLace { background-color: OldLace ; }
option.Red { background-color: Red ; }
option.Fuchsia { background-color: Fuchsia ; }
option.Magenta { background-color: Magenta ; }
option.DeepPink { background-color: DeepPink ; }
option.OrangeRed { background-color: OrangeRed ; }
option.Tomato { background-color: Tomato ; }
option.HotPink { background-color: HotPink ; }
option.Coral { background-color: Coral ; }
option.Darkorange { background-color: Darkorange ; }
option.LightSalmon { background-color: LightSalmon ; }
option.Orange { background-color: Orange ; }
option.LightPink { background-color: LightPink ; }
option.Pink { background-color: Pink ; }
option.Gold { background-color: Gold ; }
option.PeachPuff { background-color: PeachPuff ; }
option.NavajoWhite { background-color: NavajoWhite ; }
option.Moccasin { background-color: Moccasin ; }
option.Bisque { background-color: Bisque ; }
option.MistyRose { background-color: MistyRose ; }
option.BlanchedAlmond { background-color: BlanchedAlmond ; }
option.PapayaWhip { background-color: PapayaWhip ; }
option.LavenderBlush { background-color: LavenderBlush ; }
option.SeaShell { background-color: SeaShell ; }
option.Cornsilk { background-color: Cornsilk ; }
option.LemonChiffon { background-color: LemonChiffon ; }
option.FloralWhite { background-color: FloralWhite ; }
option.Snow { background-color: Snow ; }
option.Yellow { background-color: Yellow ; }
option.LightYellow { background-color: LightYellow ; }
option.Ivory { background-color: Ivory ; }
option.White { background-color: White ; }
	
    