/*  misc */

/* charts (crispEdges) */

.d3chart {

	.bar { shape-rendering: crispEdges; }

	.bar_default_light { fill: $basecolor_ultra_light; }
	.bar_default { fill: $basecolor_light; }
	.bar_default_dark { fill: $basecolor; }

	.axis { font: 12px sans-serif; }

	.axis path, .axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}	
}

/* BUSINESS CARD &  Member site, members search  */
div.o_members_search { padding-top: 10px; padding-left: 10px;  }
div.filters { text-align: center; padding-top: 1.5em; }
div.o_members_search div.searchitem { margin-bottom: 0.5em; }
div.searchitem select, div.searchitem input { width: 250px; }
.o_members_register { margin-bottom: 5px; }
.o_members_register_active { font-weight: bold; font-size: 120%; }
div.o_members_paging { width: 100%; padding-bottom: 1em; padding-top: 0.5em; text-align: center; }
div.o_members_paging div { padding-left: 1em; padding-right: 1em; display: inline; }
	
div.o_bcard { background-color: #eee; margin-top: 10px; @include o-border-radius(6px); }
div.o_bcard_header, div.o_members_header {padding: 6px; border-bottom:1px solid #fff; }
div.o_bcard_portrait {
		float: left; display:inline; width: 100px; height: 100px; margin: 10px; 
		img {border:1px #d3d3d3 solid;}
}
div.o_bcard_portrait_group { background-image: url(../openolat/images/group_100x100.png); border:1px #d3d3d3 solid;}
div.o_bcard_text {margin-left: 120px; margin-top: 10px; line-height:150%}
div.o_bcard_footer {text-align: right; clear: both; font-size: 95%; color:rgb(31, 73, 179); padding: 5px;}

/* visiting card */
div.o_visitingcard {
	h4 {
		background: url('../openolat/images/card-address.png') 0 50% no-repeat;
		padding-left: 20px;
		margin-bottom: 1em;
	}
	table th {
		width: 20%;
	}
}


/* Full page iframe in popup */
.popup_iframe {
	width: 100%;
	height: 100%;
	border: none;
	min-height: 60em;
}

/* Resume reservations */
div.o_reservation {
	position:relative;
	margin-top: 2em;
	padding: 1em;
	background: #F7F7F7;
	border:1px solid #eee; 
	@include o-border-radius(4px);	
	
	span.o_reservation_name {
		font-weight: bold;
		line-height: 2em;
	}
	span.o_reservation_role_coach {
		margin-left: 1em;
	}
	span.o_reservation_accepted {
		margin-left: 2em;
		background: transparent url(../openolat/images/tick.png) 0 50% no-repeat;
		color: $okcolor;
		padding-left: 20px;
	 	font-style: italic;
		line-height: 2em;
	}
	span.o_reservation_refused {
		margin-left: 2em;
		background: transparent url(../openolat/images/cross.png) 0 50% no-repeat;
		color: $nokcolor;
		padding-left: 20px;
	 	font-style: italic;
		line-height: 2em;
	}
	
	a.o_reservation_details_link {
		padding: 0 1em;
	}
	
	div.o_reservation_details {
		 padding: 1em 0 0 0;
	}
	
	ul {
		list-style:none;
		padding:0;
		margin:0;
		li {
			background-repeat: no-repeat;
			padding:0;
			margin:0;
		}
	}
}

/* INFO MESSAGES */
div.o_infomsgs { 
		padding-top:5px; 
		div.b_datecomp { top: 2px; float: left; display: inline; }
		div.o_infomsg {  margin-bottom:1em; padding:10px 0 0 0; }
		.b_year { display: none; }
		.o_item_info { color: #7D7D7D; font-size: 90%; }
		.o_item_info .o_item_info_mod { color:#98221F; }
}

div.b_table_wrapper td a.o_peekview_infomsg_link { display:inline; }
div.o_infomsgs_config { 	
	padding-bottom:5px; 
	div { display:inline; }
}
.o_infomsg_icon { background-image: url(../openolat/images/information-button.png); }
.o_infomsg_create_button { position:absolute; top:0; right:250px; }
	
/* EMAIL */
.b_mail_icon { background-image: url(../openolat/images/mail.png) }
div.b_mail_message div.b_form_element_wrapper:first-child div.b_form_element{ font-weight: bold;}
.b_mail_new { width: 20px ! important; background-image: url(../openolat/images/new-text.png); }
.b_table_wrapper {
	span.b_mail_unread { display:block; display:inline-block; width:16px; height:16px; background:transparent url(../openolat/images/bullet_black.png) top left no-repeat;}
	span.b_mail_read {  display:block;display:inline-block; width:16px; height:16px;}
	span.b_mail_marked {  display:block;display:inline-block; width:16px; height:16px; background:transparent url(../openolat/images/flag.png) top left no-repeat;}
	span.b_mail_unmarked { display:block; display:inline-block; width:16px; height:16px; }
	.b_marked { font-weight: bold; }
}

ul.b_mail_attachments { 
		list-style: none; margin:0; padding:0;
		li { margin:0; } 
}
	
/* MEMBERS BB  ( Course Buildingblock: "Teilnehmerliste" ) */
div.o_cmembers {
	div.b_clearfix {
		margin-bottom: 1.5em;
	}
	div.o_cmember { 
		float:left; 		
		position: relative;
		width:30%; 
		height:30px; 
		overflow: hidden;
		margin: 5px 5px 5px 0; 
		padding:8px; 
		border:1px solid #ddd; 

		@include o_gradient2(#f6f6f6,#ebebeb);
		@include o-border-radius(5px);
		@include o-box-shadow(0, 1px, 2px, #d3d3d3);
		
		div.o_cmember_portrait_wrapper {
			position: absolute;
			div.o_cmember_portrait { 
				top: 3px;
				left: 3px;
				border: 1px solid #bbb;
				width: 30px;
				height: 30px;
				background-color: #fff;
				background-repeat: no-repeat;
				background-position: 50% 50%;			
				/* background-image set by portrait css class and element style */				
			}
		}
		div.o_cmember_info_wrapper { 
			padding-left: 35px;
			line-height: 30px;
			vertical-align:middle;
			
		}
	}
	
	a.o_cmembers_mail { float:none; margin-left:5px; padding-left:20px; background-image:url(../openolat/images/mail.png); }
	a.o_cmembers_mail span { display:none; }
	h4 { padding: 7px 0 0 0; clear:both;}
}

/* LINK LIST */
div.o_ll_container ul li { 
		list-style: circle;
		margin: 1em; 
		div { font-style: italic;}
}
a.o_ll_browse span { display:block; width:20px; height:18px; background:url(../openolat/images/library.png) top left no-repeat; margin-left:1px;}


/* HELP, context sensitive */
div.b_contexthelp_wrapper { position: relative; }
a.b_contexthelp { display: block; width: 16px; height: 16px; background: url(../openolat/images/help.png) no-repeat; line-height: 0; cursor: help; }
div.b_contexthelp_wrapper a.b_contexthelp { position: absolute; top: 0; right: 0; }
fieldset a.b_contexthelp, fieldset div.b_contexthelp_wrapper a.b_contexthelp { position: absolute; top: -1.5em; right: -0.8em; }
#b_contexthelp {}
#b_contexthelp_content { padding: 0;}
#b_ch_topnav_search div.b_form_element_wrapper.b_form_horizontal { margin:2px 0 0 0; }
#b_contexthelp_rating { 
	text-align: center; margin-top: 20px; padding: 10px; border-top: 1px #ACAAAA solid; 
	 h4{ font-size: 90%; margin: 0; font-style: italic; }
	 table {
		 display: inline-block; 
		 td { width: 50%; }
	 }
}
.b_contexthelp_icon {background-image: url(../openolat/images/help.png); }
	
	
	
	
/* USER COMMENTS */
div.b_ratings_and_comments { 
	margin: 4em 0 1.5em 0; padding-bottom: 0.5em; border-bottom: 1px solid #eee; font-size: 0.9em; position: relative; 
	div.b_rating_wrapper { position: absolute; right: 0; bottom: 0; width: 150px; height: 4em; }
	div.b_rating { background: none; border: none;  padding: 0; margin: 0; position: absolute; left: 0; bottom: 2px; width: 100%}
	div.b_rating_personal { background: #fff; z-index: 5; }
}

div.b_ratings_and_comments a.b_comments, div.b_eportfolio_map a.b_comments { background: url(../openolat/images/comment.png) 3px 50% no-repeat; padding: 3px 0 1px 23px; vertical-align: middle; min-height: 18px;}

div.b_comments { 
	font-size: 0.9em;
	
	div.b_comment_wrapper { 
		border:1px solid #eee; padding: 10px 10px 5px 10px; margin-bottom: 2em; background: #fbfbfb;
		@include o-border-radius(4px);
		div.b_avatar img { border: 1px solid #aaa; }
		h5 { font-size: 1em; background: url(../openolat/images/user.png) 0 50% no-repeat; padding: 1px 0 1px 20px; vertical-align: middle; min-height: 16px;}
		span.b_date { color: #aaaaaa; font-weight: normal; display: block; margin-top: 5px;}
		
		// wrapper in wrapper in wrapper in ....
		div.b_comment_wrapper { margin-left: 7px; background: #fff; div.b_comment_wrapper { background: #fbfbfb; div.b_comment_wrapper { background: #fff;} } }
	}
	blockquote.b_comment { padding: 3px 0 0 0px; margin: 0;}
	div.b_form { 
		padding: 10px; border:1px solid #eee; margin: 2em 0 2em 0; 
		@include o-gradient-white();
		@include o-border-radius(4px); 
		h5 { font-size: 1em; margin-bottom: 0.5em;}
		div.b_button_group { text-align: center; }
	}		
}

.b_comment_icon {background-image: url(../openolat/images/comment.png);}
#b_comment_form_link {font-size: 0.9em; position: relative; top: -15px; left: 23px;}
	
/* RATING */
div.b_rating {
	margin: 10px; padding: 5px; font-size: 80%; white-space: nowrap; text-align: left; background: #EEE; border: 1px solid #ACAAAA; 
	@include o-border-radius(4px);
	div.b_rating_title { font-weight: bold; }
	div.b_rating_items { 
		vertical-align: middle; line-height: 18px; 
		a { float: left; display: inline; width: 16px; height: 16px; background-repeat: no-repeat; background-position: 0 0; margin: 1px 4px 1px 0}
		a.b_rating_item_on { background-image: url(../openolat/images/star.png); }
		a.b_rating_item_off { background-image: url(../openolat/images/star_grey.png); }
		a:hover {cursor: default;}
		&.b_enabled a:hover {cursor: pointer;}
		&.b_enabled a.b_rating_item_off:hover { background-image: url(../openolat/images/star.png);}
	}
	div.b_rating_explanation { clear: both; font-size: 90%; }
}

/* DATE COMPONENT (e.g. in notifications, shows calendar-image with date) */
div.b_datecomp {
		width: 2.5em; height: 3em; position: relative; margin-right: 5px;  font-weight: normal; color: white; text-align: center; vertical-align: middle; border: 1px solid #000; font-size: 85%;
		div { width: 100%;  position: absolute; left: 0;}
		div.b_year {height: 1em; top: -1.5em; font-size: 80%; font-weight: normal; color: #000; }
		div.b_month {background: #BE5B5D; height: 40%; top: 0; font-size: 80%; font-weight: normal; color: white; }
		div.b_day {background: #fff; height: 60%; bottom: 0; font-size: 120%; font-weight: bold; color: #000; border-top: 1px solid #000; border-bottom: 1px solid #aaaaaa; }
}

/* Download link */
.b_content_download {background: url('../openolat/images/drive-download.png') no-repeat top left; padding-left: 20px; margin: 3px; display:block; min-height: 16px;}

/* Repository */

ul.o_sel_repository_owners {
	list-style: none; margin: 0; padding: 0; white-space: nowrap;
	li { margin: 0; }			
}

/* Portlet admin. */
div.fx_portal_admin { margin-top: 10px; }
div.fx_portlets_column { 
	width:30%; float:left; margin-right: 10px; 
	div.b_portlet { min-height:1em; }
}
div.fx_portlets_column_name { 
	padding: 5px 5px 0px 5px;
	span { color:#4F576A; font-weight:bold; text-deocration:underline; }
}
ul.fx_portlets_column_portlets {
	border:1px solid #eee;
	padding: 0;
	margin: 0;
	@include o-border-radius(4px);
	@include o-gradient-white();
	
	li {
		margin-left:0;
	}
}


div.fx_available_portlets { 
		width:28%; float:right;
		div.b_portlet { min-height:1em; } 
}

div.fx_portlets_admin_column { min-height:12em; }


/* Site admin. */
div.fx_site_admin_column { float:left; }
div.fx_site_admin_column div.fx_site_definition { min-height:1em;}
	
/* --------------- SUBSCRIPTIONS / Abonnements / NOTIFICATIONS --------------*/
div.o_notifications_news_wrapper {}
div.o_notifications_news_datechooser { 
	border-bottom: 1px solid #bbb; padding:1em 0 1em 0;
	 label { padding-right:1em;}
}
div.o_notifications_news_subscription { 
	margin: 1.5em 0 2em 0;
	h4 { font-size: 110%; }
	h4.o_returnbox_icon { background-image: url(../openolat/images/box_return.png) !important; }
	h4.o_dropbox_icon { background-image: url(../openolat/images/box_drop.png) !important; }
}
div.o_notifications_news_context { color: #7D7D7D; font-size: 90%; }
div.o_notifications_news_content {
	margin: 0.5em 0 0.5em 0;
	ul { list-style-type: none; margin: 0;}
}
div.o_notifications_news_url { }


		
		
		
/* --------------- FULLTEXT SEARCH --------------- */
#o_search_form { margin: 5px; position: relative;}
#o_search_form_toggler {background-image: url(../openolat/images/magnifier-zoom.png); cursor: pointer;}
#o_search_form_content div.b_form div.b_form_element_wrapper div.b_form_element_wrapper { margin: 0.5em 0; }
#o_search_form div.b_contexthelp_wrapper a.b_contexthelp { right: 0;}	
#o_search_results {border-top: 1px solid #eee; margin: 5px;}
#o_search_results_header { 
		line-height: 16px; vertical-align: middle; background: url(../openolat/images/magnifier-zoom.png) no-repeat center left #F8F8F8; padding:2px 2px 2px 20px; margin-bottom: 5px;
		
		div.o_search_results_stats { float: right; display: inline; font-size: 90%;}
		span.o_search_highlight { padding-left: 2em;}
} 
#o_search_results_header.o_search_did_you_mean,
#o_search_results_header.o_search_no_results { background-image: url(../openolat/images/exclamation.png); color: $nokcolor; }
#o_search_results_header.o_search_did_you_mean span.o_search_did_you_mean_words{ color: #000; font-weight: bold;}
#o_search_results_header #o_search_pageing { padding-left: 2em; display: inline; }
#o_search_pageing_bottom { text-align: center; background: #F8F8F8; border-bottom: 1px solid #eee; padding: 3px;}
#o_search_results_toomany { background: url(../openolat/images/exclamation.png) no-repeat center left #F8F8F8; color: $nokcolor; padding: 5px 0 3px 20px; position: relative; top: -5px; margin-bottom: 5px;} 
div.o_search_result {margin: 0 0 1em 0; padding: 1em 0 0 0; }
div.o_search_result_title a {font-weight: bold; } 
div.o_search_result_title a.o_search_result_details_link { margin-left: 1em; font-weight: normal; font-size: 90%; vertical-align: bottom;}
div.o_search_result_excerpt { 
		padding: 2px 0 1px 0; font-size: 95%; max-width: 60em;
		 span.o_search_result_highlight { font-weight: bold; background-color: #FFFF80;}
}


div.o_search_result_context, 
div.o_search_result_author,
div.o_search_result_lastmod,
div.o_search_result_type,
div.o_search_result_desc { padding: 1px 0; font-size: 90%; color: #667;}
a.o_fulltext_search_button { background:url(../openolat/images/magnifier-zoom.png) top left no-repeat; }



/* nicer html error pages (404, 403, 500 ) */
div.error-box { 
	width: 400px;
	margin: 30px auto;
	padding: 20px;
	border: 2px solid $basecolor;
	border-radius: 6px; 
	background: white;
	@include o-box-shadow(0,2px, 4px, #ccc);
	@include o-border-radius(6px);
	
	h1 {
		background-image: url(../openolat/images/icon_warning_32.png);
		background-repeat: no-repeat;
		padding-left: 30px;
		font-size: 14pt;
		font-weight: bold;
	}
}



/** -------------- TAGGING ---------------- **/
/* tagging */
.b_tag_list { background: url(../openolat/images/tag-label-yellow.png) 0px 3px no-repeat !important; }
.b_tag_icon { background-image: url(../openolat/images/tag-label-yellow.png); }
	
	
div.b_tags {
	margin: 2em 0; 
	div { padding: 0.5em 0 0 20px; }
	span.b_tag { font-size: 80%; padding: 5px 2px 5px 2px;line-height:3em; white-space: nowrap;}
}
	
	
/* TextboxList  */
*:first-child + html div.holder { padding-bottom: 2px; }
* html div.holder { padding-bottom: 2px; } /* ie7 and below */
.textbox-outer	{ 
	list-style-type: none; 
	margin-left: 0em;
}

/* autocompleter bitbox (item) holder */
a.bit-box, span.b_tag { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; padding-right: 15px; position: relative; }
div.holder { 
	font-size:80%;
	min-width: 200px; width: auto; margin: 0; overflow: hidden; height: auto !important; height: 1%; padding: 0px 0px 0; cursor: text;
	a { float: left; margin: 0 5px 4px 0; }
	a.bit { text-decoration: none; color: black; }
	a.bit:active,  a.bit:focus { outline: none; }
	a.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
	a.bit-input .maininput { border: 1px solid $basegray_ultra_light;  } 
	a.bit-input input { 
		width: 100px; 
		margin: 0; 
		border: none; 
		background: white; 
		outline: 0; 
		padding: 3px 0 2px;/* no left/right padding here please */ 
		
		&.smallinput { width: 20px; }
	} 
	
	a.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
	a.bit-box-focus { background: #598BEC; color: #fff; }
	a.bit-box {
		a.closebutton { position: absolute; right: 0; top: 5px	; display: block; width: 7px; height: 7px; font-size: 1px; background: url('../openolat/images/tag_x.gif'); }
		a.closebutton:hover { background-position: 7px; }
		a.closebutton:active { outline: none }
	}
	a.bit-box-focus a.closebutton,  a.bit-box-focus a.closebutton:hover { background-position: bottom; }
}


/* Autocompleter for textboxlist */
ol.textbox-outer { margin: 0; padding: 0;}
.textboxlist-auto { 
	position: absolute; 
	width: 300px; 
	overflow: visible;
	display: none;   // hide at first, will be shown by JS on user input
	background: #eee;
	z-index: 2;  // has to be "on top " of e.g.  the taglist in "add artefact wizard"
	
	.default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px; }
	ul { 
		display: none; margin: 0; padding: 0; 
		overflow: auto; 
		li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; }
		li.loading-indicator { padding-left: 30px; background-position: 5px center; cursor: defat; font-size: 100.01% ! important; line-height: 1.5em; }
		li.more-indicator { cursor: defat; font-style: italic; }
		li em { font-weight: bold; font-style: normal; background: #ccc; }
		li.auto-focus { background: #4173CC; color: #fff; }
		li.auto-focus em { background: none; }
	}
}
input.inputMessage { color: #AAA; font-size: 11px; }

.b_wizard {
	.textbox-outer { 
		background: url(../openolat/images/tag-label-yellow.png) top left no-repeat;
		li { margin-left:18px; } 
	}
	.textboxlist-auto ul li { margin-left:0;}
	div.holder a.bit-input input { background: #f8f8f8; padding: 0.4em; }
}

/* classes to use in course layout generator to have previews in dropdown elements */
/* note: this does not work in chrome (jan2012, chrome 16.0.) */
.clgen_font_arial { font-family: arial,helvetica; }
.clgen_font_arial_black { font-family: arial black,avant garde; }
.clgen_font_comic { font-family: comic sans ms,sans-serif; }
.clgen_font_courier { font-family: courier new,courier; }
.clgen_font_georgia	{ font-family: georgia,serif; }
.clgen_font_impact { font-family: impact,chicago; }
.clgen_font_lucida { font-family: lucida console,monaco,monospace; }
.clgen_font_palatino { font-family: palatino linotype,book antiqua,palatino,serif; }
.clgen_font_times { font-family: times new roman,times; } 
.clgen_font_verdana { font-family: verdana,geneva,sans-serif; }
.clgen_font_xxlarge { font-size: 130%; }
.clgen_font_xxsmall { font-size: 70%; }
option.Black { background-color: Black ; }
option.Navy { background-color: Navy ; }
option.DarkBlue { background-color: DarkBlue ; }
option.MediumBlue { background-color: MediumBlue ; }
option.Blue { background-color: Blue ; }
option.DarkGreen { background-color: DarkGreen ; }
option.Green { background-color: Green ; }
option.Teal { background-color: Teal ; }
option.DarkCyan { background-color: DarkCyan ; }
option.DeepSkyBlue { background-color: DeepSkyBlue ; }
option.DarkTurquoise { background-color: DarkTurquoise ; }
option.MediumSpringGreen { background-color: MediumSpringGreen ; }
option.Lime { background-color: Lime ; }
option.SpringGreen { background-color: SpringGreen ; }
option.Aqua { background-color: Aqua ; }
option.Cyan { background-color: Cyan ; }
option.MidnightBlue { background-color: MidnightBlue ; }
option.DodgerBlue { background-color: DodgerBlue ; }
option.LightSeaGreen { background-color: LightSeaGreen ; }
option.ForestGreen { background-color: ForestGreen ; }
option.SeaGreen { background-color: SeaGreen ; }
option.DarkSlateGray { background-color: DarkSlateGray ; }
option.DarkSlateGrey { background-color: DarkSlateGrey ; }
option.LimeGreen { background-color: LimeGreen ; }
option.MediumSeaGreen { background-color: MediumSeaGreen ; }
option.Turquoise { background-color: Turquoise ; }
option.RoyalBlue { background-color: RoyalBlue ; }
option.SteelBlue { background-color: SteelBlue ; }
option.DarkSlateBlue { background-color: DarkSlateBlue ; }
option.MediumTurquoise { background-color: MediumTurquoise ; }
option.Indigo  { background-color: Indigo  ; }
option.DarkOliveGreen { background-color: DarkOliveGreen ; }
option.CadetBlue { background-color: CadetBlue ; }
option.CornflowerBlue { background-color: CornflowerBlue ; }
option.MediumAquaMarine { background-color: MediumAquaMarine ; }
option.DimGray { background-color: DimGray ; }
option.DimGrey { background-color: DimGrey ; }
option.SlateBlue { background-color: SlateBlue ; }
option.OliveDrab { background-color: OliveDrab ; }
option.SlateGray { background-color: SlateGray ; }
option.SlateGrey { background-color: SlateGrey ; }
option.LightSlateGray { background-color: LightSlateGray ; }
option.LightSlateGrey { background-color: LightSlateGrey ; }
option.MediumSlateBlue { background-color: MediumSlateBlue ; }
option.LawnGreen { background-color: LawnGreen ; }
option.Chartreuse { background-color: Chartreuse ; }
option.Aquamarine { background-color: Aquamarine ; }
option.Maroon { background-color: Maroon ; }
option.Purple { background-color: Purple ; }
option.Olive { background-color: Olive ; }
option.Gray { background-color: Gray ; }
option.Grey { background-color: Grey ; }
option.SkyBlue { background-color: SkyBlue ; }
option.LightSkyBlue { background-color: LightSkyBlue ; }
option.BlueViolet { background-color: BlueViolet ; }
option.DarkRed { background-color: DarkRed ; }
option.DarkMagenta { background-color: DarkMagenta ; }
option.SaddleBrown { background-color: SaddleBrown ; }
option.DarkSeaGreen { background-color: DarkSeaGreen ; }
option.LightGreen { background-color: LightGreen ; }
option.MediumPurple { background-color: MediumPurple ; }
option.DarkViolet { background-color: DarkViolet ; }
option.PaleGreen { background-color: PaleGreen ; }
option.DarkOrchid { background-color: DarkOrchid ; }
option.YellowGreen { background-color: YellowGreen ; }
option.Sienna { background-color: Sienna ; }
option.Brown { background-color: Brown ; }
option.DarkGray { background-color: DarkGray ; }
option.DarkGrey { background-color: DarkGrey ; }
option.LightBlue { background-color: LightBlue ; }
option.GreenYellow { background-color: GreenYellow ; }
option.PaleTurquoise { background-color: PaleTurquoise ; }
option.LightSteelBlue { background-color: LightSteelBlue ; }
option.PowderBlue { background-color: PowderBlue ; }
option.FireBrick { background-color: FireBrick ; }
option.DarkGoldenRod { background-color: DarkGoldenRod ; }
option.MediumOrchid { background-color: MediumOrchid ; }
option.RosyBrown { background-color: RosyBrown ; }
option.DarkKhaki { background-color: DarkKhaki ; }
option.Silver { background-color: Silver ; }
option.MediumVioletRed { background-color: MediumVioletRed ; }
option.IndianRed  { background-color: IndianRed  ; }
option.Peru { background-color: Peru ; }
option.Chocolate { background-color: Chocolate ; }
option.Tan { background-color: Tan ; }
option.LightGray { background-color: LightGray ; }
option.LightGrey { background-color: LightGrey ; }
option.PaleVioletRed { background-color: PaleVioletRed ; }
option.Thistle { background-color: Thistle ; }
option.Orchid { background-color: Orchid ; }
option.GoldenRod { background-color: GoldenRod ; }
option.Crimson { background-color: Crimson ; }
option.Gainsboro { background-color: Gainsboro ; }
option.Plum { background-color: Plum ; }
option.BurlyWood { background-color: BurlyWood ; }
option.LightCyan { background-color: LightCyan ; }
option.Lavender { background-color: Lavender ; }
option.DarkSalmon { background-color: DarkSalmon ; }
option.Violet { background-color: Violet ; }
option.PaleGoldenRod { background-color: PaleGoldenRod ; }
option.LightCoral { background-color: LightCoral ; }
option.Khaki { background-color: Khaki ; }
option.AliceBlue { background-color: AliceBlue ; }
option.HoneyDew { background-color: HoneyDew ; }
option.Azure { background-color: Azure ; }
option.SandyBrown { background-color: SandyBrown ; }
option.Wheat { background-color: Wheat ; }
option.Beige { background-color: Beige ; }
option.WhiteSmoke { background-color: WhiteSmoke ; }
option.MintCream { background-color: MintCream ; }
option.GhostWhite { background-color: GhostWhite ; }
option.Salmon { background-color: Salmon ; }
option.AntiqueWhite { background-color: AntiqueWhite ; }
option.Linen { background-color: Linen ; }
option.LightGoldenRodYellow { background-color: LightGoldenRodYellow ; }
option.OldLace { background-color: OldLace ; }
option.Red { background-color: Red ; }
option.Fuchsia { background-color: Fuchsia ; }
option.Magenta { background-color: Magenta ; }
option.DeepPink { background-color: DeepPink ; }
option.OrangeRed { background-color: OrangeRed ; }
option.Tomato { background-color: Tomato ; }
option.HotPink { background-color: HotPink ; }
option.Coral { background-color: Coral ; }
option.Darkorange { background-color: Darkorange ; }
option.LightSalmon { background-color: LightSalmon ; }
option.Orange { background-color: Orange ; }
option.LightPink { background-color: LightPink ; }
option.Pink { background-color: Pink ; }
option.Gold { background-color: Gold ; }
option.PeachPuff { background-color: PeachPuff ; }
option.NavajoWhite { background-color: NavajoWhite ; }
option.Moccasin { background-color: Moccasin ; }
option.Bisque { background-color: Bisque ; }
option.MistyRose { background-color: MistyRose ; }
option.BlanchedAlmond { background-color: BlanchedAlmond ; }
option.PapayaWhip { background-color: PapayaWhip ; }
option.LavenderBlush { background-color: LavenderBlush ; }
option.SeaShell { background-color: SeaShell ; }
option.Cornsilk { background-color: Cornsilk ; }
option.LemonChiffon { background-color: LemonChiffon ; }
option.FloralWhite { background-color: FloralWhite ; }
option.Snow { background-color: Snow ; }
option.Yellow { background-color: Yellow ; }
option.LightYellow { background-color: LightYellow ; }
option.Ivory { background-color: Ivory ; }
option.White { background-color: White ; }


/* Calendar */
@charset "UTF-8";
/* container for the calendar and the calenda config below the calendar */
@media all {

.fc-button-print span {
	background: url(../openolat/images/printer.png) no-repeat right 50%;
	padding: 0 20px 0 0;
}

#o_cal_manage_calendars {
  float: right; 
  margin-right: 10px; 
  margin-top: 5px; 
}

#o_cal_config_below_cal_container {
	padding: 6px;
	position: relative;
	overflow: hidden;
}
#o_cal_config_below_cal_container div.b_contexthelp_wrapper a.b_contexthelp {top: 0; right: 0; }

.o_cal_embedded_course_container {
	padding-top: 6px;
}

.o_cal_embedded_course_container #b_content_popup {
	position: absolute;
	top: 0;
	right: 0;
}

.o_course_run_peekview .o_cal_peekview ul li {
	list-style: none;
}

/* calendar week view styles */

#o_cal_wv_actions {
	vertical-align: middle;
	line-height: 16px;
	padding-right: 30px;
	float: right; display: inline;
	position: relative;
}

/* week navigation, prev and next button */
#o_cal_wv_nav{
	text-align: left;
	vertical-align: middle;
	line-height: 16px;
	float: left; display: inline;
	position: absolute; top: 5px; left: 5px;
}

.o_cal_wv_prev, .o_cal_wv_next {margin-left:0 !important; margin-right:0 !important;}
.o_cal_wv_prev span {
	width:20px;
	height:20px;
	float:left;
	background: transparent url(arrow_left_big.png) no-repeat center center;
}
.o_cal_wv_next span {
	width:20px;
	height:20px;
	float:left;
	background: transparent url(arrow_right_big.png) no-repeat center center;
}

/* calendar: height = 20px (header) + 10*20px (hours) + 10*20px (half-hours) */
#o_cal_wv { 
	padding: 0 0px 5px 0px;
	position: relative; width: auto;
}

#o_cal_wv_header_wrapper {
	padding-top:10px;
	position: relative; 
	clear: both;
}
#o_cal_wv_header {
	border: 1px solid #888;
	position: relative; 
	height: 20px;
 	margin-bottom: 2px;
 	background: #FFF;
}

.o_cal_wv_grid_wrapper {
	position: relative; border: 1px solid #888;	 background: #FFF;
	padding-bottom:1px; /* FF problem with border-bottom */
} 
.o_cal_wv_grid { 
	position: relative; width: auto; height: 600px;
	overflow: scroll ! important; overflow-x: hidden ! important;
}

/* day long events */
#o_cal_wv_daylong {
	border: 1px solid #888;
	position: relative; width: auto; overflow: visible;
	margin-bottom: 2px;
 	background: #FFF;
}
.o_cal_wv_dlday {
	border-left: 1px solid #888; 
	position: absolute; width: 13%;
 	background: #FFF;
}

/* time column */
.o_cal_wv_time { 
	position: absolute; width: 9%;
}
/* time column header row */
.o_cal_wv_legend_hours { 
	margin: 0; padding: 0; height: 20px; 
	text-align: center; color: #888;
}
/* time column time legend rows: height = 40px = 19px (content) + 1px  (border-bottom) */
.o_cal_wv_legend_hour { 
	border-bottom: 1px solid #DDD;
	margin: 0; padding: 0; height: 39px; 
}
/* content wrapper for hour labeling*/
.o_cal_wv_legend_hour div {
	padding: 3px 3px 0 3px; text-align: center; color: #444; 
	overflow: hidden; height: 16px; 
}

/* day column */
.o_cal_wv_day { 
	border-left: 1px solid #888; 
	position: absolute; width: 13%;
	border-collapse: collapse;
 	background: #FFF;
}
/* day column header row */
.o_cal_wv_legend_day { 
	margin: 0; padding: 0; height: 20px; 
}
/* content wrapper for day labeling*/
.o_cal_wv_legend_day div {
	padding: 3px 3px 0px 3px; 
	height: 15px; overflow: hidden;
	text-align: center; color: #888;
}
/* day column hour row: height = 20px = 19px (content) + 1px  (border-bottom) */
.o_cal_wv_hour { 
	border-bottom: 1px dotted #DDD;
	margin: 0; padding: 0; height: 19px; 
}
/* day column hour row: height = 20px = 19px (content) + 1px  (border-bottom) */
.o_cal_wv_half_hour { 
	border-bottom: 1px solid #DDD;
	margin: 0; padding: 0; height: 19px;
}
.o_cal_wv_half_hour:hover {background: #DCDDE0;}
.o_cal_wv_hour:hover {background: #DCDDE0;} 

/* fixed row positioning. 0-row is for time legend (9%), days are 13% each */
.o_cal_wv_row0 { left: 0;}
.o_cal_wv_row1 { left: 9%;}
.o_cal_wv_row2 { left: 22%;}
.o_cal_wv_row3 { left: 35%;}
.o_cal_wv_row4 { left: 48%;}
.o_cal_wv_row5 { left: 61%;}
.o_cal_wv_row6 { left: 74%;}
.o_cal_wv_row7 { left: 87%;}


/* background colors of holiday days and current day */
.o_cal_wv_holiday { background: #eee;}
.o_cal_wv_today { background: #fff5cc;}

/* remove right border on last day and bottom border on last hour */
.o_cal_wv_lastday {	border-right: 1px solid #888; }
.o_cal_wv_lasthour { border-bottom: 0;}


/* events */
.o_cal_wv_event_wrapper { 
	padding: 0; margin: 0;  padding-bottom: 2px;
	position: absolute; overflow: hidden; z-index: 10;
}
.o_cal_wv_event { 
	border: 1px solid;
	padding: 0; margin: 0; position: relative;
	overflow: hidden; z-index: 10;
}
.o_cal_wv_event_overflow {
	position: absolute; 
	right: 2px; 
	z-index: 20;
}	
	
/* selection hover, works not in IE6 */
.o_cal_wv_event:hover { 
	border-color: #000;
	z-index: 11;
}
/* event header and content, header has always same height */
.o_cal_wv_event_header {
	height: 1em; overflow: hidden;
	padding: 0px 2px 3px 2px;
	font-weight: bold;
	vertical-align: bottom;
}
.o_cal_wv_event_content {
	padding: 1px 2px 1px 2px;
}

/** toolbar **/
.o_cal_toptoolbar {
	margin-bottom:0.8em;
	min-width:707px;
	padding-bottom:8px;
	border-bottom:1px solid #eee;
}
.o_cal_toptoolbar .o_cal_pagination {
	float:left;
	height:2em;
	width:235px;
}
.o_cal_toptoolbar .o_cal_gotodate {
	float:left;
	height:2em;
	width:350px;
}
.o_cal_gotodate div.b_form div.b_form_element_wrapper div.b_form_element {
	margin-left:0;
}
.o_cal_toptoolbar .o_cal_search {
	float:left;
	height:2em;
}

/* day long events */
.o_cal_wv_devent_wrapper { 
	padding: 0; margin: 0; 
	position: relative; top: -1px; left: -1px; 
	width: auto; height: 20px;
}
.o_cal_wv_devent { 
	border: 1px solid;
	padding: 0;
	margin: 0; 
	width: 100%; height:19px;
	overflow: hidden;
	z-index: 11;
}
/* selection hover, works not in IE6 */
.o_cal_wv_devent:hover { 
	border-color: #000;
	z-index: 12;
}
/* day event content */
.o_cal_wv_devent_content {
	padding: 1px 2px 1px 2px;
}

/* calendar configuration */
.o_cal_config {
	margin: 2em 0;
	position: relative;
	padding: 5px;
}
.o_cal_manage_config {
	position: relative;
	padding: 5px;
}
.o_cal_manage_config fieldset {
	position: relative;
	display: inline;
}
.o_cal_config fieldset {
	position: relative;
	display: inline;
}
.o_cal_config_scrollwrapper {
	width: 400px;
	height: 100px; 
	overflow: scroll; 
	overflow-x: hidden; 
	border: 1px solid #BFBFBF;
	position: relative;
}
.o_cal_config_row {
	clear: both;
	padding: 2px 15px 0 0;	
}

.o_cal_config_enabled {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/check_on.png) no-repeat;
	float: left; display: inline;
}
a.o_cal_config_enabled:hover {
	background: url(../openolat/images/cal/check_on_over.png) no-repeat;
}
.o_cal_config_disabled {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/check_off.png) no-repeat;
	float: left; display: inline;
}
.o_cal_config_calendar {
	border: 1px solid;
	padding: 0; margin: 0; 
	padding: 1px 6px 1px 4px;
	position: relative; 
	height: 14px; width: 200px; overflow: hidden;
	float: left; display: inline;
}
.o_cal_config_chosecolor {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/color.png) no-repeat 2px 0px;
	float: left; display: inline;
}
.o_cal_config_subscribeical {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/calendar_ical_export.png) no-repeat 2px 0px;
	float: left; display: inline;
}	
.o_cal_config_remove_subscribeical {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/calendar_ical_export_remove.png) no-repeat 0 0;
	float: left; display: inline;		
}
a.o_cal_config_unsubscribe {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/calendar_remove.png) no-repeat 0 0;
	float: left; display: inline;	
}

.o_cal_config_regenerate_link {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/calendar_ical_export_regen.png) no-repeat 0 0;
	float: left; display: inline;		
}
.o_cal_config_remove_cal {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/delete.png) no-repeat 2px 0px;
	float: left; display: inline;
}
.o_cal_config_addevent {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/calendar--plus.png) no-repeat 0 0;
	float: left; display: inline;
}
.o_cal_config_importevent {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/calendar--arrow.png) no-repeat 0 0;
	float: left; display: inline;
}
.o_cal_config_readonly {
	position: relative;
	width: 20px; height: 16px;
	background: url(../openolat/images/cal/calendar--plus.png) no-repeat 0 0;
	opacity:0.6;
	float: left; display: inline;	
}

/* colorchooser */
#o_cal_colorchooser {
	background: #DCDDE0;
	border: 1px solid #999999;
	float: left; display: inline;
	padding: 3px;
	position: relative;
}
#o_cal_colorchooser div {
	position: relative;
	border: 1px solid #FFF; 
	margin: 5px;
	float: left; display: inline;
}
#o_cal_colorchooser div:hover {
	border: 1px solid #000; 
}
#o_cal_colorchooser a {
	position: relative;
	width: 20px; height: 20px;
	float: left; display: inline;
}
.o_cal_colorchooser_selected {
	background: url(../openolat/images/cal/selectedcolor.gif) no-repeat 2px 2px;
}


/* calender colors for events: must be the last thing in the file !! */
.o_cal_orange { background: #ffc266; border-color: #ff9900; color: #5D5D5D; }
.o_cal_orange .o_cal_wv_event_header {background: #ff9900;}
.o_cal_orange a { color: #5D5D5D ! important; } 

.o_cal_green { background: #66c266; border-color: #009900; color: #FFF; }
.o_cal_green .o_cal_wv_event_header {background: #009900;}
.o_cal_green a { color: #FFF ! important; } 

.o_cal_blue { background: #4d6e9f; border-color: #2e5894; color: #FFF;}
.o_cal_blue .o_cal_wv_event_header {background: #2e5894;}
.o_cal_blue a { color: #FFF ! important; } 

.o_cal_yellow { background: #ffe066; border-color: #ffcc00; color: #5D5D5D; }
.o_cal_yellow .o_cal_wv_event_header {background: #ffcc00;}
.o_cal_yellow a { color: #5D5D5D! important; } 

.o_cal_red { background: #c26666; border-color: #990000; color: #FFF; }
.o_cal_red .o_cal_wv_event_header {background: #990000;}
.o_cal_red a { color: #FFF ! important; } 

.o_cal_grey { background: #DDDAAA; border-color: #5D5D5D; color: #FFF; }
.o_cal_grey .o_cal_wv_event_header {background: #5D5D5D;}
.o_cal_grey a { color: #FFF ! important; } 

div.o_cal_gotodate div.b_form_element {margin-left:0%; margin-top:-4px; }

div.o_cal_search_subscribe {float: right; margin-right: 20px; }

div.o_cal_week_year_label {font-weight: bold; margin-top:8px;}
	
.o_cal_config_regenerate_link {
	position: relative;
	float: left; display: inline;
}
	
/* event tooltip */
.o_cal_wv_event_tooltip { display: none; }
.o_cal_tooltip_buttons { text-align: right; }
.o_cal_wv .x-tip-body div { padding: 0.2em 0; }
//div.o_cal_wv_event_tooltip {}
div.o_cal_wv_event_tooltip_content { padding-top: 1em;}
//div.o_cal_time { }
//div.o_cal_location {}
div.o_cal_tooltip_buttons{padding-top: 1em;}
//div.o_cal_links {}


body.o_cal_print {
	background:white;
	

	.o_cal_toptoolbar.b_clearfix { display: none; } /* hide top toolbar */
	.o_cal_wv { display: none; } /* hide grid calendar */
	.o_cal_wv_print { display: block; } /* display the print view */
	#o_cal_config .b_float_right { display: none; } /* hide buttons */
	#o_cal_config_below_cal_container .b_subcolumns { display: none; } /* hide date navigation and search link */
	.o_cal_wv_print ul { list-style-type: none; margin:0 0 0 0; padding: 0 0 0 0; }
	.o_cal_event { clear:left; margin: 0.2em 0; }
	.o_cal_wv_list * { float: left; width: 100%; } /* float all elements in order to fully include floating children */
	.o_cal_event span { padding: 0 0.4em; display:block; }
	.o_cal_date { font-weight: bold; }
	.o_cal_time { width: 25%; } 
	.o_cal_subject { width: 40%; border-left-style: solid; border-left-width: thick; background: white; }
	.o_cal_subject p { padding:0 0.4em; margin:0; color: black;  }
	.o_cal_location { float: right; width: 34%; } /* Since subject has a 1px border, decrease the width of location by 1% */
	.o_cal_config_scrollwrapper { width: auto; height: auto; overflow: visible; overflow-x: visible; }
	.o_cal_config_calendar { border-width: 0; border-left-style: solid; border-left-width: thick; float: none; display: block; color:black; background:white; }
}
			
			
/* hide the print layout */
//.o_cal_wv_print { display: none; }
	
} /* end all media styles */

/* glossar */
.o_glossary {
	margin: 0 100px 0 100px;
}

/* wrapper for one glossary term */
.o_glossary_entry{
	margin: 0px 0 0px 0;
	padding: 10px;
	border-top: 1px solid #DCDDE0;
	border-left: 1px solid #DCDDE0;
	border-right: 1px solid #DCDDE0;
}

/* wrapper for the edit / delete buttons */
.o_glossary_commands {
	float: right;
}
/* wrapper for the add buttons */
.o_glossary_addcommand {
	float: right;
}

/* the glossary term */
.o_glossary dt {
	font-weight: bold;
}

dt span.o_glossary_author {
	font-weight: normal;
}

dt span.o_glossary_modifier {
	font-weight: normal;
	color: #98221F;
}

dt span.o_glossary_modifier a, dt span.o_glossary_modifier a:hover {
	color: #98221F;
}

dt o_glossary_synonym {
	font-size: 80%;
	font-variant: small-caps;
	font-style: italic;
}
/* the glossary explanation */
dd {
	padding-left: 20px;
	clear: both;
}

.o_glossary_register {
	margin-bottom: 10px;	
}

.o_glossary_register_active {
	font-weight: bold;
	background-color: lightgrey;
	font-size: 120%;
}

.o_tm_glossary { border-bottom: 1px dotted #666699; }
.o_tm_yellow { background-color: #FFFF66; }
.o_tm_blue { background-color: #33FFFF; }
.o_tm_red { background-color: #FF3333; }
.o_tm_green { background-color: #99FF00; }


	
@media print {
	.o_cal_toptoolbar.b_clearfix { display: none; } /* hide top toolbar */
	.o_cal_wv { display: none; } /* hide grid calendar */
	.o_cal_wv_print { display: block; } /* display the print view */
	#o_cal_config .b_float_right { display: none; } /* hide buttons */
	#o_cal_config_below_cal_container .b_subcolumns { display: none; } /* hide date navigation and search link */
	.o_cal_wv_print ul { list-style-type: none; margin-left: 0; }
	.o_cal_event { clear:left; margin: 0.2em 0; }
	.o_cal_wv_list * { float: left; width: 100%; } /* float all elements in order to fully include floating children */
	.o_cal_event span { padding: 0 0.4em; display:block; }
	.o_cal_date { font-weight: bold; }
	.o_cal_time { width: 25%; } 
	.o_cal_subject { width: 40%; border-left-style: solid; border-left-width: thick; }
	.o_cal_subject p { padding:0 0.4em; margin:0;  }
	.o_cal_location { float: right; width: 34%; } /* Since subject has a 1px border, decrease the width of location by 1% */
	.o_cal_config_scrollwrapper { width: auto; height: auto; overflow: visible; overflow-x: visible; }
	.o_cal_config_calendar { border-width: 0; border-left-style: solid; border-left-width: thick; float: none; display: block;}
	#o_cal_config_below_cal_container { border: none; background: none; overflow: visible; }
	#o_cal_config_below_cal_container * { background: none; color: black; }
	#o_cal_config_below_cal_container fieldset { border: none; }
	#o_cal_config_below_cal_container fieldset legend { font-weight: bold; }
}
	
    