



/** ----------------- MAIN NAVIGATION ( TABS ) ----------------- **/
#b_nav_main {
	float: left;
	
	@if $enablebiz == true {
		margin-top:-27px;
	}
	
	ul {
		padding-left:40px;
		margin:0;
		//@include o-box-shadow(0,0,14px,#D3D3D3);
		
		li { 
			float:left;
			position:relative;
			list-style: none;
			margin:0px;
			padding: 4px 3px 4px 12px;
			margin-right:2px;
			
			@if $enablebiz == true {
				border:1px solid #ddd;
				border-bottom:none;
			}
			
			a {
				/* "bloat" the links (better for touch) */
				padding: 4px 12px 4px 3px; 
			}
			a:hover { text-decoration: none; }
			
			
			@include o-border-radius-all(6px,6px,0,0);
			background: #f5f5f5; //  for browsers with no rgba
			background: rgba(255,255,255,0.5);
			
			@if $enablebiz == true {
				background: rgba(255,255,255,0.7);
			}
			
			/* -- SITES ( home, users, groups, etc. ) -- */
			&.b_nav_site { 
	
				//active sites
				&.b_nav_active,&:hover,&.b_exception {
					a.b_nav_tab_close { background-image: url(../openolat/images/cross_small_trimmed_blue.png); }
					@include o-box-shadow(0, -4px,8px -1px, #d3d3d3);
					background:$top_nav_active_tabs_bg;
				}
				&.b_nav_active a {
				}
			
				/** sites icons **/
				> div {
					padding-left: 16px;
					background-repeat: no-repeat;
					background-position: 0% 50%;		
					background-image: url('../openolat/images/application.png');		
				}
				
				&.o_site_home > div { background-image: url('../openolat/images/home.png'); }
				&.o_site_admin > div { background-image: url('../openolat/images/wrench-screwdriver.png'); }
				&.o_site_useradmin > div { background-image: url('../openolat/images/user_conf.png'); }
				&.o_site_groupsmanagement > div { background-image: url('../openolat/images/users_conf.png'); }
				&.o_site_repository > div { background-image: url('../openolat/images/books-stack.png'); }
				&.o_site_groups > div { background-image: url('../openolat/images/users.png'); }
				&.o_site_coaching > div { background-image: url('../openolat/images/eye.png'); }
				&.site_demo_icon > div { background-image: url('../openolat/images/information-white.png');  }
				&.f_site_library > div { background-image: url('../openolat/images/library.png'); } 
				&.fx_members >  div { background-image: url('../openolat/images/users_members.png'); } 
				&.o_site_guidemo div { background-image: url('../openolat/images/light-bulb.png'); }
				&.b_resource_GroupInfoMainController div { background-image: url(../openolat/images/users.png); }
				&.o_site_catalog div { background-image: url(../openolat/images/drawer-open.png); }
				&.o_site_qpool div { background-image: url(../openolat/images/book-question.png); }
			}
			
			/* -- TABS ( courses, wiki, etc.) -- */
			&.b_nav_tab {
				margin-right:4px;
				a.b_nav_tab_close { 
					position: absolute; top: 3px; right: 4px;	width: 13px; height: 13px; line-height: 0;	padding: 0; margin: 0; 
					background: transparent url(../openolat/images/cross_small_trimmed_grey.png) no-repeat right top;
				}
				
				//active tabs
				&.b_nav_active,&:hover {
					a.b_nav_tab_close { background-image: url(../openolat/images/cross_small_trimmed_blue.png); }
					@include o-box-shadow(0, -4px,8px -1px, #d3d3d3);
					background:$top_nav_active_tabs_bg;
				}
				&.b_nav_active a {
				}
			}
			
			/* -- THE SPACER -- */
			&#b_nav_spacer {
				background:none;
				border:none;
				width:20px;
				height:1px;
				padding:0;
			}
			
		}//end li
	}//end ul
}
	
	
	
	
/** ----------------- SUB NAVIGATION (TREE) ----------------- **/

/* note:  the markup will be the one from OLATpro, has to be merged yet */
div.b_tree {
	font-size: 100%;
	padding: 0;
	
	ul { 
		position: relative;
		padding: 0;
		margin: 0 0 0 $tree_level_margin; 
		list-style: none; 
		white-space: nowrap; 
		
		li {
			position:relative;
			background:transparent;
			margin-left:0;
			padding-left:0;
			line-height:1.7em;
			
			// a tree element with icon
			// reset icon width in case no icons are shown
			@if $tree_show_icons == false { 
				$treeicon_width_px : 0; 
				a.b_tree_icon { background-image: none !important; }				
			}
			// standard icon rule
			a.b_tree_icon {padding-left: $treeicon_width_px; padding-top:2px; position: relative; background-position: 0 50%; background-repeat: no-repeat;}				
			
			
			a {
				color:$basegray;
			}
			a.b_tree_l1 {
				padding-left:16px;
			}
			
			.b_tree_oc_l1 {
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: 9;
			}
			
			.b_tree_level_open.b_tree_oc_l1 {
				z-index: 10;
			}
			.b_tree_level_close.b_tree_oc_l1 {
				z-index: 10;
			}


			/* selected, hovered, active <a> tag */
			a:focus, a:hover { color: $basecolor; background-color: transparent; text-decoration:underline; }	
			a.b_tree_selected,a:active { color: $basecolor; background-color: transparent; text-decoration:none; }	
			a.b_tree_selected_parents,strong { color: $basecolor; font-weight: bold; }
						
			/*  icon positioning */
			@for $i from 1 through 11 {
				.b_tree_oc_l#{$i}  { position:absolute; top:0px; left: 1px + ($i * $tree_padding_steps_px); z-index:9; }
			}

			@for $i from 0 through 11 {
				a.b_tree_l#{$i}  { padding-left: $tree_padding_opener_px + ($i * $tree_padding_steps_px); z-index:9; }
			}			
			
			
			/*   decorators in tree (e.g. course-editor ) */
			span.b_tree_icon_decorator {
				width: 12px;
				height: 12px;
				float: right;
				display: inline;
				position: static;
				z-index:9;
				background-repeat:no-repeat;
			}
			
			/* fix deleted nodes in courseditor (24.02.2012) */
			&.b_deleted {
				text-decoration:none;
				a { text-decoration: line-through; }
			}
			
		} // end li
		
		/* link to select the item with icon */
		@for $i from 0 through 11 {
			&.b_tree_l#{$i}  a.b_tree_icon { padding-left: ($tree_padding_opener_px + $treeicon_width_px  + $tree_padding_steps_px * $i);  background-position:($tree_padding_opener_px + 2px + $tree_padding_steps_px * $i)  50%; }
		}
	
	}// end ul
	
	
	/* the open/close node icons */
	a.b_tree_level_close {background:transparent ! important;} /* override link hover colors */
	a.b_tree_level_open {background:transparent ! important;}
	a.b_tree_level_close span { background: url($ico_minus) no-repeat 0 50%; padding-right:$tree_padding_opener_px;}
	a.b_tree_level_open span { background: url($ico_plus) no-repeat 0 50%; padding-right:$tree_padding_opener_px;}
	
	a.b_tree_level_close:hover,a.b_tree_level_open:hover {text-decoration:none;}
	
}// end b_tree
	
	