/*
*  =================================================
*  
*   PORTAL, PORTLETS, TOOLBOXES Rules for the OpenOLAT theme
*   
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Dez. 2011
*
*	also read themes.README!
*
*
*  =================================================
*/


/** ----------------- PORTAL ----------------- **/
div.o_home_portaleditlink {
	position: absolute;
	top: 0;
	right: 0;
}

.o_home_main h4 {
	text-align: center;
}

div.o_home_rsslink {
	clear: both;
	float: right;
	display: inline;
	margin: 10px 0;
}
#o_macartney_open {
	width: 20px;
	bottom: 0;
	left: 0;
	height: 16px;
	background: white url(../openolat/images/magnifier-zoom.png) no-repeat 4px 0;
}
#o_macartney_large {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	z-index: 10;
	border: 1px solid black;
	background: white;
	padding: 5px;
}
#o_macartney_large img { width: 100%; }
#o_macartney_close {position: absolute; width: 16px; top: 0; right: 0; height: 16px; border-left: 1px solid #000; border-bottom: 1px solid #000; background: #fff url(../openolat/images/close.png)}


/** ----------------- PORTLETS & BOXES ----------------- **/
@mixin o-box {
	position: relative;
	font-size: 100%;
	margin: 10px;
	min-height: 13em;
	border:1px solid lighten($basegray,20%);
	padding:4px;
	background:lighten($basegray,65%);
	@include o-border-radius(6px);
}

.b_portlet {
	position: relative;
	font-size: 95%;
	margin: 10px;
	min-height: 13em;
		
	.b_portlet_showall {
		font-size: 95%;
		position: absolute;
		right: 0;
		top: 0;
	}
	.b_portlet_header {
		border-bottom: 1px solid $basecolor_light;
		white-space: nowrap;
		overflow-y: hidden ! important;
		overflow-x: hidden ! important; 
	}
	.b_portlet_content {
		position: relative;
		padding: 1em 0 0 0;
	}
	
	
	/* generic table in portlets: override styles from b_table definition */	
	div.b_portlet_table table  {
		background: none; 
		border:none;
		th, td {padding:0;}
		tbody{
			tr { background: transparent; }	
			tr.b_table_odd td { background: transparent; }
			tr td { border: 0 ! important}
			tr:hover,tr:hover td, tr:focus,tr:focus td { background: transparent;}
		}	
	}
	
}

div.o_portlet_repository_student td.b_first_child { width: 24px;}
div.o_portlet_repository_teacher td.b_first_child { width: 24px;}
	
/*  small portlet icons */
.b_portlet .b_portlet_header { background-repeat:no-repeat; background-position: 0% 50%; padding-left:27px; padding-top:5px; padding-bottom:5px;}

/* calendar */	
div.o_portlet_calendar div.b_portlet_header { background-image: url(../openolat/images/calendar_empty.png); padding-left:2px; padding-top:8px;
}
$pdgr_calendar : 16px;

div.o_portlet_calendar.o_day_1  div.b_portlet_header strong:before { content:"1"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_2  div.b_portlet_header strong:before { content:"2"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_3  div.b_portlet_header strong:before { content:"3"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_4  div.b_portlet_header strong:before { content:"4"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_5  div.b_portlet_header strong:before { content:"5"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_6  div.b_portlet_header strong:before { content:"6"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_7  div.b_portlet_header strong:before { content:"7"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_8  div.b_portlet_header strong:before { content:"8"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_9  div.b_portlet_header strong:before { content:"9"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_10  div.b_portlet_header strong:before { content:"10"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_11  div.b_portlet_header strong:before { content:"11"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_12  div.b_portlet_header strong:before { content:"12"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_13  div.b_portlet_header strong:before { content:"13"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_14  div.b_portlet_header strong:before { content:"14"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_15  div.b_portlet_header strong:before { content:"15"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_16  div.b_portlet_header strong:before { content:"16"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_17  div.b_portlet_header strong:before { content:"17"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_18  div.b_portlet_header strong:before { content:"18"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_19  div.b_portlet_header strong:before { content:"19"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_20  div.b_portlet_header strong:before { content:"20"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_21  div.b_portlet_header strong:before { content:"21"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_22  div.b_portlet_header strong:before { content:"22"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_23  div.b_portlet_header strong:before { content:"23"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_24  div.b_portlet_header strong:before { content:"24"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_25  div.b_portlet_header strong:before { content:"25"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_26  div.b_portlet_header strong:before { content:"26"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_27  div.b_portlet_header strong:before { content:"27"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_28  div.b_portlet_header strong:before { content:"28"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_29  div.b_portlet_header strong:before { content:"29"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_30  div.b_portlet_header strong:before { content:"30"; font-size:smaller;padding-right: $pdgr_calendar; }
div.o_portlet_calendar.o_day_31  div.b_portlet_header strong:before { content:"31"; font-size:smaller;padding-right: $pdgr_calendar; }

div.o_portlet_infomsg  div.b_portlet_header { background-image: url(../openolat/images/comment.png); }
div.o_portlet_macartney  div.b_portlet_header { background-image: url(../openolat/images/macartney.png); }
div.o_portlet_quickstart  div.b_portlet_header { background-image: url(../openolat/images/mouse.png); }
div.o_portlet_bookmark  div.b_portlet_header { background-image: url(../openolat/images/book-open-bookmark.png); }	
div.o_portlet_groups  div.b_portlet_header { background-image: url(../openolat/images/users.png); }
div.o_portlet_notes  div.b_portlet_header { background-image: url(../openolat/images/sticky-note--pencil.png); }
div.o_portlet_noti  div.b_portlet_header{ background-image: url(../openolat/images/mail.png); }
div.o_portlet_eff  div.b_portlet_header { background-image: url(../openolat/images/script-stamp.png); }
div.o_portlet_repository_student div.b_portlet_header { background-image: url(../openolat/images/le_resources/book-open-text-image.png); }
div.o_portlet_repository_teacher div.b_portlet_header { background-image: url(../openolat/images/le_resources/book-open-text-image-red.png); }	
div.b_portlet_iframe div.b_portlet_header { background-image: url(../openolat/images/layer.png); }
div.b_portlet_sysinfo div.b_portlet_header { background-image: url(../openolat/images/exclamation.png); }
div.b_portlet_dyk div.b_portlet_header { background-image: url(../openolat/images/light-bulb.png); }
div.o_portlet_infomessages div.b_portlet_header { background-image: url(../openolat/images/information-button.png); }
div.b_portlet.o_pt_w_if div.b_portlet_header { background-image: url(../openolat/images/globe.png); }

/* portlets / portal in edit mode */
	div.b_portlet.b_portlet_edit {
		 background: #FFE793; border: 1px solid #FF9E3E; padding: 2px;
		
		.b_portlet_header {height:23px;}	 
		 
	}
	
	/* portlet toolbox (portal edit mode) */
	div.b_portlet_toolbox { 
		position: absolute; top:0; right:0; padding: 2px; height: 20px; overflow-y: hidden ! important; overflow-x: hidden ! important;
		 a, span.b_disabled { background-repeat: no-repeat; background-position: 1px 1px; float: right; width: 18px; height: 18px; overflow: hidden; }
		div { display: inline; } /* fix problem with brasato component wrapper */
		
		> a, > span {
			border:1px solid #888;
			@include o-border-radius(3px);
			background: #eee;
			background-repeat:no-repeat;
			background-position:center;
		}
		
		
		/* the toolbox buttons */
		a.b_portlet_edit_left { background-image: url(../openolat/images/arrow_left_big.png);}
		a.b_portlet_edit_right { background-image: url(../openolat/images/arrow_right_big.png);}
		a.b_portlet_edit_down { background-image: url(../openolat/images/arrow_down_big.png); }
		a.b_portlet_edit_up { background-image: url(../openolat/images/arrow_up_big.png); }
		a.b_portlet_edit_delete { background-image: url(../openolat/images/bin-metal-full.png); }
		a.b_portlet_edit_sort_auto { background-image: url(../openolat/images/table_sort.png); }
		a.b_portlet_edit_sort_manual { background-image: url(../openolat/images/table_gear.png); }
		
		span.b_portlet_edit_left_disabled { background-image: url(../openolat/images/arrow_left_big.png); @include o-opacity(20);}
		span.b_portlet_edit_right_disabled { background-image: url(../openolat/images/arrow_right_big.png);@include o-opacity(20);}
		span.b_portlet_edit_down_disabled { background-image: url(../openolat/images/arrow_down_big.png); @include o-opacity(20);}
		span.b_portlet_edit_up_disabled { background-image: url(../openolat/images/arrow_up_big.png); @include o-opacity(20);}	
		span.b_portlet_edit_sort_auto_disabled { background-image: url(../openolat/images/table_sort.png); @include o-opacity(20);}
		span.b_portlet_edit_sort_manual_disabled { background-image: url(../openolat/images/table_gear.png); @include o-opacity(20);}
	
	}



.b_toolboxes{
  // 	font-size: 95%;   // as of jan 20.  we try with normal font-size 
	padding:6px;
	.b_toolbox{ 
		margin-bottom: 20px;
	
		/* the toolbox head */
		.b_toolbox_head_wrapper { 
			border-bottom: 1px solid $basecolor_light;
			background: inherit; 
			.b_toolbox_head { 
				vertical-align: top;
				strong { font-weight: bold; } 
			}
			.b_toolbox_head_icon { 
				background: transparent no-repeat 3px 50%; 
				padding-left: 19px; 
				line-height: 1.2em; 
				color:black;
			}
		}
		
		/* toolbox content */
		.b_toolbox_content { 
			 ul { padding: 0 0 0 6px; margin: 0; list-style: none; }
			 li { 
			 	padding: 0; margin: 0; line-height: 1.7em; white-space: nowrap;
			 	a { color: #667; background-repeat: no-repeat; background-position:  0 50%; padding-left: 20px; display: block;}
			 	a:focus, a:hover, a:active { color: #504D4E; text-decoration: underline; }	
				
				/* special */
				div.b_note,div.b_important,div.b_warning { padding: 0 0 0 20px; margin: 0; border-bottom: 0; }
				a.b_toolbox_toggle { padding-left: 0; display: inline;}
				span.b_toolbox_toggle_wrapper {float: right; font-size: 90%;}
				
				/* disabled toolbox items */
				span.b_toolbox_link.b_disabled,span.b_toolbox_disabled { color: #999; background: no-repeat 0 50% url(../openolat/images/bullet_white.png); padding-left: 18px; display: block;}
			 }
		}// end toolbox_content
	
	}// end b_toolbox
}// end b_toolboxes


/* links list portlet */
div.b_portlet.o_pt_w_if div.b_portlet_header { background-image: url(../openolat/images/globe.png); }
div.b_portlet p { margin-bottom: 0; }
   
 /* did you know portlet */
div.b_portlet_dyk_q { font-weight: bold;}
div.b_portlet_dyk_a { padding-top: 5px;}
div.b_portlet_dyk_next { text-align: right; }	

	
	
	