div.o_qpool_button_bar { padding: 15px 0 0 0; text-align:center; }
div.o_qpool_toolbar { padding: 3px; text-align:right; }

.o_sel_qpool_pool { background-image: url('../openolat/images/qti/pool-share.png')!important; }
.o_sel_qpool_my_items { background-image: url('../openolat/images/user.png')!important; }
.o_sel_qpool_favorits { background-image: url('../openolat/images/flag.png')!important; }
.o_sel_qpool_share { background-image: url('../openolat/images/users.png')!important; }
.o_sel_qpool_collection { background-image: url('../openolat/images/document-list.png')!important; }

.o_readwrite { background-image: url('../openolat/images/pencil.png'); }
.o_readonly { background-image: url('../openolat/images/pencil-prohibition.png'); }

.o_public, .o_exportable { background-image: url('../openolat/images/tick.png'); }
.o_private, .o_unexportable { background-image: url('../openolat/images/cross.png'); }

.o_qpool_edit_learning_time {
	div {
		float:left;
		
		input, select, span.o_qpool_edit_learning_time_label  {
			margin-right:5px;
			padding-right:5px;
		}
	}
}

div.o_sel_qpool_edit_content { 
	float:right; 
	.b_link_edit {
		margin-right: 20px; // space for context help	
	}
}

div.o_sel_qpool_presentation div.b_c33l li { padding-right: 15px; }
div.o_sel_qpool_presentation h5 { margin: 0.5em 0 0.5em 0; }

/* fix strange positioning of table preferences, add space between table and search form */
#qpoolcontainer div.b_table_wrapper {
	a.b_table_prefs {
		position: relative;
		top: 1.5em;
		left: 19px;
	}
	div.dataTables_wrapper { 
		margin-top: 1em; 
	}
}	

/* add same size to all tables in sharing metadata */
div.o_qpool_metadata_sharing {
	h5 {
		margin-top: 1em;
	}
	table {
		td.b_first_child { width: 15% }
	}
}