div.b_tree ul.b_tree_l0 {
 	li.o_sel_qpool_pools a.b_tree_l0, li.o_sel_qpool_database a.b_tree_l0 {
		padding-left:0;
	}
}

.o_sel_qpool_pool { background-image: url('../openolat/images/database.png')!important; }
.o_sel_qpool_my_items { background-image: url('../openolat/images/user.png')!important; }
.o_sel_qpool_favorits { background-image: url('../openolat/images/flag.png')!important; }