/* stats */
a.o_print_icon { background-image: url('../openolat/images/printer.png'); }
a.o_print_icon span { display:none; }

.d3chart {
	.bar_green { fill: #9dd53a; }
	.bar_red { fill: #f85032; }
	.bar_grey { fill: lightgrey; }
}

div.o_qti_statistics {
	ul { list-style-type: none; padding:0; margin:0; }
	li { padding-left: 22px; }
	
	li.o_qti_statistics-survey-item { padding-left: 0px; }
	li.o_qti_statistics-ncorrect { background: url(../img/decorator_error.png) no-repeat 5px 4px; }
	li.o_qti_statistics-correct { background: url(../img/decorator_ok.png) no-repeat 5px 2px; }

	h4 {
		&.qti-qtype1 {padding-left:20px; background: url(../img/scItem.png) no-repeat;}

		&.qti-qtype2 {padding-left:20px; background: url(../img/mcItem.png) no-repeat;}
	
		&.qti-qtype3 {padding-left:20px; background: url(../img/fibItem.png) no-repeat;}
	
		&.qti-qtype4 {padding-left:20px; background: url(../img/essayItem.png) no-repeat;}
	
		&.qti-qtype5 {padding-left:20px; background: url(../img/kprimItem.png) no-repeat;}
	}
	
	a.b_content_download {
		display: inline;
	}
	
	a.o_print_icon span {
		display: inline;
	}
}

/* QTI legacy styles */
	#o_qti_run {}
	#o_qti_run div.b_button_group { text-align: left;}
	#o_qti_run_title { text-align: right;}
	#o_qti_run_title strong { float: left; display: inline;}
	#o_qti_run.o_qti_survey #o_qti_run_title strong { background: url(../openolat/images/le_resources/survey.png) no-repeat left 50%; padding-left: 20px;}
	#o_qti_run.o_qti_test #o_qti_run_title strong { background: url(../openolat/images/le_resources/test.png) no-repeat left 50%; padding-left: 20px; padding-top:2px; padding-bottom:2px;}
	#o_qti_scoreinfo{float: left; display: inline; padding: .3em; border: 1px solid silver; margin-right: 1em;}
	#o_qti_run_score { clear: both; margin: 1em 0; padding: 0 0 1.5em 0; font-size: 90%;}
	#o_qti_run_scoreinfo {float: left; display: inline;} 
	#o_qti_run_scoreprogress { float: left; display: inline; margin-left:1em;}
	#o_qti_questioninfo{float: left; display: inline; padding: .3em; border: 1px solid silver;}
	#o_qti_run_questioninfo {float: left; display: inline; margin-left:1em;}
	#o_qti_run_questionprogress	{float: left; display: inline; margin-left:1em;}
	#o_qti_run_status {clear: both; }
	#o_qti_run_main { clear:both; border-top: 1px solid #504D4E;  margin: 0.5em 0; padding: 1em 0;}
	#o_qti_run_menu_inner { 
		h4 {font-size: 100%;}
		ul { padding: 0; margin: 0; list-style: none;}
	 	li { clear: both; padding: 0; margin: 0; white-space: normal;}
	 	li.o_qti_menu_section { padding: 1em 0;}
	}
	
	#o_qti_run_menu_inner li div.o_qti_menu_item, #o_qti_run_menu li div.o_qti_menu_section {float: left; display: inline; margin-right: 10px;}		
	#o_qti_run_content_inner { }
	#o_qti_results td { padding: 0; }  /* fixes problem with truncated testresults, see OLAT-3416 */	
	#b_main.o_editor_qti_correct {background-image: url(../openolat/images/qti/correct_bg.png); background-position: top left; }
	#b_main.o_editor_qti {background-image: url(../openolat/images/edit_bg.png); background-position: top left; }
	#o_qti_hints, #o_qti_solutions { margin: 1em 0;}
	#o_qti_hints a { background: url(../openolat/images/light-bulb.png) no-repeat left 50%; cursor: help; padding-left: 20px; }
	#o_qti_solutions a { background: url(../openolat/images/magnifier-zoom.png) no-repeat left 50%; cursor: help; padding-left: 20px; }
	.qti_response_level_feedback_label { margin-top: 1em; font-style:italic }
	.qti_edit_layout { position:relative; padding-right:30px; margin-bottom:0.6em; }
	.qti_edit_layout .edit_link { position:absolute; top:10px; right:0px; }
	
	/* QTI item styles */
	div.o_qti_item {margin-bottom: 2em; margin-top: 2em; line-height:2em;}
	div.o_qti_item input.b_radio, div.o_qti_item input.b_checkbox { margin-left: 1em;}
	div.o_qti_item textarea { width: 99%;} /* prevent scrollbars */
	strong.o_qti_item_matemtext {}
	span.o_qti_item_mattext {}
	table.o_qti_item_kprim {}
	img.o_qti_item_matimage { vertical-align: middle;}

	div.o_qti_item_choice {display:table; margin: 1em 0;}
	div.o_qti_item_choice_option {display:table; padding: .5em; border: 1px solid transparent;}
	div.o_qti_item_choice_option_flow {display:table-cell; padding: .5em; border: 1px solid transparent;}
	div.o_qti_item_choice_option:hover {border: 1px solid silver;}
	div.o_qti_item_choice_option_flow:hover {border: 1px solid silver;}
	div.o_qti_item_choice_option_input {
		display:table-cell; vertical-align:middle; padding-right:.5em;
		input {vertical-align:middle;}
	}
	div.o_qti_item_choice_option_value {
		display:table-cell;
	}
	div.o_qti_item_choice_option_autoenum{display:table-cell;line-height:1.5em;width:1em;overflow:hidden;vertical-align:middle;color:silver;border:0;padding:0;margin:0;}
	
	#o_qti_menu td {}
    #o_qti_menu a {text-decoration: none;}

    .o_qti_menu_section{padding:.3em; border-top:1px solid $basecolor_light;}
    .o_qti_menu_section_clickable {padding:.3em; border: 1px solid transparent; display:inline-block;}
    .o_qti_menu_section_clickable:hover {padding:.3em; border: 1px solid silver; display:inline-block;}
    .o_qti_menu_section_active {padding:.3em; border: 1px dashed silver; display:inline-block;}

    .o_qti_menu_item {padding:.3em;border: 1px solid transparent; display:inline-block;}
    .o_qti_menu_item_active {padding:.3em; border: 1px dashed silver; display:inline-block;}
    .o_qti_menu_item_active:hover {border: 1px solid silver;}
    .o_qti_menu_item_inactive {padding:.3em; border: 1px solid transparent;}
    .o_qti_menu_item:hover {border: 1px solid silver;}
    .o_qti_menu_item_closed {padding:.3em; border: 1px solid transparent;}

	.o_qti_menu_item_attempts, .o_qti_menu_item_attempts_marked {color: #666; padding: .2em .4em; border: 1px solid transparent; background-position: center right; background-repeat: no-repeat;  display:block; width:20px; height:12px; }
	.o_qti_menu_item_attempts { background-image: url(../openolat/images/flag_off.png) } 
    .o_qti_menu_item_attempts:hover, .o_qti_menu_item_attempts_marked:hover {border: 1px solid silver; cursor:pointer; }
	.o_qti_menu_item_attempts_marked { background-image: url(../openolat/images/flag.png) } 
	
	
    #o_qti_item_note {padding:0;margin:0;border:0;color: #666;font-family:inherit;font-size:1em;background:inherit;overflow:hidden;}
	.o_qti_item_note_box {border: 1px dashed silver; padding:.1em;margin:0;padding-left:.5em;}
	div.o_qti_item_note_box_title{color: #666;}
	
	div.o_qti_item_itemfeedback, div.o_qti_item_assessfeedback, div.o_qti_item_o_qti_item_sectionfeedback{margin: 1em 0; background: url(../openolat/images/lightning.png) no-repeat left 50%; padding-left: 20px;}
	div.o_qti_item_objectives {margin: 1em 0; background: url(../openolat/images/information-white.png) no-repeat left 50%; padding-left: 20px; line-height:2em;}
	/* qti menu items */
	.o_qti_timelimit_icon {background-image: url(../openolat/images/qti/time.png); }
	.o_qti_attemptslimit_icon {background-image: url(../openolat/images/qti/tries.png); }
	.o_qti_closed_icon {background-image: url(../openolat/images/qti/closed.png); }
	.o_mi_qtialientitem { background-image: url(../openolat/images/docs/document_plain.png); }
	.o_mi_qtisc { background-image: url(../openolat/images/qti/scItem.png); }
	.o_mi_qtimc { background-image: url(../openolat/images/qti/mcItem.png); }
	.o_mi_qtikprim {background-image: url(../openolat/images/qti/kprimItem.png); }
	.o_mi_qtifib { background-image: url(../openolat/images/qti/fibItem.png); }
	.o_mi_qtiessay {background-image: url(../openolat/images/qti/essayItem.png); }
	.o_mi_qtisection { background-image: url(../openolat/images/qti/section.png); }
	.o_mi_qpool_import { background-image: url(../openolat/images/qti/pool.png); }
	.o_mi_qpool_export { background-image: url(../openolat/images/qti/pool.png); }
	.o_mi_docx_export { background-image: url(../openolat/images/docs/document-word.png); }
	.o_mi_iqtest { background-image: url(../openolat/images/le_resources/test.png); }
	.o_mi_iqsurv { background-image: url(../openolat/images/le_resources/survey.png); }
	
	/* --------- onyx ------------------ */
	
	.onyx_iframe {
		width: 100%;
		height: 100%;
		border: none;
		min-height: 60em;
	}
	
	