div.o_table_row {

	div.f_thumbnail { width:200px; height:150px; float:left; border-right: 1px solid #999; }
	div.f_item_links {
			a { background-repeat: no-repeat; }
	}
	div.f_metadata { 
		position: relative;
		border: 1px solid #999;
		background-color: #fcfcfc;
		@include o-box-shadow(0,1px,2px,#999);
		
		div.f_thumbnail_inner {
			width:200px;
			height:150px;
		}
		div.f_thumbnail_unavailable {
			width:200px; height:150px;
			background: white url(../openolat/images/no_preview.png) 50% 50% no-repeat;
		}
		
		div.f_metadata_text {
			margin: 10px 220px 10px 300px;
		}
		div.f_metadata_text_inner {
			width:100%;
		}
		div.f_metadata_lifecycle {
			position: absolute;
			top: 10px;
			right: 240px;
		}
		div.f_metadata_mark {
			position: absolute;
			top: 10px;
			right: 215px;
		}
		div.f_metadata_additional_infos {
			position: absolute;
			top: 0;
			right: 0;
			height: 150px;
			width: 210px;
			border-left: 1px solid #999;
			
			div.b_ratings_and_comments {
				margin: 2.5em 0 5px 0;
			}
		}
		div.f_metadata_start {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 91px;
			height: 20px;
			padding: 7px;
			background-color: $basecolor;
			
			a {
				color: #ffffff;
				font-size: 140%;
				text-decoration: none;
			}
		}
		
		div.f_metadata_go {
			position: absolute;
			bottom: 0;
			right: 105px;
			width: 91px;
			height: 20px;
			padding: 7px;
			background-color: $basecolor_light;
			
			a {
				color: #ffffff;
				font-size: 140%;
				text-decoration: none;
			}
		}
		
		span.b_access_method {
			width: 16px;
			height: 16px;
			background-position: 0 50%;
			background-repeat: no-repeat;
		}
		
		div.f_metadata_additional_infos_inner {
			margin: 10px 10px 10px 10px;
		
		}
	}
}

div.f_metadata_details {
	margin: 20px 0 10px 0;

	div.f_metadata_go {
		width: 90%;
		background-color: $basecolor_light;
		padding: 10px;
		
		a {
			color: #ffffff;
			font-size: 140%;
			text-decoration: none;
		}
	}
	
	h5 {
		margin-top: 10px;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 0;
		}
	}

	div.f_metadata_media {
		margin: 5px 0 10px 0;
	}
	
	div.f_metadata_lifecycle {
		background: white url('../openolat/images/calendar.png') 0 50% no-repeat;
		padding: 2px 0 2px 20px;
	}
	
	div.f_metadata_expenditure {
		background: white url('../openolat/images/clock.png') 0 50% no-repeat;
		padding: 2px 0 2px 20px;
	}
	
	div.f_metadata_score {
		width:90%;
		margin: 20px 0 20px 0;
		padding: 2px 0 2px 20px;
		background-color: $basecolor_ultra_light;
		@include o-border-radius(4px);
	}
	
	div.b_ratings_and_comments {
		width: 150px;
	}
}
