/*
*  =================================================
*  
*   TABBED PANE and SEGMENTED VIEW Rules for the OpenOLAT theme
*   
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Dez. 2011
*
*	also read themes.README!
*
*
*  =================================================
*/

/** ----------------- TABS / TABBED PANE ----------------- **/
div.b_tabbedpane_wrapper { 
	 div.b_tabbedpane_tabs { 
	 	float: left; 
	 	display: inline-block;
	 	margin-bottom:1em;
	 	
	 	ul { 
	 		line-height: 1em; list-style: none; margin: 0; padding: 0; white-space: nowrap;
	 		li { 
	 			@include btt-outer;
	 			@include o-border-radius(0);
	 			margin:0;
	 			float: left; 
	 			display: inline; 
	 			position: relative; 
	 		}
	 		
	 		a,strong {
			 	background: transparent; 
			 	color: #667; 
			 	display: block; 
			 	font-weight: normal; 
			 	padding: 1px 6px 1px 5px; 
			 	text-decoration: none; text-transform: none;
			}		
	
		> ul a,> ul strong {  width: auto; }  
		li:focus , li:hover , li:active  {
			//border:1px solid #C6C6C6;
			@include o-box-shadow(0, 1px, 1px, rgba(0,0,0,0.1));
		}
		
		a:focus, a:hover, a:active { color: #000; text-decoration: none; }
		
		/* active tabs */	
		li.b_active { 
			@include o-box-shadow-inset(0px, 1px, 2px, rgba(0,0,0,0.1));
			background:#eee;
			border-color:#ccc;
			a,strong { color: #000; font-weight: bold;  }
		}
		
		/* disbled tabs */
		li.b_disabled { 
			background: #fff ! important; 
			a,strong { color:#8994A9; background: transparent  ! important; font-weight: normal;}
			&:hover { @include o-box-shadow(0, 0, 0, #fff);  }
		}
		
		/* special style for first tab */
		li.b_first {@include o-border-radius-all(3px,0px,0px,3px);}
		/* special style for last tab */
		li.b_last {@include o-border-radius-all(0px,3px,3px,0px);}
		/* special style for tab at position 3 */
		li.b_item_3 {}
	 	}
	 	
	 	/* a tabbed pane with only one tab */
	 	li.b_first.b_last {
	 		//border:none;
	 		//background:none;
	 		//box-shadow:none; 
	 	}
	  }
		/* tabbed pane content area */
	  div.b_tabbedpane_content { 
	  	$tcborder: lighten($basegray,50%);
	  	clear: both; 
	  	padding: 5px 15px; 
	  	background: transparent; 
	  	border: 1px solid $tcborder;
	  	
	  	div.b_tabbedpane_content_inner { position: relative; min-height: 30em; }
	  }
} 

/** ----------------- SEGMENTED VIEW ----------------- **/
div.b_segments_container { 
		min-height: 25px; 
		padding-top: 8px; 
		position: relative; 
		background: url(../openolat/images/divider.png) center top no-repeat;
		div.b_segments { 
			clear:both;
			position:absolute;
			left:50%;
			a:hover { text-decoration: none; }
			ul { 
				position: relative; 
				left:-50%;
				list-style-type:none;
				margin: 0; 
				li { 
					
					/* we want button-style */
					@include btt-outer;
					@include o-border-radius(0);
					
		 			margin:0;
		 			float: left; 
		 			display: inline; 
		 			position: relative; 
		 			
		 			a { 
					 	background: transparent; 
					 	color: #667; 
					 	display: block; 
					 	font-weight: normal; 
					 	padding: 1px 6px 1px 5px; 
					 	text-decoration: none; text-transform: none;
					}
					a:hover, a:active, a:focus {text-decoration: none;}
					
					&:hover { 
						@include o-box-shadow(0, 1px, 1px, rgba(0,0,0,0.1));
					}
					&.b_segment_selected { 
						&:hover { }
						@include o-box-shadow-inset(0px, 1px, 2px, rgba(0,0,0,0.1));
						background:#eee;
						border-color:#ccc;
						a,strong { color: #000; font-weight: bold;  }
			
					}
					$seg_br: 12px;
					
					&.b_segment_first { 
						@include o-border-radius-all($seg_br,0px,0px,$seg_br);
					}
					&.b_segment_first.b_segment_selected { 
						
					}
					&.b_segment_last {
						@include o-border-radius-all(0px,$seg_br,$seg_br,0px);
					}
				 }
			}
		}
		div.b_segment_content {
			margin-top: 50px; 
			clear:both;
			$tcborder: lighten($basegray,50%);
		  	padding: 5px 15px; 
		  	background: transparent; 
		  	border: 1px solid $tcborder;
	  	}
}