/** ----------------- TABLES ----------------- **/


/*  normal default table (inherited from YAML) */
table { 
	border-collapse:collapse; 
	margin-bottom:0.5em; 
	border-top: 0px solid white; 
	border-bottom: 0px solid white; 
	
	caption { font-variant:small-caps; }
	&.fixed { table-layout:fixed; }
	
	 th,td { padding:0.3em; }
	 thead th { 
	 	color: inherit; 
	 	border-bottom:1px solid #ccc; 
	 }
	 
	 tbody{
	 	/* odd and even rows and rollover effect */
		tr {
			&.b_table_odd td { 
				background: #eee; 
			}
			&.b_row_selected td { 
				background: $selectcolor_light; 
			}
		}
		
	 }
}

div.b_table_drag {
	padding:5px;
	@include o-border-radius($di_border_radius);
	border:1px solid $basecolor;
	@include o-box-shadow(0px,0px,6px,rgba(0,0,0,0.3));
}
	
	
/* tables from OpenOLAT tablecontroller are wrapped in b_table_wrapper */
div.b_table_wrapper { 
	table {
		width: 99.5%;
		margin-left: 1px;
		border:1px solid $basegray_ultra_light;
		thead, thead a {
	 		color: $tablecolor_header;
	 		a.b_sorting {
	 			padding: 0 20px 0 0;
	 			text-decoration: none;
	 			background:url("../openolat/images/arrow-resize-090.png") no-repeat center right;
	 		}
	 		a.b_sorting_asc {
	 			padding: 0 20px 0 0;
	 			text-decoration: none;
	 			background:url("../openolat/images/arrow_up.png") no-repeat center right;
	 		}
	 		a.b_sorting_desc {
	 			padding: 0 20px 0 0;
	 			text-decoration: none;
	 			background:url("../openolat/images/arrow_down.png") no-repeat center right;
	 		}
	 	}		
	 	tbody{
			tr:hover td { background: $selectcolor_ultra_light; }
			tr.b_row_selected:hover td { background: $selectcolor_light; }
			a {
				color: $tablecolor_links;
				&:hover {
					color: $tablecolor_links_hover;
				}
			}
		}
	}
	
	/* table add-ons */
	div.b_table_filter { 
		float: left; display: inline; font-size: 95%; margin:7px 10px 2px 0;
		label { font-style: italic; margin:5px 0 2px 0; }
		select { border: 1px solid #ACAAAA	; }
		option { }
	}
	//div.b_clearfix div.b_floatbox { margin:5px 0 0 0;  }
	div.b_table_count { font-size: 95%; float: left; line-height: 16px; vertical-align: bottom; margin: 3px; font-size: 95%;}
	a.b_table_prefs, a.b_table_download {float: right; display: block; background-repeat: no-repeat; background-position: top left; width: 16px; height: 16px; margin: 3px;}
	a.b_table_prefs {background-image: url(../openolat/images/table_gear.png);}
	a.b_table_download {background-image: url(../openolat/images/table_download.png);}
	div.b_table_buttons { text-align: center; margin: 1.5em 0 1em 0; }	/* bottom-margin to fix IE6 overflow issue */
	
	/* emtpy table - some margin to render similar to existing table */
	div.b_table_empty {
		@extend .b_with_small_icon_left;
		@extend .b_warn_icon;
		margin: 1em 0;
	}
	
	div.b_table_footer {
		float:left;
		margin: 5px 0 0 10px;
	}
	
	div.dataTables_info {
		float:left;
		margin: 5px 0 0 0;
	}
	
	
	
	.dataTables_wrapper {
		.paginate_enabled_previous{background:url('../openolat/images/arrow_left.png') no-repeat top left}
		.paginate_enabled_previous:hover{background:url('../openolat/images/arrow_left.png') no-repeat top left}
		.paginate_disabled_previous{background:url('../openolat/images/arrow_left.png') no-repeat top left}
		.paginate_enabled_next{background:url('../openolat/images/arrow_right.png') no-repeat top right}
		.paginate_enabled_next:hover{background:url('../openolat/images/arrow_right.png') no-repeat top right}
		.paginate_disabled_next{background:url('../openolat/images/arrow_right.png') no-repeat top right}
		
		.sorting{background:url('../openolat/images/arrow-resize-090.png') no-repeat center right}
		.sorting_asc{background:url('../openolat/images/arrow_up.png') no-repeat center right}
		.sorting_desc{background:url('../openolat/images/arrow_down.png') no-repeat center right}
		.sorting_asc_disabled{background:url('../openolat/images/arrow_up.png') no-repeat center right}
		.sorting_desc_disabled{background:url('../openolat/images/arrow_down.png') no-repeat center right}
	
		div.dataTables_scrollBody {
			table.dataTable {
				border-top: none;
			  thead th {
					border:none;
				}
			}
		}

		table.dataTable {
			thead th {
				border-bottom: 1px solid #ccc;
				color: $tablecolor_header;
			}
			tbody a {
				color: $tablecolor_links;
				&:hover {
					color: $tablecolor_links_hover;
				}
			}
		
			tr.even td.sorting_1 {
				background: #eee;
			}
			
			tr.odd {
				background-color: #fff;
			
				td.sorting_1 {
					background: #fff;
				}
			}
		}
	}
}

div.b_table_wrapper.b_table_edit table tbody {
	border:solid $dirtycolor 1px;
	border-top:solid $dirtycolor 4px;
	background: $dirtycolor_bg;
}

div.b_table_wrapper.b_flexitable_wrapper div.b_table_filter {
	margin:3px 0 3px 0;
	label {
		padding:3px 7px 3px 0;
	}
	div.b_form_selection_element {
		float:right;
	}
}


	
/* table paging */
div.b_table_page { 
	font-size: 95%; text-align: center;
	a { margin: 0 ; padding: 2px;}
	a.b_table_page_active { font-weight: bold; color: #000;}
	a.b_table_backward {background: url(../openolat/images/arrow_left.png) no-repeat center left; padding-left: 16px;}
	a.b_table_forward {background: url(../openolat/images/arrow_right.png) no-repeat center right; padding-right: 16px;}
	a.b_table_first_page {background: url(../openolat/images/home.png) no-repeat center left; padding-left: 18px;}
}
div.b_table_page_all { 
	font-size: 95%; text-align: center;
}

	