@charset "UTF-8";

/*
 * =================================================
 *  
 * SASS file for offline qti results overview
 *
 * compile using standard compiletheme script, e.g.
 * cd /my/path/to/OpenOLAT/src/main/webapp/static/themes/
 * ./compiletheme.sh /my/path/to/OpenOLAT/src/main/webapp/static/offline/qti
 *  =================================================
 */
@import "../../themes/light/license";

@import "../../themes/light/config";

/* Bootstrap classes. Override bootstrap variables in your _config.scss file */
@import "../../themes/light/modules/bootstrap";

/* -------- OpenOLAT modules -------- */
@import "../../themes/light/modules/fonts"; /* defines extra fonts used as icons */
@import "../../themes/light/modules/icons"; /* must be second include - provides classes used as extensions */
@import "../../themes/light/modules/mixins";
@import "../../themes/light/modules/helpers";
@import "../../themes/light/modules/dialog";
@import "../../themes/light/modules/content_embedded";  /* add all styles that are created by html editor but can also be rendered in 
   										main window, not in iframe (e.g. forum post, blog entry) */
@import "../../themes/light/modules/radial-progress";

/* now load QTI suff */
@import "../../themes/light/modules/qti";
@import "../../themes/light/modules/qti21";

.o_page_margins {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

#o_main {
	margin-top: 25px;
}