<div class="o_table_layout $!tableConfig.getCustomCssClass() o_scrollbox">
#if ($tableEmpty)
	<div class="o_empty_state">
		<div class="o_empty_visual"><i class="o_icon o_icon_empty_indicator"></i><i class="o_icon $tableEmptyIconCss"></i></div>
		<h3 class="o_empty_msg">
			$tableEmptyMessage
		</h3>
		#if($tableEmptyHint)
		<div class="o_empty_hint">
			$tableEmptyHint
		</div>		
		#end
		#if($r.available("tableEmptyNextActionLink"))
		<div class="o_empty_action">$r.render("tableEmptyNextActionLink")</div>		
		#end
	</div>
#else
	#if(($hasTableSearch && !$tableEmpty) || $tableConfig.isDisplayRowCount() || ($hasFilters && $filters.size() > 0) || $hasSorters || $tableConfig.isPreferencesOffered() || $tableConfig.isDownloadOffered())
	<div class="row clearfix o_table_toolbar">
		<div class="col-sm-6 col-xs-12">
			#if ($hasTableSearch && !$tableEmpty)
			  $r.render("tableSearch")
			#end
		</div>
		<div class="col-sm-2 col-xs-4 o_table_row_count">
		#if ($tableConfig.isDisplayRowCount())
			$rowCounts
			#if ($rowCounts == "1")
				$r.translate("table.entry")
			#else
				$r.translate("table.entries")
			#end
		#end
		</div>
		<div class="col-sm-4 col-xs-8"><div class="pull-right"><div class="o_table_tools">
			#if ($hasFilters && $filters.size() > 0)
			<div class="btn-group">	
				<button id='table-button-filters' type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
					<i class='o_icon o_icon-lg o_icon_filter'> </i>
					<b class="caret"></b>
				</button>
				<div id="table-filters" class="hide"><ul class="o_dropdown list-unstyled" role="menu">
					#if ($useNoFilterOption)
						<li><a href="$r.commandURI("cmd.filter.nofilter")">$noFilterOption</a></li>
					#end
					#foreach ($filter in $filters)
						<li>
							#set ($filterPosition = $foreach.count - 1)
							<a href="$r.commandURI("cmd.filter.${filterPosition}")">
							#if ($filter == $selectedFilterValue)
								
							<i class="o_icon o_icon_check o_icon-fw"> </i>
							#end
							$r.escapeHtml($filter.getShortName())</a>
						</li>
					#end
				</ul></div>
	  			<script>
				/* <![CDATA[ */
				jQuery(function() { o_popover('table-button-filters','table-filters'); });
				/* ]]> */
				</script>
			</div>
			#end
			#if ($hasSorters)
				$r.render("tableSort")
			#end
			#if ($tableConfig.isPreferencesOffered())
				$r.render("prefLink")
			#end
			#if ($tableConfig.isDownloadOffered())	
				$r.render("downloadLink")
			#end
		</div>
		#if($selectedFilterValue && $selectedFilterValue.shortName && !($selectedFilterValue.shortName == "") && !($selectedFilterValue.shortName == "-"))
		<div class="o_table_tools_indications">
			<i class='o_icon o_icon_filter o_icon-lg'> </i> $selectedFilterValue.shortName
		</div>
		#end
		</div></div>
	</div>
	#end
	$r.render("table", $tableConfig.getCssPrefix())
#end
</div>

