<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Overview description of flexible form package</title>
</head>
<body>

<h2>Summary:</h2>
The <tt>Link</tt> is a component which fires an event to its listener when a user is clicking it. It is rendered by the
<tt>LinkRenderer</tt> and can have different appearances. It can look like a typical hyper link, a button or even like an icon.
<p>
The <tt>LinkFactory</tt> provides a set of convenience methods. In the most cases you have only to set three parameters: the first
one for the name of the link, the command and the translation key; the second one for the VelocityContainer, where the link
is displayed to the user; the third one for the listener.

</body>
</html>