<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xml:lang="en" lang="en">
<head>
	<meta content="text/html; charset=utf-8" />
	<title>Overview description of flexible form package</title>
</head>
<body>

<h2>Summary:</h2>
The <code>Link</code> is a component which fires an event to its listener when a user is clicking it. It is rendered by the
<code>LinkRenderer</code> and can have different appearances. It can look like a typical hyper link, a button or even like an icon.
<p>
The <code>LinkFactory</code> provides a set of convenience methods. In the most cases you have only to set three parameters: the first
one for the name of the link, the command and the translation key; the second one for the VelocityContainer, where the link
is displayed to the user; the third one for the listener.

</body>
</html>