/*
*  =================================================
*  
*   basemod rules for OpenOLAT 8
*   
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Nov. 2011
*
*	also read themes.README!
*
*   (as of yaml compliance, contains css rules for
*   positioning and sizing elements) 
*   
*   this file is included in layout.scss
*   it is not compiled to a separate css-file...  
*
*  =================================================
*/

@media all {

html{ min-height:100%;}

/** ----------------- MAIN LAYOUT ----------------- **/
/** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */
body { 
	min-height:100%;
	overflow-y:scroll; 
	@include bodybg;	
}
#b_page_margins {
	min-width:740px;
	max-width:1324px;
	margin:0 auto;
	width:100%;
	height:100%;
}
#b_page_wrapper {
//	@include o-border-radius(6px);
	border-bottom: 1px solid lightGrey;
}
#b_main {
	background:#fff;
	min-height:550px; /* min height, should prevent "flashing" of OO sky-banner on slow connections */
	clear:both;
	@include o-box-shadow(0,0,14px,#D3D3D3);
}
#b_page{

	// the "to-top"-link
	a#b_toplink {
		position: absolute;
		bottom: 1em;
		right: 1em;
		background: transparent url(../openolat/images/arrow_up.png) 0 50% no-repeat;
		padding-left: 14px;
		z-index: 5;
	}
	
	@if $enablebiz == true {
		background:#fff;
	}
}


#b_header, #b_page,#b_col1_content, #b_col2_content, #b_col3_content,#b_col3_content_inner {
	position: relative;
}
#b_col1 {
	//prevent menu-tree from overlapping into content-area
	overflow: hidden;
}
#b_col1_content {padding:1em 10px 1em 0px;}

#b_col3 {
	border-left: 1px #DDD dotted;
	border-right: 1px #DDD dotted;
}
#b_col3_content {
	min-height: 450px;
	padding: 20px 20px 30px 20px;
}

#b_col2_content {
	overflow:hidden;
	padding:1em 0;
}

// hide right margin+border if no right-column (col2)
.b_hidecol2 #b_col3 {
	margin-right: 0 ! important;
	border-right: none;
}
// hide left margin+border if no left-column (col1)
.b_hidecol1 #b_col3 {
	margin-left: 0 ! important;
	border-left: none;
}

// hide both margin+border if no left- and right-columns
.b_hideboth #b_col3 {
	margin-left: 0 !important;
	margin-right:0 !important;
	border-left:none;
	border-right:none;
}

.b_hideboth #b_col1, .b_hideboth #b_col2, 
.b_hidecol1 #b_col1, .b_hidecol2 #b_col2, 
#b_ie_clearing {
	display: none;
}

.b_c15r,.b_c20r,.b_c80r,.b_c85r{float:right;margin-left:-5px;}
.b_c15l,.b_c15r{width:15%}
.b_c20l,.b_c20r{width:20%}
.b_c80l,.b_c80r{width:80%}
.b_c85l,.b_c85r{width:85%}
.b_subcolumns_oldgecko,.b_c20l,.b_c15l,.b_c80l,.b_c85l{float:left}


/* IFRAME */
div.b_iframe_wrapper iframe { width:100%; position:relative; top: 0; left:0; border:none; margin: 0; padding: 0; background: transparent;}
	

/* RedScreen View */
#b_main.b_exception {
	padding-left: 165px;
	padding-right: 165px;
}
	
/** ----------------- HEADER AND TOP NAVIGATION ----------------- **/
#b_header {
	height: auto;
	min-height:30px;
	
	overflow:hidden;
	
	@if $enablebiz == true {
		height: 154px;
		background:#fff;
	}
	position:relative;
	
	//background:transparent url('../openolat/images/openolat_logo_header.png') no-repeat 20px 20px;
	
	/* the top-navigation */
	#b_topnav {
		position:absolute;
		right:0px;
		top:0px;
		padding:4px 15px 0px 0px;
		ul {margin:0;}
		#o_topnav_search input {
			line-height: 1.3em;
			margin: 0;
			width: 10em;
		}
		#o_topnav_printview a {
			background: url(../openolat/images/printer.png) no-repeat top right;
			padding: 2px 20px 2px 0;
			margin: 0;
		}
		#o_topnav_logout a {
			background: url('../openolat/images/control/control-power.png') no-repeat top right;
			padding: 2px 20px 2px 0;
			margin: 0;
			font-weight: bold;
		}

		li {
			float:left;
			list-style: none;
			margin-left:1.7em;
			div.b_form_element_wrapper.b_form_horizontal {margin:0;}
		}
		
		li#o_topnav_imclient li {
			margin-left:0.5em;
		} 
	}
}
	
/**  I moved main navigation and sub-navigation (tree) to separate file, 
but had to include here, don't want to change all layout.scss **/
@import "nav";


/** ----------------- FOOTER ----------------- **/

#b_footer {
	color: #9D9D9D;
	padding:8px 20px;
	margin-top:12px;
	.b_floatbox {
		padding-top:8px;
		border-top:1px solid #ddd;
	}
	
	a { color: $basegray_light; }
	
	#b_footer_user { 
		float: left; line-height: 16px;
	 	a.b_ajax {background: url(../openolat/images/ajax.png) no-repeat; width: 20px; height: 16px; display: block; float: left; }
	}
	#b_footer_version { float: right; display: block; }
	#b_footer_powered { 
		text-align: center; width: auto; background: none;  
		a { display: inline; } 
	}
}




/* --------------- MENU TOOLBAR & BREADCRUMBS ------------ **/
	
#b_main.b_menu_toolbar #b_col1_content { padding-top: 0; padding-right: 0; }
#b_main.b_menu_toolbar #b_col3_content { padding:0; }
div.b_menu_toolbar { 
	@include o-gradient2(#f9f9f9,#d0d0d0);
	border-bottom: 1px solid #7D7D7D; 
	padding: 5px 5px 2px 0;
}
	
/* breadcrumbs */
div.b_breadcumb {}
div.b_breadcumb_path { 
	padding: 0; margin: 0; float:left; display: inline;
	ul { 
		padding: 0; margin: 0; list-style: none; float:left;  display: inline; 
		li { padding: 0 7px 0 14px; margin: 0; list-style: none; float:left;  display: inline; background: url(../openolat/images/breadcrumb-separator.png) no-repeat left center; }
		li.b_first { background: url(../openolat/images/home.png) no-repeat top left; padding-left: 25px; }
		li a { color: #464444; }
		li span.b_disabled { color: #000; padding: 0 10px 0 0; margin: 0; }
	}
}
div.b_breadcumb_content { clear: both;  margin-top: 0.5em; padding-top: 0.5em; border-top: 1px solid #ACAAAA;}

/* NOTIFICATIONS */
div.b_noti { 
		border: 1px solid #E9EAEF; padding: 3px 23px 3px 3px; float: right; display: inline; position: relative; right: 0; font-size: 95%;
		a.b_contexthelp { position: absolute; top: 2px; right: 2px; }
		a.b_noti_unsubscribe_link { background: url(../openolat/images/mail--minus.png)  no-repeat left 50%; padding: 1px 0 1px 20px; }
		a.b_noti_subscribe_link { background: url(../openolat/images/mail--plus.png)  no-repeat left 50%; padding: 1px 0 1px 20px; }
		a.b_noti_markedread_link { background: url(../openolat/images/tick.png)  no-repeat left 50%; padding: 1px 0 1px 20px;}	
}
	
/* ---------- TITLE Wrapper --------------- */
div.b_titled_wrapper div.b_noti {position:absolute;  right:25px; top:0px; }
div.b_titled_wrapper fieldset div.b_noti {top:12px;}
h1.b_titled_wrapper span { padding-right: 4em; font-style: italic;}
h2.b_titled_wrapper span { padding-right: 4em; font-style: italic;}
h3.b_titled_wrapper span { padding-right: 4em; font-style: italic;}
h4.b_titled_wrapper span { padding-right: 3em; font-style: italic;}
h5.b_titled_wrapper span { padding-right: 3em; font-style: italic;}

/* OPEN / CLOSE BOX TOGGLER */
a.b_togglebox_closed {background: url($ico_plus) no-repeat 0 50%; padding: 1px 0 1px 18px; vertical-align: middle;}
a.b_togglebox_opened {background: url($ico_minus) no-repeat 0 50%; padding: 1px 0 1px 18px; vertical-align: middle;}

div.b_titled_wrapper {
	div.b_togglebox div.b_togglebox_content { background:transparent; border:0px; padding:0px; }
	//a.b_togglebox_opened { z-index:10; display:block; width:20px; height:20px; background: url(../openolat/images/information-white.png) no-repeat 0 50%; }
	//a.b_togglebox_closed { display:block; width:20px; height:20px; background: url(../openolat/images/information-white.png) no-repeat top left;  @include o-opacity(60); }
	
	div.b_togglebox div.b_togglebox_content { position:relative; margin-bottom:1em; }
	a.b_togglebox_hide span { }
	a.b_togglebox_hide:hover { text-decoration:underline; }
}



/* Needed for IE6 */
div.b_titled_wrapper div.b_togglebox div.b_togglebox_content div.o_course_run_objectives { position:relative; }
div.o_course_run_dropbox div.b_noti { position:relative; top:0; right:25px; border: 1px solid #FFFFFF;}
div.o_course_run_returnbox div.b_noti { position:relative; top:0; right:25px; border: 1px solid #FFFFFF;}
div.o_course_run_solutionbox div.b_noti { position:relative; top:0; right:25px; border: 1px solid #FFFFFF;}
	
	
/** ------------------ CATALOG ------------------------ **/
div.o_catalog {
	 div.o_catalog_link_title {
	 	margin: 2em 0 0 0;
	 	border-bottom:1px solid #ccc;
	 	padding:0.3em;
	 }
	 
	 div.o_catalog_title {
		display: none; //hide title
	 }
	div.o_catalog_nav {
		font-size: 95%;
		padding: 1px 0 2px 22px;
		border-bottom: 1px solid #EEE;
		background: url(../openolat/images/folder_open.png) 2px 50% no-repeat;
	}
	.o_catalog_sub_icon { background-image: url(../openolat/images/folder_small.png); }
	
	div.o_catalog_links {
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px solid #EEE;
	}
	
	div.o_catalog_itemlist ul { 
		list-style-type: none; margin: 0; padding: 0;
		li { margin: 0; padding: 0 0 0 0.5em;;overflow: hidden;} 
		a { display: block; }	    
	}      
	
	div.o_catalog_desc { margin: 0.5em 0 0.5em 0; padding-left: 20px; font-size: 95%; font-style: italic;}
	
}/* end div.o_catalog */

div.b_ext_elem {
	.x-tree-node-collapsed .x-tree-node-icon.o_catalog_cat_icon, 
	.x-tree-node-leaf .x-tree-node-icon.o_catalog_cat_icon  { background-image: url(../openolat/images/folder_small.png); }
	
	.x-tree-node-collapsed .x-tree-node-icon.o_catalog_cat_noaccess_icon,
	.x-tree-node-leaf .x-tree-node-icon.o_catalog_cat_noaccess_icon { background-image: url(../openolat/images/locked.png); }
	.x-tree-node-expanded .x-tree-node-icon.o_catalog_cat_icon { background-image: url(../openolat/folder_open.png); }
	.x-tree-node-expanded .x-tree-node-icon.o_catalog_cat_noaccess_icon { background-image: url(../openolat/images/locked.png); }
	.x-tree-node-leaf .x-tree-node-icon.o_catalog_entry_icon { background-image: url(../openolat/images/le_resources/book-open-text-image.png); }
}


/* FLOTING STYLES */
.b_float_left { float: left; display:inline; margin-right: 1em; margin-bottom: 0.15em;  }
.b_float_right { float: right; display:inline; margin-left: 1em; margin-bottom: 0.15em;  }
.b_center { text-align:center; margin: 0.5em auto }
/* CLEAR container: additonal to b_floatbox */
.b_floatscrollbox { 
	overflow-x: auto;  // this must stay on "auto", change to "hidden" and the everything goes to hell
	overflow-y: hidden;
}
.b_overflowscrollbox { overflow: auto;}


}/* end @media all */