/*
*  =================================================
*  
*   DRAG and DROP Rules for the OpenOLAT theme
*   
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Dez. 2011
*
*	also read themes.README!
*
*
*  =================================================
*/

/*  (in trees ) */
.b_dd_item { cursor:move; z-index: 1000; }
.b_dd_proxy { opacity: 0.4; -moz-opacity: 0.4; filter: alpha(opacity=40); }
.b_dd_item.b_dd_over { background-color: #ffff60; }
.b_dd_sibling { height:3px; width:100%; }
.b_dd_sibling.b_dd_over { background:transparent url(images/arrow_dd.png) top left no-repeat; }

div.b_dd_ct {
	div.b_dd_sibling_l1 { margin-left:0 !important; }
	div.b_dd_sibling_l2 { margin-left:1em !important; }
	div.b_dd_sibling_l3 { margin-left:2em !important; }
	div.b_dd_sibling_l4 { margin-left:3em !important; }
	div.b_dd_sibling_l5 { margin-left:4em !important; }
	div.b_dd_sibling_l6 { margin-left:5em !important; }
	div.b_dd_sibling_l7 { margin-left:6em !important; }
	div.b_dd_sibling_l8 { margin-left:7em !important; }
	div.b_dd_sibling_l9 { margin-left:8em !important; }
	div.b_dd_sibling_l10 { margin-left:9em !important; }
	div.b_dd_sibling_l11 { margin-left:10em !important; }
}