/*
*  =================================================
*   
*   CONTAINS SOME SASS VARIABLES
*   you can change these and compile the theme :)
*
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Nov. 2011
*
*
*   also read themes.README!
*
*  =================================================
*/


/* the base-color and variations (for openolat-theme this is the openolat-blue) */
$basecolor: #025D8C !default;
$basecolor_light : #94bed3 !default;
$basecolor_ultra_light : #f3feff !default;

/* then we need a base-gray and some variations */
$basegray: #555 !default;
$basegray_light: #777 !default;
$basegray_ultra_light: #eee !default;


/* here you can define the two small icons used in trees:  + and - */ 
$ico_plus : '../openolat/images/toggle-small-expand.png'  !default;
$ico_minus : '../openolat/images/toggle-small.png'  !default;

/* the defaultfont used in : text, main content, etc. */
$defaultfont : Arial, sans-serif !default;
/* the font used in :  navigation (tabs + tree), headings */
$headerfont : Century Gothic, Apple Gothic, sans-serif !default;
/* the overall default font-size */ 
$defaultfontsize : 75% !default;

/* defines the body-background */
@mixin bodybg(){
	background: #ECECEC url('../openolat/images/sky.png') repeat-x left 88px;
}



