/*
*  =================================================
*   
*   CONTAINS SOME SASS VARIABLES
*   you can change these and compile the theme :)
*
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Nov. 2011
*
*
*   also read themes.README!
*
*  =================================================
*/


/* the base-color and variations (for openolat-theme this is the openolat-blue) */
$basecolor : #025D8C !default;
$basecolor_light : #94bed3 !default;
$basecolor_ultra_light : #f3feff !default;

/* selected table rows, calendars, buttons and other selections */
$selectcolor : #FF9F5B !default;				
$selectcolor_light : #FF9F5B !default;			
$selectcolor_ultra_light : #FFDBC1 !default;	 

/* color that indicates the edit fields or table */
$dirtycolor : #FF9900 !default;
$dirtycolor_bg : #FEFBF6 !default;

/* then we need a base-gray and some variations */
$basegray: #555 !default;
$basegray_light: #777 !default;
$basegray_ultra_light: #eee !default;

/* glossy bar colors, default is dark, alternative would be #fefefe,#e3e3e3,#cfcfcf,#f3f3f3  */
$glossColor1 : #5E5E5E !default;
$glossColor2 : #444 !default;
$glossColor3 : #222 !default;
$glossColor4 : #3C3C3C !default;

/* colors for ok (green) and not ok (red) in assessment, accept workflows etc */
$okcolor : #009900 !default;
$nokcolor : #990000 !default;

$linkcolor : $basecolor !default;
$linkcolor_hover: $basecolor !default;
$menulinkcolor : $basegray !default;
$menulinkcolor_hover : $basecolor !default;
$menulinkcolor_selected : $basecolor !default;

$tablecolor_header : $linkcolor !default;
$tablecolor_links : $linkcolor !default;
$tablecolor_links_hover : $linkcolor !default;

/* full screen margins. Set to 0% to have have no surrounding border at all */
$fullScreenModalMarginPercents: 2% !default;

/* top navigation */
$top_nav_line_height : 1.5em !default;
$top_nav_active_tabs_bg : #fff !default;

/* toolbar with breadcrumb */
$tool_bar_height : 24px !default;
$tool_bar_bg : $top_nav_active_tabs_bg !default;
$tool_bar_border : #DADADA !default;
$tool_bar_color : #2D2E2D !default;
$tool_bar_hover : #585A58 !default;

$main_shadow_color : #D3D3D3 !default;

/* menu navigation */
$tree_level_margin : 1em !default;
$tree_padding_steps_px : 0 !default; /* alternate solution to tree_level_margin in case the tree link has block layout */
$tree_padding_opener_px : 13px !default; /* total width of opener image (actual image width + whitespace) */
$tree_padding_opener_left_px : 1px !default; /* left position of opener image */
$tree_padding_opener_top_px : 0px;
/* show or hide tree icons, if yes, width of icons */
$tree_show_icons : true !default; 
$treeicon_width_px : 20px !default;
/* here you can define the two small icons used in trees:  + and - */ 
$ico_plus : '../openolat/images/tree_parent_closed.png'  !default;
$ico_minus : '../openolat/images/tree_parent_open.png'  !default;

/* the defaultfont used in : text, main content, etc. */
$defaultfont : 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
/* the font used in :  navigation (tabs + tree), headings */
$headerfont : Century Gothic, Apple Gothic, sans-serif !default;
/* other fonts */
$topnavfont : $headerfont !default;
$navmainfont : $headerfont !default;
$treefont : $headerfont !default;

/* the overall default font-size */ 
$defaultfontsize : 80% !default;

/* min and max content width */
$page_width_max : 1324px !default;
$page_width_min : 740px !default;

/* enable business / kmu mode */
$enablebiz : false !default;

/* show beta logo on this instance */
$showbetalogo: false !default;


/* defines the body-background */
@mixin bodybg(){
	background: #ECECEC url('../openolat/images/sky.png') repeat-x left 83px;
	
	@if $enablebiz == true {
		background: #ECECEC url('../openolat/images/sky.png') repeat-x left 179px;
	}
}