/*
*  =================================================
*   
*   CONTAINS SOME SASS VARIABLES
*
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Nov. 2011
*
*
*   also read themes.README!
*
*  =================================================
*/


// the base-color (for openolat-theme this is the openolat-blue)
$basecolor: #025D8C;
$basecolor_light : #94bed3;
$basecolor_ultra_light : #f3feff;
$basegray: #555;
$basegray_light: #777;
$basegray_ultra_light: #eee;



$ico_plus : 'images/toggle-small-expand.png' ;
$ico_minus : 'images/toggle-small.png' ;