/*
*  =================================================
*  
*   ICON Rules for the OpenOLAT theme
*   
*   @author strentini, sergio.trentini@frentix.com,  www.frentix.com
*   @date Dez. 2011
*
*	also read themes.README!
*
*
*  =================================================
*/

.b_with_small_icon_left {
	padding: 1px 0 1px 20px;
	min-height: 16px;
	background-position: 0 50%;
	background-repeat: no-repeat;
}

option.b_with_small_icon_left { 
	padding: 0 0 0 20px;
	vertical-align: middle;
	min-height: 11px;
	background-position: 0 50%;
	background-repeat: no-repeat; 
}


.b_with_small_icon_right {
	padding: 1px 20px 1px 0px;
	min-height: 16px;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.b_small_icon {
	float: left;
	display: inline;
	width: 16px;
	height: 16px;
	background-position: 0 50%;
	background-repeat: no-repeat;
}

/* ------- misc icons --------- */
.b_info_icon { background-image: url(images/comment.png)}
.b_warn_icon { background-image: url(images/exclamation.png)}
.b_error_icon { background-image: url(images/cross-circle.png)}
.b_new_icon { background-image: url(images/new-text.png)}
.b_institution_icon { background-image: url(images/home.png) }
.b_group_icon { background-image: url(images/users.png) }
.b_user_icon { background-image: url(images/user.png) }
.b_move_left_icon { background-image: url(images/arrow_left_big.png); }
.b_move_right_icon { background-image: url(images/arrow_right_big.png);}
.b_move_down_icon { background-image: url(images/arrow_down_big.png); }
.b_move_up_icon { background-image: url(images/arrow_up_big.png); }
.b_delete_icon { background-image: url(images/cross-script.png); }
.b_share_icon { background-image: url(images/share.png); }
.b_status_enabled_icon { background-image: url(images/tick.png) }	
.b_status_disabled_icon { background-image: url(images/cross.png) }	
.b_edit_icon{ background-image: url(images/docs/document--pencil.png); }
.b_add_icon { background-image: url(images/plus-circle.png); }
.b_open_icon { background-image: url(images/control/control.png); }
	
.o_fulltext_search_button { background-image: url('images/magnifier-zoom.png'); }
	
.o_help_icon { background-image: url(images/help.png); }
.o_rss_icon { background-image: url(images/feed.png); }
.o_login_guests {background-image: url(images/user_silhouette.png);}
.o_login_pwd {background-image: url(images/user_excl.png);}
.o_login_register {background-image: url(images/user_register.png);}


/** ------- FLAGS ------ **/
.b_flag_en {background-image: url(images/flags/gb.png)} 	
.b_flag_de {background-image: url(images/flags/de.png)} 	
.b_flag_fr {background-image: url(images/flags/fr.png)} 	
.b_flag_it {background-image: url(images/flags/it.png)} 	
.b_flag_es {background-image: url(images/flags/es.png)} 	
.b_flag_da {background-image: url(images/flags/dk.png)} 	
.b_flag_cs {background-image: url(images/flags/cz.png)} 	
.b_flag_el {background-image: url(images/flags/gr.png)} 	
.b_flag_ru {background-image: url(images/flags/ru.png)} 	
.b_flag_pl {background-image: url(images/flags/pl.png)} 	
.b_flag_zh_CN {background-image: url(images/flags/cn.png)} 	
.b_flag_zh_TW {background-image: url(images/flags/tw.png)} 	
.b_flag_lt {background-image: url(images/flags/lt.png)} 	
.b_flag_fa {background-image: url(images/flags/ir.png)} 	
.b_flag_pt_PT {background-image: url(images/flags/pt.png)} 	
.b_flag_pt_BR {background-image: url(images/flags/br.png)} 	
.b_flag_tr {background-image: url(images/flags/tr.png)} 	
.b_flag_hu {background-image: url(images/flags/hu.png)} 	
.b_flag_sq {background-image: url(images/flags/al.png)} 	
.b_flag_in {background-image: url(images/flags/id.png)} 	
.b_flag_ar {background-image: url(images/flags/eg.png)} 	
.b_flag_rm {background-image: url(images/flags/rm.png)} 	
.b_flag_af {background-image: url(images/flags/za.png)} 	
.b_flag_iw {background-image: url(images/flags/iw.png)} 	
.b_flag_vi {background-image: url(images/flags/vn.png)} 
.b_flag_mn {background-image: url(images/flags/mn.png)} 
.b_flag_iw {background-image: url(images/flags/il.png)} 
.b_flag_ko {background-image: url(images/flags/kr.png)} 
.b_flag_nl_NL {background-image: url(images/flags/nl.png)}
.b_flag_jp {background-image: url(images/flags/jp.png)}
.b_flag_nb_NO {background-image: url(images/flags/no.png)}
.b_flag_et_EE {background-image: url(images/flags/ee.png)}
.b_flag_bg {background-image: url(images/flags/bg.png)}
.b_flag_hi_IN_ASIA {background-image: url(images/flags/in.png)}
.b_flag_ar_LB {background-image: url(images/flags/lb.png)}     
.b_flag_de_FX_business 	{background-image: url(images/flags/de.png)}
.b_flag_de_FX_school 	{background-image: url(images/flags/de.png)}	
.b_flag_en_FX_business 	{background-image: url(images/flags/gb.png)}
.b_flag_en_FX_school 	{background-image: url(images/flags/gb.png)}


/** ------- FILE TYPES ------- **/
	/* first the default that is used as base class. will be overriden by following classes */
.b_filetype_file { 	background-image: url(images/docs/document_plain.png) ! important; }

/* filesystem icons, mark important to override ext definitions */
.b_filetype_avi_icon { background-image: url(images/docs/document-film.png) ! important; }
.b_filetype_bat_icon { background-image: url(images/docs/document-binary.png) ! important; }
.b_filetype_bmp { background-image: url(images/docs/document-image.png) ! important; }
.b_filetype_css, { background-image: url(images/docs/document_tags.png) ! important; }
.b_filetype_doc, .b_filetype_docx { background-image: url(images/docs/document-word.png) ! important; }
.b_filetype_dvi { background-image: url(images/docs/document-film.png) ! important; }
.b_filetype_exe { background-image: url(images/docs/document-binary.png) ! important; }
div.b_ext_elem .x-tree-node-expanded .x-tree-node-icon.b_filetype_folder, .b_filetype_folder_open { background-image: url(../images/brasato/folder_open.png)  ! important; }	
.b_filetype_folder { background-image: url(images/folder.png)  ! important; }
.b_filetype_gif { background-image: url(images/docs/document-image.png) ! important; }
.b_filetype_gz { background-image: url(images/docs/document-zipper.png) ! important; }
.b_filetype_htm, .b_filetype_html { background-image: url(images/docs/document_tags.png) ! important; }
.b_filetype_jpeg, .b_filetype_jpg { background-image: url(images/docs/document-image.png) ! important; }
.b_filetype_log { background-image: url(images/docs/document_plain.png) ! important; }
.b_filetype_midi { background-image: url(images/docs/document-music.png) ! important; }
.b_filetype_mov { background-image: url(images/docs/document-film.png) ! important; }
.b_filetype_mp3,.b_filetype_m3u { background-image: url(images/docs/document-music.png) ! important; }
.b_filetype_mpeg,.b_filetype_mpg { background-image: url(images/docs/document-film.png) ! important; }
.b_filetype_odp { background-image: url(../images/brasato/opendoc_pres.png) ! important; }
.b_filetype_ods { background-image: url(../images/brasato/opendoc_sheet.png) ! important; }
.b_filetype_odt { background-image: url(../images/brasato/opendoc_text.png) ! important; }
.b_filetype_odg { background-image: url(../images/brasato/opendoc_graphic.png) ! important; }
.b_filetype_odf { background-image: url(../images/brasato/opendoc_math.png) ! important; }
.b_filetype_pdf { background-image: url(images/docs/document-pdf.png) ! important; }
.b_filetype_png { background-image: url(images/docs/document-image.png) ! important; }
.b_filetype_ppt { background-image: url(images/docs/document-powerpoint.png) ! important; }
.b_filetype_pptx { background-image: url(images/docs/document-powerpoint.png) ! important; }
.b_filetype_ps { background-image: url(images/docs/document-pdf.png) ! important; }
.b_filetype_qt,.b_filetype_ra,.b_filetype_ram { background-image: url(images/docs/document-film.png) ! important; }
.b_filetype_readme { background-image: url(images/docs/document_plain.png) ! important; }
.b_filetype_rtf { background-image: url(images/docs/document-word.png) ! important; }
.b_filetype_tar,.b_filetype_tgz { background-image: url(images/docs/document-zipper.png) ! important; }
.b_filetype_tiff { background-image: url(images/docs/document-image.png) ! important; }
.b_filetype_txt { background-image: url(images/docs/document_plain.png) ! important; }
.b_filetype_wav { background-image: url(images/docs/document-music.png) ! important; }
.b_filetype_xls, .b_filetype_xlsx { background-image: url(images/docs/document-excel.png) ! important; }
.b_filetype_xml{ background-image: url(images/docs/document_tags.png) ! important; }
.b_filetype_xsl { background-image: url(images/docs/document_tags.png) ! important; }
.b_filetype_zip { background-image: url(images/docs/document-zipper.png) ! important; }


/* tab icons in nav */

#b_nav_main {

	// the default 
	li.b_nav_site div, li.b_nav_tab div { background: url(images/application.png) no-repeat left 50%; padding-left: 18px;	}			
	
	// the others		
	li.b_resource_BusinessGroup div, .o_BusinessGroup_icon  { background-image: url(images/users.png) }
	li.b_resource_CourseModule div, .o_CourseModule_icon  { background-image: url(images/le_resources/book-open-text-image.png) }
	li.b_resource_HOMEPAGECONFIG div, .o_HOMEPAGECONFIG_icon,  li.b_resource_Identity div { background-image: url(../images/olat/vcard.png) }
	li.b_resource_FileResource-SHAREDFOLDER div, .o_FileResource-SHAREDFOLDER_icon  { background-image: url(images/folder_shared.png) }
	li.b_resource_FileResource-WIKI div, .o_FileResource-WIKI_icon  { background-image: url(images/le_resources/wiki.png) }
	li.b_resource_FileResource-PODCAST div, .o_FileResource-PODCAST_icon  { background-image: url(images/le_resources/podcast.png) }
	li.b_resource_FileResource-BLOG div, .o_FileResource-BLOG_icon  { background-image: url(images/le_resources/blog.png) }
	li.b_resource_FileResource-MOVIE div, .o_FileResource-MOVIE_icon  { background-image: url(images/docs/document-film.png) }
	li.b_resource_FileResource-PDF div, .o_FileResource-PDF_icon  { background-image: url(images/docs/document-pdf.png) }
	li.b_resource_FileResource-PPT div, .o_FileResource-PPT_icon  { background-image: url(images/docs/document-powerpoint.png) }
	li.b_resource_FileResource-DOC div, .o_FileResource-DOC_icon  { background-image: url(images/docs/document-word.png) }
	li.b_resource_FileResource-IMSCP div, .o_FileResource-IMSCP_icon  { background-image: url(images/le_resources/book-open-text-image-red.png) }
	li.b_resource_FileResource-SCORMCP div, .o_FileResource-SCORMCP_icon  { background-image: url(images/le_resources/book-open-text-image-s.png) }
	li.b_resource_FileResource-FILE div, .o_FileResource-FILE_icon  { background-image: url(images/docs/document_plain.png) }
	li.b_resource_FileResource-IMAGE div, .o_FileResource-IMAGE_icon  { background-image: url(images/docs/document-image.png) }
	li.b_resource_FileResource-SOUND div, .o_FileResource-SOUND_icon  { background-image: url(images/docs/document-music.png) }
	li.b_resource_FileResource-XLS div, .o_FileResource-XLS_icon  { background-image: url(images/docs/document-excel.png) }
	li.b_resource_FileResource-ANIM div, .o_FileResource-ANIM_icon  { background-image: url(images/docs/document-image.png) }
	li.b_resource_FileResource-SURVEY div, .o_FileResource-SURVEY_icon  { background-image: url(images/le_resources/survey.png) }
	li.b_resource_FileResource-TEST div, .o_FileResource-TEST_icon  { background-image: url(images/le_resources/test.png) }	
	li.b_resource_FileResource-GLOSSARY div, .o_FileResource-GLOSSARY_icon  { background-image: url(images/le_resources/glossary.png) }
	li.b_resource_org-olat-search-ui-SearchController div, .o_org-olat-search-ui-SearchController_icon  { background-image: url(../images/brasato/search.png) }		
	li.b_resource_EPStructuredMapTemplate div { background-image: url(images/le_resources/portfolio.png) }
}
	
	
/* ------ TOOLBOX ICONS -------- */
li a.o_toolbox_course { background-image: url(images/le_resources/book-open-text-image.png); }
li a.o_toolbox_content { background-image: url(images/le_resources/book-open-text-image-red.png); }
li a.o_toolbox_scorm { background-image: url(images/le_resources/book-open-text-image-s.png); }
li a.o_toolbox_test { background-image: url(images/le_resources/test.png); }
li a.o_toolbox_questionnaire { background-image: url(images/le_resources/survey.png); }
li a.o_toolbox_wiki { background-image: url(images/le_resources/wiki.png); }
li a.o_toolbox_podcast { background-image: url(images/le_resources/media-player-cast.png); }
li a.o_toolbox_blog { background-image: url(images/le_resources/blog.png); }
li a.o_toolbox_glossary { background-image: url(images/le_resources/glossary.png); }
li a.o_toolbox_sharedfolder { background-image: url(images/folder_shared.png); }
li a.o_toolbox_coursefolder { background-image: url(images/le_resources/blue-folder.png); }
li a.o_toolbox_portfolio { background-image: url(images/le_resources/portfolio.png); }

li a.b_toolbox_link { background-image: url(images/bullet_black.png); }
li a.b_toolbox_doc { background-image: url(images/docs/document_plain.png); }
li a.b_toolbox_preview { background-image: url(images/docs/document_preview.png); }
li a.b_toolbox_publish { background-image: url(images/docs/document_share.png); }
li a.b_toolbox_move { background-image: url(images/docs/document_move.png); }
li a.b_toolbox_close { background-image: url(images/close.png); }
li a.b_toolbox_delete { background-image: url(images/cross-script.png); }
li a.b_toolbox_copy, .b_copy_icon { background-image: url(images/docs/document-copy.png); }
	
	
/* --------- menu icon decorators -------- */
.o_midlock{ top: 9px; left: 9px; background-image: url(images/decorator/deco_condition.png); }
.o_miderr{ top: 8px; left: -2px; background-image: url(images/decorator/deco_error.png); }
.o_midwarn{	top: 8px; left: -2px; background-image: url(images/decorator/deco_warn.png);}
.o_midpub{ top: -2px; left: 9px; background-image: url(images/decorator/deco_ok.png); }	
	
	
	
/* --------- course building block icons ------------------- */
.o_bc_icon { background-image: url(images/folder.png) ! important; }
.o_co_icon { background-image: url(images/mail.png)!important}
.o_cp_icon { background-image: url(images/le_resources/book-open-text-image-red.png)!important}
.o_cp_org { background-image: url(images/le_resources/book-open-text-image-red.png)!important}
.o_cp_item { background-image: url(images/docs/document-text.png)!important}
.o_dialog_icon { background-image: url(images/docs/document_discuss.png)!important} 
.o_en_icon { background-image: url(images/enrol.png)!important}
.o_fo_icon { background-image: url(images/forum.png)!important}
.o_iqself_icon { background-image: url(images/le_resources/selftest.png)!important}
.o_iqsurv_icon { background-image: url(images/le_resources/survey.png)!important}
.o_iqtest_icon { background-image: url(images/le_resources/test.png)!important}
.o_ms_icon { background-image: url(images/le_resources/thumb-up.png)!important}
.o_scorm_icon, .o_scorm_org { background-image: url(images/le_resources/book-open-text-image-s.png) !important}
.o_scorm_item { background-image: url(images/docs/document-text.png)!important}
.o_scorm_asset { background-image: url(images/le_resources/book-open-text-image-s.png)!important}
.o_sp_icon { background-image: url(images/docs/document-text.png)!important}
.o_st_icon { background-image: url(images/node-select-all.png)!important}
.o_ta_icon { background-image: url(images/docs/document-task.png)!important}
.o_tu_icon { background-image: url(images/docs/document-import.png)!important}
.o_wiki_icon { background-image: url(images/le_resources/wiki.png)!important}
.o_ll_icon { background-image: url(images/docs/document_linklist.png)!important}
.o_cl_icon { background-image: url(images/clipboard-task.png)!important}
.o_den_icon { background-image: url(images/clock.png)!important}
.o_projectbroker_icon { background-image: url(images/projectbroker.png)!important}
.o_podcast_icon { background-image: url(images/le_resources/media-player-cast.png)!important}
.o_blog_icon { background-image: url(images/le_resources/blog.png)!important}
.o_cal_icon { background-image: url(images/calendar.png)!important}
.o_lti_icon { background-image: url(images/docs/document-node.png)!important}
/* <OLATCE-103> */
.o_vc_icon { background-image: url(images/projection-screen.png)!important }
/* </OLATCE-103> */
.o_vitero_icon { background-image: url(images/vitero.png)!important }
.o_ep_icon, .o_EPStructuredMapTemplate_icon { background-image: url(images/le_resources/portfolio.png)!important}
.o_infomsg_icon { background-image: url(images/information-button.png)!important}
.o_cmembers_icon { background-image: url(images/users.png)!important}
body#b_body .o_CourseModule_icon_closed {background-image:url(../images/olat/course_closed.png);}
	