@charset "UTF-8";

@media all{

$bg_gradient1 : #00D2F8;
$bg_gradient2 : #4A9EAD;

$infotextcolor : #000;
$bordercolor : #888;
$titlecolor : #444;

.epmst-blue {
	@include epmst-font;
}

ul.b_eportfolio_maps {
	li.epmst-blue, li.template.epmst-blue { 
		@include epmst-mapclosed($bg_gradient1,$bg_gradient2,$bordercolor) 
	}
	.b_map_info p { color: $infotextcolor; }
	li.epmst-blue > h4 {
		@include epmst-front-h4;
		color: $titlecolor;
	}
	li.epmst-blue > div.b_map_descr {
		@include epmst-front-p;
	}
}

.b_eportfolio_map.epmst-blue {
	@include epmst-actualpage($bg_gradient1,$bg_gradient2);
}

.epmst-blue { 
	@include epmst-pagination($titlecolor);
}
	
}