@charset "UTF-8";

@media all{

$bg_gradient1 : #99E44D;
$bg_gradient2 : #CBF1A5;

$infotextcolor : #000;
$bordercolor : #bbb;
$titlecolor : #555;

.epmst-green2 {
	@include epmst-font;
}

ul.b_eportfolio_maps {
	li.epmst-green2, li.template.epmst-green2 { 
		@include epmst-mapclosed($bg_gradient1,$bg_gradient2,$bordercolor) 
	}
	.b_map_info p { color: $infotextcolor; }
	li.epmst-green2 > h4 {
		@include epmst-front-h4;
		color: $titlecolor;
	}
	li.epmst-green2 > div.b_map_descr {
		@include epmst-front-p;
	}
}

.b_eportfolio_map.epmst-green2 {
	@include epmst-actualpage($bg_gradient1,$bg_gradient2);
}

.epmst-green2 { 
	@include epmst-pagination($titlecolor);
}
	
}