
@mixin epmst-front-h4 {
	padding: 20px 20px 4px 25px; background: rgba(255, 255, 230, 0.7) none;
	margin: 0; -webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px; border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
}

@mixin epmst-front-p {
	padding: 0 20px 20px 25px; background: rgba(255, 255, 230, 0.7) none;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px; border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px; border-bottom-left-radius: 6px;
}

@mixin epmst-pagination($titlecolor) {
	div.b_map_header h4 {color: $titlecolor;}
	div.b_ep_actualpage { 
		width: 100%; margin-top: 0; clear: both; 
		h1,h4 {
			color: $titlecolor;
		}
	}
	div.b_pagination { float: none; position: static; width: 100%; }
	div.b_pagination ul { margin: 0; }
	div.b_pagination li { float: left; display: inline; width: auto; margin: 0 2px 0 0; padding: 0; background: #ddd; -webkit-border-radius: 7px 7px 0 0; -moz-border-radius: 7px 7px 0 0; -o-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0; }
	div.b_pagination li span,  div.b_pagination li a,  div.b_pagination li { display: block; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; }
	div.b_pagination li.b_disabled { padding: 0; background: #f4f4f4; }
	div.b_pagination li .b_disabled { color: black; font-weight: normal; padding: 5px 8px; }
	div.b_pagination li a { padding: 1em; padding: 5px 8px; }
	div.b_eportfolio_page,  div.b_portfolio_toc,  div.b_eportfolio_edit { background-image: none; }	
	div.b_pagination li.b_changelog {float:right;}
}

@mixin epmst-actualpage($bg1,$bg2){
	margin-top:6px;
	 background: $bg1;
	 background: $bg1 -webkit-gradient(linear, 37% 20%, 53% 100%, from($bg1), to($bg2));
	 background: $bg1 -moz-linear-gradient(43% 71% 101deg,$bg1, $bg2);
	 background: $bg1 -o-linear-gradient($bg1, $bg2);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$bg1}', EndColorStr='#{$bg2}');

	padding: 30px; 
	 -webkit-border-top-right-radius: 10px; 
	 -moz-border-radius-topright: 10px; 
	 border-top-right-radius: 10px; 
}

@mixin epmst-font {
	font-family: Century Gothic, Apple Gothic, sans-serif;
}

@mixin epmst-mapclosed($bg1,$bg2,$bordercolor) {
	background: $bg1;
	 background: $bg1 -webkit-gradient(linear, 37% 20%, 53% 100%, from($bg1), to($bg2));
	 background: $bg1 -moz-linear-gradient(43% 71% 101deg,$bg1, $bg2);
	 background: $bg1 -o-linear-gradient($bg1, $bg2);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$bg1}', EndColorStr='#{$bg2}');
	 
	border: 1px solid $bordercolor; 
	border-left: 3px solid transparentize(darken($bordercolor, 20%),0.2);
	box-shadow: 3px 3px 4px rgba(20,20,20,0.4);
}