$bg_gradient1 : #FF9772;
$bg_gradient2 : #FF9780;

$infotextcolor : #000;
$bordercolor : #888;
$titlecolor : #444;

.o_map-epmst-red2 {
	@include epmst-map($bg_gradient1, $bg_gradient2, $bordercolor);
	
}

.o_eportfolio_maps .o_map-epmst-red2 {
	h4 {
		color: $titlecolor;
	}
	.panel-body, td, a {
		color: $infotextcolor;
	}
}