$bordercolor : #888;

.o_eportfolio_maps .o_map-leather {
	background-color: rgb(149, 115, 82);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,237,237, 0.5)), color-stop(100%, rgba(153,153,153, 0.5))), url('#{$o-images-path}portfolio/light-leather-tile.jpg'),;
	background-image: -webkit-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	background-image: -moz-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	background-image: -ms-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	background-image: -o-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	background-image: linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	
	font-family: Palatino, Georgia, serif;

	border: 1px solid $bordercolor; 
	border-left: 3px solid transparentize(darken($bordercolor, 20%),0.2);
	box-shadow: 3px 3px 4px rgba(20,20,20,0.4);
	
	h4 {
		background: rgba(243, 230, 225, 0.5) none;
	}
	
	.panel-body, td {
		color: #333;
	}
	
	a {
		color: #fad9a4;
	}
}

.o_eportfolio_map.o_map-leather {
	background-color: rgb(149, 115, 82);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137,137,137, 0.5)), color-stop(100%, rgba(53,53,53, 0.5))), url('#{$o-images-path}portfolio/light-leather-tile.jpg'),;
	background-image: -webkit-linear-gradient(top, rgba(137,137,137, 0.5), rgba(53,53,53, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	background-image: -moz-linear-gradient(top, rgba(137,137,137, 0.5), rgba(53,53,53, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	background-image: -ms-linear-gradient(top, rgba(137,137,137, 0.5), rgba(53,53,53, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	background-image: -o-linear-gradient(top, rgba(137,137,137, 0.5), rgba(53,53,53, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');
	background-image: linear-gradient(top, rgba(137,137,137, 0.5), rgba(53,53,53, 0.5)), url('#{$o-images-path}portfolio/light-leather-tile.jpg');

	font-family: Palatino, Georgia, serif;
	
	border: 1px solid $bordercolor; 
	border-left: 3px solid transparentize(darken($bordercolor, 30%),0.2);
	
	.o_map_header {
		h4, p, a, span, label {
			color: #fff;
		}
	}
}