$bg_gradient1 : #fafafa;
$bg_gradient2 : #efefef;

$infotextcolor : #000;
$bordercolor : #efefef;
$titlecolor : #444;

.o_map-default {
	@include epmst-map($bg_gradient1, $bg_gradient2, $bordercolor);
}

.o_eportfolio_maps .o_map-default {
	h4 {
		color: $titlecolor;
		background: none;
	}
	.panel-body, td, a {
		color: $infotextcolor;
	}
}