$bg_gradient1 : #FFA800;
$bg_gradient2 : #FFAF00;

$infotextcolor : #000;
$bordercolor : #888;
$titlecolor : #444;

.o_map-epmst-red4 {
	@include epmst-map($bg_gradient1, $bg_gradient2, $bordercolor);
}

.o_eportfolio_maps .o_map-epmst-red4 {
	h4 {
		color: $titlecolor;
	}
	.panel-body, td, a {
		color: $infotextcolor;
	}
}