$bg_gradient1 : #DFF0C1;
$bg_gradient2 : #A0D346;

$infotextcolor : #000;
$bordercolor : #bbb;
$titlecolor : #555;

.o_map-epmst-green3 {
	@include epmst-map($bg_gradient1, $bg_gradient2, $bordercolor);
}

.o_eportfolio_maps .o_map-epmst-green3 {
	h4 {
		color: $titlecolor;
	}
	.panel-body, td, a {
		color: $infotextcolor;
	}
}