$bg_gradient1 : #ECF69A;
$infotextcolor : #000;
$bordercolor : #888;
$titlecolor : #444;

.o_map-epmst-green {
	background-color: $bg_gradient1;
	border: 1px solid $bordercolor; 
	border-left: 3px solid transparentize(darken($bordercolor, 20%),0.2);
}

.o_eportfolio_maps .o_map-epmst-green {
	h4 {
		color: $titlecolor;
	}
	.panel-body, td, a {
		color: $infotextcolor;
	}
}