$bg_gradient1 : #ECF69A;
$bg_gradient2 : #ECF69A;

$infotextcolor : #000;
$bordercolor : #888;
$titlecolor : #444;

.o_eportfolio_maps .o_map-epmst-green {
	@include epmst-mapclosed($bg_gradient1, $bg_gradient2, $bordercolor);

	h4 {
		color: $titlecolor;
	}
	.panel-body, td, a {
		color: $infotextcolor;
	}
}

.o_eportfolio_map.o_map-epmst-green {
	@include epmst-actualpage($bg_gradient1, $bg_gradient2, $bordercolor);
}