$bg_gradient1 : #D7DBB5;
$bg_gradient2 : #D7DBB5;

$infotextcolor : #000;
$bordercolor : #bbb;
$titlecolor : #555;

.o_eportfolio_maps .o_map-epmst-green4 {
	@include epmst-mapclosed($bg_gradient1, $bg_gradient2, $bordercolor);

	h4 {
		color: $titlecolor;
	}
	.panel-body, td, a {
		color: $infotextcolor;
	}
}

.o_eportfolio_map.o_map-epmst-green4 {
	@include epmst-actualpage($bg_gradient1, $bg_gradient2, $bordercolor);
}