$bordercolor : #888;

.o_map-leather {
	background-color: rgb(149, 115, 82);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248,248,248, 0.7)), color-stop(100%, rgba(193,193,193, 0.5))), url('#{$o-images-path}portfolio/white-leather-tile.jpg');
	background-image: -webkit-linear-gradient(top, rgba(248,248,248, 0.7), rgba(193,193,193, 0.5)), url('#{$o-images-path}portfolio/white-leather-tile.jpg');
	background-image: -moz-linear-gradient(top, rgba(248,248,248, 0.7), rgba(193,193,193, 0.5)), url('#{$o-images-path}portfolio/white-leather-tile.jpg');
	background-image: -ms-linear-gradient(top, rgba(248,248,248, 0.7), rgba(193,193,193, 0.5)), url('#{$o-images-path}portfolio/white-leather-tile.jpg');
	background-image: -o-linear-gradient(top, rgba(248,248,248, 0.7), rgba(193,193,193, 0.5)), url('#{$o-images-path}portfolio/white-leather-tile.jpg');
	background-image: linear-gradient(top, rgba(248,248,248, 0.7), rgba(193,193,193, 0.5)), url('#{$o-images-path}portfolio/white-leather-tile.jpg');
	
	font-family: Palatino, Georgia, serif;

	border: 1px solid $bordercolor; 
	border-left: 3px solid transparentize(darken($bordercolor, 20%),0.2);
}

.o_eportfolio_maps .o_map-leather {
	h4 {
		background: rgba(243, 230, 225, 0.3) none;
	}
	
	.panel-body, td {
		color: #333;
	}
	
	a {
		color: #fad9a4;
	}
}

.o_eportfolio_map.o_map-leather {
	.o_map_header {
		h4, p, a, span, label {
			color: #333;
		}
	}
}
