@mixin epmst-map($bg1,$bg2,$bordercolor) {
	background: $bg1;
	background: $bg1 -webkit-gradient(linear, 37% 20%, 53% 100%, from($bg1), to($bg2));
	background: $bg1 -moz-linear-gradient(43% 71% 101deg,$bg2,$bg1);
	background: $bg1 -o-linear-gradient($bg1, $bg2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$bg1}', EndColorStr='#{$bg2}');
	 
	border: 1px solid $bordercolor; 
	border-left: 3px solid transparentize(darken($bordercolor, 20%),0.2);
}


