position = -1;

if(document.querySelector){
    var selector = "${tocSelector}";
    var level1 = "${level1}";
    var level2 = "${level2}";
    var page = "${page}";
    var structure = "${structure}";
    
    var selection = window.document.evaluate(selector, window.document.body, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
    
    for(i = 0; i < selection.snapshotLength; i++){
        var current = selection.snapshotItem(i);
        
        if(current != null && current.className.indexOf(level1) != -1){
            var currentPage = window.document.evaluate("(" + selector + ")[" + (i + 1) + "]" + "//a//span[contains(text(), \'" + page + "\')]", window.document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
            
            if(currentPage.snapshotLength > 0){
                current = selection.snapshotItem(i + 1);

                for(j = 0; current != null && current.className.indexOf(level2) != -1; j++){
                    current = selection.snapshotItem	(i + 1 + j);
                    
                    var currentStructure = window.document.evaluate("(" + selector + ")[" + (i + 1 + j + 1) + "]" + "//a//span[contains(text(), \'" + structure + "\')]", window.document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
                    
                    if(currentStructure.snapshotLength > 0){
                        position = i + 1 + j;
                        break;
                    }
                }
             
                break;
             }
        }
    }
}

position;
