/* 
	Add your custom content styles here to override styles from light/modules/_content.scss. 
	Only used in iframes content 
*/

 /* OpenOLAT logo in navbar */
.o_navbar-brand {
  	padding: $navbar-padding-vertical $navbar-padding-horizontal;
	font-size: 28px;
	color: $brand-primary !important;
	&:after {
		content: "\E600";
		font-family: openolat;
	}		
}
 