/* 
	Add your custom content styles here to override styles from light/modules/_content.scss. 
	Only used in iframes content 
*/

 /* OpenOLAT logo in navbar */
.o_navbar-brand {
	/* width - height */
	background-image: url("images/OpenOlat_Logo_RGB.svg");
	background-position: -35px -62px;
	background-size: 250px;
	background-repeat: no-repeat;
	height: 50px;
	width: 60px;
}

/* Logo in member list print view */
#o_print_brand .o_navbar-brand {
	background-image: url("images/OpenOlat_Logo_RGB.svg");
}
.o_cmembers_print #o_print_brand {
	width: 5cm;
}
/* Special logo on login screen, but only when enough space is available */
#o_body.o_dmz {
	.o_navbar-brand {
		display: none;
	}
	.o_login .o_login_intro {
		position: relative;
		text-align: center;
		/* logo boxed and centered above login box on small screens */
		&:before {
			content: ' ';
			display: inline-block;
			background-image: url("images/OpenOlat_Logo_claim_RGB.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 85%;
			width: 400px;
			max-width: 100%;
			height: 110px;
			margin-top: -30px;
		}
		/* remove header, we have logo */
		h1 {
			display: none;
		}
	} 

	@media (min-width: $screen-xs-max) { 
		#o_bg {
			background-position: top left;
			border-top: 0;
			border-bottom: 0;
		}
		/* no border */
		 #o_navbar_wrapper {
			border: 0;
		}
		
		.o_login {
			background: rgba(255,255,255,0.8);
			width: 480px;
			left: 10%;
			padding: 40px;
			border-radius: 20px;
			position: relative;
		}
		
		.o_login .o_login_intro {
			/* logo boxed in a way that it is a bit bigger than the login box */
			&:before {
				position: absolute;
				top: 0;
				left: -25px;
				background-position: -40px -150px;
				background-size: 510px;
				width: 460px;
				height: 110px;
				margin-top: 0px;
			}
			padding-top: 120px;
		}
			
		.o_infomessage_wrapper {	
			background: rgba(255,255,255,0.8);
			left: 500px;
			width: 400px;
			top: -30px;
			position: absolute;
			border-radius: 20px;
		}
			
		/* transparent with dark background -> white fonts */
		#o_navbar_wrapper {
			background: transparent;
		}
		.o_navbar-nav>li>a {
		    background: rgba(255,255,255,0.5);
		    color: #2d2926;
		    border-radius: 5px;
		    padding: 5px 10px;
		    margin: 10px;
    
			&:hover {
			    background: rgba(255,255,255,0.8);
			}
		}	
		
		#o_footer_wrapper {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.8) 100%);
			border: 0;
			height: 100px;
			padding-top: 30px;
		}
		#o_footer_container,
		#o_footer_container a {
			background: transparent;
			color: #FFF;
		}		
		/* Social sharing icons in footer: weiss auf weiss... */
		#o_share_social_container a {
			color: $link-color;
			&:hover {
				color: darken($link-color, 10%);
			}
		}	
	}
}
#o_footer_wrapper {
	border-top: 1px solid #e6e6e6;
}

 