@charset "UTF-8";

@media all{

$bg_gradient1 : #E8AFBB;
$bg_gradient2 : #E8AFA0;

$infotextcolor : #000;
$bordercolor : #888;
$titlecolor : #444;

.epmst-red3 {
	@include epmst-font;
}

ul.b_eportfolio_maps {
	li.epmst-red3, li.template.epmst-red3 { 
		@include epmst-mapclosed($bg_gradient1,$bg_gradient2,$bordercolor) 
	}
	.b_map_info p { color: $infotextcolor; }
	li.epmst-red3 > h4 {
		@include epmst-front-h4;
		color: $titlecolor;
	}
	li.epmst-red3 > div.b_map_descr {
		@include epmst-front-p;
	}
}

.b_eportfolio_map.epmst-red3 {
	@include epmst-actualpage($bg_gradient1,$bg_gradient2);
}

.epmst-red3 { 
	@include epmst-pagination($titlecolor);
}
	
}